
body {
   margin:0; padding:0;
}

strong { font-weight: 700; }
header{margin:0; padding:10px 0; background:#ffffff;}
.logo{float:left;}
.header-right {
    float: right;
    position: relative;
    }
header .header-right a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    border-radius: 50%;
    margin-left: 6px;
    text-align: center;
    position: relative;
    padding: 0;
    color: #232323;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
}
.banner {
    margin: 0;
    padding: 0;
    background: #cbc8c3 url(banner-bg.png) no-repeat;
}
.demo {
    background: #606060;
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    border-radius: 4px 4px 0 0;
    font-family: 'Omnes Regular';
    font-weight: 500;
}
.pmp{margin:0; padding:15px 0; overflow:hidden;}
.pmp h1{margin:0; padding:0; font-family:'Oswald', sans-serif; font-size:36px; font-weight:700; color:#585858; text-transform:uppercase; text-align:center;}
.pmp h2{margin:0; padding:10px 0 0 0; font-family:'Omnes Regular', sans-serif; font-size:26px; font-weight:400; color:#2e2e2e; text-align:center;}

.kb{margin:0;padding:0; overflow:hidden;}
.bg-w{padding:18px 0 18px 100px;}
.bg-w h2{margin:0; padding:0 0 15px 0; font-family:'Oswald', sans-serif; font-size:30px; font-weight:700; color:#e86902; text-transform:uppercase;}
.bg-w ul{margin:0; padding:0; list-style-type:none;}
.bg-w ul li { background:url(bullet1.png) no-repeat left; margin:0; padding:0 0 0 40px; font-family:'Omnes Regular', sans-serif; font-size:20px; font-weight:400; color:#2e2e2e; }
.bg-g{padding:53px 100px 53px 14px;}
.bg-g ul{margin:0; padding:0; list-style-type:none;}
.bg-g ul li { background:url(bullet2.png) no-repeat left; margin:0; padding:0 0 0 40px; font-family:'Oswald', sans-serif; font-size:35px; font-weight:300; color:#fcff00; }
.product {
    margin: 15px 0;
    padding: 0;
}
    .h-bg {
        margin: 0;
        padding: 0 10px;
        width: 100%;
        background: #585858;
        border-bottom: 4px solid #e86902;
        
    }
.h-content {
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    border-left: 1px solid #585858;
    border-right: 1px solid #585858;
    border-bottom: 4px solid #e86902;
    height:235px;
}
    .h-content p {
        margin: 0;
        padding: 0 0 0 0;
        font-family: 'Omnes Regular', sans-serif;
        font-size: 17px;
        line-height:20px;
        font-weight: 600;
        color: #000000;
    }
    .h-content ul {
        margin: 0;
        padding: 10px 0 0 0;
        list-style-type: none;
    }
        .h-content ul li {
            background: url(bullet3.png) no-repeat left;
            margin: 0;
            padding: 0 0 0 20px;
            font-family: 'Omnes Regular', sans-serif;
            font-size: 17px;
            font-weight: 300;
            color: #000000;
        }

    .product h1 {
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height:22px;
    }
.footer {
    margin: 20px 0 0 0;
    padding: 10px 0;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #585858;
}
@font-face {
    font-family: 'Omnes Regular';
    src: url('Omnes.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
 @media (max-width: 768px) {
    .pmp h1 {
        font-size: 21px;
        
    }
    .pmp h2 {
       
        font-size: 20px;
    }
    .bg-w {
        padding: 18px 0 18px 8px;
    }
    .bg-g {
        padding: 20px 100px 20px 14px;
    }
    .h-bg {
        margin: 10px 0 0 0;
        
    }
       }
/* End Enabling Law Practices */