@{
    ViewBag.Title = "ForgotPassword";
}

@Scripts.Render("~/Bundles/ForgotPasswordScripts")
<style>
    .navbar-toggle {
        display: none;
    }
    .container-fluid img {
        margin-left:5px;
        left:0;
    }
</style>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="row margin-left-0 margin-right-0 forgot-form" id="forgot-form">
    <div class="col-md-6 col-md-offset-3">
        <div class="row panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Forgot Password?</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-6 form-group divRegisterForm">
                    <div class="form-group" id="submitUserForm">
                        <div class="input-group">
                            <span>Username </span><input type="text" class="form-control" id="userName" onblur=" disableFields() " maxlength="16" required>
                            <span class="input-group-btn spnBtnSubmit">
                                <button class="btn btn-danger" id="forgotPassword" type="button">Submit</button>
                            </span>
                        </div>
                    </div>
                    <hr />
                    <div class="or">OR</div>
                    <div class="form-group" id="submitEmployeeForm">
                        <div class="form-group">

                            <span>Employee ID </span><sup class="text-danger">*</sup><input type="text" class="form-control" onblur=" disableControl() " maxlength="6" id="empId">

                        </div>
                        <div class="form-group">
                            <span>Phone # </span><sup class="text-danger">*</sup>
                            <input type="text" class="form-control" onblur=" disableControl() " placeholder="ex: (999) 999-9999" id="phone">
                        </div>
                        <div class="form-group">
                            <span>ZIP/Postal code </span><sup class="text-danger">*</sup>
                            <input type="text" class="form-control" onblur=" disableControl() " id="zip" placeholder="ex: 23230 or A1A 1A1">
                        </div>
                        <div class="form-group">
                            <button type="button" id="frgtPassword" class="btn btn-danger btn-block"> Submit </button>
                        </div>
                        <div class="form-group text-center font-12">
                            @Html.ActionLink("Back to the Login Page", "Login", "Account", null, new { @class = "goToLogin" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 form-group divValidation">
                    <p class="m-t-md">
                        If you have forgotten your password, RetailData can email a new one to you.
                        After you receive your password, it is highly recommended that you
                        log in and change it to something a little easier to remember.
                    </p>
                    <p class="m-t-md">Please enter your information below to receive a new password</p>
                </div>
            </div>
        </div>
    </div>
</div>

