@{
    ViewBag.Title = "Register";
}

@Scripts.Render("~/Bundles/RegistrationScripts")

<style>
    .navbar-toggle {
        display: none;
    }
    .container-fluid img {
        margin-left:5px;
        left:0;
    }
</style>
<div class="row margin-left-0 margin-right-0 register-form" id="register-form">
    <div class="col-md-6 col-md-offset-3">
        <div class="row panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Field User Registration</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 form-group divRegisterForm">

                        <div class="row form-group margin-left-0 margin-right-0">
                            <span>Phone #</span><sup class="text-danger">*</sup> <input type="text" class="form-control" id="phone" placeholder="ex: (999) 999-9999">
                        </div>
                        
                        <div class="row form-group margin-left-0 margin-right-0">
                            <span>Desired Login URL</span><sup class="text-danger">*</sup> <input type="text" class="form-control" id="FPuserName" maxlength="16">
                        </div>
                        <div class="row form-group margin-left-0 margin-right-0">
                            <button type="button" id="btnRegister" class="btn btn-danger btn-block"> Register </button>
                        </div>
                        <div class="row form-group text-center font-12 margin-left-0 margin-right-0">
                            @Html.ActionLink("Back to the Login Page", "Login", "Account", null, new { @class = "goToLogin" })
                        </div>
                    </div>
                    <div class="col-md-6 form-group divValidation">
                        <h4 class="margin-0 text-primary">Valid entries must meet the following criteria</h4>
                        <hr />
                        <ul>


                            <li><strong>Username</strong></li>
                            <ul>
                                <li>Can not be blank</li>
                                <li>Must have at least 3 characters</li>
                                <li>Must have no more than 15 characters</li>
                                <li>Only the following characters are valid</li>
                                <ul>
                                    <li>Letters</li>
                                    <li>Digits</li>
                                </ul>
                            </ul>
                        </ul>
                        <p>Your entries must match our records in order to receive a login account.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

