@{
    ViewBag.Title = "CreateUser";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<style>
    .main_drive_wrapper {
        height: 75vh !important;
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        border: 1px solid lightgray !important;
        border-radius: 10px !important;
        margin-top: 15px !important;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <section id="header">
            <div class="container-main">
                <div class="text-left">
                    <p class="ctitle">Cloud Integrations</p>
                </div>
                <div class="tab_wrapper" style="margin:20px 0 0 0;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/@Session["firmcode"]/OneDrive/index">OneDrive</a></li>
                        <li><a href="/@Session["firmcode"]/Dropbox/index" class="tabstyle">Dropbox</a></li>
                        <li><a href="/@Session["firmcode"]/GoogleDrive/index" class="tabstyle">Google Drive</a></li>

                    </ul>
                </div>
            </div>
        </section>
        <section class="main_drive_wrapper">
            <div id="page-wrapper">
                <div class="container-fluid showcontent" id="showcontent" style="display:none;">
                    <div class="box">
                    </div>
                </div>
                @*<script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>*@
                <script src="~/CssJsfiles/js/jquery.dataTables.min.js"></script>

                <div class="drive_inner_wrappper" style="width: 384px; height: 234px; background-color: #FAFAFA;">
                    <div class="head_icon">
                        <img src="~/newassets/img/ms_onedrive.svg" alt="googe_logo" />
                    </div>
                    <div class="head_details">
                        <h5>Connect with oneDrive</h5>
                        <p>Work faster and smarter by integrating directly with OneDrive, right in the app.</p>

                        <a href="/OneDrive/Connect" class="btn btn-primary" title="signin to OneDrive">Connect Now  <img width="8px" height="10px" src="~/newassets/img/right_arrow.svg" alt="googe_logo" /></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
