@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<style>
    ul li {
        display: inline;
    }
</style>
<script src="~/Scripts/CW/CauseListRevenue.js"></script>
<section class="wrapper">
    <div class="container-main">
        <div>
            <h2 class="title">Revenue CauseList </h2>
            <div id="exTab1">
                <ul class="nav nav-pills " style="margin-bottom: 7px">
                    <li class="active">
                        <a style="padding: 5px 5px !important" href="#a111" data-toggle="tab">DateWise Causelist</a>
                    </li>
                    <li>
                        <a style="padding: 5px 5px !important" href="#a211" data-toggle="tab">Causelist</a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="a111">
                        <div class="box-header" style="margin-top:5px;">
                            <ul class="btn_panel no-margin pull-left" style="padding:0;" id="sectiontemp">
                                <li style="margin-top:-10px;">
                                    <input type="date" class="form-control inputbg" id="casedate" name="casedate">
                                </li>
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="getcauselist" name="getcauselist">Search</button>
                                </li>
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="exporttoexcel">Excel</button>
                                </li>
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="exporttopdf">PDF</button>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="" style="overflow-x:auto; ">
                                    <div class="table-panel table-responsive">
                                        <table id="causelist1" class="dataTable table " cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="RevenueCourtName" width="12%"><div class="thbg">Revenue Court Name</div></th>
                                                    <th class="JanpadName"><div class="thbg">Janpad Name</div></th>
                                                    <th class="MandalName"><div class="thbg">Mandal Name</div></th>
                                                    <th class="TahsilName"><div class="thbg">Tahsil Name</div></th>
                                                    <th class="vCaseName" style="width:250px;"><div class="thbg">CaseName</div></th>
                                                    <th class="vCaseNo"><div class="thbg">Case No</div></th>
                                                    <th class="vCauselistDate"><div class="thbg">CauseList Date</div></th>
                                                    <th class="Filetext"><div class="thbg">CauseList Detail</div></th>
                                                    <th class="Action"><div class="thbg">action</div></th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:center;" id="binddatacw1">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settingpanel">
                            <div class="col-md-6">
                                <div id="ptfooter" style="float:left;margin-top:5px;margin-left:5px;"></div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="a211">
                        <div class="box-header" style="margin-top:5px;">
                            <ul class="btn_panel no-margin pull-left" style="padding:0;" id="sectiontemp">
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="agetcauselist" name="agetcauselist">Search</button>
                                </li>
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="aexporttoexcel">Excel</button>
                                </li>
                                <li style="margin-top: -10px;">
                                    <button type="button" class="sbtbtn" id="aexporttopdf">PDF</button>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="" style="overflow-x:auto; ">
                                    <div class="table-panel table-responsive">
                                        <table id="acauselist1" class="dataTable table" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="RevenueCourtName" width="12%"><div class="thbg">Revenue Court Name</div></th>
                                                    <th class="JanpadName"><div class="thbg">Janpad Name</div></th>
                                                    <th class="MandalName"><div class="thbg">Mandal Name</div></th>
                                                    <th class="TahsilName"><div class="thbg">Tahsil Name</div></th>
                                                    <th class="vCaseName" style="width:250px;"><div class="thbg">CaseName</div></th>
                                                    <th class="vCaseNo"><div class="thbg">Case No</div></th>
                                                    <th class="vCauselistDate"><div class="thbg">CauseList Date</div></th>
                                                    <th class="Filetext"><div class="thbg">CauseList Detail</div></th>
                                                    <th class="Action"><div class="thbg">action</div></th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:center;" id="abinddatacw1">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settingpanel">
                            <div class="col-md-6">
                                <div id="aptfooter" style="float:left;margin-top:5px;margin-left:5px;"></div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>