<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
@using NJDGDetail.Models;
@{
    var firmcode = Request.Url.Segments[1];
}
@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
@using QueryStringEDAES;
<script>
    var filesize = @ViewBag.filesize;
    var id = "@ViewBag.token";
    var roleids = "@role";
</script>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<script src="~/Scripts/Firm/Pages/AddCaseFile.js?3.1"></script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<style>
    #questionLIst td div {
        background: #d3e9ff;
        border-radius: 5px;
        padding: 5px;
    }

    .hyperlink {
        cursor: pointer;
        color: #069;
    }

    b {
        /*font-weight:500 !important;*/
    }

    table > tbody > tr td {
        font-size: 15px !important;
        /*font-family:monospace;*/
    }

    .form-control1 {
        width: 49%;
        border: 1px solid #ccc;
        /* border-radius: 4px; */
        height: 30px;
        color: #000;
        padding: 0 3px;
    }

    .txtbox-setting {
        width: 80px;
        border: 1px solid #ccc;
        padding: 5px 2px;
        font-size: 14px;
    }

    .txtbox-setting1 {
        width: 200px;
        border: 1px solid #ccc;
        padding: 5px 2px;
        font-size: 14px;
    }

    .txtbox-setting2 {
        width: 284px;
        border: 1px solid #ccc;
        padding: 5px 2px;
        margin: 8px 0 9px 0;
        font-size: 14px;
    }

    .txtbox-setting3 {
        width: 284px;
        border: 1px solid #ccc;
        padding: 5px 2px;
        margin: 0 0 9px 0;
    }
</style>
<script>
            var type = '@ViewBag.type'
</script>
<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
<script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
<script src="~/CssJsfiles/js/pdfmake.min.js"></script>
<script src="~/CssJsfiles/js/html2canvas.min.js"></script>
<script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#questionLIst')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("CaseDetails.pdf");
            }
        });
    });
</script>
<script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("searchdata2");
        filter = input.value.toUpperCase();
        table = document.getElementById("example");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    function fsearchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("fstatus");
        filter = input.value.toUpperCase();
        table = document.getElementById("example");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByClassName("cstatus");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    function asearchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("fassign");
        filter = input.value.toUpperCase();
        table = document.getElementById("example");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByClassName("auserto");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
<input type="hidden" id="casenametxtval" />
<input type="hidden" id="courttextval" />
<input type="hidden" id="casenotxtval" />
<input type="hidden" id="nhdateval" />
<input type="hidden" id="mnhdateval" />
<section class="wrapper">
    <div class="container-main">
        <div>
            <h2 class="title">Court Hearing Details </h2>
            <div id="updatePanel" style="overflow-x:auto; " class="table-panel table-responsive">
                <table id="questionLIst" class="dataTable table " cellspacing="10" cellpadding="10" width="100%">
                    <tbody id="binddatacw"></tbody>
                </table>
                <div>
                    <center><span id="datastatus"></span></center>
                </div>
            </div>
            <div class="table-panel">
                <div class="settingpanel">
                    <div class="col-md-6">
                        <div style="float: left;padding: 0 10px 0 0;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pull-right">
                            <li>
                                <div class="btn-group dropup">
                                    <a href="javascript:void()" class=" dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -5px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action Selected
                                    </a>
                                    <ul class="dropdown-menu settingaction">
                                        <li><a href="javascript:void()" id="btnExport" title="Export to Excel" onclick="tableToExcelnew('questionLIst', 'CaseDetails')"> Excel</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay" style="display:block;">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        z-index: 9999 !important;
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
@*<script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>*@
@*<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>*@
<br />
<div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<script>
    function loadcasedata(ids) {
        var url = "/firm/VCaseDetails/" + ids;
        $('.mymodels').load(url, function (result) {
            $('#myModal').modal({ show: true });
        });
    }
    $("input:checkbox:not(:checked)").each(function () {
        var column = "table ." + $(this).attr("name");
        $(column).hide();
    });
    $("input:checkbox").click(function () {
        var column = "table ." + $(this).attr("name");
        $(column).toggle();
    });
</script>
<div id="myModalcasealerts" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Matter Alerts Settings
                </h4>
            </div>
            <div class="modal-body" style="height:500px; overflow-y:scroll;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ec_bg">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="exTab1">
                                            <ul class="nav nav-pills alertbox" style="margin-bottom: 10px !important">
                                                <li class="formLabel active">
                                                    <a href="#2a" data-toggle="tab">Create Alerts</a>
                                                </li>
                                                <li>
                                                    <a href="#1a" data-toggle="tab">View Alerts</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane " id="1a">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-panel table-responsive" style="overflow-x:auto">
                                                                <table class="dataTable table" style="overflow-x:auto">
                                                                    <tr>
                                                                        <th width="10%"><div class="thbg">Matter</div></th>
                                                                        <th width="20%"><div class="thbg">Matter Name</div></th>
                                                                        <th width="10%"><div class="thbg">Court</div></th>
                                                                        <th width="20%"><div class="thbg">Hearing  Date</div></th>
                                                                        <th width="5%"><div class="thbg">Manual Hearing Date</div></th>
                                                                        <th width="10%"><div class="thbg">Mobile No</div></th>
                                                                        <th width="10%"><div class="thbg">Email Id</div></th>
                                                                        <th width="5%"><div class="thbg">Created Date</div></th>
                                                                        <th width="5%"><div class="thbg">Alert On</div></th>
                                                                        <th width="5%"><div class="thbg">Sent</div></th>
                                                                        <th width="5%"><div class="thbg">Alert For</div></th>
                                                                        <th width="5%"><div class="thbg"></div></th>
                                                                    </tr>
                                                                    <tbody id="assignusercasedata"></tbody>
                                                                </table>
                                                                <center><div class="nofoundst" style="display:none">No data found.</div></center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane active" id="2a" style="margin-top:10px;">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span id="textleadid" style="display:none"></span>
                                                            <form id="savecasealert">
                                                                <div>
                                                                    <b>Matter Name:</b> <span class="inputFormat" id="casenotext"></span><br>
                                                                </div>
                                                                <div style="padding-top:4px"> <b>Court:</b><span class="inputFormat" id="courttext"> </span><br></div>
                                                                <div style="padding-top:4px"> <b>Matter No.:</b> <span class="inputFormat" id="casenametext"></span><br></div>
                                                                <div style="padding-top:4px">
                                                                    <b> Hearing:</b>
                                                                    <span class="inputFormat" id="hearingradiodiv"><input type="radio" id="hearingradio" name="hearingdateradio" style="cursor:default !important;" value=""> &nbsp;Next Hearing (<span id="hearingdttext"></span>)</span>
                                                                    <span class="inputFormat" id="mhearingradiodiv"><input type="radio" id="mhearingradio" name="hearingdateradio" style="cursor:default !important;" value=""> &nbsp;Manual Next Hearing (<span id="mhearingdttext"></span>)</span>
                                                                </div>
                                                                <br /><br />
                                                                <div>
                                                                    <label class="col-md-3" style="margin-left:-15px;">
                                                                        Set Alert Date:
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <input type="date" class="form-control inputFormat" id="callfromdate" onkeydown="return false" />
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <label class=" col-md-3">
                                                                    </label>
                                                                    <div class="col-md-9 text-center" style="padding: 10px 0px 10px 0px;">
                                                                        <span>Or</span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <label class=" col-md-3">
                                                                    </label>
                                                                    <div class="col-md-9" style="margin-left:-17px;">
                                                                        <select name="ddldays" id="ddldays" class="selctInputFormat" style="background-color: white !important;  width: 30% !important">
                                                                            <option selected="selected" value="">-Day-</option>
                                                                            <option value="0">0</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                            <option value="13">13</option>
                                                                            <option value="14">14</option>
                                                                            <option value="15">15</option>
                                                                            <option value="16">16</option>
                                                                            <option value="17">17</option>
                                                                            <option value="18">18</option>
                                                                            <option value="19">19</option>
                                                                        </select>
                                                                        <select name="ddlHearing" id="ddlHearing" class="selctInputFormat" style="background-color: white !important;  width: 50% !important">
                                                                            <option selected="selected" value="0">--Select--</option>
                                                                            <option value="1">Days Before Hearing</option>
                                                                            <option value="2">Days After Hearing</option>
                                                                            <option value="3">On Same Day</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <label class="col-md-3" style="margin-left:-15px;">
                                                                        Set Alert For:
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <select name="ddlalertfor" id="ddlalertfor" class="selctInputFormat" style="background-color: white !important;  width: 80% !important">
                                                                            <option selected="selected" value="">--Select--</option>
                                                                            <option value="4">Self</option>
                                                                            <option value="0">Client </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-horizontal" id="alertmobpanel" style="display:none">
                                                                    <label class="control-label col-md-3">
                                                                        Mobile: <span class="required" aria-required="true" style="color:red"><b>*</b> </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <input class="inputFormat" id="clientmobile" type="text" maxlength="10">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-horizontal" id="alertemailpanel" style="display:none">
                                                                    <label class="control-label col-md-3">
                                                                        Email: <span class="required" aria-required="true" style="color:red"><b>*</b> </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <input class="inputFormat" id="cientemail" type="email" maxlength="50">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group form-horizontal" style="clear:both">
                                                                    <label class="control-label col-md-3"></label>
                                                                    <div class="col-md-9" style="padding: 10px 0px 0 0px;">
                                                                        <button class="sbtbtn" id="savealerts" date-val="" type="button" name="submit" value="Submit" text="Save" style="margin:0px 6px 0 1px;">SAVE</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalcasefile" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Matter Documents
                </h4>
            </div>
            <div class="modal-body" sstyle="height:500px; overflow-y:scroll;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ec_bg">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="exTab1">
                                            <ul class="nav nav-pills">
                                                <li class="active">
                                                    <a href="#3a" data-toggle="tab">View Documents</a>
                                                </li>
                                                @if (role.ToString() == "1" || role.ToString() == "2")
                                                {
                                                    <li>
                                                        <a href="#4a" data-toggle="tab">Add Document</a>
                                                    </li>
                                                }
                                            </ul>
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active" id="3a">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-panel table-responsive" style="overflow-x:auto">
                                                                <table class="dataTable table">
                                                                    <tr>
                                                                        <th width="15px;"><div class="thbg">Sl. No.</div></th>
                                                                        <th width="100px;"><div class="thbg">File Name</div></th>
                                                                        <th width="140px;"><div class="thbg">Date</div></th>
                                                                        <th width="200px;"><div class="thbg">Created By</div></th>
                                                                    </tr>
                                                                    <tbody id="assignuserdata">
                                                                        <center>
                                                                            <div class="notfound" id="pdatastatus" style="display:none;">
                                                                                <img src="~/newassets/img/not-found.png" />
                                                                                <h4><span id="dtNotFound">No data found</span></h4>

                                                                            </div>
                                                                        </center>
                                                                    </tbody>
                                                                </table>
                                                                <center><div id="stsdata" class="stsdata" style="display:none">No data found.</div></center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (role.ToString() == "1" || role.ToString() == "2")
                                                {
                                                    <div class="tab-pane" id="4a">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span id="textleadid" style="display:none"></span>
                                                                <form id="saveleadcallform">
                                                                    <div class="form-group form-horizontal">
                                                                        <label class="control-label col-md-3">Select Document <span class="required" aria-required="true">*</span></label>
                                                                        <div class="col-md-9">
                                                                            <input type="file" class="form-control inputFormat" id="attachment" multiple />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-horizontal">
                                                                        <label class="control-label col-md-3"></label>
                                                                        <div class="col-md-9">
                                                                            <button type="button" class="sbtbtn" id="savecasefile">Save</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalmanualhearing" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Update Next Hearing
                </h4>
            </div>
            <div class="modal-body" sstyle="height:500px; overflow-y:scroll;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ec_bg">
                            <input type="hidden" id="caseidhide">
                            <input type="hidden" id="nhhide">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group ">
                                        <label class="formLabel colorDark col-md-4">Next Hearing Date</label>
                                        <div class="col-md-8">
                                            <input class="form-control inputFormat" style="backgroudn-color: white !important;" type="date" id="manualnhdate">
                                        </div>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <div class="modal-footer" style="border-top: none !important">
                    <button type="button" id="setmanualnh" class="sbtbtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalSCourtDetails" class="modal fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-header btn-primary">
            <button type="button" class="close" id="closemodels22" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="ScourtDetailsLabel"></h4>
        </div>
        <div class="modal-body  SCourtDetailsbody " id="SCourtDetailsbody" style="height:550px; overflow-y:scroll;background:white;">
        </div>
    </div>
</div>