@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-size:14px !important;
  color:#000000;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Montserrat', sans-serif;
  color:#4e4e4e;
}
p{margin:0 !important; padding:0;}
h3{font-size:16px !important;}
.navbar-header{padding:18px 0 6px 0;}
.navbar-brand {
    float: left;
    height: auto !important;
    padding: 0px 0 4px !important;
    font-size: 18px;
    line-height: 20px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0 !important;
    margin-top: -10px;
}
.navbar-nav {
    margin: 10px 0 0 0 !important;
}
.navbar {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    background: #f6f6f6;
    padding: 3px 0;
    padding-bottom: 0 !important;
    min-height: auto !important;
}

.navbar-inverse {
    background-color:#f6f6f6 !important;
    border-color: #ededed !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000 !important;
	font-weight:600;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent  !important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 9px !important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 6px !important;
}
.navbar-inverse .navbar-toggle {
    background: #000;
}
.socialmediapanel {
    margin: 0;
    padding:22px 0 0 0;
    overflow: hidden;
}
.socialmediapanel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
.socialmediapanel li {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.bannersection{
	
	margin:0; 
	padding:0;
	width: 100%;
	background:#000918;
	}

.kb {
    margin: 0;
    padding: 14px 0 14px 0;
}
.bg-w {
    padding: 45px 0;
}
.bg-w h2 {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    color: #0860b7;
    text-transform: uppercase;
}
.bg-w ul {
    margin: 0 0 0 20px;
    padding: 0;
}
.bg-w ul li {
    margin: 0;
    padding: 3px 0 5px 0;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.bg-g {
    padding: 0;
}
.demo {
    background: #0860b7;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    padding: 8px 15px;
    margin: 0 0 12px 0 !important;
    font-weight: bold;
}
.services {
    margin: 20px 0;
    background: #f1f1f1;
    padding: 9px 0 2px;
}
.border-r {
    border-right: 1px solid #b9b9b9;
}


.tabsection {
    margin: -150px 0 0 0;
    padding: 185px 0 20px 0;
    background: #e9e4e4;
}


	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    cursor: default;
    background-color: #1860a3 !important;
    border: 1px solid #1860a3 !important;
    border-bottom-color: transparent;
}
.title {
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    margin: 0;
    padding: 10px 0 20px 0;
    font-weight: 600;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.tile1 {
    
    margin-bottom: 10px;
   
    text-align: center;
    padding: 0;
}

.product {
    margin: 15px 0;
    padding: 0;
}
.h-bg {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    background: #0860B7;
}
.product h1 {
    margin: 0;
    padding: 4px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.h-content {
    margin: 0;
    padding: 10px 10px;
    width: 100%;
	background:#f1f1f1;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 4px solid #cccccc;
    height: 235px;
}
.h-content p {
    margin: 0;
    padding: 0 0 0 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #000000;
}
.h-content ul {
    margin: 17px;
    padding: 0px 0 0 0;
    /* list-style-type: none; */
}
.h-content ul li {
    /* background: url(bullet3.png) no-repeat left; */
    margin: 0;
    padding: 0 0 0 0px;
    /* font-family: 'Omnes Regular', sans-serif; */
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}
.footer {
    margin: 20px 0 0 0;
    padding: 10px 0;
    width: 100%;
    background: #0860B7;
}

@media (max-width:768px) {
	.navbar-brand {
   
    padding: 0px 0 4px 20px !important;
    
}
.border-r {
    border-right: none;
	border-bottom: 2px solid #0860b7;

}
.bg-w {
    padding: 10px 0;
}
.bg-w h2 {
    
    padding: 0 0 14px 0;
    font-size: 20px;
    
}
.bg-w ul li {
    
    padding: 3px 0 0px 0;
    font-size: 14px;
}
.tile1 {
    margin-bottom:0;
    padding: 0 0 0px 0;
}
.title {
    font-size: 16px !important;
   
    margin: 0;
    padding: 5px 0 5px 0;
   
}
.hide-m{display:none;}
}
