@{
    ViewBag.Title = "CreateUser";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }

}

<section class="wrapper">
    <div class="container-main">
        <section id="header">
            <div class="container-main">
                <div class="text-left">
                    <h2 style="margin-top:0px;">Cloud Integrations</h2>
                </div>
                <div class="tab_wrapper">
                    <ul class="nav nav-tabs">
                        @*<li><a href="/MANU22/OneDrive/index">OneDrive</a></li>
        <li class="active"><a href="/MANU22/Dropbox/index" class="tabstyle">Dropbox</a></li>
        <li><a href="/MANU22/GoogleDrive/index" class="tabstyle">Google Drive</a></li>*@
                        <li ><a href="/@Session["firmcode"]/OneDrive/index">OneDrive</a></li>
                        <li class="active"><a href="/@Session["firmcode"]/Dropbox/index" class="tabstyle">Dropbox</a></li>
                        <li><a href="/@Session["firmcode"]/GoogleDrive/index" class="tabstyle">Google Drive</a></li>

                    </ul>
                </div>
            </div>
        </section>
        <section class="main_drive_wrapper">
            <div id="page-wrapper">
                <div class="container-fluid showcontent" id="showcontent" style="display:none;">
                    <div class="box">
                    </div>
                </div>
                @*<script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>*@
                <script src="~/CssJsfiles/js/jquery.dataTables.min.js"></script>

                <div class="drive_inner_wrappper">
                    <div class="head_icon">
                        <img src="~/newassets/img/dropbox.svg" alt="googe_logo" />
                    </div>
                    <div class="head_details">
                        <h5>Connect with Dropbox Drive</h5>
                        <p>Work faster and smarter by integrating directly with Dropbox Drive, right in the app.</p>

                        <a href="/Dropbox/Connect" class="btn btn-primary" title="signin to Dropbox Drive">Connect Now  <img width="8px" height="10px" src="~/newassets/img/right_arrow.svg" alt="googe_logo" /></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


