<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mykase - Enabling Law Practices to Adopt Digital transformation</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/elp/bootstrap.min.css">
    <link rel="stylesheet" href="~/elp/elp1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

</head>

<body>
    <script>
        var Source = "@ViewBag.Source";

    </script>
    <header>
        <div class="container">
            <div class="row">
                <a href="https://www.mykase.in/" target="_blank" class="logo img-responsive"><img src="~/elp/logo_mykase.png" title="myKase" alt="myKase"></a>
                <div class="header-right">
                    <a href="https://www.linkedin.com/showcase/mykasemanupatra" target="_blank" class=""><i class="fa fa-linkedin" aria-hidden="true" style="font-size: 20px;"></i></a>
                    <a href="https://www.youtube.com/watch?v=cDvQfi4Qwuo" target="_blank" class=""><i class="fa fa-youtube-play" aria-hidden="true" style="font-size: 20px;"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8"><img src="~/elp/banner1.png" class="img-responsive" title="myKase" alt="myKase"></div>
                <div class="col-md-4">
                    <div class="r-form-1-box wow fadeInLeft animated" style=" visibility: visible; animation-name: fadeInLeft; background:#ffffff; border: 1px solid #b9b9b9;padding: 2px;margin: 23px 0 30px 0;border-radius:0 0 10px 10px;">
                        <p class="demo">Schedule a Demo</p>
                        <iframe src="/schedule-demo?f=1&Source=@ViewBag.Source" width="100%" height="320px" frameborder="0" style="padding:10px 0 0 0;"></iframe>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="pmp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Practice Management Platform</h1>
                    <h2>A definitive tool for Lawyers, Law Firms & Corporate Legal Departments</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="kb">
        <div class="col-md-6" style="background:#f2f2f2;">
            <div class="bg-w">
                <h2>Key Benefits</h2>
                <ul>
                    <li>Visibility and control over end to end process</li>
                    <li>Centralized repository of all files & information</li>
                    <li>Cross-Functional Collaboration</li>
                    <li>Become a DATA Informed Legal Team</li>
                    <li>Increase ROI- Do More with Less</li>
                    <li>Optimum Use of Resources</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6" style="background:#585858;">
            <div class="bg-g">
                <ul>
                    <li>Centralized Information</li>
                    <li>Seamless Collaboration</li>
                    <li>Client Experience</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="h-bg">
                        <h1 style="padding: 15px 0;">Litigation Management Platform</h1>
                    </div>
                    <div class="h-content" style="background: url(~/elp/p-bg1.png) no-repeat right bottom;">
                        <p>Track all Your Legal Matters<br />from one location.</p>
                        <ul>
                            <li>Matter Management</li>
                            <li>Document Management</li>
                            <li>Litigation Tracking</li>
                            <li>Expense Management</li>
                            <li>Invoice Management</li>
                            <li>Task Management</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="h-bg">
                        <h1 style="padding: 4px 0;">Request & Matter Management Platform<br /><span style="font-weight:300;">for Corporate Legal Teams</span> </h1>
                    </div>
                    <div class="h-content" style="background: url(~/elp/p-bg2.png) no-repeat right bottom;">
                        <p>A single unified platform which gets requests, matters, people, clients, documents, communication, dates & external counsel together in one place.</p>
                        <ul>
                            <li>Request Management</li>
                            <li>Matter Management</li>
                            <li>Document Management</li>
                            <li>Expense Management</li>
                            <li>Task Management</li>

                        </ul>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="h-bg">
                        <h1 style="padding: 15px 0;">Notice Management Platform</h1>
                    </div>
                    <div class="h-content" style="background: url(~/elp/p-bg3.png) no-repeat right bottom;">
                        <p>Manages the notices throughout their lifecycle in a single streamlined workflow.</p>
                        <ul>
                            <li>Send & Receive Notices</li>
                            <li>Document Management</li>
                            <li>Smart Alerts</li>
                            <li>Workflow</li>
                            <li>Reports + Customized Dashboard</li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="footer">

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <ul style="margin:5px auto 0; padding:0; list-style-type:none;">
                        <li style="float:left; padding:0px 2px 0 0px;"><img src="~/elp/mail_icon.png" width="21" height="16"></li>
                        <li style="float:left; padding:0; color:#000000;">contact@mykase.in</li>
                        <li style="float:left; padding:0px 2px 0 10px"><img src="~/elp/phone_icon.png" width="20" height="19"></li>
                        <li style="float:left; padding:0; color:#000000;">0120-4014433</li>
                        <li style="float:left; padding:0px 2px 0 9px"><a href="https://api.whatsapp.com/send?phone=918800106683&amp;text=I%27m%20interested%20in%20myKase%20services.%20Please%20call%20me%20on%20this%20no" target="_blank"><img src="~/elp/whatapp_icon.png" width="22" height="22"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <img src="~/elp/manu_logo.png">
                </div>
            </div>
        </div>

    </section>

</body>
</html>
