@{
    ViewBag.Title = "ChannelListQT";
    Layout = null;// "~/Views/Shared/_ManuPanelPartial.cshtml";
    var strenyfirmid = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(Session["sessionfirmid"].ToString().Replace("_", " ")));
    var strenyuserid = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(Session["sessionuserid"].ToString().Replace("_", " ")));
    var strenyusername = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(ViewBag.UseName.Replace("_", " ")));
    var firmcode121 = Session["FirmCode"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="/Manupanel/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/newassets/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/newassets/css/custom.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https:/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<style>
    table th, td {
        font-size: 12px !important;
    }
</style>
<section class="wrapper">
    <input type="hidden" id="userid" value="@Session["sessionuserid"].ToString()" />
    <div class="container" style="width:100%!important">
        <div class="row">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-3">Join Chat</a></li>
                    <li><a href="#tabs-1">Matter Channel</a></li>
                    <li><a href="#tabs-2">Private Channel</a></li>
                    <li><a href="#tabs-4">Chat Setting</a></li>
                </ul>
                <div id="tabs-1" style="padding: 0px 5px 0 5px !important;">
                    <p><iframe id="frmnew" src="/@firmcode121/chat/ChannelListQTDetail" height="500px" width="98%" style="border:none;padding:10px 0 0 0;overflow-y:scroll"></iframe></p>
                </div>
                <div id="tabs-2" style="padding: 0px 5px 0 5px !important;">
                    <p><iframe id="frmnew1" src="/@firmcode121/chat/PrivateChannelListQTDetail" height="500px" width="98%" style="border:none;padding:10px 0 0 0;overflow-y:scroll"></iframe></p>
                </div>
                <div id="tabs-3" style="padding: 0px 5px 0 5px !important;">
                    <p><iframe id="frmnew1" src="/@firmcode121/chat/InvitedchatQT" height="450px" width="98%" style="border:none;padding:10px 0 0 0;overflow-y:scroll"></iframe></p>
                </div>
                <div id="tabs-4" style="padding: 0px 5px 0 5px !important;">
                    <p><iframe id="frmnew1" src="/@firmcode121/chat/ChatSetting" height="450px" width="98%" style="border:none;padding:10px 0 0 0;overflow-y:scroll"></iframe></p>
                </div>
            </div>
    </div>
</section>
@*<script>
        $(document).ready(function () {
            var ecpageindex = 1, ecpagesize = 10;
            var url = "/"+@firmcode121+"/ChannelListQTDetail";
            alert(url)
            $("#frm").attr("src", url);
            $(document).on('change', '#drpChattype', function () {
                var drpval = this.value;
                if (drpval == "1") {
                    url = "/"+@firmcode121+"/ChannelListQTDetail";
                    $("#frm").attr("src", url);
                }
                else {
                    url = "/"+@firmcode121+"/PrivateChannelListQTDetail";
                    $("#frm").attr("src", url);
                }
            });
        });
    </script>*@
