@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<style>
    .modal_a {
        position: fixed;
        z-index: 9999999999;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }

    .modal_a-content {
        background-color: #fefefe;
        margin: 50px auto 0;
        padding: 10px 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 50%;
        height: 400px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .close_a {
        position: relative;
        right: -20px;
        top: -22px;
        float: right;
    }

        .close_a:hover, .close_a:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<script src="~/Scripts/Firm/Pages/Chat.js?5.4"></script>
<section class="wrapper">
    <div class="container-main">
        <div class="">
            <h2 class="title">Archived Chat List </h2>
            <div class="content-header " style="margin-bottom: 27px;">
                <div class="row" style="padding:10px 0 10px 0px;">
                    <div class="col-md-3">
                        <label>Archived Chat Name</label>
                        <input class="form-control inputbg" id="name" type="text" maxlength="200">
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label>From Date</label>
                        <input class="form-control inputbg" id="datefrom" onkeypress="return false;" type="date">
                    </div>
                    <div class="col-md-3" style="display:none">
                        <label>To Date</label>
                        <input class="form-control inputbg" id="dateto" onkeypress="return false;" type="date">
                    </div>
                    <div class="col-md-3" style="margin-left:-5px;">
                        <span class="" id="searchremovechannellist" style="color:black;display:none;font-weight:350;font-size:15px;cursor:pointer;">x</span>
                        <button type="button" id="btnsearch" class="sbtbtn" style="margin:17px 0 0 0;">Search</button>
                    </div>
                </div>
                <div class="table-panel table-responsive">
                    <div style="">
                        <table class="table" id="cexample1">
                            <thead>
                                <tr>
                                    <th class="ddate" onclick="sortTable(0)"><div class="thbg">Date<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                    <th class="vChatName" onclick="sortTable(1)"><div class="thbg">Chat Name<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                    <th class="vChatText" style="width:200px;text-align:center" onclick="sortTable(2)"><div class="thbg">Chat Description<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                </tr>
                            </thead>
                            <tbody id="doclist"></tbody>
                        </table>
                    </div>
                    <div class="row settingpanel">
                        <div class="col-md-6">
                            <div class="row">
                                <ul>
                                    <li>
                                        <div class="btn-group dropup" style="display:none">
                                            <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -3px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-cog" style="font-size:16px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                                Customize Field
                                            </a>
                                            <ul class="dropdown-menu settingshowhide" id="EColli">
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ddate" checked><a href="#" class="dropdown-item">Date</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="vChatName" checked><a href="#" class="dropdown-item">Chat Name</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="vChatText" checked><a href="#" class="dropdown-item">Chat Description</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="margin-left:20px;">
                                        <div id="ecfootercompare"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal fade myModal " role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content mymodels" id="mymodels">
                            </div>
                        </div>
                    </div>
                    <div id="comparemodal" class="modal_a" style="display:none">
                        <div class="modal_a-content">
                            <img src="/Newassets/images/v_btn.png" class="close_a" id="mclose" width="22px" height="22">
                            <iframe src="" id="frmcompare" width="100%" height="350px" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("cexample1");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function psortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("pexample");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function osortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("oexample");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#ectimecontact").autocomplete({
            disabled: true
        });
    });
    $("#filterclient").change(function () {
        var flval = $("#filterclient").val();
        if (flval != "") {
            loadmatter1(flval, "filtercasescheduler");
        }
    });
    function loadmatter1(clientid, mtypes) {
        if (mtypes != "") {
            $('#' + mtypes).append('<option value="">Select Matter</option>').find('option:first').attr("selected", "selected");
            getcasebyajax1(clientid, mtypes);
        }
    }
    function getcasebyajax1(clientid, matteridslbl) {
        try {
            openload();
        }
        catch
        {
        }
        $.ajax({
            async: true,
            type: "POST",
            url: "/api/callApi/LoadMatterforclient",
            headers: {
                "clientid": clientid
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Status == true) {
                    var datas = JSON.stringify(response);
                }
                else {
                    //alert("not found");
                }
                var obj = JSON.parse(response.Data);
                if (matteridslbl == "filtercasescheduler") {
                    $("#filtercasescheduler").empty();
                    var optiontempy = '<option value="" >Matters</option>';
                    $("#" + matteridslbl).append(optiontempy);
                }
                $.each(obj, function (i, a) {
                    var mattername = a.mname;
                    var mid = a.Id;
                    if (mattername == null) {
                        mattername = "";
                        mid = "";
                    }
                    else {
                        var option = '<option value="' + mid + '" > ' + mattername + '</option>';
                        $("#" + matteridslbl).append(option);
                    }
                });
                try {
                    closeload();
                }
                catch
                {
                }
                //console.log(response);
            },
            failure: function (response) {
                alert(data.responseText);
                try {
                    closeload();
                }
                catch
                {
                }
            },
            error: function (response) {
                alert(data.responseText);
                try {
                    closeload();
                }
                catch
                {
                }
            }
        });
    }
    $(function () {
        $("#taskcontact").typeahead({
            hint: true,
            highlight: true,
            minLength: 3,
            source: function (request, response) {
                request = request.replace(/"/g, "").replace(/\\/g, "");
                $.ajax({
                    async: true,
                    url: '/Firm/ClientFilter',
                    data: "{ 'prefix': '" + request + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.val;
                            var name = item.label;
                            var utype = item.utype;
                            var isclient = item.isclient;
                            var CompanyID = item.CompanyID;
                            var ProfileType = item.ProfileType;
                            var LabelName = item.LabelName;
                            map[name] = { id: id, name: name, utype: utype, isclient: isclient, CompanyID: CompanyID, ProfileType: ProfileType, LabelName: LabelName };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                        $(".typeahead li").removeClass("active");
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            updater: function (item) {
                $("#member").css("height", "100px !important;")
                var clientds = map[item].id;
                if (clientds != "") {
                    $('#ecmatter').empty();
                    loadmatter1(clientds, "ecmatter");
                }
                else {
                    //$('#alertmember').empty().append('<option value="ALL">Select All User</option>').find('option:first').attr("selected", "selected");
                }
                return item;
            }
        });
    });
    $(function () {
        $("#ectimecontact").typeahead({
            hint: true,
            highlight: true,
            minLength: 3,
            source: function (request, response) {
                request = request.replace(/"/g, "").replace(/\\/g, "");
                $.ajax({
                    async: true,
                    url: '/Firm/ClientFilter',
                    data: "{ 'prefix': '" + request + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        items = [];
                        map = {};
                        $.each(data, function (i, item) {
                            var id = item.val;
                            var name = item.label;
                            var utype = item.utype;
                            var isclient = item.isclient;
                            var CompanyID = item.CompanyID;
                            var ProfileType = item.ProfileType;
                            var LabelName = item.LabelName;
                            map[name] = { id: id, name: name, utype: utype, isclient: isclient, CompanyID: CompanyID, ProfileType: ProfileType, LabelName: LabelName };
                            items.push(name);
                        });
                        response(items);
                        $(".dropdown-menu").css("height", "auto");
                        $(".typeahead li").removeClass("active");
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            updater: function (item) {
                var clientds = map[item].id;
                $("#ectimecontactvalue").val(clientds);
                if (clientds != "") {
                    $('#ecmatter').empty();
                    loadmatter1(clientds, "ecmatter");
                }
                else {
                    //$('#alertmember').empty().append('<option value="ALL">Select All User</option>').find('option:first').attr("selected", "selected");
                }
                return item;
            }
        });
    });
</script>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
