@{
    ViewBag.Title = "ChatMenu";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var firmcode121 = Session["FirmCode"];
}
<style>
    .dbox {
        margin: 0;
        padding: 0;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        color: #333;
        background: #fff;
        height: 70px;
    }
        .dbox:hover {
            background: #cce6ff;
        }
    .chat_wrapper {
        width: 60%;
        margin: 20px auto;
        overflow: hidden;
    }
    .iconwrapper {
        margin: 3px 0 0 3px;
        padding: 0;
        float: left;
    }
    .txtwrapper {
        margin: 0;
        padding: 10px 15px 0 0;
        float: right;
        text-align: right;
    }
        .txtwrapper p a {
            color: #545454;
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
        }
</style>
<section class="wrapper">
    <div class="container">
        <div >
            <h2 class="title" style="margin-left: 33px">Chat Menu</h2>
            @if (Session["sessionroleid"].ToString() == "3")
            {
                     <div >
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="ec_bg">
                                    <div class="iconwrapper"><img src="/newassets/images/pchat.png" width="62" height="62"></div>
                                    <div class="txtwrapper">
                                        <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/PrivateChannelList"
                                            title="Private Chat" style="color: black">Private Channels</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="ec_bg">
                                    <div class="iconwrapper"><img src="/newassets/images/jchat.png" width="62" height="62"></div>
                                    <div class="txtwrapper">
                                        <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/InvitedChat" title="Join Chat" style="color: black">Join Chat</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div >
                        <div class="col-md-12">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6" style="margin-top:10px;">
                                    <div class="ec_bg">
                                    <div class="iconwrapper"><img src="/newassets/images/chatlist.png" width="62" height="62"></div>
                                    <div class="txtwrapper">
                                            <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/ChatSaveList" title="Chat List" style="color: black">Archived Chat List</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
            }
            else
            {
                var _dashmatter1 = Convert.ToString(Session["dashmatter"]);
                if (_dashmatter1.ToString() == "display:unset")
                {
                    _dashmatter1 = "display:block";
                }
             <div >
                    <div class="col-md-12">
                            <div style="margin-bottom: 20px" class="col-md-6">
                                <div class="ec_bg">
                                <div class="iconwrapper"><img src="/newassets/images/tchat.png" width="62" height="62"></div>
                                <div class="txtwrapper">
                                        <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/ChannelList" title="Channel Chat" style="color: black">Matter Channels</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="ec_bg">
                                <div class="iconwrapper"><img src="/newassets/images/pchat.png" width="62" height="62"></div>
                                <div class="txtwrapper">
                                        <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/PrivateChannelList" title="Private Chat" style="color: black">Private Channels</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div >
                    <div class="col-md-12">
                        <div style="margin-bottom: 20px" class="col-md-6">
                            <div class="ec_bg">
                                <div class="iconwrapper"><img src="/newassets/images/jchat.png" width="62" height="62"></div>
                                <div class="txtwrapper">
                                    <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/InvitedChat" title="Join Chat" style="color: black">Join Chat</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="ec_bg">
                                <div class="iconwrapper"><img src="/newassets/images/chatlist.png" width="62" height="62"></div>
                                <div class="txtwrapper">
                                        <p style="padding:35px 0 0 0;"><a href="/@firmcode121/Chat/ChatSaveList" title="Chat List" style="color: black">Archived Chat List</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@*<div id='divChatReminder' style="text-align:center;color:#333;position:absolute;bottom:10px;right:10px;border:1px solid #4CAF50;border-radius: 5px;padding:10px 5px;width:300px;font-weight:bold;display:none">
    You have a chat. Please join from <a href="InvitedChat" id="chatjoin" ><b>Join Chat!</b></a>
   <img src="/NewDesign/images/v_btn.png" class="close_a" id="reminderClose" width="22px" height="22" style="right: -12px; top: -27px;cursor:pointer"></div>
<input type="hidden" id="hidtempchatdisable" value="0" />
<p id="chatdisable" style="cursor:pointer">Disable Chat</p>
<script>
    $(document).ready(function () {    
        $(document).on('click', '#reminderClose', function () {
            $("#divChatReminder").hide();
        });
        CheckChatJoinedByUser();
        setInterval(function () { if ($("#hidtempchatdisable").val() == "0") { CheckChatJoinedByUser(); }}, 100000);
        function CheckChatJoinedByUser() {
            $.ajax({
                async: true,
                url: '/api/ChatApi/CheckChatJoinedByUser',              
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {                   
                    if (response.Data.length > 0 && $("#hidtempchatdisable").val()=="0") {
                        $("#divChatReminder").show();
                    }
                    else {
                        $("#divChatReminder").hide();
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        $(document).on('click', '#chatjoin', function () {
            $("#hidtempchatdisable").val("1");
            $("#divChatReminder").hide();           
        });
        $(document).on('click', '#chatdisable', function () {
            $("#hidtempchatdisable").val("1");
            $("#divChatReminder").hide();
        });
    });
</script>*@