@{
    Layout = null;
    string strid = Request.QueryString["id"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatView</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/Manupanel/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="view">
    </div>
</body>
<script>
    $(document).ready(function () {
    $("#binddata").html("");
    var formData = new FormData();
    formData.append("id", @strid);
    // openload();
    $("#view").empty();
    var ld12 = $.ajax({
        async: true,
        url: '/api/ChatApi/ChatView',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        success: function (response) {
            if (response.Status == true) {
               // var datas = JSON.stringify(response);
                // var obj = JSON.parse(response.Data);
            }
            var html3 = '';
            $.each(response.Data, function (i, val) {
                html3 += val.vChatText;
            });
            $("#view").append(html3);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
    $.when(ld12).then(function (data, textStatus, jqXHR) {
        //closeload();
     //$(".cls").removeAttr("href").css("cursor", "auto").css("color", "black").css("text-decoration","none");
        });
    });
</script>
</html>
