@using QueryStringEDAES;
@{
    ViewBag.Title = "CreateChannel";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var activedate = Convert.ToDateTime(DateTime.Now).ToString("dd-MMM-yyyy");
    string strteamid = Request.QueryString["tid"].ToString().Replace(" ", "+");
    string strteamname = Request.QueryString["tnm"];
    string strcuruser = Session["sessionuserid"].ToString();
}
<script src="~/Scripts/Firm/Pages/Chat.js?4.6"></script>
<style>
    table th, td {
        font-size: 12px !important;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <div>
            <div class="content-header " style="margin: 0 auto 27px;">
                <p style="margin-bottom:20px">Team <b>@strteamname.Replace("_", " ")</b></p>
                <ul class="btn_panel" style="padding:0;" id="sectiontemp">
                    <li>
                        Channel Name :
                    </li>
                    <li>
                        <input type="text" class="form-control inputbg" id="ChannelName" name="ChannelName" value="" maxlength="500">
                    </li>
                    <li align="right"><button type="button" class="sbtbtn" style="margin-top:-10px;" onclick="CreateCustomChannel('@strteamid')">Save</button></li>
                </ul>
                <input type="hidden" id="activedate" value="@activedate" />
                <input type="hidden" id="hidcuruser" value="@strcuruser" />
            </div>
            <div class="table-panel table-responsive">
                <table id="example" class="table " style="width:100%;clear:both">
                    <thead>
                        <tr><th><div class="thbg">User Name</div></th><th><div class="thbg">Select</div></th></tr>
                    </thead>
                    <tbody id="CustomChanneldata"></tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    ChatTeamsUserList("@strteamid");
</script>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>