@{
    ViewBag.Title = "FirmUserClientJoinChat";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/Chat.js?2.5"></script>
<h2>FirmUserClientJoinChat</h2>
<table style="width:90%" border="0">
    <td width="40%" valign="top">
        <table id="example" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                <tr><td>Team User</td><td style="display:none"></td></tr>
            </thead>
            <tbody id="binddata"></tbody>
        </table>
    </td>
    <td>
        <iframe id="frmchat" src="https://www.manupatra.com" height="500px" width="100%"></iframe>
    </td>
</table>
<script>
    TeamChatValidUserList('@strteamid');
      var url = "http://localhost:62988/chat/joinchat?tid=@strteamid&uid=@struserid&unm=@strusername";
          $("#frmchat").attr("src", url);
</script>