@{
    ViewBag.Title = "InvitedChat";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var strenyfirmid = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(Session["sessionfirmid"].ToString().Replace("_", " ")));
    var strenyuserid = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(Session["sessionuserid"].ToString().Replace("_", " ")));
    var strenyusername = Convert.ToBase64String(QueryStringEDAES.QueryAES.EncryptAes(ViewBag.UseName.Replace("_", " ")));
}
<style>
    table th, td {
        font-size: 12px !important;
    }
</style>
<section class="wrapper">
    <input type="hidden" id="userid" value="@Session["sessionuserid"].ToString()" />
    <div class="container-main">
        <div>
            <h2 class="title">Join Chat</h2>
            <div class="table-panel table-responsive">
                <table id="example" class="table" style=" margin:0 auto;">
                    <thead>
                        <tr><th><div class="thbg">Chat Type</div></th><th><div class="thbg">Chat Name</div></th><th><div class="thbg">Matter Name</div></th><th><div class="thbg">Group Info</div></th><th width="80px" style="text-align:center;"><div class="thbg">Join</div></th><th><div class="thbg">Creation Date</div></th></tr>
                    </thead>
                    <tbody id="bindinvitedchatlist1"></tbody>
                </table>
                <div class="settingpanelpchat settingpanel">
                    <div class="col-md-6">
                        <div class="row">
                            <ul>
                                <li>
                                    <div class="btn-group dropup" style="display:none">
                                        <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -3px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-cog" style="font-size:16px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                            Customize Field
                                        </a>
                                        <ul class="dropdown-menu settingshowhide" id="EColli">
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="Team" checked><a href="#" class="dropdown-item">Team</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="Chat" checked><a href="#" class="dropdown-item">Chat</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li style="margin-left:18px;margin-top:12px;">
                                    <div id="ecfooterpchat"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(document).on('click', '#mclose', function () {
            $("#modalview").hide();
        });
            var ecpageindex = 1, ecpagesize = 10;
       function openload() {
        $('#myOverlay').css("display", "block");
    }
    function closeload() {
        $('#myOverlay').css("display", "none");
    }
        InvitedChatList(ecpageindex);
        function InvitedChatList(ecpageindex) {
            var struserid = $("#userid").val();
            var strrecord = 0;
            $("#bindinvitedchatlist1").empty();
            $("#bindinvitedchatlist1").html("");
            var formData = new FormData();
            formData.append("firmid", "@Session["sessionfirmid"].ToString()");
            formData.append("userid", "@Session["sessionuserid"].ToString()");
            formData.append("pagenum", ecpageindex);
            formData.append("pagesize", ecpagesize);
             openload();
            var ld12=  $.ajax({
                async: true,
                url: '/api/ChatApi/InvitedChatList',
                data: formData,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (response) {
                    var html3 = '';
                    var tfot = "";
                    $("#ecfooterpchat").empty();
                    var length = response.Data.length;
                    $.each(response.Data, function (i, val) {
                        strrecord = 1;
                        if (i === 0) {
                            firstvalue = val.rownum;
                        }
                        if (i === (length - 1)) {
                            var pnext = ecpageindex;
                            var pprev = ecpageindex;
                            var pageno = ecpageindex;
                            var totdata = val.totRow;
                            var totpage = 0;
                            if (val.totRow > 0) {
                                pnext = parseInt(pnext) + 1;
                                if (pnext == 0) pnext = 1;
                                pprev = parseInt(pageno) - 1;
                                if (pprev == 0) pprev = 1;
                                totpage = parseInt(totdata) / parseInt(ecpagesize);
                                if (parseInt(totdata) % parseInt(ecpagesize) != 0) {
                                    totpage = parseInt(totpage) + 1;
                                }
                                $("#pchatcpagnumvalue").attr("max", totpage);
                            }
                            tfot += '<li>results <span>' + totdata + '</span>  <span id="pchatsotopage" style="display:none">' + totpage + '</span></li>'
                            tfot += '<li><span>|</span></li>'
                            tfot += '<li>pages ' + ecpageindex + '/ ' + parseInt(totpage) + '</li>'
                            tfot += '<li><span>|</span></li>'
                            tfot += '<li ><input type="number" id="pchatcpagnumvalue" min="1"  style="border-bottom:1px solid #4b4b4b!important;width:30px;margin:0 8px 0 0 !Important"><a type="button" id="pchatcgetpagnumvalue" style="margin-left:10px;cursor:pointer">Go</button> </li>'
                            tfot += '<li>'
                            if (val.totRow <= length) { }
                            else if (pageno == 1) { }
                            else if (pageno == totpage) {
                                tfot += '<li><span><a id="pchatpaginate"  title="Previous Page" href="javascript:void()" index="' + pprev + '"><span class="glyphicon glyphicon-arrow-left" style="padding:0 !important"></span></a></span>  ' + firstvalue + '-' + val.rownum + '  <span>'
                            }
                            else {
                                tfot += '<li><span><a id="pchatpaginate"  title="Previous Page" href="javascript:void()" index="' + pprev + '"><span class="glyphicon glyphicon-arrow-left" style="padding:0 !important"></span> </a></span>  ' + firstvalue + '-' + val.rownum + '  <span>'
                            }
                            if (pageno < totpage) {
                                tfot += '<a id="pchatpaginate" title="Next Page" href="javascript:void()" index="' + pnext + '"><span class="glyphicon glyphicon-arrow-right" style="padding:0 0 0 10px !important"></span></a></span>'
                            }
                            $("#ecfooterpchat").append(tfot);
                        }
                        var channeltype = val.iChatType == '1' ? 'Matter' : 'Private';
                        if (val.SenderGuid == val.UserGuid) {
                            if (val.iChatType == 2) {
                               // html3 += '<tr><td>You have private chat invitated with <b>' + val.UserName + '</b></td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                               // html3 += '<tr><td>' + channeltype + '</td><td>You have private chat with channel <b>' + val.ChannelName + '</b></td><td>' + val.CaseName + '</td><td>' + val.UserList +'</td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                html3 += '<tr><td>' + channeltype + '</td><td>' + val.ChannelName + '</td><td>' + val.CaseName + '</td><td>' + val.UserList + '</td><td align="center"><a href="#" id="Channelid" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                            }
                            else {
                                //html3 += '<tr><td>' + channeltype + '</td><td>You have initiated a chat with channel <b>' + val.ChannelName + '</b></td><td>' + val.CaseName + '</td><td>' + val.UserList +'</td><td align="center"><a href="#" id="ChannelidGroup1" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                html3 += '<tr><td>' + channeltype + '</td><td>' + val.ChannelName + '</td><td>' + val.CaseName + '</td><td>' + val.UserList + '</td><td align="center"><a href="#" id="ChannelidGroup1" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                            }
                        }
                        else {
                            if (val.iChatType == 2) {
                                if (struserid == val.UserGuid) {
                                    //html3 += '<tr><td>You have private chat with <b>' + val.SenderName + '</b></td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                   // html3 += '<tr><td>' + channeltype + '</td><td>You have private chat with channel <b>' + val.ChannelName + '</b></td<td>' + val.CaseName + '</td><td>' + val.UserList +'</td>><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                    html3 += '<tr><td>' + channeltype + '</td><td>' + val.ChannelName + '</td><td>' + val.CaseName + '</td><td>' + val.UserList + '</td><td align="center"><a href="#" id="Channelid" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                }
                                else {
                                    //html3 += '<tr><td>You have initiated private chat with <b>' + val.UserName + '</b></td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                    //html3 += '<tr><td>' + channeltype + '</td><td>You have initiated private chat with channel<b>' + val.ChannelName + '</b></td><td>' + val.CaseName + '</td><td>' + val.UserList +'</td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                    html3 += '<tr><td>' + channeltype + '</td><td>' + val.ChannelName + '</td><td>' + val.CaseName + '</td><td>' + val.UserList + '</td><td align="center"><a href="#" id="Channelid" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px">' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                }
                            }
                            else {
                               // html3 += '<tr><td>' + channeltype + '</td><td>You have a chat with channel <b>' + val.ChannelName + '</b></td><td>' + val.CaseName + '</td><td>' + val.UserList +'</td><td align="center"><a href="#" id="ChannelidGroup1" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px"> ' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                                html3 += '<tr><td>' + channeltype + '</td><td>' + val.ChannelName + '</td><td>' + val.CaseName + '</td><td>' + val.UserList + '</td><td align="center"><a href="#" id="ChannelidGroup1" data-tname="' + val.ChannelName + '" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td  width="150px"> ' + formatDatetoIST(val.InviteDate) + ' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                            }
                        }
                        //if (val.SenderGuid == val.UserGuid) {
                        //    if (val.iChatType == 2) {
                        //        html3 += '<tr><td>You have private chat invitation by <b>' + val.SenderName + '</b></td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td>' + formatDatetoIST(val.InviteDate)+' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                        //    }
                        //    else {
                        //        html3 += '<tr><td>You have initiated a chat with team <b>' + val.CaseName + '</b></td><td align="center"><a href="#" id="ChannelidGroup1" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td>' + formatDatetoIST(val.InviteDate) +' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                        //    }
                        //}
                        //else {
                        //    if (val.iChatType == 2) {
                        //        html3 += '<tr><td>You have a private chat with <b>' + val.SenderName + '</b></td><td align="center"><a href="#" id="Channelid" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td>' + formatDatetoIST(val.InviteDate) +' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                        //    }
                        //    else {
                        //        html3 += '<tr><td>You have a chat with team <b>' + val.CaseName + '</b></td><td align="center"><a href="#" id="ChannelidGroup1" data-val=' + val.ChannelGuid + '><img src="/newassets/images/join.png" title="Join" /></a></td><td> ' + formatDatetoIST(val.InviteDate) +' ' + val.InviteDate.substring(11, 19) + '</td></tr>';
                        //    }
                        //}
                    });
                    if (strrecord > 0) {
                        $("#bindinvitedchatlist1").append(html3);
                    }
                    else {
                        $("#bindinvitedchatlist1").append("<tr><td align=center colspan=7>No request found</td></tr>");
                    }
					closeload();
                },
                error: function (response) {
                    alert(response.responseText);
					closeload();
                }
            });
            $.when(ld12).then(function (data, textStatus, jqXHR) {
                $("#EColli li input:checkbox:not(:checked)").each(function () {
                    var column = "#example ." + $(this).attr("name");
                    $(column).hide();
                });
            });
    }
        $(document).on('click', '#pchatpaginate', function () {
            ppageindex = $(this).attr("index");
            InvitedChatList(ppageindex);
        });
        $(document).on('click', '#pchatcgetpagnumvalue', function () {
            ppageindex = $("#pchatcpagnumvalue").val();
            if (ppageindex != "undefined") {
                if (Math.sign(ppageindex) == 1) {
                    var ppageindesx = $("#pchatsotopage").text();
                    if (ppageindex <= parseInt(ppageindesx)) {
                        //openload();
                        loadflag = true;
                        InvitedChatList(ppageindex);
                        //closeload();
                    }
                    else {
                        alert("Please enter a valid page number.");
                        // closeload();
                    }
                }
                else {
                    alert("Please enter a valid page number.");
                }
            }
        });
        $(document).on('click', '#Channelid', function () {
            var strteamname = $(this).attr("data-tname");
            var strfchannelid = $(this).attr("data-val");
            var strffirmid = $("#firmid");
            var strfuserid = $("#userid");
            var strfusername = $("#username");
            var url = "PrivateChat?tid=" + strfchannelid + "&uid=" + strfuserid + "&unm=" + strfusername + "&fid=" + strffirmid + "&tnm=" + strteamname + "&ty=p";
           // window.location.href = url;
window.open(url, '', "menubar=0,resizable=1,width=1000,height=600,left=200");
          //  $("#frm").attr("src", url);
          //  $("#modalview").show();
        });
        $(document).on('click', '#ChannelidGroup1', function () {
            var strteamname = $(this).attr("data-tname");
            var strfchannelid = $(this).attr("data-val");
            var strffirmid = $("#firmid");
            var strfuserid = $("#userid");
            var strfusername = $("#username");
            var url = "UserLogin?tid=" + strfchannelid + "&uid=" + strfuserid + "&unm=" + strfusername + "&fid=" + strffirmid + "&tnm=" + strteamname + "&ty=m";
            //window.location.href = url;
window.open(url, '', "menubar=0,resizable=1,width=800,height=600,left=200");
        //    $("#frm").attr("src", url);
         //   $("#modalview").show();
        });
    });
</script>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("exampleteam");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="modalview" class="modal_a" style="display:none">
    <div class="modal_a-content">
        <img src="/NewDesign/images/v_btn.png" class="close_a" id="mclose" width="22px" height="22">
        <iframe src="" id="frm" width="100%" height="550px" frameborder="0"></iframe>
    </div>
</div>
<style>
    .modal_a {
        position: fixed;
        z-index: 9999999999;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }

    .modal_a-content {
        background-color: #fefefe;
        margin: 0px auto 0;
        padding: 10px 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 60%;
        height: 600px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .close_a {
        position: relative;
        right: -20px;
        top: -22px;
        float: right;
    }

        .close_a:hover, .close_a:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>