@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    var userid = Session["sessionuserid"];
    var firmcode121 = Session["FirmCode"];
}
<style>
    .printtbl td {
        border-left: none !important;
        border-right: none !important;
        border-bottom: 5px solid #fff !important;
        margin-bottom: 14px;
        line-height: 1.428571429;
        vertical-align: top;
        color: #020202;
        font-size: 14px;
        font-weight: 300;
        padding: 3px 8px !important;
        border-top: none !important;
        background: #f4f4f4;
    }

    .printtbl th {
        border-radius: 50px;
        font-size: 14px;
        color: #020202;
        padding: 2px 8px !important;
        white-space: nowrap;
        border: none !important;
        border-top: 2px solid #FFF !important;
        background: #cbeefd;
    }

    .btn_panel li {
        float: left;
        margin: 0px 0 0 4px;
    }
</style>
<script src="~/Scripts/Report/SebiReport.js"></script>
<input type="hidden" id="hdnfrmcode" value="@firmcode121" />
<section class="wrapper">
    <div class="container-main">
        <div>
            <div class="text-center">
                <p class="snav" style="display:none">
                    <a url="/@firmcode121/Report/AgewiseShortPendingReport" class="active" href="javascript:void(0);" id="alink_AgewiseShortPending">Age wise Short Pending</a>
                    <a url="/@firmcode121/Report/AgewiseDetailsPendingReport" href="javascript:void(0);" id="alink_AgewiseDetailsPending">Age wise Details Pending Report</a>
                    <a url="/@firmcode121/Report/FavourAgainstDisposedReport" href="javascript:void(0);" id="alink_FavourAgainstDisposed">Favour Against Disposed Report</a>
                    <a url="/@firmcode121/Report/PendingCaseReportForAllCourt" href="javascript:void(0);" id="alink_PendingCaseReportForAllCourt">Court Wise Pending Cases</a>
                    <a url="/@firmcode121/Report/CategorisationofLitigationcases" href="javascript:void(0);" id="alink_CategorisationofLitigationcases">Categorisation of Litigation cases</a>
                    <a url="/@firmcode121/Report/StatewiseBreakUpCaseReports" href="javascript:void(0);" id="alink_StatewiseBreakUpCaseReports">Statewise Break Up Case Reports</a>
                    <a url="/@firmcode121/Report/CaseReportForAllCourt" href="javascript:void(0);" id="alink_CaseReportForAllCourt">Case Report For All Court</a>
                    <a url="/@firmcode121/Report/SebiSuccessRateReport" href="javascript:void(0);" id="alink_SebiSuccessRateReport">Sebi Success Rate Report</a>
                </p>
            </div>
            <div class="col-md-12 settingpanel"></div>
        </div>
        <div>
            <div id="divcontent"></div>
        </div>
    </div>
</section>