body {
    font-size: 0.9rem !important;
}






.sidebar {
    margin: 0;
    padding: 0;
    padding-top: 7px;
    /*padding-right: 10px;
    width: 10%;*/
    float: left;
    text-align: center;
    height: 550px;
    /*background-color: #84acb3;*/
}

.drawbar {
    margin: 0;
    padding: 0;
    width: 92%;
    float: left;
    text-align: center;
    height: 67vh;
    /*border: 1px solid #d3d3d3;*/
}

.sidebar ul li {
    background-color: #234b5e;
    border-radius: 11px;
    color: #f7ebca;
    cursor: pointer;
    /*margin-bottom: 10px;
    margin-left: 6px;*/
    margin: 10px 6px;
    padding: 8px;
    width: 128px;
    list-style-type: none;
}

.surface-canvas {
    overflow: visible !important;
}

element.style {
    left: 50px;
    top: 50px;
    width: 100px;
    height: 70px;
}

.flowchart-object {
    position: absolute;
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    z-index: 10;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    min-width: 0;
    min-height: 0;
}

/*.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_scrollHeadInner table {
    width: 100% !important;
}*/


