
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>myKase Help Center</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
    <script src="~/Manupanel/js/bootstrap.min.js" type="text/javascript"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <link href="../NewDesign/css/help.css?1.2" rel="stylesheet">
    <script src="~/Scripts/HelpDesk/Help.js?1.5"></script>
    <style>
        #content a {
            text-decoration: none !important;
            cursor: pointer;
            list-style-type: none;
        }

        .bs-example {
            margin: 20px;
        }

        .accordion .fa {
            margin-right: 0.5rem;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 2px;
        }
    </style>
    <script>


        $(document).ready(function () {
            // Add down arrow icon for collapse element which is open by default
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
            });

            // Toggle right and down arrow icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        });
    </script>
</head>
<body>
    <section class="helpcenter">
        <div class="col-md-3">
            <div class="leftpanel">
                <div class="logo">
                    <img src="../NewDesign/images/help/help_logo.png" alt="MyKase" class="img-responsive" />
                </div>
                <hr />
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#content" id="lblcontent">Content</a></li>
                        <li><a data-toggle="tab" href="#search" id="lblSearch">Search</a></li>

                    </ul>

                    <div class="tab-content">
                        <div id="content" class="tab-pane fade in active">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div id="textbinding">
                                    </div>
                                </div>
                                <div class="card-body" id="subtopicbinding"></div>
                            </div>
                        </div>
                        <div id="search" class="tab-pane fade">

                            <ul>
                                <li><input type="text" id="txtsearch" class="form-control" style="width:235px;" /></li>
                                <li><button type="button" class="sbtbtn" id="btnsearchtopic">SEARCH</button></li>
                            </ul>
                        </div>
                        <div class="card-body" style="clear:both;">
                            <ul id="ulsearchlist" style="margin:5px; padding:10px 15px;"></ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <button type="button" id="printdetails" onclick="printDiv();" style="
    float: right;
    margin-top: 6px;
">
                <span class="glyphicon glyphicon-print"></span>
            </button>
            <div class="rightpanel" id="divdetails">
            </div>
        </div>
    </section>
</body>
</html>
