@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/AddSearchQuery.js" type="text/javascript" language="javascript"></script>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <h2 class="title">Add Search Query</h2>
            <div id="page-wrapper">
                <form id="savesearchquery" enctype="multipart/form-data">
                    <!-- Start About boxes -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div style="background:#e0e0e0; padding:5px; border-radius:4px; border:1px solid #cccccc; text-align:center;">
                                        <input type="radio" id="rdPretext" name="radio" value="1" onclick="click_rdoption(1);" checked="checked" /> <strong>Freetext Search</strong> &nbsp;&nbsp;
                                        <input type="radio" id="rdact" name="radio" value="2" onclick="click_rdoption(2);" /> <strong>Act Search</strong>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div>Search Name : <input type='text' class="form-control" id="txtsearchname" name='txtsearchname' maxlength="50" placeholder="Enter Search Name" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div id="dvfreetext">
                                        <div>Freetext Search :<input type='text' class="form-control" name='txtsearch' id='txtsearch' placeholder="Enter Search Text" /></div>
                                    </div>
                                    <div id="divactsearch" style=" display:none;">
                                        <div>
                                            State :
                                            <select class="form-control" id="ActState"></select>
                                        </div>
                                        <div>
                                            Act Search Query :
                                            <input type="hidden" id="hidactid" />
                                            <input type="text" id="Act" class="form-control" placeholder="Act Name" />
                                            <div id="Actlistdisp"></div>
                                        </div>
                                        <div id="divactsection">
                                            Section :
                                            <select class="form-control" id="Section">
                                                <option value="0">--Select--</option>
                                            </select>
                                        </div>
                                        <div style="display:none;">Citation :<input type='text' class="form-control" id="txtcitation" name='txtcitation' maxlength="50" placeholder="Enter citation" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <a href="javascript:void()" style="background: #094fa3;color: #ffffff;border: none;padding: 5px 10px;" name="submit" value="Submit" Text="Add Search" " onclick="return validation();">Add Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style=" padding-top:30px;">
                &bull; This is a Complimentary Alert service for MyKase users. <br />
                &bull; By adding a search query, users will get an alert on their registered email. The alerts will be sent based on query added by users , and will bring latest top 10 results from Manupatra. <br />
                &bull; Each login can set maximum of 10 search queries for which alerts will be sent.<br />
            </div>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
