@{
    /**/

    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }

}
<script>
    var userid = "@userid";
     var roleid = "@role";
</script>

<style>
    #myInput {
        border-box: box-sizing !important;
        /*background-image: url(../../Content/assets/searchicon.png) !important;
        background-position: 14px 12px !important;*/
        background-repeat: no-repeat !important;
        /*font-size: 16px !important;*/
        /*padding: 14px 20px 12px 45px !important;*/
        /*border: none !important;*/
        border-bottom: 1px solid #ddd !important;
        width: 280px;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    #childtbltr1 table thead tr.childtbltr1cls th.childtbltsssr1cls {
        background-color: #fff0f5 !important;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <h2 class="title" id="dynamicnotiheader">Received Notice For Approval</h2>
      
                @*<div style="margin-bottom:10px;">
                    <input type="text" id="myInput" onkeyup="changePage(1)" placeholder="Search for Notice Title.." title="Type in a name">
                </div>*@
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <input type="text" class="inputbg" id="myInput" onkeyup="changePage(1)" placeholder="Search for Notice Title.." title="Type in a name">
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4"></div>
                        <div class="col-md-3"></div>

                        <div class="col-md-5" style="font-size:1px">
                            <label>Incomplete</label> <input type="radio" value="Incomplete" checked name="statustype" class="notistatustype" />
                            <label class="pipesapcls">|</label>
                            <label>Completed</label> <input type="radio" value="Completed" name="statustype" class="notistatustype" />
                        </div>

                    </div>
                </div>
                <div class="table-panel table-responsive" style="padding:10px 0 0 0; overflow-x:auto;" data-example-id="hoverable-table">
                    <div style="overflow-x:scroll;">
                        <table id="example" class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="noticeby" data-column="SendersName" data-order="desc"><div class="thbg">Client Name &#9650</div></th>
                                    <th class="noticeto" data-column="AddressedTo" data-order="desc"><div class="thbg">Notice To &#9650</div></th>
                                    <th class="noticesubject" data-column="NoticeSubject" data-order="desc"><div class="thbg">Notice Subject &#9650</div></th>
                                    <th class="noticetitle" data-column="NoticeTitle" data-order="desc"><div class="thbg">Notice Title &#9650</div></th>
                                    <th class="criticality" data-column="Criticality" data-order="desc"><div class="thbg">Criticality  &#9650</div></th>
                                    <th class="statutory" data-column="NoticeType" data-order="desc"><div class="thbg">Notice Type  &#9650</div></th>
                                    <th class="noticedate" data-column="DateofNotice" data-order="desc"><div class="thbg">Notice Due Date &#9650</div></th>
                                    <th class="pending" data-column="CaseStatus" data-order="desc"><div class="thbg">Notice Status &#9650</div></th>
                                    <th class="dispatched" data-column="DateofDelivery" data-order="desc"><div class="thbg">Date Of Delivery &#9650</div></th>
                                    <th class="servedon" data-column="DateofReceipt" data-order="desc"><div class="thbg">Date Of Reciept &#9650</div></th>
                                    <th class="remark" data-column="CreateNotice" data-order="desc"><div class="thbg">Remarks &#9650</div></th>
                                    <th class="amountclaimed" data-column="AmountClaimed" data-order="desc"><div class="thbg">Amount Claimed  &#9650</div></th>
                                    <th class="actualclosedate" data-column="ActualDateOfClosure" data-order="desc"><div class="thbg">Actual Date Of Closuree  &#9650</div></th>
                                    <th class="managerapprove"><div class="thbg">Status for Manager/Client</div></th>
                                    @*<th class="clientapprove">Status for Client</th>*@
                                    <th class="modeofserviceordelivery" data-column="ModeofServiceorDelivery" data-order="desc"><div class="thbg">Mode of Service/Delivery &#9650</div></th>
                                    <th class="tatsetforassignee" data-column="GenerationofAlerts" data-order="desc"><div class="thbg">Generation of Alerts &#9650</div></th>
                                    <th class="addressaddress" data-column="AddresseeAddress" data-order="desc"><div class="thbg">Addressee Address &#9650</div></th>
                                    <th class="otherdetailsofaddress" data-column="OtherDetailsofAddressee" data-order="desc"><div class="thbg">Other Details of Addressee &#9650</div></th>
                                    <th class="addressto" data-column="AddressedTo" data-order="desc"><div class="thbg">Addressed To &#9650</div></th>
                                    <th class="sendersname" data-column="SendersName" data-order="desc"><div class="thbg">Sender's Name &#9650</div></th>
                                    <th class="senderaddress" data-column="SendersAddress" data-order="desc"><div class="thbg">Sender's Address &#9650</div></th>
                                    <th class="otherdetailsofaddressofsender" data-column="OtherDetailsofSender" data-order="desc"><div class="thbg">Other Details of Sender &#9650</div></th>
                                    <th class="noticethrough" data-column="NoticeThrough" data-order="desc"><div class="thbg">Notice Through &#9650</div></th>
                                    <th class="assignmentoftast" data-column="AssignmentofTask" data-order="desc"><div class="thbg">Assignment of Task &#9650</div></th>
                                    <th class="currentstatus" data-column="CurrentStatus" data-order="desc"><div class="thbg">Current Status &#9650</div></th>
                                    <th class="noticecreatedon" data-column="NoticeCreatedOn" data-order="desc"><div class="thbg">Notice Created On &#9650</div></th>
                                    <th class="attachment"><div class="thbg">Attachment</div></th>
                                    <th width="100px"><div class="thbg">Action</div></th>

                                </tr>
                            </thead>
                            <tbody id="tablevalue"></tbody>
                        </table>
                        <center> <div id="nonotice"> </div></center>
                        <div class="table-panel">
                            <div class="settingpanel">
                                <div class="col-md-6" id="footer-data">
                                    <div style="float: left;padding: 0 10px 0 0;">
                                        <ul>
                                            <li>
                                                <div class="btn-group dropup">
                                                    <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -5px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                                        customize field 
                                                    </a>
                                                    <ul class="dropdown-menu settingshowhide" id="od" style="width:260px; height: 250px !important; overflow-y: scroll">
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"><a>Amount Claimed</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="actualclosedate"><a>Actual Date Of Closuree</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality" checked><a>Criticality</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked><a>Notice By</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked><a>Notice To</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject" checked><a>Notice Subject</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a>Notice Title</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory" checked><a>Statutory/ Non Statutory</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked><a>Notice Due Date</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="pending"><a>Notice Status</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"><a>Date Of Delivery</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a>Remarks</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="managerapprove" checked><a>Status for Manager/Client</a></li>
                                                        @*<li><input type="checkbox" class="shcheckbox1 chkdhide" name="clientapprove" checked><a>Status for Client</a></li>*@
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon"><a>Date Of Reciept</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"><a>Mode of Service/Delivery</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="tatsetforassignee"><a>Generation of Alerts</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress"><a>Addressee Address</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress"><a>Other Details of Addressee</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressto"><a>Addressed To</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="sendersname"><a>Sender's Name</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress"><a>Sender's Address</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"><a>Other Details of Sender</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough"><a>Notice Through</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="assignmentoftast"><a>Assignment of Task</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="currentstatus"><a>Current Status</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticecreatedon"><a>Notice Created On</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment"><a>Attachments</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="noticetbldashboardfooter">

                                    </div>

                                </div>

                                <div class="col-md-6" style="padding-right:20px">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
</section>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">

                <table class="table ">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sender Name</div></th>
                            <th><div class="thbg">Receiver Name</div></th>
                            <th><div class="thbg">Notice Sent On</div></th>
                            <th><div class="thbg">Status</div></th>
                            <th><div class="thbg">Feedback</div></th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="NoticeDraftModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice</h3>
            </div>
            <div class="modal-body">
                <table class="table ">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sr no.</div></th>
                            <th><div class="thbg">File</div></th>
                            <th><div class="thbg">Created By</div></th>
                            <th><div class="thbg">Created Date</div></th>
                        </tr>
                    </thead>
                    <tbody id="draftnoticemodlbody"></tbody>
                </table>
                <center> <div id="nodraftnotice"> </div></center>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                @*<h3 class="modal-title" id="viewmoreheader">Notice</h3>*@
            </div>

            <div class="modal-body">
                <span id="viewmorecontent"></span>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="ReceivedReplyModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Received Reply</h3>
            </div>
            <div class="modal-body" style="height:200px;">

                <form class="ec_bg">
                    <input type="hidden" value="" id="hiddenreplynoticeid" />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Date</label>
                            <input type="date" class="form-control inputFormat" id="txtreplyreciveddate" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Through</label>
                            <textarea class="form-control inputFormatTextArea" id="txtreplyrecivedthrough"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Received Attachment</label>
                            <input type="file" class="form-control inputFormat" id="replypostedFile" multiple />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Set reply date</label>
                            <input type="date" class="form-control inputFormat" id="txtsetreplydate" />
                        </div>

                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <button type="button" id="savereplytonotice" class="sbtbtn pull-right">Save</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ActualclosurModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Closure</h3>
            </div>
            <div class="modal-body" style="height:135px;">
                <form class="ec_bg" enctype="multipart/form-data" novalidate="novalidate">


                    <div class="col-md-12">



                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Close Date</label>
                            <input type="date" class="form-control inputFormat" id="dateofclosure" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Notice Status</label>
                            <select id="ddlnoticestatus" class="form-control selctInputFormat" style="background-color: white !important;">
                                <option value="Active">Settled</option>
                                <option value="Convert to case">Convert to case</option>
                            </select>
                        </div>


                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="saveclosuedate" class="sbtbtn pull-right">Save</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">


        </div>

    </div>
</div>

<div class="modal fade" id="NoticeStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Status</h3>
            </div>
            <div class="ec_bg" style="height:200px;">
                <div class="col-lg-12">
                    <label>Status :</label>
                    <select class="form-control selctInputFormat" style="background-color: white !important;" id="notistatus">
                        <option value="Approve">Approve</option>
                        <option value="Reject">Reject</option>
                    </select>
                </div>
                <div class="col-lg-12">
                    <label>Feedback :</label><span style="color:red">*</span>
                    <textarea class="form-control inputFormatTextArea" id="feedbacktext"></textarea>
                </div>
                <br />
                <div class="col-lg-12" style="padding-top: 10px;">
                    <button type="button" id="statusnoticebtn" class="sbtbtn"  value="Save">save</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/Notice/DraftNotice.js"></script>
