@using NJDGDetail.Models;
@using NJDGDetail.Controllers;
@using NJDGDetail.Models;
@{
    Layout = null;
    //Response.ContentType = "application/xml";
}
<data>
    @{
        var userid = "1632";
        int i = 0;
        EventList recentlyViewedEvent = CalendarEventController.CountCaseBYUserName(userid);
        string ch = "";
        foreach (var myevent in recentlyViewedEvent)
        {
            ch = "";
            EventList recentlyViewedEvent1 = CalendarEventController.GetCalendarEventByUserName1(myevent.username_, myevent.Disposeddt);
            foreach (var myevent1 in recentlyViewedEvent1)
            {
                myevent1.LastFinaldate = Convert.ToDateTime(myevent1.start_date);
                string s = string.Format("{0:D1}", Convert.ToDateTime(myevent1.start_date).ToString("MM"));
                //string s =Convert.ToString( Convert.ToDateTime("01-" + Convert.ToDateTime(myevent1.start_date).ToString("MMM") + "-2011").Month);
                string s1 = Convert.ToDateTime(myevent1.start_date).ToString("dd");
                string y1 = Convert.ToDateTime(myevent1.start_date).ToString("yyyy");
                string main1 = "";
                string main = s + "/" + s1 + "/" + y1;
                main1 = main;
                myevent1.start_date = main;// "11-01-2018 00:00:00";
                                           //myevent1.start_date =  "08/18/2017";
                if (recentlyViewedEvent1.Count > 1)
                {
                    myevent1.text = myevent1.Casetype + ' ' + myevent1.CaseNo + '/' + myevent1.Caseyear + " (" + myevent1.Disposeddt + ") - " + myevent1.Court + "  <br /> <a class=\"more\" href=\"#\" data-toggle=\"modal\" data-target=\"#modalDatebindBysuser\" name=\"register\" onclick=\"DateUservalue('" + System.Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(myevent1.LastFinaldate.ToString())) + "');\">More</a>" + " " + ch;
                }
                else
                {
                    myevent1.text = "<a class=\"txt\" href=\"#\" data-toggle=\"modal\" data-target=\"#modalDatebindBysuser\" name=\"register\" onclick=\"DateUservalue('" + myevent1.LastFinaldate + "');\">" + myevent1.Casetype + ' ' + myevent1.CaseNo + '/' + myevent1.Caseyear + " (" + myevent1.Disposeddt + ") - " + myevent1.Court + " </a>" + " " + ch;
                }
                ch = myevent1.text;
                @*if (i == 0)
                    {
                        EventList recentlyViewedEvent3 = CalendarEventController.GetDistinctNextHearingByUser(myevent.username_, "");
                        foreach (var myevent3 in recentlyViewedEvent3)
                        {
                            EventList recentlyViewedEvent2 = CalendarEventController.GetNextHearingByUser(myevent.username_, myevent3.Disposeddt);
                            foreach (var myevent2 in recentlyViewedEvent2)
                            {
                                if (recentlyViewedEvent2.Count > 0)
                                {
                                    if (recentlyViewedEvent2.Count > 1)
                                    {
                                        myevent2.text = myevent2.Casetype + " " + myevent2.CaseNo + "/" + myevent2.Caseyear + " (" + myevent2.Disposeddt + ") " + "<a class=\"more\" href=\"#\" data-toggle=\"modal\" data-target=\"#modalDatebindBysuser\" name=\"register\" onclick=\"NexthearingbyUser('" + myevent2.Disposeddt + "');\">" + "More Next Hearing</a>";//" Next Hearing";
                                        myevent1.text = myevent2.text;
                                    }
                                    else
                                    {
                                        myevent2.text = "<a class=\"more\" href=\"#\" data-toggle=\"modal\" data-target=\"#modalDatebindBysuser\" name=\"register\" onclick=\"NexthearingbyUser('" + myevent2.Disposeddt + "');\">" + myevent2.Casetype + " " + myevent2.CaseNo + "/" + myevent2.Caseyear + " (" + myevent2.Disposeddt + ") " + "Next Hearing</a>";//" Next Hearing";
                                        myevent1.text = myevent2.text;
                                    }
                                }
                                s = string.Format("{0:D1}", Convert.ToDateTime(myevent2.Disposeddt).ToString("MM"));
                                s1 = Convert.ToDateTime(myevent2.Disposeddt).ToString("dd");
                                y1 = Convert.ToDateTime(myevent2.Disposeddt).ToString("yyyy");
                                main = s + "/" + s1 + "/" + y1;
                                myevent1.id = myevent2.id;
                                myevent1.start_date = main;
                                <event id="@myevent1.id ">
                                    <start_date>
                                        <![CDATA[@myevent1.start_date]]>
                                    </start_date>
                                    <end_date><![CDATA[@myevent1.start_date]]></end_date>
                                    <text><![CDATA[@myevent1.text"]]></text>
                                </event>
                                i = 1;
                                break;
                            }
                        }
                        myevent1.start_date = main1;
                        myevent1.text = ch;
                        myevent1.id = 0;
                    }*@
                @*<event id="@myevent1.id">
                        <start_date><![CDATA[@myevent1.start_date]]></start_date>
                        <end_date><![CDATA[@myevent1.start_date]]></end_date>
                        <text><![CDATA[@myevent1.text"]]></text>
                    </event>*@
                myevent1.start_date = "01/01/2019";
                myevent1.text = ch;
                myevent1.id = 1;
                break;
                //break;
            }
        }
    }
</data>
