
@{
    ViewBag.Title = "CaseOrder";
    Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
}

<h2>CaseOrder</h2>
s
<ul>
    @foreach (var person in ViewBag.data)
    {
        <li>ok @person.VorderDate</li>
    }
</ul>