@{
    Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
}
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var tokenid = "@ViewBag.tokenid";
</script>
<script src="~/Scripts/Client/Pages/ConfigMessage.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
@*<script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>*@
<script src="~/Content/multipleselect/selectize.js"></script>
@*<script src="~/Content/multipleselect/index.js"></script>*@
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<section class="wrapper" style="margin:unset !important">
    <div class="container showcontent" id="showcontent">
        <div class="row">
            <h2 class="title">Compose Message</h2>
            <div class="text-center">
                <p class="snav">
                    <a href="/@Session["firmcode"]/firm/ReceiveMessageList" id="cdtasktab">Inbox</a>
                    <a href="/@Session["firmcode"]/firm/composemessage" id="cdcommutab" class="active">Compose</a>
                    <a href="/@Session["firmcode"]/firm/DraftMessageList" id="cdcontactstab">Draft</a>
                    <a href="/@Session["firmcode"]/firm/ConfigMessageList" id="cddoctab">Sent</a>
                    <a href="/@Session["firmcode"]/firm/ArchiveMessageList" id="cdtimetab">Archive</a>
                </p>
            </div>
            <div class="row settingpanel">
            </div>
            <section class="content">
                <br>  <br>
                <div id="page-wrapper">
                    <!-- Main content -->
                    <div id="loadmessagepage"></div>
                </div>
            </section>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    @*//<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>*@
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<script>
    openloader();
    $(document).ready(function () {
        validnavigation = true;
        window.onbeforeunload = null;
        $("#loadmessagepage").load("/Client/ComposeNewMessage", function () {
            closeloader();
        });
    });
</script>
