@{
    Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
}
<script>
     var wftoken = "@ViewBag.wftoken";
    var id = "@ViewBag.ftoken";
    var cid = "@ViewBag.cid";
</script>
<script>
    var filesize=@ViewBag.filesize
</script>
<i class="pp-icon-user"></i>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<style>
    <style >
    .glyphicon glyphicon-trash {
        display: none;
        color: red;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<!-- Second Form -->
<style>
    form label {
        display: inline-block;
    }

    form div {
        margin-bottom: 10px;
    }

    .error {
        color: red;
        margin-left: 5px;
    }

    label.error {
        display: inline;
    }
</style>
<script src="~/Scripts/Client/Pages/CustomFormDataUpdate.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/jquerydatetimepicker/jquery.js"></script>
<script src="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.js"></script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        @{
            var firmcode = Request.Url.Segments[1];
            firmcode = firmcode.Replace("/", "");
        }
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/client/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/@firmcode/Client/WorkFlowNuserActivity/">WorkFlow Task</a></li>
            <li class="active"><span id="formnamebruid"></span></li>
        </ol>
        <h1><span class="glyphicon glyphicon-th-large"></span> <span id="formname" style="display:none"></span> <span>Workflow Name:  @ViewBag.wfname</span></h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div id="updatePanel">
                    <div class="">
                        <div class="row ">
                            <form id="savecustomform1">
                                <div class="col-md-12">
                                    <div class="form-section-bordered" style="overflow:hidden;padding:10px">
                                        <div class="col-md-12">
                                            <div class="col-lg-6" id="content">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="control-label col-md-4">Accept/ Reject</label><div class="col-md-8"><input type="radio" class="" id="fac" name="acstatus" value="1" checked />Accept&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="acstatus" class="" id="fac" value="2" />Reject<input class="form-control dymenu" data-taskid="' + field[" Id"] + '" placeholder="Comment" type="text" value=""  id="fcomment"  name="fcomment"> </label></div></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-lg-2" id="content">
                                                <input type="submit" value="Save" class="btn btn-primary" id="submitform" style="display:none" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <label id="lblshow" style="color:red"></label>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br>
                <div><center><span id="datastatus"></span></center></div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
</aside>
<br />
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
