<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>mykase</title>
    <link rel="icon" href="~/NewDesign/images/favicon.ico" type="image/x-icon">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- Styles -->
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <link href="~/NewDesign/css/bootstrap.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/fontawesome-all.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/home.css?2.3" rel="stylesheet">
    @Scripts.Render("~/bundles/Utility")
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
    <script src="~/Manupanel/validation/jquery.validate.js"></script>
    <script src="~/Scripts/Firm/Pages/Login.js?1.3"></script>
    <script src="~/Scripts/Firm/Pages/ResetPassword.js"></script>
    <script src="~/newassets/js/accessbility.js"></script>
    <!-- Favicon  -->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container" style="position:relative;">
            <div class="accessbility nav-item dropdown">
                <a href="#" id="accessbility" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="~/NewDesign/images/font-icon.png" style="position: relative; right: -13px;"></a>
                <ul class="dropdown-menu a-accessbility">
                    <li>
                        <a href="javascript:void(0);" id="incfont" class="button buttonfont">+</a>
                    </li>
                    <li><a href="javascript:void(0);" id="decfont" class="button buttonfont">-</a></li>
                    <li style="float:right;"><p id="resetfont" class="button buttonfont">Reset</p></li>
                </ul>
            </div>
            <a class="navbar-brand logo-image" href="/home/index"> <img src="~/NewDesign/images/logo.png" alt="MyKase"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" id="About" href="/home/About">About </a> </li>
                    <li class="nav-item"> <a class="nav-link" id="Solution" href="/home/Solution">Solution</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="faq" href="/home/faq">FAQ</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="articles" href="/home/articles">Articles</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="index#contact">Contact</a> </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="myDD" class=" nav-link dropdown-toggle" data-toggle="dropdown" style="color:#0059c1 !important;">Login <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row" style="display:block;" id="loginpanel">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">user id</label>
                                                <input class="form-control" type="text" name="username" placeholder="User Name" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input class="form-control" type="password" name="pass" placeholder="Password" id="password" onpaste="return false" autocomplete="off" pattern="^[a-zA-Z1-9]{6,}$">
                                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right;margin-top: -21px;color:#676767"></span>
                                                <div class="help-block text-right"><a href="javascript:void()" id="openforget11" style="padding: 0px !important;">forgot password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary btn-block" id="btnLogin" type="button" value="Login">
                                            </div>
                                            <div class="checkbox" style="display:none">
                                                <label>
                                                    <input type="checkbox"> keep me logged-in
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom">
                                        New here ? <a href="/home/signup"><span style="color:#0059c1;">Join Us</span></a>
                                    </div>
                                </div>
                                <div class="row" id="forgetwindow" style="display: none;">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" />
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Please enter the E-mail Id.</label>
                                            <input class="form-control" type="text" name="email" placeholder="Please enter the E-mail Id." id="email">
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password" />
                                        </div>
                                        </form>
                                    </div>
                                    <div class="bottom">
                                        Already Member ? <a href="#"><span style="color:#0059c1;" id="loginbtndiv">Login</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div id="myModal" class="modal fade " role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="modalheading">Reset Password</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="forgetwindow" style="display: block;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="input100 form-control" type="text" name="email" placeholder="Enter Email" id="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" height="15px"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <section class="copyright" style="margin:10px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a href="/home/Privacy">Privacy Policy</a> | <a href="/home/TermsConditions">Terms & Conditions</a> | <a href="/home/Disclaimer">Disclaimer</a>
                </div>
                <div class="col-md-7">
                    <a href="/home/CopyRight">Copyright</a> | © 2020 Manupatra. All Rights Reserved.
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <script src="~/NewDesign/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/NewDesign/js/bootstrap.bundle.js"></script>
    <!-- Modal login -->
</body>
</html>
<script>
    $("#openforget11").click(function () {
        $('#loginpanel').css("display", "none");
        $('#forgetwindow').css("display", "block");
    });
    $("#loginbtndiv").click(function () {
        $('#forgetwindow').css("display", "none");
        $('#loginpanel').css("display", "block");
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>
    $("#myDD").click(function () {
        $('#login-dp').toggle();
    });
</script>
<script type="text/javascript">
    function add_chatinline() { var hccid = 29672096; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
    add_chatinline();</script>
<script>
    var pagename;
    $(document).ready(function () {
        var pagename1 = location.pathname.split('/');
        var pagename = pagename1[2];
        $("#" + pagename).addClass("active");
    });
</script>