@{
    var currentdomain = "https://www.mykase.in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" />
    <meta name="author" content="Manupatra">
    <title>Law Office Firm Management Software, Best Law Firm Operations Management</title>
    <meta name="description" content="We at Manupatra provide best law office management software along with law firm operations management, best law firm management software for all your need at best price." />
    <meta name="DC.title" content="Law Office Management Software" />
    <meta name="geo.region" content="IN-UP" />
    <meta name="geo.placename" content="Noida" />
    <meta name="geo.position" content="22.351115;78.667743" />
    <meta name="ICBM" content="22.351115, 78.667743" />
    <meta name="google-site-verification" content="ksWtZIEqE9Sh8hLzfSUoZk99T1IB76aAym0cAzazT1A" />
    <meta property="category" content="Law" />
    <link rel="icon" href="~/NewDesign/images/favicon.ico" type="image/x-icon">
    <meta name="application-name" content="mykase.in" />
    <meta name="msapplication-tooltip" content="Manupatra - The Company" />
    <meta name="msapplication-window" content="width=1500;height=900" />
    <meta name="msapplication-task" content="name=MyKase;action-uri=https://www.mykase.in;icon-uri= " ” />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="mykase" />
    <meta name="twitter:url" content="https://www.mykase.in/" />
    <meta name="twitter:title" content="mykase" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content=" " />
    <meta name="twitter:app:name:iphone" content="" />
    <meta property="og:title" content="mykase" />
    <meta property="og:type" content="" />
    <meta property="og:image" content=" " />
    <meta property="og:url" content="https://www.mykase.in" />
    <meta property="og:site_name" content="www.mykase.in" />
    <meta property="og:description" content="" />
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- Styles -->
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <link href="~/NewDesign/css/bootstrap.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/fontawesome-all.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/home.css?4.4" rel="stylesheet">
    <link href="~/NewDesign/css/cookie-consent.css?2" rel="stylesheet" />
    @Scripts.Render("~/bundles/Utility")
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
    <script src="~/Manupanel/validation/jquery.validate.js"></script>
    <script src="~/Scripts/Firm/Pages/Login.js?2.3"></script>
    <script src="~/Scripts/Firm/Pages/ResetPassword.js"></script>
    <link href="~/Content/popup_scroll/popup_scroll/scrolling_popup.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/popup_scroll/popup_scroll/scrolling_popup.js" type="text/javascript"></script>

    <!-- Favicon  -->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container" style="position:relative;">
            <div class="accessbility nav-item dropdown">
                <a href="#" id="accessbility" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="~/NewDesign/images/font-icon.png" style="position: relative; right: -13px;"></a>
                <ul class="dropdown-menu a-accessbility">
                    <li>
                        <a href="javascript:void(0);" id="incfont" class="button buttonfont">+</a>
                    </li>
                    <li><a href="javascript:void(0);" id="decfont" class="button buttonfont">-</a></li>
                    <li style="float:right;"><p id="resetfont" class="button buttonfont">Reset</p></li>
                </ul>
            </div>
            <a class="navbar-brand logo-image" href="/home/index"> <img src="~/NewDesign/images/logo.png" alt="MyKase"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="padding:4px 0 0 0;"> <a class="nav-link sbtbtn1" data-toggle="modal" data-target="#scheduledemo" style="color:#ffffff !important; cursor:pointer;">Schedule a Demo</a> </li>
                    <li class="nav-item"> <a class="nav-link " href="@currentdomain/legal-case-management-software">About </a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/law-practice-software-pricing-plan-solution">Solution</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/faq">FAQ</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/law-legal-tech-blog-articles">Blogs</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/home/index#contact">Contact</a> </li>
                    <li class="nav-item dropdown show">
                        <a href="#" id="myDD" class=" nav-link dropdown-toggle" data-toggle="dropdown" style="color:#0059c1 !important;">Login <span class="glyphicon glyphicon-remove-circle"></span></a>
                        <ul id="login-dp" class="dropdown-menu show" style="display:block">
                            <li>
                                <div class="row" style="display:block;" id="loginpanel">
                                    <div class="col-md-12">
                                        <div><span id="closepanel" style="margin: -10px;float: right; font-size: 23px;margin-top: -20px;cursor:pointer">×</span></div>
                                    </div>
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">user id</label>
                                                <input class="form-control" type="text" name="username" placeholder="User Name" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input class="form-control" type="password" name="pass" placeholder="Password" id="password" onpaste="return false" autocomplete="off" pattern="^[a-zA-Z1-9]{6,}$">
                                                @if (HttpContext.Current.Request.UserAgent.ToLower().Contains("MSIE") || HttpContext.Current.Request.UserAgent.ToLower().Contains("edge")) //IF IE > 10
                                                {
                                                }
                                                else
                                                {
                                                    <span toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right;margin-top: -21px;color:#676767; position:relative; z-index:1000;"></span>
                                                }
                                                <div class="help-block text-right"><a href="javascript:void()" id="openforget11" style="padding: 0px !important;">forgot password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary btn-block" id="btnLogin" type="button" value="Login">
                                            </div>
                                            <div class="checkbox" style="display:none">
                                                <label>
                                                    <input type="checkbox"> keep me logged-in
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom">
                                        New here ? <a href="/home/signup"><span style="color:#0059c1;">Join Us</span></a>
                                    </div>
                                </div>
                                <div class="row" id="forgetwindow" style="display: none;">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" />
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Enter User Id</label>
                                            <input class="form-control" type="text" name="forgetuserid" placeholder="Enter User Id" id="forgetuserid">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Please enter the E-mail Id.</label>
                                            <input class="form-control" type="text" name="email" placeholder="Please enter the E-mail Id." id="email">
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password" />
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        Already Member ? <a href="#"><span style="color:#0059c1;" id="loginbtndiv">Login</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="~/newassets/js/accessbility.js"></script>
    @RenderBody()
    <div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="modalheading">Reset Password</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="forgetwindow" style="display: block;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="input100 form-control" type="text" name="email" placeholder="Enter Email" id="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" height="15px"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Schedule a Demo-->
    <div id="scheduledemo" class="modal fade " role="dialog" data-backdrop="false">
        <div class="modal-dialog" style="margin: 5.75rem auto;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:5px 13px;">
                    <h4 class="modal-title"><img src="/NewDesign/images/logo_enquiry.png" alt="MyKase" /></h4>
                    <button type="button" class="close" data-dismiss="modal" id="scheduledemoclose">×</button>
                </div>
                <div class="modal-body" style="padding:5px;">
                    <iframe height="470px" width="350px" frameborder="0" src="/schedule-demo?f=1" id="scheduledemoiframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--End Schedule a Demo-->
    <section class="contact" id="contact">
        <div class="container">
            <h2>contact</h2>
        </div>
        <div class="c_add">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c1.png" width="14" height="21" /> B-37, Sector-1, Noida (U.P) - 201301, India</p>
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c2.png" width="15" height="15" /> 91-120-4014444, 4014433</p>
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c3.png" width="17" height="12" /> contact@mykase.in</p>
                        <p style="padding:1px 0;"><strong>Toll Free Number:</strong> 1-800-103-3550</p>
                        <p style="padding:1px 0;"><strong>WhatsApp</strong> <a href="https://api.whatsapp.com/send?phone=918800106683&text=I%27m%20interested%20in%20myKase%20services.%20Please%20call%20me%20on%20this%20no" target="_blank"><img src="/NewDesign/images/whatsapp_icon1.png" width="18" height="18" /></a></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p style="padding:35px 0 0 0;"><a href="https://www.manupatra.com/" target="_blank"><img src="/NewDesign/images/manu_logo.png" /></a></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="copyright" style="margin:10px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="@currentdomain/home/Privacy">Privacy Policy</a> | <a href="@currentdomain/home/TermsConditions">Terms & Conditions</a> | <a href="@currentdomain/home/Disclaimer">Disclaimer</a>
                </div>
                <div class="col-md-8">© <a href="@currentdomain/home/CopyRight">Copyright</a> Manupatra Information Solutions Pvt. Ltd. @DateTime.Now.Year. All rights reserved.</div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <script src="~/NewDesign/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/NewDesign/js/bootstrap.bundle.js"></script>
    <!-- Modal login -->
    <!-- Cookies Panel -->
    <div class="consent-dialog" id="cookie-popup">
        <div class="wrapper" style="width:unset !important">
            <div class="col-textpanel">
                We use cookies to provide a better browsing experience and to understand how visitors use our website. By continuing to use this site you consent to the use of cookies in accordance with our <a href="/home/Privacy">privacy policy.</a>
            </div>
            <div class="col-closepanel">
                <a href="#" class="close-consent">X</a>
            </div>
        </div>
    </div>
    <script>
        var cookie_consent = $("#cookie-popup");
        $(document).ready(function () {
            var cookie_consent = $("#cookie-popup");
            setTimeout(() => {
                if (localStorage.getItem('popState') != 'manudisp') {
                    $("#cookie-popup").addClass("activated");
                }
                $('.close-consent').click(function (e) {
                    e.preventDefault();
                    localStorage.setItem('popState', 'manudisp')
                    $('#cookie-popup').addClass("deactivated");
                });
            }, 300);
        });
        var interval = function () {
            if ($("#cookie-popup").hasClass("activated")) {
                $("#drift-widget").addClass("move-up");
            }
        }
        var moveDrift = setInterval(interval, 1000);
        setTimeout(() => {
            clearInterval(moveDrift);
        }, 20000);
        $(".close-consent").click(function () {
            setTimeout(() => {
                if (cookie_consent.hasClass("deactivated")) {
                    $("#drift-widget").addClass("move-down");
                    clearInterval(moveDrift);
                }
            }, 100);
        });
    </script>
</body>
</html>
<script>
    $("#openforget11").click(function () {
        $('#loginpanel').css("display", "none");
        $('#forgetwindow').css("display", "block");
    });
    $("#loginbtndiv").click(function () {
        $('#forgetwindow').css("display", "none");
        $('#loginpanel').css("display", "block");
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>
    $("#myDD").click(function () {
        $('#login-dp').toggle();
    });
    $("#closepanel").click(function () {
        $('#login-dp').toggle();
    });
</script>
<script type="text/javascript">
    function add_chatinline() { var hccid = 29672096; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
    add_chatinline();</script>
