@{
    var currentdomain = "https://www.mykase.in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    @using System.Web.Configuration;
    @{
        string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
    }
    @{
        /**/
        var pageurlseo = Request.Url.Segments[1];
        pageurlseo = pageurlseo.Replace("/", "");
    }
    @if (pageurlseo == "document-management-solution-software-legal-practice")
    {
        <title>Law Firm Legal Document Management Systems, Legal Law Software</title>
        <meta name="description" content="Get legal document management systems, law firm document management, legal law document software etc it will have used by any lawyer, law firm, domain professional." />
    }
    @if (pageurlseo == "legal-matter-management-system-software")
    {
        <title>Legal Law Matter Management System Software, Legal Client Management Software</title>
        <meta name="description" content="We provide best working legal matter management system, legal client management software, law matter management software to help the lawyers to track their data and client’s matters." />
    }
    @if (pageurlseo == "law-practice-knowledge-management-software")
    {
        <title>Legal Law Practice Management Software, Law Firm Practice Management</title>
        <meta name="description" content="Get best legal practice management software, law firm practice management software at best way for all your need like case record, billing and clients record etc at one place." />
    }
    @if (pageurlseo == "legal-case-management-software")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <meta name="description" content="We at Manupatra provide legal law case management software, case management software for lawyers, Legal case management system which integrates and automates the activities of legal practices." />
    }
    @if (pageurlseo == "article-mykase-mykasevideo-law-firm-management")
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7KXS3CMMTN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-7KXS3CMMTN');
        </script>
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-mykase-mykasevideo-law-firm-management" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="What is myKase?" />
        <meta property="og:description" content="MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly." />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/mykase_article.png" />
        <meta name="twitter:title" content="What is myKase?">
        <meta name="twitter:description" content="MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly.">
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/mykase_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-blog-law-legal-practice-management-operations-agile")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-blog-law-legal-practice-management-operations-agile" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Why does the legal practice operations, need to be agile and responsive?" />
        <meta property="og:description" content="" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/managemen_operations_agile.png" />
        <meta name="twitter:title" content="Why does the legal practice operations, need to be agile and responsive?">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/managemen_operations_agile.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-lawyer-Legal-technology-competence")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-lawyer-Legal-technology-competence" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Legal Technology" />
        <meta property="og:description" content="Legal Tech is now part of the paradigm of practicing law for all lawyers -
Not being abreast is no longer an option." />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/legal_technology_article.png" />
        <meta name="twitter:title" content="Legal Technology">
        <meta name="twitter:description" content="Legal Tech is now part of the paradigm of practicing law for all lawyers -
Not being abreast is no longer an option." />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/legal_technology_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-Enterprise-mobility-cloud-law-firm-management")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-Enterprise-mobility-cloud-law-firm-management" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Enterprise Mobility" />
        <meta property="og:description" content="9 Essentials of an Enterprise Mobility Solution" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/mobility_article.png" />
        <meta name="twitter:title" content="Enterprise Mobility">
        <meta name="twitter:description" content="9 Essentials of an Enterprise Mobility Solution" />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/mobility_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-cloud-migration-law-firm-management")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-cloud-migration-law-firm-management" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Cloud Migration" />
        <meta property="og:description" content="Migration Strategies and Models for a Seamless Transition to Cloud" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/cloud_article.png" />
        <meta name="twitter:title" content="Cloud Migration">
        <meta name="twitter:description" content="Migration Strategies and Models for a Seamless Transition to Cloud" />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/cloud_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-client-portal-collaboration-lawpracticemanagement")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-client-portal-collaboration-lawpracticemanagement" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Client Collaboration" />
        <meta property="og:description" content="Client Collaboration can now be a Reality" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/client_collaboration_article.png" />
        <meta name="twitter:title" content="Client Collaboration">
        <meta name="twitter:description" content="Client Collaboration can now be a Reality" />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/client_collaboration_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-client-document-management-storage-lawpracticemanagement")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-client-document-management-storage-lawpracticemanagement" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Document Management Software" />
        <meta property="og:description" content="Why having document management software is essential?" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/management_software_article.png" />
        <meta name="twitter:title" content="Document Management Software">
        <meta name="twitter:description" content="Why having document management software is essential?" />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/management_software_article.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-client-knowledge-management-lawpracticemanagement")
    {
        <title>Legal Case Management System Software for Lawyers, Law Case Management</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-client-knowledge-management-lawpracticemanagement" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="5 Reasons why you need a Knowledge Management System" />
        <meta property="og:description" content="In simple terms, Knowledge Management streamlines the process of capturing, distributing, and effectively using knowledge." />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/KnowledgeManagementblog1.png" />
        <meta name="twitter:title" content="5 Reasons why you need a Knowledge Management System">
        <meta name="twitter:description" content="In simple terms, Knowledge Management streamlines the process of capturing, distributing, and effectively using knowledge." />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/KnowledgeManagementblog1.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-law-firm-practice-management-platform")
    {
        <title>Article Law Firm Practice Management Platform</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-law-firm-practice-management-platform" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="5 Reasons why you need to incorporate law practice management platform today" />
        <meta property="og:description" content="Is your law practice (read as law entrepreneurship) embracing technology? Is incorporating it in the right manner suited for your law practice?" />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/lpm_blog.png" />
        <meta name="twitter:title" content="5 Reasons why you need to incorporate law practice management platform today">
        <meta name="twitter:description" content="Is your law practice (read as law entrepreneurship) embracing technology? Is incorporating it in the right manner suited for your law practice?" />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/lpm_blog.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    @if (pageurlseo == "article-cloud-computing-law-practice-management-platform")
    {
        <title>Article Cloud Computing Law Practice Management Platform</title>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta property="og:url" content="@BaseDomainURL/article-cloud-computing-law-practice-management-platform" />
        <meta property="og:type" content="myKase Blog" />
        <meta property="og:title" content="Cloud Computing & Practice of Law" />
        <meta property="og:description" content="By using cloud computing, users and companies don't have to manage physical servers themselves or run software applications on their own machines." />
        <meta name="image" property="og:image" content="@BaseDomainURL/NewDesign/images/cloudcomputing_blog.png" />
        <meta name="twitter:title" content="Cloud Computing & Practice of Law">
        <meta name="twitter:description" content="By using cloud computing, users and companies don't have to manage physical servers themselves or run software applications on their own machines." />
        <meta name="twitter:image" content="@BaseDomainURL/NewDesign/images/cloudcomputing_blog.png">
        <meta name="twitter:card" content="myKase Blog">
    }
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" href="~/NewDesign/images/favicon.ico" type="image/x-icon">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- Styles -->
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <link href="~/NewDesign/css/bootstrap.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/fontawesome-all.css?1.5" rel="stylesheet">
    <link href="~/NewDesign/css/home.css?4.7" rel="stylesheet">
    @Scripts.Render("~/bundles/Utility")
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
    <script src="~/Manupanel/validation/jquery.validate.js"></script>
    <script src="~/Scripts/Firm/Pages/Login.js?2.6"></script>
    <script src="~/Scripts/Firm/Pages/ResetPassword.js?1.0"></script>
    <link href="~/Content/popup_scroll/scrolling_popup.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/popup_scroll/scrolling_popup.js" type="text/javascript"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7KXS3CMMTN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-7KXS3CMMTN');
    </script>
    <script type="text/javascript">
        buildPopup_Frame(430, 430, '', '/Remotely_Assist/index.html');
        ShowTheBox(false, rightSide, topCorner, topDown);
    </script>
    <!-- Favicon  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <style>
        .nav-link {
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #000000 !important;
            font-weight: 600;
        }

        .accessbility ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }

            .accessbility ul li {
                float: left;
                margin: 0;
                padding: 0 5px 0 0;
            }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container" style="position:relative;">
            <div class="accessbility nav-item dropdown">
                <ul>
                    <li><a href="https://api.whatsapp.com/send?phone=919821775909&amp;text=I%27m%20interested%20in%20myKase%20services.%20Please%20call%20me%20on%20this%20no" target="_blank"><img src="/NewDesign/images/wa_icon2021.png" alt="WhatsApp Icon"></a></li>
                    <li><a href="https://www.linkedin.com/showcase/mykasemanupatra" target="_blank" title="LinkedIn"><img src="/NewDesign/images/li_icon2021.png" alt="LinkedIn"></a></li>
                    <li><a href="https://www.youtube.com/watch?v=cDvQfi4Qwuo" target="_blank" title="YouTube"><img src="/NewDesign/images/yt_icon2021.png" alt="YouTube"></a></li>
                    <li><a href="https://t.me/ManupatraChannel7" target="_blank" title="Telegram"><img src="/NewDesign/images/tg_icon2021.png" alt="Telegram"></a></li>
                </ul>
            </div>
            <a class="navbar-brand logo-image" href="/home/index"> <img src="~/NewDesign/images/logo.png" alt="MyKase"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="padding:4px 0 0 0;"> <a class="nav-link sbtbtn1" data-toggle="modal" data-target="#scheduledemo" style="color:#ffffff !important; cursor:pointer;">Schedule a Demo</a> </li>
                    <li class="nav-item"> <a class="nav-link " href="@currentdomain/legal-case-management-software">About </a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/home/index#solution">Solution</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/faq">FAQ</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/law-legal-tech-blog-articles">Blogs</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain/home/index#contact">Contact</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="@currentdomain">Login</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="~/newassets/js/accessbility.js"></script>
    @RenderBody()
    <div id="myModal" class="modal fade " role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="modalheading">Reset Password</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="forgetwindow" style="display: block;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="input100 form-control" type="text" name="email" placeholder="Enter Email" id="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" height="15px"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Schedule a Demo-->
    <div id="scheduledemo" class="modal fade " role="dialog" data-backdrop="false">
        <div class="modal-dialog" style="margin: 5.75rem auto;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:5px 13px;">
                    <h4 class="modal-title"><img src="/NewDesign/images/logo_enquiry.png" alt="MyKase" /></h4>
                    <button type="button" class="close" data-dismiss="modal" id="scheduledemoclose">×</button>
                </div>
                <div class="modal-body" style="padding:5px;">
                    <iframe height="470px" width="350px" frameborder="0" src="/schedule-demo?f=1" id="scheduledemoiframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--End Schedule a Demo-->
    <section class="copyright" style="margin:10px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="@currentdomain/home/Privacy">Privacy Policy</a> | <a href="@currentdomain/home/TermsConditions">Terms & Conditions</a> | <a href="@currentdomain/home/Disclaimer">Disclaimer</a>
                </div>
                <div class="col-md-8">© <a href="@currentdomain/home/CopyRight">Copyright</a> Manupatra Information Solutions Pvt. Ltd. @DateTime.Now.Year. All rights reserved.</div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <script src="~/NewDesign/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/NewDesign/js/bootstrap.bundle.js"></script>
    <!-- Modal login -->
</body>
</html>
<script>
    $("#openforget11").click(function () {
        $('#loginpanel').css("display", "none");
        $('#forgetwindow').css("display", "block");
    });
    $("#loginbtndiv").click(function () {
        $('#forgetwindow').css("display", "none");
        $('#loginpanel').css("display", "block");
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>
    $("#myDD").click(function () {
        $('#login-dp').toggle();
    });
    $("#closepanel").click(function () {
        $('#login-dp').toggle();
    });
</script>
<script type="text/javascript">
    function add_chatinline() { var hccid = 29672096; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
    add_chatinline();</script>
<script>
    var pagename;
    $(document).ready(function () {
        var pagename1 = location.pathname.split('/');
        var pagename = pagename1[2];
        $("#" + pagename).addClass("active");
    });
</script>