<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Website Title -->
    <title>MyKase</title>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <link href="~/NewDesign/css/bootstrap.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/fontawesome-all.css?1" rel="stylesheet">
    <link href="~/NewDesign/css/home.css?2.0" rel="stylesheet">
    @Scripts.Render("~/bundles/Utility")
    <script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
    <script src="~/Manupanel/validation/jquery.validate.js"></script>
    <script src="~/Scripts/Firm/Pages/Login.js?2.7"></script>
    <script src="~/Scripts/Firm/Pages/ResetPassword.js?1.1"></script>
    <!-- Favicon  -->
    <style>
        .logo-wrapper {
            padding: 10px 0;
            overflow: hidden;
        }

        .navbar {
            padding: 0;
            position: relative !important;
            top: 0px;
            z-index: 1000;
            width: 100%;
            background: #BBDDF2;
            border-bottom: none;
            margin: 2px 0 0 0;
        }

        .ml-auto {
            margin: 0px 0 0 0;
        }

        .c-banner {
            margin: 0;
            padding: 0;
            background: #ffffff;
        }

        .welcome {
            margin: 0;
            padding: 0;
        }

            .welcome h3 {
                margin: 0;
                padding: 10px 0 6px 0;
                text-align: left;
                color: #fff;
                font-size: 40px;
                font-weight: 300;
                letter-spacing: -2px;
            }

            .welcome h4 {
                margin: 0;
                padding: 0 0 0 0;
                text-align: left;
                color: #fff;
                font-size: 24px;
                font-weight: 300;
            }

            .welcome h5 {
                margin: 0;
                padding: 5px 300px 0 0px;
                text-align: left;
                color: #fff;
                font-size: 13px;
                font-weight: 300;
                line-height: 20px;
            }

            .welcome h6 {
                margin: 0;
                padding: 5px 0;
                text-align: left;
                font-size: 14px;
                color: #fff;
                font-weight: 300;
            }

                .welcome h6 span {
                    font-weight: bold;
                }
    </style>
</head>
<body>
    <section>
        <div class="container">
            <div class="logo-wrapper row">
                <div class="col-md-6 text-left">
                    <p class=""><a href="/home/index"> <img src="~/NewDesign/images/logo.png" alt="MyKase"> </a></p>
                </div>
                <div class="col-md-6 text-right">
                    <p id="logo_menu_mobile" class=""><img src="" id="imglogo1" /></p>
                </div>
            </div>
        </div>
    </section>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <div class="container" style="position:relative;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#services">Services</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#contact">Contact</a> </li>
                    <li class="nav-item dropdown">
                        <a href="#" id="myDD" class=" nav-link dropdown" data-toggle="dropdown" style="color:#0059c1 !important;">Login <span class="caret"></span></a>                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row" style="display:block;" id="loginpanel">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login/ValidateLogin" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">user id</label>
                                                <input class="form-control" type="text" name="username" placeholder="User Name" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input class="form-control" type="password" name="pass" placeholder="Password" id="password" onpaste="return false" autocomplete="off" pattern="^[a-zA-Z1-9]{6,}$">
                                                @if (HttpContext.Current.Request.UserAgent.ToLower().Contains("MSIE") || HttpContext.Current.Request.UserAgent.ToLower().Contains("edge")) //IF IE > 10
                                                {
                                                }
                                                else
                                                {
                                                    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password" style="float: right;margin-top: -21px;color:#676767"></span>
                                                }
                                                <div class="help-block text-right"><a href="javascript:void()" id="openforget11" style="padding: 0px !important;">forgot password ?</a></div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary btn-block" id="btnLogin" type="button" value="Login">
                                            </div>
                                            <div class="checkbox" style="display:none">
                                                <label>
                                                    <input type="checkbox"> keep me logged-in
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom">
                                        New here ? <a href="/home/signup"><span style="color:#0059c1;">Join Us</span></a>
                                    </div>
                                </div>
                                <div class="row" id="forgetwindow" style="display: none;">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" />
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Enter User Name</label>
                                            <input class="form-control" type="text" name="forgetuserid" placeholder="Enter User Name" id="forgetuserid">
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Please enter the E-mail Id.</label>
                                            <input class="form-control" type="text" name="email" placeholder="Please enter the E-mail Id." id="email">
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password" />
                                        </div>
                                        </form>
                                    </div>
                                    <div class="bottom">
                                        Already Member ? <a href="#"><span style="color:#0059c1;" id="loginbtndiv">Login</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="~/newassets/js/accessbility.js"></script>
    @RenderBody()
    <div id="myModal" class="modal fade " role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="modalheading">Reset Password</span></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div id="forgetwindow" style="display: block;">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="input100 form-control" type="text" name="email" placeholder="Enter Email" id="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" height="15px"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <section class="contact" id="contact">
        <div class="container">
            <h2>contact</h2>
        </div>
        <div class="c_add">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c1.png" width="14" height="21" />&nbsp;&nbsp;<label id="lbladdress"></label></p>
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c2.png" width="15" height="15" />&nbsp;&nbsp;<label id="lblphone"></label></p>
                        <p style="padding:1px 0;"><img src="/NewDesign/images/c3.png" width="17" height="12" />&nbsp;&nbsp;<label id="lblemail"></label></p>
                    </div>
                    <div class="col-md-4 text-right" style="display:none;">
                        <p style="padding:18px 0 0 0;">Follow us on &nbsp;&nbsp; </p>
                        <p>
                            <a href="#"><img src="/NewDesign/images/f_icon.png" width="24" height="24" /></a>
                            <a href="#"><img src="/NewDesign/images/l_icon.png" width="24" height="24" /></a>
                            <a href="#"><img src="/NewDesign/images/y_icon.png" width="24" height="24" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    © Copyright Reserved 2020
                </div>
                <div class="col-md-6">
                    A Manupatra Product
                </div>
            </div>
        </div>
    </section>
    <!-- Scripts -->
    <script src="~/NewDesign/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script>
        $('body').on('click', function (e) {
            if (e.target.className == " nav-link dropdown-toggle" || e.target.className == "") {
            }
            else {
                e.stopPropagation();
            }
        });
    </script>
    <script>
        $("#myDD").click(function () {
            $('#login-dp').toggle();
        });
    </script>
    <!-- Modal login -->
</body>
</html>
<script>
    $("#openforget11").click(function () {
        $('#loginpanel').css("display", "none");
        $('#forgetwindow').css("display", "block");
    });
    $("#loginbtndiv").click(function () {
        $('#forgetwindow').css("display", "none");
        $('#loginpanel').css("display", "block");
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script type="text/javascript">
    function add_chatinline() { var hccid = 29672096; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
    add_chatinline();</script>
