.wrapper{width:1140px; margin:0 auto;}

.activated{
    transform: translateY(-90px);
}
.deactivated{
    transform: translateY(90px);
}
.consent-dialog {
    background: #ddf1ff;
    position: fixed;
    font-size: 13px;
    line-height: 1.5em;
    z-index: 999999999;
    padding: 12px 15px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: -90px;
    box-shadow: 0 -8px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}
.col-textpanel{margin:0; padding:0; width:94%; float:left;}
.col-closepanel{margin:0; padding:0; width:5%; float:right;}
.close-consent{
    border: 1px solid #008BE7;
    border-radius: 3px;
    padding: 4px 10px;
    color: #008BE7;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    
}
.close-consent:hover{
    color: #fff !important;
    background: #008BE7;
    text-decoration: none !important;
}

@media(max-width:768px){
	.wrapper{width:95%; margin:0 auto;}
}

