body{margin:0; padding:0;  font-family: 'Roboto', sans-serif; font-size: 13px; color: #3a3a3a;}
html, body {
  height: 100%;
  margin: 0;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	rgba(0, 0, 0, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(0, 0, 0, .2) 50%,
	rgba(0, 0, 0, .2) 75%,
	transparent 75%,
	transparent)
}

.helpcenter{margin:0; padding:0; height:100%;}
.col-md-3{height:100%;}
.leftpanel{width:100%;height: auto;margin:0;padding:0;border-right: 4px solid #cccccc;}
.logo{margin:0; padding:14px 10px;}
hr {
  border-top: 1px solid #8fd500; margin:0 0 5px 0; padding:0;
}
.tab-wrapper{height:83vh; overflow-y:scroll;}
.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 15px;
}
.accordion .fa {
  margin-right: 0 !important;
  font-size: 20px !important;
  font-weight: bold;
  position: relative;
  top: 2px;
}
#content{margin:8px 0 0 0;}
.mb-0{margin:0; padding:0;}
.mb-0 a{margin:0; padding:0;font-size:13px;color:#1e1e1e; text-transform: uppercase;text-decoration:none;}
.mb-0 a:hover{margin:0; padding:0;font-size:13px;color:#1e1e1e; text-transform: uppercase;text-decoration:none;}

.card-body ul{margin:5px 0 0 0;}
.card-body ul li a{font-size:13px; color:#1e1e1e; text-decoration:none;}
.card-body ul li a:hover{font-size:13px; color:#1e1e1e; text-decoration:none;}
#search ul{list-style-type:none; margin:12px 0 0 0; padding:0;}
#search ul li{float:left;}
#search ul li input{
  float: left;
  width: 100%;
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
#search ul li .sbtbtn{
  margin: 0;
  padding: 7px !important;
  border-radius: 2px !important;
  border: none;
  color: #000000 !important;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#92cdef+0,7db9e8+100 */
  background: #92cdef !important; /* Old browsers */
  background: -moz-linear-gradient(top, #92cdef 0%, #7db9e8 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #92cdef 0%,#7db9e8 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #92cdef 0%,#7db9e8 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92cdef', endColorstr='#7db9e8',GradientType=0 ) !important; /* IE6-9 */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #0059c1;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #0059c1;
}
.rightpanel {
    margin: 0;
    padding: 12px 30px;
    
}
.rightpanel h2 {
    margin: 0;
    padding: 11px 0 18px 0;
    text-align: left;
    color: #0059c1;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid #8fd500;
}
.rightpanel h3{margin:0; padding:12px 0; font-size: 16px; font-weight: 400; color:#797979;}
.rightpanel table td{margin:0; padding:3px;}

