
@{
    Layout = null;
}

<link href="~/NewDesign/css/bootstrap.css" rel="stylesheet" />
<script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script>
<script src="~/Manupanel/NewTemplate/js/bootstrap.min.js"></script>
<style>
    .nav-pills-custom .nav-link {
        color: #404040;
    background: #fff;
    position: relative;
    padding: 10px 11px !important;
    line-height: 16px;
    }
    .mb-3, .my-3 {
    margin-bottom: 11px !important;
}

        .nav-pills-custom .nav-link.active {
            color: #45b649;
            background: #fff;
        }

        .nav-pills-custom .nav-link::before {
            content: '';
            display: block;
            border-top: 8px solid transparent;
            border-right: 10px solid #fff;
            border-bottom: 8px solid transparent;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
            opacity: 0;
        }

        .nav-pills-custom .nav-link.active::before {
            opacity: 1;
        }
        .tablistcontainer {
            height: 485px;
            overflow-y: scroll;
            padding: 0 6px 0 11px;
        }
        ::-webkit-scrollbar {
    width: 10px !important;
    height:10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dfdfdf !important; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a1a1a1 !important; 
  }

    body {
        min-height: 100vh;
        background: linear-gradient(to left, #dce35b, #45b649);
    }
</style>
<section class="header">
    <div class="container py-4">

        <div class="row">



            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade shadow rounded bg-white p-3 show active" id="mykase-intro" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <video id="vid1" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/myKase-LawPracticeManagementSolution.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/myKase-LawPracticeManagementSolution.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/myKase-LawPracticeManagementSolution.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="mykase-intro1" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <video id="vid2" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/Cloud-based-Practice-Management-Solution.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/Cloud-based-Practice-Management-Solution.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/Cloud-based-Practice-Management-Solution.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="add-case" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <video id="vid3" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_add_a_case.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_add_a_case.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/how_to_add_a_case.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="remove-matter" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid4" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_remove_a_matter_from_live_tracking_and_add_it_back.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_remove_a_matter_from_live_tracking_and_add_it_back.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/how_to_remove_a_matter_from_live_tracking_and_add_it_back.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white  p-3" id="add-matter" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <video id="vid5" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/adding_users_to_matters.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/adding_users_to_matters.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/adding_users_to_matters.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="setting-aleart" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid6" height="90%" width="100%" controls loop="">
                            <source src="https://www.mykase.in/etc/litigationhelp/setting_alerts.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/setting_alerts.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/setting_alerts.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="view-couselist" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid7" height="90%" width="100%" controls loop="">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_view_causelist-cause_list_faq_video.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_view_causelist-cause_list_faq_video.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/how_to_view_causelist-cause_list_faq_video.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="document-management" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <video id="vid8" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/document_ management.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/document_ management.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/document_ management.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="to-do-list" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid9" height="90%" width="100%" controls loop="">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_use_to_do_list.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_use_to_do_list.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/how_to_use_to_do_list.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="add-users" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid10" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_add_users-managing_users.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/how_to_add_users-managing_users.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/how_to_add_users-managing_users.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="lpms" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid11" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/Law-Practice-Management-Solution.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/Law-Practice-Management-Solution.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/Law-Practice-Management-Solution.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="mmc" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid12" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/Matter-Management-on-Cloud-for-Lawyers-and-Law-Firms.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/Matter-Management-on-Cloud-for-Lawyers-and-Law-Firms.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/Matter-Management-on-Cloud-for-Lawyers-and-Law-Firms.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="tlc" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid13" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/Tracking-Litigation Cases-in-Indian-Courts-on-myKase.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/Tracking-Litigation Cases-in-Indian-Courts-on-myKase.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/Tracking-Litigation Cases-in-Indian-Courts-on-myKase.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    <div class="tab-pane fade shadow rounded bg-white p-3" id="Why-myKase" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <video id="vid14" height="90%" width="100%" controls>
                            <source src="https://www.mykase.in/etc/litigationhelp/Why-myKase.mp4" type="video/ogg">
                            <source src="https://www.mykase.in/etc/litigationhelp/Why-myKase.mp4" type="video/mp4">
                            Please
                            <a href="https://www.mykase.in/etc/litigationhelp/Why-myKase.mp4" download="">download</a> the video.
                        </video>
                    </div>

                    

                    

                    

                    


                </div>
            </div>
            <div class="col-md-3" id="tabanchor">
            <div class="tablistcontainer">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="add-matter" role="tablist" aria-orientation="vertical">

                    <a class="nav-link mb-3 shadow  active" id="v-pills-messages-tab" data-toggle="pill" href="#mykase-intro" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <span class="font-weight-bold small">Mykase Intro</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#mykase-intro1" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <span class="font-weight-bold small">Cloud Based Practice Management Solution</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#add-case" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                        <span class="font-weight-bold small">How to Add a Case</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="remove-matter" data-toggle="pill" href="#remove-matter" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">How to Remove a Matter from Live Tracking and add it back</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-home-tab" data-toggle="pill" href="#add-matter" role="tab" aria-controls="v-pills-home" aria-selected="true">

                        <span class="font-weight-bold small">Adding User to Matter</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#setting-aleart" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">Setting Alerts</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#view-couselist" role="tab" aria-controls="v-pills-causelist" aria-selected="false">
                        <span class="font-weight-bold small">How to view Causelist</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#document-management" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <span class="font-weight-bold small">Document Management</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#to-do-list" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">How to use to do list</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#add-users" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">How to Add/Manage Users</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#lpms" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">Law Practice Management Solution</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#mmc" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">Matter Management on Cloud</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#tlc" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">Tracking Litigation Cases</span>
                    </a>
                    <a class="nav-link mb-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#Why-myKase" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <span class="font-weight-bold small">Why MyKase</span>
                    </a>





                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#tabanchor a").click(function () {
        $('#v-pills-tabContent video').each(function () {
            var currentid = $(this).attr("id");
            var vid = document.getElementById(currentid);
            vid.load();
        })       
    })
</script>
