@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    var firmcode12 = Request.Url.Segments[1];
    var firmcode = firmcode12.Replace("/", "");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-12" style="text-align:left;"> <h2 class="title"> Casewatch Module For MK </h2></div>
    <div style=" margin-left:50px;">
        <ul>
            <li><a href="/@firmcode/CW/ViewAlert">Alert List</a></li>
            <li><a href="/@firmcode/CW/SearchByPartyName">Search By Party Name</a></li>
            <li><a href="/@firmcode/CW/DailyCauseList">CauseList</a></li>
            <li><a href="/@firmcode/CW/LiveCaseList">CaseList</a></li>
            <li><a href="/@firmcode/CW/ArchiveLiveCaseList">Archive CaseList</a></li>
            @*<li><a href="/@firmcode/CW/casesuggestion">Case Suggestion </a></li>*@
        </ul>
    </div>
</body>
</html>
