@{
    var role = Session["sessionroleid"];
    Layout = null;
}
<script src="~/Scripts/CW/LitigationColumnSelection.js?1"></script>
<style>
    .ms-options-wrap {
        border-radius: 5px;
    }
</style>
<section class="wrapper">
    <button type="button" class="close" data-dismiss="modal" style="margin: 1px 3px 0px 0px;">×</button>
    <div class="container-main">
        <div>
            <h2 class="title">Litigation Column Selection for default dashboard</h2>
            <section class="content">
                <div class="">
                    <div>
                        <form class="ec_bg" id="savemultipleaddress" style="overflow: inherit;min-height: 460px;">
                            
                            <div class="col-md-12" id="bindcolumnmaster">
                            </div>
                            <div class="col-md-12" style="margin-top:20px;display:none" id="customfielddiv">
                                <div class="col-md-2"><strong>Custom Fields</strong></div>
                            </div>
                            <div class="col-md-12" id="bindcolumnmastercustomField">
                            </div>
                            <div class="col-md-3" style="margin-top:30px;margin-left:15px;">
                                <button type="button" class="sbtbtn" id="savecolumnselection" style="display:none">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
