
@{
    var role = Session["sessionroleid"];

    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    //Layout = null;
}

<style>
    #transferpagecaltodo {
        margin: -16px 0 0 0px
    }
    hr {
        margin-top: 13px;
        margin-bottom: 13px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .dhx_cal_navline div {
        position: static !important;
        top: 0px;
        white-space: nowrap;
        padding: 0;
        float: left;
    }

    .dhx_cal_navline .dhx_cal_date {
        padding-top: 0;
        left: unset !important;
    }

    .dhx_cal_prev_button {
        background-image: none !important;
        width: 23px !important
    }

    .dhx_cal_next_button {
        background-image: none !important;
    }

    .dhx_cal_navline .dhx_cal_date {
        font-size: 18px !important;
        padding: 0px 10px 0 10px;
        margin: -3px 0 0 0;
        font-weight: 600 !important;
    }

    .dhx_cal_container {
        overflow: inherit !important;
    }

    .dhx_cal_navline {
        background: #ffffff !important;
        background-color: #ffffff !important;
        top: -65px !important;
        position: relative !important;
        display: inline;
        left: 120px !important;
    }

    .dhx_cal_container {
        background-image: url(./imgs/top-days-bg1.png) !important;
        background-color: #fff !important;
    }

    .dhx_cal_header {
        background-image: url(./imgs/top-days-bg1.png) !important;
    }

    .dhx_scale_bar {
        background-image: url(./imgs/top-separator.gif) !important;
    }

    .dhx_cal_container {
        font-family: "Inter", serif !important;
        font-size: 14px !important;
        font-weight: 700 !important;
    }

    .clshearing {
        background: rgba(255, 247, 237, 1);
        border: 1px solid rgba(255, 237, 213, 1);
        border-radius: 6px;
        font-size: 12px;
        color: rgba(249, 115, 22, 1);
        font-weight: 600;
        display: block;
        padding: 8px 8px;
    }

    .rectangle11 {
        background: rgba(254, 246, 238, 1);
        border: 1px solid rgba(249, 219, 175, 1);
        border-radius: 4px;
        font-size: 12px;
        color: rgba(224, 79, 22, 1);
        font-weight: 500;
        display: block;
        padding: 3px 5px;
    }

    .clsTas {
        background: rgba(240, 253, 244, 1);
        border: rgba(220, 252, 231, 1);
        border-radius: 6px;
        font-size: 12px;
        color: rgba(22, 163, 74, 1);
        font-weight: 600;
        display: block;
        padding: 8px 8px;
    }

    .rectangleta {
        background: rgba(237, 252, 242, 1);
        border: 1px solid rgba(170, 240, 196, 1);
        border-radius: 4px;
        font-size: 12px;
        color: rgba(8, 116, 67, 1);
        font-weight: 500;
        display: block;
        padding: 3px 5px;
    }


    .clsEvent {
        background: rgba(239, 248, 255, 1);
        border: rgba(178, 221, 255, 1);
        border-radius: 6px;
        font-size: 12px;
        color: rgba(23, 92, 211, 1);
        font-weight: 600;
        display: block;
        padding: 8px 8px;
    }

    .rectangle12 {
        background: #FCE7F3;
        border: 1px solid #f1c9e0;
        border-radius: 4px;
        font-size: 12px;
        color: #DB2777;
        font-weight: 500;
        display: block;
        padding: 1px 5px;
        text-align: left;
    }

    .clsOrder {
        background: rgba(253, 242, 248, 1);
        border: rgba(252, 231, 243, 1);
        border-radius: 6px;
        font-size: 12px;
        color: rgba(219, 39, 119, 1);
        font-weight: 600;
        display: block;
        padding: 8px 8px;
    }

    .rectangle14 {
        background: rgba(253, 242, 250, 1);
        border: 1px solid rgba(252, 206, 238, 1);
        border-radius: 4px;
        font-size: 12px;
        color: rgba(193, 21, 116, 1);
        font-weight: 500;
        display: block;
        padding: 3px 5px;
        margin: -10px 0 0 0;
    }

    #showdatainUI span {
        margin: 10px 0 5px 0;
    }

    .mon {
        font-size: 12px;
        font-weight: 600;
        color: #717680;
        text-align: center;
        text-transform: uppercase;
        padding: 7px 18px;
        margin: 0 0px 0 0px;
    }

    .dat {
        font-size: 18px;
        font-weight: 700;
        color: #0369A1;
    }

    .dhx_cal_data {
        width: 100% !important;
        overflow-y: unset !important;
        overflow-x: unset !important;
    }
</style>
<style>
    /* width */
    #scheduler_here::-webkit-scrollbar {
        width: 20px;
    }

    /* Track */
    #scheduler_here::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    #scheduler_here::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
    }

        /* Handle on hover */
        #scheduler_here::-webkit-scrollbar-thumb:hover {
            background: #b30000;
        }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>

<style>


    .btn_panel {
        margin: 0;
        /* padding: 15px 0;*/
        width: 100%;
        /*border-top: 1px solid #cccccc;*/
        /*border-bottom: 1px solid #cccccc;*/
        overflow: hidden;
    }


    .d_btn {
        margin: 0;
        padding: 7px 15px;
        background: #01496b;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .c_btn {
        margin: 0 5px;
        padding: 7px 15px;
        background: #606d05;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .l_btn {
        margin: 0;
        padding: 7px 15px;
        background: #941616;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .panel {
        margin: 0;
        padding: 15px 0;
        width: 100%;
        background: #ebf0f4;
        height: 527px;
    }

        .panel h2 {
            margin: 0;
            padding: 15px 0;
            font-size: 24px;
            text-align: center;
        }

    .cases {
        background: #54960f;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .client {
        background: #0b9875;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .cal_btn {
        margin: 0 5px 0 0;
        padding: 7px 15px;
        background: #3c3c3c;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

        .cal_btn:hover {
            color: #ffffff;
            text-decoration: none;
        }

    .document {
        background: #a0200a;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .team {
        background: #8e5f00;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .to-do {
        background: #0588bb;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .invoice {
        background: #4c669f;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .icon {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    .label {
        margin: 0;
        padding: 5px 0;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }

        .label a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }

    .calendar_inner {
        height: 85%;
        /* border: 1px solid #686868; */
        border-top: none;
        width: 100%;
        margin: 0 auto;
    }

    /*html, body {
        height: 100%;
        padding: 0px;
        margin: 0px;
    }*/

    .custom_btn_info {
        background-image: url('../../Scripts/Calendar/imgs/controls.gif');
        width: 20px;
    }

    .dhx_cal_navline {
        background: #ffffff;
		background-color:#EBEBEB !important;
        @* background: -moz-linear-gradient(left, #ffffff 0%, #0e0e0e 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%,#0e0e0e 100%);
        background: linear-gradient(to right, #ffffff 0%,#0e0e0e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0e0e0e',GradientType=1 ); *@
        height: 35px !important;
    }

        .dhx_cal_navline div {
            top: 7px !important;
        }

    .dhx_scale_bar {
        color: #000;
    }

    .dhx_cal_prev_button {
        width: 30px;
        height: 24px;
    }

    .dhx_cal_next_button {
        width: 30px;
        height: 24px;
    }

    .dhx_cal_today_button {
        padding: 4px 0 0 0 !important;
        width: 69px;
        color: #fff;
        height: 20px;
    }

    .dhx_cal_navline .dhx_cal_date {
        padding-top: 3px;
        left: 197px;
        font-size: 14px;
    }

    .dhx_cal_tab.active {
        height: 20px;
        width: 67px;
        padding-top: 4px;
        margin-top: 0px;
        color: #fff;
        display: none;
    }

    .dhx_scale_bar {
        Padding-top: 2px;
    }

    .dhx_cal_event_clear {
        text-align: center;
        width: 178px !important;
    }

    


    div.dhx_cal_event_clear {
        position: absolute;
        left: 628px;
        margin-top: -5px !important;
        width: 100px !important;
        display: table;
        /*width: auto;*/
        margin: 0px;
        padding: 0px;
    }

    .mhide {
        margin-top: 20px !important;
    }

    .dhx_month_body {
        height: 120px !important;
    }

    .modal-dialog {
        width: 650px !important;
    }

    .dhx_month_head {
        font-size: 12px;
    }
    .clsHTopBottom {
        padding: 4px 0 4px 0;
    }
</style>



<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="/CssJsfiles/css/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Manupanel/calender/dist/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/CssJsfiles/js/moment.min.js"></script>
<script src="~/Manupanel/calender/fullcalendar.min.js"></script>
<script src="~/Manupanel/calender/dist/jquery.datetimepicker.min.js"></script>
<script src="~/Scripts/CW/LitigationCalendar.js?1.0"></script>
<link href="~/Scripts/Calendar/dhtmlxscheduler.css" rel="stylesheet" charset="utf-8" type="text/css" />
<script src="~/Scripts/Calendar/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Manupanel/icsfile/ics.js"></script>
<script src="~/Manupanel/icsfile/FileSaver.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<!-- Page Content -->
<script>
            var type = '@ViewBag.type'
            //console.log(type);
</script>

<script>
    var fcode1 = localStorage.getItem("FirmCode");
    function downloadExcel() {
        window.location = encodeURI("/firm/ExportoExcelCalendar");
    }
    function downloadPDF() {
        window.location = encodeURI("/firm/ExportoPDFCalendar");
    }
    function eventlist() {
        window.location = "/" + fcode1 + "/firm/CalendarEventList";
    }
    $(document).ready(function () {
        var fcode = localStorage.getItem("FirmCode");
        $(document).on("click", "#transferpageevent", function () {
            var modelid = $(this).attr("type");
            var transferid = $(this).attr("data-date");
            var url = "/firm/ScheduleTask?token=" + encodeURI(transferid);
            $('.mymodels').load(url, function (result) {
                closeload3();
                $('#myModal').modal({ show: true });
            });
        });

        $(document).on("click", "#transferpagecalevent", function () {

            var modelid = $(this).attr("type");
            var transferid = $(this).attr("data-date");
            var url = "/firm/ScheduleCalendarEvent?token=" + encodeURI(transferid);
            $('.mymodels').load(url, function (result) {
                closeload3();
                $('#myModal').modal({ show: true });
            });
        });
        $(document).on("click", "#transferpagemore", function () {
            var modelid = $(this).attr("data-val");

            openload3();
            var url = "/firm/CalendarMoreEvent?status=true&token=" + encodeURI(modelid);
            $('.mymodels').load(url, function (result) {
                closeload3();
                $('#myModal').modal({ show: true });
            });
        });
        //For To DO calender share
        $(document).on("click", "#transferpagecaltodo", function () {

            var modelid = $(this).attr("type");
            var transferid = $(this).attr("data-date");
            var url = "/CW/ScheduleCalendarEventForToDo?token=" + encodeURI(transferid);
            $('.mymodels').load(url, function (result) {
                closeload3();
                $('#myModal').modal({ show: true });
            });
        });

    });
</script>
<section id="header">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12 text-left">
                <p class="ctitle">Litigation Calendar</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-main">
        <div class="row">
            <div class="col-md-2">
                <div class="selected-date-parent">
                    <div id="showdatainUI" style="height: 100vh; overflow-y: auto;overflow-x: hidden;padding: 10px;width:100%; font-size:13px;"></div>
                </div>
            </div>
            <div class="col-md-10">
                <section id="table">
                    <div class="container-main">
                        <div class="table" style="padding:15px;">
                            <div class="card-header">
                                <div class="content1" style="padding: 0; justify-content: flex-end;">
                                    <div class="text-and-supporting-text1" style="padding: 0 0 0 15px;">
                                        <div class="button13" style="cursor:pointer; padding:0;">
                                            <div class="mon"><span id="spMonths"></span><br /><span class="dat"><span id="spDays"></span></span></div>
                                        </div>
                                    </div>
                                    <div class="table-header" id="sectiontemp">
                                        <div class="name-colour-parent">
                                            <div class="name-colour">
                                                <div class="colour">
                                                </div>
                                                <div class="title">Court Hearing</div>
                                            </div>
                                            <div class="name-colour">
                                                <div class="colour2">
                                                </div>
                                                <div class="title">Order</div>
                                            </div>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="actions3">
                                            <div class="button13">
                                                <div class="text-padding">
                                                    @if (role.ToString() == "1")
                                                    {
                                                        <div class="text1" onclick="authenticate().then(loadClient).then(calendarsync).then(execute)" title="Google Calendar Sync">
                                                            <a href="javascript:void()"><img src="~/newassets/img/refresh-icon.png" /> Google Calendar Sync</a>
                                                        </div>
                                                    }
                                                    else if (role.ToString() == "2")
                                                    {
                                                        <div class="text1" onclick="authenticate().then(loadClient).then(calendarsync).then(execute)" title="Google Calendar Sync">
                                                            <a href="javascript:void()"><img src="~/newassets/img/refresh-icon.png" /> Google Calendar Sync</a>
                                                        </div>

                                                    }
                                                    else { }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div>
                                <div id="scheduler_here" class="dhx_cal_container container calendar_inner" style="clear:both;">
                                    <div class="dhx_cal_navline">
                                        <div class="dhx_cal_prev_button"><img src="/newassets/img/pre-btn.png" /></div>
                                        <div class="dhx_cal_date"></div>
                                        <div class="dhx_cal_next_button"><img src="/newassets/img/next-btn.png" /></div>

                                        <div class="dhx_cal_tab" name="month_tab"></div>
                                    </div>
                                    <div class="dhx_cal_header">
                                    </div>
                                    <div class="dhx_cal_data">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="content-header " style="margin-bottom: 10px;">

            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:880px !important;">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>

    </div>
</div>

<div id="myModal" class="modal fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">


        </div>

    </div>
</div>

<!-- /#page-wrapper -->
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="overlay-content">
            <div class="spinner2">
                <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
            </div>
        </div>

    </div>
</div>
<div id="myModal1" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">


        </div>

    </div>
</div>


<div id="myModalpopup" class="modal_a" style="display:none;">
    <div class="modal_a-content">
        <span onclick="ModalClose()" class="close_a">&times;</span>
        <p style="color: #000; padding: 3px; border-radius: 5px; text-align: center; font-size: 24px; font-weight:bold; margin:0;">Matter Detail</p>
        <div class="modal-body" style="width: 1000px;">
            <form id="studentDetailForm" name="studentDetailForm" action="" method="post" target="IframestudentDetailForm">

                <iframe style="width:950px; height: 450px; overflow-y:scroll;" frameborder="0" id="IframestudentDetailForm"
                        name="IframestudentDetailForm" src=""></iframe>
            </form>
        </div>
    </div>
</div>
<div id="Nexthearing" class="modal_a" style="display:none;">
    <div class="modal_a-content">
        <span onclick="ModalClose1()" class="close_a">&times;</span>
        <p style="color: #000; padding: 3px; border-radius: 5px; text-align: center; font-size: 24px; font-weight:bold; margin:0;">Next Hearing Detail</p>
        <div class="modal-body" style="width: 1000px;">
            <form id="studentDetailForm1" name="studentDetailForm1" action="" method="post" target="IframeNexthearingDetailForm1">

                <iframe style="width:950px; height: 450px; overflow-y:scroll;" frameborder="0" id="IframeNexthearingDetailForm1"
                        name="IframeNexthearingDetailForm1" src=""></iframe>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>

    </div>
</div>


<script type="text/javascript">

    var counter = 0
    var currentTime = new Date()

    // returns the month (from 0 to 11)
    var month = currentTime.getMonth()
    //alert("month:"+month);
    // returns the day of the month (from 1 to 31)
    var day = currentTime.getDate()
    //alert("day:" + day);
    // returns the year (four digits)
    var year = currentTime.getFullYear()
    //alert("year:" + year);
    init();
    function init() {
        var formData = new FormData();
        openload();
        $.ajax({
            async: true,
            type: "POST",
            url: "/Client/CalendardataMerge",
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,

            success: function (response) {
                var data = response;
                //console.log(JSON.stringify(data));
                scheduler.init('scheduler_here', new Date(), "month");
                scheduler.parse(data, "json");

                //scheduler.parse([
                //    { start_date: "02/02/2021", end_date: "02/03/2021 ", text: "Event 2" },
                //    { start_date: "02/01/2021", end_date: "02/02/2021 00:59", text: "Event 1" }
                //    { start_date: "02/03/2021", end_date: "02/03/2021 ", text: "Event 3" }

                //],"json");
                closeload();
                //  //console.log(response);
            }, //End of AJAX Success function

            failure: function (response) {
                //  alert(response.responseText);
                closeload();
            }, //End of AJAX failure function
            error: function (response) {
                //alert(response.responseText);
                closeload();
            } //End of AJAX error function

        });
    }

    function Call() {
        setTimeout(function () { closeload(); }, 2000);

    }
    function validate() {
        if (document.getElementById("fileCertificate").value == "") {
            alert("please select file");
            document.getElementById("fileCertificate").focus();
            return false;
        }

    }

    function validatenotes() {
        if (document.getElementById("txtnote").value == "") {
            alert("please enter notes");
            document.getElementById("txtnote").focus();
            return false;
        }
    }
</script>


<script>
    function ModalClose() {
        document.getElementById("myModalpopup").style.display = "none";
    }
    function ModalClose1() {
        document.getElementById("Nexthearing").style.display = "none";
    }
</script>

<script type="text/javascript">

    function openload3() {
        $('#myOverlay').css("display", "block");
    }

    function closeload3() {
        $('#myOverlay').css("display", "none");
    }


    function DateUservalue(date) {
        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Client/CaseDetailsByDate/' + btoa(date.toString());
        openload3();
        $('.mymodels').load(url, function (result, status, xhr) {

            $('#myModal').modal({ show: true });
            closeload3();
        });

    }

    function NexthearingbyUser(date, htype) {
        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Client/NextHearingByClient/' + btoa(date.toString()) + "?type=" + htype;
        openload3();
        $('.mymodels').load(url, function (result, status, xhr) {
            $('#myModal').modal({ show: true });
            closeload3();
        });
    }

    function NextOrderbyUser(date) {

        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Client/NextHearingCalendarOrder/' + btoa(date.toString());
        openload3();
        $('.mymodels').load(url, function (result, status, xhr) {
            $('#myModal').modal({ show: true });
            closeload3();
        });
    }
</script>



<script>
    msgData1 = "20120315T170000Z";// $('.start-time').text();
    msgData2 = "20120316T170000Z";//$('.end-time').text();
    msgData3 = "delhi";//$('.Location').text();

    var icsMSG = "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Our Company//NONSGML v1.0//EN\nBEGIN:VEVENT\nUID:me@google.com\nDTSTAMP:20120315T170000Z\nATTENDEE;CN=My Self ;RSVP=TRUE:MAILTO:me@gmail.com\nORGANIZER;CN=Me:MAILTO::me@gmail.com\nDTSTART:" + msgData1 + "\nDTEND:" + msgData2 + "\nLOCATION:" + msgData3 + "\nSUMMARY:Our Meeting Office\nEND:VEVENT\nEND:VCALENDAR";

    $('#test1').click(function () {
        // alert("hi");
        window.open("data:text/calendar;charset=utf8," + escape(icsMSG));
    });
</script>

<form id="form1" runat="server">
    <div>
        <script>

            function download() {
                // alert("hi");
                var urls31 = "/firm/LoadMergeNextHearingForDownload";
                var cal = ics();
                //alert(urls31);
                $.ajax({
                    async: true,
                    type: "POST",
                    url: urls31,

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var datas = JSON.stringify(data);
                        // console.log(datas);

                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                //alert(data[i].EventDetail+","+data[i].Disposeddt+","+data[i].start_date);

                                if (data[i].Caseyear == "NA") {

                                    appealno = data[i].Casename;
                                    cdescription = data[i].CourseName;
                                }
                                else if (data[i].Caseyear != "") {
                                    appealno = data[i].CourseName + " " + data[i].CaseNo + "/" + data[i].Caseyear;
                                    cdescription = data[i].CourseName + ", Advocate:" + data[i].Advname;
                                }

                                else {
                                    appealno = data[i].Casetype;
                                    cdescription = "";
                                }

                                cal.addEvent(appealno, cdescription, "", data[i].Disposeddt, "");
                            }

                            cal.download();
                        }
                        else {
                            alert("No data available for calendar.");
                        }
                    }
                });
            }
        </script>
        @*<a href="webcal://LawPracticeFirm/Documents/demo.ics" id="link">wrew</a>*@

    </div>
</form>

<script type="text/javascript">

    var totpage = 1;
    var count = 1;
    var pagesize = 30;
    var dataresbn = null;
    var datacount = 1;

    function calendarsyncdata(datacount, count, dataresbn) {

        //var x = document.getElementById("syncLoader");
        //var dataresbn = localStorage.getItem('calenderdata');
        //let datad = JSON.parse(dataresbn);
        if (datacount >= 1) {
            //start loader
            openload();
            finalcalendarsync(count, dataresbn);
        }
        else {
            new PNotify({
                title: 'Success!',
                text: 'Google Calendar synchronized successfully',
                type: 'success',
                delay: 2000
            });
            closeload();
            // x.style.display = "none";
            //End loader
        }
    }

    function finalcalendarsync(count, dataresbn) {
        var startpage = 0;
        var endpage = pagesize;
        var finaltotalpage = 0;
        if (count == 1) {
            startpage = 0;
            finaltotalpage = endpage * count;
        }
        else {
            finaltotalpage = endpage * count;
            startpage = finaltotalpage - pagesize;
        }
        var dataObj = {};
        // var datares = localStorage.getItem('calenderdata');
        let data = dataresbn;
        // alert(dataresbn);
        var totaldata = data.length;
        for (var i = startpage; i < finaltotalpage; i++) {
            if (data[i] != undefined) {
                if (data[i].Caseyear == "NA") {

                    appealno = data[i].Casename;
                    cdescription = data[i].CourseName;
                }
                else if (data[i].Caseyear != "") {
                    appealno = data[i].Casetype + " " + data[i].CaseNo + "/" + data[i].Caseyear;
                    cdescription = data[i].CourseName + ", Advocate:" + data[i].Advname;
                }
                else {
                    appealno = data[i].Casetype;
                    cdescription = data[i].Casetype;
                }
                dataObj.summary = appealno;
                dataObj.location = "";
                dataObj.description = cdescription;
                //alert(data[i].Disposeddt);
                //alert(formatDate(data[i].Disposeddt) );
                dataObj.start = { dateTime: formatDate(data[i].Disposeddt) + 'T03:00:00+02:00' }
                dataObj.end = { dateTime: formatDate(data[i].Disposeddt) + 'T03:00:00+02:00' }
                // console.log(dataObj)
                execute1(dataObj)
            }
            else {
                datacount = 0;
            }
            // console.log(count);
        }
        setTimeout(function () {
            count = parseInt(count) + 1;
            calendarsyncdata(datacount, count, dataresbn);
        }, 10000);
    }


    function calendarsync() {

        var urls3 = "/firm/LoadMergeNextHearingForDownload";
        var dataval = [];
        var dataObj = {};
        //  alert(urls3);
        var dd = $.ajax({
            async: true,
            type: "POST",
            url: urls3,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    // var datas = JSON.stringify(response);
                    //var obj3 = JSON.parse(response.Data);
                    calendarsyncdata(datacount, count, data);
                    // alert(JSON.stringify(dataObj));
                    //alert("Google Calendar Synchronize Successfully");
                    new PNotify({
                        title: 'success',
                        text: 'Google Calendar synchronization inpogress please wait.',
                        type: 'success',
                        delay: 10000,
                    });
                }
                else {
                    alert("No data available for calendar.");
                }
            },
            error: function (error) {
                alert('failed');
            }
        });
        $.when(dd).then(function (data, textStatus, jqXHR) {

            //execute1(dataval);
        });
    }

    /**
     * Sample JavaScript code for calendar.events.insert
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/guides/code_samples#javascript
     */

    function authenticate() {
        return gapi.auth2.getAuthInstance()
            .signIn({ scope: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events" })
            .then(function () {//console.log("Sign-in successful");
            },
                function (err) { console.error("Error signing in", err); });
    }
    function loadClient() {

        gapi.client.setApiKey("AIzaSyDjSC9a17z8xMYUr7av3iuMdlNLrU53E4Y");

        return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest")
            .then(function () {
                //console.log("GAPI client loaded for API");
            },
                function (err) { console.error("Error loading GAPI client for API", err); });
    }

    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {

    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
    function execute1(dataObj) {

        return gapi.client.calendar.events.insert({
            "calendarId": "primary",
            "resource": dataObj

        })
            .then(function (response) {
                // Handle the results here (response.result has the parsed body).
                // console.log("Response", response);
            },
                function (err) { console.error("Execute error", err); });
    }
    gapi.load("client:auth2", function () {
        gapi.auth2.init({ client_id: "748718720814-nfcrrb0h0vt48vlob3fel75jpg68douk.apps.googleusercontent.com" });
    });

</script>