@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    var userid = Session["sessionuserid"];

    var firmcode12 = Request.Url.Segments[1];
    Session["firmcode"] = firmcode12.Replace("/", "");


}
<style>
    .todo-list {
        float: left;
        width: 131px;
        background: #f4f4f4;
        padding: 11px;
        margin: 0 20px 20px 0;
        border-radius: 8px;
    }

    .breadcrumb {
        padding: 2px 4px;
        margin: 0;
        background-color: #f4f4f4;
        border-radius: 50px;
        overflow: hidden;
        width: 90px;
    }

    .paginationsection ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .paginationsection ul li {
            margin: 0 12px 0 0;
            padding: 0;
            float: left;
        }

    #legend > ul {
        display: flex;
        justify-content: center;
    }

    #legend li {
        cursor: pointer;
        margin: 10px 10px;
        display: flex;
    }

        #legend li span {
            padding-left: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }



    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }


    #parentnbox {
        border-bottom: 0px !important;
    }

        #parentnbox > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px !important
        }

        #parentnbox > li > a:hover, .nav > li > a:focus {
            background-color: white !important;
        }

        #parentnbox > li > a:hover {
            border-color: white !important;
        }

    .alertbox li > a {
        color: #555 !important;
        cursor: default;
    }


    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ebebeb;
        border: none;
        box-shadow: none;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: none;
    }

    .panel-heading {
        position: relative;
        padding: 6px 15px !important;
    }


    .panel-default > .panel-heading {
        background-color: #ebebeb !important;
    }

    .panel-title {
        font-size: 11px !important;
        padding: 3px 0 !important;
    }

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding: 4px 5px 1px 5px;
            border-radius: 50px;
            margin: 1px 0 0 0;
            background: #4d95dd;
            color: #ffffff;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
            color: #000000;
        }

    .dashboard_top_panel {
        /*margin: 10px 0 20px 0;*/
        padding: 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: 80% 18%;
        gap: 20px;
    }

        .dashboard_top_panel .dbox {
            margin: 0;
            padding: 10px 12px;
            border-radius: 8px;
            color: #020202;
            border: 1px solid #ebebeb;
            overflow: hidden;
            min-height: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*background: url(../../newassets/img/litigation_bg.svg);
            background-position:center;
            background-size:cover;*/
            background: linear-gradient(62deg, rgb(12 74 110 / 20%) 0%, rgba(255, 255, 255, 0) 62%);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        }

            .dashboard_top_panel .dbox .iconwrapper {
                margin: 0;
                float: left;        
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 1px solid #bbb6b6;
                padding:10px;
            }

                .dashboard_top_panel .dbox .iconwrapper img{
                    width:32px;
                    height:32px;
                }

            .dashboard_top_panel .dbox .txtwrapper {
                text-align: right;
                /*display: flex;
                flex-direction: column-reverse;
                position:relative;
                z-index:999;*/
            }

                .dashboard_top_panel .dbox .txtwrapper p {
                }

                    .dashboard_top_panel .dbox .txtwrapper p a {
                        color: #020202;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 15px;
                    }

                        .dashboard_top_panel .dbox .txtwrapper p a:hover {
                            color: #4D95DD;
                            text-decoration: none;
                        }



            .dashboard_top_panel .dbox p label {
                color: #4D95DD !important;
                font-size: 31px !important;
                font-weight: 600 !important;
            }


    .r-activitypanel {
        margin: 25px 0 0 0;
        padding: 0;
    }

    /*.r-activitywrapper {
        margin: 0 0 30px 0;
        padding: 5px 0;
        border-bottom: 0.5px solid #e2e2e2;
        opacity: 1;
        height: auto;
    }*/

        .r-activitywrapper p {
            margin: 0;
            padding: 0;
            color: #B5B1B1;
            font-size: 16px;
            letter-spacing: 0.68px;
        }

            .r-activitywrapper p span {
                color: #020202;
                letter-spacing: 0.68px;
                font-weight: 500;
            }


    .recent {
        margin: 0;
        padding: 0;
        /* border-bottom: 1px solid #c8c8c8; */
        font-size: 16px;
        color: #020202;
        height: 155px;
    }
    .dashboard_top_panel22 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:20px;
    }

    .col-md-2a {
        padding:0px;
        width:100%;
    }
    .dashboard_top_panel33 .col-md-2a .dbox {
        position: relative;
        min-height: 211px;
        align-items: start;
        justify-content: end;
    }
        .dashboard_top_panel33 .col-md-2a .dbox .letidashboard {
           /* width: 100%;
            position: absolute;
            object-position: bottom;
            height: 100%;
            object-fit: scale-down;*/
            margin-right: 10px;
            margin-top: 30px;
        }
        }
        .header_wrapper {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    .label_sheet{
        text-decoration:none;
        font-size:14px;
        font-weight:600;
    }
    .letigationone_filter {
        margin: 10px 5px 20px auto;
    }
    .letigation_table_filter .table-panel thead tr th{
        padding:15px;
    }
</style>
<script src="~/Scripts/CW/LitigationDashboard.js?2.1"></script>

<section class="wrapper">
    <div class="container-main showcontent">
        <section id="header">
            <div class="container-main">
                <div class="text-left header_wrapper" style="display: flex; align-items: center; ">
                    <h3 class="ctitle">My Dashboard</h3>
                </div>
            </div>
        </section>
        <div class="dashboard_top_panel">
            <div class="dashboard_top_panel22">
                <div class="col-md-2a">
                    <div class="dbox">
                        <div class="iconwrapper"><img src="~/newassets/img/totalCase.svg" width="30"></div>
                        <div class="txtwrapper">
                            <p><span class="loader1"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lbltottalcase"></label></p>
                            <p class="label_sheet">Total Cases</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2a">
                    <div class="dbox">
                        <div class="iconwrapper"><img src="~/newassets/img/padding_cases.svg" width="30"></div>
                        <div class="txtwrapper">
                            <p><span class="loader2"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lblpendingcase"></label></p>
                            <p class="label_sheet">Pending Cases</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2a">
                    <div class="dbox">
                        <div class="iconwrapper"><img src="~/newassets/img/disposed.svg" width="30"></div>
                        <div class="txtwrapper">
                            <p><span class="loader3"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lbldisposedcase"></label></p>
                            <p class="label_sheet">Disposed Cases</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2a">
                    <div class="dbox">
                        <div class="iconwrapper"><img src="/newassets/img/StatusNotAvilable.svg" width="30"></div>
                        <div class="txtwrapper">
                            <p><span class="loader4"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lblstnotavl"></label></p>
                            <p class="label_sheet">Status not Available</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2a" style="margin-top: inherit;">

                    <div class="dbox">
                        <div class="iconwrapper"><img src="~/newassets/img/todo.svg" width="30" alt="Task Icon"></div>
                        <div class="txtwrapper">
                            <p><span class="loader6"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lbltodolist"></label></p>
                            <p><a class="label_sheet" href="/@Session["firmcode"]/CW/GetToDOSDetails" name="TotalCase">To Do List</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2a" style="margin-top: inherit;">
                    <div class="dbox">
                        <div class="iconwrapper"><img src="~/newassets/img/note.svg" width="30"></div>
                        <div class="txtwrapper">
                            <p><span class="loader5"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lblNotesavl"></label></p>
                            <p> <a class="label_sheet" href="/@Session["firmcode"]/CW/GetTotalNotesDetails">Notes  </a></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="dashboard_top_panel33">
                <div class="col-md-2a" style="margin-top: inherit;">

                    <div class="dbox">
                        
                        <div class="txtwrapper" style="position: absolute;">
                            <p><span class="loader6"><img src="/newassets/images/loader.gif" width="40" /></span><label id="lblContact"></label></p>
                            <p> <a class="label_sheet" href="/@Session["firmcode"]/CW/LitigationContactList">Contact</a></p>
                        </div>
                        <img src="~/newassets/img/last_img.svg" alt="Alternate Text" class="letidashboard" />
                    </div>

                </div>
            </div>


        </div>

        <div class="r-activitypanel">
            <div class="container-main">
                <div class="text-left header_wrapper">
                    <h3 class="ctitle">Recent Activity</h3>
                </div>
            </div>
            <div>
                <div class="letigation_table_filter">
                    <div class="letigationone_filter">
                        <div class="form-group">
                            @*<label class="formLabel colorDark">Creation Date</label>*@
                            <div class="row gy-sm-4">
                                <div class="col-md-2">
                                    <input class="form-control inputFormat" id="daterecentfrom" onkeypress="return false;" type="date" placeholder="yyyy-mm-dd">
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control inputFormat" id="daterecentto" onkeypress="return false;" type="date" placeholder="yyyy-mm-dd">
                                </div>
                                <button type="button" class="btn btn-primary" id="searchrecentdatas">Search</button>
                            </div>
                        </div>
                        @*<div class="form-group ">
                <label class="formLabel colorDark">START</label>
                <input class="form-control inputFormat" id="daterecentfrom" onkeypress="return false;" type="date" placeholder="yyyy-mm-dd">
            </div>
            <div class="form-group ">
                <label class="formLabel colorDark">START</label>
                <input class="form-control inputFormat" id="daterecentto" onkeypress="return false;" type="date" placeholder="yyyy-mm-dd">
            </div>
            <button type="button" class="btn btn-primary" id="searchrecentdatas">Search</button>*@
                    </div>
                    <table class="table-panel">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Action Taken</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody id="loadractivity">
                          
                        </tbody>
                    </table>
                    <div id="notFound" style="display: none"></div>
                    <div class="settingpanel">
                        <div class="pagination" id="pagenatedArea">
                            <div class="pagination-button-group">
                                <div id="prev" class="pagination-button-group-base">
                                    <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                    <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                                </div>
                                <div id="pageNumbers" class="pagination-button-group-base1">                
                                </div>

                                <div id="next" class="pagination-button-group-base8">
                                    <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                    <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                                </div>
                            </div>
                            <div class="text-and-supporting-text-parent">
                                <div class="input">
                                    <div class="content">
                                        <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                                    </div>
                                    <div class="help-icon">
                                    </div>
                                </div>
                                <div class="text-and-supporting-text-group">
                                    <div class="text-and-supporting-text">
                                        <div id="divGo" class="text9">Go</div>
                                    </div>
                                    <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    @*<tr>
                        <td><label>START</label><input class="form-control inputbg" id="daterecentfrom" onkeypress="return false;" type="date" style="height:24px !important;width: 130px;border-bottom: 1px solid #ccc !important;" placeholder="yyyy-mm-dd"></td>
                        <td><label>END</label> <input class="form-control inputbg" id="daterecentto" onkeypress="return false;" type="date" style="height:24px !important;width: 130px;border-bottom: 1px solid #ccc !important;" placeholder="yyyy-mm-dd"></td>
                        <td><button type="button" class="sbtbtn" id="searchrecentdatas" style="margin-top:22px;">Search</button></td>
                    </tr>*@
               
            </div>

            @*<div class="r-activitywrapper">
            </div>
            <div id="loadractivity">
                <center><div id="loadactivityfooter"></div></center> <div id="loadactivitydata"></div>
            </div>
            <div id="footeractivitydata"></div>*@

            
        </div>



       
    </div>
</section>
<div id="myOverlay" class="overlay2">

</div>
