@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<script src="~/Scripts/CW/ViewAlert.js?1.2" type="text/javascript"></script>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle">Alert List</p>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div class="tablecontainer">
                    <div id="allcasediv">
                        <table id="example" class="table-panel">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="thbg" style="width:250px;">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="Alerttext" placeholder="What's App Text" class="form-control pull-left">
                                            </div>
                                            <div style="float:left;width:20%">

                                                <span class="glyphicon glyphicon-search" id="searchalerttext" style="cursor:pointer; float:none;"></span>
                                                <span class="" id="clearsearchtet" title="Click here to reset search" style="display:none;font-size:15px;cursor:pointer;padding:0;">x</span>

                                            </div>
                                        </div>
                                    </th>
                                    <th width="150px">
                                        <div class="thbg">Sent On </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="bindCaseAlertList"></tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination" id="pagenatedArea">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>

                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

