
@{
    ViewBag.Title = "Case Fields Configuration";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}

<script>
    var configurationtype = 2;
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/CustomField.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> Case Details
            </h3>
        </div>
    </div>
    <div class="form-section">

        <div id="divCFields" style="border:0 solid grey;padding:25px 0px;min-height:1px;">

        </div>

        <div class="row" id="divcustomField">
            <label for="txtTitle" class="col-md-2 control-label">Custom Field</label>:
            <button type="button" class=" textinput btn-primary" id="btncustomField" data-toggle="modal" data-target="#customfield">Add Custom Field</button>
        </div>
    </div>
    <div class="form-section">
        <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: normal;">
            <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish </button>
            <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
        </nav>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="customfield" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Custom Field</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <label for="txtTitle" class="col-md-4 control-label">Custom Field Name<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <input class="col-md-8 textinput" data-val="true" id="txtcustomFieldName" />
                </div>
                <div class="row">
                    <label for="txtTitle" class="col-md-4 control-label">Custom Field type<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <select class="col-md-8 textinput" id="ddlcustomFieldtype">
                        <option value="0">-Select Any-</option>
                    </select>
                    <div class="col-md-4"></div><div class="col-md-8">Add the options you would like to have in the drop down list list, separate values with a comma.</div>
                </div>
                <div class="row" style="display:none;" id="divOptions">
                    <label for="txtTitle" class="col-md-4 control-label">List options<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <input class="col-md-8 textinput" data-val="true" id="txtcustomFieldvalue" />
                </div>
                <div class="row" id="divFieldLength">
                    <label for="txtTitle" class="col-md-4 control-label">Custom Field Length<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <input class="col-md-3 textinput" data-val="true" id="txtcustomFieldNameminlength" type="number" placeholder="Minimum Length" maxlength="3" />
                    <input class="col-md-3 textinput" data-val="true" id="txtcustomFieldNamemaxlength" type="number" placeholder="Maximum Length" maxlength="3" />
                </div>
                <div class="row" style="" id="divRequired">
                    <label for="txtTitle" class="col-md-4 control-label">Required</label>:
                    <div class="col-md-8 toggle btn"><input type="checkbox" id="chkRequired" data-toggle="toggle"></div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnAddField">Add</button>
            </div>

        </div>
    </div>
</div>