@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<style>
    .assignRight{
        display:flex;
        gap:15px;
    }
    .assignRight1 .form-check {
        display: flex;
        align-items: center;
        gap: 7px;
        border: 1px solid #d5d7da;
        padding: 7px 10px;
        border-radius: 7px;
    }
        .assignRight .form-check .form-check-label{
            margin-bottom:0;
        }
        .assignRight .form-check .form-check-input {
            margin-top: 0;
        }
    .assignRight1 .caseuserlabel {
        margin-bottom:0;
    }
    .assignRight1 .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .box-title1 {
        display: grid;
        grid-template-columns: 15% 16% 10% !important;
        gap: 15px;
        padding: 20px 10px;
    }
</style>
<script>
    var roleid = "@Session["sessionroleid"]";
</script>
<script src="~/Scripts/Firm/Pages/CaseRoleAccessCreate.js?1.3" type="text/javascript" language="javascript"></script>
<section class="wrapper">
    <div class="container-main showcontent" id="showcontent">
        <section id="header">
            <div class="container-main" style="display:flex; align-items:center; justify-content:space-between;">
                <div class="text-left">
                    <h2 class="ctitle">Assign Rights for New Matters</h2>                 
                </div>               
            </div>
        </section>
        <div>

            <div class="assignRight1">
                <div class="form-group form-horizontal">
                    <div class="box-title1 col-md-12">
                        <div id="divddlUsers" style=" display:block;">
                            <select class="selctInputFormat" id="ddlUsers" name="ddlUsers">
                                <option value="">Select User</option>
                            </select>
                        </div>
                        <div class="assignRight">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="rdgroups" name="roleaccess" onclick="fn_RoleCaseAccessOption(1);" />
                                <label class="form-check-label" for="rdgroups">
                                    All Matter
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="rdusers" name="roleaccess" onclick="fn_RoleCaseAccessOption(2);" />
                                <label class="form-check-label" for="rdusers">
                                    Select Matters
                                </label>
                            </div>
                            <input type="radio" id="rdnone" name="roleaccess" style="display:none;" />
                            <input type="hidden" id="hdnrdCaseOption" value="0" />
                        </div>
                        <div id="divddlCases" class="form-check" style=" display:none;">
                            <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label class="caseuserlabel" id="caseuserlabel">Select Matter</label>
                                <span class="glyphicon glyphicon-chevron-down" style="display: flex; font-size: 11px; align-items: center; color:#d5d7da;"></span>
                            </a>
                            <ul class="dropdown-menu settingshowhide" id="rCases" style="width:auto; height:135px; margin-left: 575px;"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                <table class="table-panel">
                    <thead>
                        <tr style="display:none">
                            <th colspan="8"><h4>Role Access Levels</h4></th>
                            <th colspan="7" style="display:none;"><h5>Settings for the User's Contacts</h5>Select All<input type="checkbox" id="chkContactsselectall"></th>
                            <th colspan="2" style="display:none;"><h5>Settings for the All Contacts</h5>Select All<input type="checkbox" id="chkAllContactsselectall"></th>
                        </tr>
                        <tr>
                            <th><div class="thbg">Feature</div></th>
                            <th title="Rights to Create"><div class="thbg">Create <input type="checkbox" id="chkSelectCreateall" style="display:none;"></div></th>
                            <th title="View Only Rights"><div class="thbg">View <input type="checkbox" id="chkSelectViewall" style="display:none;"></div></th>
                            <th title="Edit Rights"><div class="thbg">Edit <input type="checkbox" id="chkSelectEditall" style="display:none;"></div></th>
                            <th title="Delete Rights"><div class="thbg">Delete <input type="checkbox" id="chkSelectDeleteall" style="display:none;"></div></th>
                            <th title="Download PDF/XLS"><div class="thbg">Export<input type="checkbox" id="chkSelectExportall" style="display:none;"></div></th>
                            <th title="Share with other users"><div class="thbg">Share <input type="checkbox" id="chkSelectShareall" style="display:none;"></div></th>
                            <th style="display:none;"><div class="thbg">Enable <input type="checkbox" id="chkSelectEnableall" style="display:none;"></div></th>
                            <th style="display:none;" title="User view all the items or records in the system"><div class="thbg">View All <input type="checkbox" id="chkGlobalViewall"></div></th>
                            <th style="display:none;" title="User edit every items or records in the system"><div class="thbg">Edit All <input type="checkbox" id="chkGlobalEditall"></div></th>
                        </tr>
                    </thead>
                    <tbody id="bindcasetask"></tbody>
                </table>

                <center><div id="dataescstatus"></div></center>
                <div id="tfooter" class="settingpanel" style="padding: 0 0 26px 0;"></div>
            </div>
            <button type="button" class="btn btn-primary" id="rSaveRoleAccessLevel" style="float:right; margin:15px 0px;">Save</button>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
