@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
@*@model IEnumerable<DataAccess.Modals.Role>*@
@model DataAccess.Modals.Role
@{
    ViewBag.Title = "Add New Role";
}
<aside class="right-side">
    <section class="content-header">
        <h2>Add New Role:</h2>
        <table>
            <tr><td s></td></tr>
            <tr>
                <td style="height:20px; text-align:right;">
                    @Html.ActionLink("Role List", "index", "Role")
                </td>
            </tr>
        </table>
        <br>
        @using (Html.BeginForm())
        {
            <table id="tbrole" class="table  dataTable " border="0">
                <tr>
                    <td>Role Name:</td>
                    <td>
                        @Html.TextBoxFor(model => model.RoleName, new { @required = "required" })
                    </td>
                </tr>
                <tr><td style="height:20px;" colspan="2"></td></tr>
                <tr><td></td><td><input type="submit" value="Create Role" class="btn btn-success" /></td></tr>
                <tr><td style="height:20px;" colspan="2"></td></tr>
            </table>
        }
