@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<aside class="right-side">
    <section class="content-header">
        <h2>Manage Role</h2>
        <table>
            <tr><td style="height:20px;"></td></tr>
            <tr>
                <td style="height:20px; text-align:right;">
                    @Html.ActionLink("Add New Role", "Create", "Role")
                </td>
            </tr>
        </table>
        <table><tr><td style="height:20px;"></td></tr></table>
        <table id="tbrole" class="table table-bordered dataTable">
            <tr>
                <td style="background:#1860a3; color:white; padding:10px; width:150px;">
                    S.No.
                </td>
                <td style="background:#1860a3; color:white; padding:10px;">
                    Role Name
                </td>
            </tr>
            @{
                var srn = 0;
            }
            @foreach (var item in ViewBag.roles)
            {
                srn = srn + 1;
                <tr>
                    <td>
                        @srn
                    </td>
                    <td>
                        @item.RoleName
                    </td>
                </tr>
            }
        </table>
