@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/RoleAccessCreate.js?2.2" type="text/javascript" language="javascript"></script>
<script src="~/Scripts/Firm/Pages/RoleAccessLevel.js?1.9" type="text/javascript" language="javascript"></script>
<section class="wrapper">
    <div class="container-main showcontent" id="showcontent">
        <div>
            <h2 class="ctitle">New Rights Access</h2>
            <div class="row">
                <div class="col-md-3">
                    @if (role.ToString() == "1")
                    {
                        <div class="form-group">
                            <label class="formLabel colorDark">Matter Type <span class="required " aria-required="true"><b> *</b> </span></label>
                            <select class="form-control selctInputFormat" id="hdnrdrightslevelval" name="rishtslevel" onchange="fn_userlevelrights()">
                                <option value="0" selected>User Level Rights</option>
                                <option value="1">Partner Level Rights</option>
                                <option value="2">View and Edit Only Rights</option>
                            </select>
                        </div>

                    }
                    else
                    {
                        <div class="form-group">
                            <label class="formLabel colorDark">Matter Type <span class="required " aria-required="true"><b> *</b> </span></label>
                            <select class="form-control selctInputFormat" id="hdnrdrightslevelval" name="rishtslevel" onchange="fn_userlevelrights()">
                                <option value="0" selected>User Level Rights</option>
                                <option value="1">Partner Level Rights</option>
                                @*<option value="2">View and Edit Only Rights</option>*@
                            </select>
                        </div>
                    }
                    <input type="hidden" id="hdnrdaccessval" value="0" />
                </div>
                <div class="col-md-2">
                    <div id="divddlGroup" style=" display:none;">
                        <select id="ddlGroups" name="ddlGroups">
                            <option value="">Select Team</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="formLabel colorDark">&nbsp;</label>
                        <div id="divddlUsers" sstyle="display:none;">
                            <a href="javascript:void()" style="display:block; margin-bottom:10px; text-decoration:none; color:#fff; width:100%; height: 35px !important;" class="dropdown-toggle selctInputFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label style="color:#717680;" id="userrightslabel">Select User</label>
                            </a>
                            <ul class="dropdown-menu settingshowhide" id="rUsers" style="min-width:260px"></ul>
                        </div>
                    </div>

                </div>


            </div>
            @*<table width="100%" style="font-size:12px;">
                <thead>
                    <tr style="font-weight:500;display:none">
                        <th colspan="3">
                            <span style="font-weight: 500;">
                                Select
                            </span>&nbsp;:&nbsp;&nbsp;
                            <input type="radio" id="rdgroups" name="roleaccess" onclick="fn_RoleAccessOption(1);" /> &nbsp;&nbsp;<span style="font-weight: 500;">Teams</span>
                            <input type="radio" id="rdusers" name="roleaccess" onclick="fn_RoleAccessOption(2);" /> &nbsp;&nbsp;<span style="font-weight: 500;">
                                Users
                            </span>
                            <input type="hidden" id="hdnrdaccessval" value="0" />
                        </th>
                    </tr>
                    @*<tr>
                        <th colspan="3">
                            <div class="form-group form-horizontal">
                                <div class="col-md-9">
                                    <div id="divddlGroup1" style=" display:Block;">
                                        <select id="ddlGroups" name="ddlGroups">
                                            <option value="">Select Team</option>
                                        </select>
                                    </div>
                                    <div id="divddlUsers1" style="margin-bottom: 20px !important; display:none;">
                                        <a href="javascript:void()" style="background-color: #ebebeb; padding-top: 5px !important; padding-bottom: 5px !important;margin-left: -15px !important;" class="dropdown-toggle selctInputFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <label id="userrightslabel" style="color: #7c7777;font-size: 12px;font-weight: 500;text-transform:unset">Select</label>
                                        </a>
                                        <ul class="dropdown-menu settingshowhide" id="rUsers" style="width:260px"></ul>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>*@
            <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                <table class="table-panel">
                    <thead>
                        @if (role.ToString() == "1")
                        {
                            @*<tr style="background-color:#cbeffe !important; border-radius: 10px;" class="ec_bg">
                                <th style="display:none;"><p style="font-size:14px;">Role Access Levels</p></th>
                                <th style="display:none;" colspan="7"><p style="font-size:14px;">Settings for the User's Contacts</p>Select All<input type="checkbox" id="chkContactsselectall"></th>
                                <th style="display:none;" colspan="2"><p style="font-size:14px;">Settings for the All Contacts</p>Select All<input type="checkbox" id="chkAllContactsselectall"></th>
                                <th style="padding: 10px 10px !important;" colspan="8">
                                    <div class="roleAccessradio">
                                        <input checked type="radio" id="rduserlevel" name="rolelevelaccess" onclick="fn_userlevelrights(0);" /> &nbsp;&nbsp;User Level Rights&nbsp;&nbsp;
                                        <input type="radio" id="rdpartnerlevel" name="rolelevelaccess" onclick="fn_userlevelrights(1);" /> &nbsp;&nbsp;Partner Level Rights&nbsp;&nbsp;
                                        <input type="radio" id="rdfirmlevel" name="rolelevelaccess" onclick="fn_userlevelrights(2);" /> &nbsp;&nbsp;View and Edit Only Rights
                                       <input type="hidden" id="hdnrdrightslevelval" value="0" />
                                    </div>
                                </th>
                            </tr>*@
                        }
                        else
                        {
                            @*<tr style="background-color:#cbeffe !important; border-radius: 10px;" class="ec_bg">
                                <th style="display:none;"><p style="font-size:14px;">Role Access Levels</p></th>
                                <th style="display:none;" colspan="7"><p style="font-size:14px;">Settings for the User's Contacts</p>Select All<input type="checkbox" id="chkContactsselectall"></th>
                                <th style="display:none;" colspan="2"><p style="font-size:14px;">Settings for the All Contacts</p>Select All<input type="checkbox" id="chkAllContactsselectall"></th>
                                <th style="padding: 10px 10px !important;" colspan="8">
                                    <input checked type="radio" id="rduserlevel" name="rolelevelaccess" onclick="fn_userlevelrights(0);" /> &nbsp;&nbsp;User Level Rights&nbsp;&nbsp;
                                    <input type="radio" id="rdpartnerlevel" name="rolelevelaccess" onclick="fn_userlevelrights(1);" /> &nbsp;&nbsp;Partner Level Rights&nbsp;&nbsp;
                                    <input type="radio" id="rdfirmlevel" name="rolelevelaccess" style="display:none" />
                                    <input type="hidden" id="hdnrdrightslevelval" value="0" />
                                </th>
                            </tr>*@
                        }
                        <tr>
                            <th><div class="thbg">Feature</div></th>
                            <th id="thCreate" title="Rights to Create"> <div class="thbg"><input type="checkbox" id="chkSelectCreateall" style="margin-right: 10px !important;">Create</div></th>
                            <th id="thView" title="View Only Rights"><div class="thbg"> <input type="checkbox" id="chkSelectViewall" style="margin-right: 10px !important;">View</div></th>
                            <th id="thEdit" title="Edit Rights"><div class="thbg"> <input type="checkbox" id="chkSelectEditall" style="margin-right: 10px !important;">Edit</div></th>
                            <th id="thDelete" title="Delete Rights"><div class="thbg"> <input type="checkbox" id="chkSelectDeleteall" style="margin-right: 10px !important;">Delete</div></th>
                            <th id="thExport" title="Download PDF/XLS"> <div class="thbg"><input type="checkbox" id="chkSelectExportall" style="margin-right: 10px !important;">Export</div></th>
                            <th id="thShare" title="Share with other users"> <div class="thbg"><input type="checkbox" id="chkSelectShareall" style="margin-right: 10px !important;">Share</div></th>
                            <th id="thEnable"> <div class="thbg"><input type="checkbox" id="chkSelectEnableall" style="margin-right: 10px !important;">Enable</div></th>
                            <th id="thglobalviewall" style="display:none;" title="User view all the items or records in the system"><div class="thbg"> <input style="margin-right: 10px !important;" type="checkbox" id="chkGlobalViewall">View</div></th>
                            <th id="thglobaleditall" style="display:none;" title="User edit every items or records in the system"><div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkGlobalEditall">Edit</div></th>
                        </tr>
                    </thead>
                    <tbody id="bindcasetask"></tbody>
                </table>
                <button type="button" class="btn btn-primary right" id="rSaveRoleAccessLevel" style="float:right; margin-top:20px;">Save</button>
                <center><div id="dataescstatus"></div></center>
                <div id="tfooter" class="settingpanel" style="padding: 0 0 26px 0;display:none"></div>
            </div>
        </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="divrole"></div>
