@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
@{
    var firmcode = Session["FirmCode"];
}
<script>
    var gid = "@ViewBag.id";
    var gop = "@ViewBag.op";
    var gname = "@ViewBag.gname";
</script>
<script src="~/Scripts/Firm/Pages/RoleAccessUpdate.js?2.1" type="text/javascript" language="javascript"></script>

<section id="header">
    <div class="container-main">
        <div class="text-left">
            <a href="/@firmcode/Role/RoleAccess" title="Assign Rights" class="tabstyle" id="assignRights">Back</a>
            <p class="ctitle"><h2 id="dynamiciprheader">Edit Rights</h2></p>
        </div>
        <div class="assign_wrapper_right">
            <button type="button" class="btn btn-primary" style="float:right" id="rSaveRoleAccessLevel">Update</button>
        </div>

    </div>
</section>

<section class="wrapper">
    <div class="container-main showcontent" id="showcontent">
        <div>
            @*<h2 class="title">Edit Rights</h2>*@
            <table width="100%">
                <thead>
                    <tr>
                        <th colspan="3">
                            <div class="form-group form-horizontal">
                                <div>
                                    <div id="divlabel" style="float:left;font-size:12px;font-weight:500;"></div><div id="divlevelrights" style="float:left;margin-left:5px;font-size:12px;font-weight:500;"></div>
                                    <div id="divShowUserCount" style="font-size:13px;"></div>
                                    <input type="hidden" id="hdnrdrightslevelval" value="0" />
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="table-panel table-responsive" data-example-id="hoverable-table" id="home">
                <table class="table ">
                    <thead>
                        <tr style="display:none;">
                            <th><p style="font-size:14px;">Role Access Levels</p></th>
                            <th colspan="7"><p style="font-size:14px;">Settings for the User's Contacts</p></th>
                            <th colspan="2"><p style="font-size:14px;">Settings for the All Contacts</p></th>
                        </tr>
                        <tr>
                            <th><div class="thbg">Feature</div></th>
                            <th id="thCreate" title="Rights to Create"><div class="thbg"> <input style="margin-right: 10px !important;" type="checkbox" id="chkSelectCreateall">Create</div></th>
                            <th id="thView" title="View Only Rights"> <div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkSelectViewall">View</div></th>
                            <th id="thEdit" title="Edit Rights"><div class="thbg"> <input style="margin-right: 10px !important;" type="checkbox" id="chkSelectEditall">Edit</div></th>
                            <th id="thDelete" title="Delete Rights"> <div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkSelectDeleteall">Delete</div></th>
                            <th id="thExport" title="Download PDF/XLS"><div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkSelectExportall">Export</div></th>
                            <th id="thShare" title="Share with other users"><div class="thbg"> <input style="margin-right: 10px !important;" type="checkbox" id="chkSelectShareall">Share</div></th>
                            <th id="thEnable"> <div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkSelectEnableall">Enable</div></th>
                            <th id="thglobalviewall" style="display:none;" title="User view all the items or records in the system"><div class="thbg"> <input style="margin-right: 10px !important;" type="checkbox" id="chkGlobalViewall">View</div></th>
                            <th id="thglobaleditall" style="display:none;" title="User edit every items or records in the system"> <div class="thbg"><input style="margin-right: 10px !important;" type="checkbox" id="chkGlobalEditall">Edit</div></th>
                        </tr>
                    </thead>
                    <tbody id="bindEditRole"></tbody>
                </table>
                @*<button type="button" class="sbtbtn" style="float:right" id="rSaveRoleAccessLevel">Update</button>*@
                <center><div id="dataescstatus"></div></center>
                <div id="tfooter" class="settingpanel" style="padding: 0 0 26px 0;"></div>
            </div>
        </div>
    </div>
    @*End Modal for Show User details on UserCount*@
    <div class="modal fade" id="modalUserCountView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size:unset !important">&times;</span></button>
                    <div id="divuserLabel"><h4 class="modal-title" id="myModalUserLabel">User(s) in Team</h4></div>
                </div>
                <div class="modal-body ">
                    <!-- Main content -->
                    <form id="resavetaskform" enctype="multipart/form-data" novalidate="novalidate">
                        <!-- Start About boxes -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th><div class="thbg">Name</div></th>
                                            <th><div class="thbg">Email</div></th>
                                            <th><div class="thbg"></div></th>
                                        </tr>
                                    </thead>
                                    <tbody id="bindUsercountdetails"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.content -->
                        <input type="hidden" id="hidgroupid">
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*End Modal for Show User details on UserCount*@
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
