
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Areas/Firm/Views/Shared/_FirmAccountLayout.cshtml";
}

<div style="text-align:center;">

    <h1>Logout Successfully</h1>
    Please click @Html.ActionLink("here","Login","Account") for Login again

</div>


