
@{
    ViewBag.Title = "Index";
}

<style>
    #searchnoticeTile {
        border-box: box-sizing !important;
        background-image: url(../../Content/assets/searchicon.png) !important;
        background-position: 14px 12px !important;
        background-repeat: no-repeat !important;
        font-size: 16px !important;
        padding: 14px 20px 12px 45px !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }
</style>
<div class="container">
    <p class="ctitle text-center">Notice Received</p>

    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-6">
            <input type="text" id="searchnoticeTile" onkeyup="changePage(1)" placeholder="Search for Notice Title.." title="Type in a name">
        </div>
        <div class="col-md-6">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    <div class="table-panel table-responsive">
        <div style="overflow-x:scroll;">
            <label id="NotExist" style="display:none"></label>
            <br />
            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th class="noticesubject" data-column="RejoinderSubject" data-order="desc">Notice Subject &#9650</th>
                        <th class="noticetitle" data-column="NoticeTitle" data-order="desc">Notice Title &#9650</th>
                        <th class="statutory" data-column="NoticeType" data-order="desc">Notice Type &#9650</th>
                        <th class="pending" data-column="CaseStatus" data-order="desc">Notice Status &#9650</th>
                        <th width="100px;" class="servedon" data-column="DateofReceipt" data-order="desc">Date of Receipt &#9650</th>
                        <th class="remark" data-column="CreateRejoinder" data-order="desc">Remarks &#x25B2</th>
                        <th class="managerapprove">Sent To Manager</th>
                        <th class="clientapprove">Sent To Client</th>
                        <th class="dateofserviceofnotice" data-column="DateofServiceofNotice" data-order="desc">Date of Service of Notice &#9650</th>
                        <th class="modeofreceipt" data-column="ModeofReceipt" data-order="desc">Mode of Receipt &#9650</th>
                        <th class="dateofrejoinder" data-column="DateofRejoinder" data-order="desc">Date of Received Notice &#9650</th>
                        <th width="100px;" class="modeofdeliveryofrejoinder" data-column="ModeofDeliveryofRejoinder" data-order="desc">Mode of Receipt &#9650</th>
                        <th class="rejoinderaddressedto" data-column="RejoinderAddressedto" data-order="desc">Notice Received Addressed to &#x25B2</th>

                        <th class="addresseeaddress" data-column="AddresseeAddress" data-order="desc">Addressee Address &#9650</th>
                        <th class="otherdetailsofaddressee" data-column="OtherDetailsofAddressee" data-order="desc">Other Details of Addressee &#9650</th>
                        <th class="noticeandreplyreference" data-column="NoticeandReplyReference" data-order="desc">Notice and Reply Reference &#9650</th>
                        <th class="rejoinderthrough" data-column="RejoinderThrough" data-order="desc">Notice Received Through &#9650</th>
                        <th class="currentstatus" data-column="CurrentStatus" data-order="desc">Current Status &#9650</th>
                        <th class="dateofcreatingrejoinder" data-column="DateofCreatingRejoinder" data-order="desc">Date of Creating &#9650</th>
                        <th class="attachment">Attachment</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="Rejoindertablevalue"></tbody>
            </table>
            <center> <div id="rejoindernonotice"> </div></center>
            <div class="table-panel">
                <div class="row settingpanel">
                    <div class="col-md-6" id="footer-data">

                        <div style="float: left;padding: 0 10px 0 0;">
                            <ul>
                                <li>
                                    <div class="btn-group dropup">
                                        <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                            Customize Fields <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu settingshowhide" id="od" style="width:250px">
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject" checked><a href="#">Rejoinder Subject</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a href="#">Notice Title</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory" checked><a href="#">Notice Type</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="pending" checked><a href="#">Notice Status</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a href="#">Remarks</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="managerapprove"><a>Sent To Manager</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="clientapprove"><a>Sent To Client</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon"><a href="#" class="dropdown-item">Date of Receipt</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofserviceofnotice"><a href="#">Date of Service of Notice</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofreceipt"><a href="#">Mode of Receipt</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofrejoinder"><a href="#">Date of Received Notice</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofdeliveryofrejoinder"><a href="#">Mode of Receipt</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderaddressedto"><a href="#" class="dropdown-item">Notice Received Addressed to</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addresseeaddress"><a href="#">Addressee Address</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressee"><a href="#">Other Details of Addressee</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeandreplyreference"><a href="#">Notice and Reply Reference</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderthrough"><a href="#">Notice Received Through</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="currentstatus"><a href="#">Current Status</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofcreatingrejoinder"><a href="#">Date of Creating</a></li>
                                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment"><a>Attachments</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div id="listingTablefooter"></div>

                    </div>

                    <div class="col-md-6" style="padding-right:20px">
                        <ul class="pull-right">
                            <li><span>|</span></li>
                            <li><a href="~/NoticeReceived/AddReceivedNotice" title="Create Received Notice">Add Received Notice Details</a> </li>
                            <li><span>|</span></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Rejoinder Notice</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Received Notice?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteReceivedNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>

            <div class="modal-body">
                <span id="viewmorecontent"></span>
            </div>
        </div>

    </div>
</div>

<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">


        </div>

    </div>
</div>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/dist/js/ReceivedNotice.js"></script>
<script src="~/dist/js/commonviewmore.js"></script>

