<!DOCTYPE html>
@{
    /**/
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var parmsval = Request.Params["type"];
}
<script>
    var roleid = "@role";
     var userid = "@userid";
    var NoticeId="@ViewBag.NoticeId";
</script>
<style>
    #myInput {
        border-box: box-sizing !important;
        /*background-image: url(../../Content/assets/searchicon.png) !important;
        background-position: 14px 12px !important;*/
        background-repeat: no-repeat !important;
        /*font-size: 16px !important;*/
        /*padding: 14px 20px 12px 45px !important;*/
        /*border: none !important;*/
        border-bottom: 1px solid #ddd !important;
        width: 280px;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    #childtbltr1 table thead tr.childtbltr1cls th.childtbltsssr1cls {
        background-color: #fff0f5 !important;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    #tblpoitem {
        margin: 6px 0;
        padding: 10px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
    }

        #tblpoitem table {
            width: 100%;
        }

        #tblpoitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 7px;
            font-size: 15px;
            border-bottom: 1px solid #e3e3e3;
            color: #145cbf;
        }

    .tblReplyReceived tr {
        border-bottom: none;
    }



    #tblrejoinderitem {
        background: #f1f3f4;
        overflow-x: scroll;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 1150px;
    }

        #tblrejoinderitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 0px;
            font-size: 15px;
            border-bottom: 1px solid #a3a3a3;
        }

        #tblrejoinderitem table {
            background-color: transparent;
        }

            #tblrejoinderitem table th {
                background-color: #747474 !important;
                border-radius: 0;
                font-size: 16px;
                color: #ffffff;
                padding: 4px 8px !important;
                white-space: nowrap;
                border: none !important;
                font-weight: normal;
            }

            #tblrejoinderitem table tbody tr td {
                color: #020202;
                font-size: 14px;
                font-weight: 300;
                padding: 3px 8px !important;
                border-top: none !important;
                background: #fff;
            }

    .glyphicon-chevron-down:before {
        font-size: 11px !important;
        padding: 0px 0 0 6px !important;
        color: #ff6600;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    #childtbltr {
        background-color: #d0f0c0;
    }

    #trcolhighlighbydate {
        background: #d0f0c0 !important;
    }

        #trcolhighlighbydate td {
            background-color: transparent !important;
        }

    .status_badge {
        max-width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #ccc; */
        padding: 3px 8px;
        border-radius: 7px;
        background: #f5f5f5d4;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

        .status_badge span {
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

    .active1 {
        background: green;
    }

    .Settled {
        background: grey;
    }

    .Convertedmatter {
        background: red;
    }

    .InActive {
        background: orange;
    }

    .low {
        background: green;
    }

    .medium {
        background: grey;
    }

    .high {
        background: red;
    }

    .scroll-sync-top {
        overflow-x: auto;
        overflow-y: hidden;
        height: 16px;
        background-color: transparent;
        display: none;
    }

    .scroll-top-inner {
        height: 1px;
    }

    .table-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

        .table-scroll-wrapper::-webkit-scrollbar {
            display: none;
        }

    .scroll-sync-top::-webkit-scrollbar {
        height: 8px;
    }

    .table-panel th {
        position: sticky;
        top: 0;
        z-index: 91;

        background-color: #fafafa;
        border-bottom: 1px solid #e5e7eb;
        border-top: 1px solid #e5e7eb;
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 0px;
        font-size: 12px;
        color: #717680;
        font-weight: 600;
        white-space: nowrap;
    }

        .table-panel th .thbg {
            position: sticky;
            top: 0;
            background-color: #fafafa;
            z-index: auto;
        }

    .tablecontainer {
        max-height: 600px;
        overflow-y: auto;
        position: relative;
        /*v*/
        z-index: 0;
    }
</style>
<script src="~/Scripts/Notice/ReceivedNoticeDeleteList.js?1.3"></script>
<script src="~/Scripts/Notice/ExportToExcelNotice.js?1.3"></script>
<script src="~/Scripts/Notice/Tracking.js?2.3"></script>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"><span id="dynamicnotiheader">List Of Deleted Notices - Received</span></p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            <ul class="snav">
                <li id="" class=""><a href="/@Session["firmcode"]/NoticeNew/NewNoticeList"> Send Notices</a></li>
                <li id="" class="active"><a href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList">Received Notices</a></li>
                <li id=""><a href="/@Session["firmcode"]/NoticeNew/NoticeReminder">Reminders</a></li>
            </ul>
        </div>
        <div class="text-center" style="margin-bottom: 20px !important;">
            <div style="display: flex; align-items: center;">
                <div class="tabs-and-filters" style="width:100%;">
                    <div class="button-group">
                        <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList" style="border-left: none; border-top: none; border-bottom: none; font-weight:600;">All <span id="AllNoticeRCount"></span></a>
                        <a class="button-group-base2" href="/@Session["firmcode"]/NoticeReceived/ArchiveReceivedNoticeList">Archived <span id="ArchNoticeRCount"></span></a>
                        <a class="button-group-base1 active" href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeDeleteList">Delete <span id="DelNoticeRCount"></span></a>
                        @if (Session["sessionroleid"].ToString() != "1")
                        {
                            <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedDraftNotice">Share with me <span id="ShareNoticeCount"></span></a>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="card-header">
        <div class="content1" style="justify-content: flex-end; padding: 0;">
            <div class="table-header">
                <div class="actions3">
                    <div id="cusnewtaskreq" class="button13 dropup">
                        <a href="javascript:void()">
                            <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png"> Customize
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div class="scroll-sync-top" aria-hidden="true">
                    <div class="scroll-top-inner"></div>
                </div>
                <div class="tablecontainer table-scroll-wrapper">
                    <div class="table-scroll-inner">
                        <label id="NotExist" style="display:none"></label>
                        <table id="example" class="table-panel">
                            <thead>
                                <tr id="headrow1">
                                    <th><div class="thbg">S.No</div></th>
                                    <th class="sendernames">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="NoticeeendersNametxt" placeholder="Receiver Name" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticeSendname"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchSendname" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="rejoinderaddressedto" data-column="RejoinderAddressedto"><div class="thbg">Sender's Name</div></th>
                                    <th class="noticetitle">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="Noticetitsrch" placeholder="Title" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticetit"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchNoticetit" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="dateofcreatingrejoinder" data-column="DateofCreatingRejoinder"><div class="thbg">Date Of Notice</div></th>
                                    <th class="dateofserviceofnotice" data-column="DateofServiceofNotice"><div class="thbg">Date Of Receipt</div></th>
                                    <th class="DuedateOfNotice"><div class="thbg">Due Date</div></th>
                                    <th class="remark" data-column="CreateRejoinder"><div class="thbg">Text</div></th>
                                    <th class="pending" data-column="PendingStatus" style="min-width: 123px;">
                                        <div class="thbg">
                                            <select class="form-control" id="ddlnoticestatusss" name="ddlnoticestatusss" required=""></select>
                                        </div>
                                    </th>
                                    <th class="statutory">
                                        <div class="thbg">
                                            <select class="form-control" name="ddlnoticetypess" id="ddlnoticetypess">
                                                <option value="" selected>Type </option>
                                                <option value="Statutory">Statutory</option>
                                                <option value="Non-Statutory">Non-Statutory</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th class="noticesubject">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="NoticeSubjectsrh" placeholder="subject" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchNoticeSub"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchNoticeSub" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="CreatedByName" data-column="CreatedByName"><div class="thbg">Created By</div></th>
                                    <th class="modeofreceipt" data-column="ModeofReceipt"><div class="thbg">Mode of Delivery</div></th>
                                    <th class="rejoinderthrough" data-column="RejoinderThrough"><div class="thbg">Notice Through/To</div></th>
                                    <th class="criticality"><div class="thbg">Priority</div></th>
                                    <th class="reasonforhighcriticality"><div class="thbg">Reason For High Priority</div></th>
                                    <th class="amountclaimed"><div class="thbg">Amount Claimed</div></th>
                                    <th class="addresseeaddress" data-column="AddresseeAddress"><div class="thbg">Sender's Address</div></th>
                                    <th class="otherdetailsofaddressee" data-column="OtherDetailsofAddressee"><div class="thbg">Other Details of Receiver</div></th>
                                    <th class="SendersAddress"><div class="thbg">Receiver's Address</div></th>
                                    <th class="otherdetailsofaddressofsender">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" title="Other Details of Sender" id="othdetailsofsender" placeholder="Other details of sender" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchothdetl"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearthdetl" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="tags"><div class="thbg">Tags</div></th>
                                    <th class="ReferenceNumber"><div class="thbg">Reference Number</div></th>
                                    <th class="InternalNumber"><div class="thbg">Internal  Number</div></th>
                                    <th class="closdate"><div class="thbg">Close Date</div></th>
                                    <th class="attachment"><div class="thbg">Docs</div></th>
                                </tr>
                            </thead>
                            <tbody id="Rejoindertablevalue"></tbody>
                        </table>
                        <center> <div id="rejoindernonotice"> </div></center>
                    </div>
                </div>
                <div class="pagination" id="pagenatedArea">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>

                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myDocumentModal" class="modal fade myModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Restore Notice</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to unmark the Notice from deletion list??</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/notice-icon.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4>Notice Logs</h4>
            </div>
            <div class="modal-body">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sender Name</div></th>
                            <th><div class="thbg">Receiver Name</div></th>
                            <th><div class="thbg">Notice Shared On</div></th>
                            <th><div class="thbg">User Type</div></th>
                            <th><div class="thbg">Feedback</div></th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="height:350px;overflow-y: scroll;">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>

<div id="myModalCustomizedcolumn" class="modal right fade myModal in" role="dialog" data-backdrop="static" aria-hidden="false">
    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="modaltitle">
                    <h4><img src="/newassets/img/customize-icon.png"> Customise Field</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin:10px 0 0 0;">
                        <ul id="od1">
                            <li data-subject="Receiver Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="sendernames" checked> Receiver Name</li>
                            <li data-subject="Senders Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderaddressedto" checked> Senders Name</li>
                            <li data-subject="Title"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked> Title</li>
                            <li data-subject="Date Of Notice"><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofcreatingrejoinder" checked> Date Of Notice</li>
                            <li data-subject="Close Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="closdate"> Close Date</li>
                            <li data-subject="Due Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="DuedateOfNotice" checked> Due Date</li>
                            <li data-subject="Notice Text"><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked> Notice Text</li>
                            <li data-subject="Notice Status"><input type="checkbox" class="shcheckbox1 chkdhide" name="PendingStatus" checked> Notice Status</li>
                            <li data-subject="Subject"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject"> Subject</li>
                            <li data-subject="Type"><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory"> Type</li>
                            <li data-subject="Mode Of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofreceipt"> Mode of Delivery</li>
                            <li data-subject="Sender's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="addresseeaddress"> Sender's Address</li>
                            <li data-subject="Other Details Of Receiver"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressee"> Other Details of Receiver</li>
                            <li data-subject="Notice through/to"><input type="checkbox" class="shcheckbox1 chkdhide" name="rejoinderthrough"> Notice Through/To</li>
                            <li data-subject="Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality"> Priority</li>
                            <li data-subject="Reason For High Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="reasonforhighcriticality"> Reason For High Priority</li>
                            <li data-subject="Amount Claimed"><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"> Amount Claimed</li>
                            <li data-subject="Created By"><input type="checkbox" class="shcheckbox1 chkdhide" name="CreatedByName"> Created By</li>
                            <li data-subject="Receiver's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="SendersAddress"> Receiver's Address</li>
                            <li data-subject="Other Details Of Sender"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"> Other Details of Sender</li>
                            <li data-subject="Tags"><input type="checkbox" class="shcheckbox1 chkdhide" name="tags"> Tags</li>
                            <li data-subject="Reference Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="ReferenceNumber"> Reference Number</li>
                            <li data-subject="Internal Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="InternalNumber"> Internal Number</li>
                            <li data-subject="Docs"><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment" checked> Docs</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const topScroll = document.querySelector('.scroll-sync-top');
        const topScrollInner = document.querySelector('.scroll-top-inner');
        const tableScroll = document.querySelector('.table-scroll-wrapper');

        function updateScrollBarVisibility() {
            const isScrollNeeded = tableScroll.scrollWidth > tableScroll.clientWidth;
            if (isScrollNeeded) {
                topScroll.style.display = 'block';
                topScrollInner.style.width = tableScroll.scrollWidth + 'px';
            } else {
                topScroll.style.display = 'none';
                topScrollInner.style.width = '0px';
            }
        }

        // Sync scroll positions
        topScroll.addEventListener('scroll', () => {
            tableScroll.scrollLeft = topScroll.scrollLeft;
        });

        tableScroll.addEventListener('scroll', () => {
            topScroll.scrollLeft = tableScroll.scrollLeft;
        });

        // Automatically observe table width changes
        const resizeObserver = new ResizeObserver(() => {
            updateScrollBarVisibility();
        });

        // Watch inner table container
        resizeObserver.observe(tableScroll);

        // Initial check
        updateScrollBarVisibility();
    });
</script>


