@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<script>
      var userid = "@userid";
    var roleid = "@role";
    var NoticeId="@ViewBag.NoticeId";
</script>
<style>
    .status_badge {
        max-width: fit-content;
        display: flex;
        align-items: center;
        gap: 4px;
        /* border: 1px solid #ccc; */
        padding: 3px;
        border-radius: 7px;
        background: #f5f5f5d4;
        font-size: 12px;
    }

        .status_badge span {
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

    .active1 {
        background: green;
    }

    .Settled {
        background: grey;
    }

    .Convertedmatter {
        background: red;
    }

    .InActive {
        background: orange;
    }

    .low {
        background: green;
    }

    .medium {
        background: grey;
    }

    .high {
        background: red;
    }

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 300px !important;
    }

    #myInput {
        border-box: box-sizing !important;
        background-repeat: no-repeat !important;
        font-size: 11px !important;
        padding: 14px 15px 15px 11px !important;
        /* border: none !important; */
        border-bottom: 1px solid #ddd !important;
        width: 100%;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    .tblreplyclass thead tr th {
        background-color: #ffffff !important;
    }

    #tblincmingnotice {
        margin: 6px 0;
        padding: 10px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
    }

        #tblincmingnotice table {
            width: 100%;
        }

        #tblincmingnotice h2 {
            margin: 0 0 10px 0;
            padding: 2px 7px;
            font-size: 15px;
            border-bottom: 1px solid #e3e3e3;
            color: #145cbf;
        }

    .tblreplyclass tr {
        border-bottom: none;
    }

    .tblreplyclass tbody tr td {
        color: #020202;
        font-size: 13px;
        font-weight: 400;
        padding: 1px 8px !important;
    }

    #tblpoitem {
        background: #f1f3f4;
        overflow-x: scroll;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 1150px;
    }

        #tblpoitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 0px;
            font-size: 15px;
            border-bottom: 1px solid #a3a3a3;
        }

        #tblpoitem table {
            background-color: transparent;
        }

            #tblpoitem table th {
                background-color: #0c4a6e !important;
                border-radius: 0;
                font-size: 13px;
                color: #ffffff;
                padding: 8px 8px !important;
                white-space: nowrap;
                border: none !important;
                font-weight: normal;
                height: auto;
            }

            #tblpoitem table tbody tr td {
                color: #020202;
                font-size: 13px;
                font-weight: 400;
                padding: 3px 8px !important;
                border-top: none !important;
                background: #fff;
            }

    .glyphicon-chevron-down:before {
        font-size: 11px !important;
        padding: 0px 0 0 6px !important;
        color: #6d6d6d;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    #childtbltr1 {
        background-color: #d0f0c0;
    }

    #trcolhighlighbydate {
        background: #d0f0c0 !important;
    }

        #trcolhighlighbydate td {
            background-color: transparent !important;
        }

    fieldset {
        background-color: transparent;
    }

    .modal-body fieldset {
        border: 1px solid #ccc !important;
        border-radius: 5px;
    }

    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }

    #footer-data ul {
        list-style-type: none;
    }

    .upload_btn {
        background: #fff;
        padding: 8px 12px;
        outline: 0 !important;
        border: 1px solid rgba(209, 213, 219, 1);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(65, 70, 81, 1);
        display: inline-block;
        float: right;
        margin: -40px 0 0 0;
        cursor: pointer;
    }

    .scroll-sync-top {
        overflow-x: auto;
        overflow-y: hidden;
        height: 16px;
        background-color: transparent;
        display: none;
    }

    .scroll-top-inner {
        height: 1px;
    }

    .table-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

        .table-scroll-wrapper::-webkit-scrollbar {
            display: none;
        }

    .scroll-sync-top::-webkit-scrollbar {
        height: 8px;
    }

    .table-panel th {
        position: sticky;
        top: 0;
        z-index: 91;
        background-color: #fafafa;
        border-bottom: 1px solid #e5e7eb;
        border-top: 1px solid #e5e7eb;
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 0px;
        font-size: 12px;
        color: #717680;
        font-weight: 600;
        white-space: nowrap;
    }

        .table-panel th .thbg {
            position: sticky;
            top: 0;
            background-color: #fafafa;
            z-index: auto;
        }

    .tablecontainer {
        max-height: 600px;
        overflow-y: auto;
        position: relative;
        /*v*/
        z-index: 0;
    }
    .pagination {
        width: 100%;
        position: relative;
        border-top: 1px solid #e9eaeb;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 14px 0px;
        text-align: left;
        font-size: 14px;
        color: #414651;
        font-family: Inter;
    }
    .pagination-button-group-base1 button {
        border: 1px solid #d5d7da;
        background: #fff;
        padding: 10px;
        width: 42px;
        height: 42px;
        /* border-right: none; */
    }
    .text-and-supporting-text-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        color: #4b5563;
    }
    .pagination-button-group-base {
        background-color: #fff;
        border-left: 1px solid #d5d7da;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;
        gap: 8px;
        min-height: 40px;
        cursor: pointer;
        border-top: 1px solid #d5d7da;
        border-bottom: 1px solid #d5d7da;
        border-radius: 8px 0px 0px 8px;
    }
</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle" id="dynamicnotiheader">Notices For Approval-Received</p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            @if (Session["sessionroleid"].ToString() != "3")
            {
                <ul class="snav">
                    <li id="" class=""><a href="/@Session["firmcode"]/NoticeNew/NewNoticeList"> Send Notices</a></li>
                    <li id="" class="active"><a href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList">Received Notices</a></li>
                    <li id=""><a href="/@Session["firmcode"]/NoticeNew/NoticeReminder">Reminders</a></li>
                </ul>
            }
            else
            {
                <ul class="snav">
                    <li id="" class=""><a href="/@Session["firmcode"]/NoticeNew/DraftNotice">Sent Notice</a></li>
                    <li id="" class="active"><a href="/@Session["firmcode"]/NoticeReceived/ReceivedDraftNotice">Received Notice</a></li>
                </ul>
            }

        </div>
        @if (Session["sessionroleid"].ToString() != "3")
        {
        <div class="text-center" style="margin-bottom: 20px !important;">
            <div style="display: flex; align-items: center;">
                <div class="tabs-and-filters" style="width:100%;">
                    <div class="button-group">
                        <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList" style="border-left: none; border-top: none; border-bottom: none; font-weight:600;">All <span id="AllNoticeRCount"></span></a>
                        <a class="button-group-base2" href="/@Session["firmcode"]/NoticeReceived/ArchiveReceivedNoticeList">Archived <span id="ArchNoticeRCount"></span></a>
                        <a class="button-group-base1" href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeDeleteList">Delete <span id="DelNoticeRCount"></span></a>
                        @if (Session["sessionroleid"].ToString() != "1")
                        {
                            <a class="button-group-base1 active" href="/@Session["firmcode"]/NoticeReceived/ReceivedDraftNotice">Share with me <span id="ShareNoticeCount"></span></a>
                        }
                    </div>

                </div>
            </div>
        </div>
        }
            
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="card-header">
                <div class="content1" style="justify-content: flex-end;">

                    <div class="table-header">
                        <div class="actions3">
                            <div class="button13" id="ColumnSelectionopen" title="Column Selection">
                                <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png">
                                <div class="text-padding">
                                    <div class="text1"><a href="javascript:void()"> Customize</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tablearea">
                <div class="tablecontainer">
                    <table id="example" class="table-panel">
                        <thead>
                            <tr id="newnoticeheadrow">
                                <th><div class="thbg">S.No </div></th>
                                <th class="noticeby">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="noticebyIds" placeholder="receiver name" class="form-control pull-left" style="width:100px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatas"></span>
                                            <span class="glyphicon glyphicon-remove" id="clearnewsearchforsender" title="Click here to reset search" style="display:none;"></span>
                                        </div>
                                    </div>
                                </th>
                                <th class="noticeto"><div class="thbg">Senders Name</div></th>
                                <th class="statutory">
                                    <div class="thbg">
                                        <select class="form-control form-control-sm" name="ddlnoticetypess" id="ddlnoticetypess">
                                            <option value="" selected>Type </option>
                                            <option value="Statutory">Statutory</option>
                                            <option value="Non-Statutory">Non-Statutory</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="noticesubject">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="noticeSubjects" placeholder="subject" class="form-control pull-left" style="width:100px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatassub"></span>
                                            <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendersub" title="Click here to reset search" style="display:none;"></span>
                                        </div>
                                    </div>
                                </th>
                                <th class="noticetitle">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="noticeTitless" placeholder="title" class="form-control pull-left" style="width:100px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatatitl"></span>
                                            <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendertitl" title="Click here to reset search" style="display:none;"></span>
                                        </div>
                                    </div>
                                </th>
                                <th class="dateofreceiveddraftnotice"><div class="thbg">Date Of Notice</div></th>
                                <th class="servedon"><div class="thbg">Date Of Reciept</div></th>
                                <th class="noticeduedate"><div class="thbg">Due Date</div></th>
                                <th class="noticetext"><div class="thbg">Text</div></th>
                                <th class="CreatedByName"><div class="thbg">Shared By</div></th>
                                <th class="pending"><div class="thbg">Status</div></th>
                                <th class="modeofserviceordelivery"><div class="thbg">Mode of Delivery</div></th>
                                <th class="noticethrough"><div class="thbg">Notice Through/To</div></th>
                                <th class="criticality"><div class="thbg">Priority</div></th>
                                <th class="reasonforhighcriticality"><div class="thbg">Reason For High Priority</div></th>
                                <th class="amountclaimed"><div class="thbg">Amount Claimed</div></th>
                                <th class="addressaddress"><div class="thbg">Sender's Address</div></th>
                                <th class="otherdetailsofaddress"><div class="thbg">Other Details of Receiver</div></th>
                                <th class="senderaddress"><div class="thbg">Receiver's Address</div></th>
                                <th class="otherdetailsofaddressofsender"><div class="thbg">Other Details of Sender</div></th>
                                <th class="tags"><div class="thbg">Tags</div></th>
                                <th class="ReferenceNumber"><div class="thbg">Reference Number</div></th>
                                <th class="InternalNumber"><div class="thbg">Internal  Number</div></th>
                                <th class="closdate"><div class="thbg">Close Date</div></th>
                                <th class="attachment"><div class="thbg">Docs</div></th>
                            </tr>
                        </thead>
                        <tbody id="tablevalue"></tbody>
                    </table>
                    <center> <div id="nonotice"> </div></center>
                </div>
            </div>
            <div class="pagination" id="pagenatedArea">
                <div class="pagination-button-group">
                    <div id="prevRD" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbersRD" class="pagination-button-group-base1">
                    </div>

                    <div id="nextRD" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopageRD" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGoRD" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="ViewLogModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/noticelog-icon.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Notice Logs</h4>
            </div>
            <div class="modal-body">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sender Name</div></th>
                            <th><div class="thbg">Receiver Name</div></th>
                            <th><div class="thbg">Notice Shared On</div></th>
                            <th><div class="thbg">User Type</div></th>
                            <th><div class="thbg">Feedback</div></th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NoticeDraftModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/notice-icon.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Notice</h4>
            </div>
            <div class="modal-body">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">S. No.</div></th>
                            <th><div class="thbg">File</div></th>
                            <th><div class="thbg">Created By</div></th>
                            <th><div class="thbg">Created Date</div></th>
                        </tr>
                    </thead>
                    <tbody id="draftnoticemodlbody"></tbody>
                </table>
                <center> <div id="nodraftnotice"> </div></center>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="height:350px;overflow-y: scroll;">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReceivedReplyModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Received Reply</h3>
            </div>
            <div class="modal-body" style="height:250px;">
                <form class="ec_bg">
                    <input type="hidden" value="" id="hiddenreplynoticeid" />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Date</label>
                            <input type="date" class="form-control inputFormat" id="txtreplyreciveddate" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Through</label>
                            <textarea class="form-control inputFormatTextArea" id="txtreplyrecivedthrough"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Received Attachment</label>
                            <input type="file" class="form-control inputFormat" id="replypostedFile" multiple />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Set reply date</label>
                            <input type="date" class="form-control inputFormat" id="txtsetreplydate" />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <button type="button" id="savereplytonotice" class="sbtbtn pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ActualclosurModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Closure</h3>
            </div>
            <div class="modal-body" style="height:180px;">
                <form class="ec_bg" enctype="multipart/form-data" novalidate="novalidate">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Close Date</label>
                            <input type="date" class="form-control inputFormat" id="dateofclosure" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Notice Status</label>
                            <select id="ddlnoticestatus" class="form-control selctInputFormat" style="background-color: white !important;">
                                <option value="Active">Settled</option>
                                <option value="Convert to case">Convert to case</option>
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="saveclosuedate" class="sbtbtn pull-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="NoticeStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Feedback</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="display:none">
                        <label>Status :</label>
                        <select class="form-control selctInputFormat" style="background-color: white !important;" id="notistatus">
                            <option value=""></option>
                            <option value="Approve">Approve</option>
                            <option value="Reject">Reject</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control inputFormatTextArea" id="feedbacktext"></textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 text-right" style="padding-top: 10px;">
                        <button type="button" id="statusnoticebtn" class="btn btn-primary" value="Save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="myModalCustomizedcolumn" class="modal right fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modaltitle">
                    <h4><img src="~/newassets/img/customize-icon.png" /> Customise Field</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-md-12">
                            <span><a href="javascript:void()" id="DefaultColumnSelectionOpen" title="Column Selection">Set Default Columns</a></span>
                            <div>You cannot set more than 8 columns as default</div>
                        </div>*@
                </div><br />
                <div class="row">
                    <div class="col-md-12" style="overflow-y: scroll;">
                        <ul id="od">
                            <li data-subject="Amount Claimed"><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed">Amount Claimed</li>
                            <li data-subject="Date Of Notice"><input type="checkbox" class="shcheckbox1 chkdhide" name="dateofreceiveddraftnotice" checked>Date Of Notice</li>
                            <li data-subject="Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality">Priority</li>
                            <li data-subject="Reason For High Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="reasonforhighcriticality">Reason For High Priority</li>
                            <li data-subject="Receiver Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked>Receiver Name</li>
                            <li data-subject="Senders Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked>Senders Name</li>
                            <li data-subject="Subject"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject">Subject</li>
                            <li data-subject="Title"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked>Title</li>
                            <li data-subject="Type"><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory">Type</li>
                            <li data-subject="Due Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeduedate" checked>Due Date</li>
                            <li data-subject="Text"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetext" checked>Text</li>
                            <li data-subject="Status"><input type="checkbox" class="shcheckbox1 chkdhide" name="pending">Status</li>
                            <li data-subject="Date Of Receipt"><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon" checked>Date Of Reciept</li>
                            <li data-subject="Mode Of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery">Mode of Delivery</li>
                            <li data-subject="Sender's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress">Sender's Address</li>
                            <li data-subject="Other Details Of Receiver"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress">Other Details of Receiver</li>
                            <li data-subject="Receiver's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress">Receiver's Address</li>
                            <li data-subject="Other Details Of Sender"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender">Other Details of Sender</li>
                            <li data-subject="Notice Through/To"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough">Notice Through/To</li>
                            <li data-subject="Shared By"><input type="checkbox" class="shcheckbox1 chkdhide" name="CreatedByName" checked>Shared By</li>
                            <li data-subject="Tags"><input type="checkbox" class="shcheckbox1 chkdhide" name="tags">Tags</li>
                            <li data-subject="Reference Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="ReferenceNumber">Reference Number</li>
                            <li data-subject="Internal Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="InternalNumber">Internal Number</li>
                            <li data-subject="Close Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="closdate">Close Date</li>
                            <li data-subject="Docs"><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment" checked>Docs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Notice/ReceivedDraftNotice.js?3.0"></script>