@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<i class="pp-icon-user"></i>
<style>
    .addc:nth-last-child(odd) {
        color: green;
    }

    .addc:nth-last-child(even) {
        color: green;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #000000;
        background-color: #fafafa;
    }
    .nav-pills > li > a {
        border-radius: 4px;
        border: 1px solid #D5D7DA;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 7px 15px;
        color: #717680;
    }
    .nav-pills > li + li {
        margin-left: -1px;
    }
</style>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>*@
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var type = '@ViewBag.type'
     var filesize = '@ViewBag.filesize'
</script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<script src="~/Scripts/Firm/Pages/CreateTax.js?1.8"></script>
<script>
    $(document).ready(function () {
        $("#searchdata").on("keyup", function () {
            var value = $("#searchdata").val().toLowerCase();
            $("#ocrlist tbody tr ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#clearnewseach").click(function () {
            $("#searchdata").text("");
            $("#searchdata").val("").keyup();
        });
    });
</script>
<SCRIPT language=Javascript>
       <!--
    //var validNumber = new RegExp(/^\d*\.?\d*$/);
    //var lastValid = document.getElementById("test1").value;
    //function validateNumber(elem) {
    //    if (validNumber.test(elem.value)) {
    //        lastValid = elem.value;
    //    } else {
    //        elem.value = lastValid;
    //    }
    //}
    //$(document).ready(function () {
    //});
    //-->
</SCRIPT>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <a class="goback" href="/@Session["firmcode"]/bill/InvoiceSetting"><img src="/newassets/img/backarrow.svg" alt="">Go Back</a>
            <p class="ctitle"> Add Tax Rates</p>
        </div>
    </div>
</section>
<section id="table">
    <form id="fileupload" enctype="multipart/form-data">
        <div id="exTab1" class="container-main">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#4a1" data-toggle="tab" style="color: #414651">Create Tax Rates</a>
                </li>
                <li>
                    <a href="#3a1" data-toggle="tab">View Tax Rates</a>
                </li>
            </ul>
           
            
                <div class="table" style="margin:15px 0 0 0; font-weight:600">
                    <div class="tab-content">
                        <div class="tab-pane active" id="4a1" style="padding:15px;">
                            <form id="saveleadcallform">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label style="font-weight: 600 !important">Tax Type<span aria-required="true">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <span id="textleadid" style="display:none"></span>

                                        <div class="col-md-12 form-group" style="font-weight:600">
                                            <label style="font-weight: 600 !important">Tax Type</label>
                                            <select id="taxname" class="form-control selctInputFormat">
                                                <option value="" selected>Select</option>
                                                <option value="SGST">SGST</option>
                                                <option value="CGST">CGST</option>
                                                <option value="IGST">IGST</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group" style="display:none">
                                            <label>Date From <span aria-required="true"><b>*</b> </span></label>
                                            <input class="form-control inputFormat" type="date" onkeypress="return false" id="sdate" />
                                        </div>
                                        <div class="col-md-12 form-group" style="display:none">
                                            <label>Date To <span aria-required="true"><b>*</b> </span></label>
                                            <input class="form-control inputFormat" type="date" onkeypress="return false" id="edate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="font-weight: 600 !important">
                                        <label style="font-weight: 600 !important"> Tax%<span aria-required="true">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12 form-group" style="font-weight:600 !important">
                                            <label style="font-weight: 600 !important">Tax Rate</label>
                                            <input class="form-control inputFormat" oninput="validateNumber(this);" maxlength="8" type="text" placeholder="Please enter applicable tax rate. Eg:18.9" id="tax" />
                                        </div>
                                    </div>
                                    <div class="col-md-12"><hr /></div>
                                    <div class="col-md-12">
                                        <div class="form-group pull-right" style="margin:0 15px 20px 0px;">
                                            <button class="btn btn-secondary">Clear All</button>
                                            <button type="button" class="btn btn-primary" id="savecasefile">Save</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group pull-right" style="margin:0 15px 20px 0px;">
                                            <span style="font-size:11px;"><strong>Note :</strong> You may skip Tax Settings if not applicable to your billing and operations.</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane " id="3a1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="actions3" style="position: relative; margin: 15px 15px 15px 0px; float:right;">
                                        <div class="dropdown-toggle button13" id="" type="button" data-toggle="dropdown" title="Export" aria-haspopup="true" aria-expanded="false">
                                            <img class="plus-icon" alt="" src="/newassets/img/upload-icon.png">

                                            <div class="text-padding">
                                                <div class="text1"><a href="javascript:void()"> Export</a></div>
                                            </div>
                                        </div>
                                        <ul class="dropdown-menu settingaction">
                                            <li>
                                                <a href="javascript:void()" onclick="tableToExcelnewBefore('ocrlist', 'Tax List')" title="Export to Excel"><span style="padding: 0 5px 0 0;"><img src="/newassets/img/exportexl-icon.png"></span> Export to Excel</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-horizontal">
                                        <div class="table-panel table-responsive">
                                            <table id="ocrlist" class="table-panel">
                                                <thead>
                                                    <tr>
                                                        <th style="width:30%;">
                                                            <div class="thbg" style="width:160px;">
                                                                <div style="float: left; width: 100px;">
                                                                    <input type="text" placeholder="Tax Name" id="searchdata">
                                                                </div>
                                                                <div style="float:left;">
                                                                    <span class="glyphicon glyphicon-search" id="searchdatas" style="margin:5px 0 0 0px;    float:left; cursor:pointer;"></span>
                                                                    <span class="" id="clearnewseach" title="Click here to reset search" style="cursor: pointer; font-size:13px;"> </span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th style="width:30%;"><div class="thbg">Tax %</div> </th>
                                                        @*<th onclick="sortTable(3)">From Date <span class="fa fa-sort pull-right"></span></th>
                                                    <th onclick="sortTable(4)">To Date <span class="fa fa-sort pull-right"></span></th>*@
                                                        <th width="30%" onclick="sortTable(2)"><div class="thbg" style="width:125px;">Created By <span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th width="10%"><div class="thbg">Action</div></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="assignuserdata"></tbody>
                                            </table>
                                        </div>
                                        <div><center><span id="datastatus"></span></center></div>
                                        @*<div class="table-panel">
                                            <div class="settingpanel">
                                                <div class="col-md-6">
                                                    
                                                    <div id="casetfooter">
                                                        <div class="box-footer clearfix">
                                                            <ul class="pagination pagination-sm no-margin pull-right"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </form>
</section>


                    
                    <script>
                        function tableToExcelnewBefore(tableID, filename = '') {
                            const para = document.createElement("div");
                            //para.innerText = "This is a paragraph";
                            //para.style = "display:none";
                            para.id = "tempexport";
                            document.body.appendChild(para);
                            document.getElementById("tempexport").innerHTML = document.getElementById(tableID).outerHTML;
                            $('#tempexport table tr').find('td:eq(3),th:eq(3)').remove();
                            $('#tempexport #clearnewseach').html('Tax Type');
                            tableToExcelnew("tempexport", filename = '')
                            document.getElementById("tempexport").remove();
                        }
                        function sortTable(n) {
                            try {
                                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                                table = document.getElementById("ocrlist");
                                switching = true;
                                //Set the sorting direction to ascending:
                                dir = "asc";
                                /*Make a loop that will continue until
                                no switching has been done:*/
                                while (switching) {
                                    //start by saying: no switching is done:
                                    switching = false;
                                    rows = table.rows;
                                    /*Loop through all table rows (except the
                                    first, which contains table headers):*/
                                    for (i = 1; i < (rows.length - 1); i++) {
                                        //start by saying there should be no switching:
                                        shouldSwitch = false;
                                        /*Get the two elements you want to compare,
                                        one from current row and one from the next:*/
                                        x = rows[i].getElementsByTagName("TD")[n];
                                        y = rows[i + 1].getElementsByTagName("TD")[n];
                                        /*check if the two rows should switch place,
                                        based on the direction, asc or desc:*/
                                        if (dir == "asc") {
                                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                                //if so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        } else if (dir == "desc") {
                                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                                //if so, mark as a switch and break the loop:
                                                shouldSwitch = true;
                                                break;
                                            }
                                        }
                                    }
                                    if (shouldSwitch) {
                                        /*If a switch has been marked, make the switch
                                        and mark that a switch has been done:*/
                                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                        switching = true;
                                        //Each time a switch is done, increase this count by 1:
                                        switchcount++;
                                    } else {
                                        /*If no switching has been done AND the direction is "asc",
                                        set the direction to "desc" and run the while loop again.*/
                                        if (switchcount == 0 && dir == "asc") {
                                            dir = "desc";
                                            switching = true;
                                        }
                                    }
                                }
                            }
                            catch (er) {
                                //alert(er.message);
                            }
                        }
                    </script>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content mymodels" id="mymodels">
                            </div>
                        </div>
                    </div>
