@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<head>
    <script src="~/Scripts/IPR/AgentSearch.js?2.1" type="text/javascript" language="javascript"></script>
    <link href="~/Manupanel/css/IPRSearchStyle.css" rel="stylesheet" />
</head>

<style>
    .modal-footer {
        border-top: 0 !important;
        padding-top: 8px !important;
    }

      
        .modal-footer .btn {
            float: right !important;
        }

    #opentrademarkdetails {
        cursor: pointer;
    }
    /*#btnEmail {
        position: relative;
        top: -29px;
        left: 9px;
    }*/

    /*#emasexc {
        background: #ebebeb;
    }*/

    .pagination-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"><h2 style="margin-top:0px;" id="dynamicnotiheader">Add Trademark</h2></p>
        </div>
        <div class="tabs-and-filters" style="margin:0;">
            <div class="button-group">
                <a href="#" title="Trademark Search" id="searchIP" class="button-group-base">Trademark</a>
                <a href="#" class="button-group-base1" title="Proprietor Search" id="propSearch">Proprietor</a>
                <a href="#" title="Agent Result" class="button-group-base2 active" id="searchAgent" style="display:none">Agent<span id="AgentCount"></span></a>
                <span id="spPhoneticSearch" style="display:none"><a href="#" title="Phonetic Search" class="button-group-base2" id="searchPhonetictab">Phonetic Search<span id="PhoSearchCount"></span></a></span>
            </div>
        </div>
    </div>

</section>

<section class="wrapper" style="margin:unset !important">
    <input type="hidden" value="0" id="hdnsort" />
    <input type="hidden" value="0" id="hdncounter" />
    <input type="hidden" value="@ViewBag.ImagePath" id="imgpath" />
    <div class="container-main">
        @*<div class="card-header">
                <div class="content1">
                    <div class="text-and-supporting-text1">
                        <div class="filter" id="idcustomcommonFilter" style="cursor:pointer;">
                            <img src="/newassets/img/search-lg.png" alt="">
                            Filters
                        </div>
                    </div>
                </div>
            </div>*@
        <div id="page-wrapper">
            <form class="ec_bg wrapper_ipr_rate" style="margin-top:12px;" enctype="multipart/form-data" autocomplete="off" id="iprform">
                <div class="row">
                    <div class="col-md-4" id="hidename">
                        <div class="form-group">
                            <label class="formLabel colorDark" id="changelbl">
                                <span class="control-label">Name<span class="required" aria-required="true"><b> *</b> </span></span>
                            </label>
                            <input type="text" id="agentName" placeholder="Enter the Agent Name" class="form-control inputFormat" onkeydown="fn_search(event)" autofocus>
                        </div>
                    </div>
                    <div class="col-md-4" id="hide">
                        <div class="form-group col-md-12">
                            <label class="formLabel colorDark" id="changelbls">
                                <span class="control-label">Address</span>
                            </label>
                            <input type="text" id="agentAddress" placeholder="Enter the Agent Address" class="form-control inputFormat" autofocus>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="formLabel colorDark"><span class="control-label">&nbsp;</span></label>
                        <div class="form-group" style="display:flex; gap:12px;" id="btns">
                            <button type="button" id="btnsearch" class="btn btn-primary pull-right" value="SEARCH">Search</button>
                            <button type="button" id="btnclear" class="btn btn-secondary" onclick="fn_btnclear()" value="CLEAR">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-panel table-responsive">
                <div style="overflow-x:scroll;">
                    <table class="table-panel">
                        <thead>
                            <tr>
                                <th>
                                    <div class="thbg">
                                        S.NO
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg">
                                        Name
                                    </div>
                                </th>
                                <th>
                                    <div class="thbg">
                                        Address
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg" style="display:flex; justify-content:center;">
                                        Action
                                    </div>
                                </th>

                            </tr>
                        </thead>
                        <tbody id="bindIPRSearchData"></tbody>
                    </table>
                    <center>
                        <div class="notfound" id="pdatastatus">
                            <img src="~/newassets/img/not-found.png" />
                            <h4><span id="dtNotFound">Data not Found</span></h4>
                        </div>
                    </center>
                </div>
                <div class="pagination" id="tradePagination" style="display:none;">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>
                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>
                @*<div class="table-panel">
                        <div class="settingpanel">
                            <div class="col-md-6">
                                <div style="float: left;padding: 0 10px 0 0;">

                                </div>
                                <div id="ptfooter">

                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <!-- Modal View Start-->

            <div id="viewPropritordata" class="modal fade viewaddedtrademarkdata" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width:70%;">
                    <div class="modal-content">
                        <div class="modal-header flex-between">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title" id="modal-header">
                                    Agent information
                                </h3>*@

                            <div class="header_trademarks">
                                <h3 class="modal-title" id="modal-header">
                                    Agent information
                                </h3>

                                <div class="trademark_info_btns">
                                    <button id="emexcel" class="btn btn-primary btn-flex" data-toggle="modal" data-target="#emailmodal"><img src="~/newassets/img/mail_white.svg" />Email As Excel</button>
                                    <button id="Tracprop" class="btn btn-primary">Add To Tracker</button>
                                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>

                        </div>
                        <div class="modal-body">


                            <div class="table-panel table-responsive" style="margin-top:5px;">
                                <div style="height:410px; overflow-y:auto">
                                    <table class="table-panel">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="thbg">
                                                        S.NO
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="thbg">
                                                        Application No
                                                    </div>
                                                </th>
                                                <th id="avx">
                                                    <div class="thbg" ">
                                                        Mark
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="thbg">
                                                        Proprietor Name
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="thbg">
                                                        Status
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="thbg">
                                                        Class Details
                                                    </div>
                                                </th>

                                                <th>
                                                    <div class="thbg">
                                                        Date Of Application
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="thbg">
                                                        User Details
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="bindviewPropritordata"></tbody>
                                    </table>
                                    <center>
                                        <div class="notfound" id="viewpdatastatus" style="display:none;">
                                            <img src="~/newassets/img/not-found.png" />
                                            <h4>Data Not Found</h4>
                                        </div>
                                    </center>
                                </div>
                                <div class="pagination" id="viewPagination">
                                    <div class="pagination-button-group">
                                        <div id="viewPrev" class="pagination-button-group-base">
                                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                                        </div>
                                        <div id="viewPageNumbers" class="pagination-button-group-base1">
                                        </div>
                                        <div id="viewNext" class="pagination-button-group-base8">
                                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                                        </div>
                                    </div>
                                    <div class="text-and-supporting-text-parent">
                                        <div class="input">
                                            <div class="content">
                                                <input type="text" id="viewtxtgopage" name="query" placeholder="Page No.">
                                            </div>
                                            <div class="help-icon">
                                            </div>
                                        </div>
                                        <div class="text-and-supporting-text-group">
                                            <div class="text-and-supporting-text">
                                                <div id="viewDivGo" class="text9">Go</div>
                                            </div>
                                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        @*<div class="modal-footer">
                                <div id="ptfooter1">
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Modal View Start -->
    <div class="modal fade vertical-centered" id="emailmodal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog manuModal1" role="document" style="width:480px;">
            <!-- Modal content -->
            <div class="modal-content" id="emasexc" style="background:#fff;">

                <div class="modal-header btn-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="emailClose">
                        <span aria-hidden="true" style="font-size:unset !important">×</span>
                    </button>
                    <div class="modal-title">
                        <div class="icon_header_pulse">
                            <span class="pulse_div">
                                <img src="/newassets/img/mail-01.png" alt="mail">
                            </span>
                        </div>
                        <h4 class="modal-title" id="mdChange">Send Information Details To</h4>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="formLabel colorDark" for="emailtxt">Email Id.</label>
                        <input type="email"
                               id="emailtxt"
                               name="sendemail"
                               class="form-control inputFormat"
                               placeholder="Enter Mail id"
                               title="Please enter the receiver's mail address"
                               required />
                    </div>
                </div>

                <div class="modal-footer footer_buttons" style="margin-top:20px; border-top: none !important;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" id="btnEmail" class="btn btn-primary">Share</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal View End -->
    @*<div id="myModalCustomCommonFilter" class="modal right fade myModal" role="dialog" data-backdrop="static">
            <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">

                <div class="modal-content">
                    <div class="modal-header btn-success">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <img src="~/newassets/img/mfilter-icon.png" />
                        </h4>
                    </div>
                    <div class="modaltitle">
                        <h4>Apply Filter</h4>
                        <p>Select fields to apply your filter</p>
                    </div>
                    <div class="modal-body">
                        <form class="ec_bg" enctype="multipart/form-data" autocomplete="off" id="iprform" style="height:163px">
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark" id="changelbl"><span class="control-label">Name<span class="required" aria-required="true" style="color:red"><b>*</b> </span></span></label>
                                    <input type="text" id="agentName" placeholder="Enter the Agent Name" class="inputFormat" onkeydown="fn_search(event)" autofocus />
                                </div>
                                <div class="form-group col-md-12">

                                    <label class="formLabel colorDark" id="changelbls"><span class="control-label">Address</span></label>
                                    <input type="text" id="agentAddress" placeholder="Enter the Agent Address" class="inputFormat" autofocus>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top: 34px;">
                                        <div class="col-md-6">
                                            <button type="button" id="btnsearch" class="sbtbtn pull-right" value="SEARCH" style="width:100%">Search</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" id="btnclear" class="sbtbtn pull-right" value="CLEAR" style="width:100%">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
</section>


@* confirmation popup started *@

<div id="myModalAlertconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:480px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-10px 0px 0 -12px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_deleteTraderequesr">Agent Added</h4>
            </div>
            <div class="modal-body">
                @*<p id="msgRUSure">Mark have been added to the tracker successfully.</p>*@
                <p id="msgRUSureCon" style="padding: 0 0 18px 0;"></p>
            </div>
            @*<div class="footer_buttons modal-footer">
                    <button type="submit" class="btn btn-primary"  data-dismiss="modal" id="ConfirmTrackerDetails">Confirm</button>
                </div>*@
        </div>
    </div>
</div>
@* confirmation popup ended *@