
@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<style>

    .required{
        co
    }

</style>

<link href="~/Manupanel/css/IPRSearchStyle.css" rel="stylesheet" />
<script src="~/Scripts/IPR/CreateIPRCase.js?2.5" type="text/javascript" language="javascript"></script>
<section class="wrapper" style="margin:unset !important">
    <div class="container-main">
        <section id="header">
            <div class="container-main">
                <div class="text-left">
                    <a class="goback" id="backtoHome" href="#"><img src="/newassets/img/backarrow.svg" alt="back">Go Back</a>
                    <h3 style="margin-top:0px;" id="dynamicnotiheader"></h3>
                </div>
            </div>
        </section>
        
       
        <div id="page-wrapper">
            <div class="showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="padding:5px;">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp"></ul>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <form class="ec_bg addContact_form" enctype="multipart/form-data" autocomplete="off" id="ipraddform">
                <!-- Start About boxes -->
                <input type="hidden" value="" id="hiddenid" />

                <div class="row rowPurse" style="border-top:0;">
                    <input type="hidden" value="" id="rowcounterdata" />
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Applicant Details <span class="required " aria-required="true"><b> *</b> </span></h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Name<span class="required" aria-required="true"><b>&nbsp;*</b></span></span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtname" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Applicant Type </span></label>
                                    <select class="selctInputFormat" id="ddlApplicantType">
                                        <option value="">Please Select</option>
                                        <option value="Individual/Sole Proprietor">Individual/Sole Proprietor</option>
                                        <option value="Startup">Startup</option>
                                        <option value="Small Enterprise">Small Enterprise </option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Legal Status</span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtLegalStatus" />
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Contact Information</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Address </span></label>
                                    <input type="text" class="inputFormat form-control" placeholder="Type here" id="txtAddress" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Country </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtCountry" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">State </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtState" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">District </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtDistrict" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Email Id </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Type here" id="txtEmailId" />
                                    <div id="emailValidationMessage" style="color: red;"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Phone No</span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Add Phone Number" id="txtPhoneNo" />
                                    <div id="PhoneNoValidationMessage" style="color: red;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Trademark Specification</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label"> Trade Mark</span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Add Trademark Name" id="txttrademark" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label"> Use of Mark </span> </label>
                                    <select class="form-control selctInputFormat" id="ddlUseOfMark">
                                        <option value="">Please Select</option>
                                        <option value="Proposed To Be Used">Proposed to be Used</option>
                                        <option value="User Detail">User detail</option>
                                    </select>
                                    <input type="date" id="iprDate" class="form-control inputFormat" style="display:none" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Category of Mark </span></label>
                                    <select class="form-control selctInputFormat" id="ddlCategoryOfMark">
                                        <option value="">Please Select</option>
                                        <option value="Word">Word</option>
                                        <option value="Colour">Colour</option>
                                        <option value="Device">Device</option>
                                        <option value="Shape of Goods">Shape of Goods</option>
                                        <option value="Sound">Sound</option>
                                        <option value="Three Dimension">Three Dimension</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Class </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Enter less of Trademark" id="txtclass" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Legal Requirements</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Conditions or Limitations </span></label>
                                    <input type="text" class="form-control inputFormat" placeholder="Write Conditions/Limitations" id="txtConditionsLimitations" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Priority </span></label>
                                    <select class="form-control selctInputFormat" id="ddlPriority">
                                        <option value="">Please Select</option>
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="upload_wrapper">
                                        <div class="label_wrapper">
                                            <label class="formLabel colorDark"><span class="control-label">TM Application Form </span></label>
                                            @*<p>Add File (Only jpg and pdf file format allowed)</p>*@
                                        </div>
                                        <input type="file" class="form-control inputFormat" id="postedFile" style="display:none" multiple />
                                        <label for="postedFile" class="upload_btn" id="postedFile"> <img src="~/newassets/img/upload-cloud.svg" /> Upload Document</label>
                                    </div>
                                    <div id="fileListTMApplication" style="margin-top:10px;"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<div class="form-group">
                            <label class="formLabel colorDark"><span class="control-label">Upload Documents</span></label>
                            <input type="file" class="form-control inputFormat" id="uploadedFile" multiple />
                        </div>*@
                                <div class="form-group">
                                    <div class="upload_wrapper">
                                        <div class="label_wrapper">
                                            <label class="formLabel colorDark"><span class="control-label">Upload Supporting Document</span></label>
                                            @*<p>Add File (Only jpg and pdf file format allowed)</p>*@
                                        </div>
                                        <input type="file" class="form-control inputFormat" id="uploadedFile" style="display:none" multiple />
                                        <label for="uploadedFile" type="button" class="upload_btn" id="uploadedFile">
                                            <img src="~/newassets/img/upload-cloud.svg" /> Upload Document
                                        </label>
                                    </div>
                                    <div id="fileListSupportingDoc" style="margin-top:10px;"></div>
                                </div>

                            </div>
                            <div class="col-md-6" style="display:none;" id="UploadImgMark1">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label"> Upload image of the mark</span></label>
                                    <input type="file" class="form-control inputFormat" id="UploadImgMark" />
                                    <span id="imgValidationError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none;" id="txtDescription1">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Image Description</span></label>
                                    <textarea type="text" class="form-control inputFormat" id="txtDescription"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4" style="display:none;" id="UploadSoundMark1">
                                <div class="form-group">
                                    <label class="formLabel colorDark"><span class="control-label">Upload Sound of the Mark</span></label>
                                    <input type="file" class="form-control inputFormat" id="UploadSoundMark" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row rowPurse" style="display: flex; justify-content: flex-end; margin-top: -15px;">
                    <button type="button" class="btn btn-secondary" id="btnReset" style="margin: 15px 8px 20px 0px;">Reset</button>
                    <button type="submit" id="btnsave" class="btn btn-primary" style="margin: 15px 8px 20px 0px;" value="SEARCH">Add Manual Trademark</button>
                </div>

            </form>
            
        </div>
    </div>
</section>

<script>
    document.getElementById("UploadImgMark").addEventListener("change", function () {
        var fileInput = this;
        var imgValidationError = document.getElementById("imgValidationError");

        if (fileInput.files.length > 0) {
            var file = fileInput.files[0];
            var fileType = file.type;
            var validExtensions = ["image/jpeg", "image/png", "image/jpg",];

            if (validExtensions.indexOf(fileType) === -1) {
                var errorMessage = "Only Image files (jpg, jpeg, png) are allowed.";
                imgValidationError.textContent = errorMessage;
                alert(errorMessage);
                fileInput.value = "";
            } else {
                imgValidationError.textContent = "";
            }
        }
    });
</script>
