@{


    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="/CssJsfiles/js/bootstrap3-typeahead.min.js"></script>

<script src="~/Scripts/IPR/IPRJournalSearch.js?1.5" type="text/javascript" language="javascript"></script>

<section class="wrapper" style="margin:unset !important">
    @*<input type="hidden" value="0" id="hdnsort" />
    <input type="hidden" value="0" id="hdncounter" />*@
    <input type="hidden" value="@ViewBag.ImagePath" id="imgpath" />

    <div class="container-main">

        <h2 class="title" id="dynamicheader"></h2>
        <div id="page-wrapper">
            <div class="showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="padding:5px;">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp"></ul>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <form class="ec_bg" enctype="multipart/form-data" autocomplete="off" id="iprform">
                <!-- Start About boxes -->
                <input type="hidden" value="" id="hiddenid" />

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="formLabel colorDark"><span class="control-label">Journal No</span></label>
                            <input type="text" class="inputFormat" id="txtjournalno" placeholder="Journal Number" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group col-md-12">
                            <label class="formLabel colorDark"><span class="control-label">Publication Date  - From</span></label>
                            <input class="inputFormat" type="date" id="txtdatepublicationfrom" onkeypress="return false;" />

                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="form-group col-md-12">
                            <label class="formLabel colorDark"><span class="control-label">Publication Date  - To</span></label>
                            <input class="inputFormat" type="date" id="txtdatepublicationto" onkeypress="return false;" />
                        </div>
                    </div>
                </div>
                
                <div class="row" id="divHide3">

                    <div class="col-md-3" id="extradiv" hidden>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group" style="margin-top: 34px;">
                            <div class="col-md-2">
                                <button type="submit" id="btnsearch" class="sbtbtn pull-right" value="SEARCH" style="width:100%">SEARCH</button>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" id="btnclear" class="sbtbtn pull-right" value="CLEAR" style="width:100%">CLEAR</button>
                            </div>

                        </div>
                    </div>
                </div>

            </form>

            <div class="table-panel table-responsive">
                <div style="overflow-x:scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="thbg">
                                        S.NO
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg" id="th1">
                                        Journal No
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg" id="th2">
                                        Publication Date
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg" id="th3">
                                        Download
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="bindIPRJournalData">
                            <!-- Hardcoded data -->
                            <tr>
                                <td>1</td>
                                <td>ABC123</td>
                                <td>2024-02-06</td>
                                <td><i id="openPopup" title="Documents"style="cursor:pointer; font-size:18px"class="bi bi-folder2-open"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>XYZ456</td>
                                <td>2024-02-07</td>
                                <td><i title="Documents" style="cursor:pointer; font-size:18px" class="bi bi-folder2-open"></i></td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>


                <div class="table-panel">
                    <div class="settingpanel">
                        <div class="col-md-6">
                            <div style="float: left;padding: 0 10px 0 0;">
                            </div>
                            <div id="ptfooter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </div>

</section>


<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupModalLabel">Journal Details</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">S.No</th>
                            <th scope="col" width="40%">Filename</th>
                            <th scope="col" width="50%">Description</th>
                        </tr>
                    </thead>
                    <tbody id="bindIPRJournalData">
                        <!-- Hardcoded data -->
                        <tr>
                            <td>1</td>
                            <td>ASPLivesite/IPRAPI/IPRDocs/Trademark/Upload_Document/2_5366096_11_05_2022.pdf</td>
                            <td>Reply to Exam Report (MIS-R)</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ASPLivesite/IPRAPI/IPRDocs/Trademark/Upload_Document/4_5366096_02_02_2023.pdf</td>
                            <td>TM-O(NOTICE OF OPPOSITION)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="closepopup"type="button" class="sbtbtn" onclick="closePopup()">Close</button> 
            </div>
        </div>
    </div>
</div>


<script>
    // JavaScript to handle the popup
    document.getElementById('openPopup').addEventListener('click', function () {
        $('#popupModal').modal('show');
    });
</script>
<script>
    $("#closepopup").click(function () {
        $('#popupModal').modal('hide');
    })
</script>


