
@{
    Layout = null;
    var id = Request.QueryString["id"];
    string ss = "";
   
}
<head>
    <script src="~/Scripts/IPR/ProprietorGraph.js"></script>
    <script src="~/Manupanel/Chart/Chart.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>

</head>
<input id="hdnid" value="@id" type="hidden" />
<div class="card-container manual-flip">
    <div class="card">
        <div class="front">
            <div class="header">
                <label id="lblpgraph"></label>
                <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation">
                    <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                        <defs>
                            <style>
                                .a {
                                    fill: none;
                                    stroke: #0961b8;
                                    stroke-linecap: round;
                                    stroke-miterlimit: 10;
                                    stroke-width: 2px;
                                }
                            </style>
                        </defs>
                        <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)"></path><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)"></path></g></g>
                    </svg>
                </button>
            </div>
            <div class="content">
                <div id="canvas-holder1">
                    <canvas id="barChartproprietor" style="display: block;width:258px !Important;height:200px !important;"></canvas>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="header">

                <label id="lblpgraphtbl"></label>
                <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card">
                    <img src="/newassets/images/flip_back_btn.png">
                </button>
            </div>
            <div class="content">
                <table cellpadding="0" cellspacing="0" class="table" style="font-size:small;">
                    <thead>
                        <tr>
                            <th width="30%">Name</th>
                            <th width="5%">&nbsp;Total</th>
                        </tr>
                    </thead>
                    <tbody id="tblbodyproprietor"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
