@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<head>
    <script src="~/Scripts/IPR/ProprietorSearch.js?2.6" type="text/javascript" language="javascript"></script>
    @*<script src="~/Scripts/IPR/IPRDashboard.js?1.9"></script>*@
    @*<script src="~/Manupanel/Chart/Chart.min.js"></script>
        <script src="https://apis.google.com/js/api.js"></script>*@
    <link href="~/Manupanel/css/IPRSearchStyle.css" rel="stylesheet" />
</head>
<style>


    /* .ui-datepicker-inline {
        width: 100%;
    }*/

    /* .rectangle {
        height: 12px;
        width: 11px;
        background-color: #3aa0d4;
        float: left;
        border-radius: 3px;
    }

    .rectangle1 {
        height: 12px;
        width: 11px;
        background-color: #47a447;
        float: left;
        clear: both;
        border-radius: 3px;
    }

    .rectangle2 {
        height: 12px;
        width: 11px;
        background-color: #a97516;
        float: left;
        clear: both;
        border-radius: 3px;
    }*/

    /* .colorlbl {
        margin: -2px 0 0 13px;
        float: left;
        font-size: 12px;
    }*/
</style>
<style>
    /* .ui-datepicker table {
        font-size: 12px !important;
    }*/

    /*.ui-datepicker td {
        border: 0;
        padding: 3px !important;
    }

    .ui-datepicker {
        width: 100% !important;
    }*/
    pre {
        display: block;
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: 1.428571429;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: transparent;
        border: none;
        border-radius: 0;
    }

    .ui-widget-header {
        border: none !important;
        background: #ebebeb !important;
        color: #020202 !important;
        font-weight: bold !important;
        border-radius: 50px !important;
    }

    .ui-widget.ui-widget-content {
        border: none !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none !important;
        font-weight: normal !important;
        border-radius: 4px;
    }

    /*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #dad55e;
        background: #4D95DD !important;
        color: #ffffff !important;
    }*/

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html
    .ui-datepicker td span, .ui-datepicker td a {
        padding: 6px !important;
    }

    .ui-widget-header .ui-icon {
        background-image: url(/newassets/images/ui-icons_444444_256x240.png) !important;
    }

    .dhx_cal_header {
        background-image: none !important;
    }

    .dhx_scale_bar {
        background-image: none !important;
    }

    .dhx_scale_bar {
        color: #020202 !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ui-icon {
        width: 18px !important;
        height: 18px !important;
    }

    .ui-icon-circle-triangle-w {
        background-position: -80px -191px !important;
    }

    .ui-icon-circle-triangle-e {
        background-position: -47px -191px !important;
    }

    /*.ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover {
        top: 2px !important;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 2px !important;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 2px !important;
    }*/
</style>
<style>

    td.highlightTask > a {
        background: #3aa0d4 !important;
        color: #fff !important;
    }

    td.highlight > a {
        background: #47a447 !important;
        color: #fff !important;
    }

    /*.ui-datepicker-inline {
        width: 100%;
    }

    .ui-datepicker {
        width: 100% !important;
        padding: .2em .2em 0;
        display: none;
    }*/

    .rectangle {
        height: 13px;
        width: 15px;
        background-color: #3aa0d4;
        float: left;
    }

    .rectangle1 {
        height: 13px;
        width: 15px;
        background-color: #47a447;
        float: left;
        clear: both;
    }

    /*.colorlbl {
        margin-left: 20px;
        float: left;
    }*/
    .modal-footer {
        border-top: 0 !important;
        padding-top: 8px !important;
    }

        .modal-footer .btn {
            float: right !important;
        }
</style>
<style>
    .todo-list {
        float: left;
        width: 131px;
        background: #f4f4f4;
        padding: 11px;
        margin: 0 20px 20px 0;
        border-radius: 8px;
    }

    .breadcrumb {
        padding: 2px 4px;
        margin: 0;
        background-color: #f4f4f4;
        border-radius: 50px;
        overflow: hidden;
        width: 90px;
    }

    .paginationsection ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .paginationsection ul li {
            margin: 0 12px 0 0;
            padding: 0;
            float: left;
        }

    #matter-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #form-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }



    #barChartNoticeStatus {
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-3 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-4 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #subject-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #invioce-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #legend > ul {
        display: flex;
        justify-content: center;
    }

    #legend li {
        cursor: pointer;
        margin: 10px 10px;
        display: flex;
    }

        #legend li span {
            padding-left: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }



    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }


    #parentnbox {
        border-bottom: 0px !important;
    }

        #parentnbox > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px !important
        }

        #parentnbox > li > a:hover, .nav > li > a:focus {
            background-color: white !important;
        }

        #parentnbox > li > a:hover {
            border-color: white !important;
        }

    #filterbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        #filterbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        #filterbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .rangediv {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .rangediv li {
            margin: 0;
            padding: 6px 10px 0 0;
            float: left;
        }

    .alertbox li > a {
        color: #555 !important;
        cursor: default;
    }

    .alertbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        .alertbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        .alertbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ebebeb;
        border: none;
        box-shadow: none;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: none;
    }

    .panel-heading {
        position: relative;
        padding: 6px 15px !important;
    }


    .panel-default > .panel-heading {
        background-color: #ebebeb !important;
    }

    .panel-title {
        font-size: 11px !important;
        padding: 3px 0 !important;
    }

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding: 4px 5px 1px 5px;
            border-radius: 50px;
            margin: 1px 0 0 0;
            background: #4d95dd;
            color: #ffffff;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
            color: #000000;
        }

    -activitypanel {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .r-activitywrapper {
        margin: 0 0 30px 0;
        padding: 5px 0;
        border-bottom: 0.5px solid #e2e2e2;
        opacity: 1;
        height: auto;
    }

        .r-activitywrapper p {
            margin: 0;
            padding: 0;
            color: #B5B1B1;
            font-size: 16px;
            letter-spacing: 0.68px;
        }

            .r-activitywrapper p span {
                color: #020202;
                letter-spacing: 0.68px;
                font-weight: 500;
            }


    .recent {
        margin: 0;
        padding: 0;
        /* border-bottom: 1px solid #c8c8c8; */
        font-size: 16px;
        color: #020202;
        height: 155px;
    }

    /*#btnEmail {
        position: relative;
        top: -29px;
        left: 9px;
    }*/

    #emasexc {
        background: #ebebeb;
    }
</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            @*<a class="goback" id="backtoHome" href="#"><img src="/newassets/img/backarrow.svg" alt="back">Go Back</a>*@
            <h2 style="margin-top:0px;" id="dynamicnotiheader"></h2>
            </p>
        </div>
        <div class="tabs-and-filters">
            <div class="button-group">
                <a href="#" title="Trademark Search" id="searchIP" class="button-group-base"><span id="SearchTradename"></span></a>
                <a href="#" class="button-group-base1 active" title="Proprietor Search" id="propSearch"><span id="SearchActionName"></span><span id="PropCount"></span></a>
                <a href="#" title="Agent Result" class="button-group-base2" id="searchAgent" style="display:none">Agent</a>
                <span id="spPhoneticSearch" style="@Session["IPRPhoneticAlertSub"]"><a href="#" title="Phonetic Search" class="button-group-base2" id="searchPhonetictab">Phonetic Search<span id="PhoSearchCount"></span></a></span>
            </div>
        </div>
    </div>

</section>

<section class="wrapper" style="margin:unset !important">
    <input type="hidden" value="0" id="hdnsort" />
    <input type="hidden" value="0" id="hdncounter" />
    <input type="hidden" value="@ViewBag.ImagePath" id="imgpath" />
    <div class="container-main">
        <form class="ec_bg wrapper_ipr_rate" style="margin-top:12px;" enctype="multipart/form-data" autocomplete="off" id="iprform">
            <div class="row">
                <div class="col-md-4" id="hidename">
                    <div class="form-group">
                        <label class="formLabel colorDark"><span class="control-label">Name<span class="required " aria-required="true"><b> *</b> </span></span></label>
                        <input type="text" id="filterPropName" placeholder="Enter the Proprietor Name" class="form-control inputFormat" onkeydown="fn_search(event)" autofocus>
                    </div>
                </div>
                <div class="col-md-4" id="hide">
                    <div class="form-group col-md-12">
                        <label class="formLabel colorDark" id="changelbls"><span class="control-label">Address</span></label>
                        <input type="text" id="filterAddress" placeholder="Enter the Proprietor Address" class="form-control inputFormat" autofocus>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="formLabel colorDark"><span class="control-label">&nbsp;</span></label>
                    <div class="form-group" style="display:flex; gap:12px;" id="btns">
                        <button type="button" id="btnsearch" class="btn btn-primary pull-right" value="SEARCH">Search</button>
                        <button type="button" id="btnclear" class="btn btn-secondary" onclick="fn_btnclear()" value="CLEAR">Reset</button>
                    </div>
                </div>
            </div>

        </form>
        @*<div class="card-header">
                <div class="content1">
                    <div class="text-and-supporting-text1">
                        <div class="filter" id="idcustomcommonFilter" style="cursor:pointer;">
                            <img src="/newassets/img/search-lg.png" alt="">
                            Filters
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="table-panel table-responsive">
            <div style="overflow-x:auto;">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th>
                                <div class="thbg">
                                    S.NO
                                </div>
                            </th>

                            <th id="headerhide1">
                                <div class="thbg">
                                    Name
                                </div>
                            </th>
                            <th id="headerhide">
                                <div class="thbg">
                                    Address
                                </div>
                            </th>

                            <th class="text-center">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody id="bindIPRSearchData"></tbody>
                </table>
                <center>
                    <div class="notfound" id="pdatastatus">
                        <img src="~/newassets/img/not-found.png" />
                        <h4><span id="dtNotFound">Data not Found</span></h4>
                    </div>
                </center>
            </div>
            <div class="pagination" id="tradePagination" style="display:none;">
                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">
                    </div>
                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal View Start-->
        <div id="viewPropritordata" class="modal fade viewaddedtrademarkdata" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="width:70%;">

                <div class="modal-content">

                    <div class="header_trademarks">
                        <h3 class="modal-title" id="modal-header">
                            Proprietor information
                        </h3>

                        <div class="trademark_info_btns">
                            <div id="btnShowHeader">

                            </div>
                            @*<button id="emexcel" class="btn btn-primary pull-right btn-flex" data-toggle="modal" data-target="#emailmodal"><img src="/newassets/img/mail_white.svg"> Email As Excel</button>
                                <button style="display:none" id="downloadExcel" class="btn btn-primary pull-right btn-flex">Download</button>
                                <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Cancel</button>*@
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-panel table-responsive" style="overflow:hidden; margin-top:15px;">
                                    <div style="max-height:410px; overflow-y:auto">
                                        <table class="table-panel">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="thbg">
                                                            S.NO
                                                        </div>
                                                    </th>

                                                    <th>
                                                        <div class="thbg" id="th2">
                                                            Application No.
                                                        </div>
                                                    </th>
                                                    <th id="avx">
                                                        <div class="thbg" id="th3">
                                                            Mark
                                                        </div>
                                                    </th>

                                                    <th>
                                                        <div class="thbg" id="th4">
                                                            Date of Application
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="thbg" id="th5">
                                                            Class
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="thbg" id="th6">
                                                            Status
                                                        </div>
                                                    </th>

                                                    <th id="rm1">
                                                        <div class="thbg" id="th7">

                                                        </div>
                                                    </th>

                                                    <th id="rm2">
                                                        <div class="thbg" id="th8">

                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="bindviewPropritordata"></tbody>
                                        </table>
                                        <center>
                                            <div class="notfound" id="viewpdatastatus" style="display:none;">
                                                <img src="~/newassets/img/not-found.png" />
                                                <h4>Data Not Found</h4>

                                            </div>
                                        </center>
                                    </div>
                                    <div class="pagination" id="viewPagination">
                                        <div class="pagination-button-group">
                                            <div id="viewPrev" class="pagination-button-group-base">
                                                <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                                <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                                            </div>
                                            <div id="viewPageNumbers" class="pagination-button-group-base1">
                                            </div>
                                            <div id="viewNext" class="pagination-button-group-base8">
                                                <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                                <img style="float:right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                                            </div>
                                        </div>
                                        <div class="text-and-supporting-text-parent">
                                            <div class="input">
                                                <div class="content">
                                                    <input type="text" id="viewtxtgopage" name="query" placeholder="Page No.">
                                                </div>
                                                <div class="help-icon">
                                                </div>
                                            </div>
                                            <div class="text-and-supporting-text-group">
                                                <div class="text-and-supporting-text">
                                                    <div id="viewDivGo" class="text9">Go</div>
                                                </div>
                                                <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="table-panel">
                                            <div class="settingpanel">
                                                <div class="col-md-12 text-right">
                                                    <div style="float: left;padding: 0 10px 0 0;">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="display:none;">
                        <div id="ptfooter1">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Modal View End-->

    <div class="modal fade vertical-centered" id="emailmodal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog manuModal1" role="document" style="width:480px;">
            <div class="modal-content" id="emasexcinfo" style="background:#fff;">
                <div class="modal-header btn-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="editcloseinfo">
                        <span aria-hidden="true" style="font-size:unset !important">×</span>
                    </button>
                    <div class="modal-title">
                        <div class="icon_header_pulse">
                            <span class="pulse_div">
                                <img src="/newassets/img/mail-01.png" alt="info">
                            </span>
                        </div>
                        <h4 class="modal-title" id="emailModalLabel">
                            Send Information Details
                        </h4>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="formLabel colorDark" for="emailtxtinfo">Email Id.</label>
                        <input type="email" id="emailtxt" class="form-control inputFormat" placeholder="Enter Email Id" title="Please enter the receiver's mail address" required />
                    </div>
                </div>

                <div class="modal-footer footer_buttons" style="margin-top:20px; border-top: none !important;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" id="cancelinfo">Cancel</button>
                    @*<button type="button" class="btn btn-primary" id="btnEmailInfo">Share</button>*@
                    <button type="button" class="btn btn-primary" id="btnEmail">Share</button>
                </div>
            </div>
        </div>
    </div>


    @*<div class="modal fade" id="emailmodal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">

                <div class="modal-content" id="emasexc" style="background:#fff;">
                    <div class="modal-header main_header_modal">
                        <h5 class="modal-title" id="emailModalLabel">Send Information Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fn_clrtxt()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="formLabel colorDark" for="emailtxt">Send Information Details To:</label>
                            <input type="email" id="emailtxt" class="form-control inputFormat" placeholder="example@123.com" title="Please enter the receiver's mail address" required />
                        </div>
                    </div>
                    <div class="modal-footer flex-end" style="border-top: 0 !important;">
                        <button id="btnEmail" class="btn btn-primary">Send Email</button>
                    </div>
                </div>
            </div>
        </div>*@


    @*<div id="myModalCustomCommonFilter" class="modal right fade myModal" role="dialog" data-backdrop="static">
            <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">

                <div class="modal-content">
                    <div class="modal-header btn-success">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <img src="~/newassets/img/mfilter-icon.png" />
                        </h4>
                    </div>
                    <div class="modaltitle">
                        <h4>Apply Filter</h4>
                        <p>Select fields to apply your filter</p>
                    </div>
                    <div class="modal-body">
                        <form class="ec_bg" enctype="multipart/form-data" autocomplete="off" id="iprform" style="height:163px">
                            <div class="row">
                                <div class="col-md-12" id="hidename">
                                    <div class="form-group col-md-12">
                                        <label class="formLabel colorDark"><span class="control-label">Name<span class="required" aria-required="true" style="color:red"><b>*</b> </span></span></label>
                                        <input type="text" id="filterPropName" placeholder="Enter the Proprietor Name" class="inputFormat" onkeydown="fn_search(event)" autofocus>
                                    </div>
                                </div>
                                <div class="col-md-12" id="hide">
                                    <div class="form-group col-md-12">
                                        <label class="formLabel colorDark" id="changelbls"><span class="control-label">Address</span></label>
                                        <input type="text" id="filterAddress" placeholder="Enter the Proprietor Address" class="inputFormat" autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" style="margin-top: 34px;" id="btns">
                                    <div class="col-md-6">
                                        <button type="button" id="btnsearch" class="sbtbtn pull-right" value="SEARCH">Search</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" id="btnclear" class="sbtbtn pull-right" onclick="fn_btnclear()" value="CLEAR">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>*@

</section>

@* confirmation popup started *@

<div id="myModalAlertconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:480px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/icon1.png" style="margin:-10px 0px 0 -12px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_deleteTraderequesr">Proprietor Added</h4>
            </div>
            <div class="modal-body">
                @*<p id="msgRUSure">Mark have been added to the tracker successfully.</p>*@
                <p id="msgRUSureCon" style="padding: 0 0 18px 0;"></p>
            </div>
            @*<div class="footer_buttons modal-footer">
                    <button type="submit" class="btn btn-primary"  data-dismiss="modal" id="ConfirmTrackerDetails">Confirm</button>
                </div>*@
        </div>
    </div>
</div>
@* confirmation popup ended *@
