@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<style>
    .txt-panel {
        margin: 0;
        padding: 0 9px 25px;
        font-size: 16px;
        font-weight: 400;
        color: #3a3a3a;
        text-align: left;
    }

    .txt-head {
        margin: 0;
        padding: 15px 9px 9px;
        font-size: 17px;
        font-weight: 400;
        color: #1d5494;
        text-align: left;
        line-height: 22px;
    }

    .img-responsive {
        display: block;
        text-align: center;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
    }

    .img-panel {
        margin: 0;
        padding: 0;
    }

    .art-container {
        width: 100%;
        height: 415px;
        box-shadow: 0 0 19px 0 #00000029;
        margin: 0 0 20px;
    }
</style>
  
    <section class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Resources for Intellectual Property</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="art-container">
                    <div class="img-panel">
                        <img class="img-responsive" src="~/newassets/images/trademark-law.png">
                    </div>
                    <div class="txt-head">
                        <a href="~/newassets/pdf/Nice Classification for Resources.pdf" target="_blank" style="cursor: pointer;">
                            Trade Mark Class Details
                        </a>
                    </div>
                    <div class="txt-panel">
                        The Nice Classification is an international classification of goods and services applied for the registration of marks. These goods and services have been divided into 45 classes.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="art-container">
                    <div class="img-panel">
                        <img class="img-responsive" src="~/newassets/images/Design_image.jpg">
                    </div>
                    <div class="txt-head">
                        <a href="~/newassets/pdf/Design Classification for Resources.pdf" target="_blank" style="cursor: pointer;">
                            Design Class Details
                        </a>
                    </div>
                    <div class="txt-panel">
                        The Locarno Classification is an International Classification used for the Purposes of the Registration of Industrial Designs. These have been divided into 32 classes.
                    </div>
                </div>
            </div>
        </div>
    </section>



