.droppable-active {
    background-color: #ffe !important;
}






#DivGroupBind li {
    float: left;
    margin: 0;
    padding: 0 10px 10px 0;
    list-style-type: none;
}

.ui-state-highlight {
    height: 100%;
    width: 100%;
    background-color: gray;
    background: gray;
}


#parentmodal {
    padding: 0px 10px 9px 10px;
    clear: both;
}

.error {
    color: red;
}

.box {
   
    height: 215px !important;
 
}

.box3 {
  
    height: 180px !important;
  
}

.box1 {
    
    overflow-y: scroll !important;
    
}

.box:hover {
    overflow-y: scroll !important;
}

.userinfo-head {
    margin: 0 0 10px 0;
    padding: 5px;
}

.inputFormat {
    margin-bottom: 10px !important;
}

::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    background: #6d6d6d !important;
}

.hide {
    display: none;
}






.leftpanelpart {
    min-height: 100px;
    padding: 10px;
    text-align: justify;
    position: relative;
    margin: left;
    background: white;
    border-radius: 15px;
    width: 100%;
    overflow-y: scroll;
}

.rightpanelpart {
    min-height: 100px;
    padding: 10px;
    overflow-y: scroll;
    text-align: justify;
    position: relative;
    margin: left;
    background: white;
    border-radius: 15px;
}

.rightpanelhead {
    margin-bottom: 12px;
    background-color: #cbeefd !important;
    color: black;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 16px;
}



.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}






/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.flex-container {
    width: 100%;
    /* min-height: 100px; */
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    display: flex; /* Standard syntax */
    width: max-content;
    float: left;
    margin-left: 20px;
}

   




.DivGroupBind ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .DivGroupBind ul li {
        float: left;
        margin: 0;
        padding: 0 10px 10px 0;
    }

        .DivGroupBind ul li p {
            text-align: center;
            margin: 0;
            padding: 0;
        }

.list-group-item {
    padding: 5px 12px;
}

