.arrow-left-icon {
	width: 20px;
	position: relative;
	height: 20px;
	overflow: hidden;
	flex-shrink: 0;
	margin: 4px 0 0 0;
}
.text {
	position: relative;
	line-height: 24px;
	font-weight: 600;
}
.pagination-button-group-base {
	background-color: #fff;
	border-left: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	gap: 8px;
	min-height: 40px;
	cursor: pointer;
	border-top: 1px solid #d5d7da;
	border-bottom: 1px solid #d5d7da;
	border-radius: 8px 0px 0px 8px;
}
.pagination-button-group-base1 {
	/*
		background-color: #fafafa;
		min-width: 40px;
	    min-height: 40px;
	*/
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px;
	color: #252b37;
	cursor: pointer;
}
.pagination-button-group-base1 button {
    border: 1px solid #d5d7da;
    background: #fff;
    padding: 10px;
    width: 42px;
    height: 42px;
    /* border-right: none; */
}
.pagination .active {
    background-color: #154b6d !important;
    color: white;
    font-weight: bold;
}
.pagination-button-group-base2 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base3 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base4 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base5 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base6 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base7 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px;
	min-width: 40px;
	min-height: 40px;
	cursor: pointer;
}
.pagination-button-group-base8 {
	background-color: #fff;
	border-right: 1px solid #d5d7da;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	gap: 8px;
	min-height: 40px;
	cursor: pointer;
	border-top: 1px solid #d5d7da;
	border-bottom: 1px solid #d5d7da;
	border-radius: 0px 8px 8px 0px;
}
.pagination-button-group {
	box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.text9 {
	position: relative;
	line-height: 20px;
	font-weight: 500;
}

.text10 {
	position: relative;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.help-icon {
	width: 16px;
	position: relative;
	height: 16px;
	display: none;
}
.input {
	box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #d5d7da;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 7px;
	gap: 8px;
	color: #717680;
}
.input input {
	border: none;
	width: 65px;
}
.chevron-down-icon {
	width: 20px;
	position: relative;
	height: 20px;
	overflow: hidden;
	flex-shrink: 0;
	object-fit: contain;
}
.text-and-supporting-text-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
	cursor:pointer;
}
.text-and-supporting-text-parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	color: #4b5563;
}
.pagination {
	width: 100%;
	position: relative;
	border-top: 1px solid #e9eaeb;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 12px 14px 0px;
	text-align: left;
	font-size: 14px;
	color: #414651;
	font-family: Inter;
}

