@{
    /**/

    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    var firmcode121 = Session["FirmCode"];
}


<head>
    <script src="~/Scripts/STF/STFReports.js" type="text/javascript" language="javascript"></script>
    <script src="~/Manupanel/Chart/Chart.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>

</head>


<style>
    #opentrademarkdetails {
        cursor: pointer;
    }
</style>

<style>
    td.highlightEvent > a {
        background: #a97516 !important;
        color: #fff !important;
    }

    td.highlightTask > a {
        background: #3aa0d4 !important;
        color: #fff !important;
    }


    td.highlight > a {
        background: #47a447 !important;
        color: #fff !important;
    }


    .ui-datepicker-inline {
        width: 100%;
    }

    .rectangle {
        height: 12px;
        width: 11px;
        background-color: #3aa0d4;
        float: left;
        border-radius: 3px;
    }

    .rectangle1 {
        height: 12px;
        width: 11px;
        background-color: #47a447;
        float: left;
        clear: both;
        border-radius: 3px;
    }

    .rectangle2 {
        height: 12px;
        width: 11px;
        background-color: #a97516;
        float: left;
        clear: both;
        border-radius: 3px;
    }

    .colorlbl {
        margin: -2px 0 0 13px;
        float: left;
        font-size: 12px;
    }
</style>
<style>
    .ui-datepicker table {
        font-size: 12px !important;
    }

    .ui-datepicker td {
        border: 0;
        padding: 3px !important;
    }

    .ui-datepicker {
        width: 100% !important;
    }

    .ui-widget-header {
        border: none !important;
        background: #ebebeb !important;
        color: #020202 !important;
        font-weight: bold !important;
        border-radius: 50px !important;
    }

    .ui-widget.ui-widget-content {
        border: none !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none !important;
        font-weight: normal !important;
        border-radius: 4px;
    }

    /*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #dad55e;
        background: #4D95DD !important;
        color: #ffffff !important;
    }*/

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html
    .ui-datepicker td span, .ui-datepicker td a {
        padding: 6px !important;
    }

    .ui-widget-header .ui-icon {
        background-image: url(/newassets/images/ui-icons_444444_256x240.png) !important;
    }

    .dhx_cal_header {
        background-image: none !important;
    }

    .dhx_scale_bar {
        background-image: none !important;
    }

    .dhx_scale_bar {
        color: #020202 !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ui-icon {
        width: 18px !important;
        height: 18px !important;
    }

    .ui-icon-circle-triangle-w {
        background-position: -80px -191px !important;
    }

    .ui-icon-circle-triangle-e {
        background-position: -47px -191px !important;
    }

    .ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover {
        top: 2px !important;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 2px !important;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 2px !important;
    }
</style>
<style>

    td.highlightTask > a {
        background: #3aa0d4 !important;
        color: #fff !important;
    }

    td.highlight > a {
        background: #47a447 !important;
        color: #fff !important;
    }

    .ui-datepicker-inline {
        width: 100%;
    }

    .ui-datepicker {
        width: 100% !important;
        padding: .2em .2em 0;
        display: none;
    }

    .rectangle {
        height: 13px;
        width: 15px;
        background-color: #3aa0d4;
        float: left;
    }

    .rectangle1 {
        height: 13px;
        width: 15px;
        background-color: #47a447;
        float: left;
        clear: both;
    }

    .colorlbl {
        margin-left: 20px;
        float: left;
    }
</style>
<style>
    .todo-list {
        float: left;
        width: 131px;
        background: #f4f4f4;
        padding: 11px;
        margin: 0 20px 20px 0;
        border-radius: 8px;
    }

    .breadcrumb {
        padding: 2px 4px;
        margin: 0;
        background-color: #f4f4f4;
        border-radius: 50px;
        overflow: hidden;
        width: 90px;
    }

    .paginationsection ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .paginationsection ul li {
            margin: 0 12px 0 0;
            padding: 0;
            float: left;
        }

    #matter-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #form-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #barChartNoticeStatus {
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-3 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-4 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #subject-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #invioce-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }



    #legend > ul {
        display: flex;
        justify-content: center;
    }

    #legend li {
        cursor: pointer;
        margin: 10px 10px;
        display: flex;
    }

        #legend li span {
            padding-left: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }



    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }


    #parentnbox {
        border-bottom: 0px !important;
    }

        #parentnbox > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px !important
        }

        #parentnbox > li > a:hover, .nav > li > a:focus {
            background-color: white !important;
        }

        #parentnbox > li > a:hover {
            border-color: white !important;
        }

    #filterbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        #filterbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        #filterbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .rangediv {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .rangediv li {
            margin: 0;
            padding: 6px 10px 0 0;
            float: left;
        }

    .alertbox li > a {
        color: #555 !important;
        cursor: default;
    }

    .alertbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        .alertbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        .alertbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ebebeb;
        border: none;
        box-shadow: none;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: none;
    }

    .panel-heading {
        position: relative;
        padding: 6px 15px !important;
    }


    .panel-default > .panel-heading {
        background-color: #ebebeb !important;
    }

    .panel-title {
        font-size: 11px !important;
        padding: 3px 0 !important;
    }

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding: 4px 5px 1px 5px;
            border-radius: 50px;
            margin: 1px 0 0 0;
            background: #4d95dd;
            color: #ffffff;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
            color: #000000;
        }

    .dashboard_top_panel {
        margin: 10px 0 20px 0;
        padding: 0;
        overflow: hidden;
    }

        .dashboard_top_panel .dbox {
            margin: 0;
            padding: 10px 20px;
            border-radius: 8px;
            color: #020202;
            background: #ebebeb;
            overflow: hidden;
        }

            .dashboard_top_panel .dbox .iconwrapper {
                margin: 0;
                padding: 5px 0 0 0;
                float: left;
            }

            .dashboard_top_panel .dbox .txtwrapper {
                margin: 0;
                padding: 0;
                float: right;
                text-align: right;
            }

                .dashboard_top_panel .dbox .txtwrapper p {
                }

                    .dashboard_top_panel .dbox .txtwrapper p a {
                        color: #020202;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 16px;
                    }

                        .dashboard_top_panel .dbox .txtwrapper p a:hover {
                            color: #4D95DD;
                            text-decoration: none;
                        }



            .dashboard_top_panel .dbox p label {
                color: #4D95DD !important;
                font-size: 31px !important;
                font-weight: 600 !important;
            }

    .r-activitypanel {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .r-activitywrapper {
        margin: 0 0 30px 0;
        padding: 5px 0;
        border-bottom: 0.5px solid #e2e2e2;
        opacity: 1;
        height: auto;
    }

        .r-activitywrapper p {
            margin: 0;
            padding: 0;
            color: #B5B1B1;
            font-size: 16px;
            letter-spacing: 0.68px;
        }

            .r-activitywrapper p span {
                color: #020202;
                letter-spacing: 0.68px;
                font-weight: 500;
            }


    .recent {
        margin: 0;
        padding: 0;
        /* border-bottom: 1px solid #c8c8c8; */
        font-size: 16px;
        color: #020202;
        height: 155px;
    }

    .inner_banner_head {
        text-align: left !important;
        font-size: 35px !important;
        font-weight: 300 !important;
        color: black !important;
        margin: 0;
        letter-spacing: -2px;
        padding: 8px 0 4px 0;
    }
</style>
<section class="wrapper" style="margin:unset !important">
    <div style="width: 90%; margin: 0 auto !important" id="headerText">
        <h3><span id="CaseDetailsBind" style=" background: #cbeefd; "></span></h3>
        <h2 class="title">statistical report</h2>
    </div>
    <div class="container-main">

        <form class="ec_bg" enctype="multipart/form-data" autocomplete="off" id="ReportProcessEntry" onsubmit="event.preventDefault(); ProcessEntryDashBoardReport();">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="formLabel colorDark"><span class="control-label">Issue Date From<span class="required" aria-required="true" style="color:red"><b>*</b> </span></span></label>
                        <input type="date" id="IssueDateFrom" class="inputFormat" autofocus>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="formLabel colorDark"><span class="control-label">Issue Date To<span class="required" aria-required="true" style="color:red"><b>*</b> </span></span></label>
                        <input type="date" id="IssueDateToReport" class="inputFormat">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label class="formLabel colorDark"><span class="control-label"> Select Secondary User</span></label>
                        <select type="text" id="UserListFilter" class="form-control selctInputFormat">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <label class="formLabel colorDark"><span class="control-label"> Select Tertiary User</span></label>
                        <select type="text" id="UserListTertiaryFilter" class="form-control selctInputFormat">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <label class="formLabel colorDark"></label>

                    <button type="submit" class="sbtbtn pull-right" style="width: 100%; float: left; margin: 25px 0 0 0px;">Find Report</button>

                </div>
            </div>
            @*<table style="width: 20%">
                    <tbody>
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                    </tbody>
                </table>*@
        </form>


        <div class="table-panel table-responsive">
            <div style="overflow-x:scroll;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="thbg" id="th1">
                                    Total No. of process issued
                                </div>
                            </th>
                            <th>
                                <div class="thbg" id="th1">
                                    Total No. of process served
                                </div>
                            </th>
                            <th>
                                <div class="thbg" id="th1">
                                    Total No. of process not served
                                </div>
                            </th>
                            <th>
                                <div class="thbg" id="th1">
                                    Total No. of PWs Appeared for evidence
                                </div>
                            </th>
                            <th>
                                <div class="thbg" id="th1">
                                    Total No. of PWs not appeared for evidence
                                </div>
                            </th>
                            <th>
                                <div class="thbg" id="th1">
                                    Proceeding status
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="ReportData">
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>
