@{
    ViewBag.Title = "LogOut";
    Layout = null;
    var curuser = ViewBag.CurUserName;
    var curfirm = ViewBag.CurFirm;
    var urlchat = System.Web.Configuration.WebConfigurationManager.AppSettings["chaturl"].ToString();
}
<iframe id="frm" src="@urlchat/Chat/exitchat?uid=@curuser&fid=@curfirm&flag=1" style="display:none"></iframe>
@Scripts.Render("~/bundles/jQueryBootStrap")
<script>
    $(document).ready(function () {
        localStorage.removeItem("Nexthearingary");
        localStorage.removeItem("NexthearingaryRevenue");
        sessionStorage.removeItem("hidtempchatdisable");
        sessionStorage.clear();
        //var code = @Request.Url.Segments[1];
$("#modalview").show();
	setTimeout(function(){ location.href = "/";}, 1000);
        $("#modalview").hide();
    });
</script>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
