@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script>
    var configurationtype = 1;
    var mode = "VIEW";
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/UserProfile.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> User Details
            </h3>
        </div>
    </div>
    <div class="form-section w70">
        <div id="" class="row" style="padding:25px 0 0 0">
            <div class="col-md-12 parallel">
                <label for="" class="col-md-2 control-label">UserName<i class="fa fa-star" aria-hidden="true"></i></label>:
                <input class="col-md-3 textinput borderless" id="txtusername" name="" placeholder="UserName" type="text" value="" maxlength="50" required>
            </div>
        </div>
        <div id="divCFields" style="border:0 solid grey;padding:0 0 25px 0;min-height:1px;">
        </div>
    </div>
    <div class="form-section w70">
        <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: normal;">
            <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Edit </button>
            <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
        </nav>
    </div>
</div>
