USE [LawPractice]
GO
/****** Object:  StoredProcedure [dbo].[GetInformationDetails]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetInformationDetails] 
	-- Add the parameters for the stored procedure here
	@uid varchar(Max),
	@fid varchar(Max),
	@confType varchar(Max),
	@orderBy NVARCHAR,
	@ErrorDescription varchar(Max) Output,
	@ErrorCode bigint Output,
	@Query nvarchar(Max) Output 
AS
BEGIN
DECLARE @cols AS NVARCHAR(MAX)/*,@query  AS NVARCHAR(MAX),@fid NVARCHAR,@confType NVARCHAR,@uid NVARCHAR,@orderBy NVARCHAR;
SET @orderBy='';
SET @uid=0;
SET @fid=2;
SET @confType=2;*/
select @cols = STUFF((SELECT ',' + QUOTENAME(Id) 
                   FROM FirmConfiguredCustomFields
					Where FirmId=@fid AND ConfigurationType=@confType AND IsActive=1
                    group by Id
                    order by Id
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')

print @cols;


set @Query = 'SELECT * FROM (Select * from (select Id,Value,CustomFieldId from (SELECT	ud.RefId as Id, fcf.SubConfigurationType,
				ud.CustomFieldId, 
				ud.Value, 
				fcf.FieldType
FROM            dbo.FirmInformationDetails AS ud INNER JOIN
                         dbo.FirmConfiguredCustomFields AS fcf ON fcf.FirmId='+@fid
if(@uid>0)
BEGIN
  SET @Query = @Query +' AND ud.RefId= '+@uid;
END;
SET @Query = @Query +' AND ud.CustomFieldId = fcf.Id INNER JOIN
                         dbo.CustomFields AS cf ON fcf.FieldType = cf.Id INNER JOIN
                         dbo.ConfigurationType AS ct ON ud.ConfType = ct.Id
WHERE        (fcf.ConfigurationType = '+@confType+') AND (cf.IsActive = 1)
) AS X) AS T
pivot(
       MAX(Value) 
       for CustomFieldId in('+@cols+')
) as pvt) AS R ';

IF( @orderBy != '' )
BEGIN
  SET @Query = @Query +' order by '''+@orderBy+'''';
END;
 SET @Query = @Query +';'
print @Query;
execute(@Query);
END;






GO
/****** Object:  StoredProcedure [dbo].[GetInformationDetailsBySubConfiguration]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetInformationDetailsBySubConfiguration] 
	-- Add the parameters for the stored procedure here
	@uid varchar(Max),
	@scid varchar(Max),
	@fid varchar(Max),
	@confType varchar(Max),
	@orderBy NVARCHAR,
	@ErrorDescription varchar(Max) Output,
	@ErrorCode bigint Output,
	@Query nvarchar(Max) Output 
AS
BEGIN
DECLARE @cols AS NVARCHAR(MAX)/*,@query  AS NVARCHAR(MAX),@fid NVARCHAR,@confType NVARCHAR,@uid NVARCHAR,@orderBy NVARCHAR;
SET @uid = N'''1'',''3'',''4''',
SET @scid = N'primary',
SET @fid = N'1',
SET @confType =N'1',
SET @orderBy = N'',*/
select @cols = STUFF((SELECT ',' + QUOTENAME(Id) 
                   FROM FirmConfiguredCustomFields
					Where FirmId=@fid AND ConfigurationType= @confType AND IsActive=1 AND SubConfigurationType=@scid
                    group by Id
                    order by Id
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')

print @cols;


set @Query = 'SELECT * FROM (Select * from (select Id,Value,CustomFieldId from (SELECT	ud.RefId as Id, fcf.SubConfigurationType,
				ud.CustomFieldId, 
				ud.Value, 
				fcf.FieldType
FROM            dbo.FirmInformationDetails AS ud INNER JOIN
                         dbo.FirmConfiguredCustomFields AS fcf ON fcf.FirmId='+@fid
if(@uid!='')
BEGIN
  SET @Query = @Query +' AND ud.RefId IN ('+@uid+')';
END;
SET @Query = @Query +' AND ud.CustomFieldId = fcf.Id INNER JOIN
                         dbo.CustomFields AS cf ON fcf.FieldType = cf.Id INNER JOIN
                         dbo.ConfigurationType AS ct ON ud.ConfType = ct.Id
WHERE        (fcf.ConfigurationType = '+@confType+') AND (cf.IsActive = 1)
) AS X) AS T
pivot(
       MAX(Value) 
       for CustomFieldId in('+@cols+')
) as pvt) AS R ';

IF( @orderBy != '' )
BEGIN
  SET @Query = @Query +' order by '''+@orderBy+'''';
END;
 SET @Query = @Query +';'
print @Query;
execute(@Query);
END;






GO
/****** Object:  StoredProcedure [dbo].[GetUserSpecificInformationDetails]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUserSpecificInformationDetails] 
	-- Add the parameters for the stored procedure here
	@uid varchar(Max),
	@fid varchar(Max),
	@confType varchar(Max),
	@ErrorDescription varchar(Max) Output,
	@ErrorCode bigint Output,
	@Query nvarchar(Max) Output 
AS
BEGIN
DECLARE @cols AS NVARCHAR(MAX),@CSV VARCHAR(MAX);

/*,@query  AS NVARCHAR(MAX),@fid NVARCHAR,@confType NVARCHAR,@uid NVARCHAR,@orderBy NVARCHAR;
SET @orderBy='';
SET @uid=0;
SET @fid=2;
SET @confType=2;*/

SELECT @CSV = COALESCE(@CSV + ', ', '') + CAST(RefIds.Id AS NVARCHAR) from (Select DISTINCT RefId As Id from dbo.FirmInformationDetails AS fid INNER JOIN
								dbo.FirmConfiguredCustomFields AS ccf ON ccf.FirmId=1 
								AND ccf.FieldType IN (18,13)  AND ccf.SubConfigurationType like 'primary%'  AND','+fid.Value+',' LIKE '%,'+@uid+',%') AS RefIds 
print @CSV;

select @cols = STUFF((SELECT ',' + QUOTENAME(Id) 
                   FROM FirmConfiguredCustomFields
					Where FirmId=@fid AND ConfigurationType=@confType AND IsActive=1
                    group by Id
                    order by Id
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')

print @cols;


set @Query = 'SELECT * FROM (Select * from (select Id,Value,CustomFieldId from (SELECT	ud.RefId as Id, fcf.SubConfigurationType,
				ud.CustomFieldId, 
				ud.Value, 
				fcf.FieldType
FROM            dbo.FirmInformationDetails AS ud INNER JOIN
                         dbo.FirmConfiguredCustomFields AS fcf ON fcf.FirmId='+@fid
SET @Query = @Query +' AND ud.CustomFieldId = fcf.Id INNER JOIN
                         dbo.CustomFields AS cf ON fcf.FieldType = cf.Id INNER JOIN
                         dbo.ConfigurationType AS ct ON ud.ConfType = ct.Id

AND ud.RefId IN('+@CSV+')

WHERE        (fcf.ConfigurationType = '+@confType+') AND (cf.IsActive = 1)




) AS X) AS T
pivot(
       MAX(Value) 
       for CustomFieldId in('+@cols+')
) as pvt) AS R ';

/*IF( @orderBy != '' )
BEGIN
  SET @Query = @Query +' order by '''+@orderBy+'''';
END;*/
 SET @Query = @Query +';'
print @Query;
execute(@Query);
END;






GO
/****** Object:  Table [dbo].[CaseTypes]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CaseTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseType] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CaseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConfigurationType]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfigurationType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ConfigurationType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomFields]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Text] [varchar](50) NOT NULL,
	[DefaultValues] [varchar](max) NULL,
	[Formatter] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[AvailableInWorkflow] [bit] NOT NULL,
 CONSTRAINT [PK_CustomFields_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FirmCases]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmCases](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[CaseType] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmCaseTeam]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmCaseTeam](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmConfiguredCustomFields]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmConfiguredCustomFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[Sequence] [int] NOT NULL,
	[ConfigurationType] [bigint] NOT NULL,
	[SubConfigurationType] [nvarchar](max) NULL,
	[FieldType] [bigint] NOT NULL,
	[FieldName] [nvarchar](50) NOT NULL,
	[FieldValues] [nvarchar](max) NULL,
	[IsRequired] [bit] NOT NULL,
	[MinLength] [int] NOT NULL,
	[MaxLength] [int] NOT NULL,
	[IsPositionChangable] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CustomFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmCustomForms]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmCustomForms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FormName] [nvarchar](50) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_FirmCustomForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmDefaultCustomFields]    Script Date: 22-06-2018 13:03:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmDefaultCustomFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sequence] [int] NOT NULL,
	[ConfigurationType] [bigint] NOT NULL,
	[SubConfigurationType] [nvarchar](max) NULL,
	[FieldName] [nvarchar](50) NOT NULL,
	[FieldType] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[MinLength] [int] NOT NULL,
	[MaxLength] [int] NOT NULL,
	[IsPositionChangable] [bit] NOT NULL,
	[DefaultValues] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FirmDefaultCustomFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmEvents]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmEvents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ParentTaskId] [bigint] NOT NULL,
	[DependentTaskIds] [nvarchar](max) NULL,
	[DependantOnTaskIds] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FirmEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmInformationDetails]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmInformationDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RefId] [bigint] NOT NULL,
	[ConfType] [bigint] NOT NULL,
	[CustomFieldId] [bigint] NOT NULL,
	[Value] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_FirmInformationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Firms]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Firms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmCode] [varchar](15) NOT NULL,
	[FirmTitle] [nvarchar](50) NOT NULL,
	[FirmName] [nvarchar](50) NULL,
	[AdminUser] [bigint] NULL,
	[FirmBriefDetails] [nvarchar](100) NULL,
	[FirmDetails] [nvarchar](max) NULL,
	[FirmAddress1] [nvarchar](50) NULL,
	[FirmAddress2] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[FirmContactno] [nchar](15) NULL,
	[FirmContactEmail] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Firms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FirmTasks]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmTasks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ParentTaskId] [bigint] NOT NULL,
	[DependentTaskIds] [nvarchar](max) NULL,
	[DependantOnTaskIds] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FirmTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmUserNotes]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmUserNotes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmUserId] [bigint] NOT NULL,
	[Note] [text] NOT NULL,
	[CaseId] [bigint] NULL,
	[IsSharedWithTeam] [bit] NOT NULL,
 CONSTRAINT [PK_FirmUserNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmUserPermissions]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FirmUserPermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CaseId] [bigint] NULL,
	[Module] [varchar](50) NOT NULL,
	[AccessRight] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FirmUserPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FirmUsers]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FirmUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[IsFirmAdmin] [bit] NOT NULL,
	[IsFirmClient] [bit] NOT NULL,
	[DefaultController] [varchar](50) NOT NULL,
	[DefaultAction] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FirmUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FirmWorkFlowAttachItemDetails]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmWorkFlowAttachItemDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkFlowAttachItemId] [bigint] NOT NULL,
	[ObjectId] [bigint] NOT NULL,
	[PreviousObjectIds] [nvarchar](50) NULL,
	[NextObjctIds] [nvarchar](50) NULL,
	[OutPutObjectIds] [nvarchar](50) NULL,
	[FormId] [bigint] NULL,
	[AssignTo] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[ObjectType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FirmWorkFlowAttachItemDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmWorkFlowAttachItems]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmWorkFlowAttachItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkFlowId] [bigint] NOT NULL,
	[RefId] [bigint] NOT NULL,
	[ConfType] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_FirmWorkFlowAttachItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmWorkflows]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmWorkflows](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkFlowName] [nvarchar](50) NOT NULL,
	[FirmId] [bigint] NOT NULL,
	[WorkflowDetails] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPublished] [bit] NOT NULL,
 CONSTRAINT [PK_FirmWorkflows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FirmWorkingHours]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FirmWorkingHours](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Day] [int] NOT NULL,
	[StartTime] [varchar](10) NOT NULL,
	[EndTime] [varchar](10) NOT NULL,
	[FirmId] [bigint] NOT NULL,
 CONSTRAINT [PK_FirmWorkingHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [char](1) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[MobileNumber] [nchar](15) NULL,
	[EmailAddress] [varchar](50) NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[ModuleFieldInformations]    Script Date: 22-06-2018 13:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [dbo].[ModuleFieldInformations]
AS
SELECT        TOP (100) PERCENT ccf.Id, ccf.FirmId, ccf.Sequence, ccf.ConfigurationType, ccf.SubConfigurationType, ccf.FieldType, ccf.FieldName, ISNULL(ccf.FieldValues, cf.DefaultValues) AS DefaultValues, ccf.IsRequired, ccf.MinLength, 
                         ccf.MaxLength, ccf.IsDefault, cf.Formatter, cf.Url, ccf.IsPositionChangable
FROM            dbo.FirmConfiguredCustomFields AS ccf INNER JOIN
                         dbo.CustomFields AS cf ON ccf.FieldType = cf.Id
WHERE        (ccf.IsActive = 1) AND (cf.IsActive = 1)
ORDER BY ccf.ConfigurationType, ccf.Sequence

GO
ALTER TABLE [dbo].[CustomFields] ADD  CONSTRAINT [DF_CustomFields_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomFields] ADD  CONSTRAINT [DF_CustomFields_AvailableInWorkflow]  DEFAULT ((1)) FOR [AvailableInWorkflow]
GO
ALTER TABLE [dbo].[FirmCases] ADD  CONSTRAINT [DF_FirmCases_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmCaseTeam] ADD  CONSTRAINT [DF_FirmCaseTeam_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] ADD  CONSTRAINT [DF_FirmConfiguredCustomFields_IspositionChangable]  DEFAULT ((1)) FOR [IsPositionChangable]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] ADD  CONSTRAINT [DF_FirmConfiguredCustomFields_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] ADD  CONSTRAINT [DF_FirmConfiguredCustomFields_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmCustomForms] ADD  CONSTRAINT [DF_FirmCustomForms_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmDefaultCustomFields] ADD  CONSTRAINT [DF_FirmDefaultCustomFields_IsPositionChangable]  DEFAULT ((1)) FOR [IsPositionChangable]
GO
ALTER TABLE [dbo].[FirmDefaultCustomFields] ADD  CONSTRAINT [DF_FirmDefaultCustomFields_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmEvents] ADD  CONSTRAINT [DF_FirmEvents_ParentTaskId]  DEFAULT ((0)) FOR [ParentTaskId]
GO
ALTER TABLE [dbo].[FirmEvents] ADD  CONSTRAINT [DF_FirmEvents_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Firms] ADD  CONSTRAINT [DF_Firms_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmTasks] ADD  CONSTRAINT [DF_FirmTasks_ParentTaskId]  DEFAULT ((0)) FOR [ParentTaskId]
GO
ALTER TABLE [dbo].[FirmTasks] ADD  CONSTRAINT [DF_FirmTasks_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmUserNotes] ADD  CONSTRAINT [DF_Table_1_IsShared]  DEFAULT ((0)) FOR [IsSharedWithTeam]
GO
ALTER TABLE [dbo].[FirmUsers] ADD  CONSTRAINT [DF_FirmUsers_IsAFirmAdmin]  DEFAULT ((0)) FOR [IsFirmAdmin]
GO
ALTER TABLE [dbo].[FirmUsers] ADD  CONSTRAINT [DF_FirmUsers_IsFirmClient]  DEFAULT ((0)) FOR [IsFirmClient]
GO
ALTER TABLE [dbo].[FirmUsers] ADD  CONSTRAINT [DF_FirmUsers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] ADD  CONSTRAINT [DF_FirmWorkFlowAttachItems_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] ADD  CONSTRAINT [DF_FirmWorkFlowAttachItems_IsPublished]  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FirmCases]  WITH CHECK ADD  CONSTRAINT [FK_Cases_Firms] FOREIGN KEY([FirmId])
REFERENCES [dbo].[Firms] ([Id])
GO
ALTER TABLE [dbo].[FirmCases] CHECK CONSTRAINT [FK_Cases_Firms]
GO
ALTER TABLE [dbo].[FirmCases]  WITH CHECK ADD  CONSTRAINT [FK_FirmCases_CaseTypes] FOREIGN KEY([CaseType])
REFERENCES [dbo].[CaseTypes] ([Id])
GO
ALTER TABLE [dbo].[FirmCases] CHECK CONSTRAINT [FK_FirmCases_CaseTypes]
GO
ALTER TABLE [dbo].[FirmCaseTeam]  WITH CHECK ADD  CONSTRAINT [FK_FirmCaseTeam_FirmCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[FirmCases] ([Id])
GO
ALTER TABLE [dbo].[FirmCaseTeam] CHECK CONSTRAINT [FK_FirmCaseTeam_FirmCases]
GO
ALTER TABLE [dbo].[FirmCaseTeam]  WITH CHECK ADD  CONSTRAINT [FK_FirmCaseTeam_FirmUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[FirmUsers] ([Id])
GO
ALTER TABLE [dbo].[FirmCaseTeam] CHECK CONSTRAINT [FK_FirmCaseTeam_FirmUsers]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields]  WITH CHECK ADD  CONSTRAINT [FK_FirmConfiguredCustomFields_ConfigurationType] FOREIGN KEY([ConfigurationType])
REFERENCES [dbo].[ConfigurationType] ([Id])
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] CHECK CONSTRAINT [FK_FirmConfiguredCustomFields_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields]  WITH CHECK ADD  CONSTRAINT [FK_FirmConfiguredCustomFields_CustomFields] FOREIGN KEY([FieldType])
REFERENCES [dbo].[CustomFields] ([Id])
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] CHECK CONSTRAINT [FK_FirmConfiguredCustomFields_CustomFields]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields]  WITH CHECK ADD  CONSTRAINT [FK_FirmConfiguredCustomFields_Firms] FOREIGN KEY([FirmId])
REFERENCES [dbo].[Firms] ([Id])
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] CHECK CONSTRAINT [FK_FirmConfiguredCustomFields_Firms]
GO
ALTER TABLE [dbo].[FirmDefaultCustomFields]  WITH CHECK ADD  CONSTRAINT [FK_FirmDefaultCustomFields_ConfigurationType] FOREIGN KEY([ConfigurationType])
REFERENCES [dbo].[ConfigurationType] ([Id])
GO
ALTER TABLE [dbo].[FirmDefaultCustomFields] CHECK CONSTRAINT [FK_FirmDefaultCustomFields_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmEvents]  WITH CHECK ADD  CONSTRAINT [FK_FirmEvents_FirmUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[FirmUsers] ([Id])
GO
ALTER TABLE [dbo].[FirmEvents] CHECK CONSTRAINT [FK_FirmEvents_FirmUsers]
GO
ALTER TABLE [dbo].[FirmInformationDetails]  WITH CHECK ADD  CONSTRAINT [FK_FirmInformationDetails_ConfigurationType] FOREIGN KEY([ConfType])
REFERENCES [dbo].[ConfigurationType] ([Id])
GO
ALTER TABLE [dbo].[FirmInformationDetails] CHECK CONSTRAINT [FK_FirmInformationDetails_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmTasks]  WITH CHECK ADD  CONSTRAINT [FK_FirmTasks_FirmUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[FirmUsers] ([Id])
GO
ALTER TABLE [dbo].[FirmTasks] CHECK CONSTRAINT [FK_FirmTasks_FirmUsers]
GO
ALTER TABLE [dbo].[FirmUserNotes]  WITH CHECK ADD  CONSTRAINT [FK_FirmUserNotes_Cases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[FirmCases] ([Id])
GO
ALTER TABLE [dbo].[FirmUserNotes] CHECK CONSTRAINT [FK_FirmUserNotes_Cases]
GO
ALTER TABLE [dbo].[FirmUserNotes]  WITH CHECK ADD  CONSTRAINT [FK_FirmUserNotes_FirmUsers] FOREIGN KEY([FirmUserId])
REFERENCES [dbo].[FirmUsers] ([Id])
GO
ALTER TABLE [dbo].[FirmUserNotes] CHECK CONSTRAINT [FK_FirmUserNotes_FirmUsers]
GO
ALTER TABLE [dbo].[FirmUserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_FirmUserPermissions_FirmCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[FirmCases] ([Id])
GO
ALTER TABLE [dbo].[FirmUserPermissions] CHECK CONSTRAINT [FK_FirmUserPermissions_FirmCases]
GO
ALTER TABLE [dbo].[FirmUserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_FirmUserPermissions_FirmUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[FirmUsers] ([Id])
GO
ALTER TABLE [dbo].[FirmUserPermissions] CHECK CONSTRAINT [FK_FirmUserPermissions_FirmUsers]
GO
ALTER TABLE [dbo].[FirmUsers]  WITH CHECK ADD  CONSTRAINT [FK_FirmUsers_Firms] FOREIGN KEY([FirmId])
REFERENCES [dbo].[Firms] ([Id])
GO
ALTER TABLE [dbo].[FirmUsers] CHECK CONSTRAINT [FK_FirmUsers_Firms]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems]  WITH CHECK ADD  CONSTRAINT [FK_FirmWorkFlowAttachItems_ConfigurationType] FOREIGN KEY([ConfType])
REFERENCES [dbo].[ConfigurationType] ([Id])
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] CHECK CONSTRAINT [FK_FirmWorkFlowAttachItems_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems]  WITH CHECK ADD  CONSTRAINT [FK_FirmWorkFlowAttachItems_FirmWorkflows] FOREIGN KEY([WorkFlowId])
REFERENCES [dbo].[FirmWorkflows] ([Id])
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] CHECK CONSTRAINT [FK_FirmWorkFlowAttachItems_FirmWorkflows]
GO
ALTER TABLE [dbo].[FirmWorkingHours]  WITH CHECK ADD  CONSTRAINT [FK_FirmWorkingHours_Firms] FOREIGN KEY([FirmId])
REFERENCES [dbo].[Firms] ([Id])
GO
ALTER TABLE [dbo].[FirmWorkingHours] CHECK CONSTRAINT [FK_FirmWorkingHours_Firms]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[38] 4[25] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ccf"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 263
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 6
         End
         Begin Table = "cf"
            Begin Extent = 
               Top = 6
               Left = 285
               Bottom = 244
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 16
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ModuleFieldInformations'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ModuleFieldInformations'
GO
