USE [LawPractice]
GO
ALTER TABLE [dbo].[FirmWorkingHours] DROP CONSTRAINT [FK_FirmWorkingHours_Firms]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] DROP CONSTRAINT [FK_FirmWorkFlowAttachItems_FirmWorkflows]
GO
ALTER TABLE [dbo].[FirmWorkFlowAttachItems] DROP CONSTRAINT [FK_FirmWorkFlowAttachItems_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmUsers] DROP CONSTRAINT [FK_FirmUsers_Firms]
GO
ALTER TABLE [dbo].[FirmUserPermissions] DROP CONSTRAINT [FK_FirmUserPermissions_FirmUsers]
GO
ALTER TABLE [dbo].[FirmUserPermissions] DROP CONSTRAINT [FK_FirmUserPermissions_FirmCases]
GO
ALTER TABLE [dbo].[FirmUserNotes] DROP CONSTRAINT [FK_FirmUserNotes_FirmUsers]
GO
ALTER TABLE [dbo].[FirmUserNotes] DROP CONSTRAINT [FK_FirmUserNotes_Cases]
GO
ALTER TABLE [dbo].[FirmTasks] DROP CONSTRAINT [FK_FirmTasks_FirmUsers]
GO
ALTER TABLE [dbo].[FirmInformationDetails] DROP CONSTRAINT [FK_FirmInformationDetails_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmEvents] DROP CONSTRAINT [FK_FirmEvents_FirmUsers]
GO
ALTER TABLE [dbo].[FirmDefaultCustomFields] DROP CONSTRAINT [FK_FirmDefaultCustomFields_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] DROP CONSTRAINT [FK_FirmConfiguredCustomFields_Firms]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] DROP CONSTRAINT [FK_FirmConfiguredCustomFields_CustomFields]
GO
ALTER TABLE [dbo].[FirmConfiguredCustomFields] DROP CONSTRAINT [FK_FirmConfiguredCustomFields_ConfigurationType]
GO
ALTER TABLE [dbo].[FirmCaseTeam] DROP CONSTRAINT [FK_FirmCaseTeam_FirmUsers]
GO
ALTER TABLE [dbo].[FirmCaseTeam] DROP CONSTRAINT [FK_FirmCaseTeam_FirmCases]
GO
ALTER TABLE [dbo].[FirmCases] DROP CONSTRAINT [FK_FirmCases_CaseTypes]
GO
ALTER TABLE [dbo].[FirmCases] DROP CONSTRAINT [FK_Cases_Firms]
GO
/****** Object:  View [dbo].[ModuleFieldInformations]    Script Date: 22-06-2018 13:04:07 ******/
DROP VIEW [dbo].[ModuleFieldInformations]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[FirmWorkingHours]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmWorkingHours]
GO
/****** Object:  Table [dbo].[FirmWorkflows]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmWorkflows]
GO
/****** Object:  Table [dbo].[FirmWorkFlowAttachItems]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmWorkFlowAttachItems]
GO
/****** Object:  Table [dbo].[FirmWorkFlowAttachItemDetails]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmWorkFlowAttachItemDetails]
GO
/****** Object:  Table [dbo].[FirmUsers]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmUsers]
GO
/****** Object:  Table [dbo].[FirmUserPermissions]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmUserPermissions]
GO
/****** Object:  Table [dbo].[FirmUserNotes]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmUserNotes]
GO
/****** Object:  Table [dbo].[FirmTasks]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmTasks]
GO
/****** Object:  Table [dbo].[Firms]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[Firms]
GO
/****** Object:  Table [dbo].[FirmInformationDetails]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmInformationDetails]
GO
/****** Object:  Table [dbo].[FirmEvents]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmEvents]
GO
/****** Object:  Table [dbo].[FirmDefaultCustomFields]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmDefaultCustomFields]
GO
/****** Object:  Table [dbo].[FirmCustomForms]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmCustomForms]
GO
/****** Object:  Table [dbo].[FirmConfiguredCustomFields]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmConfiguredCustomFields]
GO
/****** Object:  Table [dbo].[FirmCaseTeam]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmCaseTeam]
GO
/****** Object:  Table [dbo].[FirmCases]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[FirmCases]
GO
/****** Object:  Table [dbo].[CustomFields]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[CustomFields]
GO
/****** Object:  Table [dbo].[ConfigurationType]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[ConfigurationType]
GO
/****** Object:  Table [dbo].[CaseTypes]    Script Date: 22-06-2018 13:04:07 ******/
DROP TABLE [dbo].[CaseTypes]
GO
/****** Object:  StoredProcedure [dbo].[GetUserSpecificInformationDetails]    Script Date: 22-06-2018 13:04:07 ******/
DROP PROCEDURE [dbo].[GetUserSpecificInformationDetails]
GO
/****** Object:  StoredProcedure [dbo].[GetInformationDetailsBySubConfiguration]    Script Date: 22-06-2018 13:04:07 ******/
DROP PROCEDURE [dbo].[GetInformationDetailsBySubConfiguration]
GO
/****** Object:  StoredProcedure [dbo].[GetInformationDetails]    Script Date: 22-06-2018 13:04:07 ******/
DROP PROCEDURE [dbo].[GetInformationDetails]
GO
