
@{
    Layout = null;
}

<h2>Sucess</h2>
<script src="~/assets/js/jquery-2.1.3.min.js"></script>
<script>
    $(document).ready(function () {
        var fcode = localStorage.getItem("FirmCode");
        alert("Document signed successfully");
        window.location = encodeURI("/" + fcode + "/azure/directorylist/0");
    });
</script>


