
@{
    ViewBag.Title = "Sucess";
}

<div style="text-align:center"><img src="/NewDesign/images/logo.png" alt="MyKase"></img></div><br/><br/>
<h2 style="text-align:center;margin-top:150px;;font-size:17px;">Document has been signed succssfully.Please <span  style="color:#069;cursor:pointer;" onclick="redirect()">click here </span>to go back.</h2>
<script>
    function redirect() {
        var fcode = localStorage.getItem("FirmCode");
        window.location.href = encodeURI("/" + fcode+"/Azure/DigitalSignature");
    }
    </script>
