
@{
    ViewBag.Title = "Matter";
    Layout = "~/Areas/Firm/Views/Shared/_FirmLayout.cshtml";
}



<script>
    var configurationtype = 2;
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/AddNew.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> Case Details
            </h3>
        </div>
    </div>
    <div class="form-section">

        <div id="divCFields" style="border:0 solid grey;padding:25px 0px;min-height:1px;">

        </div>
    </div>
    <div class="form-section">
        <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: unset;">
            <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button>
            <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
        </nav>
    </div>
</div>
@*<div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> Matter Details
            </h3>
        </div>
    </div>
    <div class="form-section noVerticalPadding">
        <div class="col-lg-6 col-md-6 col-sm-6 parentdiv" style="border-right:1px solid grey">
            <div class="h5"><label for="txtId">Case ID</label>:<span id="txtId" value="@ViewBag.Id" class="borderless" /></div>
            <div class="h5"><label for="txtTitle">Case Title</label>:<input type="text" id="txtTitle" value="Animesh" class="borderless" readonly="readonly" /></div>
            <div class="h5"><label for="txtDescription">Description</label>:<input type="text" id="txtDescription" value="Animesh" class="borderless" readonly="readonly" /></div>
            <div class="h5"><label for="txtStartDate">Start Date</label>:<input type="date" id="txtStartDate" value="" class="borderless" readonly="readonly" /></div>
            <div class="h5"><label for="txtUpdateDate">Last Update Date</label>:<input type="datetime-local" id="txtUpdateDate" value="" class="borderless" readonly="readonly" /></div>
            <div class="h5"><label for="txtClientName">Client Name</label>:<input type="text" id="txtClientName" value="Animesh" class="borderless" readonly="readonly" /></div>
            <div class="h5"><label for="txtClientEmail">Client Email</label>:<input type="email" id="txtClientEmail" value="Animesh" class="borderless" readonly="readonly" /></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 parentdiv" style="padding-left:1%;">
            <h3>Team Members</h3>
            <div class="col-lg-12 col-md-12 col-sm-12 childdiv">
                <div style="height:500px;"></div>
            </div>
            <h3>Documents</h3>
            <div class="col-lg-12 col-md-12 col-sm-12 childdiv">
                <div style="height:500px;"></div>
            </div>
            <h3>Activities</h3>
            <div class="col-lg-12 col-md-12 col-sm-12 childdiv">
                <div style="height:500px;"></div>
            </div>
        </div>

    </div>*@