@{
    ViewBag.Title = "MyCases";
    Layout = "~/Areas/Firm/Views/Shared/_FirmLayout.cshtml";
}
<script>
    var configurationtype = 2;
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/Cases.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> Users
            </h3>
        </div>
    </div>
    <div class="form-section">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table id="grvList" class="grvList table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                    <tr class="info"></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>