
@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }


}
<script>
    var filesize=@ViewBag.filesize
    var totpagesize=@ViewBag.pagesize;
</script>

<i class="pp-icon-user"></i>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #searchdata {
        border-box: box-sizing;
        /*//  background-image: url('searchicon.png');*/
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    table {
        background: transparent;
    }

        table th {
            color: #000;
            font-weight: normal;
        }

        table.dataTable {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }
</style>

<aside class="right-side">
    <section class="content-header">

        <!-- Content Header (Page header) -->

        <ol class="breadcrumb">
            @if (role.ToString() == "1")
            {
                <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            else if (role.ToString() == "2")
            {
                <li><a href="/@Session["firmcode"]/employee/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            <li class="active"> Assigned Notice  List</li>
        </ol>

        <h1><span class="glyphicon glyphicon-list-alt"></span> Assigned Notice </h1>


    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="margin-top:5px">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp">
                            <li>
                                <btn type="button" class="btn btn-primary" id="linknotice" title="Create Notice"><i class="glyphicon glyphicon-plus-sign"></i> Notice</btn>
                            </li>
                           


                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <!-- /.panel-heading -->




                <script>
            @*var type = '@ViewBag.type'
            //console.log(type);*@
                </script>


                <script src="~/Scripts/Firm/Pages/AssignedNotice.js" type="text/javascript"></script>
                <script src="~/Manupanel/ckeditor/ckeditor.js"></script>
                <script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
                <script src="~/Content/multipleselect/selectize.js"></script>
                <script src="~/Content/multipleselect/index.js"></script>


                <script src="~/CssJsfiles/js/jquery-1.12.4.js"></script>
                <script src="~/CssJsfiles/js/jquery-ui.js"></script>

                <script type="text/javascript">
                    var tableToExcel = (function () {
                        var uri = 'data:application/vnd.ms-excel;base64,'
                            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                        return function (table, name) {
                            if (!table.nodeType) table = document.getElementById(table)
                            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                            window.location.href = uri + base64(format(template, ctx))
                        }
                    })()
                </script>


                <table class="dataTable table" style=" border:0;background:#5c5c5c !important; "><tbody><tr><th align="left" width="52%"> <span style="font-weight: normal;color:white;font-weight:bold">Notice Subject</span></th><th width="20%" align="left"><span style="font-weight: normal;color:white;font-weight:bold">Created By</span></th><th width="5%" align="left"><span class="read125" style="font-weight: normal;"></span></th><th width="20%" align="left"> <span style="font-weight: normal; color:white;font-weight:bold; float:left;">Date</span> <i data-type="accordion-ordering" ordering="desc" id="sortdesc" style="display:none;cursor:pointer; float:left; color:#fff; padding:0 0 0 5px;"></i> <i data-type="accordion-ordering" ordering="asc" id="sortasc" style="cursor:pointer; float:left; color:#fff; padding:0 0 0 5px;"></i></th></tr></tbody></table>



                <div id="accordion" class="accordsearch">

                </div>

                <div id="updatePanelnotice" style="overflow-x:auto;">

                </div>

                <div><center><span id="datastatus"></span></center></div>

                <div id="tfooter">

                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right"></ul>
                </div>

</aside>

<div id="myModal5" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content mymodels5" id="mymodels5">


        </div>

    </div>
</div>


<script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>




<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("example");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>

<br />



<div id="myOverlay" class="overlay">
    @*//<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>*@
    <div class="overlay-content">
      		<div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.7);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<script>


    (function ($) {
        $.fn.accordion = function (duration) {
            if (duration == null)
                duration = 200;

            this.find("[data-type='accordion-section']").each(function () {
                $(this).removeClass("header-active");
                //$(this).attr("draggable", "true");
                var content = $(this).find("[data-type='accordion-section-body']");
                var title = $(this).find("[data-type='accordion-section-title']");
                title.addClass("header-default");
                content.addClass("content-default");
                $(this).removeClass("header-active");
                //title.append("<i class='fa fa-plus-circle right'></i>")
                title.click(function () {
                    if (content.css("display") == "none") {
                        $("[data-type='accordion-section-title']").each(function () {
                            $(this).removeClass("header-active");
                            //$(this).find("i").removeClass("fa-minus-circle");
                            //$(this).find("i").addClass("fa-plus-circle");
                        });
                        $(this).addClass("header-active");
                        $("[data-type='accordion-section-body']").each(function () {
                            $(this).hide(duration);
                        });
                        content.show(duration);
                        //title.find("i").addClass("fa-minus-circle");
                        //title.find("i").removeClass("fa-plus-circle");
                    } else {
                        content.hide(duration);
                        title.removeClass("header-active");
                        //title.find("i").removeClass("fa-minus-circle");
                        //title.find("i").addClass("fa-plus-circle");
                    }
                });
            });


            /**/
            $("[data-type='accordion-ordering']").each(function () {
                var ordering = $(this).attr("ordering");
                if (ordering == "")
                    ordering = "asc";
                if (ordering == "asc") {
                    $(this).append("<i class='glyphicon glyphicon-sort'></i>");

                } else {
                    $(this).append("<i class='glyphicon glyphicon-sort'></i>");
                }
                $(this).click(function () {
                    if (ordering == "asc") {
                        $("#sortasc").css("display", "none");
                        $("#sortdesc").css("display", "block");

                    } else {
                        $("#sortasc").css("display", "block");
                        $("#sortdesc").css("display", "none");

                    }

                    var sections = $("[data-type='accordion-section']");
                    for (i = 0; i < sections.length; i++) {
                        for (x = 0; x < sections.length; x++) {
                            var str1 = sections.eq(x).find("[data-type='accordion-section-date']").children("span").attr("name");
                            var str2 = sections.eq(x + 1).find("[data-type='accordion-section-date']").children("span").attr("name");
                            if (ordering == "desc") {
                                if (str2 > str1) {
                                    sections.eq(x).before(sections.eq(x + 1));
                                }
                            } else {
                                if (str2 < str1) {
                                    sections.eq(x).before(sections.eq(x + 1));
                                }
                            }
                            sections = $("[data-type='accordion-section']");
                        }
                    }
                });
            });

            return this;
        };
    })(jQuery);
</script>