@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    var userid = "@userid";
     var roleid = "@role";
</script>
<style>
    #myInput {
        border-box: box-sizing !important;
        background-repeat: no-repeat !important;
        border-bottom: 1px solid #ddd !important;
        width: 280px;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    #childtbltr1 table thead tr.childtbltr1cls th.childtbltsssr1cls {
        background-color: #fff0f5 !important;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    .menucursor {
        cursor: pointer !important;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <h2 class="title" id="txtfiltername">Notice List |</h2>
        <div class="table-panel table-responsive" style="padding:10px 0 0 0; overflow-x:auto;" data-example-id="hoverable-table">
            <div style="overflow-x:scroll;">
                <table id="example" class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th class="noticeby" data-column="SendersName">
                                <div class="thbg">
                                    <div style="float:left;width:80%">
                                        <input type="text" id="noticebyIds" placeholder="Notice From" class="form-control pull-left" style="width:100px;">
                                    </div>
                                    <div style="float:left;width:20%">
                                        <span class="glyphicon glyphicon-search" id="searchdatas"></span>
                                        <span class="glyphicon glyphicon-remove" id="clearnewsearchforsender" title="Click here to reset search" style="display:none;"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="noticeto" data-column="AddressedTo">Notice To </th>
                            <th class="noticesubject" data-column="NoticeSubject">
                                <div class="thbg">
                                    <div style="float:left;width:80%">
                                        <input type="text" id="noticeSubjects" placeholder="Notice Subject" class="form-control pull-left" style="width:100px;">
                                    </div>
                                    <div style="float:left;width:20%">
                                        <span class="glyphicon glyphicon-search" id="searchdatassub"></span>
                                        <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendersub" title="Click here to reset search" style="display:none;"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="noticetitle" data-column="NoticeTitle">
                                <div class="thbg">
                                    <div style="float:left;width:80%">
                                        <input type="text" id="noticeTitless" placeholder="Notice Title" class="form-control pull-left" style="width:100px;">
                                    </div>
                                    <div style="float:left;width:20%">
                                        <span class="glyphicon glyphicon-search" id="searchdatatitl"></span>
                                        <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendertitl" title="Click here to reset search" style="display:none;"></span>
                                    </div>
                                </div>
                            </th>
                            <th class="criticality" data-column="Criticality">Criticality </th>
                            <th class="statutory" data-column="NoticeType">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" name="ddlnoticetypess" id="ddlnoticetypess">
                                        <option value="" selected>  Notice Type </option>
                                        <option value="Statutory">Statutory</option>
                                        <option value="Non-Statutory">Non-Statutory</option>
                                    </select>
                                </div>
                            </th>
                            <th class="noticedate" data-column="DateofNotice">Notice Date </th>
                            <th class="pending" data-column="CaseStatus">Notice Status </th>
                            <th class="dispatched" data-column="DateofDelivery">Date Of Delivery </th>
                            <th class="servedon" data-column="DateofReceipt">Date Of Reciept </th>
                            <th class="remark" data-column="CreateNotice">Remarks </th>
                            <th class="amountclaimed" data-column="AmountClaimed">Amount Claimed </th>
                            <th class="actualclosedate" data-column="ActualDateOfClosure">Actual Date Of Closuree </th>
                            <th class="managerapprove">
                                <div class="form-group">
                                    <select class="form-control form-control-sm" name="notistatustype" id="notistatustype">
                                        <option value="" selected>User Approval Status </option>
                                        <option value="Draft">Draft</option>
                                        <option value="Sent">Pending</option>
                                        <option value="FinalApproved">Final Approved</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </div>
                            </th>
                            <th class="modeofserviceordelivery" data-column="ModeofServiceorDelivery">Mode of Service/Delivery </th>
                            <th class="tatsetforassignee" data-column="GenerationofAlerts">Generation of Alerts </th>
                            <th class="addressaddress" data-column="AddresseeAddress">Addressee Address </th>
                            <th class="otherdetailsofaddress" data-column="OtherDetailsofAddressee">Other Details of Addressee </th>
                            <th class="addressto" data-column="AddressedTo">Addressed To </th>
                            <th class="sendersname" data-column="SendersName">Sender's Name</th>
                            <th class="senderaddress" data-column="SendersAddress">Sender's Address </th>
                            <th class="otherdetailsofaddressofsender" data-column="OtherDetailsofSender">Other Details of Sender </th>
                            <th class="noticethrough" data-column="NoticeThrough">Notice Through </th>
                            <th class="assignmentoftast" data-column="AssignmentofTask">Assignment of Task </th>
                            <th class="currentstatus" data-column="CurrentStatus">Current Status</th>
                            <th class="noticecreatedon" data-column="NoticeCreatedOn">Notice Created On </th>
                            <th class="attachment">Attachment</th>
                        </tr>
                    </thead>
                    <tbody id="tablevalue"></tbody>
                </table>
                <center> <div id="nonotice"> </div></center>
            </div>
        </div>
        <div class="table-panel">
            <div class="settingpanel">
                <div class="col-md-6" id="footer-data">
                    <div style="float: left;padding: 0 10px 0 0;">
                        <ul>
                            <li>
                                <div class="btn-group dropup">
                                    <a href="javascript:void()" class="dropdown-toggle selctInputFormat" style="background-color: #ebebeb !important; margin-top: -5px !important;
" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                        customize field
                                    </a>
                                    <ul class="dropdown-menu settingshowhide" id="od" style="width:250px">
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"><a>Amount Claimed</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="actualclosedate"><a>Actual Date Of Closuree</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality" checked><a>Criticality</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked><a>Notice From</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked><a>Notice To</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject" checked><a>Notice Subject</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a>Notice Title</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory" checked><a>Statutory/ Non Statutory</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked><a>Notice Date</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="pending"><a>Notice Status</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"><a>Date Of Delivery</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a>Remarks</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="managerapprove" checked><a>User Approval Status</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon"><a>Date Of Reciept</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"><a>Mode of Service/Delivery</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="tatsetforassignee"><a>Generation of Alerts</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress"><a>Addressee Address</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress"><a>Other Details of Addressee</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressto"><a>Addressed To</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="sendersname"><a>Sender's Name</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress"><a>Sender's Address</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"><a>Other Details of Sender</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough"><a>Notice Through</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="assignmentoftast"><a>Assignment of Task</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="currentstatus"><a>Current Status</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticecreatedon"><a>Notice Created On</a></li>
                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment"><a>Attachments</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="noticetbldashboardfooter">
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="pull-right">
                        @if (role.ToString() == "1")
                        {
                            <li><a href="/@Session["firmcode"]/NoticeNew/CreateNewNotice" class="sbtbtn" title="Create New Notice">New Notice</a> </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Notice</h3>
            </div>
            <div class="ec_bg">
                <h4>Are you sure you want to Remove this Notice?</h4>
            </div>
            <div class="modal-footer" style="border-top: none !important;">
                <a href="#" class="sbtbtn" data-dismiss="modal">Cancel</a>
                <a href="#" class="sbtbtn" onclick="DeleteNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="height:350px;overflow-y: scroll;">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Notice Sent On</th>
                            <th>Status</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AssignModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Send For Approval</h3>
            </div>
            <div class="modal-body" style="height:200px;">
                <div class="ec_bg">
                    <div>
                        <label>Send to manager</label>
                        <input type="radio" name="assignee" value="manager" class="assignto" />
                        <label>Send to client</label>
                        <input type="radio" name="assignee" value="client" class="assignto" />
                    </div>
                    <div>
                        <select id="bindusr" class="form-control selctInputFormat"
                                style="background-color: white !important; margin-top: 10px !important;"></select>
                    </div>
                    <br />
                    <button type="button" id="assignnoticebtn" class="sbtbtn  pull-right" value="Send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="FinalStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Final Status</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Date of Delivery</label>
                                <input type="date" class="form-control" id="dateofddel" />
                            </div>
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Date of Receipt (Proof)</label>
                                <input type="date" class="form-control" id="txtdateofreceipt" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Current Status</label>
                                <textarea type="text" id="currentstatus" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <label>Upload Files</label>
                                <input type="file" class="form-control" id="postedFile" multiple />
                            </div>
                        </div>
                        <br />
                        <button type="button" id="savefinalstatus" class="sbtbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReceivedReplyModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Received Reply</h3>
            </div>
            <div class="modal-body" style="height:250px;">
                <form class="ec_bg">
                    <input type="hidden" value="" id="hiddenreplynoticeid" />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label class="formLabel coloDark">Reply Received Date</label>
                            <input type="date" class="form-control inputFormat" id="txtreplyreciveddate" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label class="formLabel coloDark">Reply Received Through</label>
                            <textarea class="form-control inputFormat" id="txtreplyrecivedthrough"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label class="formLabel coloDark">Received Attachment</label>
                            <input type="file" class="form-control inputFormat" id="replypostedFile" multiple />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label class="formLabel coloDark">Set reply date</label>
                            <input type="date" class="form-control inputFormat" id="txtsetreplydate" />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:20px;">
                        <button type="button" id="savereplytonotice" class="sbtbtn pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ActualclosurModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Closure</h3>
            </div>
            <div class="ec_bg" style="height:135px;">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <span style="color:red">*</span><label class="formLabel colorDark">Actual Date of Closure</label>
                        <input type="date" class="form-control inputFormat" id="dateofclosure" />
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                    <button type="button" id="saveclosuedate" class="sbtbtn pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Notice/filter.js?2.6"></script>