@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<style>
    .status_badge {
        max-width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;
        /* border: 1px solid #ccc; */
        padding: 3px 8px;
        border-radius: 7px;
        background: #f5f5f5d4;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

        .status_badge span {
            display: block;
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

    .active1 {
        background: green;
    }

    .Settled {
        background: grey;
    }

    .Convertedmatter {
        background: red;
    }

    .InActive {
        background: orange;
    }

    .low {
        background: green;
    }

    .medium {
        background: grey;
    }

    .high {
        background: red;
    }

    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 300px !important;
    }

    #myInput {
        border-box: box-sizing !important;
        background-repeat: no-repeat !important;
        font-size: 11px !important;
        padding: 14px 15px 15px 11px !important;
        /* border: none !important; */
        border-bottom: 1px solid #ddd !important;
        width: 100%;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    .tblreplyclass thead tr th {
        background-color: #ffffff !important;
    }

    #tblincmingnotice {
        margin: 6px 0;
        padding: 10px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
        border-radius: 10px;
    }

        #tblincmingnotice table {
            width: 100%;
        }

        #tblincmingnotice h2 {
            margin: 0 0 10px 0;
            padding: 2px 7px;
            font-size: 15px;
            border-bottom: 1px solid #e3e3e3;
            color: #145cbf;
        }

    .tblreplyclass tr {
        border-bottom: none;
    }

    .tblreplyclass tbody tr td {
        color: #020202;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 8px !important;
        border: 1px solid #ddd !important;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5faff+0,d6e7ff+100 */
        background: #e5faff; /* Old browsers */
        background: -moz-linear-gradient(top, #e5faff 0%, #d6e7ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e5faff 0%,#d6e7ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e5faff 0%,#d6e7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5faff', endColorstr='#d6e7ff',GradientType=0 ); /* IE6-9 */
    }

    #tblpoitem {
        background: #f1f3f4;
        overflow-x: scroll;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 1285px;
    }

        #tblpoitem h2 {
            margin: 0 0 10px 0;
            padding: 2px 0px;
            font-size: 15px;
            border-bottom: 1px solid #a3a3a3;
        }

        #tblpoitem table {
            background-color: transparent;
        }

            #tblpoitem table th {
                background-color: #747474 !important;
                border-radius: 0;
                font-size: 16px;
                color: #ffffff;
                padding: 4px 8px !important;
                white-space: nowrap;
                border: none !important;
                font-weight: normal;
            }

            #tblpoitem table tbody tr td {
                color: #020202;
                font-size: 14px;
                font-weight: 300;
                padding: 3px 8px !important;
                border-top: none !important;
                background: #fff;
            }

    .glyphicon-chevron-down:before {
        font-size: 11px !important;
        padding: 0px 0 0 6px !important;
        color: #ff6600;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }

    #childtbltr1 {
        background-color: #d0f0c0;
    }

    #trcolhighlighbydate {
        background: #d0f0c0 !important;
    }

        #trcolhighlighbydate td {
            background-color: transparent !important;
        }

    .scroll-sync-top {
        overflow-x: auto;
        overflow-y: hidden;
        height: 16px;
        background-color: transparent;
        display: none;
    }

    .scroll-top-inner {
        height: 1px;
    }

    .table-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

        .table-scroll-wrapper::-webkit-scrollbar {
            display: none;
        }

    .scroll-sync-top::-webkit-scrollbar {
        height: 8px;
    }

    .table-panel th {
        position: sticky;
        top: 0;
        z-index: auto;

        background-color: #fafafa;
        border-bottom: 1px solid #e5e7eb;
        border-top: 1px solid #e5e7eb;
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 0px;
        font-size: 12px;
        color: #717680;
        font-weight: 600;
        white-space: nowrap;
    }

        .table-panel th .thbg {
            position: sticky;
            top: 0;
            background-color: #fafafa;
            z-index: auto;
        }

    .tablecontainer {
        max-height: 600px;
        overflow-y: auto;
        position: relative;
        /*v*/
        z-index: 0;
    }
</style>
<section id="header">
    <div class="container-main">

        <div class="text-left">
            <p class="ctitle"><span id="dynamicnotiheader"></span></p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            <ul class="snav">
                <li id="" class="active"><a href="javascript:void()">Send Notices</a></li>
                <li id="" style=""><a href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList">Received Notices</a></li>
                <li id=""><a href="javascript:void()">Reminders</a></li>
            </ul>
        </div>
        <div class="text-center" id="fincesdiv" style="margin-bottom: 20px !important;">

            <div style="display: flex; align-items: center;">

                <div class="tabs-and-filters" style="width:100%;">
                    <div class="button-group">
                        @*<button class="button-group-base1" onclick="fnclearinput()" style="border-left: none; border-top: none; border-bottom: none; font-weight:600;">All <span id=""></span></button>*@
                        <a class="button-group-base1" href="/@Session["firmcode"]/NoticeNew/NewNoticeList">All <span id="AllNoticeCount"></span></a>
                        <a class="button-group-base2" href="/@Session["firmcode"]/NoticeNew/ArchiveNoticeList">Archived <span id="ArchNoticeCount"></span></a>
                        <a class="button-group-base1 active" href="/@Session["firmcode"]/NoticeNew/NoticeDeleteList">Delete <span id="DelNoticeCount"></span></a>
                        @if (Session["sessionroleid"].ToString() != "1")
                        {
                            <a class="button-group-base1" href="/@Session["firmcode"]/NoticeNew/DraftNotice">Share with me <span id="ShareNoticeCount"></span></a>
                        }
                    </div>
                    <div class="button13 dropup" id="ColumnSelectionopen">
                        <a href="javascript:void()">
                            <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png" /> Customize Field
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div class="scroll-sync-top" aria-hidden="true">
                    <div class="scroll-top-inner"></div>
                </div>
                <div class="tablecontainer table-scroll-wrapper">
                    <div class="table-scroll-inner">
                        <table id="example" class="table-panel">
                            <thead>
                                <tr id="newnoticeheadrow">
                                    <th><div class="thbg">S.No</div></th>
                                    <th class="noticeby">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="noticebyIds" placeholder="Senders Name" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchdatas"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchforsender" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="noticeto"><div class="thbg">Receiver's Name</div></th>
                                    <th class="statutory">
                                        <div class="form-group">
                                            <select class="form-control" name="ddlnoticetypess" id="ddlnoticetypess">
                                                <option value="" selected>Type</option>
                                                <option value="Statutory">Statutory</option>
                                                <option value="Non-Statutory">Non-Statutory</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th class="noticesubject">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="noticeSubjects" placeholder="subject" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchdatassub"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendersub" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="noticetitle">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="noticeTitless" placeholder="Title" class="form-control pull-left" style="width:100px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchdatatitl"></span>
                                                <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendertitl" title="Click here to reset search" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="noticedate"><div class="thbg">Date of Notice</div></th>
                                    <th class="remark"><div class="thbg">Notice Text</div></th>
                                    <th class="noticeduedate"><div class="thbg">Due Date</div></th>
                                    <th class="pending"><div class="thbg">Status</div></th>
                                    <th class="noticeTrackingId"><div class="thbg">Consignment No</div></th>
                                    <th class="CreatedByName"><div class="thbg">Created By</div> </th>
                                    <th class="modeofserviceordelivery"><div class="thbg">Mode of Delivery</div></th>
                                    <th class="criticality"><div class="thbg">Priority</div></th>
                                    <th class="reasonforhighcriticality"><div class="thbg">Reason For High Priority</div></th>
                                    <th class="amountclaimed"><div class="thbg">Amount Claimed</div></th>
                                    <th class="addressaddress"><div class="thbg">Receiver's Address</div></th>
                                    <th class="otherdetailsofaddress"><div class="thbg">Other Details of Receiver</div></th>
                                    <th class="senderaddress"><div class="thbg">Sender's Address</div></th>
                                    <th class="otherdetailsofaddressofsender"><div class="thbg">Other Details of Sender</div></th>
                                    <th class="actualclosedate"><div class="thbg">Status Changed Date</div></th>
                                    <th class="attachment"><div class="thbg">Docs</div></th>
                                    <th class="tags"><div class="thbg">Tags</div></th>
                                    <th class="noticethrough"><div class="thbg">Notice Through/To</div></th>
                                    <th class="Receiverdetails"><div class="thbg">Receiver Details</div></th>
                                    <th class="ReferenceNumber"><div class="thbg">Reference Number</div></th>
                                    <th class="InternalNumber"><div class="thbg">Internal Number</div></th>
                                    <th class="dispatched"><div class="thbg">Date Of Delivery</div></th>
                                    <th class="deliveryDispatch"><div class="thbg">Date Of Dispatch</div></th>
                                </tr>
                            </thead>
                            <tbody id="tablevalue"></tbody>
                        </table>
                        <center> <div id="nonotice"> </div></center>
                    </div>
                </div>
                <div class="pagination" id="pagenatedArea">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>

                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="wrapper">
        <div class="container-main">

            <div class="">
                <div>
                    <div class="table-panel" data-example-id="hoverable-table">
                        <div style="overflow-x:scroll;">

                        </div>
                        <div class="table-panel">
                            <div class="settingpanel">

                                <div class="col-md-6" id="footer-data">
                                            <div style="float: left;padding: 0 10px 0 0;">
                                                <ul>
                                                    <li>
                                                        <div class="btn-group dropup">
                                                            <a href="javascript:void()" class="dropdown-toggle selctInputFormat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #ebebeb !important; margin-top: -5px !important;
            ">
                                                                <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                                                customize field
                                                            </a>
                                                            <ul class="dropdown-menu settingshowhide" id="od" style="width:250px">
                                                                <li data-subject="Amount Claimed"><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"><a>Amount Claimed</a></li>
                                                                <li data-subject="Status changed date"><input type="checkbox" class="shcheckbox1 chkdhide" name="actualclosedate"><a>status changed date</a></li>
                                                                <li data-subject="Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality"><a>Priority</a></li>
                                                                <li data-subject="Reason For High Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="reasonforhighcriticality"><a>Reason For High Priority</a></li>
                                                                <li data-subject="Senders Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked><a>Senders Name</a></li>
                                                                <li data-subject="Receiver's Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked><a>Receiver's Name</a></li>
                                                                <li data-subject="Subject"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject"><a>Subject</a></li>
                                                                <li data-subject="Title"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a>Title</a></li>
                                                                <li data-subject="Type"><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory"><a>Type</a></li>
                                                                <li data-subject="Date of Notice"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked><a>Date of Notice</a></li>
                                                                <li data-subject="Due Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeduedate" checked><a>Due Date</a></li>
                                                                <li data-subject="Status"><input type="checkbox" class="shcheckbox1 chkdhide" name="pending" checked><a>Status</a></li>
                                                                <li data-subject="Notice Text"><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a>Notice Text</a></li>
                                                                <li data-subject="Mode of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"><a>Mode of Delivery</a></li>
                                                                <li data-subject="Receiver's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress"><a>Receiver's Address</a></li>
                                                                <li data-subject="Other Details of Receiver"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress"><a>Other Details of Receiver</a></li>
                                                                <li data-subject="Sender's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress"><a>Sender's Address</a></li>
                                                                <li data-subject="Other Details of Sender"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"><a>Other Details of Sender</a></li>
                                                                <li data-subject="Created By"><input type="checkbox" class="shcheckbox1 chkdhide" name="CreatedByName"><a>Created By</a></li>
                                                                <li data-subject="Docs"><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment" checked><a>docs</a></li>
                                                                <li data-subject="Tags"><input type="checkbox" class="shcheckbox1 chkdhide" name="tags"><a>Tags</a></li>
                                                                <li data-subject="Consignment No"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeTrackingId"><a>Consignment No</a></li>
                                                                <li data-subject="Notice Through/To"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough"><a>Notice Through/To</a></li>
                                                                <li data-subject="Receiver Details"><input type="checkbox" class="shcheckbox1 chkdhide" name="Receiverdetails"><a>Receiver Details</a></li>
                                                                <li data-subject="Reference Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="ReferenceNumber"><a>Reference Number</a></li>
                                                                <li data-subject="Internal Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="InternalNumber"><a>Internal Number</a></li>
                                                                <li data-subject="Date Of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"><a>Date Of Delivery</a></li>
                                                                <li data-subject="Date Of Dispatch"><input type="checkbox" class="shcheckbox1 chkdhide" name="deliveryDispatch"><a>Date Of Dispatch</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="noticetbldashboardfooter">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="pull-right">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
            </div>
        </div>
    </section>*@
<div id="myDocumentModal" class="modal fade myModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" style="width:65%;">
        <div class="modal-content" style="width: 120%;">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">
                    <img src="/newassets/img/notice-icon.png" style="margin:-15px 0px 0 -15px">
                </h4>
            </div>
            <div class="modaltitle" style="border-bottom: none; margin: -45px 0 0 0;">
                <h4>Notice Logs</h4>
            </div>
            <div class="modal-body">
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">Sender Name</div></th>
                            <th><div class="thbg">Receiver Name</div></th>
                            <th><div class="thbg">Notice Shared On</div></th>
                            <th><div class="thbg">User Type</div></th>
                            <th><div class="thbg">Feedback</div></th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Notice/CustomizeFormField.js?1.1"></script>
<script src="~/Scripts/Notice/NoticeDeleteList.js?1.8"></script>
<script src="~/Scripts/Notice/ExportToExcel.js"></script>
<div id="myModalCustomizedcolumn" class="modal right fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modaltitle">
                    <h4><img src="~/newassets/img/customize-icon.png" /> Customise Field</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin:10px 0 0 0;">
                        <ul id="od">
                            <li data-subject="Amount Claimed"><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"> Amount Claimed </li>
                            <li data-subject="Status changed date"><input type="checkbox" class="shcheckbox1 chkdhide" name="actualclosedate"> Status Changed Date </li>
                            <li data-subject="Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality"> Priority </li>
                            <li data-subject="Reason For High Priority"><input type="checkbox" class="shcheckbox1 chkdhide" name="reasonforhighcriticality"> Reason For High Priority </li>
                            <li data-subject="Senders Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked> Senders Name </li>
                            <li data-subject="Receiver's Name"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked> Receiver's Name </li>
                            <li data-subject="Subject"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject"> Subject </li>
                            <li data-subject="Title"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked> Title </li>
                            <li data-subject="Type"><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory"> Type </li>
                            <li data-subject="Date of Notice"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked> Date of Notice </li>
                            <li data-subject="Due Date"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeduedate" checked> Due Date </li>
                            <li data-subject="Status"><input type="checkbox" class="shcheckbox1 chkdhide" name="pending" checked> Status </li>
                            <li data-subject="Notice Text"><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked> Notice Text </li>
                            <li data-subject="Mode of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"> Mode of Delivery </li>
                            <li data-subject="Receiver's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress"> Receiver's Address </li>
                            <li data-subject="Other Details of Receiver"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress"> Other Details of Receiver </li>
                            <li data-subject="Sender's Address"><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress"> Sender's Address </li>
                            <li data-subject="Other Details of Sender"><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"> Other Details of Sender </li>
                            <li data-subject="Created By"><input type="checkbox" class="shcheckbox1 chkdhide" name="CreatedByName"> Created By </li>
                            <li data-subject="Docs"><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment" checked> Docs </li>
                            <li data-subject="Tags"><input type="checkbox" class="shcheckbox1 chkdhide" name="tags"> Tags </li>
                            <li data-subject="Consignment No"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeTrackingId"> Consignment No </li>
                            <li data-subject="Notice Through/To"><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough"> Notice Through/To </li>
                            <li data-subject="Receiver Details"><input type="checkbox" class="shcheckbox1 chkdhide" name="Receiverdetails"> Receiver Details </li>
                            <li data-subject="Reference Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="ReferenceNumber"> Reference Number </li>
                            <li data-subject="Internal Number"><input type="checkbox" class="shcheckbox1 chkdhide" name="InternalNumber"> Internal Number </li>
                            <li data-subject="Date Of Delivery"><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"> Date Of Delivery </li>
                            <li data-subject="Date Of Dispatch"><input type="checkbox" class="shcheckbox1 chkdhide" name="deliveryDispatch"> Date Of Dispatch </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Restore Notice</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to unmark the Notice from deletion list??</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const topScroll = document.querySelector('.scroll-sync-top');
        const topScrollInner = document.querySelector('.scroll-top-inner');
        const tableScroll = document.querySelector('.table-scroll-wrapper');

        function updateScrollBarVisibility() {
            const isScrollNeeded = tableScroll.scrollWidth > tableScroll.clientWidth;
            if (isScrollNeeded) {
                topScroll.style.display = 'block';
                topScrollInner.style.width = tableScroll.scrollWidth + 'px';
            } else {
                topScroll.style.display = 'none';
                topScrollInner.style.width = '0px';
            }
        }

        // Sync scroll positions
        topScroll.addEventListener('scroll', () => {
            tableScroll.scrollLeft = topScroll.scrollLeft;
        });

        tableScroll.addEventListener('scroll', () => {
            topScroll.scrollLeft = tableScroll.scrollLeft;
        });

        // Automatically observe table width changes
        const resizeObserver = new ResizeObserver(() => {
            updateScrollBarVisibility();
        });

        // Watch inner table container
        resizeObserver.observe(tableScroll);

        // Initial check
        updateScrollBarVisibility();
    });
</script>


