@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<style>
    #myInput {
        border-box: box-sizing !important;
        background-repeat: no-repeat !important;
        font-size: 16px !important;
        padding: 14px 20px 12px 45px !important;
        border-bottom: 1px solid #ddd !important;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    #childtbltr1 table thead tr.childtbltr1cls th.childtbltsssr1cls {
        background-color: #fff0f5 !important;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }
</style>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div>
                <p class="ctitle text-center" id="txtfiltername">Scheduled Notice</p>
                <div class="table-panel table-responsive" style="padding:10px 0 0 0; overflow-x:auto;" data-example-id="hoverable-table">
                    <div style="overflow-x:scroll;">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="noticeby" data-column="SendersName" data-order="desc">Client Name &#9650</th>
                                    <th class="noticeto" data-column="AddressedTo" data-order="desc">Notice To &#9650</th>
                                    <th class="noticesubject" data-column="NoticeSubject" data-order="desc">Notice Subject &#9650</th>
                                    <th class="noticetitle" data-column="NoticeTitle" data-order="desc">Notice Title &#9650</th>
                                    <th class="criticality" data-column="Criticality" data-order="desc">Criticality  &#9650</th>
                                    <th class="statutory" data-column="NoticeType" data-order="desc">Notice Type  &#9650</th>
                                    <th class="noticedate" data-column="DateofNotice" data-order="desc">Notice Date &#9650</th>
                                    <th class="pending" data-column="CaseStatus" data-order="desc">Notice Status &#9650</th>
                                    <th class="dispatched" data-column="DateofDelivery" data-order="desc">Date Of Delivery &#9650</th>
                                    <th class="servedon" data-column="DateofReceipt" data-order="desc">Date Of Reciept &#9650</th>
                                    <th class="remark" data-column="CreateNotice" data-order="desc">Remarks &#9650</th>
                                    <th class="amountclaimed" data-column="AmountClaimed" data-order="desc">Amount Claimed  &#9650</th>
                                    <th class="actualclosedate" data-column="ActualDateOfClosure" data-order="desc">Actual Date Of Closuree  &#9650</th>
                                    <th class="managerapprove">Status for Manager/Client</th>
                                    <th class="modeofserviceordelivery" data-column="ModeofServiceorDelivery" data-order="desc">Mode of Service/Delivery &#9650</th>
                                    <th class="tatsetforassignee" data-column="GenerationofAlerts" data-order="desc">Generation of Alerts &#9650</th>
                                    <th class="addressaddress" data-column="AddresseeAddress" data-order="desc">Addressee Address &#9650</th>
                                    <th class="otherdetailsofaddress" data-column="OtherDetailsofAddressee" data-order="desc">Other Details of Addressee &#9650</th>
                                    <th class="addressto" data-column="AddressedTo" data-order="desc">Addressed To &#9650</th>
                                    <th class="sendersname" data-column="SendersName" data-order="desc">Sender's Name &#9650</th>
                                    <th class="senderaddress" data-column="SendersAddress" data-order="desc">Sender's Address &#9650</th>
                                    <th class="otherdetailsofaddressofsender" data-column="OtherDetailsofSender" data-order="desc">Other Details of Sender &#9650</th>
                                    <th class="noticethrough" data-column="NoticeThrough" data-order="desc">Notice Through &#9650</th>
                                    <th class="assignmentoftast" data-column="AssignmentofTask" data-order="desc">Assignment of Task &#9650</th>
                                    <th class="currentstatus" data-column="CurrentStatus" data-order="desc">Current Status &#9650</th>
                                    <th class="noticecreatedon" data-column="NoticeCreatedOn" data-order="desc">Notice Created On &#9650</th>
                                    <th class="attachment">Attachment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tablevalue"></tbody>
                        </table>
                        <center> <div id="nonotice"> </div></center>
                        <div class="table-panel">
                            <div class="row settingpanel">
                                <div class="col-md-6" id="footer-data">
                                    <div style="float: left;padding: 0 10px 0 0;">
                                        <ul>
                                            <li>
                                                <div class="btn-group dropup">
                                                    <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                                        customize field <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </a>
                                                    <ul class="dropdown-menu settingshowhide" id="od" style="width:250px">
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="amountclaimed"><a>Amount Claimed</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="actualclosedate"><a>Actual Date Of Closuree</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="criticality" checked><a>Criticality</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeby" checked><a>Notice By</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticeto" checked><a>Notice To</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject" checked><a>Notice Subject</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a>Notice Title</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory" checked><a>Statutory/ Non Statutory</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked><a>Notice Date</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="pending"><a>Notice Status</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"><a>Date Of Delivery</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a>Remarks</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="managerapprove" checked><a>Status for Manager/Client</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon"><a>Date Of Reciept</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"><a>Mode of Service/Delivery</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="tatsetforassignee"><a>Generation of Alerts</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressaddress"><a>Addressee Address</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddress"><a>Other Details of Addressee</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addressto"><a>Addressed To</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="sendersname"><a>Sender's Name</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="senderaddress"><a>Sender's Address</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressofsender"><a>Other Details of Sender</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticethrough"><a>Notice Through</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="assignmentoftast"><a>Assignment of Task</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="currentstatus"><a>Current Status</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticecreatedon"><a>Notice Created On</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment"><a>Attachments</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="noticetbldashboardfooter">
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding-right:20px">
                                    <ul class="pull-right"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Notice</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Notice?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Notice Sent On</th>
                            <th>Status</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AssignModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Send For Approval</h3>
            </div>
            <div class="modal-body" style="height:150px;">
                <div class="form-group">
                    <div class="form-control">
                        <label>Send to manager</label>
                        <input type="radio" name="assignee" value="manager" class="assignto" />
                        <label>Send to client</label>
                        <input type="radio" name="assignee" value="client" class="assignto" />
                    </div>
                    <div class="form-control">
                        <select id="bindusr" class="form-control"></select>
                    </div>
                    <br />
                    <button type="button" id="assignnoticebtn" class="sbtbtn  pull-right" style="background-color:#007bff" value="Send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="FinalStatusModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Final Status</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Date of Delivery</label>
                                <input type="date" class="form-control" id="dateofddel" />
                            </div>
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Date of Receipt (Proof)</label>
                                <input type="date" class="form-control" id="txtdateofreceipt" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Current Status</label>
                                <textarea type="text" id="currentstatus" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <label>Upload Files</label>
                                <input type="file" class="form-control" id="postedFile" multiple />
                            </div>
                        </div>
                        <br />
                        <button type="button" id="savefinalstatus" class="sbtbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReceivedReplyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Received Reply</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <input type="hidden" value="" id="hiddenreplynoticeid" />
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Reply Received Date</label>
                                <input type="date" class="form-control" id="txtreplyreciveddate" />
                            </div>
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Reply Received Through</label>
                                <textarea class="form-control" id="txtreplyrecivedthrough"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Received Attachment</label>
                                <input type="file" class="form-control" id="replypostedFile" multiple />
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <br />
                        <button type="button" id="savereplytonotice" class="sbtbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ActualclosurModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Closure</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">
                                <span style="color:red">*</span><label>Actual Date of Closure</label>
                                <input type="date" class="form-control" id="dateofclosure" />
                            </div>
                        </div>
                        <br />
                        <button type="button" id="saveclosuedate" class="sbtbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Notice/ScheduleNotice.js"></script>