@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Notice/UpdateBulkNoticeDetails.js"></script>
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/dist/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />

<style>
    .inputFormatTextArea {
        border-radius: 7px !important;
        height: 36px !important;
        margin-top: 0px !important;
        padding: 7px 10px !important;
        border: 1px solid #d5d7da !important;
        background: #ffffff !important;
        width: 100%;
    }

    .form-group {
        height: 70px;
    }

    .upload_btn {
        background: #fff;
        padding: 8px 12px;
        outline: 0 !important;
        border: 1px solid rgba(209, 213, 219, 1);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(65, 70, 81, 1);
        display: inline-block;
        float: right;
        margin: -40px 0 0 0;
        cursor: pointer;
    }
</style>

<section id="header">
    <div class="container-main">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left">
                    <a class="goback" href="/@Session["firmcode"]/NoticeNew/UploadBulkData"><img src="/newassets/img/backarrow.svg" alt="">Go Back</a>
                    <p class="ctitle" id="dynamicnotiheader"> Update Notice</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="table">
    <div class="container-main">
        <div class="table" style="padding:15px;">
            <form class="" enctype="multipart/form-data" autocomplete="off" id="noticeform">
                <!-- Start About boxes -->
                <input type="hidden" value="" id="hiddenid" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label><span>Loan Type</span></label>
                        <input type="text" class="inputFormat" id="loantype" placeholder="Loan Type" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Loan Id</span></label>
                        <input type="text" class="inputFormat" id="loanId" placeholder="Loan ID" disabled />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Client Id</span></label>
                        <input type="text" class="inputFormat" id="clientId" placeholder="Client Id" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label><span>School/Student Name</span></label>
                        <input type="text" class="inputFormat" id="schoolStudentName" placeholder="School/Student Name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Branch</span></label>
                        <input type="text" class="inputFormat" id="branch" placeholder="Branch" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>State</span></label>
                        <input type="text" class="inputFormat" id="state" placeholder="State" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label><span>Branch Address</span></label>
                        <input type="text" class="inputFormat" id="branchaddress" placeholder="Branch Address" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Product Name</span></label>
                        <input type="text" class="inputFormat" id="productname" placeholder="State" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Loan Amount</span></label>
                        <input type="text" class="inputFormat" id="loanamount" placeholder="Loan Amount" />
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-4">
                        <label><span>Disbursement Date</span></label>
                        <input type="text" class="inputFormat auto-date" id="disbursementdate" placeholder="dd\MM\yyyy" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>EMI Amount</span></label>
                        <input type="text" class="inputFormat" id="emiAmount" placeholder="EMI Amount" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>EMI Due Date</span></label>
                        <input type="text" class="inputFormat auto-date" id="emiduedate" placeholder="dd\MM\yyyy" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label><span>Current DPD</span></label>
                        <input type="text" class="inputFormat" id="currentDPD" placeholder="Current DPD" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Borrower Details-School Name-1</span></label>
                        <input type="text" class="inputFormat" id="borrowerschoolname" placeholder="Borrower Details-School Name-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Borrower Details-School address 1-1</span></label>
                        <input type="text" class="inputFormat" id="borrowerschooladdress" placeholder="Borrower Details-School address 1-1" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label><span>Borrower Details-School phone number-1</span></label>
                        <input type="text" class="inputFormat" id="borrowerschoolphone" placeholder="Borrower Details-School phone number-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Borrower Details-School email id-1</span></label>
                        <input type="text" class="inputFormat" id="borrowerschoolemail" placeholder="Borrower Details-School email id-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Trust Details-Trust name-1</span></label>
                        <input type="text" class="inputFormat" id="trustname" placeholder="Trust Details-Trust name-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Trust Details-Trust address-1</span></label>
                        <input type="text" class="inputFormat" id="trustnameaddress" placeholder="Trust Details-Trust address-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Trust Details-Trust phone number-1</span></label>
                        <input type="text" class="inputFormat" id="trustnamephoneno" placeholder="Trust Details-Trust phone number-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Trust Details-Trust email id-1</span></label>
                        <input type="text" class="inputFormat" id="trustemail" placeholder="Trust Details-Trust email id-1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant Name1</span></label>
                        <input type="text" class="inputFormat" id="coapplicantname" placeholder="Co-Applicant Name1" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant1 Address</span></label>
                        <input type="text" class="inputFormat" id="coapplicantaddress" placeholder="Co-Applicant1 Address" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant1 Phone Number</span></label>
                        <input type="text" class="inputFormat" id="coapplicantphone" placeholder="Co-Applicant1 Phone Number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant1 Email ID</span></label>
                        <input type="text" class="inputFormat" id="coapplicantemail" placeholder="Co-Applicant1 Email ID" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant Name2</span></label>
                        <input type="text" class="inputFormat" id="coapplicantname2" placeholder="Co-Applicant Name2" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant2 Address</span></label>
                        <input type="text" class="inputFormat" id="coapplicantaddress2" placeholder="Co-Applicant2 Address" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant2 Phone Number</span></label>
                        <input type="text" class="inputFormat" id="coapplicantphone2" placeholder="Co-Applicant2 Phone Number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Co-Applicant2 Email ID</span></label>
                        <input type="text" class="inputFormat" id="coapplicantemailid2" placeholder="Co-Applicant2 Email ID" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Dunning Reference number</span></label>
                        <input type="text" class="inputFormat" id="coapplicantdunningref" placeholder="Dunning Reference number" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Dunning letter Notice Date</span></label>
                        <input type="text" class="inputFormat auto-date" id="coapplicantdunningnoticedate" placeholder="dd\MM\yyyy" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Branch/Collection Manager Name</span></label>
                        <input type="text" class="inputFormat" id="branchcollectionmanagername" placeholder="Branch/Collection Manager Name" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Branch/Collection Manager No</span></label>
                        <input type="text" class="inputFormat" id="branchcollectionmanagerno" placeholder="Branch/Collection Manager No" />
                    </div>
                    <div class="form-group col-md-4">
                        <label><span>Type of Notice</span></label>
                        <input type="text" class="inputFormat" id="txtnoticetype" placeholder="Type of Notice" />
                    </div>
                </div>

                <div class="row" id="htmlContainer">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div class="col-md-12 text-right">
                            <button type="button" id="savenoticebtn" onclick="submitNotice()" class="btn btn-primary" value="Save">Update</button>
                        </div>

                    </div>

                </div>
            </form>

        </div>
    </div>
</section>
