body {
}

.btn-style {
    background: none;
    border: none;
    float: right;
    position: relative;
    right: 5px;
    cursor:pointer;
    display:none;
}

#btn-change {
    display:none;
}

.table-panel{
    border-radius:15px;
}

    .table-panel .card-header{
border-radius:15px;
    }
#dynamiciprheader{
    margin-top:0px;
}
/*.container-main {
    border: 1px dotted black;
    display: flex;
    align-items: center;*/ /* Vertical align the elements to the center */
/*}

h2 {
    margin: 0;
}

#mybutton {
    margin-left: auto;*/ /* Push this element to the right */
/*}*/
.btn-colorclick {
    color: green;
    background-color: transparent;
    text-decoration: none;
}


/*new changes start*/


#opentrademarkdetails {
    cursor: pointer;
}

#removetrademarkdetails {
    cursor: pointer;
}

/*#btnEmailForTracker {
        position: relative;
        top: -29px;
        left: 9px;
    }*/

/*#emasexc1 {
        background: #ebebeb;
    }*/

.btnManual {
    padding: 10px;
    display: flex;
    gap: 5px;
    border: 2px solid gray;
    border-radius: 7px;
    margin-right: 5px;
    text-decoration: none;
    color: gray;
}
/*.modal-content .modal-footer {
        padding: 0;
        position: absolute;
        min-width: 88%;
        bottom: 16px;
        display: block;
    }*/

/*.docPagination {
        width: 100%;
        position: relative;
        border-top: 1px solid #e9eaeb;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 14px 0px;
        text-align: left;
        font-size: 14px;
        color: #414651;
        font-family: Inter;
    }

    #docPageNumbers .page-btndocD {
        border: 1px solid #d5d7da;
        background: #fff;
        padding: 10px;
        width: 42px;
        height: 42px;
    }

    .page-btndocD.active {
        background-color: #007bff !important;
        color: white;
        font-weight: bold;
    }

    #oppPageNumbers .page-btndOpp {
        border: 1px solid #d5d7da;
        background: #fff;
        padding: 10px;
        width: 42px;
        height: 42px;
    }

    .page-btndOpp.active {
        background-color: #007bff !important;
        color: white;
        font-weight: bold;
    }
    #ExamPageNumbers .page-btnExam {
        border: 1px solid #d5d7da;
        background: #fff;
        padding: 10px;
        width: 42px;
        height: 42px;
    }

    .page-btnExam.active {
        background-color: #007bff !important;
        color: white;
        font-weight: bold;
    }
    #corrPageNumbers .page-btnCorr{
        border: 1px solid #d5d7da;
        background: #fff;
        padding: 10px;
        width: 42px;
        height: 42px;
    }

    .page-btnCorr.active {
        background-color: #007bff !important;
        color: white;
        font-weight: bold;
    }*/
.modal-footer {
    border-top: 0 !important;
    padding-top: 8px !important;
}

    .modal-footer .btn {
        float: right !important;
    }

table.fixed_table_head tr {
    position: relative;
}

table.fixed_table_head thead tr th.head_fix {
    position: sticky;
    top: 0;
    left: 0;
    background: #fafafa;
    width:350px;
}

table.fixed_table_head tbody tr td.head_fix {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: inset -5px 0px 1px 0px rgba(0, 0, 0, 0.2) !important;
    width: 350px;
}
table.fixed_table_head thead tr th.head_fix1 {
    position: sticky;
    top: 0;
    left: 0;
    background: #fafafa;
}

table.fixed_table_head tbody tr td.head_fix1 {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: inset -5px 0px 1px 0px rgba(0, 0, 0, 0.2) !important;
}

.trademark_info_table {
}

.viewaddedtrademarkdata .trademark_info_table_wrapper {
    border: 1px solid #E9EAEB;
    border-radius: 12px;
    margin-top: 20px;
    overflow: hidden;
}

.viewaddedtrademarkdata .trademark_info_table_wrapper .trade_info_heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px;
    border-bottom: 1px solid #E9EAEB;
}

.viewaddedtrademarkdata .trademark_info_btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.viewaddedtrademarkdata .modal-content {
    padding: 24px;
}

.viewaddedtrademarkdata .trademark_info_table_wrapper .trademark_details_info_table ul.detail_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 16px 20px;
    gap: 10px;
}

    .viewaddedtrademarkdata .trademark_info_table_wrapper .trademark_details_info_table ul.detail_info li h5 {
        color: #535862;
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 4px 0;
    }

    .viewaddedtrademarkdata .trademark_info_table_wrapper .trademark_details_info_table ul.detail_info li span {
        color: #414651;
        font-weight: 500;
    }

.viewaddedtrademarkdata .header_trademarks {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

    .viewaddedtrademarkdata .header_trademarks .nav-tabs {
        width: fit-content;
    }

.viewaddedtrademarkdata .trademark_info_table table th {
    padding: 14px 24px;
}

.viewaddedtrademarkdata .trademark_info_table table tbody td {
    padding: 26px 26px;
}

.viewaddedtrademarkdata .header_trademarks .nav-tabs > li > a {
    border: 0;
}

.viewaddedtrademarkdata .header_trademarks .nav-tabs > .nav-item.active .nav-link {
    border-bottom: 2px solid #0369A1;
    color: #0369A1;
}

.btn-flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal .modal-title {
    font-size: 20px;
    font-weight: 600;
}

.table_wrapper {
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}



.footer_buttons {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

    .footer_buttons .btn {
        flex: 1;
    }

.share_via_email {
    margin-top: 5px;
}

    .share_via_email span {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 14px;
        font-weight: 500;
    }

/*.modal.vertical-centered .modal-dialog {
    top: 50%;
    transform: translateY(-40%);
    margin: 0 auto;
    position: relative;
}*/

.modal.vertical-centered .modal-dialog {
    top: 15%;
    /* transform: translateY(-40%); */
    /* margin: 0 auto; */
    position: relative;
}
.goback{
    margin-bottom:5px;
}

/*input[type="date"] {
    color: #a3a3a3;
}*/

.ipr_filter_feild .modal-content {
    height:100% !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x:hidden;
    /*justify-content: space-between;*/
}
    .ipr_filter_feild .modal-content .modal-footer {
        padding-top: 18px !important;
        background: #fff;
        border-radius: 0 0 12px 12px;
        border-top: 1px dashed #C4C3C3 !important;
    }

    .ipr_filter_feild .modal-content .ec_bg{
        margin-bottom:0px;
    }

    .ipr_filter_feild .modal-content .modal-footer .btn_flex_between {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40%;
    }

            .ipr_filter_feild .modal-content .modal-footer .btn_flex_between .btn{
                font-size:14px;
                font-weight:600;
            }

            .ipr_filter_feild .modal-content .modal-header .modal-title-header .img_wrapper img {
                padding: 12px;
                border: 1px solid rgba(213, 215, 218, 1);
                border-radius: 8px;
            }

    .ipr_filter_feild .modal-content .modal-header .modal-title-header .img_wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(213, 215, 218, 1);
        border-radius: 8px;
        padding: 5px;
    }
    .ipr_filter_feild .modal-content .modal-header .modal-title-header h4{
        font-size:18px;
        font-weight:600;
        margin:0;
    }

    .ipr_filter_feild .modal-content .modal-header {
        border-bottom: 1px dashed #C4C3C3 !important;
        padding-bottom: 12px;
        background: #fff;
        border-radius: 12px 12px 0 0;
        margin-bottom: 12px;
    }

.ipr_filter_feild .modal-content .modal-body{
    flex:1;  
    overflow-y:auto;
    overflow-x:hidden;
}
    .ipr_filter_feild .modal-content .modal-body .ec_bg  .filter_inner_wrapper{
        /*min-height: 250px;
        height: 100%;
        overflow-x: auto;*/
        padding-right:8px;
        /*padding-top:10px;*/
    }
        .ipr_filter_feild .modal-content .modal-body .ec_bg .filter_inner_wrapper .wrapper_form_feild {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .ipr_filter_feild .modal-content .modal-body .ec_bg .filter_inner_wrapper .wrapper_form_feild ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            .ipr_filter_feild .modal-content .modal-body .ec_bg .filter_inner_wrapper .wrapper_form_feild:not(:last-child){
            margin-bottom: 10px;

            }

            .ipr_filter_feild .modal-content .modal-body .ec_bg .filter_inner_wrapper .wrapper_form_feild .form-group {
                margin: 0;
            }
                .ipr_filter_feild .modal-content .modal-body .ec_bg .filter_inner_wrapper .wrapper_form_feild .form-group .control-label {
                    color: rgba(65, 70, 81, 1);
                    font-weight:500;
                }
/*.ipr_filter_feild{
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}*/

.form-check_wrapper{
    display:flex;
    gap:20px;
    align-items:center;
}

.form-check_wrapper1{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
}

.form-check_wrapper label {
    color: #535862 !important;
    font-weight:500;
}

.form-check_wrapper li .form-check .checkbox-item {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    list-style: none;
    gap: 6px;
}

    li.checkbox-item.checked {
        border-color: #D1D5DB !important;
    }

    li.checkbox-item input {
        margin: 0px;
        pointer-events: none;
    }
    li.checkbox-item label{
        margin:0;
    }

.canvas-content{
    width:350px;
    padding:10px;
}

.canvas-content table{
    margin-top:15px;
}

