.Document A:link
{
    COLOR: #aa0a14;
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline;
}
.Document A:visited
{
        COLOR: #aa0a14;
	FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
        FONT-SIZE: 10pt;
       TEXT-DECORATION: underline;
}
.Document A:active
{
     COLOR: #aa0a14;
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline;
}
.Document
{
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 10pt;
    WIDTH: 100%;
}

@font-face {
    font-family: Krishna;
    font-style:  normal;
    font-weight: normal;
    src: url(/KRISHNA0.eot);
  }

 @font-face {
    font-family: Rupee Foradian;
    font-style:  normal;
    font-weight: normal;
    src: url(../RUPEEFO0.eot);
  }

@font-face {
    font-family: Rupee Foradian;
    font-style:  normal;
    font-weight: normal;
    src: url("../Rupee_Foradian.ttf");
  }


PRE
{
	WIDTH:40;
}

BLOCKQUOTE
{
FONT-SIZE: 11pt;	
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 50px;
  padding-left: 15px;
Text-align: justify;
  
}

p
{
	Text-align: justify;
	margin-right: 15px;
}


.centerAlign
 {
 	 text-align: center
 }


.centeralign
 {
 	 text-align: center
 }


.rightAlign
 {
 	 text-align: Right;
 } 
.hide_word
{
COLOR: #ffffff;
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;



}

@font-face {
    font-family: Krishna;
    font-style:  normal;
    font-weight: normal;
    src: url(../KRISHNA0.eot);
  }

@font-face {
    font-family: Krishna;
    font-style:  normal;
    font-weight: normal;
    src: url("../KRISHNA.ttf");
  }
.pageno
{
    COLOR: Navy;
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    Font-style: italic;
}


TABLE
{
    BORDER-BOTTOM: #aa0a14 thin;
    BORDER-LEFT: #aa0a14 thin;
    BORDER-RIGHT: #aa0a14 thin;
    BORDER-TOP: #aa0a14 thin;
    COLOR: #000000;
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    MARGIN: 0 auto;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    table-border-color-light: rgb(255,204,102);
    table-border-color-dark: rgb(204,153,102)
}

H1
{

    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 12px;
}
H2
{
    
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 14px;
}
H4
{
    
    FONT-FAMILY: Verdana,Times New Roman,Arial, Helvetica;
    FONT-SIZE: 14px;
}

.tblnotif table
{
border-bottom:#333333 1px solid;
border-left:#333333 1px solid;
}
.tblnotif td
{
border-top:#333333 1px solid;
border-right:#333333 1px solid;
}


FOOTNOTE
{
    FONT-SIZE: 8pt;

}

FOOTNOTE>P
{
    FONT-SIZE: 8pt;

}

FOOTNOTE>BLOCKQUOTE
{
   FONT-SIZE: 8pt;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 40px;
   margin-right: 50px;
   padding-left: 15px;
   Text-align: justify;

}

FOOTNOTE>BLOCKQUOTE>BLOCKQUOTE
{
   FONT-SIZE: 8pt;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 40px;
   margin-right: 50px;
   padding-left: 15px;
   Text-align: justify;

}



