

.text-info {
    font-family: 'Inter', sans-serif;
    color: #0059c1;
    font-size: 26px;
    font-weight: 300;
}


.text-success {
    /*font-weight: 600 !important;*/
    color: #4b4b4b !important;
}

    .text-success span {
        font-weight: 300;
        color: #87d300;
    }



#inboxtab span {
    font-size: 12px;
}

#outboxtab span {
    font-size: 12px;
}

/*for quick Entry page*/

.quickentrypanel {
    position: fixed;
    top: 72px;
    right: 0;
    /*z-index: 10000 !important;*/
}

.formpanel {
    background: #fff;
    float: left;
    position: relative;
    z-index: 997;
    width: 400px;
    height: 100%;
    padding: 10px;
    border-radius: 8px 0px 0px 8px;
    -webkit-box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.38);
    box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.38);
    padding-bottom: 0;
}

.addtask {
    margin: 0;
    padding: 0;
}

.formpanel h2 {
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    font-size: 21px;
    font-weight: 300;
    color: #020202;
    border-bottom: 1px solid #bdd8e4;
    text-transform: lowercase;
}

.formpanel sup {
    color: #9CCE41;
    font-size: 12px;
}

.qtf_wrapper {
    background: #fff;
    padding: 1px 10px;
    border-radius: 10px;
    overflow: hidden;
}

    .qtf_wrapper table td {
        padding: 2px 0;
    }

        .qtf_wrapper table td table td {
            padding: 0;
        }

/*.formpanel input, select, textarea {
    max-width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    padding: 0 0;
    font-size: 12px;
    background-color: transparent;
    height: 24px;
    margin: 0 0 2px 0;
}*/

.formpanel label {
    margin: 0;
    padding: 0px 0 4px 0;
    color: #414651;
    font-size: 14px;
    font-weight: 500;
}

.ms-options-wrap {
    /* border: none; */
    border-radius: 5px !important;
    color: #717680;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 7px;
    height: auto !important;
    margin: 0px;
    /*padding: 0px 10px;*/
    border: 1px solid #d5d7da;
}

.fp_select {
    cursor: pointer !important;
    color: #020202 !important;
    border-radius: 50px !important;
    padding: 1px 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: 1px solid #e2e2e2 !important;
    background: #f4f4f4 url(../img/selectbox_arrow.png) no-repeat right !important;
    -webkit-appearance: none;
    background-position-x: 99% !important;
    height: 24px;
    box-shadow: none !important;
}

/*.fp_input {
    color: #020202 !important;
    border-radius: 50px !important;
    padding: 1px 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: 1px solid #e2e2e2 !important;
    background: #f4f4f4 !important;
    -webkit-appearance: none;
    height: 24px !important;
    box-shadow: none !important;
}*/

.fp_txtbox {
    color: #020202 !important;
    border-radius: 8px !important;
    padding: 1px 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: 1px solid #e2e2e2 !important;
    background: #f4f4f4 !important;
    -webkit-appearance: none;
}

.fp_button {
    list-style-type: none;
    margin: 15px 0 5px 0;
    padding: 0;
    float: right;
}

    .fp_button li {
        float: left;
        margin: 0;
        padding: 0 0px 0 8px;
    }

.fpbtn_blue {
    font-family: Clarika Pro Geometric;
    margin: 0;
    padding: 1px 17px 2px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    background: #4d95dd;
}

    .fpbtn_blue:hover {
        background: #0961b8;
    }

.fpbtn_grey {
    font-family: Clarika Pro Geometric;
    margin: 0;
    padding: 1px 17px 2px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    color: #020202;
    background: #eaeaea;
}

    .fpbtn_grey:hover {
        background: #9a9999;
        color: #ffffff;
    }


.taskdes {
    background: #ffffff;
    margin: 3px 0 5px 0;
    padding: 0;
}

    .taskdes p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

.icon-bar1 {
    background-color: #f9fafb;
    float: right;
    position: relative;
    /* z-index: 998;
    border-radius: 5px 5px 0 0px; */
    padding: 0;
    right: 0px;
    bottom: 0;
    height: 100vh;
}

/*.icon-bar1 .top-border {
        border-top: 9px solid #3e3e3e;
        border-radius: 3px 3px 0 0px;
        padding: 0px 0 0 0;
    }

    .icon-bar1 a {
        display: block;
        text-align: center;
        padding: 4px 2px;
        margin: 0;
        transition: all 0.3s ease;
        color: #000000;
        font-size: 12px;
    }

        .icon-bar1 a:hover {
            background: #cbeefd;
            border-radius:5px;
        }

*/

.toolbar_wrapper {
    border-left: 1px solid #d5d7da;
    padding: 7px 0px;
    height: 100vh;
    position: relative;
}

    .toolbar_wrapper ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: relative;
    }

        .toolbar_wrapper ul:not(:nth-child(1)) {
            padding: 7px;
        }

        .toolbar_wrapper ul:not(:first-child):after {
            content: "";
            position: absolute;
            top: 0px;
            right: 7px;
            width: 80%;
            height: 1px;
            background: gainsboro;
        }

        .toolbar_wrapper ul li {
            max-width: 60px;
            width: 100%;
            padding: 2px 0px;
            margin: 0 auto;
            border-radius: 10px;
        }

            .toolbar_wrapper ul li a {
                text-decoration: none;
                color: gray;
                display: flex;
                gap: 4px;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border: 1px solid transparent;
                padding: 2px;
                border-radius: 8px;
                font-size: 10px;
            }

                .toolbar_wrapper ul li a.active {
                    border: 1px solid #D5D7DA;
                    border-radius: 8px;
                    color: #414651;
                }

                .toolbar_wrapper ul li a img {
                    width: 16px;
                    height: 16px;
                }

                .toolbar_wrapper ul li a span {
                    font-size: 10.5px;
                    line-height: 1.1;
                }



.NewButton {
    background-color: #bd2130;
    border-color: #bd2130;
    color: white;
    border-radius: 3px;
}

.ms-options-wrap button {
    border: 1px solid #e2e2e2;
    padding: 2px 6px;
    background: #f4f4f4 url(/newassets/img/arrow.png) no-repeat right;
}

.ms-options-wrap > button::after {
    border-color: transparent !important;
}

#member {
    height: 100px !important;
}

.ms-options-wrap > .ms-options {
    min-height: 190px !important;
    max-height: 190px !important;
}

.ui-widget {
    font-family: 'Inter', sans-serif !important;
    font-size: 12px;
}
/*.formpanel .right_panel span {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #D5D7DA;
            width: 55px;
            height: 55px;
            border-radius: 9px;
            padding: 5px;
        }*/
.formpanel .right_panel .input {
    max-width: 190px;
    display: none;
}

.formpanel .right_panel .upload_details {
    width: 100%;
}

.formpanel .right_panel .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid #ccc;
    align-items: center;
    text-align: center;
    padding: 20px 10px 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.formpanel .right_panel .upload_status {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    .formpanel .right_panel .upload_status .upload_right {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .formpanel .right_panel .upload_status h3 {
        margin: 0px;
        font-size: 15px;
        font-weight: 500;
    }

    .formpanel .right_panel .upload_status .progress_wrapper {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 85% 15%;
    }

        .formpanel .right_panel .upload_status .progress_wrapper span {
            font-weight: 600;
        }

    .formpanel .right_panel .upload_status .progress {
        margin-top: 7px;
        margin-bottom: 0px;
        height: 8px;
    }

        .formpanel .right_panel .upload_status .progress .progress-bar {
            background: #075985;
        }

.formpanel .right_panel .labelFile p {
    font-size: 11px;
    margin-bottom: 8px;
    cursor: context-menu;
}

    .formpanel .right_panel .labelFile p a {
        font-weight: 700;
        color: #075985;
    }

.formpanel .right_panel .labelFile span.upload_icon {
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 12px;
}

.formpanel .right_panel .modal_header .header_icon {
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding: 5px;
}

    .formpanel .right_panel .modal_header .header_icon img {
        padding: 10px 13px;
        border: 1px solid #D5D7DA;
        border-radius: 5px;
    }

.formpanel .right_panel .modal_header {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px dashed #D5D7DA;
    padding-bottom: 8px;
}

/*.formpanel .right_panel .mid_content {
    margin-top: 15px;
    padding: 5px 0;
    border-bottom: 1px dashed #D5D7DA;
}*/

.formpanel .right_panel .modal_footer {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 17px 0;
    gap: 20px;
    border-top: 1px dashed #D5D7DA;
}

.formpanel .right_panel h4.modal_title {
    margin: 0;
    color: #181D27;
    font-size: 24px;
    font-weight: 600;
}

.formpanel .right_panel .modal_header button {
    border: 1px solid #D5D7DA;
    padding: 3px;
    border-radius: 7px;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: 0.6s ease;
}

    .formpanel .right_panel .modal_header button:hover {
        background: #eeeff1;
    }

    .formpanel .right_panel .modal_header button img {
        width: 15px;
        height: 15px;
        padding: 0px;
    }

.formpanel .right_panel .form-control {
    height: 30px !important;
    padding: 0 10px !important;
    font-size: 12px !important;
}

.formpanel .right_panel .formLabel {
    margin-bottom: 2px !important;
    font-size: 11px !important;
    color: #414651;
}

    .formpanel .right_panel .formLabel > .star {
        margin-left: 0px;
    }

.formpanel .form_container {
    margin: 15px 5px;
}

    .formpanel .form_container .field_wrapper {
        display: flex;
        flex-direction: column;
        gap: 7px;
        overflow-y: auto;
        height: calc(100vh - 250px) !important;
        padding-right: 7px;
        overflow-x: hidden;
    }
    .formpanel .form_container .field_wrapper1 {
        display: flex;
        flex-direction: column;
        gap: 7px;
        overflow-y: auto;
        height: 444px;
        padding-right: 7px;
        overflow-x: hidden;
    }
@media (min-height: 768px) {
    .formpanel .form_container .field_wrapper {
        height: 60vh;
    }
    .formpanel .form_container .field_wrapper1 {
        height: 70vh;
    }
}

.formpanel .form_container .field_wrapper a.tools_card {
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 1px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
}

    .formpanel .form_container .field_wrapper a.tools_card:hover .tools_card_details h3 {
        color: #414651;
    }

    .formpanel .form_container .field_wrapper a.tools_card img {
        width: 32px;
        height: 32px;
        padding: 7px;
        border: 1px solid #D5D7DA;
        border-radius: 5px;
    }

    .formpanel .form_container .field_wrapper a.tools_card .tools_card_details h3 {
        color: #717680;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 2px;
        transition: 0.6s ease;
    }

.formpanel .form_container .field_wrapper a.tools_card .tools_card_details p {
    color: #535862;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.formpanel .form_container .field_wrapper1 a.tools_card {
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 1px;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
}

    .formpanel .form_container .field_wrapper1 a.tools_card:hover .tools_card_details h3 {
        color: #414651;
    }

    .formpanel .form_container .field_wrapper1 a.tools_card img {
        width: 32px;
        height: 32px;
        padding: 7px;
        border: 1px solid #D5D7DA;
        border-radius: 5px;
    }

    .formpanel .form_container .field_wrapper1 a.tools_card .tools_card_details h3 {
        color: #717680;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 2px;
        transition: 0.6s ease;
    }

    .formpanel .form_container .field_wrapper1 a.tools_card .tools_card_details p {
        color: #535862;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    .formpanel .tab_button {
        border: 1px solid #E9EAEB;
        display: flex;
        border-radius: 4px;
        padding: 3px;
    }

        .formpanel .tab_button button {
            flex: 1;
            padding: 5px 12px;
            background: #fff;
            outline: none !important;
            border: 0px solid #D5D7DA;
            border-radius: 3px;
            color: #717680;
        }

            .formpanel .tab_button button.active {
                border: 1px solid #D5D7DA;
                font-weight: 600;
                color: #414651;
                border-radius: 8px;
            }

    .formpanel .form_container .field_wrapper .helpVideos {
        padding: 15px;
        border: 1px solid #D5D7DA;
        border-radius: 15px;
    }

        .formpanel .form_container .field_wrapper .helpVideos ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-decoration: none;
            color: gray;
        }

            .formpanel .form_container .field_wrapper .helpVideos ul li {
                padding: 5px 0px;
            }

                .formpanel .form_container .field_wrapper .helpVideos ul li a.vdo_banch {
                    color: #414651;
                    display: grid;
                    grid-template-columns: 10% 65% 20%;
                    align-items: center;
                    gap: 8px;
                }

                    .formpanel .form_container .field_wrapper .helpVideos ul li a.vdo_banch img {
                        padding: 5px;
                        border: 1px solid #D5D7DA;
                        border-radius: 7px;
                    }

                    .formpanel .form_container .field_wrapper .helpVideos ul li a.vdo_banch p {
                        font-weight: 600;
                        line-height: 1.2
                    }

                    .formpanel .form_container .field_wrapper .helpVideos ul li a.vdo_banch span {
                        padding: 2px;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        border: 1px solid #D5D7DA;
                        border-radius: 20px;
                    }

    .chatmodal_a {
        position: fixed;
        z-index: 9999999999;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }

    .chatmodal_a-content {
        background-color: #fefefe;
        margin: 0px auto 0;
        padding: 10px 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 80%;
        height: 600px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .close_a {
        position: relative;
        right: -20px;
        top: -22px;
        float: right;
    }

        .close_a:hover, .close_a:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
