@{
    Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
}
@Html.Action("UserPageSecurity", "employee")
@{
    var id = ViewBag.token;
}
<script>
    var id = "@id";
</script>
<script src="~/Scripts/Employee/Pages/CallSingleView.js"></script>
<script>
    $(document).on("click", "#print1", function () {
        window.print();//  document.body.innerHTML = originalContents;
    });
</script>
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="note">
        @{
            var firmcode = Request.Url.Segments[1];
            firmcode = firmcode.Replace("/", "");
        }
        <div class="col-md-12">
            <ol class="breadcrumb" id="sectionbrud">
                <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                <li><span>Call</span> - <span id="taskname"></span></li>
                <li><a href="/@firmcode/employee/activities/">Activities List</a></li>
                <li> <a class="dropdown-item " href="#" data-toggle="modal" data-target="#myModal" id="modelNote">  <i class="fa fa-pencil"></i> Edit</a></li>
                <li>
                    <btn class=" " id="print1" title="Print" style="margin-left:15px; cursor:pointer"><span class="glyphicon glyphicon-print" style="color:darkorange"></span> </btn>
                </li>
            </ol>
        </div>
    </section>
    <section class="status">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="get-started-action action-complete" id="ctdiv">
                        <div class="icon"><i class="fa fa-phone" style="color:#ffffff;"></i></div>
                        <div class="text">CALL TYPE - <span id="ctype1"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Call</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Subject</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="subject"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Status</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="status"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Call Type</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="ctype"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Call Duration</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="calld"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Date/Time</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="datetime"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-2"><b>Contact</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="contact"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Case</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="matter"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Description</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="details"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>User</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="auser"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-2"><b>Contact</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="acontact"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Tags</b></label>
                        <div class="col-md-4">
                            <label class="control-label" id="tags"></label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-2"><b>Attachments</b></label>
                        <div class="col-md-4">
                            <a href="#" id="alink">Attached File</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content mymodels" id="mymodels">
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- Modal -->
<div id="myOverlay" class="overlay">
    @*//<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>*@
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
    <script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/CssJsfiles/js/2.1.3/jquery.min.js"></script>
    <script>
        var fcodes1 = localStorage.getItem("FirmCode");
        function openload1() {
            $('#myOverlay').css("display", "block");
        }
        function closeload1() {
            $('#myOverlay').css("display", "none");
        }
        $('#modelNote').click(function (e) {
            openload1();
            var url = "/" + fcodes1 + "/Employee/ConfigCallEdit?data=true&token=" + id;
            $('.mymodels').load(url, function (result) {
                closeload1();
                $('#myModal').modal({ show: true });
            });
        });
    </script>
