@{
    Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
}
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var tokenid = "@ViewBag.tokenid";
</script>
<script src="~/Scripts/Employee/Pages/ConfigMessage.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<script src="~/Content/multipleselect/selectize.js"></script>
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/employee/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Compose Message</li>
        </ol>
        <h1>
            <span class="fa fa-envelope"></span> Compose Message
            <btn class=" btn btn-info fa fa-plus pull-right" style="margin-top:-6px;" id="creategroup"> Create Group</btn>
        </h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <!-- Main content -->
            <div id="loadmessagepage"></div>
        </div>
    </section>
    <div id="myOverlay" class="overlay">
        <div class="overlay-content">
            <div class="spinner2">
                <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
            </div>
        </div>
    </div>
    <script>
        openloader();
        $(document).ready(function () {
            $("#loadmessagepage").load("/Employee/ComposeNewMessage", function () {
                closeloader();
            });
        })
        var fcode = localStorage.getItem("FirmCode");
        $("#creategroup").click(function () {
            validnavigation = true;
            window.onbeforeunload = null;
            window.location = encodeURI("/" + fcode + "/Firm/creategroup");
        });
    </script>
