@{
    Layout = null;
}
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script>
    var filesize=@ViewBag.filesize
</script>
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Employee/Pages/ComposeNewMessage.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<script src="~/Content/multipleselect/selectize.js"></script>
<script src="~/Content/multipleselect/index.js"></script>
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<!-- Main content -->
<style>
    .selectize-control {
        margin: 0 0 6px 0;
    }

    .selectize-input {
        width: 102%;
    }
</style>
<form id="savemessageform" enctype="multipart/form-data">
    <div class=" form-horizontal" style="width:100%;display:block">
        <label class="control-label col-xs-3" style="margin:0 0 0 -10px; text-align:right !important;">To: <span class="required" aria-required="true">*</span> </label>
        <div class="col-xs-8">
            @Html.DropDownList("select-user", new SelectList(ViewBag.Fruits, "val", "label"), "Please select", new { @id = "select-user", @class = "demodefault ", @multiple = "multiple" })
        </div>
    </div>
    <div class="form-group form-horizontal" style="clear:both;">
        <label class="control-label col-md-3" style="text-align:right !important;">Client</label>
        <div class="col-md-8">
            <select name="contact" class="form-control" id="contact">
                <option value="" selected>Select Client...</option>
            </select>
        </div>
    </div>
    <div class="form-group form-horizontal" style="clear:both;">
        <label class="control-label col-xs-3" style="text-align:right !important;">Case: </label>
        <div class="col-xs-8">
            <select name="matter" class="form-control" id="matter">
                <option value=""> Select </option>
            </select>
        </div>
    </div>
    <div class="form-group form-horizontal">
        <label class="control-label col-xs-3" style="text-align:right !important;">Subject: <span class="required" aria-required="true">*</span></label>
        <div class="col-xs-8">
            <input class="form-control" name="subject" type="text" id="subject" placeholder="Add Subject" required />
        </div>
    </div>
    <div class="form-group form-horizontal">
        <label class="control-label col-xs-3" style="text-align:right !important;">Message:</label>
        <div class="col-xs-8">
            <textarea ID="details" cols="15" style="width:330px;"></textarea>
            <div class="grid-container" style="display:none">
                <div id="editor">
                </div>
                <script>
                    initSample();
                CKEDITOR.replace('details', {
                    toolbar:
                        [
                            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight'] },
                            { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                            { name: 'tools', items: ['Maximize'] },
                            { name: 'styles', items: ['Styles', 'format', 'Font', 'FontSize'] },
                            { name: 'colors', items: ['TextColor', 'BGColor'] }
                        ],
                    height: 80,
                    width: 657
                });
                </script>
            </div>
        </div>
    </div>
    <div class="form-group form-horizontal">
        <label class="control-label col-xs-3" style="text-align:right !important;">Attachment:</label>
        <div class="col-xs-8">
            <input class="form-control" name="postedFile" id="postedFile" type="file" multiple placeholder="Add description..." />
        </div>
    </div>
    <div class="form-group form-horizontal">
        <label class="control-label col-xs-3" style="text-align:right !important;"></label>
        <div class="col-xs-8">
            <input type="submit" id="savecall" class="btn save" value="Send">
            <button type="button" id="savedraft" class="btn btn-success" value="Send">Save As Draft</button>
        </div>
    </div>
</form>
<!-- /.content -->
</div>
<script>
    $('#select-user').selectize({
        //maxItems: 3
    });
    var $select = $("#select-user").selectize();
    if (tokenid != "") {
        setTimeout(function () {
            var formData = new FormData();
            formData.append("token", tokenid);
            $.ajax(
                {
                    type: "POST",
                    url: "/api/callApi/SingleDraftMessage", // Controller/View
                    data: formData,
                    contentType: false,
                    processData: false,
                    //},
                    success: function (response) {
                        if (response.Status == true) {
                            var datas = JSON.stringify(response);
                            var obj = JSON.parse(response.Data);
                        }
                        else {
                            alert("not found");
                        }
                        $.each(obj, function (i, a) {
                            var mattername = a.mmatter;
                            try {
                                var mid = a.did;
                                if (mattername == null) {
                                    mattername = "";
                                    mid = "";
                                }
                                else {
                                    $("#matter option[value='" + mattername + "']").attr("selected", "selected");
                                }
                                $("#subject").val(a.msubject);
                                CKEDITOR.instances['details'].setData(a.mbody);
                                var selectize = $select[0].selectize;
                                var selecteduser = a.auser;
                                var array = selecteduser.split(",");
                                selectize.setValue(array)
                            }
                            catch (er) {
                                //alert(er.message);
                            }
                        });
                        //console.log(response);
                    },
                    failure: function (response) {
                        alert(data.responseText);
                    },
                    error: function (response) {
                        alert(data.responseText);
                    }
                });
        }, 1000);
    }
    else {
    }
</script>
