@{
    Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
}
<i class="pp-icon-user"></i>
<style>
    .addc:nth-last-child(odd) {
        color: green;
    }

    .addc:nth-last-child(even) {
        color: green;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }

    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
        margin: 0;
    }

    .zyx span {
        text-transform: capitalize;
        padding: 0 5px 0 0;
    }

    .radio-inline, .checkbox-inline {
        display: block !important;
        padding-left: 0 !important;
    }
</style>
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var type = '@ViewBag.type'
    var filesize =@ViewBag.filesize;
            //console.log(type);
</script>
<script src="~/Scripts/Employee/Pages/AddContact.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/jquerydatetimepicker/jquery.js"></script>
<script src="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/css/sampltes.css" rel="stylesheet" />
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<script>
    $(document).on('keypress', '#tags', function (event) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/employee/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">New Contact</li>
        </ol>
        <h1><span class="fa fa-user"></span> New Contact</h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="">
                    <div class="box-header">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <form id="savecontact" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-section-bordered">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @*//<h4 class="form-section">Contact</h4>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 contact-photo" style="padding-top:8px">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div>
                                            <div class="fileupload-new thumbnail"> <img src="~/PanelDesign/images/Default_User_pic_new.png" alt="" id="output_image"> </div>
                                            <div>
                                                <span class="btn btn-default btn-file file-upload-buttons">
                                                    <span class="fileupload-new"><span class="glyphicon glyphicon-paperclip"></span> Upload Picture</span> <span class="fileupload-exists"><span class="glyphicon glyphicon-repeat"></span> Change</span>
                                                    <input type="file" onchange="preview_image(event)" class="default photo-attachment" name="attachment" id="attachment" accept="image/*">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-10 contact-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2"> Full Name <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                            <div class="col-md-4">
                                                <input autofocus="" class="form-control spacer100" placeholder="First Name" maxlength="49" type="text" value="" name="fname" id="fname" required="">
                                            </div>
                                            <div class="col-md-2">
                                                <input class="form-control spacer100" placeholder="Middle Name" type="text" maxlength="49" value="" name="mname" id="mname">
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control spacer100" placeholder="Last Name" type="text" maxlength="49" name="lname" value="" id="lname" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="Home"> Home (<span class="glyphicon glyphicon-phone-alt"></span>)</label>
                                            <div class="col-md-8">
                                                <input class="form-control" placeholder="Add home number..." maxlength="49" onkeypress="return restrictAlphabetsfax(event)" type="text" name="home" value="" id="home">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="Mobile"> Mobile (<span class="glyphicon glyphicon-earphone"></span>) <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                            <div class="col-md-8">
                                                <input class="form-control" placeholder="Add mobile number..." required maxlength="10" minlength="10" onkeypress="return restrictAlphabets(event)" name="mob" type="text" value="" id="mob">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="Office"> Office (<span class="glyphicon glyphicon-phone-alt"></span>)</label>
                                            <div class="col-md-8">
                                                <input class="form-control" placeholder="Add office number..." maxlength="16" onkeypress="return restrictAlphabetsfax(event)" type="text" value="" id="office">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="Fax"> Fax (<span class="glyphicon glyphicon-phone-alt"></span>)</label>
                                            <div class="col-md-8">
                                                <input class="form-control" placeholder="Add fax number..." maxlength="12" onkeypress="return restrictAlphabetsfax(event)" name="fax" type="text" value="" id="fax">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="Email"> Email (<span class="glyphicon glyphicon-envelope"></span>)</label>
                                            <div class="col-md-8">
                                                <input class="form-control" placeholder="Add email address..." maxlength="49" type="email" name="email" value="" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"> Client Portal</label>
                                            <div class="col-md-8 col-sm-8">
                                                <label class="switch">
                                                    <input type="checkbox" id="cport" name="cport" value="1">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2"> Contact Type <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                            <div class="col-md-4">
                                                <select style="margin-left:-2px;" class="form-control" id="contacttype" required>
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" for="Email"> Notes </label>
                                            <div class="col-md-10">
                                                <textarea ID="cnotes" value="sdsdfd"></textarea>
                                                <div class="grid-container" style="display:none">
                                                    <div id="editor">
                                                    </div>
                                                    <script>
                                                        initSample();
                                                        CKEDITOR.replace('cnotes', {
                                                            toolbar:
                                                                [
                                                                    { name: 'basicstyles', items: ['Bold', 'Italic'] },
                                                                    { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                                    { name: 'tools', items: ['Maximize',] }
                                                                ],
                                                            height: 100,
                                                            width: 243
                                                        });
                                                    </script>
                                                    @*<textarea name="textarea" cols="5" rows="5" class="jqte-test"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6" id="content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additionalContactFields form-section-secondary">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="AssignedToGuids">Address </label>
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Address" maxlength="200" type="text" name="address" value="" id="address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="TagNames"> Tags </label>
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Tags" maxlength="25" type="text" name="tags" value="" id="tags" onpaste="return false">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="Number"> Number </label>
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Enter Number" maxlength="49" name="number" type="text" value="" id="number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="Website"> Website </label>
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Add Website" maxlength="49" name="website" type="text" value="" id="website">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="form-actions hidden-print">
                                    <div class="btn-group">
                                        <input type="submit" id="addcontact" class="btn btn-primary save" value="save">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</aside>
        </form>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Custom Field
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissable validpanel">
                            <button type="button" class="close" data-dismiss="alert" class="validpanel" aria-hidden="true">&times;</button>
                            . <a href="#" class="alert-link">Alert Link</a>.
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="form2">
                                            <div class="form-group">
                                                <label>Custom Field Name</label><span class="required" aria-required="true" style="color:red"><b>*</b></span>
                                                <input class="form-control" type="text" value="" id="txtcustomFieldName">
                                            </div>
                                            <div class="form-group">
                                                <label>Custom Field Type</label><span class="required" aria-required="true" style="color:red"><b>*</b></span>
                                                <select class="form-control" id="ctype">
                                                    <option value="0">-Select Any-</option>
                                                </select>
                                            </div>
                                            <div id="common">
                                                <div class="form-group">
                                                    <label id="listid">List options</label>
                                                    <input class="form-control" data-val="true" id="txtcustomFieldvalue" />
                                                    <p>(Add the options you would like to have in the drop down list list, separate values with a comma.)</p>
                                                </div>
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal" style="margin-top:10px;">
                                                <label class="control-label col-xs-3">Is Required :</label>
                                                <div class="col-xs-8">
                                                    <label class="switch">
                                                        <input type="checkbox" id="chkRequired" name="assign" value="1">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="addfield">Add Field</button>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
            </div>
<!-- /.col-lg-12 -->
        </div>
<!-- /.row -->
        </div>
<!-- /.container-fluid -->
        </div>
<!-- /#page-wrapper -->
<div id="myOverlay" class="overlay">
    @*//<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>*@
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>