@{
    Layout = null;
}
@Html.Action("UserPageSecurity", "employee")
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Content/multipleselect/selectize.js"></script>
<script src="~/Content/multipleselect/index.js"></script>
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<script src="~/Scripts/Employee/Pages/ConfigEvent.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/css/sampltes.css" rel="stylesheet" />
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<script>
     var filesize =@ViewBag.filesize;
</script>
<style>
    .selectize-dropdown {
        position: unset !important;
    }
</style>
<div class="modal-header btn-primary">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        New Event
    </h4>
</div>
<div class="modal-body " style="height:500px; overflow-y:scroll;">
    <!-- Main content -->
    <form id="saveeventform" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Linked to</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Client <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <select name="contact" class="form-control" id="contact" required>
                                <option value="" selected>Select Client...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Case<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <select name="matter" class="form-control" id="matter" required>
                                <option value="">Select Case...</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Event</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Subject <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" name="subject" maxlength="49" type="text" id="subject" placeholder="Add Subject..." required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Start <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-6">
                            <input class="form-control" name="sd" type="date" placeholder="Date/Time" id="sd" required style="margin-top:5px;" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="time" placeholder="Date/Time" id="st" style="margin-top:5px;" />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">End <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-6">
                            <input class="form-control" type="date" name="ed" placeholder="Date/Time" id="ed" required style="margin-top:5px;" />
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="time" placeholder="Date/Time" id="et" style="margin-top:5px;" />
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="margin-top:10px;">
                        <label class="control-label col-md-3">All Day?</label>
                        <div class="col-md-8">
                            <label class="switch">
                                <input type="checkbox" id="allday" name="allday" value="1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Status</label>
                        <div class="col-md-8">
                            <select name="" class="form-control" id="status">
                                <option value="Not Completed">Not Completed</option>
                                <option value="Completed">Completed</option>
                                <option value="In Progress">In Progress</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Description</label>
                        <div class="col-md-8">
                            <textarea ID="details" cols="15"></textarea>
                            <div class="grid-container" style="display:none">
                                <div id="editor">
                                </div>
                                <script>
                                    initSample();
                                    CKEDITOR.replace('details', {
                                        toolbar:
                                            [
                                                { name: 'basicstyles', items: ['Bold', 'Italic'] },
                                                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                { name: 'tools', items: ['Maximize',] }
                                            ],
                                        height: 80,
                                        width: 400
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Participants</legend>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-3">Reminders</label>
                        <div class="col-md-9" id="dataremind">
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-3">.</label>
                        <div class="col-md-9">
                            <btn class="btn btn-success btn-sm " id="addremind" style="margin-top:0px;"><span class="glyphicon glyphicon-plus"></span> Add  Reminder</btn>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Location</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" maxlength="49" id="location" placeholder="location..." />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">color</label>
                        <div class="col-md-9">
                            <input class="form-control" type="color" id="color" placeholder="color..." />
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-3">Priority</label>
                        <div class="col-md-9">
                            <select name="" class="form-control" id="priority">
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-3">Repeat</label>
                        <div class="col-md-9">
                            <select name="" class="form-control" id="repeat">
                                <option value="Never">Never</option>
                                <option value="Every day">Every day</option>
                                <option value="Every week">Every week</option>
                                <option value="Every 2 weeks">Every 2 weeks</option>
                                <option value="Every month">Every month</option>
                                <option value="Every year">Every year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Attendees </label>
                        <div class="col-md-9">
                            <label class="control-label col-md-3">User <span class="required" aria-required="true">*</span></label>
                            @Html.DropDownList("user", new SelectList(ViewBag.Fruits, "val", "label"), "Select", new { @id = "user", @class = "demodefault ", @multiple = "multiple" })
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="display:none">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <label class="control-label col-md-3">Contacts <span class="required" aria-required="true">*</span></label>
                            <select name="" class="form-control" id="acontact"></select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Tags</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" maxlength="49" id="tags" placeholder="Tags..." />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Attachments</label>
                        <div class="col-md-9">
                            <input class="form-control" name="postedFile" id="postedFile" type="file" multiple placeholder="Add description..." />
                            (Please upload a file up to 20MBs only..)
                        </div>
                    </div>
                    <div class="form-group form-horizontal" style="margin-top:10px;display:none">
                        <label class="control-label col-md-3">Email Assignees</label>
                        <div class="col-md-8">
                            <label class="switch">
                                <input type="checkbox" id="assign" name="assign" value="1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modal-footer">
                    <input type="submit" id="savetask" class="btn save" value="save">
                    <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>
<script>
    $('#user').selectize({
        //maxItems: 3
    });
</script>
