@{
    Layout = null;
}
@{
    var id = Request.Url.Segments[1];
}
@Html.Action("UserPageSecurity", "employee")
<!-- Page Content -->
<script>
     var filesize =@ViewBag.filesize;
</script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Employee/Pages/ConfigNoteEdit.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/css/sampltes.css" rel="stylesheet" />
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<link href="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dt').datetimepicker();
    });
</script><div class="modal-header btn-primary">
    <button type="button" id="closemodel" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        Edit Note
    </h4>
</div>
<div class="modal-body " style="height:500px; overflow-y:scroll;">
    <!-- Main content -->
    <form id="savenoteform" enctype="multipart/form-data" autocomplete="off">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Linked to</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Client <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <select name="contact" class="form-control" id="contact" required>
                                <option value="" selected>Select Client...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Case<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <select name="matter" class="form-control" id="matter" required>
                                <option value="">Select Case...</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Note</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Subject <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" maxlength="49" name="subject" id="subject1" placeholder="Add Subject..." required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Note</label>
                        <div class="col-md-9">
                            <textarea id="details"></textarea>
                            <div class="grid-container" style="display:none">
                                <div id="editor">
                                </div>
                                <script>
                                    initSample();
                                    CKEDITOR.replace('details', {
                                        toolbar:
                                            [
                                                { name: 'basicstyles', items: ['Bold', 'Italic'] },
                                                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                { name: 'tools', items: ['Maximize',] }
                                            ],
                                        height: 80,
                                        width: 400
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Status</label>
                        <div class="col-md-9">
                            <select name="" class="form-control" id="status1">
                                <option value="Not Completed">Not Completed</option>
                                <option value="Completed">Completed</option>
                                <option value="In Progress">In Progress</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Date/Time<span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" name="dt" type="text" placeholder="Date/Time" id="dt" required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Tags</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" maxlength="49" id="tags1" placeholder="Tags..." />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Attachments</label>
                        <div class="col-md-9">
                            <input class="form-control" name="postedFile" id="postedFile" value="" type="file" multiple placeholder="Add description..." />
                            (Please upload a file up to 20MBs only..)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modal-footer">
                    <input type="submit" id="savenote" class="btn save" value="save">
                    <button type="button" id="closemodel" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>