<style>
    .sidebar-menu > li {
        display: none;
    }
</style>
<script>
     var sideclienth = "Prospect/Client";
    var createchild = "Add Client";
    var viewchild = "Client List";
    var clientlable = "Client";
    var condt = @Session["firmtype"]!= null ? @Session["firmtype"] :"";
    @{
        Session["caclientlable"] = "Client";
        if (Session["firmtype"] != null)
        {
            if (Session["firmtype"].ToString() == "3")
            {
                Session["caclientlable"] = "Lawyer/LawFirm";
            }
            else
            {
                Session["caclientlable"] = "Client";
            }
        }
      }
    if (condt == 3) {
        sideclienth = "Prospect/(Lawyer/LawFirm)";
        createchild = "Add Lawyer/LawFirm";
        viewchild = "Lawyer/LawFirm List";
        clientlable = "Lawyer/LawFirm";
    }
    var pathArray = window.location.pathname.split('/');
    var segment_1 = pathArray[1];
    localStorage.setItem("FirmCode", "@Session["FirmCode"]");
//alert(localStorage.getItem("FirmCode"));
   var fcode = "@Session["FirmCode"]";
    var html = '';
    html += '<li id="adashboard"> <a href="/' + fcode + '/Employee/dashboard"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a> </li>'
    // html += '<li class="treeview">'
    //html += '<a href="#"> <i class="fa fa-user"></i> <span>Profile</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    //html += '<ul class="treeview-menu">'
    html += '<li id="aprofile"><a href="/' + fcode + '/Employee/UserProfile"><i class="ion ion-person-add" area-hidden="true"></i>Profile</a></li>'
    //html += '<li><a href="/' + fcode + '/Employee/ProfileUpdate"><i class="fa fa-angle-double-right"></i> Edit Profile</a></li>'
    //html += '</ul>'
    //html += '</li>'
    //html += '<li> <a href="pages/widgets.html"> <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small> </a> </li>'
    html += '<li id="acontacts" class="treeview">'
    html += '<a href="#"> <i class="fa fa-user"></i> <span>Contact</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
    html += '<li><a href="/' + fcode + '/Employee/ConfigContact/contact"><i class="fa fa-angle-double-right"></i> Add Contact</a></li>'
    html += '<li><a href="/' + fcode + '/Employee/vcontact/contact"><i class="fa fa-angle-double-right"></i> Contact List</a></li>'
    html += '<li><a href="/' + fcode + '/Firm/Favcontact"><i class="fa fa-angle-double-right"></i> Favourite List</a></li>'
    html += '</ul>'
    html += '</li>'
    html += '<li id="alead" class="treeview">'
    html += '<a href="#"> <i class="fa fa-object-group"></i> <span>' + sideclienth+'</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
    html += '<li><a href="/' + fcode + '/Employee/ViewLead"><i class="fa fa-angle-double-right"></i> Prospect List</a></li>'
    html += '<li><a href="/' + fcode + '/Employee/ClientList"> <i class="fa fa-angle-double-right"></i> <span>' + viewchild+'</span> </a> </li>'
    html += '</ul>'
    html += '</li>'
    html += '<li id="amessage" class="treeview">'
    html += '<a href="#"> <i class="fa fa-envelope"></i> <span>Internal Messaging</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
    html += '<li class="active"> <a href="/' + fcode + '/Employee/ReceiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Inbox </span> </a> </li>'
    html += '<li  > <a  href="/' + fcode + '/Employee/composemessage"> <i class="fa fa-angle-double-right"></i> <span>Compose</span> </a> </li>'
    html += '<li  > <a  href="/' + fcode + '/Employee/DraftMessageList"> <i class="fa fa-angle-double-right"></i> <span>Draft </span> </a> </li>'
    html += '<li  > <a  href="/' + fcode + '/Employee/ConfigMessageList"> <i class="fa fa-angle-double-right"></i> <span>Sent </span> </a> </li>'
    html += '<li  > <a  href="/' + fcode + '/Employee/ArchiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Archive </span> </a> </li>'
    html += '</ul>'
    html += '</li>'
    html += '<li id="amatter" class="treeview">'
    html += '<a href="#"> <i class="glyphicon glyphicon-briefcase"></i> <span>Case</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
    html += '<li><a href="/' + fcode + '/Employee/Configmatter/matter"><i class="fa fa-angle-double-right"></i> Add Case</a></li>'
    html += '<li><a href="/' + fcode + '/Employee/vmatter/matter"><i class="fa fa-angle-double-right"></i> Case List</a></li>'
    html += '<li><a href="/' + fcode + '/Firm/casedashboard"><i class="fa fa-angle-double-right"></i> Case Dashboard</a></li>'
    html += '</ul>'
    html += '</li>'
    html += '<li id="afile" class="treeview">'
    html += '<a href="#"> <i class="glyphicon glyphicon-folder-open"></i> <span>Document Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
	 html += '<li> <a href="/' + fcode + '/Azure/DirectoryList/0"> <i class="fa fa-angle-double-right"></i>Folders/Files </a> </li>'
    //html += '<li><a href="/' + fcode + '/Firm/DirectoryList/0"><i class="fa fa-angle-double-right"></i>Folders/Files</a></li>'
    //html += '<li><a href="/' + fcode + '/Employee/AssignUserFileList"><i class="fa fa-angle-double-right"></i>Shared Files List</a></li>'
    //html += '<li><a href="/' + fcode + '/Employee/ShareUserFileList"><i class="fa fa-angle-double-right"></i>Share Files List</a></li>'
    html += '<li> <a href="/' + fcode + '/Employee/ocr"> <i class="fa fa-angle-double-right"></i>OCR Files </a> </li>'
	        html += '<li> <a href="/' + fcode + '/Firm/Integration"> <i class="fa fa-angle-double-right"></i>Cloud Drive </a> </li>'
    //html += '<li> <a href="/' + fcode + '/Dropbox/FileList"> <i class="fa fa-angle-double-right"></i>Dropbox </a> </li>'
    ////html += '<li> <a href="/' + fcode + '/OneDrive/FileList"> <i class="fa fa-angle-double-right"></i>OneDrive </a> </li>'
    //html += '<li> <a href="/' + fcode + '/Azure/index"> <i class="fa fa-angle-double-right"></i>Azure Drive </a> </li>'
    //html += '<li> <a href="/' + fcode + '/GoogleDrive/FileList"> <i class="fa fa-angle-double-right"></i>Google Drive </a> </li>'
    html += '</ul>'
    html += '</li>'
    html += '<li id="acalendar"  > <a  href="/' + fcode + '/firm/MergeCalendar"> <i class="fa fa-calendar"></i> <span>Calendar</span> </a> </li>'
    html += '<li  id="aactivities" > <a href="/' + fcode + '/Employee/activities/"> <i class="glyphicon glyphicon-th-list"></i> <span>Activities</span> </a> </li>'
    html += '<li  id="btimeentry"> <a  href="/' + fcode + '/Firm/NewCreateTimeEntry"> <i class="glyphicon glyphicon-time"></i> <span>Create Time Entry</span> </a> </li>'
    html += '<li  id="atimeentry"> <a  href="/' + fcode + '/Employee/ViewTimer"> <i class="glyphicon glyphicon-time"></i> <span>Time Entry List</span> </a> </li>'
    html += '<li id="aknowledge" class="treeview">'
    html += '<a href="#"> <i class="fa fa-cog"></i> <span>Knowledge Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
    html += '<ul class="treeview-menu">'
    html += '<li class="active"> <a href="/' + fcode + '/Employee/ViewKnowledge"> <i class="fa fa-angle-double-right"></i> <span>View</span> </a> </li>'
    html += '<li class="active"> <a href="/' + fcode + '/Employee/ViewKnowledgeFav"> <i class="fa fa-angle-double-right"></i> <span>My Favourite Content</span> </a> </li>'
    html += '</ul>'
    html += '</li>'
    html += '<li  id="manusubs" > <a  href="/' + fcode + '/Firm/NewsArticle"> <i class="fa fa-rss-square" aria-hidden="true"></i> <span>News & Article</span> </a> </li>'
    html += '<li  id="usermgmt" > <a  href="/' + fcode + '/Firm/CreateUser"> <i class="fa fa-user" aria-hidden="true"></i> <span>Create User</span> </a> </li>'
    document.getElementById("sidemenu").innerHTML = html;
    //$("#sidemenu ul > li").css("display", "none");
    //$("#sidemenu ul > li > ul > li").css("display", "none");
    //$("#sidemenu").find("ul").css("display", "none");
    $("ul.sidebar-menu").children().css("display", "none");
    $("ul.treeview-menu").children().css("display", "none");
    var ajaxTime = new Date().getTime();
    //localStorage.setItem("usersidemenu", "");
    //alert(localStorage.getItem("usersidemenu"));
    if (localStorage.getItem("usersidemenu") == "" || localStorage.getItem("usersidemenu") == null) {
        $.ajax({
            async: true,
            type: "POST",
            url: "/api/CallApi/SideMenuUserwiseAccesspagemenulist",
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                var totalTime = new Date().getTime() - ajaxTime;
                console.log("sidebar:" + totalTime);
                var comaanpath = "";
                var nodeValue = "";
               // alert(JSON.stringify(response.Data));
                localStorage.setItem("usersidemenu", JSON.stringify(response.Data));
                $.each(response.Data, function (i, a) {
                    if (String(a.Pagelink) == "NewsArticle") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "NewCreateTimeEntry") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "activities") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/";
                    }
                    else if (String(a.Pagelink) == "activities") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/";
                    }
                    else if (String(a.Pagelink) == "MergeCalendar") {
                        comaanpath = "/" + fcode + "/firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "CreateUser") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "DirectoryList") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink + "/0";
                    }
                    else if (String(a.Pagelink) == "ConfigContact") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/contact";
                    }
                    else if (String(a.Pagelink).trim() == "vcontact") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/contact";
                    }
                    else if (String(a.Pagelink) == "Configmatter") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/matter";
                    }
                    else if (String(a.Pagelink).trim() == "vmatter") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/matter";
                    }
                    else if (String(a.Pagelink) == "DirectoryList") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink + "/0";
                    }
                    else if (String(a.PageName) == "Azure Drive") {
                        comaanpath = "/" + fcode + "/Azure/" + a.Pagelink;
                    }
                    else if (String(a.PageName) == "DropBox") {
                        comaanpath = "/" + fcode + "/Dropbox/" + a.Pagelink;
                    }
                    else if (String(a.PageName) == "OneDrive") {
                        comaanpath = "/" + fcode + "/OneDrive/" + a.Pagelink;
                    }
					else if (String(a.Pagelink) == "Integration") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
					else if (String(a.Pagelink) == "DirectoryList/0") {
                            comaanpath = "/" + fcode + "/Azure/" + a.Pagelink;
                        }
                    else {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink;
                    }
                    if (String(a.PageGroup) == "null") {
                        var nodeValue = $('a[href="' + comaanpath + '"]').parents("li").attr("id");
                        $("#" + nodeValue + "").css("display", "block");
                    }
                    else {
                        // alert(comaanpath);
                        //$('a[href="' + comaanpath + '"]').parents("li").css("display", "none");
                        nodeValue = $('a[href="' + comaanpath + '"]').parents("li").parents("ul").parent("li").attr("id");
                        if (String(nodeValue != "undefined")) {
                            //alert()
                            $('a[href="' + comaanpath + '"]').parents("li").css("display", "block");
                            $("#" + nodeValue + "").css("display", "block");
                        }
                    }
                });
                $("#adashboard").css("display", "block");
                $("#aprofile").css("display", "block");
                $("#sidemenu").css("display", "block");
            },
            failure: function (response) {
                alert(data.responseText);
            },
            error: function (response) {
                alert(data.responseText);
            }
        });
    }
    else {
        var cachedmenu = localStorage.getItem("usersidemenu");
        var comaanpath = "";
        var nodeValue = "";
        $.each(JSON.parse(cachedmenu), function (i, a) {
             if (String(a.Pagelink) == "NewsArticle") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "NewCreateTimeEntry") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "activities") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/";
                    }
                    else if (String(a.Pagelink) == "activities") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/";
                    }
                    else if (String(a.Pagelink) == "MergeCalendar") {
                        comaanpath = "/" + fcode + "/firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "CreateUser") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
                    else if (String(a.Pagelink) == "DirectoryList") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink + "/0";
                    }
                    else if (String(a.Pagelink) == "ConfigContact") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/contact";
                    }
                    else if (String(a.Pagelink).trim() == "vcontact") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/contact";
                    }
                    else if (String(a.Pagelink) == "Configmatter") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/matter";
                    }
                    else if (String(a.Pagelink).trim() == "vmatter") {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink + "/matter";
                    }
                    else if (String(a.Pagelink) == "DirectoryList") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink + "/0";
                    }
                    else if (String(a.PageName) == "Azure Drive") {
                        comaanpath = "/" + fcode + "/Azure/" + a.Pagelink;
                    }
                    else if (String(a.PageName) == "DropBox") {
                        comaanpath = "/" + fcode + "/Dropbox/" + a.Pagelink;
                    }
                    else if (String(a.PageName) == "OneDrive") {
                        comaanpath = "/" + fcode + "/OneDrive/" + a.Pagelink;
                    }
					else if (String(a.Pagelink) == "Integration") {
                        comaanpath = "/" + fcode + "/Firm/" + a.Pagelink;
                    }
					else if (String(a.Pagelink) == "DirectoryList/0") {
                            comaanpath = "/" + fcode + "/Azure/" + a.Pagelink;
                        }
                    else {
                        comaanpath = "/" + fcode + "/Employee/" + a.Pagelink;
                    }
                    if (String(a.PageGroup) == "null") {
                        var nodeValue = $('a[href="' + comaanpath + '"]').parents("li").attr("id");
                        $("#" + nodeValue + "").css("display", "block");
                    }
            else {
                // alert(comaanpath);
                //$('a[href="' + comaanpath + '"]').parents("li").css("display", "none");
                nodeValue = $('a[href="' + comaanpath + '"]').parents("li").parents("ul").parent("li").attr("id");
                if (String(nodeValue != "undefined")) {
                    //alert()
                    $('a[href="' + comaanpath + '"]').parents("li").css("display", "block");
                    $("#" + nodeValue + "").css("display", "block");
                }
            }
        });
        $("#adashboard").css("display", "block");
        $("#aprofile").css("display", "block");
        $("#sidemenu").css("display", "block");
    }
</script>
@*<script>*@
@*$(document).ready(function () {
            var pathArray = window.location.pathname.split('/');
            var segment_1 = pathArray[1];
            localStorage.setItem("FirmCode", segment_1);
            var fcode = localStorage.getItem("FirmCode");
            var formData = new FormData();
            $.ajax({
                async: true,
                type: "POST",
                url: "/api/CallApi/UserwiseAccesspagemenulist",
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(JSON.stringify(response));
                    var html = ''
                        html += '<li id="adashboard"> <a href="/' + fcode + '/Employee/dashboard"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a> </li>'
                        html += '<li id="aprofile"><a href="/' + fcode + '/Employee/UserProfile"><i class="fa fa-id-card-o" area-hidden="true"></i>Profile</a></li>'
                        html += '<li id="acontacts" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-user"></i> <span>Contact</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Employee/ConfigContact/contact"><i class="fa fa-angle-double-right"></i> Add Contact</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/vcontact/contact"><i class="fa fa-angle-double-right"></i> Contact List</a></li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="alead" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-object-group"></i> <span>Lead/Client Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Employee/ViewLead"><i class="fa fa-angle-double-right"></i> Lead List</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/ClientList"> <i class="fa fa-angle-double-right"></i> <span>Client List</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="amessage" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-envelope"></i> <span>Message</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class="active"> <a href="/' + fcode + '/Employee/ReceiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Inbox </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Employee/composemessage"> <i class="fa fa-angle-double-right"></i> <span>Compose</span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Employee/ConfigMessageList"> <i class="fa fa-angle-double-right"></i> <span>Sent </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Employee/ArchiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Archive </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Employee/DraftMessageList"> <i class="fa fa-angle-double-right"></i> <span>Draft </span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="amatter" class="treeview">'
                        html += '<a href="#"> <i class="glyphicon glyphicon-briefcase"></i> <span>Case</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Employee/Configmatter/matter"><i class="fa fa-angle-double-right"></i> Add Case</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/vmatter/matter"><i class="fa fa-angle-double-right"></i> Case List</a></li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="afile" class="treeview">'
                        html += '<a href="#"> <i class="glyphicon glyphicon-folder-open"></i> <span>File Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Employee/UserDirectoryList/0"><i class="fa fa-angle-double-right"></i>Folders/Files</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/AssignUserFileList"><i class="fa fa-angle-double-right"></i>Assign Files List</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/ShareUserFileList"><i class="fa fa-angle-double-right"></i>Share Files List</a></li>'
                        html += '<li> <a href="/' + fcode + '/Employee/ocr"> <i class="fa fa-angle-double-right"></i>OCR Files </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="acalendar"  > <a  href="/' + fcode + '/Employee/calender"> <i class="fa fa-calendar"></i> <span>Calendar</span> </a> </li>'
                        html += '<li  id="aactivities" > <a href="/' + fcode + '/Employee/activities/"> <i class="glyphicon glyphicon-th-list"></i> <span>Activities</span> </a> </li>'
                        html += '<li id="aworkflow" > <a href="/' + fcode + '/Employee/WorkFlowNUserActivity"> <i class="fa fa-cubes"></i> <span>Workflow Task</span> </a> </li>'
                        html += '<li  id="atimeentry"> <a  href="/' + fcode + '/Employee/ViewTimer"> <i class="glyphicon glyphicon-time"></i> <span>Time Entry List</span> </a> </li>'
                        html += '<li id="aknowledge" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-cog"></i> <span>Knowledge Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class="active"> <a href="/' + fcode + '/Employee/ViewKnowledge"> <i class="fa fa-angle-double-right"></i> <span>View</span> </a> </li>'
                        html += '<li class="active"> <a href="/' + fcode + '/Employee/ViewKnowledgeFav"> <i class="fa fa-angle-double-right"></i> <span>My Favourite Content</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li  id="manusubs" > <a  href="/' + fcode + '/Firm/NewsArticle"> <i class="fa fa-rss-square" aria-hidden="true"></i> <span>News & Article</span> </a> </li>'
                        document.getElementById("sidemenu").innerHTML = html;
                    $.each(response.Data, function (i, a) {
                    });
                },
                failure: function (response) {
                    alert(data.responseText);
                },
                error: function (response) {
                    alert(data.responseText);
                }
            });
        });
    </script>*@
<script>
    var pagename;
    $(document).ready(function () {
        var pagename1 = location.pathname.split('/');
        var pagename = pagename1[3];
        if (pagename == "dashboard") {
            $("#adashboard").addClass("active");
        }
        if (pagename == "UserProfile") {
            $("#aprofile").addClass("active");
        }
        if (pagename == "ConfigContact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "vcontact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "Favcontact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "Configmatter") {
            $("#amatter").addClass("active");
        }
        if (pagename == "vmatter") {
            $("#amatter").addClass("active");
        }
        if (pagename == "DirectoryList") {
            $("#afile").addClass("active");
        }
        if (pagename == "AssignUserFileList") {
            $("#afile").addClass("active");
        }
        if (pagename == "ShareUserFileList") {
            $("#afile").addClass("active");
        }
        if (pagename == "ViewLead") {
            $("#alead").addClass("active");
        }
        if (pagename == "ClientList") {
            $("#alead").addClass("active");
        }
        if (pagename == "calender") {
            $("#acalendar").addClass("active");
        }
        if (pagename == "activities") {
            $("#aactivities").addClass("active");
        }
        if (pagename == "WorkFlowNUserActivity") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "ViewTimer") {
            $("#atimeentry").addClass("active");
        }
        if (pagename == "composemessage") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ReceiveMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ConfigMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ArchiveMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "DraftMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "AddContent") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "ViewKnowledge") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "ViewKnowledgeFav") {
            $("#aknowledge").addClass("active");
        }
    });
</script>
