<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.17.1" targetFramework="net461" />
  <package id="AngleSharp.Css" version="0.16.4" targetFramework="net461" />
  <package id="AntiXSS" version="4.3.0" targetFramework="net461" />
  <package id="Cloudmersive.APIClient.NET.VirusScan" version="3.0.8" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Freeware.Pdf2Docx" version="1.1.0" targetFramework="net461" />
  <package id="HtmlSanitizer" version="7.1.542" targetFramework="net461" />
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.1.3" targetFramework="net47" />
  <package id="Microsoft.Azure.Storage.Common" version="11.1.3" targetFramework="net47" />
  <package id="Microsoft.Azure.Storage.File" version="11.1.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NReco.PdfGenerator" version="1.2.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net461" />
  <package id="SevenZipSharp.Interop" version="19.1.0" targetFramework="net461" />
  <package id="SevenZipSharp.Net45" version="1.0.19" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net47" />
</packages>