@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
body {
  
  font-family: 'Oswald', sans-serif !important;
  color:#404040;
  line-height: 22px;
}


h2 {
    font-family: 'Oswald', sans-serif !important;
    font-size: 50px !important;
    font-weight: 550 !important;
    color: #7c1215 !important;
    margin: 146px 0 0 0 !important;
}
.p-logo {
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
}
.p-logo li {
    margin: 0;
    padding: 0 16px 0 0;
    float: left;
}
.p-logo li a{}
.container{width:90% !important;}
p{margin:0; padding:0;}

header{height:75px;}
.navbar-inverse {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}
.navbar-brand {
    float: left;
    height: auto !important;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.wrapper{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,d9d9d9+100 */
background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(45deg,  #f5f5f5 0%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #f5f5f5 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #f5f5f5 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding:20px 0;
}
.f-bg{
	-webkit-box-shadow: 0px 0px 29px -4px rgba(124,18,21,0.5);
-moz-box-shadow: 0px 0px 29px -4px rgba(124,18,21,0.5);
box-shadow: 0px 0px 29px -4px rgba(124,18,21,0.5);
overflow: hidden;
    border-radius: 5%;
    width: 100%;
    height: 450px;
    background: #fff;
	}
label{font-size:27px; color:#7c1215; text-align:center; font-weight:400 !important;}
.f-inner{
	width: 98%;
    margin: 20px auto 0;
}
input[type=text], select {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background: #fff7f7;
}
input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background: #fff7f7;
}
.sbtbtn {
    margin: 10px 0 16px 0;
    padding: 6px 20px;
    background: #7c1215;
    border: 1px solid #7c1215;
    font-size: 20px;
    border-radius: 4px;
    color: #ffffff;
    width: 100%;
}
@media (max-width: 768px) {
	h2 {
    font-size:40px !important;
    margin: 4px 0 0 0 !important;
}
.f-bg {
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 153px 0 0 0;
}
.f-inner {
    width: 100%;
    margin: 18px auto 0;
}
}
