@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">about us</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
		<p style="text-align:justify; color:#000;">
		myKase is an Enterprise Mobility Solution for professionals, which enables the teams to do their jobs from anywhere using a variety of devices and applications.<br><br>
		myKase platform can be used by any professional, whether you are handling transactions, advisory, consulting projects, dispute resolution, internal or external projects of any nature, litigation case or any kind of matter or project.
		</p>
		 <br>      
		<p><img src="/NewDesign/images/abt1.png" ></p>
		<p style="text-align:justify;">
		For businesses and practice, with operations spanning multiple projects and matters in multiple locations and diverse teams set up, a unified single platform which offers centralized information, seamless collaboration and streamlined workflow is a pre requisite. <br><br>
		With the new emerging normal of geographically dispersed teams, minimal client interaction, video meetings and hearings; an efficient, secure and collaborative working platform is De rigueur, whether you are working from the office, or remotely.
		</p>
		<div class="row about">
            <div class="col-md-4">
                <h3>seamless collaboration </h3>
                <p>enabling teams across geographies, functions, projects, generations to work together with real-time updates and effective secure communication.</p>
            </div>
            <div class="col-md-4">
                <h3>streamlined workflow</h3>
                <p>increasing the organization's efficiency by simplifying tasks, bypassing unnecessary steps, weeding out conflicts, optimal use of resources and cutting out duplication. </p>
            </div>
            <div class="col-md-4">
                <h3>centralized information</h3>
                <p>maximising data integrity and minimising data redundancy. A single storing place implies that a given set of data only has one primary record, aiding in maintaining accurate and consistent information, enhancing data reliability and data preservation.</p>
            </div>
        </div>
		<p><img src="/NewDesign/images/abt2.png" ></p>
		<p style="text-align:justify;">
		Building on its knowledge and expertise of over 20 years, in delivering legal solutions by leveraging technology, Manupatra has conceived and developed <br>
<strong>myKase</strong> – An Enterprise Mobility Solution. 
		</p>
		<br>      
		<p style="text-align:center;"><img src="/NewDesign/images/abt2a.png" class="img-responsive" ></p>
		<p style="text-align:justify;">
		myKase is an integrated digital workspace from where you can run your operations, manage your project and matters, and collaborate with the client from anywhere. It gives you instant authorised access from any device, to assign and manage tasks, monitor workflow, documents, dates, notifications. Teams collaborate and communicate efficiently across locations, offices and time zones to manage projects, matters and transactions seamlessly.
		</p>
		<br>
		<p><img src="/NewDesign/images/abt3.png" ></p>
		<p style="text-align:center;"><img src="/NewDesign/images/abt3a.png" class="img-responsive"></p>
		<p style="text-align:justify;">
		myKase is easy to learn, simple to use and integrates with other leading-edge technology thereby allowing professionals to seamlessly collaborate, share and engage with clients and colleagues to ensure efficient delivery.<br><br>
		If you or your team are struggling to manage projects, client and case records, documents, dates, schedules, deadlines, billing expenses, reports, communication and related actions manually or with several different apps, programs, and platforms, myKase is the all-in-one solution which can completely transform the way your firm operates. It streamlines your daily operations and manages all aspects of your firm practice from one point.<br><br>
		Security is paramount in myKase. It is designed based on multi layered architecture with 256-bit SSL and is hosted on Azure Cloud. When being accessed, data is transmitted using an encrypted secure connection. Data storage is on cloud with geo location backups. A two step authentication enables double security.<br><br>
		Enhanced efficiency, better time management, updated clients, low duplicity and redundancy are the key changes that <strong>mykase</strong> promises. Enjoy all this at a minimum cost and the promise of Manupatra service support and be a part of an experience set to revolutionize the legal industry.<br><br>
		We look forward to induct myKase into your operations! 
		</p>
		</div>
    </div>
</section>
