@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .img-responsive {
        display: block;
        text-align: center;
        margin: 0px auto;
        height: auto;
        max-width: 100%;
    }
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">blogs</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <div class="row">
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/legal-operations.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-mykase-mykasevideo-law-firm-management" style="color: #1d5494;">What is mykase? </a></div>
                        <div class="txt-panel">MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the...<span><a href="/article-mykase-mykasevideo-law-firm-management" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/mykasevideolawfirmtechnology.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-blog-law-legal-practice-management-operations-agile" style="color: #1d5494;">Why does the legal practice operations, need to be agile and responsive?</a></div>
                        <div class="txt-panel">Are you a lawyer jumping from system to system to access case files, research, court deadlines et...<span><a href="/article-blog-law-legal-practice-management-operations-agile" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/a_legal.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-lawyer-Legal-technology-competence" style="color:#1d5494;">Legal Technology</a></div>
                        <div class="txt-panel">Legal Tech is now part of the paradigm of practicing law for all lawyers - Not being abreast is no longer an option...<span><a href="/article-lawyer-Legal-technology-competence" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/a_mobility.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-Enterprise-mobility-cloud-law-firm-management" style="color: #1d5494;">9 Essentials of an Enterprise Mobility Solution</a></div>
                        <div class="txt-panel">Enterprise mobility (a.k.a business mobility) is the next revolutionary upcoming trend of businesses...<span><a href="/article-Enterprise-mobility-cloud-law-firm-management" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="font-size:14px; padding:30px 0 0 0;">
            <div class="row">
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/a_cloud.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-cloud-migration-law-firm-management" style="color: #1d5494;">Migration Strategies & Models for a Seamless Transition to Cloud</a></div>
                        <div class="txt-panel">According to Forbes, around 70% of cloud migration and digital transformation are not properly...<span><a href="/article-cloud-migration-law-firm-management" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/client_collaboration.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-client-portal-collaboration-lawpracticemanagement" style="color: #1d5494;">Client Collaboration can now be a Reality</a></div>
                        <div class="txt-panel">Due to easy access to information in business-to-consumer markets, customers today are accustomed to getting real-time updates...<span><a href="/article-client-portal-collaboration-lawpracticemanagement" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/client_documentmanagement.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-client-document-management-storage-lawpracticemanagement" style="color: #1d5494;">Why having document management software is essential?</a></div>
                        <div class="txt-panel">Specifically in legal practice, the majority of work performed is document focused specifically....<span><a href="/article-client-document-management-storage-lawpracticemanagement" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/KnowledgeManagementblog.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-client-knowledge-management-lawpracticemanagement" style="color: #1d5494;">5 Reasons why you need a Knowledge Management System</a></div>
                        <div class="txt-panel">In simple terms, Knowledge Management streamlines the process of capturing, distributing, and....<span><a href="/article-client-knowledge-management-lawpracticemanagement" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="font-size:14px; padding:30px 0 0 0;">
            <div class="row">
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/lpm.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-law-firm-practice-management-platform" style="color: #1d5494;">5 Reasons why you need to incorporate Law Practice Management Platform today</a></div>
                        <div class="txt-panel">As each day passes, the world is becoming more technology intensive. The news about the rampant...<span><a href="/article-law-firm-practice-management-platform" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="art-container">
                        <div class="img-panel"><img src="/NewDesign/images/cloudcomputing_practice.png" class="img-responsive" /></div>
                        <div class="txt-head"><a href="/article-cloud-computing-law-practice-management-platform" style="color: #1d5494;">Cloud Computing and the Practice of Law</a></div>
                        <div class="txt-panel">Technology is rapidly transforming the world as we have known, both personally and professionally. Adopting, embracing...<span><a href="/article-cloud-computing-law-practice-management-platform" style="font-size: 17px;color: #1D5493;font-weight: 500;">+</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />