@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<html lang="en">
<head id="Head1">
    <title>mykase - Calendar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="viewport" />
    <meta name="description" content="Never miss a deadline with powerful calendaring. Keep your to-do list organized and your practice on track " />
    <meta name="keywords" content="Manage deadlines, ensure effective mobilisation of resources and stay organised with poweful calendaring with integarted multi-alert system. " />
    <meta property="category" content="Law" />
    <meta name="application-name" content="mykase.in" />
    <meta name="msapplication-tooltip" content="Manupatra - The Company" />
    <meta name="msapplication-window" content="width=1500;height=900" />
    <meta name="msapplication-task" content="name=MyKase;action-uri=https://www.mykase.in;icon-uri= " ” />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="mykase" />
    <meta name="twitter:url" content="https://www.mykase.in/" />
    <meta name="twitter:title" content="mykase - Calendar" />
    <meta name="twitter:description" content="Manage deadlines, ensure effective mobilisation of resources and stay organised with poweful calendaring with integarted multi-alert system. " />
    <meta name="twitter:image" content=" " />
    <meta name="twitter:app:name:iphone" content=" " />
    <meta property="og:title" content="mykase - Calendar" />
    <meta property="og:type" content=" " />
    <meta property="og:image" content=" " />
    <meta property="og:url" content="https://www.mykase.in" />
    <meta property="og:site_name" content="www.mykase.in" />
    <meta property="og:description" content="Manage deadlines, ensure effective mobilisation of resources and stay organised with poweful calendaring with integarted multi-alert system. " />
</head>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">calendar</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Never Miss a Deadline with Powerful Calendaring<br><br></p>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Keep your to-do list organized and your practice on track <br><br></p>
            <p style="text-align:justify;">myKase provides an integrated calendar providing an overview of your work commitments to provide a consolidated view helping you plan your day, week, month and year better. The integrated feature provides that you have access to your calendar anywhere on the go and you and team can be synchronised with the current list of matters and their timeline so resources and people can utilize their maximum potential and nothing on the work list is ever missed.  <br><br> </p>
        </div>
    </div>
</section>
