@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">matter management</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:center;"><img src="~/NewDesign/images/case-challenges.jpg" class="img-responsive" alt="case challenges" /> </p>
            <br />
            <p style="text-align:justify;">
                As a legal professional if you are managing multiple projects, matters and cases manually, or using a combination of spreadsheets, programs, apps and software; there is a huge possibility that unintentionally some bits may fall through the cracks. This could mean missing hearing dates, crucial deadlines or meetings, which can adversely impact your client, the case, and your reputation.<br><br>
                myKase offers a cloud based legal case management system, which allows you to access and manage all the Case informationon a single click, from anywhere, at any time. The entire information is available in a Secure, Searchable, Centralized repository.<br><br>
                The Case Dashboard enables a user to zoom into the micro-details of a case and zoom out to a holistic view of the cases in hand. Through a single screen, you can view all the case related information including Tasks, Documents, Communication& Messages, Activities, Team Members, Client Contacts, Court Hearings, Time Entry, Key Dates.<br><br>
                The intake of the case is integrated into the case management system. The master file of the case in addition to the basic details includes:<br><br>
            </p>
            <ul class="cannow clearfix">
                <li>Statute of limitation with alerts & reminders</li>
                <li style="border:1px solid #8fd500;">Filing & Refiling Date Alerts</li>
                <li>Case information report in courts format, printable</li>
                <li style="border:1px solid #8fd500;">Extra party<br>information</li>
                <li>Case Alert for court hearings & orders </li>
            </ul>
            <div class="row">
                <div class="col-md-7">
                    <p style="font-size:24px; color:#0059c1; font-weight:300; margin:23px 0 0 0;">With myKase you can now: </p><br>
                    <ul>
                        <li>Manage Legal Matters, Cases, Projects</li>
                        <li>Brings all the people, files, data, tasks, timelines, and notifications that surround your cases &projects together in one place.</li>
                        <li>Create new matters, classify,  add descriptions, owner, parties involved & contact person/s</li>
                        <li>Capture & edit variables viz., court details, case type, case details, legal category & issues, opponent party & lawyers detail</li>
                        <li>Instantly and securely share files with controlled access. </li>
                        <li>Create and edit documents and maintain version of documents </li>
                        <li>Scan and upload multiple case related documents</li>
                        <li>Define ownership, team involved, notifications required</li>
                        <li>Maintain confidentiality of Documents</li>
                        <li>Do away with following up with various team members and scouring multiple sources for information</li>
                        <li>Full Data Security: No instances of lost files</li>
                        <li>Keep track of every key date & deadline coming up for each case</li>
                    </ul>
                </div>
                <div class="col-md-5"><img src="~/NewDesign/images/casemgt.png" style="padding:15px 0 0 0;" class="img-responsive" alt="case challenges" /></div>
            </div>
        </div>
</section>
