
@{

    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cause List Alerts</title>
    <link href="~/Manupanel/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>

</head>
<body>
    <script src="~/Scripts/CW/CauseListAlerts.js" type="text/javascript" language="javascript"></script>
    <section class="wrapper">
        <div class="container">
            <div class="col-md-12" style=" padding:0 10px 30px 10px;">
                <div class="navbar-header">
                    <!-- Stat Toggle Nav Link For Mobiles -->
                    <a class="navbar-brand" href="https://www.mykase.in/" style="padding:8px 0 0 0;"><img src="https://www.mykase.in/NewDesign/images/logo.png" class="img-responsive"></a>
                </div>
            </div>
            <div id="divcauselistalertlist"></div>

        </div>

    </section>

</body>
</html>
