@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">client portal</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <div class="row">
                <div class="col-md-12 text-center"><img src="~/NewDesign/images/clientportal2a.png" class="img-responsive" alt="client portal" /></div>
                <div class="col-md-12">
                    <p>Set yourself apart from your competition by offering your clients, an on-demand access to the services you do for them, through a professional, organized client portal.</p>
                    <br>
                    <p><strong>What is the myKase client portal?</strong></p>
                    <p>myKase is a digital interface between you and your clients which assists in client management. It provides your clients a self-serving 24/7 access to track the status of matters, e-mails, and communications. The interface gives everyone working on the matter a transparent, unified picture of exactly where things stand. Each client is allotted unique access credentials which establishes a water-tight channel of communication.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <p><strong>Benefits</strong></p>
                    <ul style="margin:10px 0 0 0;">
                        <li><strong>Enhanced Collaboration:</strong> myKase offers clients the opportunity to raise queries and request tasks, without wasting time in setting up appointments and calls.</li>
                        <li><strong>Easy Sharing:</strong> All the requisite documents and information are available in one place, reducing reliance on e-mails and calls and making the sharing process convenient and user-friendly.</li>
                        <li><strong>Personalized Access:</strong> Each client is provided with a unique access credentials, which ensures confidentiality and authorised access.   </li>
                        <li><strong>Real-Time Updates</strong> become possible with status change happening in real time. </li>
                        <li><strong>Seamless Communication:</strong> Cuts away the requirement of juggling between multiple communication channels. </li>
                        <li><strong>Anytime-Anywhere Access:</strong> The portal can be accessed from anywhere via a web browser. </li>
                    </ul><br>
                    <p>With the integration of technology in almost all aspects of business operations, clients today are accustomed to instant updates. It is thus imperative for law offices to embrace a client oriented outlook, and invest in technology that caters to the needs of their clients. </p>
                </div>
                <div class="col-md-6"><p style="text-align:center;"><img src="~/NewDesign/images/clientportal1.png" style="padding:15px 0 0 0;" class="img-responsive" alt="client portal" /></p></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>myKase aims to bring efficiency, transparency, boosting client engagement and elevating client experiences. </p>
                </div>
            </div>
        </div>
</section>
