@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
            .img-responsive {
                display: block;
                text-align: center;
                margin: 0px auto;
                height: auto;
                max-width: 100%;
            }
            .social_share {
                margin: 0;
                padding: 0;
                list-style-type: none;
                float: right;
            }
                .social_share li {
                    margin: 0;
                    padding: 0;
                    float: left;
                }
				</style>
<section class="inner-banner blog_bg">
    <div class="container">
        <h2 class="blog_head">client collaboration</h2>
    </div>
</section>
<section class="discover" id="article">
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
		<div class="row">
		<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
		<ul class="social_share">
            <li style="padding:0 6px 0 0;">SHARE</li>
            <li style="padding:0 2px 0 0;">
                @using System.Web.Configuration;
                @{
                    string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                }
                <a target="_new" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=@BaseDomainURL/article-client-portal-collaboration-lawpracticemanagement&amp;p[title]=Client Collaboration&amp;p[summary]=Client Collaboration can now be a Reality"><img src="/NewDesign/images/sf1.png" class="img-responsive" /></a>
            </li>
            <li style="padding:0 2px 0 0;"><a id="socialnetwork" title="Share on LinkedIn" target="_new" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@BaseDomainURL/article-client-portal-collaboration-lawpracticemanagement&amp;title=Client Collaboration&amp;summary=Client Collaboration can now be a Reality&amp;source=@BaseDomainURL/article-cloud-migration-law-firm-management"><img src="/NewDesign/images/sl1.png" class="img-responsive" /></a></li>
			<li><a title="Share on Twitter" target="_new" href="https://twitter.com/share?text=Client Collaboration - Client Collaboration can now be a Reality&url=@BaseDomainURL/article-client-portal-collaboration-lawpracticemanagement"><img src="/NewDesign/images/st1.png" class="img-responsive" /></a></li>
			<li style="padding:0 0 0 2px;"><a title="Check our Instagram" href="https://www.instagram.com/mykase.manupatra/" target="_new"><img src="/NewDesign/images/sin1.png" class="img-responsive" /></a></li>
	 </ul>
        <h1>Client Collaboration can now be a Reality </h1> <br>
		<p style="text-align:center;"><em>“… In the digital economy, the most successful organizations create a symbiotic relationship with the customers facilitated by technology, access and customer service”</em></p> 
		<br>
		<p><strong>What is the myKase client portal?</strong></p> <br>
        <p>Due to easy access to information in business-to-consumer markets, customers today are accustomed to getting real-time updates. As a result, their expectations in a business-to-business dealing (such as with law firms) is of similar turnaround time. But an oft complaint of the Clients is that they have to chase the lawyers for Matter Updates at every stage.What makes the landscape more complex is the emergence of cross-practice, multi-jurisdictional associations, increasing size and locations of the law firms. As a result effective collaboration of partners, clients, and attorneys proves to be challenging.<br><br>
		A robust system of client-lawyer collaboration brings about <b>transparency</b>, seals the gaps in <b>communication</b>, resulting in satisfied clients and thus a higher rate of <b>client retention</b>.<br>
		<b>Technology</b> has enabled creation of digital platforms which make <b>Client Collaboration</b> possible. <br><br>
		<ul>
		<li>Client collaboration portals offer better <b>security</b>. This means that keeping important documents out of the e-mail thread eliminates the risk of leakage of information by a wrong party through hacking or accidental forwarding.</li> 
<li><b>Digital Hygiene</b> - The information shared is authentic, up-to-date since only one true version of the documents will be in circulation.</li>
<li><b>Productivity and efficiency</b> increase manifold as undue efforts are not wasted in combing through vast documents, remembering to include attachments, or accidental deletion of important files.</li>
<li><b>Easy sharing</b>: All the requisite documents and information are available in one place, reducing reliance on e-mails and calls and making the sharing process convenient and user-friendly.</li>
<li><b>Personalized access</b> : Each client is provided with a unique access credentials, which ensures confidentiality and authorised access.</li>   
<li><b>Real-time updates</b> : becomes possible with status change happening in real time.</li> 
<li><b>Seamless communication</b> :  Cuts away the requirement of juggling between multiple communication channels. </li>
<li>Makes anytime, anywhere, <b>authorised access</b> a reality for the clients.</li> 
		</ul>
		</p> 
		</div>
		</div>
		<div class="row">
		<div class="col-md-12"><p>Effective collaboration now, is not a matter of competitiveness, but survival.</p>
</div>
		</div>
    </div>
</section>
