@{
    Layout = "~/Views/Shared/_NewHomePartial.cshtml";
}
<style>
.chatpanel{margin:0; padding:0; width:100%;}
.chat-wrapper{
	margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}
.people-list {
    width: 260px;
    float: left;
    background: #444753;
    border-radius: 5px 0 0 5px;
}
.chat {
    width: 490px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.people-list ul {
    padding: 20px;
    height: 420px;
	list-style-type:none;
}
.people-list ul li {
    padding-bottom: 20px;
	font-size:14px;
	color:#ffffff;
}
.people-list ul li:nth-child(even) {background: #CCC}
.people-list ul li:nth-child(odd) {background: #FFF}
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">chat</h2>
    </div>
</section>
<section class="chatpanel clearfix">
    <div class="container">
    <div class="chat-wrapper">
	   <div class="people-list" id="people-list">
		   <ul class="list">
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   <li>Vincent Porter</li>
		   </ul>
        </div>
		<div class="chat">
			  <div class="chat-header clearfix">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar">
				<div class="chat-about">
				  <div class="chat-with">Chat with Vincent Porter</div>
				  <div class="chat-num-messages">already 1 902 messages</div>
				</div>
				<i class="fa fa-star"></i>
			  </div> <!-- end chat-header -->
			  <div class="chat-history">
				<ul>
				  <li class="clearfix">
					<div class="message-data align-right">
					  <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
					  <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
					</div>
					<div class="message other-message float-right">
					  Hi Vincent, how are you? How is the project coming along?
					</div>
				  </li>
				  <li>
					<div class="message-data">
					  <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
					  <span class="message-data-time">10:12 AM, Today</span>
					</div>
					<div class="message my-message">
					  Are we meeting today? Project has been already finished and I have results to show you.
					</div>
				  </li>
				  <li class="clearfix">
					<div class="message-data align-right">
					  <span class="message-data-time">10:14 AM, Today</span> &nbsp; &nbsp;
					  <span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>
					</div>
					<div class="message other-message float-right">
					  Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
					</div>
				  </li>
				  <li>
					<div class="message-data">
					  <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
					  <span class="message-data-time">10:20 AM, Today</span>
					</div>
					<div class="message my-message">
					  Actually everything was fine. I'm very excited to show this to our team.
					</div>
				  </li>
				  <li>
					<div class="message-data">
					  <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
					  <span class="message-data-time">10:31 AM, Today</span>
					</div>
					<i class="fa fa-circle online"></i>
					<i class="fa fa-circle online" style="color: #AED2A6"></i>
					<i class="fa fa-circle online" style="color:#DAE9DA"></i>
				  </li>
				</ul>
			  </div> <!-- end chat-history -->
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        <button>Send</button>
      </div> <!-- end chat-message -->
    </div>
	</div>
    </div>
</section>
