@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">team communication & collaboration </h2>
    </div>
</section>
<section class="discover">
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
        <p style="text-align:justify;">Collaborative working and seamless communication does not mean managing every single conversation, task and action item through your email Inbox, over a phone call or in a face to face meeting. <br><br></p>
		<ul>
		<li>So, how do you communicate with your team virtually?</li>
		<li>How do you get your team set up to do their best work from dispersed geo locations?</li>
		</ul>
		<p style="text-align:justify;">myKase platform allows teams to collaborate and communicate efficiently, across locations, offices and time zones by reducing the reliance on email and phone.</p><br>
		<p style="text-align:center;"><img src="~/NewDesign/images/communication.png" class="img-responsive" alt="communication" /> </p><br>
       <p style="text-align:justify;">myKase Client Portal facilitates client communication, which is as important as communicating with your employees and is an integral part of growing your business, giving you a competitive edge over others. </p>
    </div>
</section>
