@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">conflict check</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
       <p style="text-align:justify;">myKase goes a step ahead in making sure that our enterprise mobility solution provides you with all the information you need in any situation related to your operation and practice.Conflict Check is one of those features. </p>
	   <p style="text-align:justify;">While you are growing your business and taking on new clients, the only thing to keep in consideration is that there’s no conflict of interest with your past and existing matters across all your offices irrespective of their geographic locations. You can easily search by client name, matter name, matter number, defendant plaintiff, partners, opposite party counsel, and co-parties. Furthermore, it’s a great tool to track down your database for all co-related matters and existing research can be accessed ensuring maximum utilisation of the firm’s resources.<br><br>
	   Simply type in a name and see if it shows up across your matters, contacts clients, custom fields, or any of your activities, and make an informed decision.<br><br> </p>
		</div>
    </div>
</section>
