@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">contacts database</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
	<div claass="col-md-12" style="margin:10px 0 0 0;"><p style="text-align:justify;">Technology has penetrated the legal practice and business operations successfully. With the growing trends of cross border litigation and business models, it is imperative to have an organized contacts database. An electronic database resembles the traditional address book, but is a more advanced central repository that holds and organizes all relevant details of contacts.<br><br></p></div>
	<div class="row">
	<div class="col-md-5" style="font-size:14px; padding:15px 0 0 0;">
        <p><strong>Advantages</strong></p>
		<ol>
		<li><strong>Positive client relations:</strong> Having all the relevant details of clients at one place enables the relevant stakeholders to build a better rapport with their clients and connections. They do not have to rely on their memory, scraps of papers to recall details of the client.</li> 
		<li><strong>Organized working:</strong> Manual process of contact management can wreak havoc on business or law practice, since it is prone to human error. However, an automated database allows businesses  to cross-reference the contacts as per the urgency of their engagement and matters resulting in a smooth workflow.
		</li> 
		</ol>
      <p><strong>MyKase contact management</strong><br>
		MyKase is a law practice management software that is tailored to the needs of legal practice and operations dealing with multiple matters and cases . The contact management feature of the software acts as a central storehouse of existing  and potential clients, vendor details, resource database , all  systematically arranged along with details such as billing arrangements, cases, standing instructions etc.<br><br> </p>
		<p><strong>Features:</strong><br>
		MyKase provides storage, tracking and management of contact information throughout an organization on a single platform.
		</p>
		<ol>
		<li>Converts multiple business contact lists into one unified address book that can be accessed anytime,anywhere.</li>
		<li>Enables the user to classify the contacts into clients, prospects, vendors or add a new customized category as per the requirement.</li>
		<li>Provides an easy update feature to add relevant details to existing contacts at the click of a button.</li>
		<li>Provides a free text search to find match from existing database.</li> 
		<li>Offers a view of existing active matters, or create a new matter directly from a contact.</li>
		<li>Allows Quick check for Conflict Management.</li>
		</ol>
		</div>
		<div class="col-md-7"> <p><img src="~/NewDesign/images/advantages-contacts.png" class="img-responsive" alt="contacts" /> </p></div>
		</div>
    </div>
</section>
