@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">copyright</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
		<p style="text-align:justify;">
		All material available on this web site is protected by copyright laws. Access to the myKase services and content is subject to User License Agreement and Privacy Terms, you accepted during the registration process.
		</p>
		 <br>      
		<p style="text-align:justify;">
		You acknowledge that the Software and the Documentation are proprietary to myKase including its Affiliates, subsidiaries, and licensors (collectively also referred to as “myKase”/ “Manupatra”/ Manupatra Information Solutions Pvt. Ltd.), who thus are owners of the intellectual property, copyrights and trademarks thereupon. Grant of Right to use myKase services does not give you any ownership interest in or to the Software or the Documentation, but only a limited right of use in accordance with the User terms Agreement. Any and all trademarks or service marks that myKase uses in connection with the Software or with services rendered by myKase are marks owned by myKase and you acknowledge that your authorized access to myKase does not grant you any right, license, or interest in such marks, and you shall not assert any right, license, or interest in such marks or any words or designs.
		</p>
		 <br>
		<p style="text-align:justify;">
		Third party trademarks, trade names, product names and logos, as may be applicable, are the trademarks or registered trademarks of their respective owners. You may not remove or alter any trademark, trade names, product names, logo, copyright or other proprietary notices, legends, symbols or labels in the Software. You are not authorized to use names of myKase including its Affiliates, subsidiaries, and licensors (collectively also referred to as “myKase”/ “Manupatra”/ Manupatra Information Solutions Pvt. Ltd.) or any of their respective trademarks.
		</p>
		 <br>
		</div>
    </div>
</section>
