@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">disclaimer</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:justify; color:#000;">
                myKase is an Enterprise Mobility Solutions Product to facilitate its authorised users in electronically managing their documents upon acceptance of User Terms Agreement along with Privacy Policy.
            </p>
            <br>
            <p style="text-align:justify;">
                myKase expressly disclaims to the maximum limit permissible by law, all warranties, express or implied, including, but not limiting to implied warranties of merchantability, fitness for a particular purpose and non-infringement of third party rights with respect to any services provided by it or content/ data uploaded by authorised users including information added by end users or their Administrators while availing myKase services.
            </p>
            <br>
            <p style="text-align:justify;">
                myKase shall not be responsible for any unauthorized access to or alteration of your transmissions or data, any material or data sent or received or not sent or received, or any transactions entered into through this site.
            </p>
            <br>
            <p style="text-align:justify;">
                myKase makes no warranty that its services when provided to Subscriber in digital or electronic format will be compatible with Subscriber computers and/or other equipment, or that these Services will be secure or error free. Nor does myKase make any warranty as to any results that may be obtained from the use of the Service.
            </p>
            <br>
            <p style="text-align:justify;">
                myKase website may contain link to such third party sites and integrations which users may themselves choose to avail services through myKase, including video and audio conferencing services, which may be recorded and saved via such third party links while hosting subscriber's account for their wilful participation to avail such services. myKase expressly disclaims all liability and responsibility, in any nature, whatsoever towards any such usage by Subscriber and is not responsible for the privacy practices of such third party sites and integrations.
            </p>
            <br>
        </div>
    </div>
</section>
