@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .table-panel th {
        color: #000000;
        font-weight: 500;
        padding: 8px 8px 8px 8px;
        border-bottom: none !important;
        border-top: none !important;
        font-size: 14px;
        background: #BBDDF2 !important;
        white-space: nowrap;
        cursor: pointer;
    }

    .table-panel td {
        text-align: center;
    }
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">document management</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:justify;">
                With the digital revolution, electronic conversion of information has become an indispensable business practice. However, improper handling of documents can lead to loss of important information which can be critical to customers and thus the business. <br><br>
            </p>
            <div class="table-panel table-responsive table100">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th style="text-align:center;">Challenges</th>
                        <th style="text-align:center;">Solutions</th>
                    </tr>
                    <tr>
                        <td>Widely dispersed, inaccessible information</td>
                        <td>Centralized Document Storage </td>
                    </tr>
                    <tr>
                        <td>Collaboration</td>
                        <td>Multi user access, Document check-in/check-out </td>
                    </tr>
                    <tr>
                        <td>Version control</td>
                        <td>Document versioning & sharing </td>
                    </tr>
                    <tr>
                        <td>Secure Access</td>
                        <td>Share files securely</td>
                    </tr>
                    <tr>
                        <td>Mobile Access</td>
                        <td>Access on the go anytime anywhere </td>
                    </tr>
                    <tr>
                        <td>Access Rights</td>
                        <td>Document specific access and mark confidentiality</td>
                    </tr>
                    <tr>
                        <td>Searching through the files</td>
                        <td>Search on Title and Text within files</td>
                    </tr>
                </table>
            </div>
            <p><strong>Benefits</strong></p>
            <p style="text-align:justify;">
                A document management system like myKase offers a unified platform which is easy-to-use and navigate. myKase offers a central repository to store, organize, and retrieve all working and archival documents safely and securely ensuring accountability:
            </p>
            <ul>
                <li>A centralized document storage system, eliminating the need to source information from various sources.</li>
                <li>A multi-user access for document check-in and check-outs which promotes easy collaboration.</li>
                <li>Document versioning and sharing. </li>
                <li>Rights management option to provide document specific access and share confidential information securely.</li>
                <li>
                    A convenient search through the titles and files option for quick document location.<br>
                    <img src="/NewDesign/images/docfeatures.png" style="padding:0; display:inline;" class="img-responsive" alt="Documents Features">
                </li>
            </ul>
            <p style="text-align:justify;">An effective legal document management system can help organize all of your files and data in one place, keep track of your important and priority documents, speed up your workflow, improve accuracy and provide round the clock multi-user access to documents, from anywhere.</p><br><br>
        </div>
    </div>
</section>
