@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">expense management </h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:center;"><img src="~/NewDesign/images/expense-tiles.png" class="img-responsive" alt="expense management" /><br></p>
            <p>Expense management is a challenging, yet a pertinent aspect of maintaining a successful legal practice or business. Traditional modes of expense management are manual and demands time at every step of the way. <br><br></p>
            <p><strong>Expense management</strong> interface on myKase assists the stakeholders to capture expenses in a timely manner under four categories:</p>
            <ul>
                <li>Client wise
                <li>Matter-wise</li>
                <li>User wise</li>
                <li>Billable/Non-billable category.</li>
            </ul>
            <p><strong>Advantages and features: </strong></p>
            <ul>
                <li>Capture expenses in a timely manner, in  a centralized database. Ensures no gaps in accounting and audit occur.</li>
                <li>All components and supporting documents are stored, linked to the respective expense.</li>
                <li>Enables quick search and retrieval; anytime, anywhere.</li>
                <li>Record expenses on the go and attach the supporting receipts, before they are misplaced.</li>
                <li>Reduce frauds and manipulation.</li>
                <li>Analyse expenses and monitor spending.</li>
            </ul>
        </div>
    </div>
</section>
