@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<script>
    $(document).ready(function () {
        $('.trigger').click(function () {
            var clsd = $(this).attr("coltype");
            var dtt = $(this).attr("ttllbl");
            $(clsd).toggle();
            if ($(this).hasClass('collapsed')) {
                $(this).html('<span class="pmicon1">-</span> ' + dtt);
                $(this).removeClass('collapsed');
            } else {
                $(this).html('<span class="pmicon">+</span> ' + dtt);
                $(this).addClass('collapsed');
            }
        });
    });
</script>
<style>
    .trigger {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #d2d2d2;
    }

    .headtxt {
        color: #0067b8;
        margin: 0;
        padding: 10px 2px;
        font-size: 16px;
    }

        .headtxt:hover {
            background: #eaeaea;
            cursor: pointer;
        }

    .pmicon {
        height: 27px;
        width: 27px;
        border: 2px solid #636363;
        color: #636363;
        border-radius: 50%;
        padding: 3px 8px 3px 8px;
        font-weight: bold;
        font-size: 20px;
        font-family: arial;
    }

    .pmicon1 {
        height: 29px;
        width: 29px;
        border: 2px solid #636363;
        color: #636363;
        border-radius: 50%;
        padding: 1px 10px 6px 10px;
        font-weight: bold;
        font-size: 20px;
        font-family: arial;
    }

    .trigger_bottom {
        padding: 10px 0 10px 33px;
    }
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">frequently asked questions</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="trigger headtxt collapsed" coltype="#one" ttllbl="enterprise mobility solution"><span class="pmicon">+</span> enterprise mobility solution</div>
        <div class="col-md-12" id="one" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#one1" ttllbl="what does enterprise mobility mean?"><span class="pmicon">+</span> what does enterprise mobility mean?</div>
            <div class="trigger_bottom" id="one1" style="display:none;">Enterprise mobility (also known as business mobility) is the growing trend of businesses to offer remote working options, allow the use of personal laptops and mobile devices for business purposes and make use of cloud technology for data access.</div>
            <div class="trigger headtxt collapsed" coltype="#one2" ttllbl="why is myKase called an enterprise mobility solution?"><span class="pmicon">+</span> why is myKase called an enterprise mobility solution?</div>
            <div class="trigger_bottom" id="one2" style="display:none;">
                myKase enables the teams to do their jobs from anywhere using a variety of devices and applications. <br>
                It is an integrated digital workspace from where you can run your operations, manage your project and matters, and collaborate with the client from anywhere. It gives you instant authorised access from any device, to assign and manage tasks, monitor workflow, documents, dates, notifications. Teams collaborate and communicate efficiently across locations, offices and time zones to manage projects, matters and transactions seamlessly.
            </div>
            <div class="trigger headtxt collapsed" coltype="#one3" ttllbl="which professionals can use myKase?"><span class="pmicon">+</span> which professionals can use myKase?</div>
            <div class="trigger_bottom" id="one3" style="display:none;">
                myKase platform can be used by any professional, whether you are handling transactions, advisory, consulting projects, dispute resolution, internal or external projects of any nature, litigation case or any kind of matter or project.
                <ul>
                    <li>Lawyers can use it for Legal Practice management
                    <li>Professionals can use it for Project management
                    <li>Corporate can use it for transaction and matter management
                    <li>Teams can use it to collaborate</li>
                </ul>
            </div>
            <div class="trigger headtxt collapsed" coltype="#one4" ttllbl="what are the advantages of using enterprise mobility solutions for your operations, projects, practice, business et. all."><span class="pmicon">+</span> what are the advantages of using enterprise mobility solutions for your operations, projects, practice, business et. all.</div>
            <div class="trigger_bottom" id="one4" style="display:none;">
                <ul>
                    <li>Centralized andaccessible information and documents</li>
                    <li>Seamless collaboration</li>
                    <li>Effective communication</li>
                    <li>Paperless Workflow</li>
                    <li>Transparency across all users on the platform</li>
                    <li>Increase productivity</li>
                    <li>Reduce operational cost</li>
                    <li>Client Engagement</li>
                    <li>Enables faster reporting.</li>
                    <li>Data security</li>
                    <li>Mobility </li>
                    <li>Any time anywhere access</li>
                </ul>
            </div>
            <div class="trigger headtxt collapsed" coltype="#one5" ttllbl="what features should an effective enterprise mobility solution offer? "><span class="pmicon">+</span> what features should an effective enterprise mobility solution offer?</div>
            <div class="trigger_bottom" id="one5" style="display:none;">
                <strong>Enterprise mobility</strong> (a.k.a business mobility) is the next revolutionary upcoming trend of businesses using cloud technology for data access and to offer remote working options.It allows the employees to work from anywhere and at any time, and connect irrespective of the time and zone differences allowing the use of personal laptops and mobile devices for business purposes. Read  more on features -<br>
                @using System.Web.Configuration;
                @{
                    string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                }
                <a href="@BaseDomainURL/article-Enterprise-mobility-cloud-law-firm-management" target="_blank">@BaseDomainURL/Enterprise</a>
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#two" ttllbl="what is myKase?"><span class="pmicon">+</span> what is myKase?</div>
        <div class="col-md-12" id="two" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#two1" ttllbl="what is myKase?"><span class="pmicon">+</span> what is myKase?</div>
            <div class="trigger_bottom" id="two1" style="display:none;">myKase is a project &practice management software, developed by Manupatra, the leader in legal research in India since 2001. myKase helps professionals digitally manage and monitor their matters, projects and workflows. It provides a unified single platform wherein multiple persons can collaborate on various day to day functions seamlessly. </div>
            <div class="trigger headtxt collapsed" coltype="#two2" ttllbl="my operations and practice is not big, will myKase be beneficial for me?"><span class="pmicon">+</span> my operations and practice is not big, will myKase be beneficial for me?</div>
            <div class="trigger_bottom" id="two2" style="display:none;">
                myKase helps to manage and monitor operations and businesses of all sizes. Be it a project or a business with multiple offices across locations.
            </div>
            <div class="trigger headtxt collapsed" coltype="#two3" ttllbl="do I need matter management software to serve my clients better?"><span class="pmicon">+</span> do I need matter management software to serve my clients better?</div>
            <div class="trigger_bottom" id="two3" style="display:none;">
                Clients are your firm’s most valuable assets, and keeping them satisfied should be your top priority. Matter management software gives access to a portal which they can access anytime – anywhere. Set yourself apart from your competition by offering your clients, an on-demand access for the services you do for them, through a professional, organised client portal.
            </div>
            <div class="trigger headtxt collapsed" coltype="#two4" ttllbl="who has developed myKase? "><span class="pmicon">+</span> who has developed myKase? </div>
            <div class="trigger_bottom" id="two4" style="display:none;">
                Building on its knowledge and expertise of over 20 years, in delivering legal solutions by leveraging technology, Manupatra has conceived and developed <strong>myKase – An Enterprise Mobility Solution</strong>.
            </div>
            <div class="trigger headtxt collapsed" coltype="#two5" ttllbl="i am using few programs and software to manage tasks in my operations. Why should I consider myKase solution?"><span class="pmicon">+</span> i am using few programs and software to manage tasks in my operations. Why should I consider myKase solution? </div>
            <div class="trigger_bottom" id="two5" style="display:none;">
                myKase is a single unified platform. The entire premise on which myKase has been developed is to ensure that you don’t have to use multiple applications and software, and all the requisite features are available on one platform.<br>
                myKase has been built with a user-friendly interface that takes into account all aspects of your practice management with additional features like conflict check, limitation check, and more to make it the best enterprise mobility solution.
            </div>
            <div class="trigger headtxt collapsed" coltype="#two6" ttllbl="i am not used to any type of system and have been managing operations offline. Will we be able to induct myKase into our operations?"><span class="pmicon">+</span> i am not used to any type of system and have been managing operations offline. Will we be able to induct myKase into our operations?</div>
            <div class="trigger_bottom" id="two6" style="display:none;">
                If you want to use an enterprise management solution for the first time, or move your work to Cloud, then myKase is the solution for the transition of your operations. <br>
                myKase is easy to learn and simple to use. The user-friendly and intuitive interface is easily adaptable. In addition the myKase support team is trained and experienced to make sure that your induction to myKase is smooth and easy.
            </div>
            <div class="trigger headtxt collapsed" coltype="#two7" ttllbl="how does myKase deal with resistance to change on part of the team, to incorporate technology?"><span class="pmicon">+</span> how does myKase deal with resistance to change on part of the team, to incorporate technology?</div>
            <div class="trigger_bottom" id="two7" style="display:none;">
                myKase is easy to learn and simple to use. The user-friendly and intuitive interface is easily adaptable. Whether your team will be using a tech solution for the first time or migrating from another solution, the easy adaptability of the myKase platform makes the migration seamless. myKase support team will be your partner in ensuring that any queries from your team is handled in a stipulated time frame so that incorporation of myKase technology is smooth.
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#three" ttllbl="free trial"><span class="pmicon">+</span> free trial</div>
        <div class="col-md-12" id="three" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#three1" ttllbl="can I get a free trial of myKase?"><span class="pmicon">+</span> can I get a free trial of myKase?</div>
            <div class="trigger_bottom" id="three1" style="display:none;">
                Yes there is a 7 day Free Trial of myKase available
            </div>
            <div class="trigger headtxt collapsed" coltype="#three2" ttllbl="what features can I access during Free Trial subscription? "><span class="pmicon">+</span> what features can I access during Free Trial subscription? </div>
            <div class="trigger_bottom" id="three2" style="display:none;">
                You can access all the features during the Trial period available under the Enterprise Plan.
            </div>
            <div class="trigger headtxt collapsed" coltype="#three3" ttllbl="do I get support from myKase team, during the Trial period?"><span class="pmicon">+</span> do I get support from myKase team, during the Trial period?</div>
            <div class="trigger_bottom" id="three3" style="display:none;">
                Yes, you may contact our support team during the trial period at contact@mykase.in. Support would be available between 8:30 AM to 5:30 PM during weekdays.
            </div>
            <div class="trigger headtxt collapsed" coltype="#three4" ttllbl="how do I upgrade from a free trial to apaid subscription?"><span class="pmicon">+</span> how do I upgrade from a free trial to apaid subscription?</div>
            <div class="trigger_bottom" id="three4" style="display:none;">
                Let  myKase representative know of your intent to move to a paid subscription and they will guide you, including helping you select the best solution which meets your requirements. You can upgrade to a higher plan at any time by paying the pro rata difference in the subscription amount.
            </div>
            <div class="trigger headtxt collapsed" coltype="#three6" ttllbl="what happens to my free trial account data after the trial period concludes?"><span class="pmicon">+</span> what happens to my free trial account data after the trial period concludes?</div>
            <div class="trigger_bottom" id="three6" style="display:none;">
                Mykase will automatically delete the uploaded data/content on the 14th day from the start of your trial.  However, you can download the data/content before the end of 14th day or you can convert to a Paid subscription.
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#four" ttllbl="myKase product packages & solutions"><span class="pmicon">+</span> myKase product packages & solutions</div>
        <div class="col-md-12" id="four" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#four1" ttllbl="how does the subscription of myKase work?"><span class="pmicon">+</span> how does the subscription of myKase work?</div>
            <div class="trigger_bottom" id="four1" style="display:none;">
                myKase is a SAAS product, which offers Annual Subscription. The price is per license. There are 3 plans to choose from:
                <ol>
                    <li>Starter</li>
                    <li>Advance</li>
                    <li>Enterprise</li>
                </ol>
            </div>
            <div class="trigger headtxt collapsed" coltype="#four2" ttllbl="i have seen the demo of myKase, are all the features included or are there extra features/components?"><span class="pmicon">+</span> i have seen the demo of myKase, are all the features included or are there extra features/components?</div>
            <div class="trigger_bottom" id="four2" style="display:none;">
                myKase offers 3 plans to choose from:
                <ol>
                    <li>Starter</li>
                    <li>Advance</li>
                    <li>Enterprise</li>
                </ol>
                Click on each to see the features covered under the respective plan.
            </div>
            <div class="trigger headtxt collapsed" coltype="#four6" ttllbl="can I access myKase on phone and laptop simultaneously?"><span class="pmicon">+</span> can I access myKase on phone and laptop simultaneously?</div>
            <div class="trigger_bottom" id="four6" style="display:none;">
                Yes you can access your myKase account on two or more devices simultaneously.
            </div>
            <div class="trigger headtxt collapsed" coltype="#four7" ttllbl="is training & support included in the subscription price?"><span class="pmicon">+</span> is training & support included in the subscription price?</div>
            <div class="trigger_bottom" id="four7" style="display:none;">
                Initial online training and support is included in the subscription price. On premise training is included in Enterprise Solution.
            </div>
            <div class="trigger headtxt collapsed" coltype="#four8" ttllbl="what are the types of tribunals being covered in mykase?"><span class="pmicon">+</span> what are the types of tribunals being covered in mykase?</div>
            <div class="trigger_bottom" id="four8" style="display:none;">
                Types of tribunal being covered:
                <ul>
                    <li>Appellate tribunal for electricity</li>
                    <li>Central administrative tribunal</li>
                    <li>Central government industrial tribunal</li>
                    <li>Custom excise and service tax appellate tribunal</li>
                    <li>DRT/DRAT</li>
                    <li>Income tax appellate tribunal</li>
                    <li>National company law appellate tribunal</li>
                    <li>National company law tribunal</li>
                    <li>National consumer disputes redressal commission</li>
                    <li>AFT (Armed Forces tribunal)- Will be covered soon</li>
                    <li>NGT ( National Green Tribunal)-Will be covered soon</li>
                </ul>
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#five" ttllbl="signing up/subscription/payment/renewal"><span class="pmicon">+</span> signing up/subscription/payment/renewal</div>
        <div class="col-md-12" id="five" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#five1" ttllbl="how do I get started with myKase?"><span class="pmicon">+</span> how do I get started with myKase?</div>
            <div class="trigger_bottom" id="five1" style="display:none;">To get started, you have to sign up to myKase on <strong>www.mykase.in</strong> and share the username to <strong>contact@mykase.in</strong> for activation.</div>
            <div class="trigger headtxt collapsed" coltype="#five2" ttllbl="what happens if we do not renew? Who owns the data?"><span class="pmicon">+</span> what happens if we do not renew? Who owns the data?</div>
            <div class="trigger_bottom" id="five2" style="display:none;">
                Ownership of data is always with the client. Mykase employees have no access to your data. In case if you have opted for cloud version (we do not expect you will not renew) MyKase will keep your data for 3months from the date of expiry of the license. During this time you can download the data anytime through the export option.. Data includes files/memos/contacts/tasks/ etc.
            </div>
            <div class="trigger headtxt collapsed" coltype="#five3" ttllbl="how can I transition from one plan to another on myKase?"><span class="pmicon">+</span> how can I transition from one plan to another on myKase?</div>
            <div class="trigger_bottom" id="five3" style="display:none;">
                Please contact your Relationship Manager or mail to contact@mykase.in.
            </div>
            <div class="trigger headtxt collapsed" coltype="#five4" ttllbl="is there a binding lock-in period with myKase?"><span class="pmicon">+</span> is there a binding lock-in period with myKase?</div>
            <div class="trigger_bottom" id="five4" style="display:none;">
                No, there is no binding lock in period. However, if you decide to cancel subscription during the term of the subscription (we are confident you will never do that), myKase will not refund the subscription money for the unexpired period of subscription.
            </div>
            <div class="trigger headtxt collapsed" coltype="#five5" ttllbl="how long is the data safe till after I stop my subscription?"><span class="pmicon">+</span> how long is the data safe till after I stop my subscription?</div>
            <div class="trigger_bottom" id="five5" style="display:none;">
                myKase will keep your data on our secured servers for 3 months after the expiry of your subscription. You may download the data anytime during this period. In case you need assistance, please mail to contact@mykase.in. We will revert with the price you need to pay for our assistance to download the data.
            </div>
            <div class="trigger headtxt collapsed" coltype="#five7" ttllbl="do I have to pay per user/team member/client?"><span class="pmicon">+</span> do I have to pay per user/team member/client?</div>
            <div class="trigger_bottom" id="five7" style="display:none;">
                myKase subscription plan works on per user basis. For myKase a team member or a client is a unique user . You need to pay for the number of unique users who will be accessing myKase.
            </div>
            <div class="trigger headtxt collapsed" coltype="#five8" ttllbl="We have over 100 users in our office across different cities. Do you have an IP based subscription?">
                <span class="pmicon">+</span> We have over 100 users in our office across different cities. Do you have an IP based subscription?
            </div>
            <div class="trigger_bottom" id="five8" style="display:none;">
                Yes. Mykase offers an IP based subscription . Please email to contact@mykase.in and we will revert back with commercials.
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#six" ttllbl="access, confidentiality & rights management"><span class="pmicon">+</span> access, confidentiality & rights management</div>
        <div class="col-md-12" id="six" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#six1" ttllbl="what do you mean that there is anytime, anywhere access? "><span class="pmicon">+</span> what do you mean that there is anytime, anywhere access? </div>
            <div class="trigger_bottom" id="six1" style="display:none;">
                Anytime, Anywhere access means that you have an agile workplace. myKase brings your practice management to your devices that you can carry with you on the go, login from anywhere and keep up to date with the work.
            </div>
            <div class="trigger headtxt collapsed" coltype="#six2" ttllbl="does myKase takes care of confidentiality?"><span class="pmicon">+</span> does myKase takes care of confidentiality?</div>
            <div class="trigger_bottom" id="six2" style="display:none;">
                myKase treats confidentiality as a priority across its features range. The rights and access can be controlled by the admin, with different levels of rights and access for admin, partners and users to make sure that confidentiality is not compromised at any stage.
            </div>
            <div class="trigger headtxt collapsed" coltype="#six3" ttllbl="I don't want my associates to see my clients, is that possible? "><span class="pmicon">+</span> I don't want my associates to see my clients, is that possible? </div>
            <div class="trigger_bottom" id="six3" style="display:none;">
                Yes, your associates cannot see your client list. Associates will be able to see their clients only, however an admin can view clients of all the associates.
                <ul>
                    <li>Admin has access to everything on myKase.</li>
                    <li>If one of your associate is a Partner, then Partner will have access to everything for his team.</li>
                    <li>
                        If your associates have rights to create, view and edit client then they would be able to view and edit only those clients who are created by them.
                    </li>
                </ul>
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#seven" ttllbl="multiple geo locations & legancy data"><span class="pmicon">+</span> multiple geo locations & legancy data</div>
        <div class="col-md-12" id="seven" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#seven1" ttllbl="my practice has offices at different geographical locations, how can my team share their documents?"><span class="pmicon">+</span> my practice has offices at different geographical locations, how can my team share their documents?</div>
            <div class="trigger_bottom" id="seven1" style="display:none;">
                myKase is a cloud hosted solution that can be accessed from anywhere. Teams in different offices and geographical locations can collaborate, share documents, work on documents together easily through myKase.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven2" ttllbl="is there any limitation on the number of documents I can store or upload?"><span class="pmicon">+</span> is there any limitation on the number of documents I can store or upload?</div>
            <div class="trigger_bottom" id="seven2" style="display:none;">
                There is no limit to the number of documents that you can upload or store on the cloud. T&C apply.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven3" ttllbl="is there a limit to the file size that can be uploaded on myKase? "><span class="pmicon">+</span> is there a limit to the file size that can be uploaded on myKase?</div>
            <div class="trigger_bottom" id="seven3" style="display:none;">
                There is no limit to the file size that may be uploaded on myKase. However, we recommend not to upload any file of more than 5MB. In case your file size is more than 5MB we suggest you split the files. This will ensure faster upload.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven4" ttllbl="i have Legacy Data how do i include that on myKase? "><span class="pmicon">+</span> i have Legacy Data how do i include that on myKase? </div>
            <div class="trigger_bottom" id="seven4" style="display:none;">
                Data migration is a separate paid service that myKase offers. Contact our support team at contact@mykase.in.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven5" ttllbl="how much time will it take to upload /download files from mykase servers?"><span class="pmicon">+</span> how much time will it take to upload /download files from mykase servers?  </div>
            <div class="trigger_bottom" id="seven5" style="display:none;">
                Time taken to upload/download file will depend on your Internet bandwidth/speed and size of the files.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven6" ttllbl="how much is the storage?"><span class="pmicon">+</span> how much is the storage?  </div>
            <div class="trigger_bottom" id="seven6" style="display:none;">
                mykase provides 500GB storage per User.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven7" ttllbl="Is 500GB enough space for 1000 cases documents?"><span class="pmicon">+</span> Is 500GB enough space for 1000 cases documents?  </div>
            <div class="trigger_bottom" id="seven7" style="display:none;">
                We believe 500 GB is more than enough space to store case documents. However, the same will depend on the size of uploaded documents as well. And in case the full space is utilized then you can buy more space at Rs.25 per GB.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven8" ttllbl="i have 3000 cases, how can I add those cases to myKase?"><span class="pmicon">+</span> i have 3000 cases, how can I add those cases to myKase?  </div>
            <div class="trigger_bottom" id="seven8" style="display:none;">
                We can help you import the client and cases into myKase.
            </div>
            <div class="trigger headtxt collapsed" coltype="#seven9" ttllbl="is there any limit on the individual file size to upload in Document management?"><span class="pmicon">+</span> is there any limit on the individual file size to upload in Document management?  </div>
            <div class="trigger_bottom" id="seven9" style="display:none;">
                Yes, the individual file size is limited up to 100MB.
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#nine" ttllbl="cloud"><span class="pmicon">+</span> cloud</div>
        <div class="col-md-12" id="nine" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#nine1" ttllbl="why should we look at cloud based platform?"><span class="pmicon">+</span> why should we look at cloud based platform? </div>
            <div class="trigger_bottom" id="nine1" style="display:none;">
                <ul>
                    <li>Access to application is easy: You just need an Internet connection. No download or installation require – you can work online anywhere, anytime 24/7.</li>
                    <li>Customers have no hardware or software to buy, install, maintain, or update; free yourself from complex software and hardware management.</li>
                    <li>We will manage access to the application, including security, availability, and performance.</li>
                    <li>You can immediately start using the application without tedious implementation process.</li>
                    <li>Easily Scalable. Pay only for resources used, by automatically adjusting up and down depending on the usage level, which saves you money.</li>
                    <li>No need to install any applications on the user’s computer, most features runs in a web browser without downloading or installing any software.</li>
                    <li>Robust data back-up and recovery</li>
                    <li>Improved Client experience and efficiency</li>
                </ul>
            </div>
            <div class="trigger headtxt collapsed" coltype="#nine2" ttllbl="what are On-premise solutions?"><span class="pmicon">+</span> what are On-premise solutions?</div>
            <div class="trigger_bottom" id="nine2" style="display:none;">
                On premise solutions are also called legacy systems, which are expensive and, <br>
                <ul>
                    <li>They often require hours of support and training</li>
                    <li>Cost thousands per licence</li>
                    <li>Are difficult to implement</li>
                    <li>Security updates are slow</li>
                    <li>Are often unreliable and not glitch free </li>
                </ul>
            </div>
            <div class="trigger headtxt collapsed" coltype="#nine3" ttllbl="we have our own private cloud; can mykase be hosted on the same?"><span class="pmicon">+</span> we have our own private cloud; can mykase be hosted on the same?</div>
            <div class="trigger_bottom" id="nine3" style="display:none;">
                Yes. MyKase can be hosted on your private cloud. In this case myKase would not be responsible for data security or protection.
            </div>
        </div>
        <div class="trigger headtxt collapsed" " coltype="#ten" ttllbl="security"><span class="pmicon">+</span> security</div>
        <div class="col-md-12" id="ten" style="display:none;">
            <div class="trigger headtxt collapsed" coltype="#ten1" ttllbl="what level and type of security does myKase ensure?"><span class="pmicon">+</span> what level and type of security does myKase ensure? </div>
            <div class="trigger_bottom" id="ten1" style="display:none;">
                myKase ensures  world-class security (cloud version) for your data involves many aspects:
                <ul>
                    <li>
                        <strong>Physical security :</strong> mykase is hosted on Microsoft Azure. Which means your data is in data centers built and managed by Microsoft.
                    </li>
                    <li>
                        <strong>Cyber security :</strong> The cyber-protections (e.g. firewalls, encryption, filtering routers etc.) in Microsoft Azure data centres are state-of-the-art.
                    </li>
                    <li>
                        <strong>Geo-replication :</strong> To protect you against an unlikely and extreme catastrophe that disabled an entire data centre, everything in the data center is replicated in another data centre in a completely different geographical location.
                    </li>
                    <li>
                        <strong>Encryption :</strong> All transmissions of your data are done with 256-bit encryption – which is what banks use for your most sensitive financial data. All documents are encrypted as well.
                    </li>
                </ul>
            </div>
            <div class="trigger headtxt collapsed" coltype="#ten2" ttllbl="i have opted for myKase to be hosted on office server, what happens if the server crashes?"><span class="pmicon">+</span> i have opted for myKase to be hosted on office server, what happens if the server crashes?</div>
            <div class="trigger_bottom" id="ten2" style="display:none;">
                Unfortunately myKase has no control on your server or data. We suggest you have a robust back up policy for your data. The other option is to go for a hybrid model of myKase (Coming soon).
            </div>
        </div>
    </div>
</section>
