@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
    string trialdays = System.Web.Configuration.WebConfigurationManager.AppSettings["trialdays"].ToString();
}
@using System.Web.Configuration;
@{
    string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/Scripts/Firm/Pages/FirmRegistrationTrail.js?1.0"></script>
<style>
    .modal-dialog {
        max-width: 550px;
        margin: 10rem auto;
    }

    .modal-header {
        padding: 1px 1rem;
    }
</style>
<script>
    function CheckUser() {
        try {
            var struser = $("#tuserid").val();
            if (struser == "") {
                alert("Please enter username");
                return false;
            }
            else {
                $.ajax({
                    async: true,
                    url: '/api/WorkFlowNewApi/CheckUser',
                    type: 'POST',
                    headers: {
                        'username': struser
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        if (response.Status == true) {
                            // var datas = JSON.stringify(response);
                            if (response.Data == "0") {
                                $("#lblmsg").css("color", "green").val("Available");
                            }
                            else {
                                $("#lblmsg").css("color", "red").val("Not Available");
                            }
                        }
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            }
        }
        catch (err) {
            alert(err.message);
        }
    }
</script>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">register for free trial </h2>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@trialdays-days free trial</h3>
                <p>Agile Workplace, Centralised Workflow, Data Security, & More. Sign up for a @trialdays-days free trial and experience the efficiency legal technology brings about, with real-time updates and effective secure communication.</p>
            </div>
        </div>
    </div>
</section>
<section class="userinfo" id="userinfo">
    <div class="userinfo-head">
        <div class="container">
            <h2>user information </h2>
        </div>
    </div>
    <div class="container">
        <div class="userinfoform">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">First Name<sup>*</sup></label>
                                <input type="text" class="form-control" id="tfirstname" placeholder="" required maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Middle Name</label>
                                <input type="text" class="form-control" id="tmiddlename" placeholder="" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" id="tlastname" placeholder="" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Designation</label>
                                <input type="text" class="form-control" id="tDesignation" placeholder="" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Organisation Name<sup>*</sup></label>
                                <input type="text" class="form-control" id="tOrganisationName" placeholder="" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Mobile No<sup>*</sup></label>
                                <input type="text" class="form-control" id="tmobile" placeholder="" required maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email Id<sup>*</sup></label>
                                <input type="text" class="form-control" id="temail" placeholder="" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Organisation Size</label>
                                <select class="form-control" id="OrganisationSize"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Organisation Type</label>
                                <select class="form-control" id="OrganisationType"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">User Id<sup>*</sup> </label>
                                <input type="text" class="form-control" id="tuserid" name="tuserid" placeholder="" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" class="verifybtn" onclick="CheckUser();" style="width:140px;">Check Availability</button>
                                <input type="text" id="lblmsg" name="lblmsg" style="border:none !important;font-weight:bold !important; font-size:14px !important;" readonly />
                            </div>
                        </div>
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" id="" placeholder="" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4" style="display:none;">
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" id="" placeholder="" required maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Enter the captcha code</label>
                                <input type="text" name="txtcaptcha" id="txtcaptcha" placeholder="" class="form-control" maxlength="6" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="m_imgCaptcha" title="Captcha Code" style="color: #ffffff; font-size: 27px; background-image: url(/NewDesign/images/capcha_bg.png); width: 150px; height: 37px; margin: 0px 6px 0 0; float: left; text-align: center;">
                            </div>
                            <a style="display:block;" href="javascript:void;" onclick="fn_RefreshCaptcha();" id="RefreshCaptcha"> <img src="/NewDesign/images/capcha_rbtn.png" alt="reset" title="reset" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="margin:15px 0 0 0;">
                                <input name="chktnc" checked id="chktnc" type="checkbox" value="" style="float: left;margin: 0 6px 0 0px !important;">
                                <label for=""><span style="font-size:11px;">By creating an account, you are agreeing to our <a href="/home/TermsConditions" target="_blank">Terms of Service</a> and <a href="/home/Privacy" target="_blank">Privacy Policy</a></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" style="margin:15px 0 0 0;">
                                <button type="button" class="sbtbtn" id="btnsave">create account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;"><img src="/NewDesign/images/freetrail_popup.png" width="91" height="91"></p><br>
                    <p style="text-align: center;color: #5a5a5c;font-size: 24px;font-weight: 400;letter-spacing: -1px;padding: 0 127px;line-height: 30px;">Check your email to activate your account</p>
                    <p style="text-align: center; color: #7e7e7e;font-size: 12px; font-weight: normal; padding:20px 0;">If you didn't receive an email check your junk or spam folder or call <span style="color:#0059c1;">1-800-103-3550</span></p>
                </div>
            </div>
        </div>
    </div>
    <input id="hdncaptcha" name="hdncaptcha" type="hidden" value="" />
</section>
