@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<i class="pp-icon-user"></i>
<style>
    .addc:nth-last-child(odd) {
        color: green;
    }

    .addc:nth-last-child(even) {
        color: green;
    }
</style>
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var type = '@ViewBag.type'
     var filesize =@ViewBag.filesize;
            //console.log(type);
</script>
<script src="~/Scripts/Firm/Pages/HomePage.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/css/sampltes.css" rel="stylesheet" />
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<script>
    function GetRbtVal() {
        var selected = $("input[type='radio'][name='rbt']:checked");
        if (selected.length > 0) {
            $("#hidimgval").val(selected.val());
        }
    }
</script>
<style>
    ul.home_bg {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        ul.home_bg li {
            margin: 0 5px 0 0;
            padding: 0 0 0 7px;
            float: left;
            border: 1px solid #cccccc;
            border-radius: 2px;
        }

            ul.home_bg li input {
                margin: 0;
                padding: 0 0 0 0;
            }
</style>
<section class="wrapper" style="margin:unset !important">
    <div class="container showcontent" id="showcontent">
        <h2 class="title">Home Page<sup>new</sup></h2>
        <div class="col-md-12">
            <div class="row">
                <aside class="right-side">
                    <section class="content">
                        <form id="savedata" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-section-bordered">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Background Image <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <span>
                                                        <input type="hidden" id="hidimgval" value="1" />
                                                        <ul class="home_bg">
                                                            <li><input type="radio" value="1" checked name="rbt" onclick="GetRbtVal()" /><img src="/assets/img/t_banner_home.png" width="75px" height="68px"></li>
                                                            <li><input type="radio" value="2" name="rbt" onclick="GetRbtVal()" /><img src="/assets/img/t_banner_home1.png" width="75px" height="68px"></li>
                                                            <li><input type="radio" value="3" name="rbt" onclick="GetRbtVal()" /><img src="/assets/img/t_banner_home2.png" width="75px" height="68px"></li>
                                                            <li><input type="radio" value="4" name="rbt" onclick="GetRbtVal()" /><img src="/assets/img/t_banner_home3.png" width="75px" height="68px"></li>
                                                            <li><input type="radio" value="5" name="rbt" onclick="GetRbtVal()" /><img src="/assets/img/t_banner_home4.png" width="75px" height="68px"></li>
                                                        </ul>
                                                    </span>
                                                </div>
                                            </div>
                                            <div style="height:10px; width:100%; overflow:hidden;">&nbsp;</div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Your Logo <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    @*<span class="btn btn-file file-upload-buttons">*@
                                                    @*<span class="fileupload-new"><span class="glyphicon glyphicon-paperclip"></span> Upload Picture</span> <span class="fileupload-exists"><span class="glyphicon glyphicon-repeat"></span> Change</span>*@
                                                    <input type="file" class="default " name="attachment" id="attachment" accept="image/*">
                                                    <input type="hidden" id="hidlogopath" />
                                                    @*</span>*@
                                                    <div id="divlogoimg" style="display:none;"><img id="imglogo" style="margin-top:10px !important;" height="32px" width="158px" /></div>
                                                    <div><span> (Logo image size should be 199 x 53 pixels) </span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="display:none">
                                                <div class="form-group">
                                                    <label>Logo Position </label>
                                                </div>
                                            </div>
                                            <div class="col-md-10" style="display:none">
                                                <div class="form-group">
                                                    <input type="radio" name="position" value="right" checked> Right   &nbsp;<input type="radio" name="position" value="left"> Left
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="clear:both">
                                                <div class="form-group">
                                                    <label>Heading <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" style="width:602px !important;" class="default photo-attachment form-control hsettingtxt" name="heading" id="heading" required size="100">
                                                </div>
                                            </div>
                                            <div style="height:10px; width:100%; overflow:hidden;">&nbsp;</div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Your Text </label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <textarea ID="yourtext" value=""></textarea>
                                                    <div class="grid-container" style="display:none">
                                                        <div id="editor">
                                                        </div>
                                                        <script>
                                                            initSample();
                                                            CKEDITOR.replace('yourtext', {
                                                                toolbar:
                                                                    [
                                                                        { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] },
                                                                        { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'TextColor', 'BGColor'] },
                                                                        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                                        { name: 'tools', items: ['Maximize'] },
                                                                        { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] }
                                                                    ],
                                                                alignment: {
                                                                    options: ['left', 'right']
                                                                },
                                                                height: 100,
                                                                width: 600
                                                            });
                                                            CKEDITOR.config.allowedContent = true;
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="height:10px; width:100%; overflow:hidden;">&nbsp;</div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> About Us <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <textarea ID="aboutus" value=""></textarea>
                                                    <div class="grid-container" style="display:none">
                                                        <div id="editor">
                                                        </div>
                                                        <script>
                                                            //initSample();
                                                            CKEDITOR.replace('aboutus', {
                                                                toolbar:
                                                                    [
                                                                        { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] },
                                                                        { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'TextColor', 'BGColor'] },
                                                                        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                                        { name: 'tools', items: ['Maximize'] },
                                                                        { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] }
                                                                    ],
                                                                height: 200,
                                                                width: 600
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="height:10px; width:100%; overflow:hidden;">&nbsp;</div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label> Services <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <textarea ID="services" value=""></textarea>
                                                    <div class="grid-container" style="display:none">
                                                        <div id="editor">
                                                        </div>
                                                        <script>
                                                            //initSample();
                                                            CKEDITOR.replace('services', {
                                                                toolbar:
                                                                    [
                                                                        { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'] },
                                                                        { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'TextColor', 'BGColor'] },
                                                                        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                                        { name: 'tools', items: ['Maximize'] },
                                                                        { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] }
                                                                    ],
                                                                height: 200,
                                                                width: 600
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height:10px; width:100%; overflow:hidden;">&nbsp;</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="title">Contact Us</h2>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Your Address <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                    <input type="text" class="default photo-attachment form-control hsettingtxt" name="address" id="address" required size="500">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Your Phone Number <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                    <input type="text" class="default photo-attachment form-control hsettingtxt" name="phonenumber" id="phonenumber" maxlength="16">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Your Email Id <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                    <input type="text" class="default photo-attachment form-control hsettingtxt" name="emailid" id="emailid" size="100">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Your Website Name <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                    <input type="url" class="default photo-attachment form-control hsettingtxt" name="website" id="website" size="100">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <button type="button" id="btnsubmit" class="sbtbtn">save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                    <div id="myOverlayhome" class="overlay">
                        <div class="overlay-content">
                            <div class="spinner2">
                                <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
