@{
    Layout = "~/Views/Shared/_NewHomePartial.cshtml";
    var datesf = ViewBag.datesf;
}
@{
    var currentdomain = "https://www.mykase.in";
}
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KXS3CMMTN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-7KXS3CMMTN');
</script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("#btnnn").toggle();
        });
        $('.trigger-more').click(function () {
            if ($(this).hasClass('collapsed')) {
                $(this).text('- less');
                $(this).removeClass('collapsed');
            } else {
                $(this).text('+ more features');
                $(this).addClass('collapsed');
            }
        });
    });
</script>
<script>
    function ModalClose() {
        document.getElementById("showMe").style.display = "none";
    }
</script>
<style>
    .banner_container {
        background: #030e1f;
        -webkit-box-shadow: -1px 0px 18px -7px rgba(0,0,0,1);
        -moz-box-shadow: -1px 0px 18px -7px rgba(0,0,0,1);
        box-shadow: -1px 0px 18px -7px rgba(0,0,0,1);
    }

    .trigger-more {
        border: none;
        background: transparent;
        font-size: 18px;
        color: #337ab7;
        margin: 10px 0 0 0;
    }

    #showMe1 {
        width: 200px;
        height: 100px;
        border: solid 1px black;
        /* margin-bottom: 5px; */
        margin: 0 auto;
        position: absolute;
        z-index: 1000;
        background: #fff;
        left: 40%;
    }

    .modal_a {
        position: fixed;
        z-index: 9999999999;
        padding-top: 90px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }

    .modal_a-content {
        background-color: #fefefe;
        margin: -10px auto 0;
        padding: 10px 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 650px;
        height: 500px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .close_a {
        position: relative;
        right: -20px;
        top: -22px;
        float: right;
    }

        .close_a:hover, .close_a:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    #mykasevideo .modal-dialog {
        max-width: 642px;
        margin: 90px auto;
    }

    #mykasevideo .modal-body {
        padding: 10px;
    }
</style>
<script type="">
    $(document).ready(function () {
        var hiddenDiv = $("#showMe");
        var show = function () {
            hiddenDiv.fadeIn();
        };
        hiddenDiv.hide();
        setTimeout(show, 0000);
        $("#bannerdiv").click(function () {
            $("#bannerdivpanel").hide();
            $("#enquireydiv").show();
        });
    });
</script>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="banner_container"><img data-toggle="modal" data-target="#mykasevideo" style="cursor:pointer;" src="/NewDesign/images/banner.png" alt="Enterprise Mobility" class="img-responsive" /></div>
            </div>
        </div>
    </div>
</section>
<section class="demorequest" id="demorequest" style="display:none;">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <P>
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -19px;
    margin-right: -14px;">
                            &times;
                        </button>
                    </P>
                    <p style="text-align: center;
    color: #5a5a5c;
    font-size: 12px;
    border: 1px solid #9fd29f;
    border-radius: 5px;
    padding: 8px 3px 7px 1px;
    margin-top: 30px;">
                        Thank you for your interest in myKase.
                        <br> Our representative will contact your shortly.
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="mykasevideo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:5px 13px;">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <video width="100%" controls>
                    <source src="/NewDesign/images/mykase.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
</div>