
@{

    Layout = "~/Views/Shared/_NewHomePartial.cshtml";
    //Layout = null;
    var datesf = ViewBag.datesf;
    // Response.Write(datesf);
}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NFX573FMY3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NFX573FMY3');
</script>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("#btnnn").toggle();
        });

        $('.trigger-more').click(function () {
            if ($(this).hasClass('collapsed')) {
                $(this).text('- less');
                $(this).removeClass('collapsed');
            } else {
                $(this).text('more features +');
                $(this).addClass('collapsed');
            }
        });
    });
</script>
<script>
    function ModalClose() {
        document.getElementById("showMe").style.display = "none";
    }
</script>
<style>

    .trigger-more {
        border: none;
        background: transparent;
        font-size: 18px;
        color: #337ab7;
        margin: 10px 0 0 0;
    }

    #showMe1 {
        width: 200px;
        height: 100px;
        border: solid 1px black;
        /* margin-bottom: 5px; */
        margin: 0 auto;
        position: absolute;
        z-index: 1000;
        background: #fff;
        left: 40%;
    }

    .modal_a {
        position: fixed;
        z-index: 9999999999;
        padding-top: 90px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.8);
    }

    .modal_a-content {
        background-color: #fefefe;
        margin: -10px auto 0;
        padding: 10px 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 650px;
        height: 500px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .close_a {
        position: relative;
        right: -20px;
        top: -22px;
        float: right;
    }

        .close_a:hover, .close_a:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<script type="">
    $(document).ready(function () {
        var hiddenDiv = $("#showMe");
        var show = function () {
            hiddenDiv.fadeIn();
        };

        hiddenDiv.hide();
        setTimeout(show, 0000);

        $("#bannerdiv").click(function () {
            $("#bannerdivpanel").hide();
            $("#enquireydiv").show();



        });
    });
</script>

<div id="showMe" class="modal_a">
    <div class="modal_a-content">
        <img src="/NewDesign/images/v_btn.png" class="close_a" onclick="ModalClose()" width="22px" height="22" />

        <div style="position: relative;top: -22px;" id="bannerdivpanel" ><img src="/NewDesign/images/myCase-home-floater1.png" class="img-responsive" />
		<a href="#" id="bannerdiv" style="position: relative;bottom: 131px;left: 137px;"><img src="/NewDesign/images/one.png" /></a>
		<a href="https://mykase.manupatra.com/etc/mailer/mobility_solution/myKase.pdf" target="_blank" style="position: relative;bottom: 131px;right: -145px;"><img src="/NewDesign/images/two.png" /></a>
		</div>
        <div id="enquireydiv" style="display:none">

            <iframe width="100%" height="460px" frameborder="0" src="/home/MykaseEnquiry"></iframe>
        </div>

    </div>
</div>


<section class="banner" style="background:#56778a;">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/NewDesign/images/banner_home.png" alt="Enterprise Mobility" width="100%" height="270px">
                </div>
                @*<div class="carousel-item">
                    <img src="/NewDesign/images/diwali.png" alt="Happy Diwali" width="100%" height="270px">
                </div>*@

            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>seamless collaboration </h3>
                <p>enabling teams across geographies, functions, projects, generations to work together with real-time updates and effective secure communication.</p>
            </div>
            <div class="col-md-4">
                <h3>streamlined workflow</h3>
                <p>increasing the organization's efficiency by simplifying tasks, bypassing unnecessary steps, weeding out conflicts, optimal use of resources and cutting out duplication. </p>
            </div>
            <div class="col-md-4">
                <h3>centralized information</h3>
                <p>central repository to store, organize, retrieve data and information, accessible anytime - anywhere. Enhances data reliability, minimises data redundancy, ensures accurate and consistent information.</p>
            </div>
        </div>
    </div>
</section>
<section class="features" id="features">
    <div class="features-head">
        <div class="container">
            <h2>features</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f6.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>client portal</h4>
                    <h5>A digital interface between you and each client to collaborate from anywhere, bringing...<span><a href="/home/ClientPortal" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f9.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>communication</h4>
                    <h5>Teams collaborate and communicate efficiently across locations, offices and time zones....<span><a href="/home/Communication" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f2.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>document management</h4>
                    <h5>Central repository to store, organize, and retrieve working and archival documents...<span><a href="/home/DocumentManagement" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f15.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>integration</h4>
                    <h5>Frequently used applications integrated  to talk to each other and act as a coordinated whole...<span><a href="/home/Integration" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f3.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>knowledge</h4>
                    <h5>Create, share, use and manage the knowledge and information assets of your organization...<span><a href="/home/Knowledge" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f1.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>matter management </h4>
                    <h5>Documents, communication, tasks, dates, contacts, court hearings, time entry for...<span><a href="/home/MatterManagement" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f17.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>mobile app</h4>
                    <h5>Anytime – anywhere, access on the go with the myKase mobile app iPhone and Android-compatible...<span><a href="/home/MobileApp" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f13.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>security</h4>
                    <h5>A secure cloud based platform with multi-level security that brings you peace of mind...<span><a href="/home/Security" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f7.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>task</h4>
                    <h5>Assign tasks, accept, reject, reassign, due dates, status of tasks, overdue, alerts, reminders et all...<span><a href="/home/task" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-sm-12 text-right">
                <button class="trigger-more collapsed">+ more features </button>
            </div>
        </div>
        <div class="row" id="btnnn" style="display:none;">
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f11.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>alerts</h4>
                    <h5>Automated alerts and notifications ensure you don’t miss any key dates and deadlines...<span><a href="/home/Alerts" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f14.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>calendar</h4>
                    <h5>Never miss a deadline with powerful calendaring. Keep your to-do list organized...<span><a href="/home/Calendar" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f18.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>conflict check</h4>
                    <h5>Comprehensive Conflict Checking ensure that any new proposed engagement, does not...<span><a href="/home/ConflictCheck" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f8.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>contacts</h4>
                    <h5>Convert your multiple business contact lists into one unified address book, manage relationships...<span><a href="/home/Contacts" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f10.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>expense management</h4>
                    <h5>Capture expenses in a timely manner and save receipts and bills digitally...<span><a href="/home/ExpenseManagement" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f5.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>invoice</h4>
                    <h5>A simplified billing and invoice system....<span><a href="/home/Invoice" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f12.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>reports</h4>
                    <h5>Comprehensive, easy to generate and easy to read reports, on various tasks, financials...<span><a href="/home/Reports" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f19.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>search</h4>
                    <h5>Search function enabled for users to locate information fast by searching for specific words or phrases...<span><a href="/home/Search" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="f_icon"><img src="/NewDesign/images/f16.png" width="82" height="83"></div>
                <div class="f_des">
                    <h4>time entry</h4>
                    <h5>Effortless timekeeping through prominently displayed time recorder across tasks and matters...<span><a href="/home/TimeEntry" target="_blank"><img src="/NewDesign/images/readmore_icon.png" width="16" height="17" alt="Read more"></a></span></h5>
                </div>
            </div>
        </div><br /><br />
    </div>
</section>

<!--<section class="solution" id="solutions">
    <div class="solution-head">
        <div class="container">
            <h2>solutions</h2>
        </div>
    </div>
    <div class="container">

        <h3><strong>Efficient, Secure</strong> and <strong>Collaborative</strong> working whether you are in the office or working remotely.</h3>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="vs-shadow-dark" style="border-top:13px solid #e39d05;">
                    <div class="head-icon">

                        <h4>starter</h4>
                        <p><img src="~/NewDesign/images/s1.png" width="73" height="73" /></p>

                        <ul>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="vs-shadow-dark" style="border-top:13px solid #85d000;">
                    <div class="head-icon">

                        <h4>advance</h4>
                        <p><img src="~/NewDesign/images/s2.png" width="73" height="73" /></p>

                        <ul>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-6">
                <div class="vs-shadow-dark" style="border-top:13px solid #0059c1;">
                    <div class="head-icon">

                        <h4>enterprise</h4>
                        <p><img src="~/NewDesign/images/s3.png" width="73" height="73" /></p>

                        <ul>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                            <li>Powerful Reporting</li>
                            <li>Customisable Workflows</li>
                            <li>Third Party Integrations</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="demorequest" id="demorequest">
    <div class="demorequest-head">
        <div class="container">
            <h2>request for demo </h2>
        </div>
    </div>
    <div class="container">
        <div class="demorequestform">
            <form id="democontact">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">name</label>
                            <input type="text" class="form-control" id="demoname" placeholder="" required maxlength="30">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">email</label>
                            <input type="email" class="form-control" id="demoemail" placeholder="" required maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">phone</label>
                            <input type="text" class="form-control" id="demophone" placeholder="" required maxlength="10">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" class="sbtbtn" id="SaveDemocontact">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <P>
                        <button type="button" class="close" data-dismiss="modal" style="margin-top: -19px;
    margin-right: -14px;">
                            &times;
                        </button>
                    </P>
                    <p style="text-align: center;
    color: #5a5a5c;
    font-size: 12px;
    border: 1px solid #9fd29f;
    border-radius: 5px;
    padding: 8px 3px 7px 1px;
    margin-top: 30px;">
                        Thank you for your interest in myKase.
                        <br> Our representative will contact your shortly.
                    </p>
                </div>
                <br>
            </div>

        </div>
    </div>

</section>
