
@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}

<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">invoice</h2>
    </div>
</section>
<section class="discover">
    
    <div class="container">
	<div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
	<p style="text-align:justify;">MyKase offers a comprehensive invoice management module for anorganization’s invoicing needs. It enables the office or the practice to generate an invoice and forward to the intended recipient with one click.<br><br></p>
	<ol>
	<li><strong>Improved transparency:</strong> Due to the changing dynamics of client-lawyer/business relationship, organizations are investing in good business practices to ensure client satisfaction.</li> 
<li><strong>Improved Speed:</strong> e-billing and invoicing tools reduce the time a lawyer spends in tracking billable hours and reviewing payment sheets.</li> 
<li><strong>Improves data analytics:</strong>  an electronic invoicing system can promote data driven culture between the client and the firm, by capturing metrics. This encourages the firm to make business decisions based on pricing models which are commercially feasible. </li>
<li><strong>Boosts client trust:</strong> with consistent compliance to the client billing needs, less time is devoted by both the parties in dispute resolution, due to increased transparency and mutual trust.</li>
	</ol>
	<p><strong>HOW IT WORKS</strong> </p>
	<p><img src="/NewDesign/images/invoice.png" class="img-responsive"></p><br>
	<p><strong>Features</strong></p>
	<ol>
	<li>As a one-time task, customize the invoice template with the organization’s logo and details, taxes, invoice series and special billing instructions.</li>
	<li>Users can simply use the template online and issue invoices with all details being stored centrally for easy view, review and follow up.</li>
	<li>Input payment received against each invoice, with provision to enter multiple payments against one invoice.</li>
	<li>Any kind of overpayments / due amount are displayed on the invoice dashboard which can be conveniently edited.</li> 
	<li>Online Track of  payment received.</li> 
	<li>Reminders can be set for overdue payments.</li>
	<li>Enables quick search and retrieval anytime – anywhere.</li>
	<li>Generated E-Bill can be downloaded and e-mailed, on the go.</li> 
	</ol>
    </div>
</section>



