@{
    Layout = "~/Views/Shared/_NewHomePartial.cshtml";
}
<section class="banner">
    <div class="container">
        <div class="banner-img" style="background:url(/NewDesign/images/banner_home.jpg) no-repeat bottom center;">
            <h2>knowledge management</h2>
        </div>
    </div>
</section>
<section class="discover">
    <div class="userinfo-head">
        &nbsp;
    </div>
    <div class="container">
        <p style="text-align:center; font-size:14px;"><em>To borrow from Darwin’s concept, the species that survives is the one that is able best to adapt and adjust to <br>the changing environment in which it finds itself.</em></p>
        <br /><br />
        <p>
            For the legal practice, in the pre COVID times too, given the multi locations, multi assignments /cases, large teams set up, a unified single platform which offered centralized information, seamless collaboration and streamlined workflow was much needed.
        </p><br />
        <p>With the new emerging normal of geographically dispersed teams, minimal client interaction, video meetings and hearings; an efficient, secure and collaborative working platform is a pre requisite, whether you are working from the office, or remotely. </p><br />
        <p>Building on its knowledge and expertise of over 20 years, in delivering legal solutions by leveraging legal technology, Manupatra has conceived and developed <strong>myKase</strong> – A legal practice management software. </p><br />
        <p>myKase is an integrated digital workspace, where you can combine tasks, notifications, reports and dashboards with workflow, document management, collaboration and messaging, so your team and your client can manage projects, cases  and transactions seamlessly and efficiently. </p> <br />
        <p>myKase is flexible, user-friendly and integrates with other leading-edge technology, allowing legal professionals and in-house corporate legal departments to seamlessly collaborate, share and  engage with clients and colleagues to ensure efficient delivery.   </p><br />
        <p>If you or your team are trying to manage client and case records, documents, hearing dates, schedules, deadlines, billing, expenses, reports, communication and related operations manually or with several different programs, myKase is the all-in-one solution which can completely transform the way your firm operates. It streamlines your daily operations and manages all aspects of your firm from one point. </p> <br />
        <p>Security is paramount in development of myKase. It is designed based on multi layered architecture with 256-bit SSL (security standards used by the banks for online delivery), and is hosted on Azure Cloud. When being accessed, data is transmitted using an encrypted secure connection. Data storage is on cloud with geo location backups on. A 2 step authentication enables double security.</p><br />
        <p>Enhanced efficiency, better time management, updated clients, low duplicity and redundancy are the key changes that <strong>mykase</strong> promises. Enjoy all this at a minimum cost and the promise of Manupatra service support and be a part of an experience set to revolutionize the legal industry.   </p>
        <br /><br />
        <p>We look forward to induct myKase into your practice!   </p>
        </p>
    </div>
</section>
