@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .img-responsive {
        display: block;
        text-align: center;
        margin: 0px auto;
        height: auto;
        max-width: 100%;
    }

    .social_share {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }

        .social_share li {
            margin: 0;
            padding: 0;
            float: left;
        }
</style>
<section class="inner-banner blog_bg">
    <div class="container">
        <h2 class="blog_head">5 Reasons why you need a Knowledge Management System</h2>
    </div>
</section>
<section class="discover" id="article">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <ul class="social_share">
                <li style="padding:0 6px 0 0;">SHARE</li>
                <li style="padding:0 2px 0 0;">
                    @using System.Web.Configuration;
                    @{
                        string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                    }
                    <a target="_new" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=@BaseDomainURL/article-client-knowledge-management-lawpracticemanagement&amp;p[title]=5 Reasons why you need a Knowledge Management System&amp;p[summary]=In simple terms, Knowledge Management streamlines the process of capturing, distributing, and effectively using knowledge."><img src="/NewDesign/images/sf1.png" class="img-responsive" /></a>
                </li>
                <li style="padding:0 2px 0 0;"><a id="socialnetwork" title="Share on LinkedIn" target="_new" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@BaseDomainURL/article-client-knowledge-management-lawpracticemanagement&amp;title=5 Reasons why you need a Knowledge Management System&amp;summary=In simple terms, Knowledge Management streamlines the process of capturing, distributing, and effectively using knowledge.&amp;source=@BaseDomainURL/article-client-knowledge-management-lawpracticemanagement"><img src="/NewDesign/images/sl1.png" class="img-responsive" /></a></li>
                <li><a title="Share on Twitter" target="_new" href="http://twitter.com/share?text=5 Reasons why you need a Knowledge Management System&url=@BaseDomainURL/article-client-knowledge-management-lawpracticemanagement"><img src="/NewDesign/images/st1.png" class="img-responsive" /></a></li>
                <li style="padding:0 0 0 2px;"><a title="Check our Instagram" href="https://www.instagram.com/mykase.manupatra/" target="_new"><img src="/NewDesign/images/sin1.png" class="img-responsive" /></a></li>
            </ul>
        </div><br><br>
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:14px; text-align:center;"><strong><em>“…And knowledge management is the means, not an end”</em></strong><br>Bill Gates </p>
            </div>
            <div class="col-md-12">
                <br>
                <p style="text-align:justify; font-size:16px; color:#0059c1;"><strong>Legal Practice and Knowledge Centres </strong></p><br>
                <p style="text-align:justify;">
                    The sight of haphazardly piled-up files, bookshelves lined with issues of various legal referencers, desktops setup in corners of the office,are alla commonsight in a  lawyer’s office. Legal research is the only area of legal practice which has witnessed some dependency on technology. Client details, updates of case files, case notes, and briefs are still scribbled on legal papers and pads tucked away safely in a book, a stray file, in drawers or above the bookshelves.This is evidence that knowledge management is not a strong skill of many law practices currently.
                </p>
                <p style="text-align:justify;">This gap became further obvious when the pandemic resulted in a complete shutdown of offices and courts. Apart from the anxiety of adopting to a new regime of virtual courts, the most evident challenge faced by the lawyers was to access their case files, forms, case interpretations, and notes which they had acquired over the years, and which lay scattered in various files, folders,drawers and computer systems. </p>
                <br>
                <p style="text-align:justify; font-size:16px; color:#0059c1;"><strong>What is Knowledge Management?</strong></p><br>
                <p style="text-align:justify;">In simple terms, Knowledge Management streamlines the process of capturing, distributing, and effectively using knowledge. When an organization is able to easily access, share, and update business knowledge, it can become more productive and cost-efficient. The ability to access the right knowledge at the right time, in least possible time, not only increases productivity, but also enables accurate decision-making, and stimulates collaboration and innovation.</p><br>
                <p style="text-align:justify;">Knowledge can be broadly classified into tacit and explicit. </p>
                <ul>
                    <li>Tacit knowledge is the sum of personal experiences and views as a reaction to our surroundings and situations. It is intuitive and so difficult to pack and share with others.</li>
                    <li>Explicit knowledge on the other hand is codified information that is easily taught, packaged, and shared. </li>
                </ul>
                <p style="text-align:justify;">An effective knowledge management system combines explicit knowledge and individual knowledge built through experiences into a depository of applicable information. </p><br>
                <p style="text-align:justify; font-size:16px; color:#0059c1;"><strong>Five ways in which Knowledge Management can increase a law practice’s efficiency:</strong></p><br>
                <p style="text-align:justify;">
                    <strong>1. Systematized Aggregation of outgoing members Knowledge</strong><br>
                    Every time there is an exit from the firm, the exiting lawyer takes away valuable insights, tacit knowledge, and experiences with them. Firms that discover a way to make use of this exclusive knowledge, emerge winners. Knowledge management can assist in filling these gaps created by the departure of team members by establishing a technological framework of capturing, maintaining, and sharing experiences.
                </p><br>
                <p style="text-align:justify;">
                    <strong>2. Client Satisfaction and Delight </strong><br>
                    Clients today are used to fast turnaround time and high-quality services, riding on similar experiences from various service providers. They thus expect real time resolution of their queries, information sharing and greater efficiencies overall. Centralised knowledge repository accessible from the Cloud, assist the lawyers in client servicing, in the manner in which they demand, ensuring client delight. The knowledge management may also result in significant cost savings when previous research, data and information can be applied.
                </p><br>
                <p style="text-align:justify;">
                    <strong>3. Increased Collaboration and Smarter Workforce </strong><br>
                    Information and knowledge sharing is enhanced by freeing it from silos like e-mails, network drives, desktops etc.By integrating tacit and explicit knowledge database, the lawyers and law firms, through the assistance of a knowledge management system, deliver tailored solutions to specific problems. Automation of administrative formalities enables lawyers to focus more on the crucial aspects of legal problems.
                </p><br>
                <p style="text-align:justify;">
                    <strong>4. On-boarding and Training Optimized  </strong><br>
                    Knowledge Management system can be ably used to train new team members and interns. With information, SOP (Standard Operating Procedures), Rules, Regulations, drafts available in a structured repository, it becomes easier for the trainer and trainee to access. These systems support various file types including audio and video thus facilitating the process.
                </p><br>
                <p style="text-align:justify;">
                    <strong>5. Duplication of Efforts Minimised </strong><br>
                    With all knowledge available at a single point, which is accessible and searchable, practices may not recreate the wheel, wasting time and resources to research and re-create knowledge, which has been extensively researched by the firm previously.
                </p><br><br>
                <p style="text-align:justify;">
                    <strong>Conclusion</strong><br>
                    The need today is not the integration of traditional legal practices with technology, but to enable a tectonic shift towards building an eco-system of effective knowledge management tools. Lawyers and firms have not been shy in adopting technology into their office management practices. However, when it comes to effectively compiling a database of their knowledge and experiences, setting up a result-oriented institution of the research and studies they have devoted resources in, there exists a considerable gap. The pandemic has proven that technology is here to stay and it is the only way forward, its time lawyers match their pace with the changing regime.
                </p><br>
            </div>
        </div>
    </div>
    </div>
</section>
<br />
<br />
<br />
</body>
</html>