@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .img-responsive {
        display: block;
        text-align: center;
        margin: 0px auto;
        height: auto;
        max-width: 100%;
    }

    .social_share {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }

        .social_share li {
            margin: 0;
            padding: 0;
            float: left;
        }
</style>
<section class="inner-banner blog_bg">
    <div class="container">
        <h2 class="blog_head">legal technology</h2>
    </div>
</section>
<section class="discover" id="article">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <ul class="social_share">
                <li style="padding:0 6px 0 0;">SHARE</li>
                <li style="padding:0 2px 0 0;">
                    @using System.Web.Configuration;
                    @{
                        string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                    }
                    <a target="_new" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=@BaseDomainURL/article-lawyer-Legal-technology-competence&amp;p[title]=Legal Technology&amp;p[summary]=Legal Tech is now part of the paradigm of practicing law for all lawyers -
Not being abreast is no longer an option."><img src="/NewDesign/images/sf1.png" class="img-responsive" /></a>
                </li>
                <li style="padding:0 2px 0 0;">
                    <a id="socialnetwork" title="Share on LinkedIn" target="_new" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@BaseDomainURL/article-lawyer-Legal-technology-competence&amp;title=Legal Technology&amp;summary=Legal Tech is now part of the paradigm of practicing law for all lawyers -
Not being abreast is no longer an option.&amp;source=@BaseDomainURL/article-lawyer-Legal-technology-competence"><img src="/NewDesign/images/sl1.png" class="img-responsive" /></a>
                </li>
                <li>
                    <a title="Share on Twitter" target="_new" href="https://twitter.com/share?text=Legal Technology - Legal Tech is now part of the paradigm of practicing law for all lawyers -
Not being abreast is no longer an option.&url=@BaseDomainURL/article-lawyer-Legal-technology-competence"><img src="/NewDesign/images/st1.png" class="img-responsive" /></a>
                </li>
                <li style="padding:0 0 0 2px;"><a title="Check our Instagram" href="https://www.instagram.com/mykase.manupatra/" target="_new"><img src="/NewDesign/images/sin1.png" class="img-responsive" /></a></li>
            </ul>
            <h1 style="clear:both; margin:40px 0 0 0;">Legal Tech is now part of the paradigm of practicing law for all lawyers - <br>Not being abreast is no longer an option.</h1><br>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">So what is Legal Technology?</p>
            <p style="text-align:justify;">
                Simply put, legal technology essentially means the use of technology and software by the legal industry to provide and aid legal services, and bring about greater efficiency in their practice. Traditional areas in legal practice which used legal technology include accounting, billing, document automation, document storage, legal research, practice management and case management. <br>
                Since 2011, Legal Tech has evolved to be associated more with technology start-ups to provide products and services that have disrupted the practice of law.
            </p><br>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Scope of Legal Technology</p>
            <p style="text-align:justify;">
                Contemporary areas of Legal Tech focus on: Marketplace platforms to connect clients with lawyers, Client Relationship Management (CRM) tools, Contract management, Compliance management, Data and contract analytics, Law practice optimization, Legally binding digital signature, Automation of legal writing or other substantive aspects of legal practice, Multitude of Legal services, E-Learning etc.  <br>
                Use of technology based solutions have not only disrupted the legal industry,but represents an industry-wide trend across multiple sectors like finance, insurance etc.
            </p><br>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Need for Technical Competence</p>
            <p style="text-align:justify;">
                Lawyers can no longer afford to be apprehensive about understanding and using technology. Technical Competence is not only seen as a duty of care towards the client to provide the best possible legal services, but also as a major competitive advantage that is becoming intrinsic to having a successful legal practice.  <br>
                Technical Competence has been made an ethical requirement by international bar associations and are finding place in national jurisdictions too. Future clients and colleagues will expect that the lawyers they work with will have a reasonably competent understanding of the current state of technology and its uses. Lawyers need to thus understand the potential benefits and risks of various relevant technology.<br>
                The outbreak of COVID-19 has reinforced that technical competenceis the foundation for successful adaptation to remote workthat has become the new normal today.<br>
                Even from a business perspective, adaptation of legal technology can be pivotal to greater productivity. Technology can be used to accomplish multiple purposes in a law firm, including improving client service, fulfilling operational needs, and streamlining systems.
            </p><br>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Conclusion</p>
            <p style="text-align:justify;">
                The rise of legal tech has substantially influenced the contemporary legal market. Legal tech has enabled the smaller firms and sole practitioners to be able to compete with the leading names in the field, while renowned firms and practices struggling to acclimatise their practice are already falling behind.  <br>
                It is understandable that the shift to new legal technology can be overwhelming at first.  However with trained and experienced professionals leading the way, using tools that enable collaboration, communication, and task management, the change to legal technology can be smooth and convenient.
            </p>
        </div>
</section>
<br />
<br />
<br />