@{
    Layout = null;
    Layout = "~/Views/Shared/_NewLoginPartial .cshtml";
}
<!DOCTYPE html>
<!-- Styles -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<!-- Styles -->
<script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<link href="~/NewDesign/css/bootstrap.css?1" rel="stylesheet">
<link href="~/NewDesign/css/fontawesome-all.css?1" rel="stylesheet">
<link href="~/NewDesign/css/home.css?3" rel="stylesheet">
<link href="~/NewDesign/css/cookie-consent.css?2" rel="stylesheet" />
@Scripts.Render("~/bundles/Utility")
<script src="~/Scripts/Firm/Pages/FirmMain.js"></script>
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Firm/Pages/Login.js?2.0"></script>
<script src="~/Scripts/Firm/Pages/ResetPassword.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #loginpanel {
            min-width: 300px;
            float: right;
            padding: 40px 14px;
            margin: 90px 0 0 0;
            overflow: hidden;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 6px 3px rgb(61 61 61 / 27%);
            -moz-box-shadow: 0px 0px 6px 3px rgba(61,61,61,0.27);
            box-shadow: 0px 0px 6px 3px rgb(61 61 61 / 27%);
        }

        #forgetwindow {
            min-width: 300px;
            float: right;
            padding: 40px 14px;
            margin: 90px 0 0 0;
            overflow: hidden;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 6px 3px rgb(61 61 61 / 27%);
            -moz-box-shadow: 0px 0px 6px 3px rgba(61,61,61,0.27);
            box-shadow: 0px 0px 6px 3px rgb(61 61 61 / 27%);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4" id="loginpanel">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">user id</label>
                                <input class="form-control" type="text" name="username" placeholder="User Name" id="username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input class="form-control" type="password" name="pass" placeholder="Password" id="password" onpaste="return false" autocomplete="off" pattern="^[a-zA-Z1-9]{6,}$">
                                @if (HttpContext.Current.Request.UserAgent.ToLower().Contains("MSIE") || HttpContext.Current.Request.UserAgent.ToLower().Contains("edge")) //IF IE > 10
                                {
                                }
                                else
                                {
                                    <span toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right;margin-top: -21px;color:#676767; position:relative; z-index:1000;"></span>
                                }
                                <div class="help-block text-right"><a href="javascript:void()" id="openforget11" style="padding: 0px !important;">forgot password ?</a></div>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary btn-block" id="btnLogin" type="button" value="Login">
                            </div>
                            <div class="checkbox" style="display:none">
                                <label>
                                    <input type="checkbox"> keep me logged-in
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 bottom">
                        New here ? <a href="/home/signup"><span style="color:#0059c1;">Join Us</span></a>
                    </div>
                </div>
                <div class="col-md-4" id="forgetwindow" style="display: none;">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" />
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Enter User Id</label>
                            <input class="form-control" type="text" name="forgetuserid" placeholder="Enter User Id" id="forgetuserid">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Please enter the E-mail Id.</label>
                            <input class="form-control" type="text" name="email" placeholder="Please enter the E-mail Id." id="email">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password" />
                        </div>
                    </div>
                    <div class="col-md-12 bottom">
                        Already Member ? <a href="#"><span style="color:#0059c1;" id="loginbtndiv">Login</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span id="modalheading">Reset Password</span></h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div id="forgetwindow" style="display: block;">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="input100 form-control" type="text" name="email" placeholder="Enter Email" id="email">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="15px"></td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <input class="btn btn-primary btn-block" id="resetpassword" type="button" value="Reset Password">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>
</html>
<script>
    $("#openforget11").click(function () {
        $('#loginpanel').css("display", "none");
        $('#forgetwindow').css("display", "block");
    });
    $("#loginbtndiv").click(function () {
        $('#forgetwindow').css("display", "none");
        $('#loginpanel').css("display", "block");
    });
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>
    $("#myDD").click(function () {
        $('#login-dp').toggle();
    });
</script>