@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">mobility</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:left;font-size:24px; color:#1d5494;">COMING SOON</p>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">mobile app for myKase will be launched soon. <br><br></p>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Keep Track of Your Day</p>
            <p style="text-align:justify;">Stay on top of your schedule with push notifications for tasks, calendar events and more. You'll never miss an appointment, even if you're not by your computer.</p><br>
            <p style="text-align:justify;">Users can on the go:</p>
            <ul>
                <li>Add Contact </li>
                <li>Add Matter</li>
                <li>Task Management - Create task, Assign, Accept/Reject task, Reassign, Mark status as completed, View Task inbox, Overdue items, Task Outbox</li>
                <li>Send Communication</li>
                <li>Make Time Entry</li>
                <li>View Matter Dashboard – Tasks, Communication, Documents, Court Hearings, Team Members, Client contact related to the matter all in one place.</li>
                <li>Internal Messaging of myKase</li>
                <li>Create an expense on the go and upload receipstetc before they get lost</li>
                <li>Documents - View, Download, Create folder, Upload and View shared documents</li>
            </ul>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">The App will be ensure you enjoy a Secure Mobile Experience</p>
            <p style="text-align:justify;">with fingerprint identification, facial recognition, and PIN authentication on both iOS and Android, giving you peace of mind that your data is always protected.</p><br>
        </div>
    </div>
</section>
