


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>myKase Help Center</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../NewDesign/css/help.css" rel="stylesheet">
    <style>
    .bs-example{
        margin: 20px;
    }
    .accordion .fa{
        margin-right: 0.5rem;
      	font-size: 24px;
      	font-weight: bold;
        position: relative;
    	top: 2px;
    }
</style>
<script>
    $(document).ready(function(){
        // Add down arrow icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
        });
        
        // Toggle right and down arrow icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
        });
    });
</script>
</head>
<body>
    <section class="helpcenter">
    <div class="col-md-3">
    <div class="leftpanel">
    <div class="logo">
    <img src="~/NewDesign/images/help_logo.png" alt="MyKase" class="img-responsive" />
    </div>
    <hr/>
    <div class="">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#content">Content</a></li>
  <li><a data-toggle="tab" href="#search">Search</a></li>
  
</ul>

<div class="tab-content">
  <div id="content" class="tab-pane fade in active">
   <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-angle-right"></i> Document Management</a>									
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
					<li><a href="#">Document Dashboard</a></li>
					<li><a href="#">ICONS Explained</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Document Confidentiality</a></li>
					<li><a href="#">File Sharing</a></li>
					<li><a href="#">Action Selected</a></li>
					<li><a href="#">Editing & Versioning the Documents(CHECK IN/CHECK OUT)</a></li>
					<li><a href="#">Delete files request list</a></li>
					</ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-angle-right"></i> Matter Management</a>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
					<li><a href="#">Document Dashboard</a></li>
					<li><a href="#">ICONS Explained</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Document Confidentiality</a></li>
					<li><a href="#">File Sharing</a></li>
					<li><a href="#">Action Selected</a></li>
					<li><a href="#">Editing & Versioning the Documents(CHECK IN/CHECK OUT)</a></li>
					<li><a href="#">Delete files request list</a></li>
					</ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <a href="#" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-angle-right"></i> Adding a New Matter </a>                     
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
					<li><a href="#">Document Dashboard</a></li>
					<li><a href="#">ICONS Explained</a></li>
					<li><a href="#">Search</a></li>
					<li><a href="#">Document Confidentiality</a></li>
					<li><a href="#">File Sharing</a></li>
					<li><a href="#">Action Selected</a></li>
					<li><a href="#">Editing & Versioning the Documents(CHECK IN/CHECK OUT)</a></li>
					<li><a href="#">Delete files request list</a></li>
					</ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div id="search" class="tab-pane fade">
    
	<ul>
	<li><input type="text" class="form-control" style="width:235px;" /></li>
	<li><button type="button" class="sbtbtn">SEARCH</button></li>
	</ul>
  </div>
  
</div>
    </div>
    </div>
    </div>
    <div class="col-md-9">
	<div class="rightpanel">
	<h2>Document Management</h2>
	<h3>A central repository to store, organize and retrieve all working and archival documents safely and securely ensuring accountability.</h3>
	<p>Document dashboard ensures that maximum information is available for the user with the minimum clicks. <br><br>

User can create folders to store documents not related to any Matter or Contact aswell. You may store your research, drafts, miscellaneous documents etc., all organized in folders and sub folders. <br><br>
You can share/ un-share the selected documents from your repository at any time.<br><br> 
Each time a New MATTER is added, a folder is automatically created by the Matter Name. All files and documents for the Matter are then stored in the Matter Folder. You may add documents under a matter from the Document Dashboard too, by selecting the right folder. Same can be viewed from the Matter Dashboard. 
</p>
<p> <img src="~/NewDesign/images/screen1.png" alt="MyKase" class="img-responsive" /></p>
	</div>
	</div>
    </section>
</body>
</html>
