@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .img-responsive {
        display: block;
        text-align: center;
        margin: 0px auto;
        height: auto;
        max-width: 100%;
    }

    .social_share {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }

        .social_share li {
            margin: 0;
            padding: 0;
            float: left;
        }
</style>
<section class="inner-banner blog_bg">
    <div class="container">
        <h2 class="blog_head">What is mykase?  </h2>
    </div>
</section>
<section class="discover" id="article">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <ul class="social_share">
                <li style="padding:0 6px 0 0;">SHARE</li>
                <li style="padding:0 2px 0 0;">
                    @using System.Web.Configuration;
                    @{
                        string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                    }
                    <a target="_new" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=@BaseDomainURL/article-mykase-mykasevideo-law-firm-management&amp;p[title]=What is myKase?&amp;p[summary]=MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly."><img src="/NewDesign/images/sf1.png" class="img-responsive" /></a>
                </li>
                <li style="padding:0 2px 0 0;"><a id="socialnetwork" title="Share on LinkedIn" target="_new" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@BaseDomainURL/article-mykase-mykasevideo-law-firm-management&amp;title=What is myKase&amp;summary=MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly.&amp;source=@BaseDomainURL/article-mykase-mykasevideo-law-firm-management"><img src="/NewDesign/images/sl1.png" class="img-responsive" /></a></li>
                <li><a title="Share on Twitter" target="_new" href="https://twitter.com/share?text=What is myKase - MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a unified platform to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly.&url=@BaseDomainURL/article-mykase-mykasevideo-law-firm-management"><img src="/NewDesign/images/st1.png" class="img-responsive" /></a></li>
                <li style="padding:0 0 0 2px;"><a title="Check our Instagram" href="https://www.instagram.com/mykase.manupatra/" target="_new"><img src="/NewDesign/images/sin1.png" class="img-responsive" /></a></li>
            </ul>
        </div><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="videocontainer">
                    <video width="100%" controls>
                        <source src="/law-practice-management/video/mykase.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
            <div class="col-md-12">
                <p style="text-align:justify;">
                    MyKase is a law practice management software developed by Manupatra. It aims at providing businesses and lawyers a <strong>unified platform</strong> to enable the interaction and collaboration of multiple individuals on various day-to-day functions effortlessly.
                </p>
                <p style="text-align:justify;">
                    The pandemic has forced us to establish an alternate virtual workspace and therefore everyday business operations like meetings, payments, case records, billing, scheduling have to be performed through different apps and technologies. This results in confusion, ineffectiveness, and fatigue. MyKase is a one-stop solution to these bitter experiences.
                </p>
                <br>
                <p style="text-align:justify;"><strong>Features:</strong></p>
                <br>
                <ul>
                    <li><strong>Seamless collaboration:</strong> Enables teams, clients, and individuals across geographies to collaborate and receive updates on a real-time basis, through secure communication channels</li>
                    <li><strong>Streamlined workflow:</strong> Simplifies day-to-day operations by simplifying tasks, bypassing unnecessary steps, and eliminating the need to juggle between numerous digital platforms. </li>
                    <li><strong>Centralized information:</strong> The software provides a single storing place for data storage. This results in maximization of data and prevention of data redundancy, alternatively establishing a knowledge and information bank. As a result, the available information and data are reliable and secure. </li>
                    <li><strong>Mobile workplace:</strong> MyKase is a mobile enterprise mobility solution. Remote working options have seen a boost in recent times. MyKase enables the teams and businesses to carry out their operations from anywhere at any time, the only requisite being access to a smartphone or a laptop. </li>
                    <li>
                        <strong>Security:</strong> MyKase offers four-fold security to its users;
                        <ul>
                            <li>Physical security: Since MyKase is hosted on Microsoft Azure, the user’s data is stored in data centres managed by Microsoft. </li>
                            <li>Cyber Security: The cyber-protection of Microsoft is reliable and state-of-the-art.</li>
                            <li>Geo-replication: to protect against a disastrous mishap if a data centre is disabled, the user’s data is replicated and securely stored in another data system at a different geographic location.</li>
                            <li>Encryption: the data is encrypted 256-bit encryption- which is used by banks to encrypt sensitive financial information. </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
<br />
<br />
<br />
</body>
</html>