@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .img-responsive {
        display: block;
        text-align: center;
        margin: 0px auto;
        height: auto;
        max-width: 100%;
    }

    .social_share {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }

        .social_share li {
            margin: 0;
            padding: 0;
            float: left;
        }
</style>
<section class="inner-banner blog_bg">
    <div class="container">
        <h2 class="blog_head">Why does the legal practice operations, need to be agile and responsive?</h2>
    </div>
</section>
<section class="discover" id="article">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <ul class="social_share">
                <li style="padding:0 6px 0 0;">SHARE</li>
                <li style="padding:0 2px 0 0;">
                    @using System.Web.Configuration;
                    @{
                        string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
                    }
                    <a target="_new" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=@BaseDomainURL/article-blog-law-legal-practice-management-operations-agile&amp;p[title]=Why does the legal practice operations, need to be agile and responsive?&amp;p[summary]=Are you a lawyer jumping from system to system to access case files, research, court deadlines et.all.?"><img src="/NewDesign/images/sf1.png" class="img-responsive" /></a>
                </li>
                <li style="padding:0 2px 0 0;"><a id="socialnetwork" title="Share on LinkedIn" target="_new" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@BaseDomainURL/article-blog-law-legal-practice-management-operations-agile&amp;title=Why does the legal practice operations, need to be agile and responsive?&amp;summary=Are you a lawyer jumping from system to system to access case files, research, court deadlines et.all.?&amp;source=@BaseDomainURL/article-blog-law-legal-practice-management-operations-agile"><img src="/NewDesign/images/sl1.png" class="img-responsive" /></a></li>
                <li><a title="Share on Twitter" target="_new" href="https://twitter.com/share?text=Why does the legal practice operations, need to be agile and responsive?&url=@BaseDomainURL/article-blog-law-legal-practice-management-operations-agile"><img src="/NewDesign/images/st1.png" class="img-responsive" /></a></li>
                <li style="padding:0 0 0 2px;"><a title="Check our Instagram" href="https://www.instagram.com/mykase.manupatra/" target="_new"><img src="/NewDesign/images/sin1.png" class="img-responsive" /></a></li>
            </ul>
        </div><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="videocontainer">
                    <video width="100%" controls>
                        <source src="/law-practice-management/short-video/myKase.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <p style="text-align:justify; font-size:16px; color:#0059c1;"><strong>Consider these Scenarios:</strong></p><br>
                <p style="text-align:justify;">
                    ‘Are you a lawyer jumping from system to system to access case files, research, court deadlines et.all. ?’
                </p>
                <br>
                <p style="text-align:justify;">
                    ‘Clients lining up outside a lawyers chamber to gather feedback of the day’s proceedings.’<br>
                    ‘Lawyer and client haggling over the fee. A chaos ensues because of unstructured records, no record of the past payments, absence of structured payment plan.’
                </p>
                <br>
                <p style="text-align:justify;">
                    ‘An angry client bursts into the chamber shouting about how the lawyer failed to show up at the listed court hearing ! There is an attempt to calm the client down with meek reassurances, while the junior darts towards the courthouse to ascertain the case status.’
                </p>
                <br>
                <p style="text-align:justify;">‘A case which is due for arguments the next day is proving to be a challenge. Three interns and an associate are made to labour through a pile of case files, because the lawyer is certain, that somewhere there lies an order which can guarantee them a win this time.’</p>
                <br>
                <p style="text-align:justify;">‘While switching between e-mails, researching and drafting, the associate by mistak e-mails the brief to a wrong client.’</p>
                <br>
                <p style="text-align:justify;">‘The lawyer is about to call it a day, proceeds to save the research he has compiled  through the day and make a few upgrades in the rejoinder which has to be filed tomorrow. The screen blacks out. As the tech guy explains to the lawyer about the malware attack, the lawyer can see six years’ worth of his work and efforts go down the drain.’</p>
                <br>
                <p style="text-align:justify;">This may not be a typical every day in a lawyers life, and thankfully so, but law practices are exposed to these risks every minute. Scattered documents spread across email boxes, desktops, physical spaces; mountains of unsearchable unstructured information; multiple communication channels resulting in disjointed collaboration; multiple copies of same information resulting in redundancy and operational roadblocks, mars the organizational efficiency. </p>
                <br>
                <p style="text-align:justify; font-size:16px; color:#0059c1;"><strong>Now consider an Alternate Reality! </strong></p><br>
                <p style="text-align:justify;">After the day’s proceedings conclude, the lawyer is sitting peacefully in his chamber. The case status has been updated in the system.  The clients don’t crowd the chamber to know their case status anymore. Why would they? All the information they need can be accessed by them from wherever they are, using any device, by logging into the client portal.</p><br>
                <p style="text-align:justify;">The lawyer doesn’t have to fight the clients for payments. The invoices are generated and sent on a regular basis. There is no scope of disagreement or arguments, everything is systematically recorded, be it the payment schedules, expense details, or the balance outstanding.</p><br>
                <p style="text-align:justify;">The interns and juniors don’t spend their time and energy chasing updates of cases. They don’t spend their afternoons sitting with piles of files, combing, to find that one piece of paper. They can access the information from a centralised repository, from anywhere. The documents they need are available with audit trails, versions, indexed, searchable and easily referenced. Now, they spend their time understanding the law, following the court proceedings, reading important judgments, and researching.</p><br>
                <p style="text-align:justify;">The associate does not have multiple tabs open on his desktop, the phone on his desk, and the one in his pocket is not ringing every two minutes. He is editing, drafting and researching for the upcoming cases, on a single platform. A client meeting is scheduled for tomorrow. He no longer needs to search through e-mails or his notes to remember the subject matter of the meeting, or the client details or past communication thread or the last status. All trails and threads are available on a single click. </p><br>
                <p style="text-align:justify;">This is not fiction, but reality! There are incredible technologies today, that make it possible to take care of the everyday lawyer operations and struggles.</p><br>
                <p style="text-align:justify;">We live in a world where efficiency is the key to success, particularly for businesses. The operations of the legal practice needs to be agile and responsive. Thus, law practices need to view technology and automation as a necessity rather than a luxury. </p>
            </div>
        </div>
    </div>
    </div>
</section>
<br />
<br />
<br />
</body>
</html>