@{
    ViewBag.Title = "Data";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="panel panel-primary">
    <div class="panel-heading">
        Test Data from API
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>Regd No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone No</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>