@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">privacy policy</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="font-size:16px; color:#000000;  margin:0 0 0 0;">Last updated on October 1, 2020</p><br>
            <p style="text-align:justify;">
                This Privacy Policy governs the manner in which myKase, which is an Enterprise Mobility Solutions Product, collects, uses, maintains and discloses information collected from users (a “User”) of the https://www.mykase.in website (“Site”) and the (“App”) at https://app.mykase.in. This privacy policy applies to the Site, App, and all products and services offered by myKase including its Affiliates, subsidiaries, and licensors (collectively also referred to as “Manupatra”/ “myKase”/ Manupatra Products). If you already are a registered user to access https://www.manupatra.com in all available format, this privacy policy shall co-exist with the terms of User License Agreement and not supersede its terms, and incase of any conflict, the provisions protecting the proprietary rights of Manupatra in all its products shall govern.<br><br>
                By accepting the Privacy Policy when signing up for free, registering, entering into a paid subscription plan, or visiting and using the Site or App, you willingly consent to provide and entrust with us for our collection, use and disclosure or your personal information in accordance with our Privacy Policy.  If you have any questions relating to this Privacy Policy, please contact us by email at contact@myKase.in
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">What information do we collect?</p>
            <p style="text-align:justify;">myKase recognises the importance of your information and takes your privacy issues seriously. As such, we also want you to be familiar with how we collect, use and disclose information in our website, our software, and our mobile services. This Privacy Policy describes our practices in connection with information that we collect in our site, software, and mobile services owned and controlled by myKase for which you are accessing this Privacy Policy. We assure you of using your information in a fair and reasonable manner for lawful purpose. By providing Personal Information to us, you agree to the terms and conditions of this Privacy Policy.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Personal Information We Collect</p>
            <p style="text-align:justify;"><strong>"Personal Information"</strong> is information that identifies you as an individual. Some such information, that you readily provide us while signing up or registering for an Account or seeking customer support/ product queries etc., are:</p>
            <ul>
                <li>Name (Individual/Firm/Corporate/LLP or LLC)</li>
                <li>Postal address (including billing address)</li>
                <li>Landline/ Mobile Number</li>
                <li>Fax number</li>
                <li>Email address</li>
                <li>Your photo (Optional)</li>
                <li>Your company/Firm logo (Optional)</li>
            </ul>
            <p style="text-align:justify;">
                Your information may also reach us indirectly when you enquire about us/ myKase through any of our referral programs or through services like LinkedIn or Google or other Social connect platform(s), which in turn will be passing your contact information to us. If you engage with our brand on social media (for instance, liking, commenting, retweeting, mentioning, or following us), we'll have access to your interactions and profile information and will still have that information even if you later remove it from the social media site.<br><br>
                We do not ask you to key in/ provide any financial information about you (except for making secured payment through third party payment gateways in accordance with myKase User License Agreement defining terms of usage)
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">How We Use Personal Information</p>
            <p style="text-align:justify;">We use your information to provide the services you have consented to avail, create and maintain your accounts, and keeping a check on any probable unauthorized activity on your account(s). As such <strong>we may use Personal Information:</strong></p>
            <ul>
                <li>To respond to your inquiries and fulfil your requests.</li>
                <li>To send you information we believe may be of interest to you, such as advising you of updates on the software or to inform you of upcoming events, and educational materials.</li>
                <li>We may send you important information regarding myKase, changes to terms, conditions, and policies and/or other administrative information.</li>
                <li>To send you calendar reminders, event reminders and SMS or WhatsApp, Telegram etc. messages.</li>
                <li>To allow you to send information and documents to your clients.</li>
                <li>To send you marketing communications that we believe may be of interest to you.</li>
                <li>To receive and respond on feedbacks/ suggestions.</li>
                <li>To personalize your experience on the Site, our software, and our mobile services by presenting products and offers tailored to you.</li>
                <li>To allow you to add friends for myKase Referral Program. By using this functionality, you are telling us that you are entitled to use and provide us with your friend’s name and email address.</li>
                <li>For our business purposes, such as data analysis, audits, developing new products, enhancing our website, improving our services, identifying usage trends and determining the effectiveness of our promotional campaigns.</li>
                <li>To diagnose website technical problems or software bugs.</li>
                <li>To provide to our third party service providers who provide services such as website hosting, payment processing, email delivery services, credit card processing, text messaging services, customer service, auditing services and other similar services to enable them to provide services.</li>
                <li>To a third party in the event of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, assets or stock.</li>
            </ul>
            <p style="text-align:justify;">
                myKase may observe your activities, interactions, preferences, transactional information, and other computer and connection information (such as IP address) relating to your use of our websites and our services. We may also use log files, cookies and similar technologies to collect information about the pages you view, links you click on, and other actions you may take when accessing our websites, services, or emails. You may decline certain kinds of information use either by not providing the information in the first place or by opting out later. You can also disable cookies to prevent your browser from giving us information, but if you do so, certain product features may not work properly. We although completely disable third-party cookies from all Manupatra products.<br><br>
                We limit access to your personal information to our employees and contractors having legitimate need to use it. As such we may use Personal Information as we believe to be with valid or necessary or appropriate reason, typically to serve you: (a) under applicable law, including laws outside your country of residence; (b) to comply with legal process; (c) to respond to requests from public and government authorities including public and government authorities outside your country of residence; (d) to enforce our terms and conditions; (e) to protect our operations or to enable or support us in providing you services by sharing your information within Manupatra’s dedicated teams working on each of its proprietary products or those of any of our affiliates; (f) to protect our rights, privacy, safety or property, and/or that of our affiliates, you or others; (g) if we are involved in business transfer processes, legally recognised; (h) to allow us to pursue available remedies or limit the damages that we may sustain; (i) to aggregate your certain information to create industry and scholarly reports, trends, and studies which may be made available or provided to the public; or expressly consent or request, to share your information when you authorize a third party service or website to access your account with us.
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Third-Party Websites</p>
            <p style="text-align:justify;">
                This website may contain links to other sites and integrations with other sites that myKase does not own or control and whose privacy practices may differ from those of myKase. If you submit your personal information to any of these third-party sites, your personal information is governed by their privacy policies. Please be aware that myKase is not responsible for the privacy practices of such other sites and we, as a safety measure, recommend you to not to share any personal information with these third parties unless you've checked their privacy policies and assured yourself of their privacy practices, as their privacy statement will govern any personal information you submit to those sites.<br><br>
                You explicitly agree and acknowledge that myKase website may contain link to such third party sites and integrations which you may yourself chose to use for availing video and audio conferencing services,which may be recorded and saved via such third party links while hosting your account to avail such services you are willingly participating. You further agree and acknowledge that myKase expressly disclaims all liability and responsibility, in any nature, whatsoever towards any such usage by you and is not responsible for the privacy practices of such third party sites and integrations.<br><br>
                This Privacy Statement applies only to information collected by myKase. The inclusion of a link on the Site does not imply endorsement of the linked site by us or by our affiliates.
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Security</p>
            <p style="text-align:justify;">
                myKase, while ensuring logical separation between client data and data of other clients, has implemented state of the art measures to preserve the security of client data and prevent unauthorised modification, loss or disclosure thereof by employing industry standard security measures to ensure the security of information and is constantly executing updated administrative, technical, and physical security measures to help protect your information against unauthorized access, loss, destruction, or alteration.We however still recommend you to follow all such local/ in-house data security checks as the security of information transmitted through the Internet can never be guaranteed. myKase is not responsible for any interception or interruption of any communications through the Internet or for changes to or losses of information. myKase users are responsible for maintaining the security of any password, user ID, or other form of authentication involved in obtaining access to password protected or secure areas of myKase website or accessing through it to any website(s) owned by Manupatra Information Solutions Pvt. Ltd. In order to protect you and your information, myKase may suspend your use of a website, without notice, pending an investigation, if any breach of security is suspected. Access to and use of password protected and/or secure area of any myKase site is restricted to authorized users only. Unauthorized access to such areas is prohibited and may lead to criminal prosecution. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any account you might have with us has been compromised), please immediately notify us of the problem by contacting us at contact@mykase.in
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Other Information</p>
            <p style="font-size:20px; color:#000000; font-weight:300; margin:0 0 0 0;">Other Information We Collect</p>
            <p style="text-align:justify;">
                <strong>“Other Information”</strong> is any information that does not reveal your specific identity or does not directly relate to an individual, such as:
            </p>
            <ul>
                <li>Browser information</li>
                <li>Information collected through cookies, pixel tags and other technologies</li>
                <li>Demographic information and other information provided by you</li>
                <li>Aggregated information</li>
            </ul>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">How We Collect Other Information</p>
            <p style="font-size:20px; color:#000000; font-weight:300; margin:0 0 0 0;">We and our third party service providers may collect Other Information in a variety of ways, including:</p>
            <ul>
                <li>Through your browser: Certain information is collected by most browsers, such as your Media Access Control (MAC) address, computer type (Windows or Macintosh), screen resolution, operating system version and Internet browser type and version. We use this information to ensure that our Site functions properly.</li>
                <li>Using cookies: Cookies are pieces of information stored directly on your computer. Cookies allow us to collect information such as browser type, time spent on the Site, pages visited and language preferences. We and our service providers use the information for security purposes, to facilitate navigation, to display information more effectively, and to personalize your experience while visiting the Site, as well as for online tracking purposes. We also use cookies to gather statistical information about the usage of the Site in order to continually improve the design and functionality, understand how customers use it, and to resolve questions about it. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to decline the use of cookies. If you choose to decline cookies, some or all of the features, functionality and promotions available through the Site may not be available to you.</li>
                <li>Using pixel tags and other similar technologies: Pixel tags (also known as web beacons and clear GIFs) may be used in connection with some Site pages and HTML-formatted email messages to, among other things, track the actions of Site users and email recipients, measure the success of our marketing campaigns and compile statistics about Site usage and response rates.</li>
                <li>IP Address: Your “IP Address” is a number that is automatically assigned to the computer that you are using by your Internet Service Provider (ISP). An IP Address is identified and logged automatically in our server log files whenever a user visits the Site, along with the time of the visit and the page(s) that were visited. Collecting IP Addresses is standard practice on the Internet and is done automatically by many web sites. We use IP Addresses for purposes such as calculating Site usage levels, helping diagnose server problems, and administering the Site.</li>
                <li>From you: Information such as your location, as well as other information, such as your preferred means of communication, is collected when you voluntarily provide this information. Unless combined with Personal Information, this information does not personally identify you or any other user of the Site.</li>
                <li>By aggregating information: Aggregated Personal Information does not personally identify you or any other user of the Site, (for example, we may aggregated Personal Information to calculate the percentage of our users who have a particular telephone area code).</li>
            </ul>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">How you can access, change or suppress your Personal Information</p>
            <p style="text-align:justify;">If you would like to review, correct, update, suppress, delete or otherwise limit our use of your Personal Information that has been previously provided to us, you may contact us at contact@mykase.in. In your request, please make clear what information you would like to have changed, whether you would like to have your Personal Information suppressed from our database or otherwise let us know what limitations you would like to put on our use of your Personal Information. We will try to comply with your request as soon as reasonably possible.</p?
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Retention Period</p>
            <p style="text-align:justify;">We will retain your Personal Information for the period necessary to fulfil the purposes outlined in this Privacy Policy unless a longer retention period is required or allowed by law.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Use of Site by Minors</p>
            <p style="text-align:justify;">The Site is not directed to individuals under the age of eighteen (18), and we request that these individuals not provide Personal Information through the Site.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Sensitive Information</p>
            <p style="text-align:justify;">We ask that you not send us, and you not disclose, any sensitive personal information (defined to include: Aadhar numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, criminal background or trade union membership) on or through the Site or otherwise to us.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Updates to this Privacy Policy</p>
            <p style="text-align:justify;">This Privacy Policy may be subject to updates. The <strong>"LAST UPDATED"</strong> legend at the top of this page indicates when this Privacy Policy was last revised. We encourage you to periodically review this Privacy Statement for any changes. Your use of the Site following these changes means that you accept the revised Privacy Policy. For new users, changes or updates are effective upon posting. </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Your acceptance of these terms</p>
            <p style="text-align:justify;">
                By using this Site and the App, you signify your acceptance of this policy document in an electronic record in terms of Information Technology Act, 2000 and rules made there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This electronic record is generated by a computer system and does not require any physical or digital signatures. This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and user license agreement for access or usage of www.mykase.in and associated websites.<br><br>
                If you do not agree to this policy, please do not use our Site or App. Your continued use of the Site or App following the posting of changes to this policy will be deemed your acceptance of those changes.
            </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; margin:0 0 0 0;">Contacting Us</p>
            <p style="text-align:justify;">
                If you have any questions about this Privacy Policy, or if you have a complaint, access request or any other issue, please contact us at <strong>contact@myKase.in</strong>
            </p>
        </div>
    </div>
</section>
