@{
    Layout = null;
}
@{
    Response.Redirect("~/HOME/NoResults");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegURL</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
