<!DOCTYPE html>
<html>
<head>
    <title>Manupatra</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/assets/requestdemo/assets/css/requestdemo.css?2.3" rel="stylesheet" />
    <link href="~/assets/requestdemo/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script>
    var Source = "@ViewBag.Source";
    </script>
    <header id="header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="~/assets/requestdemo/assets/img/logo.png" /></a>
                </div>
    </header>
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2>Our Portfolio</h2>
                    <ul class="p-logo">
                        <li><a href="https://mykase.in/" target="_blank"><img src="~/assets/requestdemo/assets/img/logo-mykase.png" /></a></li>
                        <li><a href="https://www.casewatch.in/" target="_blank"><img src="~/assets/requestdemo/assets/img/logo-casewatch.png" /></a></li>
                        <li style="padding: 9px 0 0 0;"><a href="https://www.manucomply.com/" target="_blank"><img src="~/assets/requestdemo/assets/img/logo-manucomply.png" /></a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="f-bg">
                        <form id="saveenquiry" method="post">
                            <div class="f-inner">
                                <div class="col-md-12 text-center"><label>Request -a- Demo</label></div>
                                <div class="col-md-12">
                                    <input name="name" placeholder="Name*" type="text" id="name" required maxlength="100">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" maxlength="10" type="text" placeholder="Phone*" name="rcontact" value="" id="rcontact" required onkeypress="return isNumberKey(event)">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" name="remail" placeholder="Email*" type="text" id="remail" required maxlength="100">
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="City" value="" id="ccity" maxlength="50">
                                </div>
                                <div class="col-md-12">
                                    <select name="product" required="" id="product">
                                        <option value="" selected="">I am Interested in</option>
                                        <option value="Mykase">Mykase - Practice Management Platform</option>
                                        <option value="CaseWatch">CaseWatch - Case Alert Service</option>
                                        <option value="ManuComply">ManuComply - Compliance Management Platform</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="180px"><div id="m_imgCaptcha" title="Captcha Code" style="padding:5px 0 0 0;color: #ffffff;font-size: 18px;background-image: url(/NewDesign/images/capcha_bg.png);width: 147px;height: 30px;margin: 0px;float: left;text-align: center;"></div> <a style="display:block; float:right;" href="javascript:void;" onclick="fn_RefreshCaptcha();" id="RefreshCaptcha"> <img src="/NewDesign/images/capcha_rbtn.png" height="30" width="30" alt="reset" title="reset" /></a></td>
                                            <td width="5px">&nbsp;</td>
                                            <td><input type="text" name="txtcaptcha" id="txtcaptcha" placeholder="Enter Captcha" class="form-control" maxlength="6" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12"><input type="button" value="Submit" class="sbtbtn" id="btnsave"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="otptemp">
    <input id="hdncaptcha" name="hdncaptcha" type="hidden" value="" />
    <section class="footer" style="padding:10px 0 0 0;">
        <div class="container">
            <div class="col-md-12 text-center">Copyright @@ 2022 Manupatra. All rights reserved.</div>
        </div>
    </section>
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/Scripts/Firm/Pages/EnquiryRequestDemo.js"></script>
    <script src="~/NewDesign/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
</body>
</html>
