@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordCommon</title>
</head>
<body>
    <div>
        <div style="margin:150px auto 0; padding:20px 10px;border:1px solid #069; border-radius:10px; text-align:center;font-size:20px;color:#069; width:550px;">@ViewBag.result</div>
    </div>
</body>
</html>
