
@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}

<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">search</h2>
    </div>
</section>
<section class="discover">

    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:justify;">
                Search is a taken for granted but essential feature for any technological solution across any platform. A bad search experience could adversely affect your business. And usersatre looking for the best answers as fast as possible. <br>
                myKase provides search interface across the platform while maintaining rights access ensuring confidentiality without hampering ease of work.
            </p><br>
            <p style="font-size:20px; color:#0059c1; font-weight:300;">Global Search</p>
            <p style="text-align:justify;">
                Global search on myKase actions simultaneous search across the myKase Platform. The search query is looked up across the platform without the User having to go to each section and search.  With every passing day the quantum of documents, data and information is increasing. This enables quick access and action, saving time and making working on the go easy and convenient.<br><br>
                The myKase platform enables search in individual section as well.
            </p>
            <ul>
                <li>Search in Full text and Title of the Documents </li>
                <li>Search in Matters</li>
                <li>Search in Contacts </li>
            </ul>
        </div>
    </div>
</section>



