@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">security</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:center;"><img src="~/NewDesign/images/security.png" class="img-responsive" alt="security" /> </p>
            <br />
            <p style="text-align:justify;">myKase is a secure cloud based platform, where Security is paramount.<br><br></p>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Physical security </p>
            <p>myKase is hosted on Microsoft Azure. Which means your data is in data centers built and managed by Microsoft.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Cyber security </p>
            <p>The cyber-protections (e.g. firewalls, encryption, filtering routers etc.) in Microsoft Azure data centers are state-of-the-art.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Redundancy </p>
            <p>Every piece of information is stored immediately on three servers. Which means you not only have an instant back-up, but also you are protected in case of hardware failure.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Geo-replication</p>
            <p>To protect you against an unlikely and extreme catastrophe that disabled an entire data center, everything in the data center is replicated in another data center in a completely different geographical location.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Data access</p>
            <p>Your data is stored in a separate SQL database, not mixed with those of other firms. No one at the data centers (or elsewhere within Microsoft) has access to your data. They are not even capable of identifying which database is yours.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Encryption</p>
            <p>All transmissions of your data are done with 256-bit encryption – which is what banks use for your most sensitive financial data. All documents are encrypted as well.</p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Application Level Security</p><br>
            <ul>
                <li>When being accessed, data is transmitted using an encrypted secure connection.</li>
                <li>TWO step access authentication enables double security</li>
                <li>Access Controls; Role-based access controls limits the possibility of breach</li>
                <li><strong>Hosted on Azure Cloud</strong></li>
                <ul>
                    <li>Microsoft ® Azure, comes with 24/7/365 active security monitoring, 256-bit encryption, and SSL.</li>
                    <li>Data storage is on cloud with geo location backups on.</li>
                </ul>
                <li>Microsoft’s data-centers are HIPAA/HITECH certified, ISO certified, and have received numerous other industry-specific security certifications.</li>
            </ul>
        </div>
    </div>
</section>
