
@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}

<style>
.plan {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}
.plan th {
    padding: 3px 6px;
    text-align: center;
    background: #fff;
    border: 1px solid #70af00;
}
.plan th h2 {
    font-size: 20px;
    margin: 10px 0px 0px;
    color: #000000;
    font-weight: 500;
    border-bottom: none;
}
.plan th a {
    color: #fff;
    background: #7db9e8;
    padding: 4px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-top: 0px;
    border: 2px solid #7db9e8;
}
.plan th a:hover {
	
    color: #000;
    background: #fff;
    padding: 4px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-top: 0px;
	border:2px solid #7db9e8;
	text-decoration:none;
}

.plan th h3 {
    font-size: 14px;
    margin: 7px 0px;
    color: #007bff;
    font-weight: 400;
}
.plan td {
    text-align: center;
    padding: 4px 6px;
    font-size: 14px;
}
.tdcall5 {
    background: #979797;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 3px 6px !important;
    text-transform: uppercase;
}
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">plans & pricing</h2>
    </div>
</section>
<section class="discover">
    
    <div class="container">
	<div class="col-md-12" style="padding:15px 0 0 0;">
	<p style="margin:10px 0; padding:0; text-align:center; font-size:30px; color:#0059c1; font-weight:400;">Flexible Plans. <span style="color:#70af00 !important;">Simple Pricing.</span> Annual Subscriptions </p>
	</div>
	<div class="col-md-12">
	<p style="margin:94px 0 240px 0px; padding:0; text-align:center; font-size:30px; color:#0059c1; font-weight:400;">Coming Soon!</p>
	</div>
	</div>
    </div>
</section>



