@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .plan {
        margin: 0;
        padding: 0;
        background: #f7f7f7;
    }

        .plan th {
            padding: 10px 6px;
            text-align: center;
            background: #fff;
            border: 1px solid #70af00;
        }

            .plan th h2 {
                font-size: 20px;
                margin: 0px;
                padding: 5px 0;
                color: #000000;
                font-weight: 500;
                border-bottom: none;
            }

            .plan th a {
                color: #fff;
                background: #7db9e8;
                padding: 4px 14px;
                border-radius: 0;
                font-weight: 500;
                font-size: 14px;
                display: inline-block;
                margin-top: 0px;
                border: 2px solid #7db9e8;
            }

                .plan th a:hover {
                    color: #000;
                    background: #fff;
                    padding: 4px 14px;
                    border-radius: 0;
                    font-weight: 500;
                    font-size: 14px;
                    display: inline-block;
                    margin-top: 0px;
                    border: 2px solid #7db9e8;
                    text-decoration: none;
                }

            .plan th h3 {
                font-size: 14px;
                margin: 7px 0px;
                color: #007bff;
                font-weight: 400;
            }

        .plan td {
            text-align: center;
            padding: 4px 6px;
            font-size: 14px;
        }

    .tdcall5 {
        background: #979797;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        margin: 0;
        padding: 3px 6px !important;
        text-transform: uppercase;
    }
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head"></h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12">
            <p style="margin:10px 0; padding:0; text-align:center; font-size:26px; color:#0059c1; font-weight:400;">Flexible Plans. <span style="color:#70af00 !important;">Simple Pricing.</span> Annual Subscriptions </p>
        </div>
        <div class="row plan">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table border="0" align="center" cellspacing="0" cellpadding="0" class="table table-striped table-bordered" style="width:850px; ">
                        <tbody>
                            <tr>
                                <th><h2>FEATURES</h2></th>
                                <th width="165px">
                                    <h2>STARTER</h2>
                                </th>
                                <th width="165x">
                                    <h2>ADVANCE</h2>
                                </th>
                                <th width="165px">
                                    <h2>ENTERPRISE</h2>
                                </th>
                            </tr>
                            <tr>
                                <td class="text-left">Matter Management</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Live Case Update from e-Courts</td>
                                <td>250</td>
                                <td>500</td>
                                <td>750</td>
                            </tr>
                            <tr>
                                <td class="text-left">Knowledge Management</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Document Management</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Invoice Management</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Expense Management</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Contact Management</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Rights Management</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Time Entry</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Secure Client Portal</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Internal Messaging</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Feature Specific Search</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Cloud Storage  <p style="font-size:11px;">(Buy additional storage at Rs 25/- per GB)</p></td>
                                <td>500GB</td>
                                <td>500GB</td>
                                <td>500GB</td>
                            </tr>
                            <tr>
                                <td class="text-left">Global Search<sup>*</sup></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Reports</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Custom Fields</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Legal Updates</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Task Management</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Mobile App  for Android/I-phone (coming soon)</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="tdcall5 text-left">MyKase TOOLS</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Bundling PDF</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Chat</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Compare Documents<sup>*</sup></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Conflict Check</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">VC - Google Meet</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">OCR</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="tdcall5 text-left">Integration</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Manupatra Integration<sup style="color:blue;">*</sup></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Cloud Integration (Drop Box/One Drive) </td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Digital Signature </td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Email Sync (Yahoo/Outlook/Gmail/Own Server)</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Period of Limitation</td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Calendar Management</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Dashboard Fixed</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Industry Leading Security</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">99.5% uptime guarantee</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="tdcall5 text-left">Training, Supports & Security </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-left">Tele / Email / Chat Support</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Online Training</td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">On Demand Training</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                            <tr>
                                <td class="text-left">Dedicated CSM</td>
                                <td></td>
                                <td></td>
                                <td><img src="/NewDesign/images/yes_icon.png" alt="yes" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <p style="font-size:11px;padding:0 0 0 100px;"><sup>*</sup><em>Conditions Apply</em><br><sup style="color:blue;">*</sup><em>Active Manupatra Subscribers</em></p>
                    </div>
                    <div class="col-md-12">
                        <p style="font-size:14px; padding:10px; margin:6px 100px; background:#1d5494; color:#ffffff; text-align:center;">
                            Price starts from <strong>Rs. 1250 + GST</strong> per license/per month<br>
                            For details reach us at contact@mykase.in
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
