@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Mykase - Page Under Construction</title>
    <link href="~/Manupanel/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/NewDesign/css/fontawesome-all.css" rel="stylesheet">
    <script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NFX573FMY3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-NFX573FMY3');
    </script>
    <script>
        $(document).ready(function () {
            $(document).on('keypress', function (e) {
                if (e.which == 13) {
                    document.getElementById("verifycode").click();
                    return false;
                }
            });
            $("#verifycode").click(function () {
                var formData = new FormData();
                var scode = $("#scode").val();
                if (scode == "") {
                    alert("Security Code could not be blank");
                    return false;
                }
                formData.append("Startupcode", scode);
                $.ajax({
                    async: true,
                    url: '/firm/VerifyStartupCode',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    success: function (response) {
                        if (String(response) == "false") {
                            alert("Invalid Security Code");
                            return false;
                        }
                        // window.location.href = "https://www.mykase.in";
                        window.location.href = "http://localhost:55516";
                        // closeload();
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
            });
        });
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        input {
            border: 1px solid #8c8c8c;
            border-radius: 4px;
            padding: 10px 6px;
            width: 460px;
            background: #ececec;
            float: left;
        }

        button {
            border: 1px solid #8c8c8c;
            border-radius: 4px;
            padding: 9px 3px;
            width: 126px;
            background: #BBDDF2;
            float: right;
            font-size: 14px;
            color: #000;
            cursor: pointer;
            margin-top: -30px;
        }
    </style>
</head>
<body>
    <form method="post">
        <div align="center" style="padding:10px 0 0 0;"><img src="~/assets/img/Startup/mykase_logo.png" /></div>
        <div style="width:595px; height:335px; margin:20px auto; padding:0;">
            <img src="~/assets/img/Startup/coming_soon_img.png" />
            <div style="margin:25px 0 0 0;">
                <input type="password" id="scode" onfocus="$(this).removeAttr('readonly');" readonly placeholder="Enter Security Code" autocomplete="off">
                <span toggle="#scode" class="fa fa-fw fa-eye field-icon toggle-password" style="margin-top: 14px;color: #676767;right: 30px;position: relative;"></span>
                <button id="verifycode" type="button">SUBMIT</button>
            </div>
            <br><br><br>    <br><br><br>
            <div style="font-size:10pt;text-align:center;">
                A Manupatra Product
            </div>
        </div>
    </form>
</body>
</html>
<script>
    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>