@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<style>
    .icon_ul {
        margin: 0 190px 0 57px;
        padding: 0;
        list-style-type: none;
    }

        .icon_ul li {
            margin: 0;
            padding-left: 25px;
            background-image: url(../NewDesign/images/small-check.png);
            background-repeat: no-repeat;
            background-position: left 4px;
        }
</style>
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">task collaboration & workflow </h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="text-align:justify;">
                Collaboration is vital for legal teams and practice groups. Absence of collaboration can cause havoc in various ways.  <br>
                How do you keep your team on task and productive?<br>
                How do you avoid bottlenecks when your team is no longer in the same building?	<br><br>
            </p>
            <ul class="icon_ul">
                <li>True collaboration requires the ability for a legal team to see everything that is going on with a particular matter or project.  </li>
                <li>The access and visibility rights need to flow as per the hierarchy. <em>A partner will have unique visibility or reporting requirements – and so will other team members. What associates need to see is very different from the needs of a managing partner.</em></li>
                <li>Everyone needs the ability to see both personal tasks, those tasks assigned to the different members of the team, and those tasks in relation to the overall matter.</li>
                <li>This also applies to appointments, deadlines, and files on which the team is working. </li>
            </ul><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; text-align:center;">Task on myKase enables users to:</p>
            <p style="text-align:center;"><img src="~/NewDesign/images/task.png" class="img-responsive" alt="task" /> </p><br>
            <p style="font-size:24px; color:#0059c1; font-weight:300; text-align:center;">Task Workflow </p>
            <p style="text-align:center;"><img src="~/NewDesign/images/task-flow.png" class="img-responsive" alt="task" /> </p><br>
            <p style="text-align:center;"><img src="~/NewDesign/images/taskworkflow-benefits.png" class="img-responsive" alt="task" /> </p>
        </div>
    </div>
</section>
