@{
    Layout = "~/Views/Shared/_NewHomePartialHomeInner.cshtml";
}
<section class="inner-banner">
    <div class="container">
        <h2 class="inner_banner_head">time entry</h2>
    </div>
</section>
<section class="discover">
    <div class="container">
        <div class="col-md-12" style="font-size:14px; padding:15px 0 0 0;">
            <p style="font-size:24px; color:#0059c1; font-weight:300;">Never miss a second of billable time!</p><br>
            <p style="text-align:justify;">
                For every practice there are multiple matters and task where it is imperative to monitor the time spent. Manual timekeeping is prone to errors and compromise. A time recorder which can be accessed easily is an optimal solution.   <br><br>
                Multiple timers on myKase make time entry logging across matters a breeze.Track time quickly and easily using the mobile or desktop apps.<br><br>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>
                            Use the prominently displayed time recorder to calculate the time spent according to user,
                            matter, task and projects and conveniently manage your workflow and billing.
                        </li>
                        <li>Launch the timer and it will record time in the background, whether you’re reading emails, drafting letters, or answering phone calls. </li>
                        <li>myKase system enables you  to quickly enter time using timer, bypassing the need to go through extra steps such as opening the matter</li>
                        <li>Produce quick and up-to-date reports from all of the time entries across the firm.</li>
                        <li>Review and edit the time entries as required </li>
                        <li>Enter time manually</li>
                    </ul>
                </div>
                <div class="col-md-7"><p style="text-align:center;"><img src="~/NewDesign/images/timeentry.png" class="img-responsive" alt="time entry" /> </p></div>
            </div>
        </div>
    </div>
</section>
