@{
    ViewBag.Title = "Login";
    Layout = null;
}
<script>
    var Url = '@ViewBag.Url';
</script>
<script>
    function CheckUser() {
        try {
            var struser = $("#rusername").val();
            if (struser == "") {
                alert("Please enter username");
                return false;
            }
            else {
                $.ajax({
                    async: true,
                    url: '/api/WorkFlowNewApi/CheckUser',
                    type: 'POST',
                    headers: {
                        'username': struser
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        if (response.Status == true) {
                            if (response.Data == "0") {
                                $("#lblmsg").css("color", "green").val("Available");
                            }
                            else {
                                $("#lblmsg").css("color", "red").val("Not Available");
                            }
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        }
        catch (err) {
            alert(err.message);
        }
    }
</script>
<script type="text/javascript">
    /*code: 48-57 Numbers
      8  - Backspace,
      35 - home key, 36 - End key
      37-40: Arrow keys, 46 - Delete key*/
    function restrictAlphabets(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manupatra - Mykase</title>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-title" content="Mykase">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Mykase">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <!-- Styles -->
    <script src="~/Manupanel/NewTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <link href="~/NewDesign/css/bootstrap.css" rel="stylesheet">
    <link href="~/NewDesign/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/NewDesign/css/home.css" rel="stylesheet">
    <script src="~/Scripts/Firm/Pages/Authentication.js"></script>
    <!-- fonts -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="auth_section">
                    <div style="width:100%; text-align:center; border-bottom:1px solid #8fd500; padding:0 0 10px 0;"><img src="~/NewDesign/images/logo.png" alt="MyKase" /></div>
                    <div class="auth_form">
                        <h3>Two Step Verification</h3>
                        <form class="formcontainer" role="form" method="post">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <input class="input100 form-control" type="text" name="otp" onkeypress="return restrictAlphabets(event)" placeholder="Enter OTP" id="onetimepassword" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" height="15px"></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <input class="btn btn-primary btn-block" id="verifyotp" type="button" value="Verify" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:10px 0 0 0;">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td>
                                                    <span id="info">@ViewBag.mobile</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:20px 0 0 0;">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center"><button type="button" style="width:120px;" class="sbtbtn" id="resendotp">Resend OTP</button></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- All the scripts -->
    <script src="~/assets/js/jquery-2.1.3.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
</body>
</html>
