@{
    Layout = "~/Views/Shared/_NewHomePartialFirm.cshtml";
    var datesf = ViewBag.datesf;
}
<section class="banner">
    <div class="container">
        <div class="banner-img" style="background:url(/NewDesign/images/banner_home.jpg) no-repeat bottom center;">
            <h2>legal practice management</h2>
            <h3>made easy</h3>
        </div>
    </div>
</section>
<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Welcome to</h3>
                <h4>Delhi-NCR’s most recommended Infrastructure law advisory firm</h4>
                <h5>ABC Law Office is located in New Delhi, India. Since 2018, the law firm has proudly supported individuals, families, and businesses with their legal needs. Areas of practice include Insolvency and Bankruptcy Law, Arbitration, Family Law, Environmental law, Commercial litigation, Company Law, Consumer Law besides Civil and Criminal litigation in terms of both prosecutions and defence.</h5>
                <h6><span>Year this Office was Established:</span> 2018</h6>
                <h6><span>Languages:</span> English, Hindi. </h6>
            </div>
        </div>
    </div>
</section>
<section class="features" id="about">
    <div class="features-head">
        <div class="container">
            <h2>about</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>A company, abbreviated as co., is a legal entity made up of an association of people, be they natural, legal, or a mixture of both, for carrying on a commercial or industrialenterprise. Company members share a common purpose, and unite to focus their various talents and organize their collectively available skills or resources to achieve specific, declared goals. Companies take various forms, such as:</p>
            </div>
        </div>
    </div>
</section>
<section class="solution" id="services">
    <div class="solution-head">
        <div class="container">
            <h2>services</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>A company, abbreviated as co., is a legal entity made up of an association of people, be they natural, legal, or a mixture of both, for carrying on a commercial or industrialenterprise. Company members share a common purpose, and unite to focus their various talents and organize their collectively available skills or resources to achieve specific, declared goals. Companies take various forms, such as:</p>
            </div>
        </div>
    </div>
</section>
<section class="demorequest" id="contact">
    <div class="demorequest-head">
        <div class="container">
            <h2>contact us</h2>
        </div>
    </div>
    <div class="container">
        <div class="demorequestform">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">your name*</label>
                            <input type="text" class="form-control" id="name" required="" data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">your email*</label>
                            <input type="email" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">your phone*</label>
                            <input type="tel" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="">your message</label>
                            <textarea class="form-control" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="button" class="verifybtn" style="margin:20px 0 0 0; width:160px;">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
