@{
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    var WhatsAppBulkNotice = Session["WhatsAppBulkNotice"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<meta name="viewport" content="width=device-width" />
<script src="~/dist/ckeditor/ckeditor.js"></script>
<script src="~/dist/ckeditor/samples/js/ckeditor.js"></script>
<link href="~/dist/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />
<link href="~/dist/jqueryUI/css/jquery-ui.css" rel="stylesheet" />
<script src="~/dist/jqueryUI/js/jquery-ui.js"></script>

<script>
    var userid = "@userid";
     var roleid = "@role";
</script>
<style>
    .upload_btn {
        background: #fff;
        padding: 8px 12px;
        outline: 0 !important;
        border: 1px solid rgba(209, 213, 219, 1);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(65, 70, 81, 1);
        display: inline-block;
        float: right;
        margin: -40px 0 0 0;
        cursor: pointer;
    }
    .upload_btn1 {
        background: #fff;
        padding: 8px 12px;
        outline: 0 !important;
        border: 1px solid rgba(209, 213, 219, 1);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(65, 70, 81, 1);
        display: inline-block;
        /*float: right;*/
        margin: -40px 0 0 0;
        cursor: pointer;
    }

</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"><span>Send Bulk Notices</span></p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            <ul class="snav">
                <li id="" class="active"><a href="/@Session["firmcode"]/NoticeTemplate/BulkNotice"> Bulk Notice Management</a><span id="totaRecordData"> (0)</span></li>
                <li id="" class=""><a href="/@Session["firmcode"]/NoticeTemplate/CreateTemplate">Templates</a></li>
                @if (role.ToString() == "1" && WhatsAppBulkNotice.ToString() == "display:unset")
                {
                    <li id="" class=""><a href="/@Session["firmcode"]/NoticeTemplate/BulNoticeWhatsAppSentDetail">WhatsApp Alert Log</a></li>
                }
            </ul>
        </div>
    </div>
</section>
<section style="padding:20px 0 0;">
    <input type="hidden" value="@Session["WhatsAppBulkNotice"]" id="hdnWhatsAppBulkN" />
    <div class="row">
        <div class="form-group col-md-4">
            <label>Choose Template<span class="required" aria-required="true" style="color:red">*</span></label>
            <select class="form-control selctInputFormat" id="ddltemplate"></select>
        </div>
        <div class="form-group col-md-4">
            <label>Notice Type<span class="required" aria-required="true" style="color:red">*</span></label>
            <select class="form-control selctInputFormat" id="ddlnoticetype">
                <option value="">Please Select</option>
                <option value="Statutory">Statutory</option>
                <option value="Non-Statutory">Non-Statutory</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Notice Title<span class="required" aria-required="true" style="color:red">*</span></label>
            <input class="form-control inputFormat ui-autocomplete-input" type="text" maxlength="50" name="Noticetitle" id="Noticetitle" />
        </div>
        @*<div class="form-group col-md-3">
            <div class="form-group">
                <label>Language</label>
                <select class="selctInputFormat" id="ddlLanguageType">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Urdu">Urdu</option>
                    <option value="Punjabi">Punjabi</option>
                    <option value="Bengali">Bengali</option>
                    <option value="Tamil">Tamil</option>
                    <option value="Telugu">Telugu</option>
                    <option value="Odia">Odia</option>
                    <option value="Kannada">Kannada</option>
                    <option value="Assamese">Assamese</option>
                    <option value="Gujarati">Gujarati</option>
                    <option value="Kashmiri">Kashmiri</option>
                    <option value="Manipuri">Manipuri</option>
                    <option value="Marathi">Marathi</option>
                    <option value="Nepali">Nepali</option>
                    <option value="Sanskrit">Sanskrit</option>
                    <option value="Santali">Santali</option>
                    <option value="Sindhi">Sindhi</option>
                    <option value="Dogri">Dogri</option>
                    <option value="Maithili">Maithili</option>
                </select>
            </div>
        </div>*@
    <div class="form-group col-md-8">
        @*<label>Import Notice Dataset</label>
        <div class="inputFormat">
            <p style="padding:0; margin:0;font-size: 16px; font-weight: 400; color: #717680;">Add File</p>
            <label for="postedFile" type="button" class="upload_btn" style="color: #0369A1; padding:5px 10px;margin: -28px 0 0 0px;">Upload</label>
            <input class="form-control inputFormat" type="file" name="postedFile" id="postedFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;" />
        </div>*@
        @*<label>
            <span id="fileName" style="font-size: 12px; color: #444; display: flex; align-items: center; justify-content: space-between; background: #f4f4f4; padding: 5px 10px; border-radius: 5px; margin-bottom: 5px; font-size: 14px;"></span>
            <span id="deleteFile" style="display: none; margin-left: 10px; border: none; color: black; padding: 4px 8px; border-radius: 4px; cursor: pointer; color: red; cursor: pointer; font-weight: bold; margin-left: 10px;">
                X
            </span>
        </label>*@
        <div id="fileChip"
             style="display:none; align-items:center; background:#f4f4f4; padding:5px 10px; border-radius:5px;
            margin-right:10px; vertical-align:middle;">
            <span id="fileName" style="font-size:14px; color:#444;"></span>
            <span id="deleteFile" style="margin-left:10px; color:red; cursor:pointer; font-weight:bold;">✖</span>
        </div>

        <label for="postedFile" type="button" class="upload_btn1" style="margin-top: 27px !important;height: 39px;"> <img src="/newassets/img/upload-cloud.svg">Upload Document</label>
        <input class="form-control inputFormat" type="file" name="postedFile" id="postedFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none;" />

        <button type="button" class="btn btn-primary" id="btnuploadtemplate" style="width:15% ">Save</button>
        <a class="btn btn-primary" href="~/NewDesign/SampleCopy.xlsx" download="Format for bulk notices on Mykase" style="text-decoration: none; text-decoration:none;border-radius:5px;">
            <img src="/newassets/img/download.svg" style="color: white;font-weight: 600;height:21px"> Format
        </a>
    </div>
        @*<div class="form-group col-md-4">
            <button type="button" class="btn btn-primary" id="btnuploadtemplate" style="margin-top:25px; width:50% "> + Add </button>
            <a class="btn btn-primary" href="~/NewDesign/SampleCopy.xlsx" download="SampleCopy.xlsx" style="display:inline-block;text-decoration: none; margin-top: 27px;text-decoration:none;border-radius:5px;">
                Download Sample Copy
            </a>
        </div>*@
        @*<div class="form-group col-md-4">
            <a href="~/NewDesign/SampleCopy.xlsx" download="SampleCopy.xlsx" style="display:inline-block;text-decoration: none; margin-left: -152px;margin-top: 37px;color: blue;text-decoration:none;border-radius:5px;">
                Sample Copy
            </a>
        </div>*@
        <div class="form-group col-md-4" style="text-align:right;padding-top: 24px;">
            <a class="btn btn-primary" id="btnUploadHelp" style="display:inline-block;text-decoration: none;text-decoration:none;border-radius:8px;">
                Help
            </a>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="">
            <div class="tablearea" style="margin:0;">
                <table id="templateexample" class="table-panel">
                    <thead>
                        <tr>
                            <th>
                                <div class="thbg">
                                    <div style="float:left;width:80%">
                                        <input type="text" id="bulknoticename" placeholder="Name" class="form-control pull-left" style="width:100px;">
                                    </div>
                                    <div style="float:left;width:20%">
                                        <span class="glyphicon glyphicon-search" id="searchnamebulk" style="cursor: pointer;"></span>
                                        <span class="glyphicon glyphicon-remove" id="clearnewsearchnamebulk" title="Click here to reset search" style="display:none;cursor: pointer;"></span>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="thbg">
                                    <div style="float:left;width:80%">
                                        <input type="text" id="bulknoticenameti" placeholder="Notice Title" class="form-control pull-left" style="width:100px;">
                                    </div>
                                    <div style="float:left;width:20%">
                                        <span class="glyphicon glyphicon-search" id="searchnamebulkti" style="cursor: pointer;"></span>
                                        <span class="glyphicon glyphicon-remove" id="clearnewsearchnamebulkti" title="Click here to reset search" style="display:none;cursor: pointer;"></span>
                                    </div>
                                </div>
                            </th>
                            <th><div class="thbg">Upload By</div></th>
                            <th><div class="thbg">Uploaded Date</div></th>
                            <th><div class="thbg">Action</div></th>
                        </tr>
                    </thead>
                    <tbody id="templatetablevalue"></tbody>
                </table>
                <center> <div id="templatenonotice"> </div></center>
            </div>
            <div class="pagination" id="pagenatedArea">
                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">
                    </div>

                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
@*<section class="wrapper">
    <div class="container-main">
        
        <h2 class="ctitle">
            Send Bulk Notice
            <span data-toggle="collapse" data-target="#demo">
                <img src="~/newassets/images/info_icon.png"
                     style="cursor:pointer;" />
            </span>
        </h2>
        <div id="demo" class="collapse"
             style="border: 1px solid rgb(143, 213, 0); background:white; padding: 4px; width: 543px;top:156px;z-index:1000;position: absolute">
            <ol style="margin:0 0 0 20px;text-transform: none; padding: 0;">
                <li>
                    <p>
                        <strong>Creating Template</strong>
                    </p>
                    <p>
                        All the fields which have value which will change for each notice, should appear between # #
                        Example Below
                    </p>
                    <p>
                        <strong>
                            LEGAL NOTICE IN ‘CHEQUE BOUNCING CASES’
                        </strong>
                    </p>
                    <p>
                        To,
                    </p>
                    <p>
                        #Client Name#
                    </p>
                    <p>
                        #Address1#
                    </p>
                    <p>
                        #Address2#
                    </p>
                    <p>
                        #City# - #Pincode#
                    </p>
                    <p>
                        <strong>
                            CHEQUE BOUNCING CASE – CHEATING
                        </strong>
                    </p>
                    <p>
                        Dear #First_Name# #Last_Name#,
                    </p>
                    <p>
                        Under the instruction of my Client named #Client_Name#, residing at #Client_Address#, I serve on you this ‘Legal Notice’, informing you as follows:-
                    </p>
                    <p>
                        As per the information through my client #Client_Name# you had issued two cheques, bearing No. #Cheque_No# and drawn on #Bank_Name# dated #Cheque_Date# and #Cheque_Amount# in my client’s favour in lieu of the repayment of the loan advanced by my #Client_Name# to
                        ****************************************************************************
                    </p>
                </li>
                <li>
                    <strong>Creating XLS</strong>
                    In the XLS file, the header columns should match exactly with the matter in the notice template.
                </li>
            </ol>
        </div>
        <div class="">
            <div class="row" style="margin-bottom:10px;display:none">
                <div class="col-md-6">
                    <input type="text" class="inputbg" id="myInput" onkeyup="changePage(1)" placeholder="Search for name" title="Type in a name">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</section>*@
<div class="modal fade" id="CreateTemplateModal">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Create Template</h3>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="ec_bg">
                        <input type="hidden" value="" id="hiddencreatetemplateid" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <span style="color:red">*</span><label>Create Notice</label>
                                            <div class="connectedSortable" id="dragablediv">
                                                <textarea type="text" class="form-control inputFormatTextArea" id="CreateNotice"></textarea>
                                            </div>
                                            <div class="grid-container" style="display:none">
                                                <div id="CreateNoticedd">
                                                </div>
                                                <script>
                                                    CKEDITOR.replace('CreateNotice', {
                                                        toolbar:
                                                            [
                                                                { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source', '-', 'Print', '-', 'Templates'] },
                                                                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight'] },
                                                                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                                { name: 'tools', items: ['Maximize', '-'] },
                                                                { name: 'styles', items: ['Styles', 'format', 'Font', 'FontSize'] },
                                                                { name: 'colors', items: ['TextColor', 'BGColor'] },
                                                                { name: 'editing', items: ['Scayt'] }
                                                            ],
                                                        height: 100,
                                                        width: 750,
                                                        iframeFix: true
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label style="border-bottom:1px solid black">Input field controls</label>
                                    <div style="border-left:1px solid #d1d1d1;background-color:#f8f8f8;padding-left:2px;" id="dividfieldcontrol" class="connectedSortable">
                                        <span style="color:red">*</span><label style="padding-top:20px;">Please select checkbox</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" id="savetemplatenotice" class="sbtbtn">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<script src="~/Scripts/Notice/BulkNotice.js?2.8"></script>

<div id="myModalmarkDeleteconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/delete-notice.png" style="margin:-10px 0px 0 -12px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Delete Template Request</h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p>Are you sure to delete Template?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-secondary" type="button" style="width:100%" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary" style="width:100%" id="deletesingle_final">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalsharenotice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:400px !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/share1-icon.png" style="margin:-10px 0px 0 -12px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Share Notice Request</h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p>Are you sure you want to send bulk notice on respective email?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-secondary" type="button" style="width:100%" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnSendConfirmation" class="btn btn-primary" style="width:100%" id="">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalWhatsUpsharenotice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/share1-icon.png" style="margin:-10px 0px 0 -12px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Share Whatsup Request</h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p>Are you sure you want to send bulk notice on respective whatsup?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-secondary" type="button" style="width:100%" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnSendWhatsupConfirmation" class="btn btn-primary" style="width:100%" id="">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewMoreModal" data-backdrop="static" data-keyboard="false" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" style="height:350px;overflow-y: scroll;">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>


<div id="myModalBulkNoticeHelp" class="modal fade myModal  in" role="dialog" data-backdrop="static" aria-hidden="false">
    <div class="modal-dialog" style="width: 875px!important">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" id="closemodels22" data-dismiss="modal">×</button>
            </div>
            <div class="modaltitle" style="margin: -38px 0 0 0; border-bottom: none;">
                <h4 style="font-size: 18px;">Steps for Bulk Notices Upload</h4>
            </div>
            <div class="modal-body partynamebody">
                <div class="row">
                    <div class="form-group" style="margin: 11px 0; overflow: hidden;">
                        <div class="col-md-12" id="bndExcelDrp">
                            <table>
                                <tr style="line-height:2">
                                    <td style="width:20%">
                                        <b>Step1:</b>
                                    </td>
                                    <td style="width:80%;">
                                        Download the format file.
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td>
                                        <b>Step2:</b>
                                    </td>
                                    <td>
                                        Use the exact column names provided in the format file or you may add new columns, but the Receiver Email ID column is mandatory.
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td>
                                        <b>Step3:</b>
                                    </td>
                                    <td>
                                        Save the file and upload it using the Upload button.
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td>
                                        <b>Step4:</b>
                                    </td>
                                    <td>
                                        Once the file is uploaded, click on the Save button. The data will then be reflected on the dashboard.
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td><b>Step5</b></td>
                                    <td>
                                        Click on the Notice Title to view the uploaded file data.
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td colspan="2">
                                        <h4>Other Features</h4>
                                    </td>
                                </tr>
                                <tr style="line-height:2">
                                    <td><b>Compress Folder:</b></td>
                                    <td>
                                        This feature allows you to compress all data into a single folder and save it on your system.
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-bottom:8px !important;text-align: right!important;">
                <button class="btn btn-secondary" id="" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>