
@{
    var role = Session["sessionroleid"];
    var WhatsAppBulkNotice = Session["WhatsAppBulkNotice"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }

    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}

<script src="~/dist/ckeditor/ckeditor.js"></script>
<script src="~/dist/ckeditor/samples/js/ckeditor.js"></script>
<link href="~/dist/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css" rel="stylesheet" />
<link href="~/dist/jqueryUI/css/jquery-ui.css" rel="stylesheet" />
<script src="~/dist/jqueryUI/js/jquery-ui.js"></script>
<script src="~/Scripts/Notice/BulkNoticeWhatsAppAlert.js?2.4"></script>

<style>
    .upload_btn {
        background: #fff;
        padding: 8px 12px;
        outline: 0 !important;
        border: 1px solid rgba(209, 213, 219, 1);
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(65, 70, 81, 1);
        display: inline-block;
        float: right;
        margin: -40px 0 0 0;
        cursor: pointer;
    }
</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"><span>Send Bulk Notice</span></p>
        </div>
        <div style="margin: 10px 0 5px 0; overflow:hidden;">
            <ul class="snav">
                <li id="" class=""><a href="/@Session["firmcode"]/NoticeTemplate/BulkNotice">Bulk Notice Management</a></li>
                <li id="" class=""><a href="/@Session["firmcode"]/NoticeTemplate/CreateTemplate">Templates</a></li>
                @if (role.ToString() == "1" && WhatsAppBulkNotice.ToString() == "display:unset")
                {
                    <li id="" class="active"><a href="/@Session["firmcode"]/NoticeTemplate/BulNoticeWhatsAppSentDetail">WhatsApp Alert Log</a><span id="whatstotaRecordData"> (0)</span></li>
                }

            </ul>
        </div>
    </div>
</section>
<section class="wrapper" style="margin:unset !important">
    <input type="hidden" value="0" id="hdnsort" />
    <div class="container-main">
        <h2 class="title" id="dynamiciprheader"></h2>
        <div id="page-wrapper">
            <div class="table-panel table-responsive">
                <div style="overflow-x:scroll;">
                    <div class="card-header">
                        <div class="content1" style="padding-bottom:20px;">
                            <div class="text-and-supporting-text1">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type="text" id="idMobNo" placeholder="Mobile Number" class="form-control inputFormat" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" style="display:flex; gap:12px;" id="btns">
                                            <button type="button" id="btnsearch" class="btn btn-primary pull-right" value="SEARCH">Search</button>
                                            <button type="button" id="btnclear" class="btn btn-secondary" value="CLEAR">Reset</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table-panel fixed_table_head">
                        <thead>
                            <tr id="thval">
                                <th>
                                    <div class="thbg">
                                        S.No
                                    </div>
                                </th>
                                <th id="th3" class="head_fix">
                                    <div class="thbg">
                                        Mobile No
                                    </div>
                                </th>
                                <th id="th3" class="head_fix">
                                    <div class="thbg">
                                        Notice Title
                                    </div>
                                </th>
                                <th id="th1">
                                    <div class="thbg">
                                        Status
                                    </div>
                                </th>
                                <th id="th2">
                                    <div class="thbg">
                                        Date
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="bindAlertLogData"></tbody>
                    </table>
                    <center>
                        <div class="notfound" id="journaldatastatus" style="display:none;">
                            <img src="~/newassets/img/not-found.png" />
                            <h4>Data Not Found</h4>

                        </div>
                    </center>
                </div>
                <div class="pagination" id="tradePagination">
                    <div class="pagination-button-group">
                        <div id="prev" class="pagination-button-group-base">
                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                        </div>
                        <div id="pageNumbers" class="pagination-button-group-base1">
                        </div>
                        <div id="next" class="pagination-button-group-base8">
                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                        </div>
                    </div>
                    <div class="text-and-supporting-text-parent">
                        <div class="input">
                            <div class="content">
                                <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                            </div>
                            <div class="help-icon">
                            </div>
                        </div>
                        <div class="text-and-supporting-text-group">
                            <div class="text-and-supporting-text">
                                <div id="divGo" class="text9">Go</div>
                            </div>
                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
