@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    var WhatsAppBulkNotice = Session["WhatsAppBulkNotice"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Manupanel/ckeditor/ckeditor.js"></script>
    <script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
    <link href="~/dist/jqueryUI/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/dist/jqueryUI/js/jquery-ui.js"></script>
    
</head>
<body>
    <section id="header">
        <div class="container-main">
            <div class="text-left">
                <p class="ctitle"><span>Bulk Notice</span></p>
                <input type="hidden" value="@Session["bulkNoticeRegionalLanuage"]" id="hdnbulkNoticeRegionalLanuage" />
            </div>
            <div style="margin: 10px 0 5px 0; overflow:hidden;">
                <ul class="snav">
                    <li id="" class=""><a href="/@Session["firmcode"]/NoticeTemplate/BulkNotice"> Bulk Notice Management</a></li>
                    <li id="" class="active"><a href="/@Session["firmcode"]/NoticeTemplate/CreateTemplate">Templates</a></li>
                    @if (role.ToString() == "1" && WhatsAppBulkNotice.ToString() == "display:unset")
                    {
                        <li id=""><a href="/@Session["firmcode"]/NoticeTemplate/BulNoticeWhatsAppSentDetail">WhatsApp Alert Log</a><span id="whatstotaRecordData"></span></li>
                    }
                </ul>
            </div>
        </div>
    </section>
    @if (role.ToString() == "1" || Convert.ToInt32(ViewBag.IsCreate) == 1)
    {
        <section id="CreateButtonShow" style="display:none">
            <div class="card-header">
                <div class="content1" style="justify-content: flex-end; padding: 0;">
                    <div class="table-header">
                        <div class="actions3">
                            <button class="button4" type="button" onclick="OpenCreateSection()"><span><img src="/newassets/img/plus-icon.png"></span> Create Template </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
        <section id="table">
            <div class="container-main">
                <div class="" id="createTempBody" style="display:none;">
                    <div class="tablearea" style="margin:0;">
                        <div>
                            <h2 class="ctitle">
                                <span id="BackToList" style="cursor:pointer;"><img src="~/newassets/img/pre-arrow.png" width="16" /></span>
                                Create Template
                                <span data-toggle="collapse" data-target="#demo" style="display:none;">
                                    <img src="~/newassets/images/info_icon.png"
                                         style="cursor:pointer;" />
                                </span>
                            </h2>
                            <div id="demo" class="collapse"
                                 style="border: 1px solid rgb(143, 213, 0); background:white; padding: 4px; width: 543px;top:156px;z-index:1000;position: absolute">
                                <ol style="margin:0 0 0 20px;text-transform: none; padding: 0;">
                                    <li>
                                        <p>
                                            <strong>Creating Template</strong>
                                        </p>
                                        <p>
                                            All the fields which have value which will change for each notice, should appear between # #
                                            Example Below
                                        </p>
                                        <p>
                                            <strong>
                                                LEGAL NOTICE IN ‘CHEQUE BOUNCING CASES’
                                            </strong>
                                        </p>
                                        <p>
                                            To,
                                        </p>
                                        <p>
                                            #Client Name#
                                        </p>
                                        <p>
                                            #Address1#
                                        </p>
                                        <p>
                                            #Address2#
                                        </p>
                                        <p>
                                            #City# - #Pincode#
                                        </p>
                                        <p>
                                            <strong>
                                                CHEQUE BOUNCING CASE – CHEATING
                                            </strong>
                                        </p>
                                        <p>
                                            Dear #First_Name# #Last_Name#,
                                        </p>
                                        <p>
                                            Under the instruction of my Client named #Client_Name#, residing at #Client_Address#, I serve on you this ‘Legal Notice’, informing you as follows:-
                                        </p>
                                        <p>
                                            As per the information through my client #Client_Name# you had issued two cheques, bearing No. #Cheque_No# and drawn on #Bank_Name# dated #Cheque_Date# and #Cheque_Amount# in my client’s favour in lieu of the repayment of the loan advanced by my #Client_Name# to
                                            *************************************************************************************
                                        </p>
                                    </li>
                                    <li>
                                        <strong>Creating XLS</strong>
                                        In the XLS file, the header columns should match exactly with the matter in the notice template.
                                    </li>
                                </ol>
                            </div>
                            @if (role.ToString() == "1" || Convert.ToInt32(ViewBag.IsCreate) == 1)
                            {
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Template Name<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                        <input type="text" class="form-control inputFormat" id="txttemplatename" />
                                    </div>

                                    @*<div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label>Language</label>
                                        <select class="selctInputFormat" id="ddlLanguageType">
                                            <option value="English">English</option>
                                            <option value="Hindi">Hindi</option>
                                            <option value="Urdu">Urdu</option>
                                            <option value="Punjabi">Punjabi</option>
                                            <option value="Bengali">Bengali</option>
                                            <option value="Tamil">Tamil</option>
                                            <option value="Telugu">Telugu</option>
                                            <option value="Odia">Odia</option>
                                            <option value="Kannada">Kannada</option>
                                            <option value="Assamese">Assamese</option>
                                            <option value="Gujarati">Gujarati</option>
                                            <option value="Kashmiri">Kashmiri</option>
                                            <option value="Manipuri">Manipuri</option>
                                            <option value="Marathi">Marathi</option>
                                            <option value="Nepali">Nepali</option>
                                            <option value="Sanskrit">Sanskrit</option>
                                            <option value="Santali">Santali</option>
                                            <option value="Sindhi">Sindhi</option>
                                            <option value="Dogri">Dogri</option>
                                            <option value="Maithili">Maithili</option>
                                        </select>
                                    </div>
                                </div>*@
                                    @*<div class="col-md-2 text-left">

                                </div>*@
                                    <div class="form-group col-md-12" style="margin:15px 0;">
                                        <input type="hidden" id="txthidden" value="" />
                                        <label>Create Template<span class="required " aria-required="true"><b> *</b> </span></label>
                                        <div class="connectedSortable" id="dragablediv">
                                            <textarea type="text" class="form-control inputFormat" id="CreateNotice"></textarea>
                                        </div>
                                        <div class="grid-container" style="display:none">
                                            <div id="CreateNoticedd">
                                            </div>
                                            <script>
                                                CKEDITOR.replace('CreateNotice', {
                                                    extraPlugins: 'justify,colorbutton,font,stylescombo,print,templates,scayt',
                                                    removePlugins: 'easyimage,cloudservices',

                                                    toolbar: [
                                                        { name: 'document', items: ['Source', '-', 'Print', '-', 'Templates'] },
                                                        { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'RemoveFormat'] },
                                                        {
                                                            name: 'paragraph', items: [
                                                                'NumberedList', 'BulletedList', '-',
                                                                'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'
                                                            ]
                                                        },
                                                        { name: 'insert', items: ['Image'] },

                                                        { name: 'tools', items: ['Maximize'] },
                                                        { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                                                        { name: 'colors', items: ['TextColor', 'BGColor'] },
                                                        { name: 'editing', items: ['Scayt'] }
                                                    ],

                                                    height: 200,
                                                    forcePasteAsPlainText: true,
                                                    removeDialogTabs: 'image:advanced;link:advanced',

                                                });
                                            </script>
                                        </div>
                                        @*<div class="grid-container" style="display:none">
            <div id="CreateNoticedd">
            </div>
            <script>
                CKEDITOR.replace('CreateNotice', {
                    toolbar:
                        [
                            { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Source', '-', 'Print', '-', 'Templates'] },
                            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight'] },
                            { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                            { name: 'tools', items: ['Maximize', '-'] },
                            { name: 'styles', items: ['Styles', 'format', 'Font', 'FontSize'] },
                            { name: 'colors', items: ['TextColor', 'BGColor'] },
                            { name: 'editing', items: ['Scayt'] }
                        ],
                    height: 100,
                    iframeFix: true
                });
            </script>

        </div>*@
                                    </div>
                                    <div class=" col-md-12 text-right">
                                        <button type="button" id="btnTranslateTemplate" class="btn btn-secondary">Translate</button>
                                        <button type="button" id="savetemplatenotice" class="btn btn-primary">Save Template</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="table" id="templateListBody" style="display:none">
                    <div class="tablearea" style="margin:0;">
                        <table id="" class="table-panel">
                            <thead>
                                <tr>
                                    <th><div class="thbg">Template Name</div></th>
                                    <th width="150px"><div class="thbg">Action</div></th>
                                </tr>
                            </thead>
                            <tbody id="bindtemplatelist"></tbody>
                        </table>
                        <center> <div id="notemplatelist"> </div></center>
                    </div>
                    <div class="pagination" id="pagenatedArea">
                        <div class="pagination-button-group">
                            <div id="prev" class="pagination-button-group-base">
                                <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                            </div>
                            <div id="pageNumbers" class="pagination-button-group-base1">
                            </div>

                            <div id="next" class="pagination-button-group-base8">
                                <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                            </div>
                        </div>
                        <div class="text-and-supporting-text-parent">
                            <div class="input">
                                <div class="content">
                                    <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                                </div>
                                <div class="help-icon">
                                </div>
                            </div>
                            <div class="text-and-supporting-text-group">
                                <div class="text-and-supporting-text">
                                    <div id="divGo" class="text9">Go</div>
                                </div>
                                <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalSelectLanguage" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width:400px;">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header btn-success">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <img src="~/newassets/img/RegionalLanguage.png" style="margin:-10px 0px 0 -12px" />
                        </h4>
                    </div>
                        <div class="modaltitle" style="margin: -33px 0 0 0;border-bottom: none;">
                            <h4>Regional Language Translator Request</h4>
                        </div>
                        <div class="form-group col-md-10" style="width:100%!important;">
                                <label>Language</label>
                                <select class="selctInputFormat" id="ddlLanguageType">
                                    <option value="English">English</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="Urdu">Urdu</option>
                                    <option value="Punjabi">Punjabi</option>
                                    <option value="Bengali">Bengali</option>
                                    <option value="Tamil">Tamil</option>
                                    <option value="Telugu">Telugu</option>
                                    <option value="Odia">Odia</option>
                                    <option value="Kannada">Kannada</option>
                                    <option value="Assamese">Assamese</option>
                                    <option value="Gujarati">Gujarati</option>
                                    <option value="Kashmiri">Kashmiri</option>
                                    <option value="Manipuri">Manipuri</option>
                                    <option value="Marathi">Marathi</option>
                                    <option value="Nepali">Nepali</option>
                                    <option value="Sanskrit">Sanskrit</option>
                                    <option value="Santali">Santali</option>
                                    <option value="Sindhi">Sindhi</option>
                                    <option value="Dogri">Dogri</option>
                                    <option value="Maithili">Maithili</option>
                                    <option value="Bodo">Bodo</option>
                                    <option value="Konkani">Konkani </option>
                                    <option value="Malayalam">Malayalam</option>
                                </select>
                            
                        </div>
                        <div class="modal-footer" style="padding-top:124px !important;">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-secondary" type="button" style="width:100%" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary" style="width:100%" id="btnSelectLanguagefortranslate">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModalNoticeDeleteconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width:400px;">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header btn-success">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <img src="~/newassets/img/delete-notice.png" style="margin:-10px 0px 0 -12px" />
                            </h4>
                        </div>
                        <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                            <h4>Delete Template Request</h4>
                        </div>
                        <div class="modal-body" style="padding:10px 0;">
                            <p>Are you sure to delete Template?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-secondary" type="button" style="width:100%" data-dismiss="modal">Cancel</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary" style="width:100%" id="deleteNT_final">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
</body>
</html>
<script src="~/Scripts/Notice/AddTemplate.js?2.0"></script>