@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
<script>
      var userid = "@userid";
    var roleid = "@role";
    var NoticeId="@ViewBag.NoticeId";
</script>
<script src="~/Scripts/Notice/NoticeBulkSharedToMe.js?1.6"></script>
<section class="wrapper">
    <div class="container-main">
        <h2 class="title">Template List</h2>
        <div class="row">
            <div class="table-panel" data-example-id="hoverable-table">
                <div style="overflow-x:scroll;">
                    <table id="templateexample" class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="noticeTitless" placeholder="Name" class="form-control pull-left" style="width:100px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatatitl"></span>
                                            <span class="glyphicon glyphicon-remove" id="clearnewsearchforsendertitl" title="Click here to reset search" style="display:none;"></span>
                                        </div>
                                    </div>
                                </th>
                                <th>Notice Title</th>
                                <th>Upload By</th>
                                <th>Uploaded Date</th>
                            </tr>
                        </thead>
                        <tbody id="templatetablevalue"></tbody>
                    </table>
                    <center> <div id="templatenonotice"> </div></center>
                    <div class="table-panel">
                        <div class="row settingpanel">
                            <div class="col-md-6" id="footer-data">
                                <div style="float: left;padding: 0 10px 0 0;">
                                    <ul></ul>
                                </div>
                                <div id="templatenoticetbldashboardfooter" style="margin-left:24px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
