@{
    ViewBag.Title = "NoticeSharedToMe";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="wrapper">
        <div class="container">
            <h2 class="title">Notice Shared To Me</h2>
            <div class="row">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <input type="text" id="myInput" onkeyup="changePage(1)" placeholder="Search" title="Type in a name">
                    </div>
                    <div class="col-md-6">
                        <input type="button" value="Send Multiple" class="btn btn-info pull-right" onclick="assignmodal()" />
                    </div>
                </div>
                <div class="table-panel table-responsive" style="padding:10px 0 0 0; overflow-x:auto;" data-example-id="hoverable-table">
                    <div style="overflow-x:scroll;" id="bulknoticelistdiv">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<div class="modal fade" id="AssignModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Send For Approval</h3>
            </div>
            <div class="modal-body" style="height:150px;">
                <div class="form-group">
                    <div class="form-control">
                        <label>Send to manager</label>
                        <input type="radio" name="assignee" value="manager" class="assignto" />
                        <label>Send to client</label>
                        <input type="radio" name="assignee" value="client" class="assignto" />
                    </div>
                    <div class="form-control">
                        <select id="bindusr" class="form-control"></select>
                    </div>
                    <br />
                    <button type="button" id="assignnoticebtn" class="sbtbtn  pull-right" style="background-color:#007bff" value="Send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Notice Sent On</th>
                            <th>Status</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/dist/js/Bulknoticeshared.js?1.7"></script>