@{
    /**/
    var role = Session["sessionroleid"];
    var userid = Session["sessionuserid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    var roleid = "@role";
     var userid = "@userid";
</script>
<style>
    #myInput {
        border-box: box-sizing !important;
        background-image: url(../../Content/assets/searchicon.png) !important;
        background-position: 14px 12px !important;
        background-repeat: no-repeat !important;
        font-size: 16px !important;
        padding: 14px 20px 12px 45px !important;
        border: none !important;
        border-bottom: 1px solid #ddd !important;
    }

    .settingshowhide li {
        margin-left: 10px !important;
    }

    #childtbltr1 table thead tr.childtbltr1cls th.childtbltsssr1cls {
        background-color: #fff0f5 !important;
    }

    .pipesapcls {
        margin: 0;
        padding: 0 5px;
        color: #0059c1;
        font-weight: 500;
    }
</style>
@*Reply Notice *@
<section class="wrapper">
    <div class="container">
        <p class="ctitle text-center">Reply To Notice</p>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-6">
                <input type="text" id="myInput" onkeyup="changePage(1)" placeholder="Search for Notice Title.." title="Type in a name">
            </div>
            <div class="col-md-6">
                <div class="col-md-3"></div>
                <div class="col-md-9" style="font-size:0px">
                    <label>All</label> <input type="radio" value="Home" checked name="statustype" class="notistatustype" />
                    <label class="pipesapcls">|</label>
                    <label>Draft</label> <input type="radio" value="Draft" name="statustype" class="notistatustype" />
                    <label class="pipesapcls">|</label>
                    <label>Sent</label> <input type="radio" value="Sent" name="statustype" class="notistatustype" />
                    <label class="pipesapcls">|</label>
                    <label>Final Approved</label> <input type="radio" value="FinalApproved" name="statustype" class="notistatustype" />
                    <label class="pipesapcls">|</label>
                    <label>Rejected</label> <input type="radio" value="Rejected" name="statustype" class="notistatustype" />
                </div>
            </div>
        </div>
        <div class="table-panel table-responsive">
            <div style="overflow-x:scroll;">
                <table id="example" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="replyfrom" data-column="RespondentsName" data-order="desc">Respondent's Name  &#9650</th>
                            <th class="replydate" data-column="DateofReply" data-order="desc">Date of Reply &#9650</th>
                            <th class="noticedate" data-column="ReplytoNoticeCreatedOn" data-order="desc">Reply to Notice Created On &#9650</th>
                            <th class="noticetitle" data-column="NoticeTitle" data-order="desc">Notice Title &#9650</th>
                            <th class="noticesubject" data-column="ReplySubject" data-order="desc">Reply Subject &#9650</th>
                            <th class="statutory" data-column="NoticeType" data-order="desc">Notice Type   &#9650</th>
                            <th class="pending" data-column="CaseStatus" data-order="desc">Notice Status &#9650</th>
                            <th class="dispatched" data-column="DateofDelivery" data-order="desc">Date of Delivery &#9650</th>
                            <th class="servedon" data-column="DateofReceipt" data-order="desc">Date of Receipt &#9650</th>
                            <th class="remark" data-column="CreateReply" data-order="desc">Remarks &#x25B2</th>
                            <th class="managerapprove">Status for Manager/Client</th>
                            <th class="modeofserviceordelivery" data-column="ModeofServiceorDelivery" data-order="desc">Mode of Service/Delivery  &#9650</th>
                            <th class="replyaddressedto" data-column="ReplyAddressedto" data-order="desc">Reply Addressed to &#9650</th>
                            <th class="addresseeaddress" data-column="AddresseeAddress" data-order="desc">Addressee Address &#9650</th>
                            <th class="otherdetailsofaddressee" data-column="OtherDetailsofAddressee" data-order="desc">Other Details of Addressee &#9650</th>
                            <th class="noticereceivedbyclient" data-column="NoticeReceivedbyClient" data-order="desc">Notice Received by Client &#9650</th>
                            <th class="noticebroughtbyclientforreply" data-column="NoticeBroughtbyClientforReply" data-order="desc">Notice Brought by Client for Reply   &#9650</th>
                            <th class="generationofalerts" data-column="GenerationofAlerts" data-order="desc">Generation of Alerts &#9650</th>
                            <th class="assignmentoftask" data-column="AssignmentofTask" data-order="desc">Assignment of Task &#9650</th>
                            <th class="respondentsaddress" data-column="RespondentsAddress" data-order="desc">Respondent's Address &#9650</th>
                            <th class="otherdetailsofrespondent" data-column="OtherDetailsofRespondent" data-order="desc">Other Detail's of Respondent &#9650</th>
                            <th class="noticereference" data-column="NoticeReference" data-order="desc">Notice Reference  &#9650</th>
                            <th class="replythrough" data-column="ReplyThrough" data-order="desc">Reply Through &#9650</th>
                            <th class="currentstatus" data-column="CurrentStatus" data-order="desc">Current Status &#9650</th>
                            <th class="attachment">Attachment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tablevalueReplytonotice"></tbody>
                </table>
                <center> <div id="noreplytonotice"> </div></center>
                <div class="table-panel">
                    <div class="row settingpanel">
                        <div class="col-md-6" id="footer-data">
                            <div style="float: left;padding: 0 10px 0 0;">
                                <ul>
                                    <li>
                                        <div class="btn-group dropup">
                                            <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                                Customize Fields <span class="glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                            <ul class="dropdown-menu settingshowhide" id="od" style="width:250px">
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="replyfrom" checked><a href="#">Respondent's Name</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="replydate" checked><a href="#">Date of Reply</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticedate" checked><a href="#">Reply to Notice Created On</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticetitle" checked><a href="#">Notice Title</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticesubject" checked><a href="#">Reply Subject</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="statutory" checked><a href="#">Notice Type</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="pending" checked><a href="#">Notice Status</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="dispatched"><a href="#">Date of Delivery</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="servedon"><a href="#">Date of Receipt</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="remark" checked><a href="#" class="dropdown-item">Remarks</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="managerapprove" checked><a>Status for Manager/Client</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="modeofserviceordelivery"><a href="#">Mode of Service/Delivery</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="replyaddressedto"><a href="#">Reply Addressed to</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="addresseeaddress"><a href="#">Addressee Address</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofaddressee"><a href="#">Other Details of Addressee</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticereceivedbyclient"><a href="#">Notice Received by Client</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticebroughtbyclientforreply"><a href="#">Notice Brought by Client for Reply </a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="generationofalerts"><a href="#">Generation of Alerts</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="assignmentoftask"><a href="#">Assignment of Task</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="respondentsaddress"><a href="#">Respondent's Address</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="otherdetailsofrespondent"><a href="#" class="dropdown-item">Other Detail's of Respondent</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="noticereference"><a href="#">Notice Reference</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="replythrough"><a href="#">Reply Through</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="currentstatus"><a href="#" class="dropdown-item">Current Status</a></li>
                                                <li><input type="checkbox" class="shcheckbox1 chkdhide" name="attachment"><a>Attachments</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="listingTableReplyFooter"></div>
                        </div>
                        <div class="col-md-6" style="padding-right:20px">
                            <ul class="pull-right">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Reply To Notice</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Reply To Notice?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteReplyToNotice()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewMoreModal">
    <div class="modal-dialog">
        <div class="modal-content viewmore">
            <div class="modal-header" style="background-color:#fff !important">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <span id="viewmorecontent"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewLogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Notice Logs</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Notice Sent On</th>
                            <th>Status</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody id="modlbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myDocumentModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div class="modal fade" id="AssignModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Send For Approval</h3>
            </div>
            <div class="modal-body" style="height:150px;">
                <div class="form-group">
                    <div class="form-control">
                        <label>Send to manager</label>
                        <input type="radio" name="assignee" value="manager" class="assignto" />
                        <label>Send to client</label>
                        <input type="radio" name="assignee" value="client" class="assignto" />
                    </div>
                    <div class="form-control">
                        <select id="bindusr" class="form-control"></select>
                    </div>
                    <br />
                    <button type="button" id="assignnoticebtn" class="sbtbtn  pull-right" style="background-color:#007bff" value="Save">save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ReceivedReplyModal" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Received Reply</h3>
            </div>
            <div class="modal-body" style="height:200px;">
                <form>
                    <input type="hidden" value="" id="hiddenreplynoticeid" />
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Date</label>
                            <input type="date" class="form-control" id="txtreplyreciveddate" />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Reply Received Through</label>
                            <textarea class="form-control" id="txtreplyrecivedthrough"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Received Attachment</label>
                            <input type="file" class="form-control" id="replypostedFile" multiple />
                        </div>
                        <div class="col-md-6">
                            <span style="color:red">*</span><label>Set reply date</label>
                            <input type="date" class="form-control" id="txtsetreplydate" />
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <button type="button" id="savereplytonotice" class="sbtbtn pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Notice/ReplyToNotice.js"></script>
<script src="~/Scripts/Notice/commonviewmore.js"></script>