@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script>
    var type = '@ViewBag.Type';
</script>
<script src="~/Scripts/Firm/Pages/AddNew.js"></script>
<div class="" id="divmain">
</div>
