@{
    ViewBag.Title = "All Reports";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/AllReports.js?1.9"></script>
<section class="wrapper">
    <div class="container-main">
        <div>
            <div class="text-center">
                <p class="snav">
                    <a class="active" href="javascript:void();" id="alink_matteradded">Matter</a>
                    <a href="javascript:void();" id="alink_invoice">Invoice</a>
                    <a href="javascript:void();" id="alink_expensecreated">Expense Created</a>
                    <a href="javascript:void();" id="alink_timeentry">Time Entry</a>
                    <a href="javascript:void();" id="alink_task">Task</a>
                    <a href="javascript:void();" id="alink_activity">Activity</a>
                    <a href="javascript:void();" id="alink_users">Users</a>
                    <a href="javascript:void();" id="alink_contacts">Contacts</a>
                </p>
            </div>
            <div class="col-md-12 settingpanel"></div>
        </div>
        <div>
            <div id="divcontent"></div>
        </div>
    </div>
</section>
