@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/BulkCaseAssign.js?1.7"></script>
<style>
    .ms-options-wrap {
        border-radius: 5px;
    }
</style>

<section class="wrapper">

    <div class="container-main">
        <div>
            <h2 class="title">Bulk Matter Assign</h2>
            <section class="content">
                <div class="">
                    <div>
                        <form class="ec_bg" id="savemultipleaddress" style="overflow: inherit;height: 200px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <div>
                                            <input type="radio" class="radioBtnClass" id="selectop" checked name="selectop" value="0"> Matter Assign to User
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div>
                                            <input type="radio" class="radioBtnClass" id="selectop" name="selectop" value="1"> Add User For Live Update
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-2">
                                <label class="formLabel colorDark">Select Type<span class="required" aria-required="true">*</span> </label>
                                <select id="SelectConType" name="SelectConType" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;">

                                    <option value="0" selected>Users</option>
                                    <option value="1">Client Contacts</option>
                                </select>
                            </div>
                            <div class="col-md-2" id="SelectCompanydiv" style="display:none;">
                                <label class="formLabel colorDark">Select Company<span class="required" aria-required="true">*</span> </label>
                                <select id="SelectCompany" name="SelectCompany" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;"></select>
                            </div>
                            <div class="col-md-2" id="SelectContactsdiv" style="display:none;">
                                <label class="formLabel colorDark">Select Contacts<span class="required" aria-required="true">*</span> </label>
                                <select id="SelectContacts" name="SelectContacts" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;"></select>
                            </div>
                            <div class="col-md-2" id="FromWorkUserdiv">
                                <label class="formLabel colorDark">Select User<span class="required" aria-required="true">*</span> </label>
                                <select id="FromWorkUserNew" name="FromWorkUserNew" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;"></select>
                            </div>
                            <div class="col-md-1" id="Propectdiv">
                                <label class="formLabel colorDark">Page No:<span class="required" aria-required="true">*</span> </label>
                                <input type="number" id="pagingnocase" class="selctInputFormat" name="pagingnocase" min="1" value="1" />
                            </div>
                            <div class="col-md-3" id="Propectdiv">
                                <label class="formLabel colorDark">Matter<span class="required" aria-required="true">*</span> </label>
                                <select name="languageSelect[]" multiple id="WorkMatter" style="border-radius:5px;"></select>
                            </div>
                            <div class="col-md-12" style="margin-top:20px;">
                                <button type="button" class="sbtbtn" id="SaveBulkCaseAssign">Save</button>
                            </div>
                        </form>
                        <input type="hidden" id="hiddenAddIt">
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>