@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    var totpagesize=@ViewBag.pagesize;
</script>
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script src="~/Scripts/Firm/Pages/ReminderList.js?1.6"></script>

<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle">Calendar Event List</p>
        </div>
    </div>
</section>
<section>
    <div class="card-header">
        <div class="content1" style="justify-content: flex-end; padding:0; ">
            <div class="table-header">
                <div class="actions3">
                    <a href="/@Session["firmcode"]/firm/MergeCalendar" class="button9" title="Calendar"><img src="/newassets/img/calendar-icon.png" width="20"></a>
                    <a href="javaxcript:void()" class="button9" id="delete" title="Remove Event"><span><img src="/newassets/img/delet_icon.svg"></span></a>
                    <div id="ColumnSelectionopen" class="button13">
                        <a href="javascript:void()">
                            <img class="plus-icon" alt="" src="/newassets/img/settings-icon.png"> Customize
                        </a>
                    </div>
                    <a href="/@Session["firmcode"]/firm/CalendarEvent" class="button4" title="New Event"><span><img src="/newassets/img/plus-icon.png"></span> Create Event</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="tablearea" style="margin:0;">
                <div id="updatePanel">
                </div>
            </div>
            <div class="pagination" id="pagenatedArea">

                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">

                    </div>

                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
            </div>
        </div>
</section>

                <script>
                    $("#ColumnSelectionopen").click(function () {
                        //LoadColumnMaster();
                        $('#myModalCustomizedcolumn').modal({ show: true });

                    });
                </script>
                <div id="myModalCustomizedcolumn" class="modal right fade myModal " role="dialog" data-backdrop="static">
                    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-success">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="modaltitle">
                                    <h4><img src="~/newassets/img/customize-icon.png" /> Customise Field</h4>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul id="od">
                                            <li><input type="checkbox" class="shcheckbox1" name="titles" checked>Title</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="details" checked>Description</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="edate" checked>Event Date</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="stime" checked>Start Time</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="etime" checked>End Time</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="allday" checked>AllDay</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="location" checked>Location</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="createdby" checked>Created By</li>
                                            <li><input type="checkbox" class="shcheckbox1" name="cdate" checked>Create Date</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
