@{
    ViewBag.Title = "CASE INFORMATION FORMAT";
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<script>
     var token = "@ViewBag.token";
</script>
<script>
    $(document).on('keypress', '#MobileNo,#AdharCardNo', function (event) {
        var regex = new RegExp("^[0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<section class="wrapper">
    <form id="saveCaseInformationReportform" enctype="multipart/form-data" autocomplete="off">
        <div class="container showcontent">
            <h2 class="title">case information - court format</h2>
            <br />
            <h3 class="title" style="font-size: 18px !important;">PLAINTIFF/PETITIONER/COMPLAINANT/APPELLANT/DECREE HOLDER.     <br>   <small style="font-size:12px;">(PLEASE FILL UP ALL THE RELEVANT FIELDS & (<span style="color:red">*</span>) FIELDS ARE MANDATORY )</small></h3>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Name of Plaintiff/Complainant etc. <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <input type="text" class="form-control" id="CompName" required maxlength="200" />
                </div>
                <div class="form-group col-md-3">
                    <label>S/o,W/o,D/o <span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_Gaurdian" maxlength="200" />
                </div>
                <div class="form-group col-md-3">
                    <label>Address<span class="required" aria-required="true" style="color:red"> </span></label>
                    <textarea type="text" class="form-control" id="p_Address" rows="3" cols="4" required maxlength="300"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label>Aadhaar Card No<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_adharcard" minlength="12" maxlength="12" onkeypress="return isNumberKey(event)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Pin Code<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_pincode" onkeypress="return isNumberKey(event)" maxlength="6" />
                </div>
                <div class="form-group col-md-3">
                    <label>Gender<span class="required" aria-required="true" style="color:red"> </span></label>
                    <select class="form-control" id="p_gender" required><option>Select gender</option><option value="Male">Male</option><option value="Female">Female</option></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Nationality<span class="required" aria-required="true" style="color:red"> </span></label>
                    <select class="form-control" id="p_Nationality"><option>Select Nationality</option><option value="Indian">Indian</option></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Date of Birth<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="date" class="form-control" id="p_dob" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Age<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_age" onkeypress="return isNumberKey(event)" minlength="1" maxlength="2" pattern="^[0-9]*$" />
                </div>
                <div class="form-group col-md-3">
                    <label>Mobile No<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" onkeypress="return isNumberKey(event)" id="p_mobileno" maxlength="10" pattern="^[0-9]*$" />
                </div>
                <div class="form-group col-md-3">
                    <label>Email<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_email" maxlength="50" />
                </div>
                <div class="form-group col-md-3">
                    <label>Act/Section<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_actsection" maxlength="500" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>valuation of Suit<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_valuation" maxlength="100" />
                </div>
                <div class=" form-group col-md-3">
                    <label>Court Fee ascertained</label>
                    <input type="text" class="form-control" id="p_courtfeeasc" onkeypress="return isNumberKey(event)" maxlength="20" />
                </div>
                <div class="form-group col-md-3">
                    <label>Court Fee paid/deposited</label>
                    <input type="text" class="form-control" id="p_courtfeedeposit" onkeypress="return isNumberKey(event)" maxlength="20" />
                </div>
                <div class="form-group col-md-3">
                    <label>Police Station<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_polstn" maxlength="100" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>F.I.R. No. & Year<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_firno" maxlength="50" />
                </div>
            </div>
            <br />
            <h3 class="title" style="font-size: 18px !important;">DEFENDANT/ACCUSED/RESPONDENT/JUDGEMENT DEBTOR ETC. <br><small style="font-size:12px;">(PLEASE FILL UP THE RELEVANT FIELDS)</small></h3>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Name of Defendant/Accused etc.<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                    <input type="text" class="form-control" id="p_name2" required maxlength="200" />
                </div>
                <div class="form-group col-md-3">
                    <label>S/o,W/o,D/o <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <input type="text" class="form-control" id="p_gardian2" maxlength="100" />
                </div>
                <div class="form-group col-md-3">
                    <label>Address <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <textarea type="text" class="form-control" id="p_Address2" rows="3" cols="4" required" maxlength="300"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label>Aadhaar Card No</label>
                    <input type="text" class="form-control" id="p_adharcard2" minlength="12" maxlength="12" onkeypress="return isNumberKey(event)" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Pin Code</label>
                    <input type="text" class="form-control" id="p_pincode2" onkeypress="return isNumberKey(event)" maxlength="6" />
                </div>
                <div class="form-group col-md-3">
                    <label>Gender <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <select class="form-control" id="p_gender2" required><option value="">Select gender</option><option value="Male" selected>Male</option><option value="Female">Female</option></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Nationality</label>
                    <select class="form-control" id="p_Nationality2" required><option>Select Nationality</option><option value="Indian">Indian</option></select>
                </div>
                <div class="form-group col-md-3">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" id="p_dob2" onkeypress="return false;" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Age<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" onkeypress="return isNumberKey(event)" id="p_age2" minlength="1" maxlength="2" pattern="^[0-9]*$" />
                </div>
                <div class="form-group col-md-3">
                    <label>Mobile No<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" onkeypress="return isNumberKey(event)" maxlength="10" id="p_mobileno2" pattern="^[0-9]*$" />
                </div>
                <div class="form-group col-md-3">
                    <label>Email<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_email2" maxlength="50" />
                </div>
            </div>
            <br />
            <h3 class="title" style="font-size: 18px !important;">ADVOCATE FOR PLAINTIFF/COMPLAINANT/PETITIONER/DECREE HOLDER ETC.</h3>
            <br />
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Name of Advocate<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                    <input type="text" class="form-control" id="p_advoname" required maxlength="50" />
                </div>
                <div class="form-group col-md-3">
                    <label>Bar Regn.No. <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <input type="text" class="form-control" id="p_barno" maxlength="50" />
                </div>
                <div class="form-group col-md-3">
                    <label>Address <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <textarea type="text" class="form-control" id="p_AdvoAddress" rows="3" cols="4" required maxlength="100"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label>Mobile No <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                    <input type="text" class="form-control" onkeypress="return isNumberKey(event)" maxlength="10" id="p_mobileno3" pattern="^[0-9]*$" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Email<span class="required" aria-required="true" style="color:red"> </span></label>
                    <input type="text" class="form-control" id="p_email3" maxlength="50" />
                </div>
            </div>
            <button type="button" class="sbtbtn pull-right" id="btnprintCasePret">Print</button>
            <button type="button" class="sbtbtn pull-right" id="btnsaveCasePret" style="margin-right:10px;">Save</button>
            <input type="hidden" id="hdnId" value="" />
        </div>
    </form>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<script>
    $("#p_dob").datepicker({
        maxDate: 0
    });
</script>
<script type="text/javascript" src="~/Scripts/Firm/Pages/Extrapartyinformation.js"></script>
<script type="text/javascript" src="~/Scripts/Firm/Pages/CasePeritioner.js"></script>