@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var userid = Session["sessionuserid"];
}
<script>
    var userid = "@userid";
    var roleids = "@Session["sessionroleid"]";
    var isPartner = "@Session["IsPartner"]";
    var packid = @Session["sessionpackmodule"];
</script>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }

    .ms-options ul li {
        display: block !important;
    }
</style>
<style>
    #matter-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #form-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #barChartNoticeStatus {
        height: 252px !important;
        margin: -17px 0 0 -13px;
        width: 385px !important;
    }

    #chart-area-case-3 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-4 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #subject-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #invioce-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #legend > ul {
        display: flex;
        justify-content: center;
    }

    #legend li {
        cursor: pointer;
        margin: 10px 10px;
        display: flex;
    }

        #legend li span {
            padding-left: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }

    #parentnbox {
        border-bottom: 0px !important;
    }

        #parentnbox > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px !important
        }

        #parentnbox > li > a:hover, .nav > li > a:focus {
            background-color: white !important;
        }

        #parentnbox > li > a:hover {
            border-color: white !important;
        }

    #filterbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        #filterbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        #filterbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .rangediv {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .rangediv li {
            margin: 0;
            padding: 6px 10px 0 0;
            float: left;
        }

    .alertbox li > a {
        color: #555 !important;
        cursor: default;
    }

    .alertbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        .alertbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        .alertbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ebebeb;
        border: none;
        box-shadow: none;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: none;
    }

    .panel-heading {
        position: relative;
        padding: 6px 15px !important;
    }

    .panel-default > .panel-heading {
        background-color: #ebebeb !important;
    }

    .panel-title {
        font-size: 11px !important;
        padding: 3px 0 !important;
    }

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding: 4px 5px 1px 5px;
            border-radius: 50px;
            margin: 1px 0 0 0;
            background: #4d95dd;
            color: #ffffff;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
            color: #000000;
        }

    .dashboard_top_panel {
        margin: 10px 0 20px 0;
        padding: 0;
        overflow: hidden;
    }

        .dashboard_top_panel .dbox {
            margin: 0;
            padding: 10px 20px;
            border-radius: 8px;
            color: #020202;
            background: #ebebeb;
            overflow: hidden;
        }

            .dashboard_top_panel .dbox .iconwrapper {
                margin: 0;
                padding: 5px 0 0 0;
                float: left;
            }

            .dashboard_top_panel .dbox .txtwrapper {
                margin: 0;
                padding: 0;
                float: right;
                text-align: right;
            }

                .dashboard_top_panel .dbox .txtwrapper p {
                }

                    .dashboard_top_panel .dbox .txtwrapper p a {
                        color: #020202;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 16px;
                    }

                        .dashboard_top_panel .dbox .txtwrapper p a:hover {
                            color: #4D95DD;
                            text-decoration: none;
                        }

            .dashboard_top_panel .dbox p label {
                color: #4D95DD !important;
                font-size: 31px !important;
                font-weight: 600 !important;
            }

    .r-activitypanel {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .r-activitywrapper {
        margin: 0 0 30px 0;
        padding: 5px 0;
        border-bottom: 0.5px solid #e2e2e2;
        opacity: 1;
        height: auto;
    }

        .r-activitywrapper p {
            margin: 0;
            padding: 0;
            color: #B5B1B1;
            font-size: 16px;
            letter-spacing: 0.68px;
        }

            .r-activitywrapper p span {
                color: #020202;
                letter-spacing: 0.68px;
                font-weight: 500;
            }

    .recent {
        margin: 0;
        padding: 0;
        /* border-bottom: 1px solid #c8c8c8; */
        font-size: 16px;
        color: #020202;
        height: 155px;
    }
</style>
<head>
    <script src="~/Scripts/Firm/Pages/CaseTrackingReport.js"></script>
    <script src="~/Manupanel/Chart/Chart.min.js"></script>
</head>
<section class="wrapper">
    <div class="container-main">
        <div>
            <h2 class="title">Case Tracking Report</h2>
            <div class="row">&nbsp;&nbsp;</div>
            <div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height:30px;"><h4 class="panel-title"></h4></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-container manual-flip">
                                        <div class="card">
                                            <div class="front">
                                                <div class="header">
                                                    Court Case
                                                    <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation">
                                                        <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                                                            <defs>
                                                                <style>
                                                                    .a {
                                                                        fill: none;
                                                                        stroke: #0961b8;
                                                                        stroke-linecap: round;
                                                                        stroke-miterlimit: 10;
                                                                        stroke-width: 2px;
                                                                    }
                                                                </style>
                                                            </defs>
                                                            <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)"></path><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)"></path></g></g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="content">
                                                    <div id="canvas-holder">
                                                        <canvas id="barChartNoticeStatus"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="header">
                                                    Court Case
                                                    <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card">
                                                        <img src="/newassets/images/flip_back_btn.png">
                                                    </button>
                                                </div>
                                                <div class="content">
                                                    <table cellpadding="0" cellspacing="0" class="table " style="font-size:small;">
                                                        <thead>
                                                            <tr>
                                                                <th width="30%">Type</th>
                                                                <th width="5%">&nbsp;Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tblbodystatusofnotice"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>