
@{
    Layout = null;
}
<script src="~/Scripts/Firm/Pages/CaseWiseCustomDashboard.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CaseWiseCustomDashboard</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
