@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
     var roleids = "@Session["sessionroleid"]";
  var isDelete = "@ViewBag.IsDelete";
    var IsCreate = "@ViewBag.IsCreate";
</script>
<script src="~/Scripts/Firm/Pages/CaseListArchive.js?2.6"></script>
<style>
    .glyphicon-book, .glyphicon-trash, .glyphicon-ok, glyphicon-warning-sign {
        color: black !important;
    }

    .trcolor {
        background: #f5c9c9 !important;
    }

        .trcolor td {
            background-color: transparent !important;
        }
</style>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }

    .scroll-sync-top {
        overflow-x: auto;
        overflow-y: hidden;
        height: 16px;
        background-color: transparent;
        display: none;
    }

    .scroll-top-inner {
        height: 1px;
    }

    .table-scroll-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

        .table-scroll-wrapper::-webkit-scrollbar {
            display: none;
        }

    .scroll-sync-top::-webkit-scrollbar {
        height: 8px;
    }

    .table-panel th {
        position: sticky;
        top: 0;
        z-index: auto;

        background-color: #fafafa;
        border-bottom: 1px solid #e5e7eb;
        border-top: 1px solid #e5e7eb;
        box-sizing: border-box;
        height: 44px;
        align-items: center;
        padding: 0px;
        font-size: 12px;
        color: #717680;
        font-weight: 600;
        white-space: nowrap;
    }

        .table-panel th .thbg {
            position: sticky;
            top: 0;
            background-color: #fafafa;
            z-index: auto;
        }

    .tablecontainer {
        max-height: 600px;
        overflow-y: auto;
        position: relative;
    }
</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle">Delete Matters List</p> <input type="text" id="searchdata" style="display:none">
        </div>
        <div class="supporting-text"></div>
        <div class="tabs-and-filters">
            <div class="button-group">
                <a href="/@Session["firmcode"]/firm/StandardCaseList" title="Active Matter List" id="activemattertab" class="button-group-base">Active <span id="CcaseCount"></span></a>
                <a href="/@Session["firmcode"]/firm/ArchiveMatterList" class="button-group-base1" title="Archive Matter List" id="archivemattertab">Archive <span id="ArchcaseCount"></span></a>
                <a href="/@Session["firmcode"]/firm/caselistarchive" title="Matters list marked for deletion" class="button-group-base2" id="deletemattertab" style="background:#f3f3f3;">Delete Request <span id="DeltcaseCount"></span></a>
            </div>
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="card-header">
                <div class="content1">
                    <div class="text-and-supporting-text1">
                        <div class="filter" id="idcustomcommonFilter" style="cursor:pointer;">
                            <img class="plus-icon" alt="" src="~/newassets/img/filter-icon.png">
                            Filters
                        </div>
                    </div>
                    <div class="table-header">
                        <div class="actions3">
                            <div class="button13" title="Restore Selected">
                                <img alt="" src="~/newassets/img/Restore.png">
                                <div class="text-padding">
                                    <div class="text1"><a href="javascript:void()" id="restoreMultipleMatter" title="Restore Selected"> Restore Selected</a></div>
                                </div>
                            </div>
                            <div class="button13" id="ColumnSelectionopen" title="Remove multiple matter">
                                <img alt="" src="~/newassets/img/deletematter.png">
                                <div class="text-padding">
                                    <div class="text1"><a href="javascript:void()" id="removeMultipleMatter" title="Remove multiple matter"> Bulk Delete</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tablearea">
                <div class="scroll-sync-top" aria-hidden="true">
                    <div class="scroll-top-inner"></div>
                </div>
                <div class="tablecontainer table-scroll-wrapper">
                    <div class="table-scroll-inner">
                        <table id="example" class="table-panel">
                            <thead>
                                <tr>
                                    <th style="width:4%"><div class="thbg"><input type="checkbox" id="select_all" /></div></th>
                                    <th class="deletiondate" title="Date on which request for deletion is raised.">
                                        <div class="thbg">
                                            Deletion Date
                                        </div>
                                    </th>
                                    <th class="casecasename">
                                        <div class="thbg">
                                            Matter Name
                                        </div>
                                    </th>
                                    <th class="casestartdate" title="Matter start date">
                                        <div class="thbg">
                                            Date
                                            <input type="date" title="Start Date" id="casefilterdate" placeholder="Matter Start Date" class="form-control pull-left" style="width:130px; display:none">
                                            <span class="glyphicon glyphicon-remove" id="casecleardate" title="Click here to clear date" style="display: none; width: 7%; cursor: pointer; font-size:10px; padding:2px 0 0 0;"></span>
                                        </div>
                                    </th>
                                    <th class="MatterType">
                                        <div class="thbg">
                                            Matter Type
                                        </div>
                                    </th>
                                    <th class="casecreatedby">
                                        <div class="thbg">
                                            Created By
                                        </div>
                                    </th>
                                    <th class="deletrequestby">
                                        <div class="thbg">
                                            Delete Request By
                                        </div>
                                    </th>
                                    <th class="remarks">
                                        <div class="thbg">
                                            Remark
                                        </div>
                                    </th>
                                    <th><div class="thbg">Actions</div></th>
                                </tr>
                            </thead>
                            <tbody id="bindcasedata"></tbody>
                        </table>
                        @*<center><div id="pdatastatus"></div></center>*@
                        <center>
                            @*<div id="pdatastatus"> </div>*@
                            <div class="notfound" id="pdatastatus" style="display:none;">
                                <img src="~/newassets/img/not-found.png" />
                                <h4>No result found!</h4>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            @*Start Pagination*@
            <div class="pagination" id="delIdDetail">
                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">
                    </div>
                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />
                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">
                    </div>
                </div>
            </div>
            @*End Pagination*@
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>

<div id="myModaldocs1" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Email Data</span>
                </h4>
            </div>
            <div class="minebody modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ec_bg">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group form-horizontal">
                                            <label class="formLabel colorDark col-md-4">Please enter the E-mail Id.<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                            <div class="col-md-7">
                                                <input type="email" class="form-control inputFormat" style="background-color: white !important;" id="shareemail" placeholder="Please enter the E-mail Id. with Comma Separated (,) in matter of Multiple recipients." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-actions">
                                            <div class="modal-footer" style="border-top: none !important">
                                                <button type="button" id="sharedocs" class="btn btn-success save" value="Save">Share to mail</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>

<!--For Common Custom Filter-->
<div id="myModalCustomCommonFilter" class="modal right fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 400px; height: 100vh; padding: 2px 0;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/mfilter-icon.png" />
                </h4>
            </div>
            <div class="modaltitle">
                <h4>Apply Filter</h4>
                <p>Select fields to apply your filter</p>
            </div>
            <div class="modal-body">
                <form id="commonforreset">
                    <div class="row" style="padding:15px 0 0 0;">
                        <div class="col-md-12">
                            <label>Search By User</label>
                            <select class="selctInputFormat" id="filtercaseuserarchive">
                                <option value="" selected>Select User </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:15px 0 0 0;">
                        <div class="col-md-12">
                            <input type="text" id="casefiltercasename" placeholder="Search Matter Name" class="inputFormat">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin:40px 0 0 0;">
                <button class="btn btn-secondary" id="CancelCommonDashb">Cancel</button>
                <button class="btn btn-primary pull-right" id="searchdatas">Search</button>
            </div>

        </div>
    </div>
</div>
<div id="myModalmarkArchiveconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_archivematterrequesr">Restore Matter Request</h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p>Are you sure you want Restore the matter</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="archivesingle_final">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalmarkDeleteconfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <img src="~/newassets/img/icon1.png" style="margin:-15px 0px 0 -15px" />
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4>Delete Matter Request</h4>
            </div>
            <div class="modal-body" style="padding:10px 0;">
                <p>Are you sure to delete matter? <strong style="display:none" id="id_Deletematternames"></strong></p>
            </div>
            <div class="modal-footer modaldelete" style="border-top:0 !important">
                <button class="btn btn-secondary" id="" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="deletesingle_final">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const topScroll = document.querySelector('.scroll-sync-top');
        const topScrollInner = document.querySelector('.scroll-top-inner');
        const tableScroll = document.querySelector('.table-scroll-wrapper');

        function updateScrollBarVisibility() {
            const isScrollNeeded = tableScroll.scrollWidth > tableScroll.clientWidth;
            if (isScrollNeeded) {
                topScroll.style.display = 'block';
                topScrollInner.style.width = tableScroll.scrollWidth + 'px';
            } else {
                topScroll.style.display = 'none';
                topScrollInner.style.width = '0px';
            }
        }

        // Sync scroll positions
        topScroll.addEventListener('scroll', () => {
            tableScroll.scrollLeft = topScroll.scrollLeft;
        });

        tableScroll.addEventListener('scroll', () => {
            topScroll.scrollLeft = tableScroll.scrollLeft;
        });

        // Automatically observe table width changes
        const resizeObserver = new ResizeObserver(() => {
            updateScrollBarVisibility();
        });

        // Watch inner table container
        resizeObserver.observe(tableScroll);

        // Initial check
        updateScrollBarVisibility();
    });
</script>


