@{
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<i class="pp-icon-user"></i>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<script>
    var totpagesize=@ViewBag.pagesize;
</script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

    #searchdata {
        border: 1px solid #ccc;
        padding: 7px 4px;
        font-size: 12px;
        background: #ffffff;
        width: 92%;
        margin: 5px 0 13px 0;
    }

    #myInput:focus {
        outline: 3px solid #ddd;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    $('body').click(function (evnt) {
        $('#myDropdown').click(function (event) {
            event.stopPropagation();
            return false;
        });
        $('#dropdowntab').click(function (event) {
            event.stopPropagation();
            return false;
        });
        $(".dropdown-content").removeClass("show");
    });
</script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> @Session["caclientlable"] List</li>
        </ol>
        <h1><span class="fa fa-users"></span>  @Session["caclientlable"] List</h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="padding:5px;">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp">
                            @*<li><btn class="btn btn-default" id="syncrqst" title="Save data sync request"><span class="glyphicon glyphicon-retweet"></span>&nbsp;</btn></li>*@
                            <li>
                                <btn style="margin:0 0 0 5px " class="btn btn-info" id="linkclient" title="Create New Client"><span class="glyphicon glyphicon-plus" title="Create New Client"></span> New</btn>
                            </li>
                            <li>
                                <btn style="margin:0 0 0 5px; display:none " class="btn btn-info" id="linkclient" title="Create New Client"><span class="glyphicon glyphicon-plus"></span> New Client</btn>
                            </li>
                            <li>
                                <btn class="btn btn-primary" id="excel" title="Export to Excel"> <span class="glyphicon glyphicon-save"></span> Excel</btn>
                            </li>
                            <li>
                                <btn type="button" id="pdf" class="btn btn-primary" title="Export data to PDF" /><span class="glyphicon glyphicon-save" title="Export to PDF"></span> PDF</btn>
                            </li>
                            <li>
                                <btn type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaldocs1" id="btnShare" value="Share" title="Share data To Email" /><i class="glyphicon glyphicon-envelope"></i> Email</btn>
                            </li>
                            <li>
                                <div class="dropdown" id="dropdowntab">
                                    <button onclick="myFunction()" class="btn btn-success"><span class="glyphicon glyphicon-filter"></span> Filter <span class="caret"></span></button>
                                    <div id="myDropdown" class="dropdown-content" style="padding:5px; background:#ffffff;">
                                        <input type="text" placeholder="Type here..." id="searchdata">
                                        <button type="button" class="form-control" id="searchdatas" />Search</button>
                                        <p>
                                            <label>Status</label>
                                            <select id="le" class="form-control" onchange="filterFunctionstatus()">
                                                <option value="" selected>Select All </option>
                                                <option value="Enabled">Enabled</option>
                                                <option value="Disabled">Disabled</option>
                                            </select>
                                        </p>
                                        <p>
                                            <label style="color:white">&nbsp;</label>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" id="bd" style="width:164px !important;">
                                    <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="cname" checked> @Session["caclientlable"] Name</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="username" checked>Login UserName</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="email" checked>Email</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="mobile" checked>Mobile</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="date_time" checked>Date</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="photo" checked>Profile Image</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="status1" checked>Status</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="address">Address</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="city" checked>City</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="state">State</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="country">Country</a></li>
                                    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox" class="shcheckbox1" name="landline">Landline</a></li>
                                </ul>
                                <button type="button" class="btn btn-success " style="margin-left:5px;" id="enable" title="Activate Client"> <span class="glyphicon glyphicon-eye-open"> </span>  Enable</button>
                                <button type="button" class="btn btn-danger " style="margin-left:5px;" id="disable" title="Deactivate Client"> <span class="glyphicon glyphicon-eye-close"> </span>  Disable</button>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
            </div>
        </div>
    </section>
    <!-- /.panel-heading -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:1086px !important">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Client Case List
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="min-height:480px; overflow-y:scroll;" class="mymodels1" id="doctxt">
                        @*<table id="example1" style="overflow-x:auto;" class="dataTable table table-bordered table-striped"><thead><tr><th class="name">Case</th><th class="name">Status</th><th class="name">CNR No.</th><th class="name">Open Date</th><th class="name">Close Date</th> <th width="" class="document" align="center">Document &nbsp;</th><th>Case Details</th></tr></thead><tbody><tr><td><a href="#" onclick="OpenMatterDetail(189)">CRLA - CRIMINAL APPEAL 1083/2012</a></td><td class="cstatus">Open</td><td>1010</td><td>2019-03-15</td><td>2019-03-31</td><td align="center"><a href="null" class="details"><span class=""> </span></a></td><td><a href="/ADMI/firm/CaseDetails/2500" class="details"><span class="glyphicon glyphicon-book"></span></a></td></tr><tr><td><a href="#" onclick="OpenMatterDetail(198)">W.P.(CRL) - [CRLW] 3960/2018</a></td><td class="cstatus">Open</td><td>10010</td><td>2019-03-22</td><td>2019-03-29</td><td align="center"><a href="null" class="details"><span class=""> </span></a></td><td><a href="/ADMI/firm/CaseDetails/2505" class="details"><span class="glyphicon glyphicon-book"></span></a></td></tr><tr><td><a href="#" onclick="OpenMatterDetail(203)">BA2 - SECOND BAIL APPLICATION 1/2019</a></td><td class="cstatus">Pending</td><td>100100</td><td>2019-03-31</td><td>2019-04-07</td><td align="center"><a href="/Documents/Matterdocuments/78/159/CrPCf2rE4Qmcyo.docx" class="details"><span class="glyphicon glyphicon-folder-open"> </span></a></td><td><a href="/ADMI/firm/CaseDetails/2510" class="details"><span class="glyphicon glyphicon-book"></span></a></td></tr><tr><td><a href="#" onclick="OpenMatterDetail(204)">MACApp. - Motor Accident Appeal 114/2012</a></td><td class="cstatus">Close</td><td>100101</td><td>2019-03-27</td><td>2019-03-27</td><td align="center"><a href="null" class="details"><span class=""> </span></a></td><td><a href="/ADMI/firm/CaseDetails/2511" class="details"><span class="glyphicon glyphicon-book"></span></a></td></tr><tr><td><a href="#" onclick="OpenMatterDetail(205)">CIVIL APPEAL 1581/2005</a></td><td class="cstatus">Pending</td><td>10010</td><td>2019-03-01</td><td>2019-03-01</td><td align="center"><a href="/Documents/Matterdocuments/78/158/CareercounselingDoc3PEbxn0zLh.docx" class="details"><span class="glyphicon glyphicon-folder-open"> </span></a></td><td><a href="/ADMI/firm/CaseDetails/2513" class="details"><span class="glyphicon glyphicon-book"></span></a></td></tr></tbody></table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var fcode = localStorage.getItem("FirmCode");
        function OpenMatterDetail(strid) {
            var url = "/firm/MatterSingleView/" + strid;
            window.location = encodeURI("/" + fcode + url);
        }
    </script>
    <script>
            @*var type = '@ViewBag.type'
            //console.log(type);*@
    </script>
    <script src="~/Scripts/Firm/Pages/ClientList.js" type="text/javascript"></script>
    <script type="text/javascript">
        var tableToExcel1 = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="https://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
    <script>
        function searchTable() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("searchdata");
            filter = input.value.toLowerCase();
            table = document.getElementById("example");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        function filterFunctionstatus() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("le");
            filter = input.value.toUpperCase();
            table = document.getElementById("example");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByClassName("status1");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
    <script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
    <script src="~/CssJsfiles/js/pdfmake.min.js"></script>
    <script src="~/CssJsfiles/js/html2canvas.min.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#example')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("ClientList.pdf");
                }
            });
        });
    </script>
    <div id="updatePanel" style="overflow-x:auto;">
    </div>
    <div><center><span id="datastatus"></span></center></div>
    <div id="tfooter">
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right"></ul>
    </div>
</aside>
<script src="~/PanelDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
<script>
    /*					PAGINATION
    - on change max rows select options fade out all rows gt option value mx = 5
    - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
    - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
    - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
    - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
    */
    getPagination('#example');
    function getPagination(table) {
        $('#maxRows').on('change', function () {
            $('.pagination').html('');						// reset pagination
            var trnum = 0;									// reset tr counter
            var maxRows = parseInt($(this).val());
            //alert(maxRows);
            // alert(maxRows);// get Max Rows from select option
            var totalRows = $(table + ' tbody tr ').length;
            // alert(totalRows);// numbers of rows
            $('#example tbody tr').each(function () {			// each TR in  table and not the header
                trnum++;
                //alert(trnum);// Start Counter
                if (trnum > maxRows) {						// if tr number gt maxRows
                    $(this).hide();							// fade it out
                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
            });											//  was fade out to fade it in
            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                var pagenum = Math.ceil(totalRows / maxRows);
                // alert(pagenum);// ceil total(rows/maxrows) to get ..
                //	numbers of pages
                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                    $('.pagination').append('<li data-page="' + i + '">\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </li>').show();
                }											// end for i
            } 												// end if row count > max rows
            $('.pagination li:first-child').addClass('active'); // add active class to the first li
            $('.pagination li').on('click', function () {		// on click each page
                var pageNum = $(this).attr('data-page');
                // alert(pageNum);// get it's number
                var trIndex = 0;							// reset tr counter
                $('.pagination li').removeClass('active');	// remove active class from all li
                $(this).addClass('active');					// add active class to the clicked
                $('#example tbody tr').each(function () {		// each tr in table not the header
                    trIndex++;
                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide();
                    } else { $(this).show(); } 				//else fade in
                }); 										// end of for each tr in table
            });										// end of on click pagination list
        });
        // end of on select change
        // END OF PAGINATION
    }
</script>
<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("example");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<br />
<div id="tokens"></div>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="myModalleadcall" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Client Calls
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="exTab1">
                                            <ul class="nav nav-pills">
                                                <li class="active">
                                                    <a href="#1a" data-toggle="tab">View Calls</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active" id="1a">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group form-horizontal" style="overflow-x:auto">
                                                                <table class="dataTable table table-bordered table-striped">
                                                                    <tr>
                                                                        <th width="15px;" style="background-color:#5c5c5c">S.No</th>
                                                                        <th style="background-color:#5c5c5c" width="100px;">Lead Name</th>
                                                                        <th style="background-color:#5c5c5c" width="100px;">Call Type</th>
                                                                        <th style="background-color:#5c5c5c" width="140px;">Date</th>
                                                                        <th style="background-color:#5c5c5c" width="100px;">Details</th>
                                                                        <th style="background-color:#5c5c5c" width="200px;">Created By</th>
                                                                    </tr>
                                                                    <tbody id="assignuserdata"></tbody>
                                                                </table>
                                                                <center><div id="calldatastatus"></div></center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span id="textleadid" style="display:none"></span>
                                            </div>
                                        </div>
                                        <!-- /.row (nested) -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModaldocs1" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Email Data</span>
                </h4>
            </div>
            <div class="minebody modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <legend>Email Data</legend>
                                            @*<div class="form-group form-horizontal">
                                                    <label class="control-label col-md-3">Choose Folder</label>
                                                    <div class="col-md-8">
                                                        <select name="" class="form-control" id="filedirectory">
                                                            <option value="">Select Folder...</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Please enter the E-mail Id.<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                                <div class="col-md-8">
                                                    <input type="email" class="form-control" id="shareemail" placeholder="Please enter the E-mail Id. with Comma Separated (,) in case of Multiple recipients." />
                                                </div>
                                            </div>
                                            <button class="btn btn-labeled btn-info" id="sharedocs">
                                                <span class="btn-label"><i class="fa fa-envelop"></i></span>Share to mail
                                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </fieldset>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
