@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/ClientMultipleAddress.js?1.9"></script>
<style>
    .form-group {
        padding-top: 10px;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <section id="header">
            <div class="container-main">
                <div class="text-left">
                    <a class="goback" id="goBack" href="/@Session["firmcode"]/Firm/ContactsList"><img src="/newassets/img/backarrow.svg" alt="">Go Back</a>
                    <h3 style="margin-top:0px;">Client Multiple Address</h3>

                </div>
            </div>
        </section>
        <section class="content_wrapper">
            <div class="form_wrapper_main">

                <form class="row ec_bg" id="savemultipleaddress">
                    @*<div class="col-md-3">
                            <label class="formLabel colorDark">Contact Type<span class="required" aria-required="true">*</span> </label>
                            <select id="Clistctypeaddress" name="Clistctypeaddress" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;"></select>
                        </div>*@
                    <div class="col-md-4" style="display:none" id="Propectdiv">
                        <div class="form-group">
                            <label class="formLabel colorDark">Select Contact<span class="required" aria-required="true">*</span> </label>
                            <select class="form-control selctInputFormat" style="background-color: white !important;" id="multipleAddressContact"></select>

                        </div>

                    </div>
                    <div class="col-md-4" id="clientdiv">
                        <div class="form-group">
                            <label class="formLabel colorDark">Select Client<span class="required" aria-required="true">*</span> </label>
                            <select class="form-control selctInputFormat" style="background-color: white !important;" id="multipleAddressClient"></select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark">Select Country<span class="required" aria-required="true">*</span> </label>
                            <select class="form-control selctInputFormat" style="background-color: white !important;" id="aCountry">
                                <option value="">Select</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark">Select State<span class="required" aria-required="true">*</span> </label>
                            <select class="form-control selctInputFormat" style="background-color: white !important;" id="aState">
                                <option value="">Select</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark">Select City<span class="required" aria-required="true">*</span> </label>
                            <select class="form-control selctInputFormat" style="background-color: white !important;" id="aCity">
                                <option value="">Select</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark ">Pincode <span class="required" aria-required="true">*</span> </label>
                            <input type="text" class="form-control inputFormat" id="aPincode" name="aPincode" onkeypress="return isNumberKey(event)" placeholder="Enter Pincode" maxlength="6" minlength="6">
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark">GST No.  </label>
                            <input type="text" class="form-control inputFormat" id="aGST" name="aGST" placeholder="Enter GST No." maxlength="15">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="formLabel colorDark " minlength="10">PAN No.  </label>
                            <input type="text" class="form-control inputFormat" id="aPAN" name="aPAN" placeholder="Enter PAN No." maxlength="10">
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="formLabel colorDark">Address <span class="required" aria-required="true">*</span> </label>
                            <textarea class="form-control1 form-control inputFormatTextArea" rows="3" id="mAddress" name="mAddress" placeholder="Enter Address"></textarea>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="savecontactaddress">Save</button>
                        </div>
                    </div>

                </form>
                <input type="hidden" id="hiddenAddIt">
            </div>

            <div class="tablearea border_one">
                <div class="tablecontainer">

                    <div class="table-responsive" style="margin-top:5px">
                        <div class="card-header">
                            <div class="content1" style="padding:0 0 15px 0;">
                                <div class="text-and-supporting-text1">
                                    <div class="ec_bg" style="display: flex;">
                                        @*<div class="col-md-3">
                                                <label class="formLabel colorDark">Contact Type<span class="required" aria-required="true">*</span> </label>
                                                <select id="ClistctypeaddressFilter" name="ClistctypeaddressFilter" class=" dropdown-toggle form-control selctInputFormat" style="background-color: white !important;"></select>
                                            </div>*@
                                        <div class="col-md-12" style="display:none; padding-left:0; padding-right:0;" id="PropectdivFilter">
                                            <div class="form-group">
                                                @*<label class="formLabel colorDark">Select Contact<span class="required" aria-required="true">*</span> </label>*@
                                                <select class="form-control selctInputFormat" placeholder="Select Contact" style="background-color: white !important;" id="multipleAddressContactFilter"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="clientdivFilter" style="padding-left:0; padding-right:0;">
                                            <div class="form-group">
                                                @*<label class="formLabel colorDark"> Select Client</label>*@
                                                <select class="form-control selctInputFormat" placeholder="Select Client" id="multipleAddressClientFilter"></select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="table-header">
                                    <div class="actions3">
                                        <button id="ColumnSelectionopen" class="button13"> <img class="plus-icon" alt="" src="~/newassets/img/settings-icon.png"> Customize  </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="overflow-x:auto;">
                            <table class="table-panel" id="ClientAddress">
                                <thead>
                                    <tr>
                                        <th class="eSlNo"><div class="thbg">SL No.</div></th>
                                        <th class="eType"><div class="thbg">Type</div></th>
                                        @*<th class="eClient"><div class="thbg">Client Name</div></th>*@
                                        <th class="eContact"><div class="thbg">Contact Name</div></th>
                                        <th class="eAddress"><div class="thbg">Address</div></th>
                                        <th class="eCountry"><div class="thbg">Country</div></th>
                                        <th class="eState"><div class="thbg">State</div></th>
                                        <th class="eCity"><div class="thbg">City</div></th>
                                        <th class="ePIN"><div class="thbg">Pincode</div></th>
                                        <th class="eGST"><div class="thbg">GST NO.</div></th>
                                        <th class="ePAN"><div class="thbg">PAN No.</div></th>
                                        <th class="eCreatedBy"><div class="thbg">Created By</div></th>
                                        <th class="edate" style="min-width:100px;"><div class="thbg">Date</div></th>
                                        <th class="eAction"><div class="thbg" style="text-align:center;">Action</div></th>
                                    </tr>
                                </thead>
                                <tbody id="bindClientAddress"></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            @*<div id="notfound" style="text-align:center;display:none">No result found...</div>*@
                            <center>
                                <div class="notfound" id="pdatastatus" style="display:none;">
                                    <img src="~/newassets/img/not-found.png" />
                                    <h4><span id="dtNotFound">No data found</span></h4>
                                </div>
                            </center>
                        </div>

                        <div class="pagination" id="tradePagination">
                            <div class="pagination-button-group">
                                <div id="prev" class="pagination-button-group-base">
                                    <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                    <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                                </div>
                                <div id="pageNumbers" class="pagination-button-group-base1">
                                </div>
                                <div id="next" class="pagination-button-group-base8">
                                    <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                    <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                                </div>
                            </div>
                            <div class="text-and-supporting-text-parent">
                                <div class="input">
                                    <div class="content">
                                        <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                                    </div>
                                    <div class="help-icon">
                                    </div>
                                </div>
                                <div class="text-and-supporting-text-group">
                                    <div class="text-and-supporting-text">
                                        <div id="divGo" class="text9">Go</div>
                                    </div>
                                    <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                                </div>
                            </div>
                        </div>


                        @*<div class="settingpanel">
                                <div class="col-md-12">
                                    <div class="row">
                                        <ul>
                                            <li>
                                                <div class="btn-group dropup">
                                                    <a href="javascript:void()" class=" dropdown-toggle form-control selctInputFormat" style="background-color: #ebebeb !important; margin-top: -3px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-cog" style="font-size:14px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                                        Customize Field
                                                    </a>
                                                    <ul class="dropdown-menu settingshowhide" id="ol">
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eType" checked><a href="#" class="dropdown-item">Type</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eClient" checked><a href="#" class="dropdown-item">Client Name</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eContact" checked><a href="#" class="dropdown-item">Contact Name</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eAddress" checked><a href="#" class="dropdown-item">Address</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCountry"><a href="#" class="dropdown-item">Country</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eState" checked><a href="#" class="dropdown-item">State</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCity"><a href="#" class="dropdown-item">City</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ePin"><a href="#" class="dropdown-item">Pincode</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eGST" checked><a href="#" class="dropdown-item">GST No.</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ePAN" checked><a href="#" class="dropdown-item">PAN No.</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCreatedBy" checked><a href="#" class="dropdown-item">Created By</a></li>
                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="edate" checked><a href="#" class="dropdown-item">Date</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div id="ulfooter"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                    </div>

                </div>
            </div>

        </section>
    </div>
</section>
<div id="myModalCustomizedcolumn" class="modal right fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:400px;height: 100vh; padding:2px 0;">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modaltitle">
                    <h4><img src="~/newassets/img/customize-icon.png" /> Customise Field</h4>
                </div>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12" style="height:700px;">
                        <ul id="ol">
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eType" checked><a href="#" class="dropdown-item">Type</a></li>
                            @*<li><input type="checkbox" class="shcheckbox1 chkdhide" name="eClient" checked><a href="#" class="dropdown-item">Client Name</a></li>*@
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eContact" checked><a href="#" class="dropdown-item">Contact Name</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eAddress" checked><a href="#" class="dropdown-item">Address</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCountry"><a href="#" class="dropdown-item">Country</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eState" checked><a href="#" class="dropdown-item">State</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCity"><a href="#" class="dropdown-item">City</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ePin"><a href="#" class="dropdown-item">Pincode</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eGST" checked><a href="#" class="dropdown-item">GST No.</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="ePAN" checked><a href="#" class="dropdown-item">PAN No.</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="eCreatedBy" checked><a href="#" class="dropdown-item">Created By</a></li>
                            <li><input type="checkbox" class="shcheckbox1 chkdhide" name="edate" checked><a href="#" class="dropdown-item">Date</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>

@* Delete popup started *@

<div id="myModalDeleteConfirmation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <img src="/newassets/img/delete-notice.png" style="margin:-10px 0px 0 -13px">
                </h4>
            </div>
            <div class="modaltitle" style="margin: -33px 0 0 0; border-bottom: none;">
                <h4 id="ids_deleteTraderequesr">Delete Request</h4>
            </div>
            <div class="modal-body">
                <p id="msgRUSure">Are you sure you want to delete this Address.</p>
            </div>
            <div class="footer_buttons modal-footer">
                <button class="btn btn-secondary" id="" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="deleteListDetails">Confirm</button>
            </div>
        </div>
    </div>
</div>
@* Delete popup ended *@


<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
