@{
    ViewBag.Title = "CreateUser";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <h1><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;&nbsp;Cloud Upload</h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                </div>
            </div>
            <script src="~/CssJsfiles/js/jquery.dataTables.min.js"></script>
            <div style="margin:0 auto; margin-top:3%">
                <center><img src="~/assets/img/clouddrive.png" height="180" width="320" /></center>
            </div>
            <div style="margin-top:10px;">
                <center><button type="button" class="btn btn-info" title="Cloud drive" onclick=" return alert('You are not authorised to access cloud drive.')"><span> click here to access Cloud drive</span></button></center>
            </div>
        </div>
    </section>
</aside>
