@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    var personaltype= "@ViewBag.personaltype";
</script>
<style>
    #myModal {
        z-index: 9999;
    }
</style>
<script src="~/Scripts/Firm/Pages/CommunicationList.js?2.0" type="text/javascript"></script>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"> Communication</p>
        </div>
    </div>
</section>
<section style="margin:20px 0;">
    <div class="container-main">
        <div class="row">

            <div class="col-md-4">
                <label>From</label>
                <input type="date" class="selctInputFormat" placeholder="yyyy-mm-dd" id="searchfrom">
            </div>
            <div class="col-md-4">
                <label>To</label>
                <input type="date" class="selctInputFormat" placeholder="yyyy-mm-dd" id="searchto">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="searchcommunication" style="margin-top:23px;">Search</button>
                <span class="btn btn-secondary" id="clearnewseach" title="Click here to reset search" style="display:none; margin: 20px 0 0 10px; cursor: pointer"><img src="/newassets/img/btn-close.png"></span>
            </div>
            
        </div>
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">

            <div class="tablearea" style="margin:0;">
                <div class="tablecontainer">
                    <div id="cdcommunique">
                        <table id="tblcommunique" class="table-panel">
                            <thead>
                                <tr>
                                    <th width="10%"><div class="thbg">Date</div></th>
                                    <th width="8%" style="display:none;">
                                        <div class="thbg">
                                            <select class="form-control" id="cdcfiltertype">
                                                <option value="" selected="">Type</option>
                                                <option value="E-mail">E-mail</option>
                                                <option value="Chat/Text">Chat/Text</option>
                                                <option value="Call">Call</option>
                                                <option value="Meeting">Meeting</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th width="20%">
                                        <div class="thbg">
                                            Subject
                                        </div>
                                    </th>
                                    <th width="29%">
                                        <div class="thbg">
                                            <input type="text" id="commuberiefsearch" placeholder="Communication Notes" class="form-control pull-left" style="width:70%;">
                                            <span class="glyphicon glyphicon-search pull-left" id="searchcommu" title="Click to search in communication notes"></span>
                                            <span class="" id="clearnewsearchnotes" title="Click here to reset search" style="display: none; cursor: pointer;">x</span>
                                        </div>
                                    </th>
                                    <th width="20%">
                                        <div class="thbg">
                                            <input type="text" id="casenamesearch" placeholder="Matter Name" class="form-control pull-left" style="width:70%;">
                                            <span class="glyphicon glyphicon-search pull-left" id="searchcasecommu" title="Click to search in matter"></span>
                                            <span class="" id="clearnewsearchcase" title="Click here to reset search" style="display: none; font-size: 15px; cursor: pointer;">x</span>
                                        </div>
                                    </th>
                                    <th width="20%">
                                        <div class="thbg">
                                            Client Name
                                        </div>
                                    </th>
                                    <th width="10%">
                                        <div class="thbg">
                                            Created By
                                            <select class="form-control col_b" id="cdcfiltercreateby" style="display:none">
                                                <option value="" selected="">Created By</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th width="8%">
                                        <div class="thbg">
                                            Alert To
                                            <select class="form-control col_b" id="cdcfilteralertto" style="display:none">
                                                <option value="" selected="">Alert To</option>
                                            </select>
                                        </div>
                                    </th>
                                    <th width="12%">
                                        <div class="thbg">
                                            Attachments
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="cdbindcommunique"></tbody>
                        </table>
                        <center><div id="cdcommstatus"></div></center>

                    </div>

                </div>
            </div>
            <div class="pagination" id="pagenatedArea">
                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">
                        @*<div class="text">a</div>*@
                        @*<span id="pageNumbers" class="pages"></span>*@
                    </div>

                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                    <section class="wrapper" style="margin:unset !important">
                        <div class="container-main showcontent" id="showcontent">


                            <div class="row">
                            </div>

                            <div class="settingpanel">
                                
                            </div>
                        </div>
                        <div id="myModal" class="modal fade myModal " role="dialog" data-backdrop="static">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content mymodels" id="mymodels"  style="min-height:500px;">
                                </div>
                            </div>
                        </div>
                        <div id="myOverlay" class="overlay">
                            <div class="overlay-content">
                                <div class="spinner2">
                                    <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .overlay {
                                height: 100%;
                                width: 100%;
                                display: none;
                                position: fixed;
                                z-index: 1;
                                top: 0;
                                left: 0;
                                background-color: rgb(0,0,0);
                                background-color: rgba(0,0,0, 0.4);
                            }

                            .overlay-content {
                                position: relative;
                                top: 46%;
                                width: 80%;
                                text-align: center;
                                margin-top: 30px;
                                margin: auto;
                                color: white;
                            }

                            .overlay .closebtn {
                                position: absolute;
                                top: 20px;
                                right: 45px;
                                font-size: 60px;
                                cursor: pointer;
                                color: white;
                            }

                                .overlay .closebtn:hover {
                                    color: #ccc;
                                }
                        </style>

                        <div id="myModalreplycommu" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog " style="width:60%">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header btn-success">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">
                                            Communication
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="hidden" id="hidecomuid">
                                                @*<div id="maincontentcommu" style="overflow:auto;height:300px;">
                                                    </div>
                                                    <hr /><div id="noreplyfound" style="text-align:center;display:none;">No result found...</div>
                                                    <div id="commureplytfooter">
                                                    </div>*@
                                                <div class="tablearea">
                                                    <div class="tablecontainer" style="height:300px;">
                                                        <table id="example" class="table-panel">
                                                            <thead>
                                                                <tr id="headrow">
                                                                    <th class="datetime" title="Date and Time">
                                                                        <div class="thbg">
                                                                            Date & Time
                                                                        </div>
                                                                    </th>
                                                                    <th class="messageData" title="Matter Creation Date">
                                                                        <div class="thbg">
                                                                            Message
                                                                        </div>
                                                                    </th>
                                                                    <th class="Createdby" title="Created By">
                                                                        <div class="thbg">
                                                                            Created By
                                                                        </div>
                                                                    </th>
                                                                    <th class="c1 casestartdate" title="Matter Creation Date">
                                                                        <div class="thbg">
                                                                            Attachment
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="bindComPopdata"></tbody>
                                                        </table>
                                                        <center>
                                                            <div class="notfound" id="pdatastatus" style="display:none;">
                                                                <img src="~/newassets/img/not-found.png" />
                                                                <h4>No communication list found</h4>
                                                                <p>We found no communication list.</p>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                                <div class="pagination" id="divPopPage">
                                                    <div class="pagination-button-group">
                                                        <div id="PopPrev" class="pagination-button-group-base">
                                                            <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                                                            <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                                                        </div>
                                                        <div id="popUpPageNumbers" class="pagination-button-group-base1">
                                                            @*<div class="text">a</div>*@
                                                            @*<span id="pageNumbers" class="pages"></span>*@
                                                        </div>

                                                        <div id="PopNext" class="pagination-button-group-base8">
                                                            <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                                                            <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                                                        </div>
                                                    </div>
                                                    <div class="text-and-supporting-text-parent">
                                                        <div class="input">
                                                            <div class="content">
                                                                <input type="text" id="poptxtgopage" name="query" placeholder="Page No.">
                                                            </div>
                                                            <div class="help-icon">
                                                            </div>
                                                        </div>
                                                        <div class="text-and-supporting-text-group">
                                                            <div class="text-and-supporting-text">
                                                                <div id="divpopGo" class="text9">Go</div>
                                                            </div>
                                                            <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                            </div>
                                        </div>
                                        <div class="" style="background: #d5d7da;border-radius: 7px;padding: 10px 10px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                    <div class="btn-group dropup">
                                                        <span style="cursor:pointer;padding:0 5px 0 0;margin-left:5px;" id="taskattachtitle" title="upload Attachment" class="dropdown-toggle s_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            attachments <span class="glyphicon glyphicon-chevron-down" style="font-size: 8px;padding:0 0 0 5px;"></span>&nbsp;&nbsp;<span id="attachfilelblcommureply"></span>
                                                        </span>
                                                        <ul class="dropdown-menu settingaction" style="width:247px; top: auto;
    bottom: 100%;
    margin-bottom: 1px">
                                                            <li style="margin-left:5px;font-size: 11px;">Choose From <b>Local Drive</b></li>
                                                            <li style="padding-top: 5px !IMPORTANT;padding-bottom: 10px !IMPORTANT;margin-left:5px !important;"><input type="file" id="FileUploadcommureply" name="FileUploadcommureply" style="width:97%" multiple="" class="form-control inputbg"></li>
                                                            <li style="margin-left: 5px;font-size: 11px;">Choose From <b>mykase Drive</b></li>
                                                            <li style="cursor: pointer;border-bottom: 1px solid #d4cfcf;text-align: left;margin-left: 5px;margin-top: 5px;padding-bottom: 3px !important;width: 235px;" title="No file chosen" class="browsetaskfile inputbg" id="browsefilecommureply" module="commureply"><button type="button" style="font-size: 8.6pt;color: #080000; font-weight: 500;">Choose Files</button>   <span style="font-size: 12px;" id="browsefilelblcommureply">No file chosen</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" id="msg-send">
                                                <div class="col-md-10">
                                                    <input type="text" style="width:100%;" name="msg" id="replymessage" class="form-control inputFormat" placeholder="Type a message..." autofocus="">

                                                </div>
                                                <div class="col-md-2">

                                                    <button type="button" value="Send" id="sendButton" class="btn btn-primary">Send</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
