@{
    /**/
    ViewBag.Title = "BrowseDocument";
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
}
@using System.Web.Configuration;
@{
    string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
}
<script>
    var BaseDomainURL = "@BaseDomainURL";
</script>
<script src="~/Scripts/Firm/Pages/BrowseDocument.js?1.7" type="text/javascript"></script>
<section class="wrapper">
    <div class="container">
        <h2 class="title">Compare Document </h2>
        <div class="row">
            <div class="col-md-6">
                <div class="bd_container">
                    <div class="bd_filepanel" style="overflow-x: scroll;">
                        <label for="myfile">Select a file:</label>
                        <input type="file" id="attachmentone" name="attachmentone">
                    </div>
                    <div class="bd_docpanel">
                        <iframe src="" frameborder="0" width="100%" height="100%" id="frmFileone"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bd_container">
                    <div class="bd_filepanel" style="overflow-x: scroll;">
                        <label for="myfile">Select a file:</label>
                        <input type="file" id="attachmenttwo" name="attachmenttwo">
                    </div>
                    <div class="bd_docpanel">
                        <iframe src="" frameborder="0" width="100%" height="100%" id="frmFiletwo"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
