@{
    Layout = null;
}
<!-- Page Content -->
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Firm/Pages/ConfigTimer.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/css/sampltes.css" rel="stylesheet" />
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<div class="modal-header btn-primary">
    <button type="button" class="close" id="closemodel" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        New Time Entry
    </h4>
</div>
<div class="modal-body " style="height:500px; overflow-y:scroll;">
    <!-- Main content -->
    <form id="savecallform2" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Linked to</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Client </label>
                        <div class="col-md-9">
                            <select name="contact" class="form-control" id="contact2">
                                <option value="" selected>Select Client...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Case </label>
                        <div class="col-md-9">
                            <select name="matter" class="form-control" id="matter2">
                                <option value="" selected>Select Case...</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>New Time Entry</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Item </label>
                        <div class="col-md-9">
                            <select name="" class="form-control" id="item2">
                                <option value="">Select </option>
                                <option value="Drafts">Drafts </option>
                                <option value="Research Work">Research Work </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Date <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" name="dt" type="date" placeholder="Date" id="dt2" required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Call Duration <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-9">
                            <input class="form-control" name="duration2" type="text" required id="duration3" placeholder="Format: 1h 10m 1s" value="0h:0m:0s" />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3"> </label>
                        <div class="col-md-6">
                            <button id="starttimer" type="button" class="btn save" style="float:left;  margin:0 10px 0 0px;" title="Start Timer"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Start Timer</button>
                            <button id="stoptimer" type="button" class="btn save" style="float:left;  margin:0 10px 0 0px;display:none" title="Stop Timer"><span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;Stop Timer</button>
                            <div class="timer pull-left " id="countdown2" style="text-align:center">0h:0m:0s</div>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Description</label>
                        <div class="col-md-9">
                            <textarea id="details1" cols="15" class="valid" aria-invalid="false" style="margin: 0px; width: 484px; height: 93px;"></textarea>
                            <div class="grid-container" style="display:none">
                                <div id="editor">
                                </div>
                                <script>
                                    CKEDITOR.replace('details1', {
                                        toolbar:
                                            [
                                                { name: 'basicstyles', items: ['Bold', 'Italic'] },
                                                { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                { name: 'tools', items: ['Maximize',] }
                                            ],
                                        height: 80,
                                        width: 401
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row" style="display:none">
            <div class="col-md-12">
                <fieldset>
                    <legend>Billing</legend>
                    <div class="form-group form-horizontal" style="margin-top:10px;">
                        <label class="control-label col-md-3">Billable</label>
                        <div class="col-md-9">
                            <label class="switch">
                                <input type="checkbox" id="billable2" name="billable" value="true">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Billed By:</label>
                        <div class="col-md-9">
                            <select name="" class="form-control" id="billby2">
                                <option value="">Select user...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Hourly Rate (INR)</label>
                        <div class="col-md-9">
                            <input class="form-control" name="dt" type="number" placeholder="Rate" id="hrate2" />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Total</label>
                        <div class="col-md-9">
                            <input class="form-control" name="dt" type="number" placeholder="Rate" id="total2" />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-3">Private Notes</label>
                        <div class="col-md-9">
                            <textarea ID="privnotes2" cols="15" style="margin: 0px; width: 387px; height: 89px;"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="modal-footer">
                    <input type="submit" id="savecall" class="btn save" value="save">
                    <button type="button" id="closemodels" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>
<script src="~/Manupanel/js/bootstrap.min.js"></script>
