
@{
    ViewBag.Title = "Configure";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}

<script>
    var type = '@ViewBag.Type';
    var id = '@ViewBag.Id';
</script>
<script src="~/Scripts/Firm/Pages/Configure.js"></script>
dd @ViewBag.Type
@ViewBag.Id
<div class="" id="divmain">

</div>


