@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script>
    var configurationtype = parseInt('@ViewBag.ConfType',10);
    var mode = "VIEW";
    var Id = '@ViewBag.Id';
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/Details.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> @ViewBag.Header Details
            </h3>
        </div>
    </div>
    <div class="form-section">
        <div id="divCFields" style="border:0 solid grey;padding:25px 0px;min-height:1px;">
            <div id="divUserName" class="form-control" style="padding:25px 0 0 0">
                <div class="form-group col-md-12 parallel">
                    <label for="" class="col-md-4 control-label">UserName<i class="fa fa-star" aria-hidden="true"></i></label>
                    <input class="col-md-3 textinput borderless" id="txtusername" pattern="^[a-zA-Z]{1}[a-z0-9A-Z\.]{2,10}$" name="" placeholder="User Name" type="text" value="" maxlength="10" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: unset;">
            <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Edit </button>
            <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
        </nav>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="customfield" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Workflow Information</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnAddField">Add</button>
            </div>
        </div>
    </div>
</div>
