@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
<script src="~/Scripts/Firm/Pages/EditClient.js?2.3" type="text/javascript" language="javascript"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/jquerydatetimepicker/jquery.js"></script>
<script src="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.js"></script>
<script>
    var type = 11;
    var filesize =@ViewBag.filesize;
    var loginid = "@ViewBag.loginid";
</script>
<style>
    .errors {
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        try {
            var ddlCountry = $('#cocountry');
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindCountryDetails',
                type: 'POST',
                dataType: 'json',
                success: function (d) {
                    $.each(d.Data, function (i, country) {
                        ddlCountry.append($("<option selected></option>").val(country.CountryName).html(country.CountryName));
                    });
                    ddlCountry.append($("<option value='' ></option>").val('').html('Select'));
                },
                error: function (d) {
                    alert(d.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
        //auto state
        try {
            var CountryId = "India";
            var ddlState = $('#costate');
            ddlState.empty();
            ddlState.append($("<option></option>").val('').html('Please wait ...'));
            var ddCity = $('#cocity');
            ddCity.empty();
            ddCity.append($("<option value='' selected ></option>").val('').html('Select'));
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindStateDetails',
                type: 'POST',
                dataType: 'json',
                headers: { CountryName: CountryId },
                success: function (d) {
                    ddlState.empty();
                    // Clear the please wait
                    ddlState.append($("<option value='' selected ></option>").val('').html('Select'));
                    $.each(d.Data, function (i, states) {
                        ddlState.append($("<option></option>").val(states.StateName).html(states.StateName));
                    });
                },
                error: function (d) {
                    alert(d.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
        //State details by country id
        $("#cocountry").change(function () {
            var CountryId = $(this).val();
            if (CountryId != "India") {
                $("#ostate").css("display", "unset");
                $("#ocity").css("display", "unset");
                $("#lstate").css("display", "none");
                $("#lcity").css("display", "none");
                return false;
            }
            else {
                $("#ostate").css("display", "none");
                $("#ocity").css("display", "none");
                $("#lstate").css("display", "unset");
                $("#lcity").css("display", "unset");
            }
            var ddlState = $('#costate');
            ddlState.empty();
            ddlState.append($("<option></option>").val('').html('Please wait ...'));
            var ddCity = $('#cocity');
            ddCity.empty();
            ddCity.append($("<option value='' selected ></option>").val('').html('Select'));
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindStateDetails',
                type: 'POST',
                dataType: 'json',
                headers: { CountryName: CountryId },
                success: function (d) {
                    ddlState.empty();
                    // Clear the please wait
                    ddlState.append($("<option value='' selected ></option>").val('').html('Select'));
                    $.each(d.Data, function (i, states) {
                        ddlState.append($("<option></option>").val(states.StateName).html(states.StateName));
                    });
                },
                error: function (d) {
                    alert(d.responseText);
                }
            });
        });
        //City Bind By satate id
        $("#costate").change(function () {
            var StateId = $(this).val();
            var ddlCity = $('#cocity');
            ddlCity.append($("<option></option>").val('').html('Please wait ...'));
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindCityDetails',
                type: 'POST',
                dataType: 'json',
                headers: { StateName: StateId },
                success: function (d) {
                    ddlCity.empty(); // Clear the plese wait
                    ddlCity.append($("<option value'' selected></option>").val('').html('Select'));
                    $.each(d.Data, function (i, cities) {
                        ddlCity.append($("<option></option>").val(cities.CityName).html(cities.CityName));
                    });
                },
                error: function (d) {
                    alert('Error!'); alert(d.responseText);
                }
            });
        });
    });
</script>
<style>
    #content .radio-inline, .checkbox-inline {
        padding-left: 0px;
        margin-left: 10px;
        display: block !important;
        padding-top: 3px;
    }
</style>
<section class="wrapper" style="margin:unset !important">
    <form id="savecontact" enctype="multipart/form-data" autocomplete="new-text" @*onsubmit="return validateform()"*@>
        <input type="hidden" id="comanyidinput" value="" name="comanyidinput" />
        <input type="hidden" id="hdnleadid" value="" name="hdnleadid" />

        <div class="container-main">
            <section id="header">
                <div class="container-main">
                    <div class="text-left">
                        <a class="goback" id="goBack" href="/@Session["firmcode"]/Firm/ContactsList"><img src="/newassets/img/backarrow.svg" alt="">Go Back</a>
                        <h3 style="margin-top:0px;">Edit Contact</h3>
                    </div>
                </div>
            </section>
            @*<h2 class="title">
                add contact<sup>new</sup>
                @if (role.ToString() == "1")
                {
                    if (Session["sessionpackmodule"].ToString() == "2" || Session["sessionpackmodule"].ToString() == "3")
                    {
                    <img src="~/newassets/images/reset_btn.png" id="resetcf" style="widht: 25px; height: 25px; margin-right: 10px;cursor:pointer;@_dashhscfield" title="Reset All Custom Fields" class="pull-right publish">
                    }
                }
            </h2>*@
            <div class="ec_bg addContact_form">
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <h5>Select Category <span class="required " aria-required="true"><b> *</b> </span> </h5>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div style="display: flex; justify-content: flex-start; align-items: self-end; gap: 20px;">


                                <div class="radio">
                                    <label class="formLabel colorDark">
                                        <input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="user" checked="" disabled>
                                        Individual
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="formLabel colorDark">
                                        <input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="company" disabled>
                                        Company
                                    </label>
                                </div>
                            </div>
                        </div>
                        @*<div id="companynamediv" style="display:none">
                            <div class="form-group">
                                <label class="formLabel colorDark">COMPANY NAME <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="cocomanyname" name="cocomanyname">
                                    <option value="" selected="">COMPANY Name</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="form-group" id="coothercomanynamediv" style="display:none">
                                <input type="text" id="coothercomanyname" placeholder="Enter Company Name" class="inputFormat form-control form-control-sm" autocomplete="new-text">
                                <label id="lblcoothercomanyname-error" style="color:red"></label>
                            </div>
                        </div>*@

                        <div id="companynamediv" style="display:none">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">COMPANY NAME<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <input type="hidden" id="comanyidinput" value="" name="comanyidinput" />
                                    <input type="text" id="comanynameinput" class="form-control form-control-sm inputFormat" autocomplete="new-text" required>
                                </div>
                                <div class="form-group col-md-12" id="coothercomanynamediv" style="display:none">
                                    <input type="text" id="coothercomanyname" placeholder="Enter Company Name" class="form-control form-control-sm inputFormat" autocomplete="new-text">
                                    <label id="lblcoothercomanyname-error"></label>
                                </div>
                            </div>
                        </div>


                    </div>

                    @*<table cellspacin="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="20px"><input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="user" checked=""></td>
                                <td><label>Individual</label></td>
                                <td width="20px">&nbsp;</td>
                                <td width="20px" align="left"><input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="company"></td>
                                <td><label>Company</label></td>
                            </tr>
                        </tbody>
                    </table>*@

                </div>

                @*<div class="row">
                    <div class="col-md-4">
                        <h5>Personal Information <span>*</span></h5>
                    </div>
                    <div class="col-md-4" id="fullcompanydiv" style="display:none">
                        <div class="form-group">
                            <label class="formLabel colorDark">COMPANY NAME <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                            <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="cocomanyname" name="cocomanyname">
                                <option value="" selected="">COMPANY Name</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group" id="coothercomanynamediv" style="display:none">
                            <input type="text" id="coothercomanyname" placeholder="Enter Company Name" class="inputFormat form-control form-control-sm" autocomplete="new-text">
                            <label id="lblcoothercomanyname-error" style="color:red"></label>
                        </div>
                    </div>
                </div>*@
                @* Personal Infomation start *@
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Personal Information <span class="required " aria-required="true"><b> *</b> </span></h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">First Name <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <input class="form-control form-control-sm inputFormat" id="cofname" name="cofname" required type="text" maxlength="50" autocomplete="new-text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Middle Name</label>
                                    <input class="form-control form-control-sm inputFormat" id="comname" name="comname" type="text" maxlength="50" autocomplete="new-text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Last Name</label>
                                    <input class="form-control form-control-sm inputFormat" id="colname" name="colname" type="text" maxlength="50" autocomplete="new-text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Designation</label>
                                    <input class="form-control form-control-sm inputFormat" id="codesignation" name="codesignation" type="text" maxlength="50" autocomplete="new-text">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @* Personal Infomation start  *@

                @* Pimary Address start *@
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Primary Address </h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="formLabel ">Contact Address</label>
                                    <input class="form-control form-control-sm inputFormat" id="coaddress" autocomplete="new-text" name="coaddress" type="text" maxlength="200">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Country</label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="cocountry" id="cocountry"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">State </label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="costate" id="costate">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">City </label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="cocity" id="cocity">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Pin Code</label>
                                    <input class="form-control form-control-sm inputFormat" autocomplete="new-text" onkeypress="return isNumberKey(event)" id="copin" name="copin" type="text" maxlength="6" minlength="6">
                                </div>
                            </div>
                            <div class="col-md-6" id="companystructurediv">
                                <div class="form-group">
                                    <label class="formLabel colorDark" id="lblComStructure">Company Structure </label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="fcompanystructure" name="fcompanystructure"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Pimary Address start *@

                @* contact information start *@
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Contact Information <span class="required " aria-required="true"><b> *</b> </span></h5>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Mobile Number <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <input class="form-control form-control-sm inputFormat" maxlength="10" minlength="10" onkeypress="return isNumberKey(event)" autocomplete="new-text" id="comobile" required name="comobile" type="text">
                                    <label id="lblmobile-error" style="color:red"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Landline Number</label>
                                    <input class="form-control form-control-sm inputFormat" maxlength="16" onkeypress="return restrictAlphabetsfax(event)" autocomplete="new-text" id="colandline" name="colandline" type="text">
                                    <label id="lbllandline-error" style="color:red"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Email Id <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <input class="form-control form-control-sm inputFormat" id="coemail" required name="coemail" type="email" autocomplete="new-text" maxlength="100" onfocus="$(this).removeAttr('readonly');" readonly>
                                    <label id="lblemail-error" style="color:red"></label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Contact Type <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important;" name="coctype" required id="coctype" disabled>
                                        @*<option value="" selected="">Contact Type </option>*@
                                    </select>
                                    <label id="lblcoctype-error" style="color:red"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* contact information ended *@

                @* Identification Details start *@
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Identification Details</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Aadhar Card Number</label>
                                    <input class="form-control form-control-sm inputFormat" id="coaadharno" autocomplete="new-text" name="coaadharno" type="text" maxlength="12" minlength="12" onkeypress="return isNumberKey(event)">
                                    <label id="aadhar-error" style="color:red"></label>
                                </div>
                            </div>
                            <div class="col-md-6" id="pandiv">
                                <div class="form-group">
                                    <label class="formLabel colorDark">PAN Number <span id="pannolbl" class="required" aria-required="true" style="color:red;display:none"><b>*</b> </span></label>
                                    <input class="form-control form-control-sm inputFormat" id="panno" autocomplete="new-text" name="panno" type="text" maxlength="10" minlength="10">
                                    <label id="lblpanno-error" class="errors"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">GSTIN No <span id="gstno" class="required" aria-required="true" style="color:red;display:none"><b>*</b> </span></label>
                                    <input class="form-control form-control-sm inputFormat" id="gstin" autocomplete="new-text" name="gstin" type="text" maxlength="15">
                                    <label id="lblgstin-error" class="errors"></label>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label class="formLabel colorDark">&nbsp;</label>
                                    <button class="button13"> <img src="~/newassets/img/plus-icon-blue.png" /> Add PAN Number </button>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                @* Identification Details start *@

                @* Professional information start *@
                <div class="row rowPurse">
                    <div class="col-md-4">
                        <div class="name_active">
                            <h5>Professional Information</h5>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            @*<div class="col-md-6" id="cowebsitediv">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Website</label>
                                    <input class="form-control form-control-sm inputFormat" id="cowebsite" autocomplete="new-text" name="cowebsite" type="text" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-6" id="coinfodiv">
                                <div class="form-group">
                                    <label class="formLabel colorDark">Additional Information</label>
                                    <input class="form-control form-control-sm inputFormat" id="coinfo" autocomplete="new-text" name="coinfo" type="text" maxlength="200">
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top: 8px; width: 178px;">
                                    <label class="formLabel">Documents</label>
                                    <div style="border: 1px solid #d1d5db; border-radius: 8px; padding: 8px 12px; display: flex; align-items: center; height: 38px;">
                                        <img src="/newassets/img/upload-cloud.svg" alt="Upload" style="width: 16px; height: 16px; margin-right: 8px;">
                                        <span style="font-size: 14px; color: #374151; font-weight: 600">Upload Document</span>
                                        <input id="coattechment" name="coattechment" type="file" style="opacity: 0; position: absolute; width: 100%; height: 100%; left: 0; top: 0; cursor: pointer;">
                                        
                                    </div>
                                    <label id="lblcoattechment-error" style="color:red"></label>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                @* Professional information start *@

                @*<div class="row">
                    <div class="col-md-4">
                        <div class="row" id="cowebsitediv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Website</label>
                                <input class="form-control form-control-sm inputFormat" id="cowebsite" autocomplete="new-text" name="cowebsite" type="text" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" id="coinfodiv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Additional Information</label>
                                <input class="form-control form-control-sm inputFormat" id="coinfo" autocomplete="new-text" name="coinfo" type="text" maxlength="200">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">GSTIN No <span id="gstno" class="required" aria-required="true" style="color:red;display:none"><b>*</b> </span></label>
                                <input class="form-control form-control-sm inputFormat" id="gstin" autocomplete="new-text" name="gstin" type="text" maxlength="15">
                                <label id="lblgstin-error" class="errors"></label>
                            </div>
                        </div>
                    </div>
                </div>*@
                @*<div class="row" id="pangstdiv">
                    <div class="col-md-4">
                        <div class="row" id="pandiv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">PAN No <span id="pannolbl" class="required" aria-required="true" style="color:red;display:none"><b>*</b> </span></label>
                                <input class="form-control form-control-sm inputFormat" id="panno" autocomplete="new-text" name="panno" type="text" maxlength="10" minlength="10">
                                <label id="lblpanno-error" class="errors"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Documents</label>
                                <input class="form-control form-control-sm inputFormat" id="coattechment" name="coattechment" type="file">
                                <label id="lblcoattechment-error" style="color:red"></label>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div id="prospectdiv" style="display:none;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">SOURCE / REFERENCE </label>
                                    <select name="cosource" id="cosource" class="form-control selctInputFormat " style="background-color: white !important;"></select>
                                </div>
                            </div>
                            <div class="row" id="cosourcediv" style="display:none">
                                <div class="form-group col-md-12">
                                    <input class="form-control form-control-sm inputFormat" placeholder="ENTER OTHERS SOURCE / REFERENCE" id="coothersource" name="coothersource" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">PROSPECT TYPE </label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="coptype" id="coptype"></select>
                                </div>
                            </div>
                            <div class="row" id="coptypediv" style="display:none">
                                <div class="form-group col-md-12">
                                    <input class="form-control form-control-sm inputFormat" placeholder="ENTER PROSPECT TYPE" id="cootherptype" name="cootherptype" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">Matter Type</label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="cocasetype" name="cocasetype"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="logindiv" style="display:none">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">USERID </label>
                                    <input class="form-control form-control-sm inputFormat" id="couserid" name="couserid" autocomplete="new-text" type="text">
                                    <label id="lblcouserid-error" style="color:red"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">PASSWORD </label>
                                    <input class="form-control form-control-sm inputFormat" id="copassword" name="copassword" type="password" minlength="10">
                                    <span toggle="#copassword" autocomplete="off" class="fa fa-fw fa-eye field-icon toggle-password" style="float: left;float: right;top: -9px; margin-top:-20px;"></span>
                                    <label id="lblcopassword-error" style="color:red"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">CONFIRM PASSWORD </label>
                                    <input class="form-control form-control-sm inputFormat" id="cocpassword" name="cocpassword" type="password" minlength="10">
                                    <span toggle="#cocpassword" autocomplete="off" class="fa fa-fw fa-eye field-icon toggle-password" style="float: left;float: right;top: -9px; margin-top:-20px;"></span>
                                    <label id="lblcocpassword-error" style="color:red"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" id="content"></div>
                <div class="row" id="hidecf" style="display:none;">
                    @if (role.ToString() == "1")
                    {
                        @*<div class="col-md-4" style="@_dashhscfield">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Custom Fields</label>
                                    <br>
                                    <br>
                                    <btn class="sbtbtn " style="margin-top:0px;" data-toggle="modal" data-target="#myModal" title="Add New Custom Fields"><span class="glyphicon glyphicon-plus"></span> New Custom Field</btn>
                                    <btn class="sbtbtn publish" id="publish" title="Click here to save Custom field settings" style=""><span class="glyphicon glyphicon-floppy-saved"></span>  </btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="@_dashhscfield">
                            <div class="row">
                                <div class="form-group col-md-12">
                                </div>
                            </div>
                        </div>*@
                    }
                </div>


                <div class="form-groupFlex pull-right" style="padding:20px 0 35px;">
                    <button type="submit" id="addcontact" class="btn btn-primary  pull-right" value="Save">Update</button>
                </div>


            </div>
        </div>
    </form>
</section>
@*<section class="wrapper" style="margin:unset !important">
    <form id="savecontact" enctype="multipart/form-data" autocomplete="new-text" >
        <div class="container-main">
            <h2 class="title">
                edit client
                @if (role.ToString() == "1")
                {
                    <img src="~/newassets/images/reset_btn.png" id="resetcf" title="Reset All Custom Fields" class="pull-right publish" style="cursor:pointer;  widht: 25px; height: 25px; margin-right: 10px; display:none;">
                }
                <input type="hidden" id="hdnleadid" value="" name="hdnleadid" />
            </h2>
            <div class="ec_bg">
                <div class="row" style="padding-bottom: 5px;">
                    <div class="col-md-12">
                        <table cellspacin="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="20px"><input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="user" checked="" disabled></td>
                                    <td><label>Individual</label></td>
                                    <td width="20px">&nbsp;</td>
                                    <td width="20px" align="left"><input type="radio" id="fullselectusertype" name="fullselectusertype" class="fselectusertype" value="company" disabled></td>
                                    <td><label>Company</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" id="companynamediv" style="display:none">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">COMPANY NAME<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                <input type="hidden" id="comanyidinput" value="" name="comanyidinput" />
                                <input type="text" id="comanynameinput" class="form-control inputFormat" autocomplete="new-text" required>
                            </div>
                            <div class="form-group col-md-12" id="coothercomanynamediv" style="display:none">
                                <input type="text" id="coothercomanyname" placeholder="Enter Company Name" class="form-control inputFormat" autocomplete="new-text">
                                <label id="lblcoothercomanyname-error"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">FIRST NAME <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                <input class="form-control form-control-sm inputFormat" id="cofname" name="cofname" required type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">MIDDLE NAME</label>
                                <input class="form-control form-control-sm inputFormat" id="comname" name="comname" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">LAST NAME </label>
                                <input class="form-control form-control-sm inputFormat" id="colname" name="colname" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" id="companystructurediv" style="display:none">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label id="lblComStructure">Company Structure </label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="fcompanystructure" name="fcompanystructure"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">MOBILE NUMBER <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                <input class="form-control form-control-sm inputFormat" maxlength="10" minlength="10" required onkeypress="return isNumberKey(event)" id="comobile" name="comobile" type="text" autocomplete="new-text">
                                <label id="lblmobile-error"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Email Id </label>
                                @if (role.ToString() == "1")
                                {
                                    <input class="form-control form-control-sm inputFormat" id="coemail" name="coemail" type="email" autocomplete="new-text1">
                                    <label id="lblemail-error"></label>
                                }
                                else
                                {
                                    <input class="form-control form-control-sm inputFormat" id="coemail" name="coemail" type="email" readonly autocomplete="new-text">
                                    <label id="lblemail-error"></label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">DESIGNATION</label>
                                <input class="form-control form-control-sm inputFormat" id="codesignation" name="codesignation" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Landline Number</label>
                                <input class="form-control form-control-sm inputFormat" maxlength="16" onkeypress="return restrictAlphabetsfax(event)" id="colandline" name="colandline" type="text" autocomplete="new-text">
                                <label id="lbllandline-error"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">AADHAR CARD NO</label>
                                <input class="form-control form-control-sm inputFormat" id="coaadharno" name="coaadharno" type="text" maxlength="12" minlength="12" onkeypress="return isNumberKey(event)" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">CONTACT ADDRESS</label>
                                <input class="form-control form-control-sm inputFormat" id="coaddress" name="coaddress" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Pin </label>
                                <input class="form-control form-control-sm inputFormat" onkeypress="return isNumberKey(event)" id="copin" name="copin" type="text" minlength="6" maxlength="6" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Country </label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="cocountry" id="cocountry"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">State </label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="costate" id="costate">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Çity </label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="cocity" id="cocity">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="display:none;">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">CONTACT TYPE <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="coctype" required id="coctype">
                                    <option value="">Contact Type </option>
                                    <option value="Prospect">Prospect </option>
                                    <option value="Vendor">Vendor </option>
                                    <option value="Client" selected="selected">Client </option>
                                    <option value="Others">Others </option>
                                </select>
                                <label id="lblcoctype-error"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <div class="row" id="cowebsitediv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Website</label>
                                <input class="form-control form-control-sm inputFormat" id="cowebsite" name="cowebsite" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <div class="row" id="coinfodiv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Additional Information</label>
                                <input class="form-control form-control-sm inputFormat" id="coinfo" name="coinfo" type="text" autocomplete="new-text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="pangstdiv" style="display:block">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">GSTIN No </label>
                                <input class="form-control form-control-sm inputFormat" id="gstin" name="gstin" type="text" maxlength="20" autocomplete="new-text">
                                <label id="lblgstin-error" class="errors"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" id="pandiv">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">PAN No </label>
                                <input class="form-control form-control-sm inputFormat" id="panno" name="panno" type="text" maxlength="10" minlength="10" autocomplete="new-text">
                                <label id="lblpanno-error" class="errors"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="formLabel colorDark">Documents</label>
                                <input class="form-control form-control-sm inputFormat" id="coattechment" name="coattechment" type="file">
                                <label id="lblcoattechment-error"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="prospectdiv" style="display:none;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">SOURCE / REFERENCE </label>
                                    <select name="cosource" id="cosource" class="form-control selctInputFormat" style="background-color: white !important"></select>
                                </div>
                            </div>
                            <div class="row" id="cosourcediv" style="display:none">
                                <div class="form-group col-md-12">
                                    <input class="form-control form-control-sm inputFormat" placeholder="ENTER OTHERS SOURCE / REFERENCE" id="coothersource" name="coothersource" type="text" autocomplete="new-text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">PROSPECT TYPE </label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" name="coptype" id="coptype"></select>
                                </div>
                            </div>
                            <div class="row" id="coptypediv" style="display:none">
                                <div class="form-group col-md-12">
                                    <input class="form-control form-control-sm inputFormat" placeholder="ENTER PROSPECT TYPE" id="cootherptype" name="cootherptype" type="text" autocomplete="new-text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">Case Type</label>
                                    <select class="form-control form-control-sm selctInputFormat" style="background-color: white !important" id="cocasetype" name="cocasetype"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cttypeotherdiv" style="display:none">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input class="form-control form-control-sm inputFormat" placeholder="ENTER CONTACT TYPE" id="othercttype" name="othercttype" type="text">
                            <label id="lblothercttype-error"></label>
                        </div>
                    </div>
                </div>
                <div id="logindiv" style="display:none">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">USERID </label>
                                    <input class="form-control form-control-sm inputFormat" id="couserid" name="couserid" type="text" autocomplete="new-text">
                                    <label id="lblcouserid-error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">PASSWORD </label>
                                    <input class="form-control form-control-sm inputFormat" id="copassword" name="copassword" type="password" autocomplete="new-text">
                                    <span toggle="#copassword" class="fa fa-fw fa-eye field-icon toggle-password" style="float: left;float: right;top: -9px; margin-top:-20px;"></span>
                                    <label id="lblcopassword-error"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="formLabel colorDark">CONFIRM PASSWORD </label>
                                    <input class="form-control form-control-sm inputFormat" id="cocpassword" name="cocpassword" type="password" autocomplete="new-text">
                                    <span toggle="#cocpassword" class="fa fa-fw fa-eye field-icon toggle-password" style="float: left;float: right;top: -9px; margin-top:-20px;"></span>
                                    <label id="lblcocpassword-error"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" id="content" style="display:none">
                </div>
                <div class="row" id="hidecf" style="display:none">
                    @if (role.ToString() == "1")
                    {
                        <div class="col-md-4">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Custom Fields</label>
                                    <br>
                                    <br>
                                    <btn class="sbtbtn " style="margin-top:0px;" data-toggle="modal" data-target="#myModal" title="Add New Custom Fields"><span class="glyphicon glyphicon-plus"></span> New Custom Field</btn>
                                    <btn class="sbtbtn publish" id="publish" title="Click here to save Custom field settings" style="padding-bottom:11px;"><span class="glyphicon glyphicon-floppy-saved"></span>  </btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group col-md-12">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 ">
                        <button type="submit" id="addcontact" class="sbtbtn  pull-right" style="background-color:#007bff" value="Save">update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>*@
<div id="myOverlay" class="overlay" style="display:block !important">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Custom Field
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissable validpanel">
                            <button type="button" class="close" data-dismiss="alert" class="validpanel" aria-hidden="true">&times;</button>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12" id="addcustomf">
                                        <form role="form" id="form2">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Custom Field Name <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                                                <div class="col-md-8">
                                                    <input class="form-control inputFormat" type="text" value="" id="txtcustomFieldName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Custom Field Type <span class="required" aria-required="true" style="color:red"><b>*</b></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control selctInputFormat" style="background-color: white !important" id="ctype">
                                                        <option value="0">-Select Any-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="common">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" id="listid">List options</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control inputFormat" data-val="true" id="txtcustomFieldvalue" />
                                                        <p style="clear:both">(Add the options you would like to have in the drop down list list, separate values with a comma.)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="clear:both">
                                                <label class="control-label col-md-4">Is Required :</label>
                                                <div class="col-md-8">
                                                    <label class="switch">
                                                        <input type="checkbox" id="chkRequired" name="assign" value="1">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="sbtbtn" id="addfield">Add Field</button>
                <button type="button" class="sbtbtn" data-dismiss="modal" id="closemodal">Close</button>
            </div>
        </div>
    </div>
</div>
