@{
    ViewBag.Title = "FirmRegistration";
    Layout = "~/Views/Shared/_ManuPanelPartialFirm.cshtml";
}
<script type="text/javascript" src="https://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.min.js"></script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
   var type = '@ViewBag.type'
</script>
<script src="~/Scripts/Firm/Pages/FirmRegistration.js"></script>
<script>
    $(document).ready(function () {
        try {
            var ddlCountry = $('#country');
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindCountryDetails',
                type: 'POST',
                dataType: 'json',
                success: function (d) {
                    $.each(d.Data, function (i, country) {
                        ddlCountry.append($("<option></option>").val(country.CountryName).html(country.CountryName));
                    });
                    ddlCountry.append($("<option value='' selected></option>").val('').html('Please Select Country'));
                },
                error: function (d) {
                    alert(d.responseText);
                }
            });
        }
        catch (err) {
            alert(err.message);
        }
        //State details by country id
        $("#country").click(function () {
            var CountryId = $(this).val();
            var ddlState = $('#state');
            ddlState.empty();
            ddlState.append($("<option></option>").val('').html('Please wait ...'));
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindStateDetails',
                type: 'POST',
                dataType: 'json',
                headers: { CountryName: CountryId },
                success: function (d) {
                    ddlState.empty();
                    // Clear the please wait
                    ddlState.append($("<option value='' selected ></option>").val('').html('Select the state.'));
                    $.each(d.Data, function (i, states) {
                        ddlState.append($("<option></option>").val(states.StateName).html(states.StateName));
                    });
                },
                error: function (d) {
                    alert(d.responseText);
                }
            });
        });
        //City Bind By satate id
        $("#state").change(function () {
            var StateId = $(this).val();
            var ddlCity = $('#city');
            ddlCity.append($("<option></option>").val('').html('Please wait ...'));
            debugger;
            $.ajax({
                async: true,
                url: '/api/EmployeeApi/BindCityDetails',
                type: 'POST',
                dataType: 'json',
                headers: { StateName: StateId },
                success: function (d) {
                    ddlCity.empty();
                    // Clear the plese wait
                    ddlCity.append($("<option value'' selected></option>").val('').html('Select City Name'));
                    $.each(d.Data, function (i, cities) {
                        ddlCity.append($("<option></option>").val(cities.CityName).html(cities.CityName));
                    });
                },
                error: function (d) {
                    alert('Error!'); alert(d.responseText);
                }
            });
        });
    });
</script>
<aside class="right-side12">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <h1><span class="fa fa-user"></span> Create Firm</h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="">
                    <div class="box-header">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <form id="saveuser" enctype="multipart/form-data">
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <fieldset>
                        <legend>Personal Details</legend>
                        <div class="">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 contact-details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4">Firm Name <span class="required" aria-required="true" style="color:red"><b>*</b> </span></span>
                                                <div class="col-md-8">
                                                    <input autofocus="" class="form-control" placeholder="Full Name" type="text" value="" name="name" id="name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4"> Short Code </span>
                                                <div class="col-md-8">
                                                    <input autofocus="" class="form-control" placeholder="Code" type="text" value="" name="code" id="code" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4" for="Office"> Firm Titte </span>
                                                <div class="col-md-8">
                                                    <input class="form-control" placeholder="Title" type="text" value="" id="title" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4"> Email </span>
                                                <div class="col-md-8">
                                                    <input autofocus="" class="form-control" placeholder="Email" type="text" value="" name="email" id="email" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4" for="Home"> Contact </span>
                                                <div class="col-md-8">
                                                    <input class="form-control" placeholder="Contact Number" type="text" name="contact" value="" id="contact" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4" for="Home"> Remark </span>
                                                <div class="col-md-8">
                                                    <input class="form-control" placeholder="detail" type="text" name="remark" value="" id="remark">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4" for="Office"> Address </span>
                                                <div class="col-md-8">
                                                    <input class="form-control" placeholder="Address" type="text" value="" id="address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4"> Country </span>
                                                <div class="col-md-8">
                                                    <select class="form-control" name="country" id="country"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4"> State </span>
                                                <div class="col-md-8">
                                                    <select nname="state" id="state" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <span class="control-label col-md-4"> City </span>
                                                <div class="col-md-8">
                                                    <select cname="city" id="city" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <div class="grid-container" style="display:none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6" id="content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Create Login Details </legend>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-2">Username  <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" name="username" type="text" id="username" placeholder="Username" required maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-2">New Password  <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" name="password" minlength="8" type="password" id="password" placeholder="New Password" required maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group form-horizontal">
                                    <label class="control-label col-md-2">Confirm Password  <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" minlength=8 name="cpassword" type="password" id="cpassword" placeholder="Confirm Password" required maxlength="50" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="form-actions hidden-print">
                                        <div class="btn-group">
                                            <input type="submit" id="btnsave" class="btn btn-primary save" value="save">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</aside>
