@{
    Layout = "~/Views/Shared/_NewHomePartial.cshtml";
    string trialdays = System.Web.Configuration.WebConfigurationManager.AppSettings["trialdays"].ToString();
}
@using System.Web.Configuration;
@{
    string BaseDomainURL = WebConfigurationManager.AppSettings["BaseDomainURL"].ToString();
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/Scripts/Firm/Pages/FirmRegistrationTrail.js"></script>
<section class="banner">
    <div class="container">
        <div class="banner-img" style="background:url(/NewDesign/images/banner_home.jpg) no-repeat bottom center;">
            <h2>register for</h2>
            <h3>free trial</h3>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>@trialdays-days free trial</h3>
                <p>Agile Workplace, Centralised Workflow, Data Security, & More. Sign up for a @trialdays-day free trial and experience the efficiency legal technology brings about, with real-time updates and effective secure communication.</p>
            </div>
            <div class="col-md-4">
                <h3>subscription</h3>
                <p>Subscribe to myKase for and enjoy rewarding service with unparalleled customer support. Work Anywhere, Anytime, with myKase and stay organized. </p>
            </div>
            <div class="col-md-4">
                <h3>support information</h3>
                <p>
                    The myKase experience has been designed so you can streamline your daily operations and manage all aspects of your practice, with access to the information you need at any time. Our trained and experienced support staff will handle any issue on priority, always.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="userinfo" id="userinfo">
    <div class="userinfo-head">
        <div class="container">
            <h2>user information </h2>
        </div>
    </div>
    <div class="container">
        <div class="userinfoform">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input type="text" class="form-control" id="tfirstname" placeholder="" required maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Middle Name</label>
                                <input type="text" class="form-control" id="tmiddlename" placeholder="" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" id="tlastname" placeholder="" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Designation</label>
                                <input type="text" class="form-control" id="tDesignation" placeholder="" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="">Organisation Name</label>
                                <input type="text" class="form-control" id="tOrganisationName" placeholder="" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Mobile No.</label>
                                <input type="text" class="form-control" id="tmobile" placeholder="" required maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Email Id <span>(the email would be your login id.) </span></label>
                                <input type="text" class="form-control" id="temail" placeholder="" required maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Organisation Size</label>
                                <select class="form-control" id="OrganisationSize"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Organisation Type</label>
                                <select class="form-control" id="OrganisationType"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group" style="margin:15px 0 0 0;">
                                    <input name="chktnc" id="chktnc" type="checkbox" value="" style="float: left;margin: 0 6px 0 0px !important;">
                                    <label for=""><span style="font-size:11px;">By creating an account, you are agreeing to our Terms of Service and Privacy Policy</span></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" style="margin:15px 0 0 0;">
                                    <button type="button" class="sbtbtn" id="btnsave">create account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <p>Please check the box below to proceed.</p>
                        <form action="" method="post">
                            <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="userinfo-head">&nbsp;</div>
</section>
