@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
    function preview_image(event) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = event.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            event.value = '';
            return false;
        }
        else {
            return true;
        }
    }
    $(document).ready(function () {
        function openload() {
            $('#myOverlay').css("display", "block");
        }
        function closeload() {
            $('#myOverlay').css("display", "none");
        }
        $(document).on("click", "#uploadleaddata", function () {
            ImportLeaddata();
        });
        function ImportLeaddata() {
            var formData = new FormData();
            var totalFiles = document.getElementById("postedFile").files.length;
            if (totalFiles == "0") {
                alert("Please Select Excel File");
                return false;
            }
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("postedFile").files[i];
                formData.append("FileUpload", file);
            }
            openload();
            $.ajax({
                async: true,
                type: 'POST',
                url: '/firm/ImportContactDatas',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    document.getElementById("postedFile").value = "";
                    if (response == "Record imported successfully, please check Contacts Details.") {
                        $("#errorresult").text("");
                        alert("Record imported successfully, please check Contacts Details.");
                        closeload();
                    }
                    else {
                        $("#errorresult").text(response);
                        closeload();
                    }
                },
                error: function () {
                    alert('Please Contact Your Administrator !');
                    closeload();
                }
            });
        }
    });
</script>
<section class="wrapper">
    <div class="container">
        <h2 class="title">Import Contacts<sup>new</sup></h2>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="hidden" id="hidid" />
                        <label>Select Excel File : <span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                        <input type="file" onchange="preview_image(this)" name="postedFile" id="postedFile" class="form-control form-control-sm" required />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <btn type="button" id="uploadleaddata" class="btn btn-primary btn-sm save" value="Upload File" title="Upload File">Upload File</btn>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="hidden" id="hidid" />
                        <span class="control-label"> <b>Download Contact template sample: </b> <a title="download Sample Template for Imoprt Contact Data " href="/Documents/ImportTemplate/ImportContactsTemplate.xlsx">Click here</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="hidden" id="hidid" />
                        <span class="control-label col-md-12" style="color:red;margin-top:30px;" id="errorresult"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>