@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 90%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }
</style>
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        cursor: pointer;
    }

    .button2 {
        background-color: #008CBA;
    }
    /* Blue */
    .button3 {
        background-color: #f44336;
    }
    /* Red */
    .button4 {
        background-color: #e7e7e7;
        color: black;
    }
    /* Gray */
    .button5 {
        background-color: #555555;
    }
    /* Black */
</style>
<header class="header">
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <ol class="breadcrumb">
                <li><i class="glyphicon glyphicon-home"></i> Home</li>
                <li class="active">Dashboard </li>
            </ol>
            <h1><span class="fa fa-dashboard"></span> Cloud Drive</h1>
        </section>
        <section class="dashboard">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/img/dropbox.jpg" alt="Avatar" style="width:100%;height:151px;"></img>
                            <div class="container">
                                <h4><b>Dropbox</b></h4>
                                <a href="/@Session["firmcode"]/Dropbox/index">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/img/onedrive.jpg" alt="Avatar" style="width:100%;height:151px;" /></img>
                            <div class="container">
                                <h4><b>OneDrive</b></h4>
                                <a href="/@Session["firmcode"]/OneDrive/index">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/img/subs-bg.jpg" alt="Avatar" style="width:100%; height:151px;" /></img>
                            <div class="container">
                                <h4><b>Azure Drive</b></h4>
                                <a href="/@Session["firmcode"]/Azure/index">Click here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
