@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    //Layout = null;
}
<i class="pp-icon-user"></i>
<!-- Page Content -->
<script>
     var type = '@ViewBag.type'
</script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<section class="wrapper" style="margin:unset !important">
    <div class="container showcontent" id="showcontent">
        <h2 class="title">Statute of Limitation Calendar</h2>
        <div class="col-md-12">
            <div class="row">
                <style>
                    #calendar {
                        max-width: 900px;
                        margin: 0 auto;
                    }
                </style>
                <!-- Main content -->
                <section class="content">
                    <div id="page-wrapper">
                        <div class="row" style="padding:10px 0 0 0;">
                            <div class="col-md-3">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <div id="demo2"></div>
                                    </div>
                                </div><!-- /. box -->
                            </div><!-- /.col -->
                            <div class="col-md-9">
                                <div class="box box-primary" style="padding:5px 0 0 0;">
                                    <div class="box-body no-padding">
                                        <!-- THE CALENDAR -->
                                        <div>
                                            <div id="scheduler_here" class="dhx_cal_container container calendar_inner" style="clear:both;">
                                                <div class="dhx_cal_navline">
                                                    <div class="dhx_cal_prev_button">&nbsp;</div>
                                                    <div class="dhx_cal_next_button">&nbsp;</div>
                                                    <div class="dhx_cal_today_button"></div>
                                                    <div class="dhx_cal_date"></div>
                                                    <div class="dhx_cal_tab" name="month_tab"></div>
                                                </div>
                                                <div class="dhx_cal_header">
                                                </div>
                                                <div class="dhx_cal_data">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /. box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </section><!-- /.content -->
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<script>
    $(document).ready(function () {
        var fcode = localStorage.getItem("FirmCode");
        $(document).on("click", "#transferpageevent", function () {
            var modelid = $(this).attr("type");
            var transferid = $(this).attr("data-val");
            if (String(modelid) == "modelEditEvent") {
                var urls = "/" + fcode + "/Firm/EventSingleView";
                url_redirect({
                    url: urls,
                    method: "post",
                    data: { "token": transferid }
                });
            }
            else if (String(modelid) == "modelEditTask") {
                var urls = "/" + fcode + "/Firm/TaskSingleView";
                url_redirect({
                    url: urls,
                    method: "post",
                    data: { "token": transferid }
                });
            }
        });
        $(document).on("click", "#transferpagemore", function () {
            var modelid = $(this).attr("data-val");
            openload3();
            var url = "/firm/CalendarMoreEvent?status=true&token=" + encodeURI(modelid);
            $('.mymodels').load(url, function (result) {
                closeload3();
                $('#myModal').modal({ show: true });
            });
        });
    });
</script>
<!-- Modal -->
<div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<style>
    .btn_panel {
        margin: 0;
        /* padding: 15px 0;*/
        width: 100%;
        /*border-top: 1px solid #cccccc;*/
        /*border-bottom: 1px solid #cccccc;*/
        overflow: hidden;
    }

    .d_btn {
        margin: 0;
        padding: 7px 15px;
        background: #01496b;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .c_btn {
        margin: 0 5px;
        padding: 7px 15px;
        background: #606d05;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .l_btn {
        margin: 0;
        padding: 7px 15px;
        background: #941616;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

    .panel {
        margin: 0;
        padding: 15px 0;
        width: 100%;
        background: #ebf0f4;
        height: 527px;
    }

        .panel h2 {
            margin: 0;
            padding: 15px 0;
            font-size: 24px;
            text-align: center;
        }

    .cases {
        background: #54960f;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .client {
        background: #0b9875;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .cal_btn {
        margin: 0 5px 0 0;
        padding: 7px 15px;
        background: #3c3c3c;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
    }

        .cal_btn:hover {
            color: #ffffff;
            text-decoration: none;
        }

    .document {
        background: #a0200a;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .team {
        background: #8e5f00;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .to-do {
        background: #0588bb;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .invoice {
        background: #4c669f;
        width: 100%;
        border-radius: 4px;
        color: #ffffff;
    }

    .icon {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    .label {
        margin: 0;
        padding: 5px 0;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }

        .label a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
        }

    .calendar_inner {
        height: 85%;
        /* border: 1px solid #686868; */
        border-top: none;
        width: 100%;
        margin: 0 auto;
    }

    .custom_btn_info {
        background-image: url('../../Scripts/Calendar/imgs/controls.gif');
        width: 20px;
    }

    .dhx_cal_navline {
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #0e0e0e 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%,#0e0e0e 100%);
        background: linear-gradient(to right, #ffffff 0%,#0e0e0e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0e0e0e',GradientType=1 );
        height: 35px !important;
    }

        .dhx_cal_navline div {
            top: 7px !important;
        }

    .dhx_scale_bar {
        color: #000;
    }

    .dhx_cal_prev_button {
        width: 30px;
        height: 24px;
    }

    .dhx_cal_next_button {
        width: 30px;
        height: 24px;
    }

    .dhx_cal_today_button {
        padding: 4px 0 0 0 !important;
        width: 69px;
        color: #fff;
        height: 20px;
    }

    .dhx_cal_navline .dhx_cal_date {
        padding-top: 3px;
        left: 197px;
        font-size: 14px;
    }

    .dhx_cal_tab.active {
        height: 20px;
        width: 67px;
        padding-top: 4px;
        margin-top: 0px;
        color: #fff;
        display: none;
    }

    .dhx_scale_bar {
        Padding-top: 2px;
    }

    .dhx_cal_event_clear {
        text-align: center;
        width: 178px !important;
    }

    .txt {
        margin: 0;
        padding: 2px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 10px;
        color: #000;
        text-decoration: underline;
        text-align: center;
    }

    .more {
        margin: 0;
        padding: 2px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 11px;
        color: #007279;
        /*font-weight: bold;*/
        text-decoration: underline;
    }

    div.dhx_cal_event_clear {
        position: absolute;
        left: 628px;
        margin-top: -5px !important;
        width: 100px !important;
        display: table;
        /*width: auto;*/
        margin: 0px;
        padding: 0px;
    }

    .mhide {
        margin-top: 20px !important;
    }

    .dhx_month_body {
        height: 120px !important;
    }

    .modal-dialog {
        width: 650px !important;
    }

    .dhx_month_head {
        font-size: 12px;
    }
</style>
<div id="myModal" class="modal fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
@*</div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
        </div>
    <!-- /.container-fluid -->
        </div>*@
<!-- /#page-wrapper -->
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="overlay-content">
            <div class="spinner2">
                <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="/CssJsfiles/css/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Manupanel/calender/dist/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/CssJsfiles/js/moment.min.js"></script>
<script src="~/Manupanel/calender/fullcalendar.min.js"></script>
<script src="~/Manupanel/calender/dist/jquery.datetimepicker.min.js"></script>
<style>
    td.highlight > a {
        background: #47a447 !important;
        color: #fff !important;
    }

    .ui-datepicker-inline {
        width: 100%;
    }
</style>
<script>
</script>
<script src="~/Scripts/Firm/Pages/LimitationCalendar.js"></script>
<link href="~/Scripts/Calendar/dhtmlxscheduler.css" rel="stylesheet" charset="utf-8" type="text/css" />
<script src="~/Scripts/Calendar/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
<input type="hidden" id="hdnqrystr" name="hdnqrystr" value="" />
<script type="text/javascript">
    var counter = 0
    var currentTime = new Date()
    var month = currentTime.getMonth()
    var day = currentTime.getDate()
    var year = currentTime.getFullYear()
    init();
    function init() {
        //openload();
        //if (window.XMLHttpRequest) {
        //    var xmlHttp = new XMLHttpRequest();
        //} else {
        //    var xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');
        //}
        //xmlHttp.open('POST', '/Client/LimitationCalendardataMerge', false);
        //xmlHttp.send();
        //var data = xmlHttp.responseText;
        //console.log(data);
        //alert(data);
        //scheduler.init('scheduler_here', new Date(), "month");
        //scheduler.parse(data, "json");
        //closeload();
        //// scheduler.load(data);
    }
    function Call() {
        setTimeout(function () { closeload(); }, 5000);
    }

</script>
<div id="myModal1" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<div id="myModalpopup" class="modal_a" style="display:none;">
    <div class="modal_a-content">
        <span onclick="ModalClose()" class="close_a">&times;</span>
        <p style="color: #000; padding: 3px; border-radius: 5px; text-align: center; font-size: 24px; font-weight:bold; margin:0;">Case Detail</p>
        <div class="modal-body" style="width: 1000px;">
            <form id="studentDetailForm" name="studentDetailForm" action="" method="post" target="IframestudentDetailForm">
                <iframe style="width:950px; height: 450px; overflow-y:scroll;" frameborder="0" id="IframestudentDetailForm"
                        name="IframestudentDetailForm" src=""></iframe>
            </form>
        </div>
    </div>
</div>
<div id="Nexthearing" class="modal_a" style="display:none;">
    <div class="modal_a-content">
        <span onclick="ModalClose1()" class="close_a">&times;</span>
        <p style="color: #000; padding: 3px; border-radius: 5px; text-align: center; font-size: 24px; font-weight:bold; margin:0;">Next Hearing Detail</p>
        <div class="modal-body" style="width: 1000px;">
            <form id="studentDetailForm1" name="studentDetailForm1" action="" method="post" target="IframeNexthearingDetailForm1">
                <iframe style="width:950px; height: 450px; overflow-y:scroll;" frameborder="0" id="IframeNexthearingDetailForm1"
                        name="IframeNexthearingDetailForm1" src=""></iframe>
            </form>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
        </div>
    </div>
</div>
<script>
    function ModalClose() {
        document.getElementById("myModalpopup").style.display = "none";
    }
    function ModalClose1() {
        document.getElementById("Nexthearing").style.display = "none";
    }
</script>
<script type="text/javascript">
    function openload3() {
        $('#myOverlay').css("display", "block");
    }
    function closeload3() {
        $('#myOverlay').css("display", "none");
    }
    function DateUservalue(date) {
        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Client/CaseDetailsByDate/' + btoa(date.toString());
        openload3();
        $('.mymodels').load(url, function (result, status, xhr) {
            $('#myModal').modal({ show: true });
            closeload3();
        });
    }
    function NexthearingbyUser(date) {
        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Client/NextHearingByClient/' + btoa(date.toString());
        openload3();
        $('.mymodels').load(url, function (result, status, xhr) {
            $('#myModal').modal({ show: true });
            closeload3();
        });
    }
</script>
<script>
    msgData1 = "20120315T170000Z";// $('.start-time').text();
    msgData2 = "20120316T170000Z";//$('.end-time').text();
    msgData3 = "delhi";//$('.Location').text();
    var icsMSG = "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Our Company//NONSGML v1.0//EN\nBEGIN:VEVENT\nUID:me@google.com\nDTSTAMP:20120315T170000Z\nATTENDEE;CN=My Self ;RSVP=TRUE:MAILTO:me@gmail.com\nORGANIZER;CN=Me:MAILTO::me@gmail.com\nDTSTART:" + msgData1 + "\nDTEND:" + msgData2 + "\nLOCATION:" + msgData3 + "\nSUMMARY:Our Meeting Office\nEND:VEVENT\nEND:VCALENDAR";
    $('#test1').click(function () {
        window.open("data:text/calendar;charset=utf8," + escape(icsMSG));
    });
</script>
<script src="~/Manupanel/icsfile/ics.js"></script>
<script src="~/Manupanel/icsfile/FileSaver.js"></script>
<form id="form1" runat="server">
    <div>
        <script>
            function download() {
                var urls31 = "/firm/LoadMergeNextHearing";
                var cal = ics();
                $.ajax({
                    async: true,
                    type: "POST",
                    url: urls31,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var datas = JSON.stringify(data);
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].Caseyear == "NA") {
                                    appealno = data[i].Casename;
                                    cdescription = data[i].CourseName;
                                }
                                else if (data[i].Caseyear != "") {
                                    appealno = data[i].CourseName + " " + data[i].CaseNo + "/" + data[i].Caseyear;
                                    cdescription = data[i].CourseName + ", Advocate:" + data[i].Advname;
                                }
                                else {
                                    appealno = data[i].Casetype;
                                    cdescription = "";
                                }
                                cal.addEvent(appealno, cdescription, "", data[i].Disposeddt, "");
                            }
                            cal.download();
                        }
                        else {
                            alert("No data available for calendar.");
                        }
                    }
                });
            }
        </script>
    </div>
</form>
