@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #020201;
        cursor: default;
        background-color: #ebebeb;
        border: none;
        border-bottom-color: transparent;
        border-radius: 8px 8px 0 0;
        font-weight: bold;
    }

    .nav-tabs {
        border-bottom: none;
    }

    .tab-content {
        background: #ebebeb;
        overflow: hidden;
        border-radius: 0 8px 8px 8px;
    }

    .nav-tabs > li > a {
        border-radius: 8px 8px 0 0;
        color: #020202;
    }

    label {
        margin: 10px 0 10px 0;
        padding: 0;
        color: #020202;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
</style>
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/Firm/Pages/Mailboxsetting.js"></script>
<section class="wrapper">
    <div class="container-main">
        <div>
            <h2 class="title">Mail Box Setting </h2>
            <section class="content">
                <div id="page-wrapper" style="overflow:hidden">
                    <div class="container-fluid showcontent" id="showcontent">
                        <div class="">
                            <div class="box-header">
                                <a href="~/Documents/InvoiceTemplate/Mail Server to access mails in mykase.pdf" class="pull-right" download="Mail Server to access mails in mykase.pdf" title="Help guide for Mailserver" target="_blank"><span class="glyphicon glyphicon-info-sign" style="font-size:16px;"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <form id="fileupload" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="exTab1">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#4a1" data-toggle="tab">Setting Mail Server</a>
                                    </li>
                                    <li>
                                        <a href="#3a1" data-toggle="tab">Mail Server  List</a>
                                    </li>
                                </ul>
                                <div class="tab-content clearfix">
                                    <div class="tab-pane active" id="4a1" style="margin-top:20px;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="hidden" id="hidid" />
                                                    <label><span class="control-label col-md-12"> Mail Server Name <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" maxlength="50" type="text" id="mservername" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> SMTP Server Address  <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" type="text" id="smtpserver" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> SMTP Port  <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" maxlength="10" onkeypress="return restrictAlphabets(event)" type="text" id="smtpport" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> IMAP Server Address  <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" type="text" id="imapserver" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> IMAP Port<span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" maxlength="10" onkeypress="return restrictAlphabets(event)" type="text" id="imapport" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> POP Server Address  <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" type="text" id="popserver" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> POP Port   <span class="required" aria-required="true">*</span> </span></label>
                                                    <div class="col-md-12">
                                                        <input class="form-control inputbg" style="background:#ffffff !important;" maxlength="10" onkeypress="return restrictAlphabets(event)" type="text" id="popport" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label><span class="control-label col-md-12"> &nbsp;</span></label>
                                                    <div class="col-md-12">
                                                        <button type="button" class="sbtbtn" id="savemailboxsetting">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding: 20px !important;" class="tab-pane " id="3a1">
                                        <div class="content-header" style="margin-top:20px;">
                                            <ul class="btn_panel" style="padding:0;" id="sectiontemp">
                                                <li>
                                                    <input type="text" placeholder="Search.." id="searchdata" class="form-control inputbg" style="background:#ffffff !important; width:280px;">
                                                </li>
                                            </ul>
                                        </div>
                                        <div style="background: #fff;padding: 10px;border-radius: 8px;margin: 10px 0 10px 0;" i class="table-panel table-responsive">
                                            <table id="mailboxserver" class="dataTable table " style="overflow-x:auto">
                                                <thead>
                                                    <tr>
                                                        <th width="70px;"><div class="thbg">Sl. No.</div></th>
                                                        <th class="mserver" onclick="sortTable(1)" style="cursor:pointer" width="200px;"><div class="thbg">Mail Server Name&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="msmtpa" onclick="sortTable(1)" width="180px;"><div class="thbg">SMTP Address &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></th>
                                                        <th class="msmtpp" onclick="sortTable(3)" style="cursor:pointer" width="100px;"><div class="thbg">SMTP Port&nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="mimapa" onclick="sortTable(4)" style="cursor:pointer" width="140px;"><div class="thbg">IMAP Address &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="mimapp" onclick="sortTable(5)" style="cursor:pointer" width="140px;"><div class="thbg">IMAP Port &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="mpopa" onclick="sortTable(6)" style="cursor:pointer" width="140px;"><div class="thbg">POP Address &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="mpopp" onclick="sortTable(7)" style="cursor:pointer" width="140px;"><div class="thbg">POP Port &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="mdate" onclick="sortTable(8)" style="cursor:pointer" width="140px;"><div class="thbg">Date &nbsp;&nbsp;&nbsp;<span class="fa fa-fw fa-sort pull-right"></span></div></th>
                                                        <th class="maction" width="250px;"><div class="thbg">Action</div></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="assignuserdata"></tbody>
                                            </table>
                                            <div><center><span id="datastatus"></span></center></div>
                                            <div class="box-footer clearfix">
                                                <ul class="pagination pagination-sm no-margin pull-right"></ul>
                                            </div>
                                        </div>
                                        <div class="table-panel">
                                            <div class="row settingpanel">
                                                <div class="col-md-9">
                                                    <div style="float: left;padding: 0 10px 0 0;">
                                                        <ul>
                                                            <li>
                                                                <div class="btn-group dropup  ">
                                                                    <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat" style="background-color: #ebebeb;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="glyphicon glyphicon-cog" style="font-size:16px;color:#4d95dd;padding:0 5px 0 0;"></span>
                                                                        Customize Field
                                                                    </a>
                                                                    <ul class="dropdown-menu settingshowhide " id="bd">
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mserver" checked><a href="#" class="dropdown-item">Mail Server Name</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="msmtpa" checked><a href="#" class="dropdown-item">SMTP Address</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="msmtpp"> <a href="#" class="dropdown-item">SMTP Port</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mimapa" checked><a href="#" class="dropdown-item">IMAP Address  </a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mimapp"><a href="#" class="dropdown-item">IMAP Port</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mpopa" checked><a href="#" class="dropdown-item">POP Address</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mpopp"><a href="#" class="dropdown-item">POP Port</a></li>
                                                                        <li><input type="checkbox" class="shcheckbox1 chkdhide" name="mdate" checked><a href="#" class="dropdown-item">Date</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="tfooter">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="pull-right">
                                                        <li><span>|</span></li>
                                                        <li>
                                                            <div class="btn-group dropup">
                                                                <a href="javascript:void()" style="background-color: #ebebeb !important;" class=" dropdown-toggle form-control selctInputFormat " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action Selected
                                                                </a>
                                                                <ul class="dropdown-menu settingaction">
                                                                    <li>
                                                                        <a href="javascript:void()" onclick="tableToExcelnew('mailboxserver', 'MailBox Server List')" title="Export to Excel"> Export to Excel</a>
                                                                        <a href="javascript:void()" id="btnExport" title="Export to Excel"> Export to Pdf</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#searchdata").on("keyup", function () {
            var value = $("#searchdata").val().toLowerCase();
            $("#mailboxserver tbody tr ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="~/CssJsfiles/js/1.8.3/jquery.min.js"></script>
<script src="~/CssJsfiles/js/pdfmake.min.js"></script>
<script src="~/CssJsfiles/js/html2canvas.min.js"></script>
<script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#mailboxserver')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("mailboxsetings.pdf");
            }
        });
    });
</script>
<script>
    /*					PAGINATION
    - on change max rows select options fade out all rows gt option value mx = 5
    - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
    - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
    - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
    - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows
    */
    getPagination('#mailboxserver');
    function getPagination(table) {
        $('#maxRows').on('change', function () {
            $('.pagination').html('');						// reset pagination
            var trnum = 0;									// reset tr counter
            var maxRows = parseInt($(this).val());
            //alert(maxRows);
            // alert(maxRows);// get Max Rows from select option
            var totalRows = $(table + ' tbody tr ').length;
            // alert(totalRows);// numbers of rows
            $('#mailboxserver tbody tr').each(function () {			// each TR in  table and not the header
                trnum++;
                //alert(trnum);// Start Counter
                if (trnum > maxRows) {						// if tr number gt maxRows
                    $(this).hide();							// fade it out
                } if (trnum <= maxRows) { $(this).show(); }// else fade in Important in case if it ..
            });											//  was fade out to fade it in
            if (totalRows > maxRows) {						// if tr total rows gt max rows option
                var pagenum = Math.ceil(totalRows / maxRows);
                // alert(pagenum);// ceil total(rows/maxrows) to get ..
                //	numbers of pages
                for (var i = 1; i <= pagenum;) {			// for each page append pagination li
                    $('.pagination').append('<li data-page="' + i + '">\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <span>'+ i++ + '<span class="sr-only">(current)</span></span>\
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </li>').show();
                }											// end for i
            } 												// end if row count > max rows
            $('.pagination li:first-child').addClass('active'); // add active class to the first li
            $('.pagination li').on('click', function () {		// on click each page
                var pageNum = $(this).attr('data-page');
                // alert(pageNum);// get it's number
                var trIndex = 0;							// reset tr counter
                $('.pagination li').removeClass('active');	// remove active class from all li
                $(this).addClass('active');					// add active class to the clicked
                $('#mailboxserver tbody tr').each(function () {		// each tr in table not the header
                    trIndex++;
                    // alert(trIndex);
                    // tr index counter
                    // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                    if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                        $(this).hide();
                    } else { $(this).show(); } 				//else fade in
                }); 										// end of for each tr in table
            });										// end of on click pagination list
        });
        // end of on select change
        // END OF PAGINATION
    }
</script>
<script>
    function sortTable(n) {
        try {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("mailboxserver");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        catch (er) {
            //alert(er.message);
        }
    }
</script>
<div id="myOverlay1" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>