@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <style>
        #frameWrap {
            position: relative;
            height: 490px;
            width: 100%;
            border: 1px solid #777777;
            background: #f0f0f0;
            box-shadow: 0px 0px 10px #777777;
        }

        #docframe {
            height: 490px;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
        }

        #loader12 {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249,249,249);
        }
    </style>
    <div>
    </div>
    <script>
        var id = "@ViewBag.directoryid";
        var isfilfolder = "@ViewBag.isfilfolder";
        $(document).ready(function () {
            $("#savemovefolderFile").attr("isfilfolder", isfilfolder);
                $('#loader12').css("display","none");
            $(document).on("click", "#getnextlevel", function () {
                var issearch = $("#searcmovefoldertext").val();
                if (issearch == "") {
                    var did = $(this).attr("dir-val");
                    var parent = $(this).attr("parent");
                    LoadDirForMove(did, parent);
                    loaddocbruidcumb(did);
                }
                else {
                    $("#searcmovefoldertext").val("");
                    $("#clearsearchmove").hide();
                    $("#BackkDir").show();
                    var did = $(this).attr("dir-val");
                    var parent = $(this).attr("parent");
                    LoadDirForMove(did, "");
                    loaddocbruidcumb(did);
                }
            });
            $(document).on("click", "#transferpagemove", function () {
                var did = $(this).attr("data-val");
                LoadDirForMove(did);
                loaddocbruidcumb(did);
            });
                $("#BackkDir").click(function () {
                    var value = $(this).attr("value");
                    if (value == "" || value == "undefined")
                    {
                    }
                    else {
                        LoadDirForMove(value);
                        loaddocbruidcumb(value);
                      }
                });
            //load AllDirectoryList
                LoadDirForMove(id,"");
                function LoadDirForMove(id,parent) {
                    $("#filepathbound").html("");
                    openloadmove();
                    var searchparam = $("#searcmovefoldertext").val();
                $.ajax({  async: true,
                    type: "POST",
                    url: "/api/callApi/LoadDirForMove",
                    headers: {
                        'did': id,
                        'search': searchparam
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response1) {
                        if (response1.Status == true) {
                            var datas = JSON.stringify(response1);
                            var obj = JSON.parse(response1.Data);
                        }
                        else {
                            alert("not found");
                        }
                        var option1234 = "";
                        if (id == "0" || id == "00000000-0000-0000-0000-000000000000") {
                            option1234 += '<tr><td><input style="cursor:default !important; " name="dirradio" type="radio" isfilfolder="' + isfilfolder + '" dir-val="0" dir-path=""></td><td><img src="/newassets/img/file_blue.svg" /><span style="color:black;margin-left:5px;">/</span></td><td></td></tr>';
                        }
                        $.each(obj, function (i, a) {
                            option1234 += '<tr>';
                                option1234 += '<td><input style="cursor:default !important; " name="dirradio" type="radio" isfilfolder="' + isfilfolder + '" dir-val="' + a.id + '"  dir-path="' + a.FullDirPath + '"></td>';
                            option1234 += ' <td><div class="file_wrapper"> <img src="/newassets/img/file_blue.svg" /> <a  id="getnextlevel" parent="' + id +'" isfilfolder="' + isfilfolder + '" dir-val="' + a.id + '" dir-path="' + a.FullDirPath + '" style="cursor:pointer;color:black">' + a.fname + '</a></div></td>';
                            option1234 += '<td>' + a.CreatedBy + '</td>';
                            var fullpath = "";
                            if (String(a.FullDirPath).length > 20) {
                                 fullpath = String(a.FullDirPath).substring(0, 20) + "...";
                            }
                            else {
                                fullpath = a.FullDirPath;
                            }
                            option1234 += '<td title="' + a.FullDirPath+'">' + fullpath + '</td>';
                            option1234 += '</tr>';
                            $("#BackkDir").attr("value", a.DirId);
                        });
                        if (obj.length == 0) {
                            $("#BackkDir").attr("value", parent);
                            option1234 += '<tr><td><td colspan="3" style="text-align:center"><span style="color:black;margin-left:5px;font-weight:bold;">No Folder found..</span></td></tr>';
                        }
                        $("#filepathbound").html(option1234);
                    },
                    failure: function (response) {
                        alert(data.responseText);
                        closeloadmove();
                        },
                    error: function (response) {
                        alert(data.responseText);
                        closeloadmove();
                    }
                });
            }
            loaddocbruidcumb(0);
            function loaddocbruidcumb(didmove) {
                openloadmove();
                $("#bruidcumbmove").empty();
                $("#bruidcumbmove").html("");
                var option2 = '<li class="active" style="cusror:pointer;float"><a id="transferpagemove" href="javascript:void()" data-val="00000000-0000-0000-0000-000000000000"> <img src="/newassets/img/file.svg" /> </a> </li>';
                $("#bruidcumbmove").append(option2);
                var formdata = new FormData();
                formdata.append("dirid", didmove);
                var option = "";
                $.ajax({
                    async: true,
                    url: "/api/AzureApi/Bruidcumb",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (response) {
                        if (response.Status == true) {
                            var datas = JSON.stringify(response);
                            try {
                                var obj = JSON.parse(response.Data);
                            }
                            catch
                            {
                                closeloadmove();
                            }
                        }
                        else {
                            // alert("not found");
                        }
                        var qtyr = 0;
                        $.each(obj, function (i, a) {
                            qtyr = qtyr + 1;
                            if (String(a.Name) == "null") {
                            }
                            else {
                                 option += '<li class="active noactive" style="cusror:pointer;"><a id="transferpagemove" slno="' + qtyr + '" href="javascript:void()" data-val="' + a.ID + '">' + a.Name + '</a></li>';
                            }
                        });
                        $("#bruidcumbmove").append(option);
                        closeloadmove();
                    },
                    error: function () {
                        alert('Error!');
                        closeloadmove();
                    }
                });
            }
            function openloadmove() {
                $("#myOverlaymove").css("display", "block");
            }
            function closeloadmove() {
                $("#myOverlaymove").css("display", "none");
            }
            $(document).on('click', '#searchhmovefolder', function () {
                $("#clearsearchmove").show();
                $("#BackkDir").hide();
                LoadDirForMove("0", "");
                loaddocbruidcumb(0);
            });
            $(document).on('click', '#clearsearchmove', function () {
                $("#searcmovefoldertext").val("");
                $("#clearsearchmove").hide();
                LoadDirForMove("0", "");
                loaddocbruidcumb(0);
                $("#BackkDir").show();
            });
        });
    </script>
    <div class="row" style="margin: 20px 0;">
        <div class="col-4">
            <div>
                <ol class="breadcrumb" id="bruidcumbmove" style="margin-top:-15px;margin-bottom:5px;"></ol>
            </div>
            <div class=table-responsive" id="" role="tablist">
                <table class="table-panel" style="width:100%">
                    <thead><tr><th width="5%"><div class="thbg"></div></th><th width="50%"><div class="thbg">Folder Name</div></th><th width="25%"><div class="thbg">Created By</div></th><th width="25%"><div class="thbg">Path</div></th></tr></thead>
                    <tbody id="filepathbound"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<div id="myOverlaymove" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>