<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myKase PlugIn</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/assets/MKPlugin/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <img src="~/assets/MKPlugin/myKase_Logo.png" width="249" height="45" />
        </nav>
        <div class="wrapper">
            <!-- Top menu -->
            <!-- Top content -->
            <div class="top-content">
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-size: 16px;line-height: 27px;color: #505050;">myKase plugin gives you an easy integration between  myKase and Microsoft Word, helping you quickly upload/save documents directly to myKase.</p>
                        <p><strong>System Requirement: </strong> MS Word 2010 and Above.</p>
                    </div>
                    <div class="col-md-4 text-right"><a href="~/Downloads/MykasePlugin.zip" name="MykasePlugin"><img src="~/assets/MKPlugin/download_btn.png?1.2" width="245" height="48" /></a></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>How can I access myKase Plugin from Microsoft Word?</h2>
                        <p><img src="~/assets/MKPlugin/img_1.png" class="img-responsive" /></p>
                        <p><strong>1. Do the Right Click</strong></p>
                        <p><img src="~/assets/MKPlugin/img1.png" class="img-responsive" /></p>
                        <p><strong>2. Click on “Run As Administrator”</strong></p>
                        <p><img src="~/assets/MKPlugin/img2.png" class="img-responsive" /></p>
                        <p><strong>3. Click “Run”</strong></p>
                        <p><img src="~/assets/MKPlugin/img3.png" class="img-responsive" /></p>
                        <p><strong>4. Click “Next”</strong></p>
                        <p><img src="~/assets/MKPlugin/img4.png" class="img-responsive" /></p>
                        <p><strong>5. Click “Next”</strong></p>
                        <p><img src="~/assets/MKPlugin/img5.png" class="img-responsive" /></p>
                        <p><strong>6.	Click “Next” to start the installation</strong></p>
                        <p><img src="~/assets/MKPlugin/img6.png" class="img-responsive" /></p>
                        <p><strong>7. Please wait till the installation is done</strong></p>
                        <p><img src="~/assets/MKPlugin/img7.png" class="img-responsive" /></p>
                        <p><strong>8. Click “Install”</strong></p>
                        <p><img src="~/assets/MKPlugin/img8.png" class="img-responsive" /></p>
                        <p><strong>9. When installation is successful, below window will open. Click on “Close”. </strong></p>
                        <p><img src="~/assets/MKPlugin/img9.png" class="img-responsive" /></p>
                        <p><strong>10.	Open Microsoft word. “MYKASE” plugin will start reflecting at the top right corner of the word file. Screenshot Attached for the reference</strong></p>
                        <p><img src="~/assets/MKPlugin/img10.png" class="img-responsive" /></p>
                        <h2>How to remove the myKasePlugIn</h2>
                        <p><img src="~/assets/MKPlugin/img11.png" class="img-responsive" /></p>
                        <h2>Questions and Answers</h2>
                        <p><strong>How can I upload a file using this plugin? </strong></p>
                        <p><strong>1. Open the document which you want to upload</strong></p>
                        <p><strong>2. Click on “MYKASE”</strong></p>
                        <p><img src="~/assets/MKPlugin/img12.png" class="img-responsive" /></p>
                        <p><strong>3. Click on “myKase File Upload”</strong></p>
                        <p><img src="~/assets/MKPlugin/img13.png" class="img-responsive" /></p>
                        <p><strong>4. Enter the Credentials</strong></p>
                        <p><img src="~/assets/MKPlugin/img14.png" class="img-responsive" /></p>
                        <p><img src="~/assets/MKPlugin/img15.png" class="img-responsive" /></p>
                        <p>
                            <strong>Can the file only be uploaded in Matter Folders? </strong><br>
                            Yes, the file can only be uploaded in Matter folders.
                        </p>
                        <p>
                            <strong>What would be the limit of words for a document which I’m going to upload directly into mykase from word? </strong><br>
                            There is no word limit
                        </p>
                        <p>
                            <strong>Can I upload a document which I have worked on in Track mode, would it get saved with all those track changes within it? </strong><br>
                            Yes, the document will be uploaded with all the changes which can be tracked.
                        </p>
                        <p>
                            <strong>Do every time I have to login to upload the document? </strong><br>
                            No, there is no need to login every timeas long as you haven’t logged out.
                        </p>
                        <p><strong>How to log out from myKase? </strong> </p>
                        <ul>
                            <li>Go to “MYKASE” from the top bar menu </li>
                            <li>On clicking, <img src="~/assets/MKPlugin/img16.png" class="img-responsive" /> you will be successfully logged out.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <ul style="margin:0 auto; padding:0; list-style-type:none; width:215px">
                                <li style="float:left; padding:0px 9px 0 0px;"><img src="~/assets/MKPlugin/mail_icon.png" width="21" height="16"></li>
                                <li style="float:left; padding:0; color:#000000;">contact@mykase.in</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
