@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script>
    $(document).on('keypress', '#tags', function (event) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var type = 'ct'
    var filesize = 19;
    var usertoken = "xt";
    //console.log(type);
</script>
<script src="~/Scripts/Firm/Pages/NewCreateTimeEntry.js"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<link href="~/Manupanel/ckeditor/samples/toolbarconfigurator/lib/codemirror/neod.css" rel="stylesheet" />
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            @if (role.ToString() == "1")
            {
                <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            else if (role.ToString() == "2")
            {
                <li><a href="/@Session["firmcode"]/employee/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            }
            <li class="active">Time Entry</li>
        </ol>
        <h1><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;&nbsp;New Time Entry</h1>
    </section>
    <section class="content">
        <div id="page-wrapper">
            <div class="container-fluid showcontent" id="showcontent">
                <div class="box">
                    <div class="box-header" style="padding:5px;">
                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp"></ul>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <form id="savecallform" enctype="multipart/form-data">
                <!-- Start About boxes -->
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Linked to</legend>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Client </label>
                                <div class="col-md-5">
                                    <select name="contact" class="form-control" id="contact">
                                        <option value="" selected>Select Client...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Case </label>
                                <div class="col-md-5">
                                    <select name="matter" class="form-control" id="matter">
                                        <option value="" selected>Select Case...</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>New Time Entry</legend>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Item </label>
                                <div class="col-md-5">
                                    <select name="" class="form-control" id="item">
                                        <option value="">Select </option>
                                        <option value="Drafts">Drafts </option>
                                        <option value="Research Work">Research Work </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Date <span class="required" aria-required="true">*</span></label>
                                <div class="col-md-5">
                                    <input class="form-control" name="dt" type="date" placeholder="Date" id="dt" required />
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Duration <span class="required" aria-required="true">*</span></label>
                                <div class="col-md-5">
                                    <input class="form-control" name="duration" type="text" required id="duration2" placeholder="Format: 1h 10m 1s" value="0h:0m:0s" />
                                </div>
                            </div>
                            <div class="form-group form-horizontal" style="display:none;">
                                <label class="control-label col-md-3"> </label>
                                <div class="col-md-5">
                                    <button id="taskstarttimer" type="button" class="btn save" style="float:left; margin:0 10px 0 0px;" title="Start Timer"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;Start Timer</button>
                                    <button id="taskstoptimer" type="button" class="btn save" style="float:left; margin:0 10px 0 0px;display:none" title="Stop Timer"><span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;Stop Timer</button>
                                    <div class="timer pull-left " id="countdown22" style="text-align:center">0h:0m:0s</div>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Description</label>
                                <div class="col-md-9">
                                    @*<input class="form-control" type="text" id="details" placeholder="Add description..." />*@
                                    <textarea id="details" cols="15" class="valid" aria-invalid="false" style="margin: 0px; width: 384px; height: 93px;"></textarea>
                                    <div class="grid-container" style="display:none">
                                        <div id="editor">
                                        </div>
                                        <script>
                                            initSample();
                                            CKEDITOR.replace('details', {
                                                toolbar:
                                                    [
                                                        { name: 'basicstyles', items: ['Bold', 'Italic'] },
                                                        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                                        { name: 'tools', items: ['Maximize',] }
                                                    ],
                                                height: 80,
                                                width: 401
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row" style="display:none">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Billing</legend>
                            <div class="form-group form-horizontal" style="margin-top:10px;">
                                <label class="control-label col-md-3">Billable</label>
                                <div class="col-md-9">
                                    <label class="switch">
                                        <input type="checkbox" id="billable" name="billable" value="true">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Billed By:</label>
                                <div class="col-md-9">
                                    <select name="" class="form-control" id="billby">
                                        <option value="">Select user...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Hourly Rate (INR)</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="dt" type="number" placeholder="Rate" id="hrate" />
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Total</label>
                                <div class="col-md-9">
                                    <input class="form-control" name="dt" type="number" placeholder="Rate" id="total" />
                                </div>
                            </div>
                            <div class="form-group form-horizontal">
                                <label class="control-label col-md-3">Private Notes</label>
                                <div class="col-md-9">
                                    <textarea ID="privnotes" cols="15" style="margin: 0px; width: 387px; height: 89px;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-footer">
                            <input type="button" id="savecall" class="btn save" value="save">
                        </div>
                    </div>
                </div>
                <!-- /.content -->
            </form>
        </div>
    </section>
</aside>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
