@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script>
     var roleids = "@Session["sessionroleid"]";
  var isDelete = "@ViewBag.IsDelete";
    var IsCreate = "@ViewBag.IsCreate";
    var type = 8;
</script>
<script src="~/Scripts/Firm/Pages/NoticeLinkCaseList.js?7.3"></script>
<style>
    .glyphicon-book, .glyphicon-trash, .glyphicon-pencil {
        color: black !important;
    }

    .trcolor {
        background: #f5c9c9 !important;
    }

        .trcolor td {
            background-color: transparent !important;
        }
</style>
<section class="wrapper">
    <div class="container-main">
        <div>
            <div class="text-left">
                <p class="ctitle">Notice Linked-My Matters&nbsp;&nbsp;<span class="ctitle">|<a style="font-size:24px;" href="/@Session["firmcode"]/firm/UserProfile"> @Session["fullusername"]</a></span><a style="display:none;" href="/@Session["firmcode"]/firm/UserProfile">view profile</a></p>            <input type="text" id="searchdata" style="display:none">
            </div>
            <div class="table-panel table-responsive">
                <div style="overflow-x:scroll;">
                    <table id="example" class="table ">
                        <thead>
                            <tr id="headrow">
                                <th class="casestartdate" style="min-width:95px;" title="Matter Creation Date">
                                    <div class="thbg">
                                        Date
                                        <div class="btn-group" style="margin-top: -4px;">
                                            <button type="button" style="height: 23px;" class="taskoutboxbtnicon dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li style="padding:4px 5px 8px 15px;">
                                                    <input type="date" title="Matter creation date in myKase" id="casefilterdate" placeholder="Start Date" class="form-control pull-left" style="width:125px;" onkeydown="return false" />
                                                    <span class="glyphicon glyphicon-remove" id="casecleardate" title="Click here to clear date" style="display: none; width: 7%; cursor: pointer; font-size:10px; padding:2px 0 0 0;"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </th>
                                <th class="casecasename">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="casefiltercasename" placeholder="Matter Name" class="form-control pull-left" style="width:120px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatas" style="margin:5px 0 0 -14px;float:right"></span>
                                            <span class="" id="clearnewsearchcase" title="Click here to reset search" style="display:none;font-size:15px;color:black:font-weight:350;cursor:pointer;">x</span>
                                        </div>
                                    </div>
                                </th>
                                <th class="companyname">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="companynamefilter" placeholder="Company Name" class="form-control pull-left" style="width:120px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchcompany" style="margin:5px 0 0 -14px;float:right"></span>
                                            <span id="clearnewsearchcompany" style="display:none;font-size:15px;color:black:font-weight:350;cursor:pointer;">x</span>
                                        </div>
                                    </div>
                                </th>
                                <th class="caseclientcontact" title="Client Contact Lead">
                                    <div class="thbg">
                                        Client Contact
                                    </div>
                                </th>
                                <th class="MatterType">
                                    <div style="width:150px;" class="thbg">
                                        @*Matter Type*@
                                        <div class="form-group col-md-12">
                                            <select class="form-control form-control-sm" id="MatterTypefilter" name="MatterTypefilter" required>
                                                <option value="">Matter Type</option>
                                                <option value="Advisory">Advisory</option>
                                                <option value="Dispute Resolution">Dispute Resolution</option>
                                                <option value="Litigation">Litigation</option>
                                                <option value="Others">Others</option>
                                                <option value="Transaction">Transaction</option>
                                            </select>
                                        </div>
                                    </div>
                                </th>
                                <th class="casecreatedby">
                                    <div style="width:150px;" class="thbg">
                                        <select class="form-control col_b" id="casefilterCreatedBy">
                                            <option value="" selected=""> Created By</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="caseteammembers">
                                    <div class="thbg">
                                        Team Members
                                    </div>
                                </th>
                                <th class="casecasedetails">
                                    <div class="thbg">
                                        Hearing
                                    </div>
                                </th>
                                <th class="caseeditdate" style="min-width:95px;" title="Matter edited on">
                                    <div class="thbg">
                                        Edit Date
                                    </div>
                                </th>
                                <th class="caseclientname">
                                    <div style="width:120px;" class="thbg">
                                        <select class="form-control col_b" id="casefilterclient">
                                            <option value="" selected="">Select Client</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="casecourtname">
                                    <div class="thbg">
                                        <select class="form-control col_b" id="casefiltercourt" style="width:75px;">
                                            <option value="" selected="">Court</option>
                                            <option value="Supreme Court">Supreme Court</option>
                                            <option value="High Court">High Court</option>
                                            <option value="District Court">District Court</option>
                                            <option value="Tribunals">Tribunals</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="caseothercourtname">
                                    <div class="thbg">
                                        Court Name
                                    </div>
                                </th>
                                <th class="casestatus">
                                    <div class="thbg">
                                        <select class="form-control col_b" id="casefilterstatus" style="width:75px;">
                                            <option value="" selected=""> Status</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="CertifiedCopyAppliedon">
                                    <div class="thbg">
                                        Copy Applied On
                                    </div>
                                </th>
                                <th class="CertifiedCopyReceivedon">
                                    <div class="thbg">
                                        Copy Received On
                                    </div>
                                </th>
                                <th class="ValuationofSuit">
                                    <div class="thbg">
                                        Valuation of Suit
                                    </div>
                                </th>
                                <th class="Courtfee">
                                    <div class="thbg">
                                        Court Fee
                                    </div>
                                </th>
                                <th class="OppositePartyCounselname">
                                    <div class="thbg">
                                        PartyCounsel Name
                                    </div>
                                </th>
                                <th class="OppositePartyCounselemail">
                                    <div class="thbg">
                                        PartyCounsel Email
                                    </div>
                                </th>
                                <th class="OppositePartyCounselphone">
                                    <div class="thbg">
                                        PartyCounsel Phone
                                    </div>
                                </th>
                                <th class="CasenumberInternal">
                                    <div class="thbg">
                                        Matter Number Internal
                                    </div>
                                </th>
                                <th class="PoliceStation">
                                    <div class="thbg">
                                        Police Station
                                    </div>
                                </th>
                                <th class="FIRNo">
                                    <div class="thbg">
                                        FIR No
                                    </div>
                                </th>
                                <th class="caseclosedate">
                                    <div class="thbg">
                                        Close Date
                                    </div>
                                </th>
                                <th class="subjecttype">
                                    <div style="width:150px;" class="thbg">
                                        @*Subject Type*@
                                        <select class="form-control form-control-sm" id="SubjectTypefilter" name="SubjectTypefilter" required>
                                            <option value="">Subject Type</option>
                                            <option value="Arbitration">Arbitration</option>
                                            <option value="Civil">Civil</option>
                                            <option value="Commercial">Commercial</option>
                                            <option value="Constitutional Law">Constitutional Law</option>
                                            <option value="Consumer">Consumer</option>
                                            <option value="Corporate">Corporate</option>
                                            <option value="Criminal">Criminal</option>
                                            <option value="Direct Tax">Direct Tax</option>
                                            <option value="Family">Family</option>
                                            <option value="Indirect Tax">Indirect Tax</option>
                                            <option value="Motor Vehciles">Motor Vehciles</option>
                                            <option value="Others">Others</option>
                                            <option value="Real Estate">Real Estate</option>
                                            <option value="Service">Service</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="notes">
                                    <div class="thbg">
                                        <div style="float:left;width:80%">
                                            <input type="text" id="casefilternotes" placeholder="Notes" class="form-control pull-left" style="width:120px;">
                                        </div>
                                        <div style="float:left;width:20%">
                                            <span class="glyphicon glyphicon-search" id="searchdatasnotes" style="margin:5px 0 0 -14px;float:right"></span>
                                            <span class="" id="clearnewsearchnotes" title="Click here to reset search" style="display:none;font-size:15px;color:black:font-weight:350;cursor:pointer;">x</span>
                                        </div>
                                    </div>
                                </th>
                                <th class="teamleadname">
                                    <div style="width:150px;" class="thbg">
                                        Matter Team Lead
                                    </div>
                                </th>
                                <th style="display:none;"><div class="thbg"><input type="checkbox" id="select_all" /></div></th>
                                <th><div class="thbg"><p style="width:100px;">&nbsp;</p></div></th>
                                <th class="linkedcase">
                                    <div class="thbg">
                                        Linked Matter
                                    </div>
                                </th>
                                <th class="CaseType">
                                    <div class="thbg">
                                        Case Type
                                    </div>
                                </th>
                                <th class="CaseDetails">
                                    <div class="thbg">
                                        Matter Description
                                    </div>
                                </th>
                                <th class="mtrno">
                                    <div class="thbg">
                                        Matter Number-External Reference
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="bindcasedata"></tbody>
                    </table>
                </div>
                <div class="table-panel">
                    <div class="settingpanel">
                        <div class="col-md-6">
                            <div style="float: left;padding: 0 10px 0 0;">
                                <ul>
                                    <li>
                                        <div class="btn-group dropup">
                                            <a href="javascript:void()" class=" dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -3px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-cog" style="font-size:14px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                                customize field
                                            </a>
                                            <ul class="dropdown-menu settingshowhide" id="od" style="width:275px; height: 420px !important; overflow-y:scroll;">
                                                <li><input type="checkbox" value="StartDate" class="shcheckbox1 chkdhide" name="casestartdate" checked><a href="#">Start Date</a></li>
                                                <li><input type="checkbox" value="MatterName" class="shcheckbox1 chkdhide" name="casecasename" checked><a href="#">Matter Name</a></li>
                                                <li><input type="checkbox" value="ClientName" class="shcheckbox1 chkdhide" name="caseclientname"><a href="#" class="dropdown-item">Client</a></li>
                                                <li><input type="checkbox" value="Court" class="shcheckbox1 chkdhide" name="casecourtname"><a href="#" class="dropdown-item">Court</a></li>
                                                <li><input type="checkbox" value="CourtName" class="shcheckbox1 chkdhide" name="caseothercourtname"><a href="#" class="dropdown-item">Court Name</a></li>
                                                <li><input type="checkbox" value="CompanyName" class="shcheckbox1 chkdhide" name="companyname" checked><a href="#" class="dropdown-item">Company</a></li>
                                                <li class="casecasedetails1"><input type="checkbox" value="" class="shcheckbox1 chkdhide" name="casecasedetails" checked><a href="#" class="dropdown-item">Court Hearing</a></li>
                                                <li><input type="checkbox" value="Status" class="shcheckbox1 chkdhide" name="casestatus"><a href="#" class="dropdown-item">Status</a></li>
                                                <li><input type="checkbox" value="CreatedBy" class="shcheckbox1 chkdhide" name="casecreatedby" checked><a href="#" class="dropdown-item">Created By</a></li>
                                                <li><input type="checkbox" value="TeamMembers" class="shcheckbox1 chkdhide" name="caseteammembers" checked><a href="#" class="dropdown-item">Team Members</a></li>
                                                <li><input type="checkbox" value="ClientContact" class="shcheckbox1 chkdhide" name="caseclientcontact" checked><a href="#" class="dropdown-item">Client Contact</a></li>
                                                <li><input type="checkbox" value="MatterType" class="shcheckbox1 chkdhide" name="MatterType" checked><a href="#" class="dropdown-item">Matter Type</a></li>
                                                <li><input type="checkbox" value="CopyAppliedOn" class="shcheckbox1 chkdhide" name="CertifiedCopyAppliedon"><a href="#" class="dropdown-item">Copy Applied On</a></li>
                                                <li><input type="checkbox" value="CopyReceivedOn" class="shcheckbox1 chkdhide" name="CertifiedCopyReceivedon"><a href="#" class="dropdown-item">Copy Received On</a></li>
                                                <li><input type="checkbox" value="ValuationofSuit" class="shcheckbox1 chkdhide" name="ValuationofSuit"><a href="#" class="dropdown-item">Valuation of Suit</a></li>
                                                <li><input type="checkbox" value="CourtFee" class="shcheckbox1 chkdhide" name="Courtfee"><a href="#" class="dropdown-item">Court Fee</a></li>
                                                <li><input type="checkbox" value="PartyCounselName" class="shcheckbox1 chkdhide" name="OppositePartyCounselname"><a href="#" class="dropdown-item">PartyCounsel Name</a></li>
                                                <li><input type="checkbox" value="PartyCounselEmail" class="shcheckbox1 chkdhide" name="OppositePartyCounselemail"><a href="#" class="dropdown-item">PartyCounsel Email</a></li>
                                                <li><input type="checkbox" value="PartyCounselPhone" class="shcheckbox1 chkdhide" name="OppositePartyCounselphone"><a href="#" class="dropdown-item">PartyCounsel Phone</a></li>
                                                <li><input type="checkbox" value="MatterNumberInternal" class="shcheckbox1 chkdhide" name="CasenumberInternal"><a href="#" class="dropdown-item">Matter Number Internal</a></li>
                                                <li style="display:none"><input type="checkbox" class="shcheckbox1 chkdhide" name="PoliceStation"><a href="#" class="dropdown-item">Police Station</a></li>
                                                <li style="display:none"><input type="checkbox" class="shcheckbox1 chkdhide" name="FIRNo"><a href="#" class="dropdown-item">FIR No</a></li>
                                                <li><input type="checkbox" value="CloseDate" class="shcheckbox1 chkdhide" name="caseclosedate"><a href="#" class="dropdown-item">Close Date</a></li>
                                                <li><input type="checkbox" value="" class="shcheckbox1 chkdhide" name="linkedcase"><a href="#" class="dropdown-item">Linked Matters</a></li>
                                                <li><input type="checkbox" value="SubjectType" class="shcheckbox1 chkdhide" name="subjecttype"><a href="#" class="dropdown-item">Subject Type</a></li>
                                                <li><input type="checkbox" value="Notes" class="shcheckbox1 chkdhide" name="notes"><a href="#" class="dropdown-item"> Notes</a></li>
                                                <li><input type="checkbox" value="MatterTeamLead" class="shcheckbox1 chkdhide" name="teamleadname"><a href="#" class="dropdown-item"> Matter Team Lead</a></li>
                                                <li><input type="checkbox" value="EditDate" class="shcheckbox1 chkdhide" name="caseeditdate"><a href="#" class="dropdown-item"> Edit Date</a></li>
                                                <li><input type="checkbox" value="CaseType" class="shcheckbox1 chkdhide" name="CaseType"><a href="#" class="dropdown-item">  Case Type</a></li>
                                                <li><input type="checkbox" value="MatterDescription" class="shcheckbox1 chkdhide" name="CaseDetails"><a href="#" class="dropdown-item"> Matter Description</a></li>
                                                <li><input type="checkbox" value="MatterNumberCourtReference" class="shcheckbox1 chkdhide" name="mtrno"><a href="#" class="dropdown-item">  Matter Number-External Reference</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="casetfooter">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="pull-right">
                                @if (role.ToString() == "1")
                                {
                                    <li>
                                        <select class="form-control selctInputFormat" id="filtercaseusermatter" style="background-color: #ebebeb !important;
    padding-right: 20px !important;
    border-radius: 20px !important;
    height: 30px !important;
    margin-top: -5px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 15px !important;
    background: #ebebeb url(/newassets/images/selectbox_arrow.png) no-repeat right !important;
    -webkit-appearance: none;
    background-position-x: 99%;
    margin-bottom: 10px !important;">
                                            <option value="" selected>Select User </option>
                                        </select>
                                    </li>
                                    <li><span>|</span></li>
                                }
                                else
                                {
                                    <input type="text" class="form-control inputFormat" id="filtercaseuser" style="display:none">
                                }
                                @if (role.ToString() == "1")
                                {
                                    <li><a href="/@Session["firmcode"]/firm/CreateCase" title="Create new Matter" class="sbtbtn" onmouseover="this.style.color='#fff'">New Matter</a> </li>
                                }
                                else
                                {
                                    if (Convert.ToInt32(ViewBag.IsCreate) == 1)
                                    {
                                        <li><a href="/@Session["firmcode"]/firm/CreateCase" title="Create new Matter" class="sbtbtn" onmouseover="this.style.color='#fff'">New Matter</a> </li>
                                    }
                                }
                                <li><span>|</span></li>
                                <li>
                                    <div class="btn-group dropup">
                                        <a href="javascript:void()" class=" dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -5px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action Selected
                                        </a>
                                        <ul class="dropdown-menu settingaction">
                                            <li><a href="javascript:void()" id="oexcel" title="Export to Excel">Export to Excel</a></li>
                                            <li><a href="javascript:void()" id="opdf" title="Export data to PDF">Export to PDF</a></li>
                                            <li><a href="/@Session["firmcode"]/firm/ArchiveMatterList" title="Archive Matter List">archive matters list</a> </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
<div id="myModalcfHistory" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:90%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Matter Custom Field History
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="editfile">
                                            <div class="form-group ">
                                                <label class="control-label col-md-3">Select Custom Field Version</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" id="cfversion"></select>
                                                </div>
                                                <div class="col-md-5" style="margin-top:-10px;">
                                                    <button type="button" class="sbtbtn" id="CFHistoryData">Find</button>
                                                    <button type="button" class="sbtbtn" id="ExporttoExcelCFHistory" title="Export To Excel" style="display:none">Export To Excel</button>
                                                </div>
                                                <div class="table-panel table-responsive">
                                                    <table id="example" class="table table-striped table-bordered" style="overflow-x:scroll;">
                                                        <thead id="cfheadrow">
                                                        </thead>
                                                        <tbody id="cfbindcasedata"></tbody>
                                                    </table>
                                                </div>
                                                <div class="table-panel" id="footerhead" style="display:none">
                                                    <div class="row settingpanel">
                                                        <div class="col-md-6">
                                                            <div style="float: left;padding: 0 10px 0 0;">
                                                                <ul>
                                                                    <li>
                                                                        <div class="btn-group dropup">
                                                                            <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="glyphicon glyphicon-cog" style="font-size:14px;color:black;padding:0 5px 0 0 "></span>
                                                                                customize field <span class="glyphicon glyphicon-chevron-down"></span>
                                                                            </a>
                                                                            <ul class="dropdown-menu settingshowhide" id="cfod" style="width:255px;"></ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div id="cfcasetfooter">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalmarkdelete" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Mark Deletion
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" id="editfile">
                                            <div class="form-group ">
                                                <label class="control-label col-md-3">Remark</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" type="text" value="" maxlength="2000" id="markremark">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="sbtbtn" id="deletecasesinglefinal">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="myModaldocs1" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span id="spanhead"> Email Data</span>
                </h4>
            </div>
            <div class="minebody modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group form-horizontal">
                                            <label class="control-label col-md-3">Please enter the E-mail Id.<span class="required" aria-required="true" style="color:red"><b>*</b> </span></label>
                                            <div class="col-md-8">
                                                <input type="email" class="form-control" id="shareemail" placeholder="Please enter the E-mail Id. with Comma Separated (,) in matter of Multiple recipients." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-actions">
                                            <div class="modal-footer">
                                                <button type="button" id="sharedocs" class="btn btn-success save" value="Save">Share to mail</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
