@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var userid = Session["sessionuserid"];
}
<script>
    var userid = "@userid";
    var roleids = "@Session["sessionroleid"]";
    var isPartner = "@Session["IsPartner"]";
    var packid = @Session["sessionpackmodule"];
</script>
<head>
    <script src="~/Scripts/Notice/NoticeDashboard.js?2.2"></script>
    <script src="~/Manupanel/Chart/Chart.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
</head>
<style>
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #0369A1 !important;
        color: #ffffff !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none !important;
        font-weight: normal !important;
        border-radius: 50px !important;
        display: inline-block;
        width: 30px;
    }

    .ui-datepicker-inline {
        width: 100%;
    }

    .rectangle {
        height: 12px;
        width: 11px;
        background-color: #3aa0d4;
        float: left;
        border-radius: 3px;
    }

    .rectangle1 {
        height: 12px;
        width: 11px;
        background-color: #47a447;
        float: left;
        clear: both;
        border-radius: 3px;
    }

    .rectangle2 {
        height: 12px;
        width: 11px;
        background-color: #a97516;
        float: left;
        clear: both;
        border-radius: 3px;
    }

    .colorlbl {
        margin: -2px 0 0 13px;
        float: left;
        font-size: 12px;
    }
</style>
<style>
    .ui-datepicker table {
        font-size: 12px !important;
    }

    .ui-datepicker td {
        border: 0;
        padding: 3px !important;
    }

    .ui-datepicker {
        width: 100% !important;
    }

        .ui-datepicker table {
            font-size: 14px !important;
        }

    .ui-widget-header {
        border: none !important;
        background: #ffffff !important;
        color: #414651 !important;
        font-weight: 600 !important;
        border-radius: 50px !important;
        font-size: 16px;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        display: block;
        padding: .2em;
        text-align: center !important;
        text-decoration: none;
    }

    .ui-datepicker table {
        font-size: 14px !important;
    }

    .ui-datepicker td {
        border: 0;
        padding: 3px !important;
        text-align: center !important;
        height: 37px;
    }

    .colour3 {
        background-color: #f97316;
    }

    .calendar .cause-list1 {
        height: auto;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none !important;
        font-weight: normal !important;
        border-radius: 50px;
        display: inline-block;
        width: 30px;
    }

    td.highlight > a {
        background: #f97316 !important;
        color: #fff !important;
    }

    .ui-widget.ui-widget-content {
        padding: 10px;
        border-radius: 9px;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none !important;
        font-weight: normal !important;
        border-radius: 4px;
    }
    /*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #dad55e;
        background: #4D95DD !important;
        color: #ffffff !important;
    }*/
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html
    .ui-datepicker td span, .ui-datepicker td a {
        padding: 6px !important;
    }

    .ui-widget-header .ui-icon {
        background-image: url(/newassets/images/ui-icons_444444_256x240.png) !important;
    }

    .dhx_cal_header {
        background-image: none !important;
    }

    .dhx_scale_bar {
        background-image: none !important;
    }

    .dhx_scale_bar {
        color: #020202 !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ui-icon {
        width: 18px !important;
        height: 18px !important;
    }

    .ui-icon-circle-triangle-w {
        background-position: -80px -191px !important;
    }

    .ui-icon-circle-triangle-e {
        background-position: -47px -191px !important;
    }

    .ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover {
        top: 2px !important;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 2px !important;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 2px !important;
    }
</style>
<style>


    .ui-datepicker-inline {
        width: 100%;
    }

    .ui-datepicker {
        width: 100% !important;
        padding: .2em .2em 0;
        display: none;
    }

    .rectangle {
        height: 13px;
        width: 15px;
        background-color: #3aa0d4;
        float: left;
    }

    .rectangle1 {
        height: 13px;
        width: 15px;
        background-color: #47a447;
        float: left;
        clear: both;
    }

    .colorlbl {
        margin-left: 20px;
        float: left;
    }
</style>
<style>
    .todo-list {
        float: left;
        width: 131px;
        background: #f4f4f4;
        padding: 11px;
        margin: 0 20px 20px 0;
        border-radius: 8px;
    }

    .breadcrumb {
        padding: 2px 4px;
        margin: 0;
        background-color: #f4f4f4;
        border-radius: 50px;
        overflow: hidden;
        width: 90px;
    }

    .paginationsection ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .paginationsection ul li {
            margin: 0 12px 0 0;
            padding: 0;
            float: left;
        }

    #matter-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #form-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #barChartNoticeStatus {
        position: relative;
        height: 163px !important;
        margin: -24px 0 0 -35px;
        width: auto !important;
    }

    #barChartNoticeSent {
        position: relative;
        height: 163px !important;
        margin: -24px 0 0 -35px;
        width: auto !important;
    }

    #barChartNoticesubject {
        position: relative;
        height: 163px !important;
        margin: -24px 0 0 -35px;
        width: auto !important;
    }

    #chart-area-case-3 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #chart-area-case-4 {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #subject-type-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #invioce-chart-area {
        position: relative;
        height: 200px !important;
        margin: 10px 0 0 0px;
        width: auto !important;
    }

    #legend > ul {
        display: flex;
        justify-content: center;
    }

    #legend li {
        cursor: pointer;
        margin: 10px 10px;
        display: flex;
    }

        #legend li span {
            padding-left: 8px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }

    #parentnbox {
        border-bottom: 0px !important;
    }

        #parentnbox > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: 0px !important
        }

        #parentnbox > li > a:hover, .nav > li > a:focus {
            background-color: white !important;
        }

        #parentnbox > li > a:hover {
            border-color: white !important;
        }

    #filterbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        #filterbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        #filterbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .rangediv {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .rangediv li {
            margin: 0;
            padding: 6px 10px 0 0;
            float: left;
        }

    .alertbox li > a {
        color: #555 !important;
        cursor: default;
    }

    .alertbox li.active > a {
        color: #555;
        cursor: default;
        background-color: #ccc !important;
        border: transparent;
    }

        .alertbox li.active > a:hover {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

        .alertbox li.active > a:focus {
            color: #555;
            cursor: default;
            background-color: #ccc !important;
            border: transparent;
        }

    .panel-group .panel {
        margin-bottom: 0;
        overflow: hidden;
        border-radius: 8px;
        background-color: #ebebeb;
        border: none;
        box-shadow: none;
    }

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: none;
    }

    .panel-heading {
        position: relative;
        padding: 6px 15px !important;
    }

    .panel-default > .panel-heading {
        background-color: #ebebeb !important;
    }

    .panel-title {
        font-size: 11px !important;
        padding: 3px 0 !important;
    }

        .panel-title > a:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding: 4px 5px 1px 5px;
            border-radius: 50px;
            margin: 1px 0 0 0;
            background: #4d95dd;
            color: #ffffff;
        }

        .panel-title > a.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .panel-title > a:hover,
        .panel-title > a:active,
        .panel-title > a:focus {
            text-decoration: none;
            color: #000000;
        }

    .dashboard_top_panel {
        margin: 10px 0 20px 0;
        padding: 0;
        overflow: hidden;
    }

        .dashboard_top_panel .dbox {
            margin: 0;
            padding: 10px 20px;
            border-radius: 8px;
            color: #020202;
            background: #ebebeb;
            overflow: hidden;
        }

            .dashboard_top_panel .dbox .iconwrapper {
                margin: 0;
                padding: 5px 0 0 0;
                float: left;
            }

            .dashboard_top_panel .dbox .txtwrapper {
                margin: 0;
                padding: 0;
                float: right;
                text-align: right;
            }

                .dashboard_top_panel .dbox .txtwrapper p {
                }

                    .dashboard_top_panel .dbox .txtwrapper p a {
                        color: #020202;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 16px;
                    }

                        .dashboard_top_panel .dbox .txtwrapper p a:hover {
                            color: #4D95DD;
                            text-decoration: none;
                        }

            .dashboard_top_panel .dbox p label {
                color: #4D95DD !important;
                font-size: 31px !important;
                font-weight: 600 !important;
            }

    .r-activitypanel {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .r-activitywrapper {
        margin: 0 0 30px 0;
        padding: 5px 0;
        border-bottom: 0.5px solid #e2e2e2;
        opacity: 1;
        height: auto;
    }

        .r-activitywrapper p {
            margin: 0;
            padding: 0;
            color: #B5B1B1;
            font-size: 16px;
            letter-spacing: 0.68px;
        }

            .r-activitywrapper p span {
                color: #020202;
                letter-spacing: 0.68px;
                font-weight: 500;
            }

    .recent {
        margin: 0;
        padding: 0;
        /* border-bottom: 1px solid #c8c8c8; */
        font-size: 16px;
        color: #020202;
        height: 155px;
    }
</style>
<style>
    .canvas-content {
        border-radius: 8px;
        padding: 8px !important;
        border: 1px solid #e9eaeb;
        box-shadow: 0 1px 10px 0 rgba(82, 63, 105, 0.2);
        top: 30px;
        position: absolute;
        background: #ffffff;
        z-index: 999;
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }

        .canvas-content table {
            margin: 5px 0;
            border: none;
        }

            .canvas-content table td {
                padding: 3px 0px !important;
                line-height: 1.428571429 !important;
                vertical-align: top !important;
                border-top: none !important;
            }

                .canvas-content table td span {
                    cursor: pointer;
                    color: #165dbf;
                }

    .graph-wrapper {
        margin: 15px 0 0 0;
    }

    .canvas-content a img {
        float: right;
        width: 11px;
    }

    .cause-list1 {
        min-height: 250px;
    }
</style>
<section class="wrapper">
    <div class="container-main">
        <div>
            <p class="ctitle">Notice Dashboard</p>
            <div class="row">&nbsp;&nbsp;</div>
            @if (role.ToString() == "1" || role.ToString() == "2")
            {
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="cause-list1 shadow">
                            <div class="cause-list-inner">
                                <div class="head" style="line-height: 28px; color: #1F2937; ">
                                    Notice Status
                                </div>
                                <div class="metric-item" style="width: 100%; height: 55px; margin: 0 0 5px 0; ">
                                    <div class="heading-and-icon">
                                        <div class="thumbs-up-parent">
                                            <img class="thumbs-up-icon" alt="" src="/newassets/img/thumbs-up.png">

                                            <div class="heading"><a href="/@Session["firmcode"]/NoticeNew/NewNoticeList" style="color: #414651; ">Notice Sent</a></div>
                                        </div>
                                    </div>
                                    <div class="number-and-badge">
                                        <b class="number" id="lblnewnoticecount">0</b>
                                    </div>
                                </div>
                                <div class="metric-item" style="width: 100%; height: 55px;">
                                    <div class="heading-and-icon">
                                        <div class="thumbs-up-parent">
                                            <img class="thumbs-up-icon" alt="" src="/newassets/img/hourglass-03.png">

                                            <div class="heading"><a href="/@Session["firmcode"]/NoticeReceived/ReceivedNoticeList" style="color: #414651; ">Notice Received</a></div>
                                        </div>
                                    </div>
                                    <div class="number-and-badge">
                                        <b class="number" id="lblreplynoticecount">0</b>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="cause-list1 shadow">
                            <div class="cause-list-inner">
                                <div class="head" style="font-size: 18px; font-weight: 700; line-height: 28px;">
                                    Notice Stats
                                </div>
                                <div class="row">
                                    <div class="col-md-4" id="chart_55">
                                        <span style="font-size: 16px; font-weight: 600;">Notice Subject Sent</span>
                                        <a href="javascript:void()" id="chart_55front"><img src="/newassets/img/dashboardfile-icon.png"></a>

                                        <div class="graph-wrapper" id="canvas-holder">
                                            <canvas id="barChartNoticeStatus" width="350" height="138" style="display: block; width: 350px; height: 138px;"></canvas>
                                        </div>

                                        <div class="canvas-content" style="display:none;" id="chart_55back">
                                            Notice Subject Sent <a href="javascript:void()" id="chart_55back"><img src="/newassets/img/dashboard-close.png"></a>

                                            <table cellpadding="0" cellspacing="0" class="table">

                                                <tbody id="tblbodystatusofnotice"></tbody>
                                            </table>


                                        </div>
                                    </div>
                                    <div class="col-md-4" id="chart_56">
                                        <span style="font-size: 16px; font-weight: 600;">Shared Notices Sent</span>
                                        <a href="javascript:void()" id="chart_56front"><img src="/newassets/img/dashboardfile-icon.png"></a>

                                        <div class="graph-wrapper" id="canvas-holder">
                                            <canvas id="barChartNoticeSent" width="350" height="138" style="display: block; width: 350px; height: 138px;"></canvas>
                                        </div>

                                        <div class="canvas-content" style="display:none;" id="chart_56back">
                                            Shared Notices Sent <a href="javascript:void()" id="chart_56back"><img src="/newassets/img/dashboard-close.png"></a>

                                            <table cellpadding="0" cellspacing="0" class="table">

                                                <tbody id="tblbodysentnotice"></tbody>
                                            </table>


                                        </div>
                                    </div>
                                    <div class="col-md-4" id="chart_57">
                                        <span style="font-size: 16px; font-weight: 600;">Status of Notice Sent</span>
                                        <a href="javascript:void()" id="chart_57front"><img src="/newassets/img/dashboardfile-icon.png"></a>

                                        <div class="graph-wrapper" id="canvas-holder">
                                            <canvas id="barChartNoticesubject" width="350" height="138" style="display: block; width: 350px; height: 138px;"></canvas>
                                        </div>

                                        <div class="canvas-content" style="display:none;" id="chart_57back">
                                            Status of Notice Sent <a href="javascript:void()" id="chart_57back"><img src="/newassets/img/dashboard-close.png"></a>

                                            <table cellpadding="0" cellspacing="0" class="table">

                                                <tbody id="tblbodysubjectofnotice"></tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12 calendar">
                        <div class="cause-list1">
                            <div class="cause-list-inner">

                                <div class="head">
                                    Calendar
                                    <button class="btn pull-right" onclick="authenticateAndLoad().then(calendarsync).then(execute)" title="Sync to Google Calendar"><span class="glyphicon glyphicon-refresh"></span></button>

                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="selected-date-parent">
                                            <div id="divcalendardata"></div>


                                        </div>

                                    </div>
                                    <div class="col-md-5">

                                        <div id="divdatetimepicker"></div>
                                        <div class="name-colour-parent">
                                            <div class="name-colour">
                                                <div class="colour3">
                                                </div>
                                                <div class="title">Notice due date</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>
<div class="modal fade" id="schedulednoticemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Scheduled Notice</h3>
            </div>
            <div class="modal-body" style="font-size:40px;">
                <div class="table-panel table-responsive" style="padding:10px 0 0 0; overflow-x:auto;" data-example-id="hoverable-table">
                    <div style="overflow-x:scroll">
                        <table id="" class="table">
                            <thead>
                                <tr>
                                    <th class="noticeby" data-column="SendersName">Client Name</th>
                                    <th class="noticeto" data-column="AddressedTo">Notice To</th>
                                    <th class="noticesubject" data-column="NoticeSubject">Notice Subject</th>
                                    <th class="noticetitle" data-column="NoticeTitle">Notice Title</th>
                                    <th class="criticality" data-column="Criticality">Criticality</th>
                                    <th class="typeofnotice" data-column="typeofnotice">Type of Notice</th>
                                </tr>
                            </thead>
                            <tbody id="bindnoticelist"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="https://apis.google.com/js/api.js"></script>*@
<script type="text/javascript">

    //window.API_KEY = "AIzaSyBzcVJxiL0-QU-RfTa50i4kr3CQVErc8Pg";
    //window.CLIENT_ID = "442088871438-2s7naavb7cslbhqj0rga39tfk9ghte91.apps.googleusercontent.com";

    window.API_KEY = "AIzaSyBJOIp6SEIKV8tfiuDPRP5uUxZEoUU2avA";
    window.CLIENT_ID = "1061729673401-pplm3kfjmsbj4h5r9fmmahg4h18dpjr2.apps.googleusercontent.com";
    window.DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];
    window.SCOPES = "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events";


    window.gapiInited = false;
    window.gisInited = false;
    window.tokenClient = null;


    function gapiLoaded() {
        gapi.load("client", initGapiClient);
    }

    function initGapiClient() {
        gapi.client.init({
            apiKey: window.API_KEY,
            discoveryDocs: window.DISCOVERY_DOCS
        }).then(function () {
            console.log("gapi client initialised");
            window.gapiInited = true;
        }, function (err) {
            console.error("initGapiClient error:", err);
        });
    }

    function gisLoaded() {
        try {
            window.tokenClient = google.accounts.oauth2.initTokenClient({
                client_id: window.CLIENT_ID,
                scope: window.SCOPES,
                callback: function (resp) { console.log("Default token callback", resp); }
            });
            window.gisInited = true;
            console.log("GIS initialised");
        } catch (e) {
            console.error("gisLoaded failed:", e);
        }
    }
</script>
<script defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
<script type="text/javascript">
    function calendarsync() {
        var urls3 = "/api/NoticeNew/GetNotifyhighlighteddate";
        var dataval = [];
        var dataObj = {};
        var dd = $.ajax({
            async: true,
            type: "POST",
            url: urls3,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.Data.length > 0) {
                    for (var i = 0; i < data.Data.length; i++) {
                        dataObj.summary = "Notice Due";
                        dataObj.description = "Kindly take an appropriate action.";
                        dataObj.start = { dateTime: formatDate1(data.Data[i]) + 'T12:00:00-06:00' }
                        dataObj.end = { dateTime: formatDate1(data.Data[i]) + 'T12:00:00-06:00' }
                        execute1(dataObj)
                    }
                    new PNotify({
                        title: 'Success!',
                        text: 'Google Calendar synchronized successfully',
                        type: 'success',
                        delay: 2000
                    });
                }
                else {
                    alert("No data available for calendar.");
                }
            },
            error: function (error) {
                alert('failed');
            }
        });
        $.when(dd).then(function (data, textStatus, jqXHR) {
            //execute1(dataval);
        });
    }
    /**
    * Sample JavaScript code for calendar.events.insert
    * See instructions for running APIs Explorer code samples locally:
    * https://developers.google.com/explorer-help/guides/code_samples#javascript
    */
    //function authenticate() {
    //    return gapi.auth2.getAuthInstance()
    //        .signIn({ scope: "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events" })
    //        .then(function () { console.log("Sign-in successful"); },
    //            function (err) { console.error("Error signing in", err); });
    //}
    //function loadClient() {
    //    gapi.client.setApiKey("AIzaSyBJOIp6SEIKV8tfiuDPRP5uUxZEoUU2avA");
    //    return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/calendar/v3/rest")
    //        .then(function () { console.log("GAPI client loaded for API"); },
    //            function (err) { console.error("Error loading GAPI client for API", err); });
    //}
    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {
    }
    function formatDate1(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        return [year, month, day].join('-');
    }
    function authenticateAndLoad() {

        return new Promise(function (resolve, reject) {

            window.tokenClient.callback = function (resp) {

                if (resp.error) {
                    reject(resp);
                    return;
                }

                gapi.client.setToken({
                    access_token: resp.access_token
                });

                resolve();
            };

            window.tokenClient.requestAccessToken({
                prompt: 'consent'
            });
        });
    }
    function execute1(dataObj) {
        return gapi.client.calendar.events.insert({
            "calendarId": "primary",
            "resource": dataObj
        })
            .then(function (response) {
                // Handle the results here (response.result has the parsed body).
                console.log("Response", response);
            },
                function (err) {
                    console.log(JSON.stringify(dataObj));
                    console.error("Execute error", err);
                });
    }
    gapi.load("client:auth2", function () {
        gapi.auth2.init({ client_id: "1061729673401-pplm3kfjmsbj4h5r9fmmahg4h18dpjr2.apps.googleusercontent.com" });
    });
</script>