@{
    ViewBag.Title = "Case Information Report";
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery-2.1.3.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">
<link href="~/newassets/css/style.css" rel="stylesheet" />
<style type="text/css">
    .forprint {
        padding: 10px 0 10px 0;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }

    sup {
        font-size: 13px;
        color: red;
        top: -2px;
    }

    .table-panel td {
        font-size: 12px !important;
        font-weight: 400 !important;
        color: #272727 !important;
    }
</style>
<script type="text/javascript">
    function formatDatetoIST(date) {
        if (date == "1900-01-01T00:00:00") {
            return "";
        }
        else {
            const months = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
            let current_datetime = new Date(date)
            let formatted_date = current_datetime.getDate() + " " + months[current_datetime.getMonth()] + " " + current_datetime.getFullYear()
            return formatted_date;
        }
    }
        var caseid = "@ViewBag.token";
    $(document).ready(function () {
        var formData = new FormData();
        formData.append("caseid", caseid);
        $.ajax({
            async: true,
            type: "POST",
            url: "/api/ExtraParty/GetCaseInformationReport",
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.Status == true) {
                    var myData = response.Data;
                    console.log(myData);
                    $("#NameOfComplainent").text(myData.NameOfComplainent);
                    $("#GaurdianName").text(myData.GaurdianName);
                    $("#Address").text(myData.Address);
                    $("#AdharCardNo").text(myData.AdharCardNo);
                    $("#PinCode").text(myData.PinCode);
                    $("#Gender").text(myData.Gender);
                    $("#Nationality").text(myData.Nationality);
                    $("#DateofBirth").text(formatDatetoIST(myData.DateofBirth));
                    $("#Age").text(myData.Age);
                    $("#MobileNo").text(myData.MobileNo);
                    $("#Email").text(myData.Email);
                    $("#ActSection").text(myData.ActSection);
                    $("#ValuationOfSuit").text(myData.ValuationOfSuit);
                    $("#CourtFeeAscertained").text(myData.CourtFeeAscertained);
                    $("#CourtFeePaidDeposit").text(myData.CourtFeePaidDeposit);
                    $("#PoliceStation").text(myData.PoliceStation);
                    $("#FirNoYear").text(myData.FirNoYear);
                    $("#DefendantName").text(myData.DefendantName);
                    $("#Def_GaurdianName").text(myData.Def_GaurdianName);
                    $("#Def_Address").text(myData.Def_Address);
                    $("#Def_AdharCard").text(myData.Def_AdharCard);
                    $("#Def_Pincode").text(myData.Def_Pincode);
                    $("#Def_gender").text(myData.Def_gender);
                    $("#Def_Nationality").text(myData.Def_Nationality);
                    $("#Def_Dob").text(formatDatetoIST(myData.Def_Dob));
                    $("#Def_age").text(myData.Def_age);
                    $("#Def_MobileNo").text(myData.Def_MobileNo);
                    $("#Def_Email").text(myData.Def_Email);
                    $("#AdvocateName").text(myData.AdvocateName);
                    $("#BarRegNo").text(myData.BarRegNo);
                    $("#AdvocateAddress").text(myData.AdvocateAddress);
                    $("#AdvocateMobile").text(myData.AdvocateMobile);
                    $("#AdvocateEmail").text(myData.AdvocateEmail);
                    window.print();
                }
                else {
                    alert("Oops! Something went wrong..");
                }
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    });
</script>
<style>
    body {
        font-size: 12px;
    }
</style>
<div class="container showcontent" id="showcontent">
    <div class="row">
        <div style="float:right"><a href="/@Session["firmcode"]/firm/caselist" title="Create new Matter">Go to matters</a> </div>
        <div class="col-md-12">
            <div class="forprint"><u>Case Information Format</u></div>
        </div>
        <div class="col-md-12 table-panel table-responsive">
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="width:50px;">S.NO.</th>
                    <th colspan="5" style="text-align:center;">PLAINTIFF/PETITIONER/COMPLAINANT/APPELLANT/DEGREE HOLDER ETC.<br /><small>(PLEASE FILL UP ALL THE RELEVANT FIELDS & (<sup>*</sup>) FIELDS ARE MANDATORY )</small></th>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">1.</td>
                    <td style="width:250px;"><sup><sup>*</sup></sup>Name of Plaintiff/Complaninant etc.</td>
                    <td colspan="3"><div id="NameOfComplainent"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">2.</td>
                    <td style="width:250px;"><sup>*</sup>S/o,W/o,D/o</td>
                    <td colspan="3"><div id="GaurdianName"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">3.</td>
                    <td style="width:250px;"><sup>*</sup>Address</td>
                    <td colspan="3"><div id="Address"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">4.</td>
                    <td style="width:250px;"><sup>*</sup>Adhar Card No</td>
                    <td style="width:300px;"><div id="AdharCardNo"></div></td>
                    <td style="width:200px;">Pin Code</td>
                    <td><div id="PinCode"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">5.</td>
                    <td style="width:250px;"><sup>*</sup>Gender</td>
                    <td style="width:300px;"><div id="Gender"></div></td>
                    <td style="width:200px;">Nationality</td>
                    <td><div id="Nationality"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">6.</td>
                    <td style="width:250px;"><sup>*</sup>Date of Birth</td>
                    <td style="width:300px;"><div id="DateofBirth"></div></td>
                    <td style="width:200px;"><sup>*</sup>Age</td>
                    <td><div id="Age"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">8.</td>
                    <td style="width:250px;"><sup>*</sup>Mobile No./Email</td>
                    <td style="width:300px;"><div id="MobileNo"></div></td>
                    <td colspan="2"><div id="Email"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">9.</td>
                    <td style="width:250px;"><sup>*</sup>Act/Section</td>
                    <td colspan="3"><div id="ActSection"></div></td>
                </tr>
                <tr>
                    <td align="center" rowspan="2" style="width:50px;">10.</td>
                    <td rowspan="2" style="width:250px;">Valuation of Suit</td>
                    <td rowspan="2"><div id="ValuationOfSuit"></div></td>
                    <td style="width:220px;">Court Fee ascertained:</td>
                    <td><div id="CourtFeeAscertained"></div></td>
                </tr>
                <tr>
                    <td style="width:220px;">Court Fee paid/deposited</td>
                    <td><div id="CourtFeePaidDeposit"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">11.</td>
                    <td style="width:250px;"><sup>*</sup>Police Station</td>
                    <td colspan="3"><div id="PoliceStation"></div></td>
                </tr>
                <tr>
                    <td align="center" style="width:50px;">12.</td>
                    <td style="width:250px;"><sup>*</sup>F.I.R. No. & Year</td>
                    <td colspan="3"><div id="FirNoYear"></div></td>
                </tr>
            </table>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="width:50px;">S.NO.</th>
                    <th colspan="5" style="text-align:center;">DEFENDANT/ACCUSED/RESPONDENT/JUDGEMENT DEBTOR ETC.<br /> <small>(Please FILL UP THE RELEVANT FIELDS)</small></th>
                </tr>
                <tr>
                    <td style="width:50px;">1.</td>
                    <td style="width:250px;"><sup>*</sup>Name of Defendant/Accused etc.</td>
                    <td colspan="3"><div id="DefendantName"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">2.</td>
                    <td style="width:250px;"><sup>*</sup>S/o,W/o,D/o</td>
                    <td colspan="3"><div id="Def_GaurdianName"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">3.</td>
                    <td style="width:250px;"><sup>*</sup>Address</td>
                    <td colspan="3"><div id="Def_Address"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">4.</td>
                    <td style="width:250px;">Adhar Card No</td>
                    <td style="width:300px;"><div id="Def_AdharCard"></div></td>
                    <td style="width:200px;">Pin Code</td>
                    <td><div id="Def_Pincode"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">5.</td>
                    <td style="width:250px;"><sup>*</sup>Gender</td>
                    <td style="width:300px;"><div id="Def_gender"></div></td>
                    <td style="width:200px;">Nationality</td>
                    <td><div id="Def_Nationality"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">6.</td>
                    <td style="width:250px;">Date of Birth</td>
                    <td style="width:300px;"><div id="Def_Dob"></div></td>
                    <td style="width:200px;">Age</td>
                    <td><div id="Def_age"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">7.</td>
                    <td style="width:250px;">Mobile No./Email</td>
                    <td style="width:300px;"><div id="Def_MobileNo"></div></td>
                    <td colspan="2"><div id="Def_Email"></div></td>
                </tr>
            </table>
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="width:50px;">S.NO.</th>
                    <th colspan="5" style="text-align:center;">ADVOCATE FOR PLAINTIFF/COMPLAINANT/PETITIONER/DECREE HOLDER ETC.<br /> <small>(Please FILL UP THE RELEVANT FIELDS)</small></th>
                </tr>
                <tr>
                    <td style="width:50px;">1.</td>
                    <td style="width:250px;"><sup>*</sup>Name of Advocate</td>
                    <td style="width:300px;"><div id="AdvocateName"></div></td>
                    <td style="width:200px;">Bar Regn.No.</td>
                    <td><div id="BarRegNo"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">2.</td>
                    <td style="width:250px;"><sup>*</sup>Address</td>
                    <td colspan="3"><div id="AdvocateAddress"></div></td>
                </tr>
                <tr>
                    <td style="width:50px;">3.</td>
                    <td style="width:250px;"><sup>*</sup>Mobile No./Email</td>
                    <td style="width:300px;"><div id="AdvocateMobile"></div></td>
                    <td colspan="2"><div id="AdvocateEmail"></div></td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-right">
            Submitted by:-__________________________________<br />
            (Plaintiff/petitioner/Defendant/Accused/Others/Advocate)
        </div>
    </div>
</div>