
@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}



<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }

    .ms-options ul li {
        display: block !important;
    }
</style>
<style>
    .tvalue {
        font-size: 32px;
        font-weight: 600;
        color: #181D27;
        padding: 6px 0 11px 0;
    }

    .tvaluecontainer {
        
    }

    .am {
        font-size: 14px;
        font-weight:600;
    }
.panel-default {
    border-color: #ddd;
    box-shadow: 0 1px 4px 0 rgba(18, 52, 77, .03), 0 1px 4px 0 rgba(18, 52, 77, .12);
}
.panel-body {
    padding: 10px;
}
.title {
    padding: 10px 0 14px 0;
}
    .b-box {
        padding: 10px 15px;
        border: 1px solid #E9EAEB;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 12px;
    }
.sbtbtn {
    margin-bottom: 0px;
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
    padding: 5px 12px;
}

.card .header {
    font-size: 14px;
    font-weight:500;
}
    #chart-area-department {
        position: relative;
        height: 222px !important;
        width: auto !important;
        left:8px;
    }
    #chart-area-location {
        position: relative;
        height: 222px !important;
        width: auto !important;
        left:9px;
    }

    #chart-area-contested {
        position: relative;
        width: auto !important;
        height: 251px !important;
        margin: 12px 0 0 0;
        max-width: 100%;
    }

    #chart-area-subCourt {
        position: relative;
        height: 251px !important;
        margin: 0px 0 0 0;
        width: auto !important;
        top: -17px;
    }

   
.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 1px;
    height: 247px;
    width: 100%;
}
.card-container, .front, .back {
    width: 100%;
    height: 290px;
    border-radius: 16px;
}
    .front, .back {
        box-shadow: none !important;
        background-color:transparent !important;
    }
    .card .header {
        background: transparent !important;
        padding:8px 0;
    }
    .back .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 1px solid #fff;
        color: #414651;
        font-weight: 500 !important;
        font-size: 14px;
    }
    .back .table > tbody > tr > td {
        padding: 2px 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: none;
        font-size: 14px;
        color: #414651;
        font-weight: 400 !important;
    }
    
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    height: 8px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px
}
    #ptfooter ul{list-style-type:none;}
    #ptfooter ul li{
        float: left;
        padding:0 3px;
    } 
</style>
@*<style>

    .tvalue {
        font-size: 28px;
        color: #0860b7;
        font-weight: 600;
    }

    .tvaluecontainer {
        display: block;
        background: #f3f3f3;
        padding: 16px;
        border-radius: 16px;
        height: 96px;
    }

    .am {
        font-size: 20px;
    }

    .panel-default {
        border-color: #ddd;
        box-shadow: 0 1px 4px 0 rgba(18, 52, 77, .03), 0 1px 4px 0 rgba(18, 52, 77, .12);
    }

    .panel-body {
        padding: 10px;
    }

    .title {
        padding: 10px 0 14px 0;
    }

    .b-box {
        border-radius: 16px;
        background: rgb(255, 255, 255);
        opacity: 1;
        border: 2px solid rgb(230, 232, 235);
    }

    .sbtbtn {
        margin-bottom: 0px;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        padding: 5px 12px;
    }

    .card .header {
        font-size: 17px;
    }

    

    .card .content {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        padding: 8px;
        height: 247px;
        width: 100%;
    }

    .card-container, .front, .back {
        width: 100%;
        height: 310px;
        border-radius: 16px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        border-radius: 5px;
        height: 8px
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            border-radius: 10px
        }
</style>*@
@*<script src="~/Manupanel/Chart/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pptxgenjs@3.12.0/dist/pptxgen.bundle.js"></script>*@
<script src="~/Manupanel/Chart/Chart.min.js"></script>
<script src="~/CssJsfiles/js/jszip.min.js"></script>
<script src="~/CssJsfiles/js/pptxgen.min.js"></script>

<script src="~/Scripts/Firm/Pages/RbiCaseReport.js?1.9"></script>
<section id="header">
    <div class="container-main">
        <div class="row">
            <div class="col-md-7">
                <div class="text-left">
                    <p class="ctitle"> Case Wise Report</p>
                </div>
            </div>
            <div class="col-md-5 text-right" style="display: flex; justify-content: flex-end;">
                <button type="button" id="IdExcelExport" style="cursor: pointer; margin: 0 10px 0 0px;" class="button9"><img class="plus-icon" alt="" src="/newassets/img/upload-icon.png"> Export To Excel</button>
                <button type="button" id="downloadPPT" style="cursor: pointer; margin: 0 10px 0 0px;" class="button9"><img class="plus-icon" alt="" src="/newassets/img/upload-icon.png"> Download PowerPoint </button>
                <button type="button" id="Resetgrapah" style="cursor: pointer; background: #075985; color: #ffffff; padding: 10px 20px;" class="button9">Reset</button>
            </div>
        </div>
    </div>
</section>
<section class="wrapper" style="margin: 25px 0 0 0;">

    <div class="container-main showcontent" id="showcontent">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="b-box shadow1">
                                <div class="tvaluecontainer">
                                    <p class="am">Total Matters <p class="loader1">
                                        <img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999; left: 140px;top: 23px;" />
                                    </p></p>
                                    <p><label class="tvalue" id="lblmattercountcountbyzone"></label></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="b-box shadow1">
                                @*<lebel class="am">Next Hearing Filter</lebel>*@
                                <div style="display: flex; align-items: center; gap: 20px;">
                                    <label class=" am control-label">
                                        <input type="radio" id="chkHearingDate" name="filterType" style="cursor:pointer" value="1" checked>
                                        Next Hearing Date
                                    </label>
                                    <label class=" am control-label">
                                        <input type="radio" id="chkFilingDate" name="filterType" value="2" style="cursor:pointer">
                                        Filing Date
                                    </label>
                                </div>
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <label class="control-label">From </label>
                                            <input type="date" id="grphhearingfrom" name="hearingfrom" class="form-control inputFormat" style="background: #fff !important; border: 1px solid #e2e2e2;">
                                        </td>
                                        <td width="15px">&nbsp;</td>
                                        <td>
                                            <label class="control-label">To </label>
                                            <input type="date" id="grphhearingto" name="hearingto" class="form-control inputFormat" style="background: #fff !important; border: 1px solid #e2e2e2;">
                                        </td>
                                        <td width="15px">&nbsp;</td>
                                        <td><button type="button" id="Grphsearchnexthering" class="btn btn-primary" style="width:100%;margin-top:21px;">Search</button></td>
                                        <td width="15px">&nbsp;</td>
                                        <td><button type="button" id="Grphclearnextdate" class="btn btn-secondary" style="width: 100%; margin-top: 21px;">Clear</button></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin:25px 0;">
            
                    <div class="row">
                        <div class="col-md-3">
                            <div class="b-box shadow">
                                <div class="card-container manual-flip">
                                    <div class="card">
                                        <div class="front">
                                            <div style="height: 45px; border-bottom: none !important;" class="header">
                                                <p class="loader2">
                                                    <img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;
                                                    left: 105px;top: 140px;" />
                                                </p>


                                                Contested/Non Contested <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation" style="padding:0;">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: none;
                                                                    stroke: #0961b8;
                                                                    stroke-linecap: round;
                                                                    stroke-miterlimit: 10;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)" /><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)" /></g></g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="content">
                                                <div id="canvas-holder-Contested_NonContested">
                                                    @*<canvas id="chart-area-CourtStatus" />*@
                                                    <canvas id="chart-area-contested" />
                                                </div>
                                            </div>
                                        </div> <!-- end front panel -->
                                        <div class="back">
                                            <div style="height:45px; border-bottom: none !important;" class="header">
                                                <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card" style="padding:0;">
                                                    <img src="/newassets/images/flip_back_btn.png">
                                                </button>
                                            </div>
                                            <div class="content" style="align-items: flex-start; overflow-y: auto;">
                                                <table class="table-panel">
                                                    <thead>
                                                        <tr>
                                                            <th width="80%"><div class="thbg">Status</div></th>
                                                            <th width="20%"><div class="thbg">Total</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bindCourtchartstatus"></tbody>
                                                </table>
                                            </div>
                                        </div> <!-- end back panel -->
                                    </div> <!-- end card -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="b-box shadow">
                                <div class="card-container manual-flip">
                                    <div class="card">
                                        <div class="front">
                                            <div style="height: 45px; border-bottom: none !important;" class="header">
                                                <p class="loader2">
                                                    <img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;
                                                    left: 105px;top: 140px;" />
                                                </p>
                                                Location <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation" style="padding:0;">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: none;
                                                                    stroke: #0961b8;
                                                                    stroke-linecap: round;
                                                                    stroke-miterlimit: 10;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)" /><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)" /></g></g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="content">
                                                <div id="canvas-holder-location">
                                                    @*<canvas id="chart-area-statetype" />*@
                                                    <canvas id="chart-area-location" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div style="height:45px; border-bottom: none !important;" class="header">
                                                <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card" style="padding:0;">
                                                    <img src="/newassets/images/flip_back_btn.png">
                                                </button>
                                            </div>
                                            <div class="content" style="align-items: flex-start; overflow-y: auto">
                                                <table class="table-panel">
                                                    <thead>
                                                        <tr>
                                                            <th width="80%"><div class="thbg">Location</div></th>
                                                            <th width="20%"><div class="thbg">Total</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bindzonewisestatus"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="b-box shadow">
                                <div class="card-container manual-flip">
                                    <div class="card">
                                        <div class="front">
                                            <div style="height: 45px; border-bottom: none !important;" class="header">
                                                <p class="loader4">
                                                    <img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;
                                                    left: 105px;top: 140px;" />
                                                </p>
                                                Sub Court Name <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation" style="padding:0;">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: none;
                                                                    stroke: #0961b8;
                                                                    stroke-linecap: round;
                                                                    stroke-miterlimit: 10;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)" /><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)" /></g></g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="content">
                                                <div id="canvas-holder-subCourt">

                                                    @*<canvas id="chart-area-courttype"></canvas>*@
                                                    <canvas id="chart-area-subCourt"></canvas>                                               
                                            </div>
                                                </div>
                                        </div>
                                        <div class="back">
                                            <div style="height:45px;border-bottom: none !important;" class="header">
                                                <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card" style="padding:0;">
                                                    <img src="/newassets/images/flip_back_btn.png">
                                                </button>
                                            </div>
                                            <div class="content" style="align-items: flex-start; overflow-y: auto">
                                                <table class="table-panel">
                                                    <thead>
                                                        <tr>
                                                            <th width="80%"><div class="thbg">Sub Court</div></th>
                                                            <th width="20%"><div class="thbg">Total</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bindcourtwisestatus"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="b-box shadow">
                                <div class="card-container manual-flip">
                                    <div class="card">
                                        <div class="front">
                                            <div style="height: 45px; border-bottom: none !important;" class="header">
                                                <p class="loader5">
                                                    <img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;
                                                    left: 105px;top: 140px;" />
                                                </p>
                                                Department <button class="btn btn-simple pull-right" onclick="rotateCard(this)" title="Manual Rotation" style="padding:0;">
                                                    <svg xmlns="https://www.w3.org/2000/svg" width="14.572" height="15.391" viewBox="0 0 14.572 15.391">
                                                        <defs>
                                                            <style>
                                                                .a {
                                                                    fill: none;
                                                                    stroke: #0961b8;
                                                                    stroke-linecap: round;
                                                                    stroke-miterlimit: 10;
                                                                    stroke-width: 2px;
                                                                }
                                                            </style>
                                                        </defs>
                                                        <g transform="translate(1 1.405)"><g transform="translate(12.572 12.986) rotate(180)"><path class="a" d="M737.093,208.416l4.822-3.822a1.494,1.494,0,0,0-.043-2.154l-4.779-3.411" transform="translate(-729.781 -195.43)" /><path class="a" d="M742.334,203.722h-8.408a4.146,4.146,0,0,1-4.145-4.081h0a4.145,4.145,0,0,1,4.145-4.211h7.44" transform="translate(-729.781 -195.43)" /></g></g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="content">
                                                <div id="canvas-holder-department">
                                                    @*<canvas id="chart-area-AgaintBy" />*@
                                                    <canvas id="chart-area-department" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div style="height: 45px; border-bottom: none !important;" class="header">
                                                <button class="btn btn-simple pull-right" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card" style="padding:0;">
                                                    <img src="/newassets/images/flip_back_btn.png">
                                                </button>
                                            </div>
                                            <div class="content" style="align-items: flex-start; overflow-y: auto">
                                                <table class="table-panel">
                                                    <thead>
                                                        <tr>
                                                            <th width="80%"><div class="thbg">Department</div></th>
                                                            <th width="20%"><div class="thbg">Total</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bindAgaintBythe"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin:25px 0;">
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="b-box" style="padding:10px;">
                                <div style="border-bottom: 1px solid #ccc; padding: 0; margin: 0 0 7px 0; height: 35px;" class="header">

                                    Court Cases Count <strong id="idcourtcasecount"></strong><p class="loader6"><img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;left: 150px;top: 140px;" /></p>
                                </div>
                                <div class="" style="overflow-y:auto;height: 300px;">
                                    <table class="table-panel">
                                        <thead>
                                            <tr>
                                                <th width="80%"><div class="thbg">Next Hearing</div></th>
                                                <th><div class="thbg">Total</div></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblbodyCourtType"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="b-box" style="padding:10px;">
                                <div style="border-bottom: 1px solid #ccc; padding: 0; margin: 0 0 7px 0; height: 35px;" class="header">

                                   Matter List <p class="loader7"><img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999;left: 150px;top: 140px;" /></p>
                                </div>
                                <div class="" style="overflow-y:auto;height: 300px;">
                                    <table class="table-panel">
                                        <thead>
                                            <tr>
                                                <th width="40%"><div class="thbg">Matter Name</div></th>
                                                <th width="20%"><div class="thbg">Case No</div></th>
                                                <th width="20%"><div class="thbg">Sub Court</div></th>
                                                <th width="10%"><div class="thbg">Next Hearing</div></th>
                                                <th width="10%"><div class="thbg">Filing Date</div></th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblbodyMatterList"></tbody>
                                    </table>
                                    <div class="table-panel" style="height: 45px;">
                                        <div id="ptfooter" style="padding: 10px 0;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-4">
            <div class="b-box" style="padding:10px;">
                <div style="border-bottom: 1px solid #ccc;padding: 0;margin: 0 0 7px 0;" class="header">
                    Advocate Case Count <strong id="idadvocatecount"></strong> <p class="loader7"><img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999; left: 150px;top: 140px;" /></p>
                </div>
                <div style="overflow-y:scroll;height: 300px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="thbg">
                                        Advocate name
                                    </div>
                                </th>
                                <th>
                                    <div class="thbg" style="min-width: 120px;">
                                        User Id
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg">
                                        Matter Count
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="GarphbindMatterData"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="b-box" style="padding:10px;">
                <div style="border-bottom: 1px solid #ccc;padding: 0;margin: 0 0 7px 0;" class="header">
                    User Case Count <strong id="idusercount"></strong><p class="loader7"><img src="/newassets/images/loader.gif" style="width: 50px; position: absolute; z-index: 999; left: 150px;top: 140px;" /></p>
                </div>
                <div style="overflow-y:scroll;height: 300px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <div class="thbg">
                                        User name
                                    </div>
                                </th>
                                <th>
                                    <div class="thbg" style="min-width: 120px;">
                                        User Id
                                    </div>
                                </th>

                                <th>
                                    <div class="thbg">
                                        Matter Count
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="GarphbindMatterUserData"></tbody>
                    </table>
                </div>
            </div>
        </div>*@
                    </div>
                
        </div>
    </div>

</section>
<div id="myModalNextHearingCases" class="modal fade myModal " role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" id="closemodels22" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Case Detail's
                </h4>
                <div class="row" style="padding:0 0 10px 0;">
                    <div class="col-md-12">
                        <button type="button" id="caseExportNextHearing" style="cursor:pointer;" class="btn btn-primary pull-right">Export To Excel</button>
                    </div>
                </div>
            </div>
            <div class="modal-body  partynamebody " id="" style="height:425px; overflow-y:scroll;background:white;">
                
                <table class="table-panel">
                    <thead>
                        <tr>
                            <th><div class="thbg">Court</div></th>
                            <th><div class="thbg">Sub Court</div></th>
                            <th><div class="thbg">Court Complex </div></th>
                            <th><div class="thbg">Matter</div></th>
                            <th><div class="thbg"> Case No</div></th>
                            <th><div class="thbg">Contested/Non Contested</div></th>
                            <th><div class="thbg">Location</div></th>
                            <th><div class="thbg">Department</div></th>
                            <th><div class="thbg">Next Hearing</div></th>
                            <th><div class="thbg">Matter Filing Date</div></th>
                        </tr>
                    </thead>
                    <tbody id="bindcourtname"></tbody>

                </table>
            </div>
        </div>
    </div>
</div>



<div id="myOverlay" class="overlay2">

</div>

<div id="myOverlayDashboard" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>


