@{
    Layout = null;
}
<script>
    var filesize=@ViewBag.filesize
</script>
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Firm/Pages/ConfigMessage.js?2.1"></script>
<script src="~/Manupanel/ckeditor/ckeditor.js"></script>
<script src="~/Manupanel/ckeditor/samples/js/sample.js"></script>
<script src="~/Content/multipleselect/selectize.js"></script>
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<style>
    .selectize-control {
        margin: 0 0 6px 0 !important;
    }

    .selectize-input {
        width: 100% !important;
        MARGIN: 0;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow: none !important;
    }
</style>
<div class="modal-header btn-primary">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        Forward Message
    </h4>
</div>
<div class="modal-body ">
    <section class="content-header">
    </section>
    <section class="content">
        <div id="page-wrapper">
            <!-- Main content -->
            <form id="savemessageform" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label ">To: <span class="required" aria-required="true">*</span> </label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("select-user", new SelectList(ViewBag.Fruits, "val", "label"), "Please select", new { @id = "select-user", @class = "demodefault ", @multiple = "multiple" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label ">Client</label>
                    </div>
                    <div class="col-md-10">
                        <select name="contact" class="form-control" id="contact">
                            <option value="" selected>Select Client...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Matter: </label>
                    </div>
                    <div class="col-md-10">
                        <select name="matter" class="form-control" id="matter">
                            <option value=""> Select </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Subject: <span class="required" aria-required="true">*</span></label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="subject" type="text" id="subject" placeholder="Add Subject" required />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label ">Message:</label>
                    </div>
                    <div class="col-md-10">
                        <br>
                        <textarea ID="details" cols="15"></textarea>
                        <div class="grid-container" style="display:none">
                            <div id="editor">
                            </div>
                            <script>
                                CKEDITOR.replace('details', {
                                    toolbar:
                                        [
                                            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'justify', 'JustifyLeft', 'JustifyCenter', 'JustifyRight'] },
                                            { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
                                            { name: 'tools', items: ['Maximize'] },
                                            { name: 'styles', items: ['Styles', 'format', 'Font', 'FontSize'] },
                                            { name: 'colors', items: ['TextColor', 'BGColor'] },
                                            { name: 'links', items: ['Link', 'Unlink', 'Anchor'] }
                                        ],
                                    height: 80,
                                });
                            </script>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Attachment:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" name="postedFile" id="postedFile" type="file" multiple placeholder="Add description..." />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-footer">
                            <button type="submit" id="savecall" class="sbtbtn save" value="Send">Send</button>
                            <button type="button" id="closemodels" class="sbtbtn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<script>
    $('#select-user').selectize({
        //maxItems: 3
    });
</script>
<script>
    CKEDITOR.instances['details'].setData(localStorage.getItem("details"));
    $("#subject").val("Fwd: " + localStorage.getItem("subject"));
</script>
