@{
    Layout = null;
    var role = Session["sessionroleid"];
}
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    var id = "@ViewBag.id";
    var filesize =@ViewBag.filesize;
    var roleid = "@role";
</script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Manupanel/jquerydatetimepicker/jquery.datetimepicker.js"></script>
<script src="~/Content/multipleselect/selectize.js"></script>
<script src="~/Content/multipleselect/index.js"></script>
<link href="~/Content/multipleselect/dist/css/selectize.bootstrap2.css" rel="stylesheet" />
<link href="~/Content/multipleselect/dist/css/jquery.magicsearch.min.css" rel="stylesheet" />
<script src="~/Scripts/Firm/Pages/SaveDataCustomActivity.js"></script>
<div class="modal-header btn-primary">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        @ViewBag.activityname
    </h4>
</div>
<style>
    .selectize-dropdown {
        position: unset !important;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }

    .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
        margin: 0;
    }

    .zyx span {
        text-transform: capitalize;
        padding: 0 5px 0 0;
    }

    .radio-inline, .checkbox-inline {
        display: block !important;
        padding-left: 0 !important;
    }
</style>
<div class="modal-body " style="height:500px; overflow-y:scroll;">
    <!-- Main content -->
    <form id="savecustomform" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Linked to</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-4"><b>Subject</b> <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-8">
                            <input class="form-control" name="subject" type="text" id="subject" placeholder="Add Subject..." required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-4"><b>Client</b> </label>
                        <div class="col-md-8">
                            <select name="contact" class="form-control" id="contact">
                                <option value="" selected>Select Client...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-4"><b>Case</b></label>
                        <div class="col-md-8">
                            <select name="matter" class="form-control" id="case">
                                <option value="">Select Case...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-md-4"><b>Assigned to</b> <span class="required" aria-required="true">*</span></label>
                        <div class="col-md-8">
                            @Html.DropDownList("select-user", new SelectList(ViewBag.Fruits, "val", "label"), "Select", new { @id = "select-user", @class = "demodefault ", @multiple = "multiple" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Custom Fields</legend>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-12" id="content">
                            </div>
                            <div class="col-lg-12" id="contenterrormsg">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row" " >
            <div class="col-md-12">
                <div class="form-actions hidden-print">
                    <div class="btn-group">
                        <div class="modal-footer">
                            <input type="submit" id="savetask" class="btn save" value="save">
                            <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>
<script>
    $('#select-user').selectize({
        //maxItems: 3
    });
</script>