@{
    ViewBag.Title = "SearchFirm";
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<script src="~/CssJsfiles/js/3.3.1/jquery.min.js"></script>
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script>
    function redirecturl() {
        var droworkflow = $("#drpworkflow").val();
        var fcode = localStorage.getItem("FirmCode");
        var url = '/' + fcode + '/Firm/WorkFlowNApplyRequest?wid=' + droworkflow;
        window.open(url, '_self');
    };
</script>
<script src="~/Scripts/Firm/Pages/SearchApplyWorkFlow.js"></script>
<aside class="right-side">
    <section class="content-header">
        <!-- Content Header (Page header) -->
        <ol class="breadcrumb">
            <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Workflow</li>
        </ol>
        <div class="heading">
            <h1><span class="glyphicon glyphicon-briefcase"></span>NEW WORKFLOW</h1>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Firm List</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">Firm <span class="required" aria-required="true">*</span></label>
                        <select name="drpfirm" class="form-control" id="drpfirm" required>
                            <option value="1">Neelesh</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="additionalContactFields form-section-secondary">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <a href="#" id="openworkflowlist" data-toggle="modal" data-target="#myModal1" ->Apply Workflow</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
<!-- Modal -->
<div id="myModal1" class="modal fade myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content mymodels" id="mymodels">
            <!-- Start About boxes -->
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Workflow1</legend>
                        <div class="form-group form-horizontal">
                            <label class="control-label col-xs-3">Action <span class="required" aria-required="true">*</span></label>
                            <select name="drpworkflow" class="form-control" id="drpworkflow" required></select>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-actions hidden-print">
                        <div class="btn-group">
                            <div class="modal-footer">
                                <input type="submit" id="btnsave" name="btnsave" class="btn save" value="Apply Workflow" onclick="redirecturl()">
                                <button type="button" id="closemodel" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>
    </div>
</div>