@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
}
<script src="~/CssJsfiles/js/2.02/jquery.min.js"></script>
<script>
    $(document).on('keypress', '#tags', function (event) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<!-- Page Content -->
<script src="~/Manupanel/pnotify/pnotify.custom.min.js"></script>
<link href="~/Manupanel/pnotify/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Manupanel/validation/screen.css" rel="stylesheet" />
<script src="~/Manupanel/validation/jquery.validate.js"></script>
<script src="~/Scripts/Firm/Pages/Settings.js"></script>
<section class="wrapper" style="margin:unset !important">
    <div class="container showcontent" id="showcontent">
        <h2 class="title">Folders/Files List<sup>new</sup></h2>
        <div class="col-md-12">
            <div class="row">
                <aside class="right-side">
                    <section class="content-header">
                        <!-- Content Header (Page header) -->
                        <ol class="breadcrumb">
                            @if (role.ToString() == "1")
                            {
                                <li><a href="/@Session["firmcode"]/firm/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                            }
                            <li class="active">Setting Page</li>
                        </ol>
                        <h1><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;&nbsp;Settings</h1>
                    </section>
                    <section class="content">
                        <div id="page-wrapper">
                            <div class="container-fluid showcontent" id="showcontent">
                                <div class="box">
                                    <div class="box-header" style="padding:5px;">
                                        <ul class="btn_panel no-margin pull-right" style="padding:0;" id="sectiontemp"></ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Main content -->
                            <form id="savecallform" enctype="multipart/form-data">
                                <!-- Start About boxes -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <legend>Azure Connection:</legend>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Storage Name</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="contact" placeholder="Azure Storage Name" class="form-control" id="storagename">
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal">
                                                <label class="control-label col-md-3">Storage Key</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="contact" placeholder="Azure Storage Key" class="form-control" id="connection">
                                                </div>
                                            </div>
                                            <div class="form-group form-horizontal" style="margin-top:10px;">
                                                <label class="control-label col-md-3">Set Default</label>
                                                <div class="col-md-9">
                                                    <label class="switch">
                                                        <input type="checkbox" id="default" name="default" value="true">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-footer">
                                            <input type="button" id="savesettings" class="btn save" value="save">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.content -->
                            </form>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
