<script>
                    $(document).ready(function () {
                        var pathArray = window.location.pathname.split('/');
                        var segment_1 = pathArray[1];
                        var fcode = localStorage.setItem("FirmCode", segment_1);
                     @{
                         var t = "ok";
                     }
                         var fcode = localStorage.getItem("FirmCode");
                         localStorage.getItem("FirmCode");
                    @t=fcode;
                        var html = ''
                        html += '<li id="adashboard" > <a href="/' + fcode + '/Firm/dashboard"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a> </li>'
                        html += '<li id="aprofile"><a href="/' + fcode + '/Firm/UserProfile"><i class="ion ion-person-add" area-hidden="true"></i>Profile</a></li>'
                        html += '<li id="acontacts"  class="treeview">'
                        html += '<a   href="#"> <i class="fa fa-user"></i> <span>Contact</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Firm/ConfigContact/contact"><i class="fa fa-angle-double-right"></i> Add Contact</a></li>'
                        html += '<li><a href="/' + fcode + '/Firm/vcontact/contact"><i class="fa fa-angle-double-right"></i> Contact List</a></li>'
                        html += '<li><a href="/' + fcode + '/Firm/Favcontact"><i class="fa fa-angle-double-right"></i> Favourite List</a></li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="alead" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-users"></i> <span>Prospect / Client</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Firm/CreateLead"><i class="fa fa-angle-double-right"></i> Add Prospect</a></li>'
                        html += '<li><a href="/' + fcode + '/Firm/ViewLead"><i class="fa fa-angle-double-right"></i> Prospect List</a></li>'
                        html += '<li><a href="/' + fcode + '/Firm/ClientList"> <i class="fa fa-angle-double-right"></i> <span>Client List</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="amessage" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> <span>Message</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/ReceiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Inbox </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Firm/composemessage"> <i class="fa fa-angle-double-right"></i> <span>Compose</span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Firm/ConfigMessageList"> <i class="fa fa-angle-double-right"></i> <span>Sent </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Firm/ArchiveMessageList"> <i class="fa fa-angle-double-right"></i> <span>Archive </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Firm/DraftMessageList"> <i class="fa fa-angle-double-right"></i> <span>Draft </span> </a> </li>'
                        html += '<li  > <a  href="/' + fcode + '/Firm/Mailbox"> <i class="fa fa-angle-double-right"></i> <span>Mail Box </span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="amatter" class="treeview">'
                        html += '<a href="#"> <i class="glyphicon glyphicon-briefcase"></i> <span>Cases</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Firm/Configmatter/matter"><i class="fa fa-angle-double-right"></i> Add Case</a></li>'
                        html += '<li><a href="/' + fcode + '/Firm/vmatter/matter"><i class="fa fa-angle-double-right"></i> Case List</a></li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="afile" class="treeview">'
						 html += '<a href="#"> <i class="glyphicon glyphicon-folder-open"></i> <span>File Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li><a href="/' + fcode + '/Firm/DirectoryList/0"><i class="fa fa-angle-double-right"></i>Folders/Files</a></li>'
                        html += '<li><a href="/' + fcode + '/Employee/AssignUserFileList"><i class="fa fa-angle-double-right"></i>Assign Files </a></li>'
                        html += '<li> <a href="/' + fcode + '/Firm/ocr"> <i class="fa fa-angle-double-right"></i>OCR Files </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li  id="acalendar" > <a  href="/' + fcode + '/Firm/calender"> <i class="fa fa-calendar"></i> <span>Calendar</span> </a> </li>'
                        html += '<li  id="aactivities" > <a href="/' + fcode + '/Firm/activities/"> <i class="glyphicon glyphicon-th-list"></i> <span>Activities</span> </a> </li>'
                        html += '<li class="treeview">'
                        html += '<li id="atimeentry" class="treeview">'
                        html += '<a href="#"> <i class="glyphicon glyphicon-time"></i> <span>Time Entry</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/ViewTimer"> <i class="fa fa-angle-double-right"></i> <span>Time Entry List</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li id="aknowledge" class="treeview">'
                        html += '<a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> <span>Knowledge Management</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/AddContent"> <i class="fa fa-angle-double-right"></i> <span>Add</span> </a> </li>'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/ViewKnowledge"> <i class="fa fa-angle-double-right"></i> <span>View</span> </a> </li>'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/ViewKnowledgeFav"> <i class="fa fa-angle-double-right"></i> <span>My Favourite Content</span> </a> </li>'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/KnowledgeRight"> <i class="fa fa-angle-double-right"></i> <span>Content Permission</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        html += '<li  id="manusubs" > <a  href="/' + fcode + '/Firm/NewsArticle"> <i class="fa fa-rss-square" aria-hidden="true"></i> <span>News & Article</span> </a> </li>'
                        html += '<li id="areport" class="treeview">'
                        html += '<a href="#"> <span class="fa fa-list-alt" ></span> <span> Reports</span> <i class="fa fa-angle-left pull-right"></i> </a>'
                        html += '<ul class="treeview-menu">'
                        html += '<li class=""> <a href="/' + fcode + '/Firm/ActivityReport"> <i class="fa fa-angle-double-right"></i> <span>Activity Report</span> </a> </li>'
                        html += '</ul>'
                        html += '</li>'
                        document.getElementById("sidemenu").innerHTML = html;
                    });
</script>
<script>
    var pagename;
    $(document).ready(function () {
        var pagename1 = location.pathname.split('/');
        var pagename = pagename1[3];
        if (pagename == "dashboard") {
            $("#adashboard").addClass("active");
        }
        if (pagename == "UserProfile") {
            $("#aprofile").addClass("active");
        }
        if (pagename == "ConfigContact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "vcontact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "Favcontact") {
            $("#acontacts").addClass("active");
        }
        if (pagename == "Configmatter") {
            $("#amatter").addClass("active");
        }
        if (pagename == "vmatter") {
            $("#amatter").addClass("active");
        }
        if (pagename == "DirectoryList") {
            $("#afile").addClass("active");
        }
        if (pagename == "AssignUserFileList") {
            $("#afile").addClass("active");
        }
        if (pagename == "RemoveFileRequest") {
            $("#afile").addClass("active");
        }
        if (pagename == "ocr") {
            $("#afile").addClass("active");
        }
        if (pagename == "calender") {
            $("#acalendar").addClass("active");
        }
        if (pagename == "activities") {
            $("#aactivities").addClass("active");
        }
        if (pagename == "CreateCustomForm") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "ViewCustomForm") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "ViewArchieveCustomForm") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "CreateLead") {
            $("#alead").addClass("active");
        }
        if (pagename == "ViewLead") {
            $("#alead").addClass("active");
        }
        if (pagename == "WorkFlowN") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "WorkFlowNUserActivity") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "WorkFlowReport") {
            $("#aworkflow").addClass("active");
        }
        if (pagename == "CreateUser") {
            $("#usermgmt").addClass("active");
        }
        if (pagename == "UserList") {
            $("#usermgmt").addClass("active");
        }
        if (pagename == "ClientList") {
            $("#alead").addClass("active");
        }
        if (pagename == "ViewTimer") {
            $("#atimeentry").addClass("active");
        }
        if (pagename == "composemessage") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ReceiveMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ConfigMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "ArchiveMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "DraftMessageList") {
            $("#amessage").addClass("active");
        }
        if (pagename == "Mailbox") {
            $("#amessage").addClass("active");
        }
        if (pagename == "AddContent") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "ViewKnowledge") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "ViewKnowledgeFav") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "KnowledgeRight") {
            $("#aknowledge").addClass("active");
        }
        if (pagename == "manupatrasubscription") {
            $("#manusubs").addClass("active");
        }
        if (pagename == "CreateInvoice") {
            $("#invoice").addClass("active");
        }
        if (pagename == "ViewInvoice") {
            $("#invoice").addClass("active");
        }
        if (pagename == "InvoiceSetting") {
            $("#invoice").addClass("active");
        }
        if (pagename == "CreateTax") {
            $("#invoice").addClass("active");
        }
        if (pagename == "CreateInvoiceSeries") {
            $("#invoice").addClass("active");
        }
        if (pagename == "ActivityReport") {
            $("#areport").addClass("active");
        }
    });
</script>