@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<!DOCTYPE html>
<script>
    var timeid = "@ViewBag.timeid";
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeEntrySingleView</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
