@{
    /**/
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
    else if (role.ToString() == "3")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialClient.cshtml";
    }
    var userid = Session["sessionuserid"];
}
<style>
    label {
        margin: 10px 0 10px 0;
        padding: 0;
        color: #020202;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        float: left;
    }
</style>
<script src="~/Scripts/Firm/Pages/Translator.js?2.4"></script>
<section class="wrapper" style="margin:unset !important">
    <div class="container-main" id="showcontent">
        <h2 class="title">Translator </h2>
        <div class="ec_bg" style="background:#ebebeb;">
            <div class="row">
                <div class="col-md-5">
                    <div>
                        <label>Select Source language</label>
                        <select id="sourcelanguage" class="form-control selctInputFormat" style="float: left;width: 60%;margin: 4px 0 0 10px !important; background-color: white !important;">
                            <option value="">Select</option>
                            <option value="en" selected="">English</option>
                            <option value="hi">Hindi</option>
                            <option value="bn">Bengali</option>
                            <option value="gu">Gujarati</option>
                            <option value="kn">Kannada</option>
                            <option value="ml">Malayalam</option>
                            <option value="mr">Marathi</option>
                            <option value="or">Odia (Oriya)</option>
                            <option value="pa">Punjabi</option>
                            <option value="ta">Tamil</option>
                            <option value="te">Telugu</option>
                            <option value="ur">Urdu</option>
                            <option value="fr">French</option>
                            <option value="ja">Japanese</option>
                            <option value="es">Spanish</option>
                            <option value="ru">Russian</option>
                            <option value="de">German</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <i class="fa fa-exchange" id="swaplanguage" style="font-size: 15px;color: #fff;cursor:pointer;background: #6194D7;border-radius: 50%;display: inline-block;padding: 6px;margin: 7px 0 0 0;" title="Swap the language"></i>
                </div>
                <div class="col-md-5">
                    <div>
                        <label>Select Output language</label>
                        <select id="targetlanguage" class="form-control selctInputFormat" style="float: left;width: 60%;margin: 4px 0 0 10px !important; background-color: white !important;">
                            <option value="">Select</option>
                            <option value="en">English</option>
                            <option value="hi">Hindi</option>
                            <option value="bn">Bengali</option>
                            <option value="gu">Gujarati</option>
                            <option value="kn">Kannada</option>
                            <option value="ml">Malayalam</option>
                            <option value="mr">Marathi</option>
                            <option value="or">Odia (Oriya)</option>
                            <option value="pa">Punjabi</option>
                            <option value="ta">Tamil</option>
                            <option value="te">Telugu</option>
                            <option value="ur">Urdu</option>
                            <option value="fr">French</option>
                            <option value="ja">Japanese</option>
                            <option value="es">Spanish</option>
                            <option value="ru">Russian</option>
                            <option value="de">German</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:10px 0 0 0;">
                <div class="col-md-6">
                    <div>
                        <textarea id="sourcetext" placeholder="Enter Source Text Data" style="height: 210px !important; padding:10px !important; width:100%;resize: none;border-radius: 8px !important;border: none; background-color: white !important;"></textarea>
                        <span class="glyphicon glyphicon-remove" id="clearnewsearchtranslate" title="Click here to reset search" style="display:none;float: right;margin-top: -209px; cursor:pointer;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <textarea id="outputtext" placeholder="Output Text" style="height: 210px !important;padding:10px !important; width:100%;resize: none;border-radius: 8px !important;border: none; background-color: white !important;"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" style="padding:20px 0 0 0;">
                <div class="col-md-12"><span><button type="button" class="sbtbtn pull-right" id="cmdbutton" title="Translate Text" style="margin-top:-8px;">Translate</button></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <p>
                    <span style="font-weight:bold">Note:</span> Translations which you request are provided by Google Translate.
                </p>
                <p>
                    myKase is not responsible for (and makes no warranty with respect to) the accuracy, adequacy, reliability or completeness of any translations and disclaims all liability, loss and damage of any nature arising in connection with translations. By use of this feature to obtain a translation you confirm your agreement to the foregoing.
                </p>
            </div>
        </div>
    </div>
</section>
                </div>
            </div>
    </div>
</section>
<div id="myOverlay" class="overlay">
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>