
@{
    Layout = null;
    var role = Session["sessionroleid"];
}

<script src="~/Scripts/Firm/Pages/UserReport.js?1.7"></script>
<script>
    var roleids = "@Session["sessionroleid"]";
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
<style>


    a.morelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span {
        display: none;
    }

    a.morelink, a.imorelink, a.dmorelink, a.omorelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span, .imorecontent span, .dmorecontent span, .omorecontent span {
        display: none;
    }
</style>
<section class="wrapper">
    <div class="ec_bg">
    <div class="row">
        <div class="col-md-3">
            <label class="formLabel colorDark">User Type</label>
            <select id="rptusertype" class="form-control selctInputFormat" style="background-color: white !important;">
                <option value="" selected>Select</option>
                <option value="0">User</option>
                <option value="1">Partner</option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="formLabel colorDark">Designation</label>
            <select id="userdesignation" class="form-control selctInputFormat" style="background-color: white !important;" required autocomplete="new-text">
                <option value="" selected="">Select</option>
            </select>

        </div>
        <div class="col-md-3">
            <label class="formLabel colorDark">Branch</label>
            <select id="userbranch" class="form-control selctInputFormat" style="background-color: white !important;">
                <option value="" selected="">Select</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="formLabel colorDark">Department</label>
            <select id="userdepartment" class="form-control selctInputFormat" style="background-color: white !important;">
                <option value="" selected="">Select</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="formLabel colorDark">Status</label>
            <select id="userfilterStatus" class="form-control selctInputFormat" style="background-color: white !important;">
                <option value="" selected="">Select</option>
                <option value="1">Enable</option>
                <option value="0">Disable</option>

            </select>
        </div>
        <div class="col-md-3">
            <label class="formLabel colorDark">Start</label>
            <input class="form-control inputFormat" id="searchfrom" onkeypress="return false;" type="date">
        </div>
        <div class="col-md-3">
            <label class="formLabel colorDark">End</label>
            <input class="form-control inputFormat" id="searchto" onkeypress="return false;" type="date">
        </div>
        <div class="col-md-3">
            <button type="button" id="searchdatas" class="sbtbtn" style="margin:27px 0 0 0;">Search</button>
        </div>


    </div>
</div>

</section>


<div id="updatePanel" class="table-panel table-responsive" style="overflow: auto;">

</div>

<div><center><span id="datastatus"></span></center></div>
<div class="table-panel">
    <div class="settingpanel">
        <div class="col-md-6">

            <div style="float: left;padding: 0 10px 0 0;">
                <ul>
                    <li>
                        <div class="btn-group dropup">
                            <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important; margin-top: -3px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog" style="font-size:16px;color:#4d95dd;padding:0 5px 0 0 "></span>
                                customize field 
                            </a>
                            <ul class="dropdown-menu settingshowhide" id="od">
                                <li><input type="checkbox" class="shcheckbox1" name="cname" checked><a href="#" class="small" data-value="option1" tabIndex="-1"> User Name</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="username" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Login UserName</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="email" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Email</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="mobile" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Mobile</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="date_time" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Date</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="status1" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Status</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="barno"><a href="#" class="small" data-value="option2" tabIndex="-1">Bar Registration No.</a></li>


                                <li><input type="checkbox" class="shcheckbox1" name="address"><a href="#" class="small" data-value="option2" tabIndex="-1">Address</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="city"><a href="#" class="small" data-value="option2" tabIndex="-1">City</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="state"><a href="#" class="small" data-value="option2" tabIndex="-1">State</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="country"><a href="#" class="small" data-value="option2" tabIndex="-1">Country</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="landline"><a href="#" class="small" data-value="option2" tabIndex="-1">Landline</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="CreatedBy"><a href="#" class="small" data-value="option2" tabIndex="-1">Created by</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="designation"><a href="#" class="small" data-value="option2" tabIndex="-1">Designation</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="department"><a href="#" class="small" data-value="option2" tabIndex="-1">Department</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="branch"><a href="#" class="small" data-value="option2" tabIndex="-1">Branch</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="utype" checked><a href="#" class="small" data-value="option2" tabIndex="-1">User Type</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="rmanager"><a href="#" class="small" data-value="option2" tabIndex="-1">Reporting Manager</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="qualification"><a href="#" class="small" data-value="option2" tabIndex="-1">Qualification</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="pqe"><a href="#" class="small" data-value="option2" tabIndex="-1">PQE</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="firmexperience"><a href="#" class="small" data-value="option2" tabIndex="-1">Firm Experience</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="areaofexpertise"><a href="#" class="small" data-value="option2" tabIndex="-1">Areas of Expertise</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="ppartner" checked><a href="#" class="small" data-value="option2" tabIndex="-1">Parent Partner</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="hrate"><a href="#" class="small" data-value="option2" tabIndex="-1">Rate/Hr</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="empcode"><a href="#" class="small" data-value="option2" tabIndex="-1">Employee Code</a></li>

                                <li><input type="checkbox" class="shcheckbox1" name="extention"><a href="#" class="small" data-value="option2" tabIndex="-1">Extension</a></li>
                                <li><input type="checkbox" class="shcheckbox1" name="odetails"><a href="#" class="small" data-value="option2" tabIndex="-1">OtherDetails</a></li>


                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="tfooter">

            </div>
        </div>
        <div class="col-md-6">
            <ul class="pull-right">

                @if (role.ToString() == "1")
                {


                    <li>
                        <a href="javascript:void()" class="sbtbtn" style="display:none;" id="linkuser" title="Create New User">
                            New User
                        </a>
                    </li>

                }
                else
                {
                    if (Convert.ToInt32(ViewBag.IsCreate) == 1)

                    {



                        <li>
                            <a href="javascript:void()"style="display:none;" class="sbtbn" id="linkuser" title="Create New User">
                                New User
                            </a>
                        </li>


                    }
                }


                <li><span>|</span></li>
                <li>
                    <div class="btn-group dropup" style="display:none">
                        <a href="javascript:void()" class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action Selected 
                        </a>


                        <ul class="dropdown-menu settingaction" style="display:none;">

                            <input type="text" placeholder="Search.." id="searchdata">
                            <button type="button" class="form-control" id="searchdatas" />Search</button>

                            <p>
                                <label>Status</label>
                                <select id="le" class="form-control" onchange="filterFunctionstatus()">
                                    <option value="" selected>Select All</option>

                                    <option value="Enabled">Enabled</option>
                                    <option value="Disabled">Disabled</option>

                                </select>
                            </p>


                            <p>
                                <label style="color:white">...</label>
                            </p>



                        </ul>
                    </div>



                </li>


                <li>
                    <div class="btn-group dropup">
                        <a href="javascript:void()"  class="dropdown-toggle form-control selctInputFormat " style="background-color: #ebebeb !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action Selected 
                        </a>


                        <ul class="dropdown-menu settingaction">


                            @if (role.ToString() == "1")
                            {


                                <li>
                                    <a href="javascript:void()" id="oexcel" title="export to excel">export to excel</a>

                                </li>

                                <li>
                                    <a href="javascript:void()" id="opdf" title="export to pdf">export to pdf</a>

                                </li>


                            }
                            else
                            {
                                if (Convert.ToInt32(ViewBag.export) == 1)

                                {



                                    <li>
                                        <a href="javascript:void()" id="oexcel" title="export to excel">export to excel</a>

                                    </li>

                                    <li>
                                        <a href="javascript:void()" id="opdf" title="export to pdf">export to pdf</a>

                                    </li>

                                }
                            }


                            <li style="display:none;"><a href="javascript:void()" id="syncrqstothers" title="Save data sync request">Save data sync request</a></li>


                           




                        </ul>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</div>
<script>
    function sortTable(n, type = null) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("example");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (type == "1") {
                    if (dir == "asc") {
                        if (new Date(x.innerHTML.toLowerCase()) > new Date(y.innerHTML.toLowerCase())) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (new Date(x.innerHTML.toLowerCase()) < new Date(y.innerHTML.toLowerCase())) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                else if (type == "2") {
                    if (dir == "asc") {
                        if (parseFloat(x.innerHTML.toLowerCase()) > parseFloat(y.innerHTML.toLowerCase())) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (parseFloat(x.innerHTML.toLowerCase()) < parseFloat(y.innerHTML.toLowerCase())) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                else {
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<div id="myOverlay" class="overlay">
    @*//<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>*@
    <div class="overlay-content">
        <div class="spinner2">
            <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
        </div>
    </div>
</div>
<style>
    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        color: white;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: white;
    }

        .overlay .closebtn:hover {
            color: #ccc;
        }
</style>
