@{
    ViewBag.Title = "WorkFlowList";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script>
    var configurationtype = parseInt('@ViewBag.ConfType', 10);
    var Uid = '@ViewBag.Id';
</script>
<script src="~/Scripts/Firm/Pages/CustomFields.js"></script>
<script src="~/Scripts/Firm/Pages/WorkList.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i>  @ViewBag.Header Work Flow List
            </h3>
        </div>
    </div>
    <div class="form-section">
        <nav class="navbar" style="background: #ffffff; float:right;">
            <a href="#" id="btnAddNew" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Add New </a>
        </nav>
    </div>
    <div class="form-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="grvList" class="grvList table table-bordered table-striped table-hover" width="100%">
                                <thead>
                                    <tr class="info"></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="attachfield" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Attach With</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="divConfList" class="form-control" style="padding:25px 0px;min-height:1px;">
                    <button type="button" class="btn btn-success" id="btnAttach" style="float:right;">Attach New</button>
                    <div class="table-responsive" id="divList">
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSelect">Select</button>
            </div>
        </div>
    </div>
</div>
