@{
    var role = Session["sessionroleid"];
    if (role.ToString() == "1")
    {
        Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
    }
    else if (role.ToString() == "2")
    {
        Layout = "~/Views/Shared/_ManuPanelPartialUser.cshtml";
    }
}
<script src="~/Scripts/Firm/Pages/WorkTransfer.js?1.2"></script>
<style>
    .ms-options-wrap {
        border-radius: 5px;
    }

    .content2 {
        align-self: stretch;
        /*display: flex;*/
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px 14px 0px;
        gap: 16px;
    }
</style>
<section id="header">
    <div class="container-main">
        <div class="text-left">
            <p class="ctitle"> Work Transfer</p>
        </div>
    </div>
</section>
<section style="margin:20px 0;">
    <div class="container-main">
        
        <form class="" id="savemultipleaddress" style="overflow: inherit;">
            <div class="row">
                <div class="col-md-3">
                    <label>From User<span aria-required="true">*</span> </label>
                    <select id="FromWorkUser" name="FromWorkUser" class="form-control selctInputFormat"></select>
                </div>
                <div class="col-md-3" id="Propectdiv">
                    <label>Matter<span aria-required="true">*</span> </label>
                    <select name="languageSelect[]" multiple id="WorkMattertransfer" class="form-control selctInputFormat"></select>
                    <div class="form-group" id="casemoreoptiondiv" style="display:none;">
                        <p class="fa fa-plus" style="cursor:pointer;padding:1px 0 0 0;margin: 34px 210px 0 -19px; color:blue;" id="casemoreoption" title="View more matters"></p>
                    </div>
                </div>

                <div class="col-md-3" id="Propectdiv">
                    <label>To User<span aria-required="true">*</span> </label>
                    <select class="form-control selctInputFormat" id="ToWorkUser"></select>
                </div>
                <div class="col-md-3" style="margin-top:22px;">
                    <button type="button" class="btn btn-primary" id="saveworkexchange" style="width:38%">Transfer Matter</button>
                </div>
            </div>
        </form>
            <input type="hidden" id="hiddenAddIt">
        
    </div>
</section>
<section id="table">
    <div class="container-main">
        <div class="table">
            <div class="card-header">
                <div class="content1000">
                    <div class="table-header">
                        <div class="text-and-supporting-text1">
                            <h4>Transfer List</h4>
                        </div>
                        <div class="actions3" style="position:relative;">
                            <div class="dropdown-toggle button13" id="" type="button" data-toggle="dropdown" title="Export">
                                <img class="plus-icon" alt="" src="/newassets/img/upload-icon.png">

                                <div class="text-padding">
                                    <div class="text1"><a href="javascript:void()"> Export</a></div>
                                </div>
                            </div>
                            <ul class="dropdown-menu action-more" role="menu" aria-labelledby="menuexport">
                                <li>
                                    <div id="oexcel" title="Export to Excel"><span style="padding: 0 5px 0 0;"><img src="/newassets/img/exportexl-icon.png"></span> Export to Excel</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tablearea">
                <div class="tablecontainer" id="home">
                     <table class="table-panel" id="ClientAddress">
                            <thead>
                                <tr>
                                    <th class="eSlNo"><div class="thbg">SL No.</div></th>
                                    <th class="eType"><div class="thbg"> <select id="FilterFromWorkUser" name="FilterFromWorkUser" class=" dropdown-toggle form-control"></select></div></th>
                                    <th class="eClient"><div class="thbg"><select class="form-control" id="FilterToWorkUser"></select> </div></th>
                                    <th class="casecasename">
                                        <div class="thbg">
                                            <div style="float:left;width:80%">
                                                <input type="text" id="casefiltercasename" placeholder="Matter Name" class="form-control pull-left" style="width:120px;">
                                            </div>
                                            <div style="float:left;width:20%">
                                                <span class="glyphicon glyphicon-search" id="searchdatas" style="margin:5px 0 0 -14px;float:right"></span>
                                                <span class="" id="clearnewsearchcase" title="Click here to reset search" style="display:none;font-size:15px;color:black:font-weight:350;cursor:pointer;">x</span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="eContact"><div class="thbg">Created by</div></th>
                                    <th class="eAddress"><div class="thbg">Transfer Date</div></th>
                                </tr>
                            </thead>
                            <tbody id="bindClientAddress"></tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                     <div id="notfound" style="text-align:center;display:none"></div>
                </div>
            </div>
            <div class="pagination" id="pagenatedArea">
                <div class="pagination-button-group">
                    <div id="prev" class="pagination-button-group-base">
                        <img class="arrow-left-icon" alt="" src="/newassets/img/pre-arrow.png" style="width:16px; height:16px;">
                        <div class="text" style="float:right; padding:0 0 0 8px;">Previous</div>
                    </div>
                    <div id="pageNumbers" class="pagination-button-group-base1">
                        @*<div class="text">a</div>*@
                        @*<span id="pageNumbers" class="pages"></span>*@
                    </div>

                    <div id="next" class="pagination-button-group-base8">
                        <div class="text" style="float: left;padding: 0 8px 0 0px;">Next</div>
                        <img style="float: right; width: 16px; height: 16px;" class="arrow-left-icon" alt="" src="/newassets/img/next-arrow.png" />

                    </div>
                </div>
                <div class="text-and-supporting-text-parent">
                    <div class="input">
                        <div class="content">
                            <input type="text" id="txtgopage" name="query" placeholder="Page No.">
                        </div>
                        <div class="help-icon">
                        </div>
                    </div>
                    <div class="text-and-supporting-text-group">
                        <div class="text-and-supporting-text">
                            <div id="divGo" class="text9">Go</div>
                        </div>
                        <img class="chevron-down-icon" alt="" src="~/newassets/img/next-arrow.png" style="width:16px; height:16px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


        <div id="myOverlay" class="overlay">
            <div class="overlay-content">
                <div class="spinner2">
                    <div><img src="~/newassets/images/MyKase_Loader.gif" height="59" width="150"></div>
                </div>
            </div>
        </div>
        <style>
            .overlay {
                height: 100%;
                width: 100%;
                display: none;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0, 0.4);
            }

            .overlay-content {
                position: relative;
                top: 46%;
                width: 80%;
                text-align: center;
                margin-top: 30px;
                margin: auto;
                color: white;
            }

            .overlay .closebtn {
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
                cursor: pointer;
                color: white;
            }

                .overlay .closebtn:hover {
                    color: #ccc;
                }
        </style>
