@{
    ViewBag.Title = "WorkFlowNList";
    Layout = "~/Views/Shared/_ManuPanelPartial.cshtml";
}
<script src="~/Scripts/Firm/Pages/WorkFlowNList.js" type="text/javascript"></script>
<link href="~/panelDesign/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="~/panelDesign/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
<aside class="right-side">
    <section class="content-header">
        <h2>Workflow List</h2>
        <form>
            <div id="wfdata"></div>
        </form>
    </section>
</aside>