@{
    Layout = null;
}
<script>
    function Redirect(strid) {
        if (strid.value == "1") {
            loadform();
        }
        else if (strid.value == "2") {
            $('#myModal').modal('hide');
            var url = "/firm/WorkFlowNewTask";
            $('.mymodels').load(url, function (result) {
                $('#myModal1').modal({ show: true });
            });
        }
    }
</script>
<div class="modal-header btn-primary">
    <button type="button" id="closemodel" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        Form
    </h4>
</div>
<div class="modal-body ">
    <!-- Main content -->
    <form id="savestage1form" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Form</legend>
                    <div class="form-group form-horizontal">
                        <label>Type</label><span class="required" aria-required="true" style="color:red"><b>*</b></span>
                        <select name="drptype" class="form-control" id="drptype" onchange="Redirect(this)">
                            <option value="0">Select ...</option>
                            <option value="1">Form</option>
                            <option value="2">Task</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>