@{
    ViewBag.Title = "WorkFlow";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script src="~/Scripts/Plugin/fabric.js"></script>
<script>
     var configurationtype = parseInt('@ViewBag.ConfType',10);
    var Id = '@ViewBag.Id';
</script>
<script src="~/Scripts/Firm/Pages/WorkFlow.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> @ViewBag.Header WorkFlow <input class="textinput borderless" id="txtWFName" pattern="^[a-zA-Z]{1}[a-z0-9A-Z\.]{2,10}$" name="" placeholder="WorkFlow Name" type="text" value="WorkFlow Name" maxlength="30" style="text-transform: capitalize;float:right;" required>
            </h3>
        </div>
    </div>
    <div class="form-section">
        <div class="sidebar">
            <ul id="uloptions">
                <li node-type="end" title="Click to add End" class="surface-droppable-node draggable">
                    <i class="icon-eye-open"></i>End
                </li>
                <li node-type="decision" title="Click to add new Decision" class="surface-droppable-node draggable" data-toggle="modal" data-target="#workflow">
                    <i class="icon-tablet"></i>Decision
                </li>
                <li node-type="status" title="Click to add new Status" class="surface-droppable-node draggable" data-toggle="modal" data-target="#workflow">
                    <i class="icon-tablet"></i>Status
                </li>
                <li node-type="output" title="Click to add new output" class="surface-droppable-node draggable" data-toggle="modal" data-target="#workflow">
                    <i class="icon-eye-open"></i>Output
                </li>
                <li node-type="connect" title="Click to connect selected" class="surface-droppable-node draggable">
                    <i class="icon-eye-open"></i>Connect
                </li>
                <li node-type="delete" title="Click to Delete selected" class="surface-droppable-node draggable">
                    <i class="icon-tablet"></i>Delete
                </li>
            </ul>
        </div>
        <div class="drawbar" style="overflow:auto;">
            <canvas id="canvas" style="overflow:auto;"></canvas>
        </div>
        <div class="form-section" id="divActions">
            <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: normal;">
                <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button>
                <button id="btnPublish" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish </button>
                <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
            </nav>
        </div>
    </div>
</div>
<div class="modal" id="workflow" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span id="spnTitle" style="text-transform: capitalize"></span></h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <label for="txtTitle" class="col-md-4 control-label">Title<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <input class="col-md-8 textinput" data-val="true" id="txtTitle" />
                </div>
                <div class="row" id="divEvent">
                    <label for="txtTitle" class="col-md-4 control-label">Event/Action<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <select class="col-md-8 textinput" id="ddlEvent"></select>
                </div>
                <div class="row" id="divAssigned">
                    <label for="txtTitle" class="col-md-4 control-label">Assign To<i class="fa fa-star" aria-hidden="true"></i></label>:
                    <select class="col-md-8 textinput" id="ddlAssign"></select>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnAdd">Add</button>
            </div>
        </div>
    </div>
</div>