@{
    Layout = null;
}
<script src="~/Scripts/Firm/Pages/SearchApplyWorkFlow.js"></script>
<div class="modal-header btn-primary">
    <button type="button" id="closemodel" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        Apply Workflow
    </h4>
</div>
<div class="modal-body ">
    <!-- Main content -->
    <form id="applywfform" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Workflow</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">Action <span class="required" aria-required="true">*</span></label>
                        <select name="drpworkflow" class="form-control" id="drpworkflow" required>
                        </select>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions hidden-print">
                    <div class="btn-group">
                        <div class="modal-footer">
                            <input type="submit" id="btnsave" class="btn save" value="Apply Workflow">
                            <button type="button" id="closemodel" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>
