@{
    Layout = null;
}
<script src="~/Scripts/Firm/Pages/WorkFlowNewForm.js"></script>
<div class="modal-header btn-primary">
    <button type="button" id="closemodel" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        Stage 1
    </h4>
</div>
<div class="modal-body ">
    <!-- Main content -->
    <form id="savestage1form" enctype="multipart/form-data">
        <!-- Start About boxes -->
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <legend>Form</legend>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">Form <span class="required" aria-required="true">*</span></label>
                        <select name="drpform" class="form-control" id="drpform" required></select>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">Due Date<span class="required" aria-required="true">*</span></label>
                        <div class="col-xs-8">
                            <input class="form-control" name="duedt" type="datetime-local" placeholder="Date/Time" id="duedt" required />
                        </div>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">Action <span class="required" aria-required="true">*</span></label>
                        <select name="drpAction" class="form-control" id="drpAction" required>
                            <option value="1">Submit</option>
                            <option value="2">Edit</option>
                        </select>
                    </div>
                    <div class="form-group form-horizontal">
                        <label class="control-label col-xs-3">User <span class="required" aria-required="true">*</span></label>
                        <input class="form-control" name="User" type="text" placeholder="User" id="User" required />
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions hidden-print">
                    <div class="btn-group">
                        <div class="modal-footer">
                            <input type="submit" id="savenote" class="btn save" value="save">
                            <button type="button" id="closemodel" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </form>
</div>
