@{
    ViewBag.Title = "WorkFlowAttach";
    Layout = "~/Views/Shared/_FirmLayout.cshtml";
}
<script src="~/Scripts/Common/Messages.js"></script>
<script src="~/Scripts/Plugin/fabric.js"></script>
<script>
    var configurationtype = parseInt('@ViewBag.ConfType',10);
    var wfId = '@ViewBag.WorkFlowId';
    var attachId = '@ViewBag.AttachId';
</script>
<script src="~/Scripts/Firm/Pages/AttachWorkFlow.js"></script>
<div class="pagebackground">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3 class="page-title">
                <i class="pp-icon-user"></i> Attach WorkFlow
                <a href="#" type="attach" style="font-size: 21px;margin-left:5%;" data-toggle="modal" data-target="#attachfield">Attach With</a>
                <input class="textinput borderless" id="txtWFName" pattern="^[a-zA-Z]{1}[a-z0-9A-Z\.]{2,10}$" name="" placeholder="WorkFlow Name" type="text" value="WorkFlow Name" maxlength="30" style="text-transform: capitalize;float:right;" required>
            </h3>
            <span id="spnLinks"></span>
        </div>
    </div>
    <div class="form-section">
        <div class="drawbar" style="overflow:auto;width:100% !important;">
            <canvas id="canvas" style="overflow:auto;"></canvas>
        </div>
        <div class="form-section" id="divActions">
            <nav class="navbar" style="background: #ffffff; padding-left:40%;justify-content: normal;">
                <button id="btnSave" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button>
                <button id="btnPublish" class="btn btn-success" style="margin:0 1%;"><i class="fa fa-floppy-o" aria-hidden="true"></i> Publish </button>
                <button id="btnCancel" class="btn btn-danger" style="margin:0 1%;"><i class="fa fa-times" aria-hidden="true"></i> Cancel </button>
            </nav>
        </div>
    </div>
</div>
<div class="modal" id="attachfield" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Attach With</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="divconfigurationTypes" class="form-control" style="padding:25px 0px;min-height:1px;">
                    <div class="btn-group col-md-12" role="group" aria-label="Second group" style="margin-left:25%;" data-val="true">
                        <input type="radio" name="ConfigurationType" class="radioinput" value="2">Case
                        <input type="radio" name="ConfigurationType" class="radioinput" value="3">Task
                        <input type="radio" name="ConfigurationType" class="radioinput" value="4">Event
                    </div>
                </div>
                <div id="divConfList" class="form-control" style="padding:25px 0px;min-height:1px;">
                    <div class="table-responsive" id="divList">
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSelect">Select</button>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="customform" data-backdrop="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="spnTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" id="btnClose">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="row col-md-12 parallel" id="divassign">
                        <label for="ddlAssign" class="col-md-2">Custom Field type<i class="fa fa-star" aria-hidden="true"></i></label>
                    </div>
                    <div class="row col-md-12 parallel">
                        <div class="col-md-5 parallel">
                            <label for="sDate" class="col-md-4">Start Date<i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="date" class="col-md-6 textinput" data-val="true" id="sDate" />
                        </div>
                        <div class="col-md-5 parallel">
                            <label for="sDate" class="col-md-4">End Date<i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="date" class="col-md-6 textinput" data-val="true" id="eDate" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="divFormList" style="overflow:auto;">
                    <table id="grvFormList" class="grvList table table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr class="info">
                                <th></th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnAddField">Save</button>
            </div>
        </div>
    </div>
</div>
